<p class="sprk-u-mbm">
  See below for HTML data attributes.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Attribute</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-main</td>
      <td>This attribute must be applied to the main body content container.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal</td>
      <td>
        This attribute must be applied to the modal container and must have a value that is
        unique across all modals on the page.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal-trigger</td>
      <td>
        This attribute should be placed on the element that triggers the modal to open. The value
        of this attribute must match the value of <code>data-sprk-modal</code>. Focus will be
        returned to this element when the modal closes.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal-cancel</td>
      <td>
        This attribute should be placed on the Cancel button, the Close icon, and any other
        element that should cause the modal to close. The value of this attribute must match
        the value of <code>data-sprk-modal</code>.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal-mask</td>
      <td>
        This attribute should be placed on the mask overlay element and should be set to
        <code>true</code>.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal-trigger-prevent-default</td>
      <td>
        If set to <code>true</code>, the default click event behavior will be prevented for the
        element decorated with <code>data-sprk-modal-trigger</code>.
      </td>
    </tr>
  </tbody>
</table>
