---
title: Accessibility
---

<h1>Accessibility Guidelines</h1>

<h2>Four Principles of Accessibility</h2>
<dl>
  <dt><strong>Perceivable</strong></dt>
  <dd class="drizzle-u-padBottom">Information and user interface components must be presentable to users in ways they can perceive (e.g. alt tags that say what the item actually does, like ‘Submit form Button’).</dd>
  <dt><strong>Operable</strong></dt>
  <dd class="drizzle-u-padBottom">User interface components and navigation must be operable (e.g., you must be able to navigate the site using a keyboard as well as a mouse).</dd>
  <dt><strong>Understandable</strong></dt>
  <dd class="drizzle-u-padBottom">Information and the operation of user interface must be understandable, (e.g. error messaging on a form should make sense; instead of ‘Invalid field’ messaging, use ‘The Email field must be in a valid format’).</dd>
  <dt><strong>Robust</strong></dt>
  <dd class="drizzle-u-padBottom">Content must be robust enough so it can be interpreted reliably by a wide variety of user agents, including assistive technologies. In other words, don’t use tags or code that only certain browsers understand.</dd>
</dl>

<h2>Guidelines Checklist</h2>
<dl>
  <dt><strong>Text Alternatives</strong></dt>
  <dd class="drizzle-u-padBottom">Provide alternatives for non-text content (e.g., images) so that it can be accessed by impaired individuals.</dd>
  <dt><strong>Time-Based Media</strong></dt>
  <dd class="drizzle-u-padBottom">Provide an alternative (e.g., transcript) for time-based media (e.g., audio/video) that presents equivalent information, or link to textual information with comparable information for non-prerecorded media).</dd>
  <dt><strong>Adaptable</strong></dt>
  <dd class="drizzle-u-padBottom">Create content that can be presented in different ways without losing information or structure.</dd>
  <dt><strong>Distinguishable</strong></dt>
  <dd class="drizzle-u-padBottom">Make it easy for users to see and hear content, including separating foreground and background, by using readable fonts, larger font sizes, and highlighted link styling for example.</dd>
  <dt><strong>Keyboard Accessible</strong></dt>
  <dd class="drizzle-u-padBottom">Make all functionality available from a keyboard.</dd>
  <dt><strong>Timing</strong></dt>
  <dd class="drizzle-u-padBottom">Provide enough time for users to read and use content.</dd>
  <dt><strong>Seizures</strong></dt>
  <dd class="drizzle-u-padBottom">Do not include design elements that are known to cause seizures (e.g., rapid flashing).</dd>
  <dt><strong>Navigable</strong></dt>
  <dd class="drizzle-u-padBottom">Provide multiple ways to allow users to navigate content including obvious/prominent links and other techniques.</dd>
  <dt><strong>Readable</strong></dt>
  <dd class="drizzle-u-padBottom">Make text content readable and understandable via styling and other techniques.</dd>
  <dt><strong>Predictable</strong></dt>
  <dd class="drizzle-u-padBottom">Make web pages appear and operate in predictable ways.</dd>
  <dt><strong>Input Assistance</strong></dt>
  <dd class="drizzle-u-padBottom">Assist users with web experience, correct mistakes and describe errors in text.</dd>
  <dt><strong>Compatible</strong></dt>
  <dd class="drizzle-u-padBottom">Maximize compatibility with current and future user agents, including assistive technologies.</dd>
</dl>

<h2>Resources</h2>
<ul>
  <li><a href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines 2.0 (WCAG 2.0)</a></li>
  <li><a href="https://www.section508.gov/">Section 508 Standards</a></li>
  <li><a href="https://www.usability.gov/">Usability Standards</a></li>
</ul>
