---
title: Accessibility Guidelines
---

<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Accessibility Guidelines</h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Four Principles of Accessibility</h2>
    <ul class="drizzle-b-List">
      <li class="sprk-u-mvm"><p class="drizzle-b-Label">Perceivable</p>
        <p>Information and user interface components must be presentable to users in ways they can perceive (e.g. alt
          tags that say what the item actually does, like ‘Submit form Button’).</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Operable</p>
        <p>User interface components and navigation must be operable (e.g., you must be able to navigate the site
          using a keyboard as well as a mouse).</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Understandable</p>
        <p>Information and the operation of user interface must be understandable, (e.g. error messaging on a form
          should make sense; instead of ‘Invalid field’ messaging, use ‘The Email field must be in a valid format’).</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Robust</p>
        <p>Content must be robust enough so it can be interpreted reliably by a wide variety of user agents, including
          assistive technologies. In other words, don’t use tags or code that only certain browsers understand.</p>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Guidelines Checklist</h2>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Text Alternatives</p>
        <p>Provide alternatives for non-text content (e.g., images) so that the content is accessible for all users.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Time-Based Media</p>
        <p>Provide an alternative (e.g., transcript) for time-based media (e.g., audio/video) that presents equivalent
          information, or link to textual information with comparable information for non-prerecorded media).</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Adaptable</p>
        <p>Create content that can be presented in different ways without losing information or structure.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Distinguishable</p>
        <p>Make it easy for users to see and hear content, including separating foreground and background, by using
          readable fonts, larger font sizes, and highlighted link styling for example.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Keyboard Accessible</p>
        <p>Make all functionality available from a keyboard.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Timing</p>
        <p>Provide enough time for users to read and use content.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Seizures</p>
        <dd class="drizzle-u-padBottom">Do not include design elements that are known to cause seizures
          (e.g., rapid flashing).</dd>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Navigable</p>
        <p>Provide multiple ways to allow users to navigate content including obvious/prominent links and
          other techniques.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Readable</p>
        <p>Make text content readable and understandable via styling and other techniques.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Predictable</p>
        <p>Make web pages appear and operate in predictable ways.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Input Assistance</p>
        <p>Assist users with web experience, correct mistakes and describe errors in text.</p>
      </li>
      <li class="sprk-u-mvm">
        <p class="drizzle-b-Label">Compatible</p>
        <p>Maximize compatibility with current and future user agents, including assistive technologies.</p>
      </li>
    </ul>
  </div>
  
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Accessibility Guidelines
    </h2>
    
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li>
        For Web accessibility, adhere to 
        <a href="https://www.w3.org/TR/WCAG20/" class="drizzle-b-Link">
          WCAG 2.0 (Level AA) standards
        </a>.
      </li>
      
      <li>
         For Mobile accessibility, adhere to
         <a href="https://www.w3.org/TR/mobile-accessibility-mapping/" class="drizzle-b-Link">
           W3C/WAI Mobile Accessibility Guidelines
         </a>.
        </a>
      </li>
      
      <li>
         For Multimedia accessibility, adhere to
         <a href="https://www.w3.org/2008/06/video-notes" class="drizzle-b-Link">
            Multimedia Accessibility W3C Policy
         </a>.
        </a>
      </li>
      
      <li>
         For Authoring Tools Accessibility (such as Software, Content Management 
         Systems (CMS), Courseware Tools, Content Aggregators), 
         follow 
         <a href="https://www.w3.org/WAI/standards-guidelines/atag/" class="drizzle-b-Link">
          ATAG Guidelines.
         </a>.
        </a>
      </li>
      
      <li>
        For browsers, media players, and other “User Agent” Accessibility, 
        follow 
        <a href="https://www.w3.org/WAI/standards-guidelines/uaag/" class="drizzle-b-Link">UAAG Guidelines</a>.
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Resources</h2>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><a href="https://www.w3.org/TR/WCAG20/" class="drizzle-b-Link">Web Content Accessibility Guidelines 2.0
      (WCAG 2.0)</a></li>
    <li><a href="https://www.section508.gov/" class="drizzle-b-Link">Section 508 Standards</a></li>
    <li><a href="https://www.usability.gov/" class="drizzle-b-Link">Usability Standards</a></li>
    </ul>
  </div>
</div>
