---
title: Browser Support
---
<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Browser Support</h1>
</div>
  <div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Browser Support</h2>
    <p>Spark supports the following browsers (current version and 1 prior):</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Google Chrome</li>
      <li>Google Chrome (Mobile)</li>
      <li>Mozilla Firefox</li>
      <li>Mozilla Firefox (Mobile)</li>
      <li>Microsoft Edge</li>
      <li>Apple Safari</li>
      <li>Apple Safari (Mobile)</li>
    </ul>
    <p>Spark also supports the following:</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Microsoft Internet Explorer 11</li>
    </ul>
  </div>
</div>