---
title: Change Workflow
---
<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Change Workflow</h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-Lede">This is the process the Spark Design System uses
      to research, design, build, and document Spark components.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">

    <div class="drizzle-o-ContentGrouping">
      <h2 class="drizzle-b-h2">Change categories</h2>
      <p>Every change to Spark will have tasks that fall into at least one of
        these categrories. Often a change will have tasks in many or all of
        them. The four categories are: <b>Research</b>, <b>Design</b>,
        <b>Build</b>, and <b>Document</b>.</p>
        <p>We use GitHub issue titles to indicate which category an issue relates
          to. The format of issue titles looks like this:</p>
        <p>[DESIGN] Create mockups for kitten component</p>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">1. Research</h3>
      <p>Research tasks can take many forms. They can be anything from user
        testing to diving in to a new technology. Research tasks should have an
        outcome that can be shared so that decisions can be made or additional
        taks can be created. If you are doing any kind of research, this
        category is for you.</p>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Research issue titles must begin with [Research]</li>
        <li>The results of your research should be shared with the core Spark
          team.</li>
        <li>A Research task is complete when a decision has been made by the
          core team about the next steps.</li>
        <li>If a Design, Build, or Document task is required, that issue should
          be created at this point.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">2. Design</h3>
      <p>Design tasks apply to visual or interaction changes. These tasks
        include things like creating wireframes for a new component, sketching
        out a change to an interaction, or designing a new icon.</p>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Design issue titles must begin with [Design]</li>
        <li>Designs can be created in whatever software is appropriate, like
          Sketch, Illustrator, or Invision.</li>
        <li>Design tasks must follow the
          <a class="drizzle-b-Link" href="/docs/contributions">Contribution
            Guide</a>.</li>
        <li>Brand new design ideas should be shared with the broader design
          community for critique and to validate its usefulness across
          products.</li>
        <li>Design work must be approved by Spark's design lead and should be
          reviewed by an engineer on the core team if the task will require
          engineering work.</li>
        <li>Finished Design tasks need to be added to the
          <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-toolkit">
          design toolkit</a>. these changes should follow the Build task process
          outlined below.</li>
        <li>If a Build or Document task is required and doesn't already exist,
          it should be created at this point.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">3. Build</h3>
      <p>Build tasks apply to any changes made in code. These can be changes to
        components, to the Spark Docs site, or to any tooling that is part of
        the system.</p>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Build issue titles must begin with [Build]</li>
        <li>Code changes must follow the guidelines in <a class="drizzle-b-Link"
          href="/gettingstarted/developers">Getting Started - Developers</a> for
          code style.</li>
        <li>Build tasks must follow the <a class="drizzle-b-Link"
          href="/docs/contributions">Contribution Guide</a>.</li>
        <li>Code changes must be approved by a member of Spark's core team and
          should be reviewed by Spark's design lead when design or interaction
          are affected.</li>
        <li>If a Document task is required and doesn't already exist, it should
          be created at this point.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h4 class="drizzle-b-h4">Process</h4>
      <p>Follow this process for making code changes.</p>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Fork the project on <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system">
          GitHub</a>.</li>
        <li>Create a new feature branch in your fork off of the "staging"
          branch. Give the branch a descriptive name.</li>
        <li>Once you have made your first commit, open a PR against the
          "staging" branch of the main Spark repo and add the
          "status: DO NOT MERGE" label. You should also describe the changes you
          are making in the description field of the PR.</li>
        <li>Remember to commit regularly and push those commits to your fork so
          that the PR is always up to date. This allows others to begin
          reviewing and commenting on the changes you are making.</li>
        <li>If you are making changes to JS code, you must include unit tests.
          Spark strives for 100% test coverage. Commits to your PR will
          automatically trigger unit test coverage checks. To check during
          development, run:
          <div class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">npm run coverage</code>
          </div>
        in the spark-core or spark-extra directories.</li>
        <li>In addition to the code for the feature and unit tests, each
          component has a test page available at "/tests/[component-name]". For
          example: <a class="drizzle-b-Link"
          href="https://sparkdesignsystem.com/tests/tables">
          sparkdesignsystem.com/tests/tables</a>. You will need to create this
          page for any new components or update the existing page if you are
          adding new versions of a component. If you need help with this, reach
          out to the <a class="drizzle-b-Link"
          href="mailto:sparkdesignsystem@quickenloans.com">Spark Team</a>.</li>
        <li>The Spark core team is untimately responsible for the quality of any
          code changes, but all contributors are expected to test their changes
          thoroughly. This includes browser testing, unit testing, and testing
          the different states that the change might affect (e.g. error, empty,
          etc.)</li>
        <li>When you are ready for your PR to be merged, remove the
          "status: DO NOT MERGE" label, add the "status: PR review" label, and
          notify the <a class="drizzle-b-Link"
          href="mailto:sparkdesignsystem@quickenloans.com">Spark Team</a>.</li>
        <li>In order to merge a PR into "staging", at least one memeber of the
          Spark core team must approve the changes in GitHub.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">4. Document</h3>
      <p>Document tasks apply to any content that communicates what Spark
        provides or how it works. This includes images, code examples, copy, and
        any other content that helps users understand how Spark works. When
        Document tasks are the result of Research, Design, or Build tasks, the
        work is typically done by the designer or engineer who performed the
        other tasks.</p>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Document issue titles must begin with [Document]</li>
        <li>Documentation should be completed on the appropriate page within the
          Spark Docs site. This could be on a component page, in the
          "Getting Started" section, or in the "Documentation" section.</li>
        <li>Build tasks must follow the <a class="drizzle-b-Link"
          href="/docs/contributions">Contribution Guide</a>.</li>
        <li>When you finish adding your documentation, you will follow the same
          process. As the Build task in order to open a PR and get the
          documentation reviewed.</li>
        <li>If you are a designer or other contributor who is uncomfortable with
          GitHub or making changes within code, please reach out to the
          <a class="drizzle-b-Link"
          href="mailto:sparkdesignsystem@quickenloans.com">Spark Team</a> so you
          can be paired with an engineer. In these cases, you can write your
          documentation in One Note, Google Drive, or in another word processor
          and work with an engineer to add the changes.</li>
        <li>Documentation changes must be reviewed by a member of the Spark core
          team.</li>
      </ul>
    </div>

  </div>

  <div class="drizzle-o-ContentGrouping">

    <div class="drizzle-o-ContentGrouping">
      <h2 class="drizzle-b-h2">Issue labels</h2>
      <p>Spark has a number of <a class="drizzle-b-Link"
        href="https://github.com/sparkdesignsystem/spark-design-system/labels">
        issue labels</a> available on GitHub. These should be applied to every
        issue for easier prioritization and filtering. The labels are divided
        into 4 categories: <b>scope</b>, <b>type</b>, <b>status</b>, and
        <b>js</b>.</p>
      <p>At a minimum, every issue should include a <b>scope</b> and <b>type</b>
        label. Each label has a description next to it for when it should be
        used.</p>
    </div>

  </div>
</div>
