---
title: Change Workflow
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Change Workflow</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-Lede">This is the process the Spark Design System uses to research, design, build, and document Spark components.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Change categories</h2>
    <p>Every change to Spark will have tasks that fall into at least one of these categrories. Often a change will have tasks in many or all of them. The 4 categories are: <b>Research</b>, <b>Design</b>, <b>Build</b>, and <b>Document</b>.</p>
    <h3 class="drizzle-b-h4">Issue titles</h3>
    <p>We use Github issue titles to indicate which category an issue relates to. The format of issue titles looks like this:</p>
    <p>[DESIGN] Create mockups for kitten component</p>
    <h3 class="drizzle-b-h3">1. Research</h3>
    <p>Research tasks can take many forms. They can be anything from user testing to diving in to a new technology. Research tasks should have an outcome that can be shared so that decisions can be made or additional taks can be created. If you are doing any kind of research, this category is for you.</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li>Research issue titles must begin with [Research]</li>
      <li>The results of your research should be shared with the core Spark team.</li>
      <li>A research task is complete when a decision has been made by the core team about the next steps.</li>
      <li>If a design, build, or document task is required, that issue should be created at this point.</li>
    </ul>
    <h3 class="drizzle-b-h3">2. Design</h3>
    <p>Design tasks apply to visual or interaction changes. These tasks include things like creating wireframes for a new component, sketching out a change to an interaction, or designing a new icon.</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li>Design issue titles must begin with [Design]</li>
      <li>Designs can be created in whatever software is appropriate, like Sketch, Illustrator, or Invision.</li>
      <li>Brand new design ideas should be shared with the broader design community for critique and to validate its usefulness across products.</li>
      <li>Design work must be approved by Spark's design lead and should be reviewed by an engineer on the core team if the task will require engineering work.</li>
      <li>If a build or document task is required and doesn't already exist, it should be created at this point.</li>
    </ul>
    <h3 class="drizzle-b-h3">3. Build</h3>
    <p>Build tasks apply to any changes made in code. These can be changes to components, to the Spark Docs site, or to any tooling that is part of the system.</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li>Build issue titles must begin with [Build]</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h3 class="drizzle-b-h3">4. Document</h3>
    <p></p>
  </div>
</div>
