---
title: Change Workflow
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Change Workflow</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-Lede">This is the process the Spark team uses to move from an idea to a completed feature.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Where to Start</h2>
    <p>All changes to Spark should start with an <a href="https://github.com/sparkdesignsystem/spark-design-system/issues/">issue in Github</a>. If you are reporting a bug or proposing a <a href="/docs/contributions#substantial-changes">substantial change</a>, please use the corresponding issue template.</p>
  </div>
</div>
