---
title: Change Workflow
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Change Workflow</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-Lede">This is the process the Spark Design System uses to design, build, and document Spark components.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Change types</h2>
    <p>Every change that's made to Spark should fall into one of these 4 types: <b>Discover</b>, <b>Design</b>, <b>Build</b>, <b>Document</b>.</p>
    <h3 class="drizzle-b-h3">1. Discover</h3>

    <h3 class="drizzle-b-h3">2. Design</h3>
    <h3 class="drizzle-b-h3">3. Build</h3>
    <h3 class="drizzle-b-h3">4. Document</h3>


    <!-- <h2 class="drizzle-b-h2">Start with an issue</h2>
    <p>All changes to Spark should start with an <a href="https://github.com/sparkdesignsystem/spark-design-system/issues/">issue in Github</a>. If you are reporting a bug or proposing a <a href="/docs/contributions#substantial-changes">substantial change</a>, please use the corresponding issue template.</p>
    <p>Separate issues should be created for each piece of work
    <h3 class="drizzle-b-h3">Issue titles</h3>
    <p><b>Contributors:</b> Please use a brief, but descriptive title so that the core team can easily triage the issue. Once an issue has been confirmed by a core team member the issue will be edited and additional issues will be created so that it can be properly prioritized.</p>
    <p><b>Core team:</b> Issues should </p>
    <h3 class="drizzle-b-h3">Labels</h3>
    <p>Every issue should have at least 1 label from each category applied. Contributors outside of the core team may add labels to issues, but the Spark team is responsible for making sure every issue is labeled properly.</p>
    <p>The labels are divided into 2 categories: <b>scope</b> and <b>type</b>. Scope indicates which packages are affected. Type indicates what kind of issue it is. Each label has a description associated with it to help you choose correctly.</p> -->

  </div>
</div>
