---
title: Contributions
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Contributing to Spark</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-Lede">Are you interested in helping to improve the Spark Design System? We welcome contributions from both designers and engineers.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Expectations</h2>
    <p>All contributions to Spark Design System are expected to follow our <a href="/docs/change-workflow">change workflow</a> process.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Type of change</h2>
    <p>Contributions are divided into 2 types: <b>minor changes</b> and <b>substantial changes</b>.</p>
    <h3 class="drizzle-b-h3">Minor Changes</h3>
    <p>Minor changes include, but are not limited to:</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li>Bug fixes</li>
      <li>Performance improvements</li>
      <li>Accessibility improvements</li>
      <li>Unit tests</li>
      <li>Spelling and grammar fixes</li>
    </ul>
    <p>Minor changes should begin with an <a href="https://github.com/sparkdesignsystem/spark-design-system/issue">issue on Github</a> if you are unable to make the change yourself or are unsure if the change you want to make is needed. If you make the changes yourself, you can <a href="https://github.com/sparkdesignsystem/spark-design-system/pulls">open a pull request</a> for review.</p>
    <p>If a minor change turns out to be substantial, the Spark team may ask you to go through the contribution workflow for substantial changes instead.</p>

    <h3 class="drizzle-b-h3">Substantial Changes</h3>
    <p>Substantial changes generally fall into 2 categories: New components and amendments to an existing component that change its design or behavior. This type of change requires you to complete our contribution workflow to determine if a new component or change to an existing component aligns with the direction Spark is going.</p>

    <h4 class="drizzle-b-h4">Contribution Workflow</h4>
    <p>Coming soon.</p>

    <p>Once you have determined that a new component or change is necessary, please <a href="https://github.com/sparkdesignsystem/spark-design-system/issue">open an issue</a> using the "Contribution Proposal" issue template in Github to start the review process.</p>
    <p>The Spark team will review your proposal and determine if it's a good fit. If it is, we will either add it to our backlog, or work with you on contributing the changes yourself.</p>
  </div>
</div>
