---
title: Release Notes
---

<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Version 1.0 Summer Release!</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p>
      The first official version of Spark Design System includes two Spark packages. The Spark-Core package includes
      components that are the basic building blocks of an application. Spark-Extras are
      components that may not be needed by all applications, but are consistent with the style of Spark-Core
    </p>

    <p class="sprk-u-mbs">
      The following components are available in Spark-Core:
    </p>

    <div class="drizzle-u-Columned sprk-u-mbm">
      <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
        <li>Accordions</li>
        <li>Alerts</li>
        <li>Buttons</li>
        <li>Dividers</li>
        <li>Footer</li>
        <li>Icons</li>
        <li>Inputs</li>
        <li>Links</li>
        <li>Lists</li>
        <li>Masthead</li>
        <li>Modals</li>
        <li>Navigation</li>
        <li>Pagination</li>
        <li>Promo</li>
        <li>Tables</li>
        <li>Tabbed Navigation</li>
        <li>Toggle</li>
      </ul>
    </div>

    <p class="sprk-u-mbs">
      The following components are available in Spark-Extras:
    </p>

    <div class="drizzle-u-Columned">
      <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
        <li>Card</li>
        <li>Dictionary</li>
        <li>Highlight Board</li>
      </ul>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Updates From Beta to v1
    </h2>

    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">
        Updated the typography sizes and line heights.
      </li>

      <li class="sprk-u-mvm">
        Reduced the heading type sizes to six and removed '.sprk-b-TypeDisplaySeven'.
      </li>

      <li class="sprk-u-mvm">
        Updated Spark-Core, Spark-Extras and Spark Site unit test coverage to 100%.
      </li>

      <li class="sprk-u-mvm">
        Updated the heading colors of the category titles
        in the side navigation of the Spark Site.
      </li>

      <li class="sprk-u-mvm">
        Added more useful explainer content for components.
      </li>

      <li class="sprk-u-mvm">
        Fixed an issue in the Navigation component where long
        navigation items were breaking out of their container instead of wrapping.
      </li>

      <li class="sprk-u-mvm">
        Added two example pages to the Spark test pages.
      </li>

      <li class="sprk-u-mvm">
        Removed some npm packages from components that were not needed.
      </li>

      <li class="sprk-u-mvm">
        Accessibility updates to add screen reader text to the hamburger icon.
      </li>

      <li class="sprk-u-mvm">
        Added a JS timer to close the Wait Modal component for
        the Spark Site documentation so users don't have to refresh the page.
      </li>

      <li class="sprk-u-mvm">
        Added CODEOWNERS file to specify the Spark team as owners.
      </li>

      <li class="sprk-u-mvm">
        Added contribution and bug report GitHub issue templates.
      </li>

      <li class="sprk-u-mvm">
        Fixed an error in the '.sprk-is-Disabled' class name for
        Buttons where it was incorrectly named as '.is-Disabled'.
      </li>

      <li class="sprk-u-mvm">
        Added a section to the Spark Site for z-indexes called Layers.
      </li>
    </ul>
  </div>
</div>
