---
title: Spark Releases
---

<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Spark Releases</h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <ul>
      <li>
        <h2 class="drizzle-b-h2">
          <a href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v2.1.0">
            Fall 2018 - The Angular Release
          </a>
        </h2>
      </li>
      <li>
        <h2 class="drizzle-b-h2">
          <a href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v1.0.0">
            Spark Design System v1
          </a>
        </h2>
      </li>
    </ul>
  </div>
</div>