---
title: Spark Releases
---

<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">
    Spark Releases
  </h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      The latest changes to the Spark Design System
    </h2>
    <p>
      Spark releases on a roughly quarterly schedule.
      Bug fixes and other changes are released as necessary.
    </p>
  </div>
  <div class="drizzle-o-ContentGrouping">
    <ul class="drizzle-b-List drizzle-b-List--spacing-m">
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/april-5-2019">
          April 5, 2019
        </a>
        <p>
          This patch release fixes an issue with client applications security monitoring reporting
          errors with a Spark dependency. Take note that we patched v10 and v9 or spark-core.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/march-21-2019">
          March 21, 2019
        </a>
        <p>
          This is a patch release to fix link behavior, especially within the Masthead component.
          This release only affects the Angular implementation of Spark.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/january-11-2019">
          January 11, 2019
        </a>
        <p>
          This release has a breaking change that updates the design and structure of Masthead.
          Adds a mask for the Masthead narrow selector dropdown when it's open.
          Updates the Pagination link styles. Flattens out the Spark Extras.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/january-4-2019">
          January 4, 2019
        </a>
        <p>
          This release added new styles for Masthead,
          Footer, Links, Alerts, and Accordions. This
          release also added a namespace to all Spark variables.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/december-21-2018">
          December 21, 2018
        </a>
        <p>
          This release updated Buttons, Typography,
          Cards and added new misc Spacing sizes.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/december-19-2018">
          December 19, 2018
        </a>
        <p>
          This release added the component variable and class
          modifier tables to Spark Documentation and added
          Spark polyfills JS.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/december-4-2018">
          December 4, 2018
        </a>
        <p>
          This release fixed a couple of minor bugs, added an
          exports file, the new Dropdown component, and the revised
          Masthead component.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/november-19-2018">
          November 19, 2018
        </a>
        <p>
          This release fixed several bugs, added the option to open
          links in a new tab in Angular, added color utilities, and
          several other improvements.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/november-12-2018">
          November 12, 2018
        </a>
        <p>
          This release includes a complete
          overhaul of the Footer component
          and a few other small changes.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/november-8-2018">
          November 8, 2018
        </a>
        <p>
          This releases added automation IDs to all
          components for testing purposes, fixes a z-index
          bug in the Date Picker Input, changes the responsibility
          of importing 3rd party Angular libraries to the app level,
          and a few other improvements.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/november-2-2018">
          November 2, 2018
        </a>
        <p>
          This was a huge release that redesigned every component in Spark.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link" href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/fall2018">
          Fall 2018 Snapshot
        </a>
        <p>
          This release is a snapshot of the state of
          the Spark Design System Documentation before
          the next quarterly release.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link" href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v2.1.0">
          Fall 2018 - The Angular Release
        </a>
        <p>
          This release added Angular implementations
          of all Spark components and several other
          improvements and bug fixes.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link" href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v2.0.1">
          2.0.1
        </a>
        <p>
          This release removes direct element styling on
          labels and a few other small improvements.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link" href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v2.0.0">
          2.0.0
        </a>
        <p>
          This release renames the Table component
          classes to use the "b" class prefix instead
          of "c" and fixes several bugs.
        </p>
      </li>
      <li>
        <a class="drizzle-b-Link" href="https://github.com/sparkdesignsystem/spark-design-system/releases/tag/v1.0.0">
          Spark Design System v1
        </a>
        <p>
          The first official release of the Spark Design System!
        </p>
      </li>
    </ul>
  </div>
</div>