---
title: Release Notes
---

<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Version 1.0 Summer Release!</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Updates From v1.0.0-beta.1
    </h2>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">
        Updated Spark-Core, Spark-Extras and Spark Site unit test coverage to 100%.
      </li>

      <li class="sprk-u-mvm">
        Updated the heading colors of the categories in the side navigation of the Spark Site.
      </li>

      <li class="sprk-u-mvm">
        Added more useful explainer conent for Inputs and the components.
      </li>

      <li class="sprk-u-mvm">
        Fixed an issue in the Navigation component where long navigation items were breaking out of their container instead of wrapping.
      </li>

      <li class="sprk-u-mvm">
        Added two example pages to the Spark test pages.
      </li>

      <li class="sprk-u-mvm">
        Removed some npm packages from components that were not needed.
      </li>

      <li class="sprk-u-mvm">
        Accessibility updates to add screen reader text to the hamburger icon.
      </li>

      <li class="sprk-u-mvm">
        Added a JS timer to close the Wait Modal component for the Spark Site documentation so users don't have to refresh the page.
      </li>

      <li class="sprk-u-mvm">
        Added CODEOWNERS file.
      </li>

      <li class="sprk-u-mvm">
        Added contribution and bug report GitHub issue templates.
      </li>

      <li class="sprk-u-mvm">
        Fixed an error in the 'sprk-is-Disabled' for buttons where it was incorrectly named as 'is-Disabled'.
      </li>

      <li class="sprk-u-mvm">
        Added a section to the Spark Site for z-indexes.
      </li>
    </ul>
  </div>
</div>
