<header>
  <h1>
    Spark Core Angular
    <img width="75" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </h1>
</header>

  <h2>Components</h2>
  <sprk-button>Hello, World.</sprk-button>
  <sprk-button spinner="true">Hello, World.</sprk-button>
  <sprk-button spinner="true" spinnerSize="large">Hello, World.</sprk-button>
  <sprk-button spinner="true" spinnerSize="large" spinnerLightness="">Hello, World.</sprk-button>
  <sprk-button isSecondary="true">Hello, World.</sprk-button>
  <sprk-button isTertiary="true">Hello, World.</sprk-button>
  <sprk-button isRemoval="true">Hello, World.</sprk-button>
  <sprk-button isDisabled="true">Hello, World.</sprk-button>
  <sprk-button data-analytics="Product: Feature: Action 1">Hello, Analytics.</sprk-button>
