<sprk-icon-set></sprk-icon-set>
<header *ngIf="path!=='/masthead' && path!=='/masthead-extended'">
  <div class="drizzle-o-Layout__header sprk-u-mbn sprk-u-pvl drizzle-c-AngularHeader">
    <h1 class="drizzle-b-h1">Spark Core Angular
      <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </h1>
  </div>

  <nav class="drizzle-c-AngularNav sprk-u-phm">
    <ul class="drizzle-b-List drizzle-b-List--inline drizzle-b-List--spacing-m">
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/">Index</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/buttons">Buttons</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/links">Links</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/alerts">Alerts</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/icons">Icons</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/modals">Modals</a>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/dividers">Dividers</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/dropdowns">Dropdowns</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/lists">Lists</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/accordions">Accordions</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/masthead">Masthead</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/masthead-extended">Masthead Extended</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/inputs">Inputs</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/cards">Cards</a>
      </li>
      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/stack">Stack</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/promo">Promo</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/footer">Footer</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/award">Award</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/toggle">Toggle</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/tables">Tables</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/tabbed-navigation">Tabs</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/dictionary">Dictionary</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/pagination">Pagination</a>
      </li>

      <li>
        <a class="drizzle-b-Link drizzle-b-Link--light" routerLink="/highlight-board">Highlight Board</a>
      </li>
    </ul>
  </nav>
</header>

<div [ngClass]="{
  'drizzle-o-Layout-content': path!=='/masthead' && path!=='/masthead-extended',
  'sprk-u-mal': path!=='/masthead' && path!=='/masthead-extended',
  'sprk-b-TypeBodyTwo': path!=='/masthead' && path!=='/masthead-extended'}">
  <router-outlet></router-outlet>
</div>
