---
description: Base Alert
hidden: true
---

<div
  class="sprk-c-Alert sprk-c-Alert--{{type}}"
  role="alert"
  data-sprk-alert="container">
  <div class="sprk-c-Alert__content">
    <svg class="sprk-c-Alert__icon sprk-c-Icon sprk-c-Icon--l sprk-c-Icon--current-color" viewBox="{{viewBox}}" aria-hidden="true">
      <use xlink:href="#{{icon}}"></use>
    </svg>

    <p class="sprk-b-TypeBodyTwo">
      {{#block "content"}}
      This is an Alert
      {{/block}}
    </p>
  </div>

  <button
    class="sprk-c-Alert__icon sprk-c-Alert__icon--dismiss"
    type="button"
    title="Dismiss"
    data-sprk-alert="dismiss">
    <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Icon--current-color" viewBox="0 0 64 64" aria-hidden="true">
      <use xlink:href="#close-circle"></use>
    </svg>
  </button>
</div>
