---
name: Alert With No Dismiss Button
description:
  Alerts can be used without the dismiss button. Here is a Success Alert that is not able to be dismissed.
order: 4
hasAngularCode: true
---

<div
  class="sprk-c-Alert sprk-c-Alert--no-dismiss sprk-c-Alert--success"
  role="alert"
  data-sprk-alert="container"
  data-id="alert-success-2" 
  data-analytics="object.action.event">
  <div class="sprk-c-Alert__content">
    <svg class="sprk-c-Alert__icon sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 512 512" aria-hidden="true">
      <use xlink:href="#check-mark"></use>
    </svg>

    <p class="sprk-b-TypeBodyTwo">
      This is an Alert
    </p>
  </div>
</div>
