<p class="sprk-u-mbm">
  See below for available customization options:
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Directive</th>
      <th>Description</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <p>
          sprkFormatterMonetary
        </p>
      </td>

      <td>
        <p>
          Formatter
        </p>
      </td>

      <td>
        Takes value in the field
        and formats it on blur to add commas
        and a decimal point.
      </td>
    </tr>
  </tbody>
</table>
