<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Directive</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <p>
          sprkFormatterSsn
        </p>
      </td>

      <td>
        Takes a valid value in the field
        and formats it to add hyphens.
      </td>
    </tr>
  </tbody>
</table>
