---
name: Indented
previewClass: drizzle-u-rhythm
description:
  Use indented lists whenever lists are within a block of text.
order: 2
hasAngularCode: true
hasReactCode: true
---

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Sed gravida urna quis nulla ultrices, sed efficitur
  risus elementum.
</p>
<ul class="sprk-b-List sprk-b-List--indented" data-id="unordered-list-2">
  <li data-id="list-item-7">Indented Item</li>
  <li data-id="list-item-8">Indented Item</li>
  <li data-id="list-item-9">Indented Item</li>
</ul>
<p>
  Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Sed gravida urna quis
  nulla ultrices, sed efficitur risus elementum.
</p>
