---
name: Lists
previewClass: drizzle-u-rhythm
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
hasReactCode: true
hasReactCodeInfo: true
---

<ul class="sprk-b-List" data-id="unordered-list-1">
  <li data-id="list-item-1">Bare List Item</li>
  <li data-id="list-item-2">Bare List Item</li>
  <li data-id="list-item-3">Bare List Item</li>
</ul>

<ol class="sprk-b-List" data-id="ordered-list-1">
  <li data-id="list-item-4">Ordered List Item</li>
  <li data-id="list-item-5">Ordered List Item</li>
  <li data-id="list-item-6">Ordered List Item</li>
</ol>
