<div class="sprk-u-mbm">
  <p>
    The Highlight Board component
    in spark-angular consists
    of two Angular components and one directive:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>
      <strong>sprk-highlight-board</strong>
    </li>

    <li>
      <strong>sprk-stack</strong>
    </li>

    <li>
      <strong>sprkStackItem</strong>
    </li>
  </ul>
</div>
