---
name: Primary Button
notes: Primary buttons should only have a single action for
      the user to take and in most cases there should only be one on any given page.
order: 1
labels:
  - inprogress
---

<button class="sprk-c-Button{{#if class}} {{class}}{{/if}}{{#if disabled}} is-Disabled{{/if}}" {{#if button}} type="button"{{/if}} {{#if disabled}} disabled{{/if}}>
  Button Button
</button>

<a href="" class="sprk-c-Button{{#if class}} {{class}}{{/if}}{{#if disabled}} is-Disabled{{/if}}">Link Button</a>
