---
notes: This is the base button class.
hidden: true
---

<button class="sprk-c-Button {{class}}{{#if disabled}} is-Disabled{{/if}}">
  Button Button
</button>

<a href="" class="sprk-c-Button {{class}}{{#if disabled}} is-Disabled{{/if}}">Link Button</a>
