---
name: Button with Secondary Action
notes: |
  This is a form button with a secondary cancel action. For example, a cancel link on a form.
order: 6
labels:
  - inprogress
---

<ul class="sprk-c-ButtonSecondaryAction">
  <li class="sprk-c-ButtonSecondaryAction__button"><button class="sprk-c-Button">Confirm</button></li>
  <li class="sprk-c-ButtonSecondaryAction__link"><a href="">Cancel</a></li>
</ul>
