---
name: Submission Spinner
description:
  Use the Spinner component on any Button that is being used to save or submit data.
information:
  - In a time out scenario show an Alert to the user with clear content and instruction.
  - When the Button is clicked the text is replaced by the Spark Spinner.
  - The Button's width needs to stay the same when the text is removed and the Spinner is applied.
order: 6
---

<button class="sprk-c-Button{{class}}{{#if disabled}} sprk-is-Disabled{{/if}}" data-sprk-spinner="click">
  Submit
</button>
