---
name: Submission Spinner
notes: |
  Use the Spark-Core Spinner component on any button that is being used to save or submit data.

info:
  - If a time out happens show an alert to the user with clear content and instruction
  - When the button is clicked the text is replaced by the Spark Spinner
  - The button's width needs to stay the same when the text is removed and the Spinner is applied.
order: 7
labels:
  - inprogress
---

<button class="sprk-c-Button{{class}}{{#if disabled}} is-Disabled{{/if}}">
  <span class="sprk-c-Spinner sprk-c-Spinner--circle"></span>
</button>
