<section
  className="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  <SprkCard
    idString="card-1"
    variant="teaser"
    additionalClasses="sprk-o-Stack__item sprk-o-Stack__item--flex@l"
    teaserConfig={teaserConfig}
  />
  <SprkCard
    idString="card-2"
    variant="teaser"
    additionalClasses="sprk-o-Stack__item sprk-o-Stack__item--flex@l"
    teaserConfig={teaserConfig}
  />
</section>

<script>
  const teaserConfig = {
     bodyText: 'Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua.',
    cta: {
      ctaAnalytics: 'test',
      text: 'Learn More',
      ctaVariant: 'link',
      href: 'https://sparkdesignsystem.com/',
    },
    media: {
      href: 'https://sparkdesignsystem.com/',
      mediaLinkElement: 'a',
      imgAlt: 'placeholder image',
      imgSrc: 'https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg',
      mediaAnalyticsString: 'Card:teaser-link',
      mediaVariant: 'img',
    },
    title: 'Teaser Card Title',
    titleFirst: false,
  };
</script>
