---
name: Grouped Columns
description:
  This table has grouped subheadings.
order: 3
---
<div class="sprk-b-TableContainer">
  <table class="sprk-b-Table sprk-b-Table--grouped-columns sprk-b-Table--spacing-small sprk-b-Table--bordered-columns sprk-b-Table--bordered-columns-inside">
    <thead>
      <tr>
        <th rowspan="2">Column Heading</th>
        <th colspan="3">Column Heading</th>
        <th rowspan="2">Column Heading</th>
      </tr>
      <tr>
        <th class="sprk-b-Table--grouped-column sprk-b-Table__header-cell">SubHeading</th>
        <th class="sprk-b-Table--grouped-column sprk-b-Table__header-cell">SubHeading</th>
        <th class="sprk-b-Table--grouped-column sprk-b-Table__header-cell">SubHeading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
    </tbody>
  </table>
</div>
