---
name: Grouped Columns
notes: |
    When there is a need to group headings together.
order: 2
---
<div class="sprk-c-TableContainer">
  <table class="sprk-c-Table sprk-c-Table__grouped-columns sprk-b-Table--spacing-medium sprk-b-Table--striped-even sprk-b-Table--bordered-columns sprk-b-Table--bordered-columns-inside">
    <thead class="sprk-c-Table__head">
      <tr>
        <th rowspan="2">Column Heading</th>
        <th colspan="3">Column Heading</th>
        <th rowspan="2">Column Heading</th>
      </tr>
      <tr>
        <th class="sprk-c-Table__grouped-column">SubHeading</th>
        <th class="sprk-c-Table__grouped-column">SubHeading</th>
        <th class="sprk-c-Table__grouped-column">SubHeading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
      </tr>
    </tbody>
  </table>
</div>
