---
name: Rate Comparison
description:
  The Rate Comparison table is useful for comparing simple labeled data with CTAs, 
  such as a table of mortgage rates.
order: 5
---
<div class="sprk-b-TableContainer">
  <table class="sprk-b-Table sprk-b-Table--rate-comparison sprk-b-Table--spacing-medium sprk-b-Table--bordered-columns sprk-b-Table--bordered-columns-inside">
    <tbody>
      <tr>
        <th>30-Year Fixed</th>
        <td>3.875%</td>
        <td>4.015% <span class="sprk-b-Table--rate-comparison__subcontent">APR</span></td>
        <td class="sprk-b-Table--rate-comparison__cta"><button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button></td>
      </tr>
      <tr>
        <th>30-Year Fixed VA</th>
        <td>3.875%</td>
        <td>4.015% <span class="sprk-b-Table--rate-comparison__subcontent">APR</span></td>
        <td class="sprk-b-Table--rate-comparison__cta"><button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button></td>
      </tr>
      <tr>
        <th>30-Year Fixed FHA</th>
        <td>3.875%</td>
        <td>4.015% <span class="sprk-b-Table--rate-comparison__subcontent">APR</span></td>
        <td class="sprk-b-Table--rate-comparison__cta"><button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button></td>
      </tr>
    </tbody>
  </table>
</div>
