---
name: Secondary Row Comparison
description:
  The Secondary Row Comparison table is useful for comparing simple labeled data with CTAs,
  such as a table of mortgage rates.
order: 5
---
<div class="sprk-b-TableContainer" data-id="table-5">
  <table class="sprk-b-Table sprk-b-Table--secondary-row-comparison sprk-b-Table--spacing-medium">
    <tbody>
      <tr>
        <th>Row Heading</th>
        <td>Data</td>
        <td>Data</td>
        <td class="sprk-o-Stack sprk-o-Stack--end-column">
          <div class="sprk-o-Stack__item">
            <button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button>
          </div>
        </td>
      </tr>
      <tr>
        <th>Row Heading</th>
        <td>Data</td>
        <td>Data</td>
        <td class="sprk-o-Stack sprk-o-Stack--end-column">
          <div class="sprk-o-Stack__item">
            <button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button>
          </div>
        </td>
      </tr>
      <tr>
        <th>Row Heading</th>
        <td>Data</td>
        <td>Data</td>
        <td class="sprk-o-Stack sprk-o-Stack--end-column">
          <div class="sprk-o-Stack__item">
            <button class="sprk-c-Button sprk-c-Button--secondary" type="button">Learn More</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
