// ==================================================================
// Dictionary
// ==================================================================

//
// Available Variables
///
$dictionary-border: 1px solid $gray-light !default;
$dictionary-stripe-color: $gray-light !default;
$dictionary-breakpoint: 38.4375rem !default;

.sprk-c-Dictionary {
  border: $dictionary-border;
  padding: $space-m;
}

.sprk-c-Dictionary__keyvaluepair {
  width: 100%;
  padding: $space-m / 2;

  @media all and (min-width: $dictionary-breakpoint) {
    display: table;
    display: flex;
    align-items: center;
  }
}

.sprk-c-Dictionary .sprk-b-Label {
  font-size: $font-size-body-four;
  line-height: $font-size-body-four;
  font-weight: bold;
}

// prettier-ignore
.sprk-c-Dictionary--striped .sprk-c-Dictionary__keyvaluepair:nth-child(even) {
  background-color: $dictionary-stripe-color;
}

.sprk-c-Dictionary__key,
.sprk-c-Dictionary__value {
  @media all and (min-width: $dictionary-breakpoint) {
    display: table-cell;
    flex: 1;
    margin-bottom: 0;
  }
}

.sprk-c-Dictionary__value {
  text-align: left;

  @media all and (min-width: $dictionary-breakpoint) {
    text-align: right;
  }
}

.sprk-c-Dictionary__key {
  @media all and (min-width: $dictionary-breakpoint) {
    width: 50%;
  }
}
