// ==================================================================
// Dictionary
// ==================================================================

//
// Available Variables
///
$dictionary-border: 1px solid $gray-medium !default;
$dictionary-stripe-color: $gray-light !default;
$dictionary-breakpoint: 38.4375rem !default;

.sprk-c-Dictionary--striped {
  border: $dictionary-border;
}

.sprk-c-Dictionary__keyvaluepair {
  width: 100%;
  padding: $space-inset-m;

  @media all and (min-width: $dictionary-breakpoint) {
    display: table;
    display: flex;
    align-items: center;
  }
}

// prettier-ignore
.sprk-c-Dictionary--striped .sprk-c-Dictionary__keyvaluepair:nth-child(even) {
  background-color: $dictionary-stripe-color;
}

.sprk-c-Dictionary__key,
.sprk-c-Dictionary__value {
  margin-bottom: $space-s;

  @media all and (min-width: $dictionary-breakpoint) {
    display: table-cell;
    flex: 1;
    margin-bottom: 0;
  }
}

.sprk-c-Dictionary__key {
  @media all and (min-width: $dictionary-breakpoint) {
    width: 50%;
  }
}
