// ==================================================================
// Dictionary
// ==================================================================

//
// Available Variables
///
$spark-dictionary-border: 1px solid $spark-gray !default;
$spark-dictionary-stripe-color: $spark-gray !default;
$spark-dictionary-breakpoint: 38.4375rem !default;

.sprk-c-Dictionary {
  border: $spark-dictionary-border;
}

.sprk-c-Dictionary__keyvaluepair {
  width: 100%;
  padding: $spark-space-l / 2;

  @media all and (min-width: $spark-dictionary-breakpoint) {
    display: table;
    display: flex;
    align-items: center;
  }
}

.sprk-c-Dictionary .sprk-b-Label {
  font-size: $spark-font-size-body-four;
  line-height: $spark-font-size-body-four;
  font-weight: bold;
}

// prettier-ignore
.sprk-c-Dictionary--striped .sprk-c-Dictionary__keyvaluepair:nth-child(even) {
  background-color: $spark-dictionary-stripe-color;
}

.sprk-c-Dictionary__key,
.sprk-c-Dictionary__value {
  @media all and (min-width: $spark-dictionary-breakpoint) {
    flex: 1;
    margin-bottom: 0;
  }
}

.sprk-c-Dictionary__value {
  text-align: left;

  @media all and (min-width: $spark-dictionary-breakpoint) {
    text-align: right;
  }
}

.sprk-c-Dictionary__key {
  margin-bottom: $spark-space-xs;

  @media all and (min-width: $spark-dictionary-breakpoint) {
    margin-bottom: 0;
  }
}
