---
order: 1
notes: This is the base description table class.
---

<div class="c-DescriptionTable">
    <h5 class="c-DescriptionTable__header pam b-Heading">Contact Information</h5>

    <dl class="c-DescriptionTable__keyvaluepairs">
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Email Address</dt>
            <dd class="c-DescriptionTable__value pam">bobwise@quickenloans.com</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Mailing Address</dt>
            <dd class="c-DescriptionTable__value pam">123 Main Street, Detroit, MI, 48216</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Home Phone</dt>
            <dd class="c-DescriptionTable__value pam">(123) 456-7890</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Cell Phone</dt>
            <dd class="c-DescriptionTable__value pam">(098) 765-4321</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Work Phone</dt>
            <dd class="c-DescriptionTable__value pam">(555) 555-5555</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label pam">Work Extension</dt>
            <dd class="c-DescriptionTable__value pam">55555</dd>
        </div>
    </dl>
</div>