---
order: 1
notes: This is the base description table class.
---

<div class="c-DescriptionTable">
    <h5 class="c-DescriptionTable__header pam b-Heading">Contact Information</h5>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Email Address</div>
        <div class="c-DescriptionTable__value">bobwise@quickenloans.com</div>
    </div>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Mailing Address</div>
        <div class="c-DescriptionTable__value">123 Main Street, Detroit, MI, 48216</div>
    </div>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Home Phone</div>
        <div class="c-DescriptionTable__value">(123) 456-7890</div>
    </div>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Cell Phone</div>
        <div class="c-DescriptionTable__value">(098) 765-4321</div>
    </div>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Work Phone</div>
        <div class="c-DescriptionTable__value">(555) 555-5555</div>
    </div>
    <div class="c-DescriptionTable__keyvaluepair pam">
        <div class="c-DescriptionTable__key b-Label">Work Extension</div>
        <div class="c-DescriptionTable__value">55555</div>
    </div>
</div>