---
order: 4

---

<div class="c-DescriptionTable">
    <h5 class="c-DescriptionTable__header pam b-Heading">Contact Information</h5>

    <dl class="c-DescriptionTable__keyvaluepairs">
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Email Address</dt>
            <dd class="c-DescriptionTable__value">bobwise@quickenloans.com</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Mailing Address</dt>
            <dd class="c-DescriptionTable__value">123 Main Street, Detroit, MI, 48216</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Home Phone</dt>
            <dd class="c-DescriptionTable__value">(123) 456-7890</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Cell Phone</dt>
            <dd class="c-DescriptionTable__value">(098) 765-4321</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Work Phone</dt>
            <dd class="c-DescriptionTable__value">(555) 555-5555</dd>
        </div>
        <div class="c-DescriptionTable__keyvaluepair">
            <dt class="c-DescriptionTable__key b-Label">Work Extension</dt>
            <dd class="c-DescriptionTable__value">55555</dd>
        </div>
    </dl>

    <button class="mam btn c-Button--primary">
        Learn More
    </button>

</div>