---
name: Password
notes: |
  This is a password input.
info:
  - Use *'s to mask the value by default.
  - Checking "Show Password" removes the mask and shows the actual password.
labels:
  - inprogress
order: 10
---

<div class="sprk-b-InputContainer">
  <label for="password">Password</label>
  <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
  <div class="sprk-b-SelectionContainer">
    <input id="show-password" type="checkbox" class="js-remove-mask">
    <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
  </div>
</div>
