---
doclayout: true
noHeader: true
---
<div class="drizzle-state-switcher">
  <h4 class="drizzle-state-switcher__heading drizzle-h4">Field State</h4>
    <div class="drizzle-state-switcher__state">
      <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-normal" name="drizzle-form-state" type="radio" value="normal">
      <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-normal">Normal</label>
    </div>
    <div class="drizzle-state-switcher__state">
      <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-error" name="drizzle-form-state" type="radio" value="error">
      <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-error">Error</label>
    </div>
    <div class="drizzle-state-switcher__state">
      <input class="drizzle-state-switcher__state-item" id="drizzle-form-state-disabled" name="drizzle-form-state" type="radio" value="disabled">
      <label class="drizzle-state-switcher__state-item drizzle-h6" for="drizzle-form-state-disabled">Disabled</label>
    </div>
</div>