---
name: Basic Highlite Board
notes: |
  
order: 1
---

<div class="c-HighliteBoard">
  <h1 class="c-HighliteBoard__headline">Headlines should grab attention and be concise. Try not to exceed two lines of text.</h1>
  <h4 class="c-HighliteBoard__subheadline">Subheadlines provide additional context and also should not exceed two lines.</h4>
  <button class="c-HighliteBoard__calltoaction btn c-Button--primary">
    Learn More
  </button>
</div>