---
name: Directional Highlite Board with Image
notes: |
  
order: 4
---

<div class="c-HighliteBoard">
  <img class="c-HighliteBoard__bgimage" src="../../../assets/toolkit/images/cycle.jpg" />
  <div class="c-HighliteBoard__content">
    <h1 class="c-HighliteBoard__headline">Headlines can be up to two lines of text in length</h1>
    <h4 class="c-HighliteBoard__subheadline">Subhead text can also be up to two lines of text, which is great for providing more context.</h4>
    <button class="c-HighliteBoard__calltoaction btn c-Button--primary">
      Refinance Your Mortgage
    </button>
    <button class="c-HighliteBoard__calltoaction_second btn c-Button--primary">
      Purchase a New Home
    </button>
  </div>
</div>