---
name: Jumbo Highlite Board
notes: |
  
order: 5
---

<div class="c-HighliteBoard">
  <img class="c-HighliteBoard__bgimage" src="../../../assets/toolkit/images/cycle.jpg" />
  <div class="c-HighliteBoard__content">
    <h1 class="c-HighliteBoard__headline">Jumbo boards have shorter headlines</h1>
  </div>
</div>  