<ul class='sprk-b-List sprk-b-List--indented'>
  <li>
    <code>data-spark-modal-*</code> attributes are required for Spark Modal behavior. If
    you would like to write your own modal behavior, you can omit these attributes.
  </li>
  <li>
    Each Modal must have a unique identifier that is used for all <code>data-spark-modal-*</code>
    attributes related to that specific Modal. For example, <code>data-sprk-modal="uniqueID"</code>
    and <code>data-sprk-modal-cancel="uniqueID"</code>.
  </li>
  <li>
    The modal container HTML must be added right above the closing body tag and be outside
    of the main site content container.
  </li>
  <li>
    The main content container of your site must have the attribute of <code>'data-sprk-main'</code>.
  </li>
</ul>