// ==================================================================
// Card
// ==================================================================

//
// Available Variables
///
$card-border: 1px solid $gray-light !default;
$card-max-width: 26.5625rem !default;
$card-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !default;

.sprk-c-Card {
  max-width: $card-max-width;
  border: $card-border;
  box-shadow: $card-shadow;
}

.sprk-c-Card__content {
  padding: $space-l;
}

// IE11 flexbox fix - https://github.com/philipwalton/flexbugs#flexbug-17
.sprk-o-Stack__item.sprk-o-Stack__item--equal\@xs.sprk-c-Card {
  @media all and (min-width: $split-breakpoint-xs) {
    flex: 0 1 $card-max-width;
    min-width: 0%;
  }
}

.sprk-o-Stack__item.sprk-o-Stack__item--equal\@s.sprk-c-Card {
  @media all and (min-width: $split-breakpoint-s) {
    flex: 0 1 $card-max-width;
    min-width: 0%;
  }
}

.sprk-o-Stack__item.sprk-o-Stack__item--equal\@m.sprk-c-Card {
  @media all and (min-width: $split-breakpoint-m) {
    flex: 0 1 $card-max-width;
    min-width: 0%;
  }
}

.sprk-o-Stack__item.sprk-o-Stack__item--equal\@l.sprk-c-Card {
  @media all and (min-width: $split-breakpoint-l) {
    flex: 0 1 $card-max-width;
    min-width: 0%;
  }
}

.sprk-o-Stack__item.sprk-o-Stack__item--equal\@xl.sprk-c-Card {
  @media all and (min-width: $split-breakpoint-xl) {
    flex: 0 1 $card-max-width;
    min-width: 0%;
  }
}
