---
name: Circle Spinner
notes: |
  Use this circular spinner with infinite rotating animation to indicate that something is happening or loading.

order: 6
previewClass: drizzle-u-bgGreenMedium drizzle-u-pad drizzle-u-verticalCenter drizzle-u-spaceAround
---

<span class="o-Spinner o-Spinner--circle"></span>

<span class="o-Spinner o-Spinner--circle o-Spinner--large"></span>
