---
name: Circle Spinner
notes: |
  Use this circular spinner with infinite rotating animation to indicate that something is happening or loading.

  NOTE: Drizzle classes are specific to the pattern library and cannot be used in projects.
order: 6
---

<div class="drizzle-u-bgGreenMedium drizzle-u-pad drizzle-u-center">
  <span class="o-Spinner o-Spinner--circle"></span>
</div>
