---
name: Circle Spinner
notes:
  Use this circular spinner with infinite rotating animation to indicate that something is happening or loading.
order: 6
---
<p>
    Example of a circle spinner being used on a submission button.
</p>
{{#embed "patterns.elements.buttons.submission"}}{{/embed}}
