<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Prop</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>String</td>
      <td>
        Can be 'info', 'fail', or 'success'. Will cause the
        appropriate variant type to render.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">isVisible</td>
      <td>Boolean</td>
      <td>
        This determines whether to render the alert. Change the value of this prop to true
        to show the alert or false to hide the alert.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">message</td>
      <td>String</td>
      <td>The paragraph content for the alert message.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">isDismissible</td>
      <td>Boolean</td>
      <td>
        If set to false, the close button will not render.
        If unset, or set to the default of true then the close button will render.
        Dismissing does not persist across
        sessions.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on
        the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-analytics'
        attribute on the dismiss button. This is intended to be
        used as a selector for automated tools. This value should
        be unique per page.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>String</td>
      <td>
        Allows a string of classes to add, in addition to the
        component classes. Intended for overrides.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">onDismiss</td>
      <td>Function</td>
      <td>
        A function that is called when the
        dismiss button is clicked. This function should toggle
        the isVisible state that is passed to the isVisible
        prop.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconNameDismiss</td>
      <td>String</td>
      <td>
        Allows a custom icon name to be used for the dismiss button.
        The default is set to use the Spark 'close' icon.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconNameSuccess</td>
      <td>String</td>
      <td>
        Allows a custom icon name to be used for the success alert.
        The default is set to use the Spark 'check-mark' icon.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconNameInfo</td>
      <td>String</td>
      <td>
        Allows a custom icon name to be used for the info alert.
        The default is set to use the Spark 'bell' icon.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconNameFail</td>
      <td>String</td>
      <td>
        Allows a custom icon name to be used for the fail alert.
        The default is set to use the Spark 'exclamation' icon.
      </td>
    </tr>
  </tbody>
</table>