<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Component</th>
      <th>Input</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <p>
          sprk-selection-container
        </p>

        <p>
          sprk-selection-item-container
        </p>

        <p>
          sprkLabel
        </p>

        <p>
          sprkSelectionLabel
        </p>
      </td>

      <td class="sprk-u-FontWeight--bold">
        additionalClasses
      </td>

      <td>string</td>

      <td>
        Allows a string of classes to
        add, in addition to the Spark
        classes. Intended for overrides.
      </td>
    </tr>

    <tr>
      <td>
        <p>
          sprk-selection-container
        </p>

        <p>
          sprk-selection-item-container
        </p>
      </td>

      <td class="sprk-u-FontWeight--bold">
        labelText
      </td>

      <td>string</td>

      <td>
        The value supplied will
        be assigned to the 'data-analytics'
        attribute on the accordion item.
        Intended for an outside
       library to capture data.
     </td>
    </tr>

    <tr>
      <td>sprk-accordion-item</td>
      <td class="sprk-u-FontWeight--bold">isOpen</td>
      <td>boolean</td>
      <td>The accordion item will use this to decide if the toggle state is open or closed. Intended to modify the
      default render state. (Interacting with the toggle will override this input.)</td>
    </tr>
    <tr>
      <td>
        <p>sprk-accordion</p>
        <p>sprk-accordion-item</p>
      </td>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Allows a string of classes to add, in addition to the spark classes. Intended for overrides.</td>
    </tr>
  </tbody>
</table>
