<p class="sprk-u-mbm">See below for relevant directives:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
  <tr>
    <th>Directive</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <p>
        sprkFormatterDate
      </p>
    </td>
    <td>
      When the 'input' event is fired, the value of the element will be formatted in the 'MM/DD/YYYY' date format.
    </td>
  </tr>
  <tr>
    <td>
      <p>
        sprkDatePicker
      </p>
    </td>
    <td>
      Sets up the datepicker code.
    </td>
  </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">See below for customization options available for sprkDatePicker:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
  <tr>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">sprkDatePickerConfig</td>
    <td>object</td>
    <td>Exposes configuration provided by tiny-date-picker, see
      <a href="https://github.com/chrisdavies/tiny-date-picker" class="drizzle-b-Link">github</a> for
      documentation.</td>
  </tr>
  </tbody>
</table>
