// ==================================================================
// Utilities
// ==================================================================

//
// Single property utilities
//
// These utilities should map directly to a single CSS property and
// value and should always use !important.
//
// Properties with vendor prefixes count as single properties.
///

//
// Display and Visibility
///
// stylelint-disable selector-class-pattern
/// Turns off the display of an element so that it has no effect on layout.
/// @group display
/// @name .sprk-u-JavaScript, .sprk-u-HideWhenJs

/// Turns off the display of an element so that it has no effect on layout.
/// @group display
/// @name .sprk-u-Display--none
.sprk-u-Display--none,
.sprk-u-JavaScript .sprk-u-HideWhenJs {
  display: none !important;
}

/// The element generates a block element box.
/// @group display
.sprk-u-Display--block {
  display: block !important;
}

/// The element generates one or more inline element boxes.
/// @group display
.sprk-u-Display--inline {
  display: inline !important;
}

/// The element generates a block element box that will be flowed with
/// surrounding content as if it were a single inline box.
/// @group display
.sprk-u-Display--inline-block {
  display: inline-block !important;
}

/// The element box is invisible, but still affects layout as normal.
/// Screen readers will still announce this element.
/// @group display
.sprk-u-Visibility--hidden {
  visibility: hidden !important;
}

/// The element is visible.
/// @group display
.sprk-u-Visibility--visible {
  visibility: visible !important;
}

//
// Floats
///

/// The element is not floated.
/// @group position
.sprk-u-Float--none {
  float: none !important;
}

/// Floats an element to the left.
/// @group position
.sprk-u-Float--left {
  float: left !important;
}

/// Floats an element to the right.
/// @group position
.sprk-u-Float--right {
  float: right !important;
}

//
// Positioning
///

/// The element is positioned according to the normal flow of the
/// document, and then offset relative to itself.
/// @group position
.sprk-u-Position--relative {
  position: relative !important;
}

/// The element is removed from the normal document flow, and no
/// space is created for the element in the page layout. It is
/// positioned relative to its closest positioned ancestor.
/// @group position
.sprk-u-Position--absolute {
  position: absolute !important;
}

/// The element is removed from the normal document flow, and no
/// space is created for the element in the page layout. It is
/// positioned relative to the initial containing block established
/// by the viewport.
/// @group position
.sprk-u-Position--fixed {
  position: fixed !important;
}

/// The element is positioned according to the normal flow of the
/// document.
/// @group position
.sprk-u-Position--static {
  position: static !important;
}

/// Resets an element's top offset back to zero.
/// @group position
.sprk-u-Top--zero {
  top: 0 !important;
}

/// Resets an element's bottom offset back to zero.
/// @group position
.sprk-u-Bottom--zero {
  bottom: 0 !important;
}

/// Resets an element's left offset back to zero.
/// @group position
.sprk-u-Left--zero {
  left: 0 !important;
}

/// Resets an element's right offset back to zero.
/// @group position
.sprk-u-Right--zero {
  right: 0 !important;
}

//
// Height
///

/// Changes the height of the element to 100 percent.
/// @group height
.sprk-u-Height--100 {
  height: 100% !important;
}

//
// Width
///

/// Changes the max-width of the element to 100 percent.
/// @group width
.sprk-u-MaxWidth--100 {
  max-width: 100% !important;
}

/// Changes the width of the element to `auto`.
/// @group width
.sprk-u-Width--auto {
  width: auto !important;
}

//
// Alignment
///

/// Aligns text to the left of the container.
/// @group position
.sprk-u-TextAlign--left {
  text-align: left !important;
}

/// Aligns text to the right of the container.
/// @group position
.sprk-u-TextAlign--right {
  text-align: right !important;
}

/// Aligns text in the horizontal center of the container.
/// @group position
.sprk-u-TextAlign--center {
  text-align: center !important;
}

/// Aligns the contents of a box to the top if it's display
/// property is `inline` or `table-cell`.
/// @group position
.sprk-u-VerticalAlign--top {
  vertical-align: top !important;
}

/// Aligns the contents of a box to the vertical middle if
/// it's display property is `inline` or `table-cell`.
/// @group position
.sprk-u-VerticalAlign--middle {
  vertical-align: middle !important;
}

/// Aligns the contents of a box to the bottom if it's
/// display property is `inline` or `table-cell`.
/// @group position
.sprk-u-VerticalAlign--bottom {
  vertical-align: bottom !important;
}

/// Aligns the contents of a box to the baseline if it's
/// display property is `inline` or `table-cell`.
/// @group position
.sprk-u-VerticalAlign--baseline {
  vertical-align: baseline !important;
}

//
// Typography
///

/// Sets the font weight to bold.
/// @group typography
.sprk-u-FontWeight--bold {
  font-weight: bold !important;
}

/// Sets the font weight to normal.
/// @group typography
.sprk-u-FontWeight--normal {
  font-weight: normal !important;
}

/// Sets the font style to italic.
/// @group typography
.sprk-u-FontStyle--italic {
  font-style: italic !important;
}

/// Sets the font style to normal.
/// @group typography
.sprk-u-FontStyle--normal {
  font-style: normal !important;
}

/// Sets the text decoration to underline.
/// @group typography
.sprk-u-TextDecoration--underline {
  text-decoration: underline !important;
}

/// Sets the text decoration to none.
/// @group typography
.sprk-u-TextDecoration--none {
  text-decoration: none !important;
}

/// Transforms text to uppercase.
/// @group typography
.sprk-u-TextTransform--uppercase {
  text-transform: uppercase !important;
}

/// Removes text transformation for text.
/// @group typography
.sprk-u-TextTransform--none {
  text-transform: none !important;
}

/// When placed on an element that contains text or any of
/// the typography classes, it will remove the text cropping
/// and the negative margins applied by the crop.
/// @group multi-typography
.sprk-u-TextCrop--none {
  &::before,
  &::after {
    content: none !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

/// Sets `word-wrap` to `break-word`.
/// @group typography
.sprk-u-WordWrap--break-word {
  word-wrap: break-word !important;
}

/// Sets `white-space` to `nowrap`.
/// @group typography
.sprk-u-WhiteSpace--nowrap {
  white-space: nowrap !important;
}

/// Sets a `max-width`, intended for text. Default value is
/// `40 rem`.
/// @group typography
.sprk-u-Measure {
  max-width: $sprk-measure !important;
}

/// Sets a narrow `max-width`, intended for text. Default
/// value is `25 rem`.
/// @group typography
.sprk-u-Measure--narrow {
  max-width: $sprk-narrow-measure !important;
}

//
// Overflow
///

/// Content is not clipped and may be rendered outside
/// the padding box.
/// @group overflow
.sprk-u-Overflow--visible {
  overflow: visible !important;
}

/// Content is clipped if necessary to fit the padding
/// box. No scrollbars are provided.
/// @group overflow
.sprk-u-Overflow--hidden {
  overflow: hidden !important;
}

/// Content is clipped if necessary to fit the padding
/// box. Browsers display scrollbars whether or not any
/// content is actually clipped.
/// @group overflow
.sprk-u-Overflow--scroll {
  overflow: scroll !important;
}

/// If content fits inside the padding box, it looks the
/// same as visible, but still establishes a new
/// block-formatting context.
/// @group overflow
.sprk-u-Overflow--auto {
  overflow: auto !important;
}

// Colors

/// Sets the font color to red.
/// @group color
.sprk-u-Color--red {
  color: $sprk-red !important;
}
/// Sets the font color to deep red.
/// @group color
.sprk-u-Color--deep-red {
  color: $sprk-deep-red !important;
}
/// Sets the font color to mid red.
/// @group color
.sprk-u-Color--mid-red {
  color: $sprk-mid-red !important;
}
/// Sets the font color to purple.
/// @group color
.sprk-u-Color--purple {
  color: $sprk-purple !important;
}
/// Sets the font color to purple dark.
/// @group color
.sprk-u-Color--purple-dark {
  color: $sprk-purple-dark !important;
}
/// Sets the font color to purple deep.
/// @group color
.sprk-u-Color--purple-deep {
  color: $sprk-purple-deep !important;
}
/// Sets the font color to purple light.
/// @group color
.sprk-u-Color--purple-light {
  color: $sprk-purple-light !important;
}
/// Sets the font color to purple lightest.
/// @group color
.sprk-u-Color--purple-lightest {
  color: $sprk-purple-lightest !important;
}
/// Sets the font color to green.
/// @group color
.sprk-u-Color--green {
  color: $sprk-green !important;
}
/// Sets the font color to blue.
/// @group color
.sprk-u-Color--blue {
  color: $sprk-blue !important;
}
/// Sets the font color to orange.
/// @group color
.sprk-u-Color--orange {
  color: $sprk-orange !important;
}
/// Sets the font color to pink.
/// @group color
.sprk-u-Color--pink {
  color: $sprk-pink !important;
}
/// Sets the font color to yellow.
/// @group color
.sprk-u-Color--yellow {
  color: $sprk-yellow !important;
}
/// Sets the font color to white.
/// @group color
.sprk-u-Color--white {
  color: $sprk-white !important;
}
/// Sets the font color to gray.
/// @group color
.sprk-u-Color--gray {
  color: $sprk-gray !important;
}
/// Sets the font color to black.
/// @group color
.sprk-u-Color--black {
  color: $sprk-black !important;
}

/// Sets the font color to Purple Navy.
/// @group color
.sprk-u-Color--purple-navy {
  color: $sprk-purple-navy !important;
}

/// Sets the font color to Lavender.
/// @group color
.sprk-u-Color--lavender {
  color: $sprk-lavender !important;
}

/// Sets the font color to Wisteria.
/// @group color
.sprk-u-Color--wisteria {
  color: $sprk-wisteria !important;
}

/// Sets the font color to Magnolia.
/// @group color
.sprk-u-Color--magnolia {
  color: $sprk-magnolia !important;
}

// Background color
/// Sets the background color to red.
/// @group color
.sprk-u-BackgroundColor--red {
  background-color: $sprk-red !important;
}
/// Sets the background color to deep red.
/// @group color
.sprk-u-BackgroundColor--deep-red {
  background-color: $sprk-deep-red !important;
}
/// Sets the background color to mid red.
/// @group color
.sprk-u-BackgroundColor--mid-red {
  background-color: $sprk-mid-red !important;
}
/// Sets the background color to purple.
/// @group color
.sprk-u-BackgroundColor--purple {
  background-color: $sprk-purple !important;
}
/// Sets the background color to purple dark.
/// @group color
.sprk-u-BackgroundColor--purple-dark {
  background-color: $sprk-purple-dark !important;
}
/// Sets the background color to purple deep.
/// @group color
.sprk-u-BackgroundColor--purple-deep {
  background-color: $sprk-purple-deep !important;
}
/// Sets the background color to purple light.
/// @group color
.sprk-u-BackgroundColor--purple-light {
  background-color: $sprk-purple-light !important;
}
/// Sets the background color to purple lightest.
/// @group color
.sprk-u-BackgroundColor--purple-lightest {
  background-color: $sprk-purple-lightest !important;
}
/// Sets the background color to green.
/// @group color
.sprk-u-BackgroundColor--green {
  background-color: $sprk-green !important;
}
/// Sets the background color to blue.
/// @group color
.sprk-u-BackgroundColor--blue {
  background-color: $sprk-blue !important;
}
/// Sets the background color to orange.
/// @group color
.sprk-u-BackgroundColor--orange {
  background-color: $sprk-orange !important;
}

/// Sets the background color to pink.
/// @group color
.sprk-u-BackgroundColor--pink {
  background-color: $sprk-pink !important;
}
/// Sets the background color to yellow.
/// @group color
.sprk-u-BackgroundColor--yellow {
  background-color: $sprk-yellow !important;
}
/// Sets the background color to white.
/// @group color
.sprk-u-BackgroundColor--white {
  background-color: $sprk-white !important;
}
/// Sets the background color to black.
/// @group color
.sprk-u-BackgroundColor--black {
  background-color: $sprk-black !important;
}

/// Sets the background color to black tinted at 90%.
/// @group color
.sprk-u-BackgroundColor--black-tint-90 {
  background-color: $sprk-black-tint-90 !important;
}
/// Sets the background color to black tinted at 80%.
/// @group color
.sprk-u-BackgroundColor--black-tint-80 {
  background-color: $sprk-black-tint-80 !important;
}
/// Sets the background color to black tinted at 70%.
/// @group color
.sprk-u-BackgroundColor--black-tint-70 {
  background-color: $sprk-black-tint-70 !important;
}
/// Sets the background color to black tinted at 60%.
/// @group color
.sprk-u-BackgroundColor--black-tint-60 {
  background-color: $sprk-black-tint-60 !important;
}
/// Sets the background color to black tinted at 50%.
/// @group color
.sprk-u-BackgroundColor--black-tint-50 {
  background-color: $sprk-black-tint-50 !important;
}
/// Sets the background color to black tinted at 40%.
/// @group color
.sprk-u-BackgroundColor--black-tint-40 {
  background-color: $sprk-black-tint-40 !important;
}
/// Sets the background color to black tinted at 30%.
/// @group color
.sprk-u-BackgroundColor--black-tint-30 {
  background-color: $sprk-black-tint-30 !important;
}
/// Sets the background color to black tinted at 20%.
/// @group color
.sprk-u-BackgroundColor--black-tint-20 {
  background-color: $sprk-black-tint-20 !important;
}
/// Sets the background color to black tinted at 10%.
/// @group color
.sprk-u-BackgroundColor--black-tint-10 {
  background-color: $sprk-black-tint-10 !important;
}

/// Sets the background color to gray.
/// @group color
.sprk-u-BackgroundColor--gray {
  background-color: $sprk-gray !important;
}
/// Sets the background color to Purple Navy.
/// @group color
.sprk-u-BackgroundColor--purple-navy {
  background-color: $sprk-purple-navy !important;
}
/// Sets the background color to Lavender.
/// @group color
.sprk-u-BackgroundColor--lavender {
  background-color: $sprk-lavender !important;
}
/// Sets the background color to Wisteria.
/// @group color
.sprk-u-BackgroundColor--wisteria {
  background-color: $sprk-wisteria !important;
}
/// Sets the background color to Magnolia.
/// @group color
.sprk-u-BackgroundColor--magnolia {
  background-color: $sprk-magnolia !important;
}

//
// Spacing
///

/// Sets the bottom margin to the current value of
/// `$sprk-space-misc-a` (`24px`).
/// @group misc-spacing
/// @name sprk-u-MarginBottom--a

/// Sets the padding on the left and right (horizontal)
/// to `$sprk-space-misc-b` (`40px`).
/// @group misc-spacing
/// @name sprk-u-PaddingHorizontal--b

/// Sets the margin on all sides to the current value
/// of `$sprk-space-misc-d` (`80px`).
/// @group misc-spacing
/// @name sprk-u-MarginAll--d

// Misc Padding Spacing A
.sprk-u-PaddingTop--a,
.sprk-u-PaddingVertical--a,
.sprk-u-PaddingAll--a {
  padding-top: $sprk-space-misc-a !important;
}

.sprk-u-PaddingRight--a,
.sprk-u-PaddingHorizontal--a,
.sprk-u-PaddingAll--a {
  padding-right: $sprk-space-misc-a !important;
}

.sprk-u-PaddingBottom--a,
.sprk-u-PaddingVertical--a,
.sprk-u-PaddingAll--a {
  padding-bottom: $sprk-space-misc-a !important;
}

.sprk-u-PaddingLeft--a,
.sprk-u-PaddingHorizontal--a,
.sprk-u-PaddingAll--a {
  padding-left: $sprk-space-misc-a !important;
}

// Misc Padding Spacing B
.sprk-u-PaddingTop--b,
.sprk-u-PaddingVertical--b,
.sprk-u-PaddingAll--b {
  padding-top: $sprk-space-misc-b !important;
}

.sprk-u-PaddingRight--b,
.sprk-u-PaddingHorizontal--b,
.sprk-u-PaddingAll--b {
  padding-right: $sprk-space-misc-b !important;
}

.sprk-u-PaddingBottom--b,
.sprk-u-PaddingVertical--b,
.sprk-u-PaddingAll--b {
  padding-bottom: $sprk-space-misc-b !important;
}

.sprk-u-PaddingLeft--b,
.sprk-u-PaddingHorizontal--b,
.sprk-u-PaddingAll--b {
  padding-left: $sprk-space-misc-b !important;
}

// Misc Padding Spacing C
.sprk-u-PaddingTop--c,
.sprk-u-PaddingVertical--c,
.sprk-u-PaddingAll--c {
  padding-top: $sprk-space-misc-c !important;
}

.sprk-u-PaddingRight--c,
.sprk-u-PaddingHorizontal--c,
.sprk-u-PaddingAll--c {
  padding-right: $sprk-space-misc-c !important;
}

.sprk-u-PaddingBottom--c,
.sprk-u-PaddingVertical--c,
.sprk-u-PaddingAll--c {
  padding-bottom: $sprk-space-misc-c !important;
}

.sprk-u-PaddingLeft--c,
.sprk-u-PaddingHorizontal--c,
.sprk-u-PaddingAll--c {
  padding-left: $sprk-space-misc-c !important;
}

// Misc Padding Spacing D
.sprk-u-PaddingTop--d,
.sprk-u-PaddingVertical--d,
.sprk-u-PaddingAll--d {
  padding-top: $sprk-space-misc-d !important;
}

.sprk-u-PaddingRight--d,
.sprk-u-PaddingHorizontal--d,
.sprk-u-PaddingAll--d {
  padding-right: $sprk-space-misc-d !important;
}

.sprk-u-PaddingBottom--d,
.sprk-u-PaddingVertical--d,
.sprk-u-PaddingAll--d {
  padding-bottom: $sprk-space-misc-d !important;
}

.sprk-u-PaddingLeft--d,
.sprk-u-PaddingHorizontal--d,
.sprk-u-PaddingAll--d {
  padding-left: $sprk-space-misc-d !important;
}

// Misc Margin Spacing A
.sprk-u-MarginTop--a,
.sprk-u-MarginVertical--a,
.sprk-u-MarginAll--a {
  margin-top: $sprk-space-misc-a !important;
}

.sprk-u-MarginRight--a,
.sprk-u-MarginHorizontal--a,
.sprk-u-MarginAll--a {
  margin-right: $sprk-space-misc-a !important;
}

.sprk-u-MarginBottom--a,
.sprk-u-MarginVertical--a,
.sprk-u-MarginAll--a {
  margin-bottom: $sprk-space-misc-a !important;
}

.sprk-u-MarginLeft--a,
.sprk-u-MarginHorizontal--a,
.sprk-u-MarginAll--a {
  margin-left: $sprk-space-misc-a !important;
}

// Misc Margin Spacing B
.sprk-u-MarginTop--b,
.sprk-u-MarginVertical--b,
.sprk-u-MarginAll--b {
  margin-top: $sprk-space-misc-b !important;
}

.sprk-u-MarginRight--b,
.sprk-u-MarginHorizontal--b,
.sprk-u-MarginAll--b {
  margin-right: $sprk-space-misc-b !important;
}

.sprk-u-MarginBottom--b,
.sprk-u-MarginVertical--b,
.sprk-u-MarginAll--b {
  margin-bottom: $sprk-space-misc-b !important;
}

.sprk-u-MarginLeft--b,
.sprk-u-MarginHorizontal--b,
.sprk-u-MarginAll--b {
  margin-left: $sprk-space-misc-b !important;
}

// Misc Margin Spacing C
.sprk-u-MarginTop--c,
.sprk-u-MarginVertical--c,
.sprk-u-MarginAll--c {
  margin-top: $sprk-space-misc-c !important;
}

.sprk-u-MarginRight--c,
.sprk-u-MarginHorizontal--c,
.sprk-u-MarginAll--c {
  margin-right: $sprk-space-misc-c !important;
}

.sprk-u-MarginBottom--c,
.sprk-u-MarginVertical--c,
.sprk-u-MarginAll--c {
  margin-bottom: $sprk-space-misc-c !important;
}

.sprk-u-MarginLeft--c,
.sprk-u-MarginHorizontal--c,
.sprk-u-MarginAll--c {
  margin-left: $sprk-space-misc-c !important;
}

// Misc Margin Spacing D
.sprk-u-MarginTop--d,
.sprk-u-MarginVertical--d,
.sprk-u-MarginAll--d {
  margin-top: $sprk-space-misc-d !important;
}

.sprk-u-MarginRight--d,
.sprk-u-MarginHorizontal--d,
.sprk-u-MarginAll--d {
  margin-right: $sprk-space-misc-d !important;
}

.sprk-u-MarginBottom--d,
.sprk-u-MarginVertical--d,
.sprk-u-MarginAll--d {
  margin-bottom: $sprk-space-misc-d !important;
}

.sprk-u-MarginLeft--d,
.sprk-u-MarginHorizontal--d,
.sprk-u-MarginAll--d {
  margin-left: $sprk-space-misc-d !important;
}

//
// Multi-property utilities
///

//
// Accessibility
///

/// Makes content invisible while still being read by a
/// screen reader.
/// @group multi-accessibility
.sprk-u-ScreenReaderText {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/// When combined with `.sprk-u-ScreenReaderText` the element
/// will become visible on focus.
/// @group multi-accessibility
.sprk-u-ShowOnFocus:focus {
  position: static;
  width: auto;
  height: auto;
}

//
// layout
/// When placed on a container, its children will align
/// in the absolute center (vertically and horizontally)
/// of the box.
/// @group multi-layout
.sprk-u-AbsoluteCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/// When placed on a container, it will cause it to fill
/// the viewport, even if it's inside a limiting container
/// (such as `sprk-o-CenteredColumn`).
/// @group multi-layout
.sprk-u-FullWidth {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/// When placed on an element that contains text, it will
/// limit the text to one line and adds an ellipsis when
/// it overflows.
/// @group multi-typography
.sprk-u-Truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// stylelint-enable selector-class-pattern
