<sprk-toggle
  title="My Disclaimer"
  analyticsString="My Disclaimer"
  idString="toggle-1">
  <p class="sprk-b-TypeBodyFour">
    This is some copy for the toggle about toggle things.
  </p>
</sprk-toggle>
