<sprk-masthead
  additionalClasses="angular-docs-u-Masthead-docs"
  greetingName="Hello, Fellow Human"
  [wideNavLinks]="links"
  [secondaryNavLinks]="linksSecondary"
  [narrowNavLinks]="links"
  idString="masthead-1">
  <img alt="Provide useful alternative text" src="https://sparkdesignsystem.com/assets/toolkit/images/flower.jpg" logo-slot>
  <div class="sprk-b-InputContainer" upper-slot>
    <label for="inline-search" class="sprk-u-ScreenReaderText">Search</label>
    <input
      placeholder="Search"
      class="sprk-b-TextInput sprk-u-Width-100"
      id="inline-search"
      type="search"
      role="search"
      aria-describedby="inline-search--error-container">
    <div class="sprk-b-ErrorText" id="inline-search--error-container">
    </div>
  </div>
  <p lower-slot>Loan Number: #1234567890</p>
</sprk-masthead>
