<sprk-masthead additionalClasses="angular-docs-u-Masthead-docs" [narrowNavLinks]="links" idString="masthead-1">
  <img
      logo-slot
      src="https://sparkdesignsystem.com/assets/toolkit/images/spark-placeholder.jpg"
      alt="Spark Design System"
  />
  <div little-nav-slot>
    <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack--center-column">
      <li>
        <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link" href="#nogo"> Item 1 </a>
      </li>
      <li>
        <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link" href="#nogo">
          Item 2
        </a>
      </li>
    </ul>
  </div>
  <div utility-slot>
    <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack--center-column">
      <li>
        <a class="sprk-b-Link sprk-b-Link--plain sprk-b-Link--standalone" href="tel:555-555-5555">
          (555) 555-5555
        </a>
      </li>
      <li>
        <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link" href="#nogo">
          Talk To Us
        </a>
      </li>
      <li>
        <a href="#nogo" class="sprk-c-Button sprk-c-Button--secondary" >Sign In</a>
      </li>
    </ul>
  </div>
  <div class="sprk-u-mas" narrowNavFooter>
    <a class="sprk-c-Button sprk-c-Button--secondary sprk-u-Width-100" href="#nogo">Sign In</a>
  </div>
</sprk-masthead>
  links = [
    {
      text: 'Item 1',
      href: '#nogo',
      subNav: [
        {
          text: 'Item 1',
          href: '/links'
        },
        {
          text: 'Item 2',
          href: '/links'
        },
        {
          text: 'Item 3',
          href: '/links'
        }
      ]
    },
    {
      text: 'Item 2',
      href: '#nogo',
      active: true
    },
    {
      text: '(555) 555-5555',
      href: '#nogo',
      active: false,
      leadingIcon: 'landline'
    },
    {
      text: 'Talk To Us',
      href: '#nogo',
      active: false,
      leadingIcon: 'call-team-member'
    }
  ];