---
title: Inputs Tests
layout: blank
---
<h1 class="drizzle-b-h1"> Inputs </h1>
<form action="" novalidate>
    <div class="sprk-b-TypeBodyTwo">
        {{#each (data "inputs")}}
            <h2 class="drizzle-b-h2">{{this.name}}</h2>
            <div class="drizzle-c-Space-inset-m">
              {{#embed this.name}}{{/embed}}
            </div>
        {{else}}
          Theres nothing
        {{/each}}
    </div>
</form>
