# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @RCopeland and @afebbraro and @guern1kn will be requested for
# review when someone opens a pull request.
*       @afebbraro @guern1kn @yodasw16
