<p class="sprk-u-mbm">
  A group of checkboxes have a group label which
  is marked with the sprkLabel Angular attribute.
  The sprk-selection-container component will put
  the sprkLabel and sprk-selection-item-container in the correct places.
</p>
