{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "max-len": ["error", 80, {
      "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true
    }],
    "prettier/prettier": ["error"],
    "object-curly-newline": "off",
    "react/require-default-props" : "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["label"],
      "labelAttributes": ["htmlFor"],
      "controlComponents": ["input"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      }
    }]
  }
}
