{
  "extends": "airbnb",
  "rules": {
    "object-curly-newline": ["error", {
      "ObjectPattern": { "multiline": true },
      "ImportDeclaration": "never"
    }],
    "react/jsx-filename-extension": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["label"],
      "labelAttributes": ["htmlFor"],
      "controlComponents": ["input"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      }
    }]
  }
}
