{
  "extends": ["airbnb", "plugin:jest/recommended", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["jest", "import", "prettier"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-redeclare": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": ["error", 80, {
      "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true
    }],
    "object-curly-newline": "off",
    "react/require-default-props" : "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["label"],
      "labelAttributes": ["htmlFor"],
      "controlComponents": ["input"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      }
    }]
  },
  "overrides": [
    {
      "files": ["html/tests/*.js"],
      "rules": {
        "global-require": "off"
      }
    }
  ]
}
