$sprksb-logo-size-small: 35px;
$sprksb-nav-switch-breakpoint: 60rem;

.sprksb-c-Logo {
  max-width: 250px;

  @media (min-width: $sprksb-nav-switch-breakpoint) {
    max-width: 398px;
  }
}

.sprksb-c-Logo img {
  width: 100%;
}

.sprksb-c-Logo--small {
  height: $sprksb-logo-size-small;
  width: $sprksb-logo-size-small;
}