<p>
  All available proptypes for base card can apply to highlighted header cards except for additionaContentClasses.
</p>
<p class="sprk-u-mbm">
  See below for available customization options:
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        highlightedHeaderConfig
      </td>
      <td>
        object
      </td>
      <td>
        Expects an object of configurations that populate the content of SprkCard with a highlighted Header.
        See below for highlightedHeaderConfig's object details
      </td>
    </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">
  Here are the expected objects for <span class="sprk-u-FontWeight--bold">highlightedHeaderConfig</span>
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        bodyText
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's body text.
        Part of the Highlighted Header configuration.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        description
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's
        description. Part of Highlighted Header configuration.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        title
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's title.
        Part of Highlighted Header configuration.
      </td>
    </tr>
  </tbody>
</table>
