.docs-b-Blockquote {
  background-color: $sprk-alert-bg-color-info;
  margin: $sprk-space-s 0;
  padding: $sprk-space-m $sprk-space-m $sprk-space-s $sprk-space-m;
  border-left: 5px solid $sprk-blue;
}