.docs-code {
  font-size: 1.1rem;
  font-family: Monaco, monospace;
  overflow: auto;
  margin: 2rem 0;
  max-width: 100%;
  padding: 2.75rem 2.75rem 1rem 2.75rem;
  white-space: pre-wrap;
  word-break: break-word;
  border: 2px solid $sprk-black;
  border-left: 5px solid $sprk-black;
}
