.docs-footer {
  padding: 4rem;
}

.docs-footer__content {
  padding: 1rem 0;
}

.docs-footer__content p {
  margin-bottom: 0.5rem;
}

.docs-footer__links {
  list-style-type: none;
  padding: 1rem 0;
}

.docs-footer__link {
  display: inline-block;
  margin-right: 1rem;
}
