/* stylelint-disable */
.docs-menu__heading {
  font-size: 1.18rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.docs-menu__subheading {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem 0;
}

.docs-menu__collection-heading {
  font-weight: 700;
}

.docs-menu__collection {
  list-style-type: none;
  padding-left: 1rem;
}

.docs-menu__select {
  width: 100%;
}

.docs-menu__context {
  @media (min-width: $doc-site-mobile-breakpoint) {
    display: none;
  }
}
/* stylelint-enable */
