.nav-toggle .sprk-c-Icon {
  height: 15px;
  width: 15px;
}

.nav-toggle > .sprk-b-Link:first-child {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.nav-list__item {
  flex: 1;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.navigation {
  margin: 4rem 0;
}
