// Status icon styles
.docs-status__ready {
    stroke: $sprk-green;
    fill: $sprk-green;
    margin-right: 4px;
}

.docs-status__updated {
    stroke: $sprk-blue;
    fill: $sprk-blue;
    margin-right: 4px;
}

.docs-status__under-review {
    stroke: #d2752b;
    fill: #d2752b;
    margin-right: 4px;
}

.docs-status__new {
    stroke: $sprk-purple;
    fill: $sprk-purple;
    margin-right: 4px;
}

.docs-status__research {
    stroke: $sprk-black;
    fill: $sprk-black;
    margin-right: 4px;
}

.docs-status__build {
    stroke: $sprk-black;
    fill: $sprk-black;
    margin-right: 4px;
}

.docs-status__low-priority {
    color: #487130;
    stroke: #86BC3D;
    fill: #86BC3D;
    margin-right: 4px;
}

.docs-status__high-priority {
    stroke: $sprk-red;
    fill: $sprk-red;
    margin-right: 4px;
}


// Status links hover colors
.docs-status__link--ready {
    color: $sprk-green;
}
.docs-status__link--ready:hover {
    color: $sprk-green;
    border-bottom: 2px solid $sprk-green;
}
.docs-status__link--updated {
    color: $sprk-blue;
}
.docs-status__link--updated:hover {
    color: $sprk-blue;
    border-bottom: 2px solid $sprk-blue;
}
.docs-status__link--under-review {
    color: #b36525;
}
.docs-status__link--under-review:hover {
    color: #b36525;
    border-bottom: 2px solid #B46417;
}


// Status custom text colors
.docs-status-text__under-review {
    color: #b36525;
}

.docs-status__text--low-priority {
    color: #487130;
}


// Status additional info tooltip styles
.docs-status__tooltip {
    height: $sprk-icon-m;
    width: $sprk-icon-m;
    stroke-width: $sprk-icon-stroke-width;
    margin-left: 6px;
}
.docs-status__tooltip--updated {
    stroke: $sprk-blue;
    fill: $sprk-blue;
}
.docs-status__tooltip--under-review {
    stroke: #d2752b;
    fill: #d2752b;
}


// Sticky table headers styles
.docs-status__table--overflow-visible {
    overflow: visible;
}

.docs-status__table--sticky-header {
    background: #fff;
    position: sticky;
    top: 102px;
    z-index: 2;

    @media all and (max-width: $sprk-masthead-breakpoint) {
        top: 0px;
    }
}

.docs-status__table--position-relative {
    position: relative;
}

.docs-status__Toggle--red {
    fill: $sprk-red;
}

/* stylelint-enable selector-class-pattern */