<p class="sprk-u-mbm">
  See below for HTML data attributes.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Attribute</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">data-sprk-modal-type</td>
      <td>
        Set this attribute to "wait" to enforce the correct behavior. Wait modals
        cannot be dismissed by pressing the Escape key or by clicking on the Mask.
      </td>
    </tr>
  </tbody>
</table>
