---
name: Display Seven
order: 9
variableTable:
  $sprk-color-display-seven:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-display-seven:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-display-seven:
    description: The size of the font.
    default: 1rem
  $sprk-font-weight-display-seven:
    description: The weight of the font.
    default: 500
  $sprk-line-height-display-seven:
    description: The line height of the font.
    default: 1
---

<h5 class="sprk-b-TypeDisplaySeven">The Quick Brown Fox Jumps Over the Lazy Dog</h5>
