---
name: Display Two
description: |
    This display size is intended to be used for secondary headings.
order: 4
variableTable:
  $sprk-color-display-two:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-display-two:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-display-two:
    description: The size of the font when the viewport is narrower than $sprk-font-size-display-two-breakpoint.
    default: 2.5rem
  $sprk-font-size-display-two-wide:
    description: The size of the font when the viewport is wider than $sprk-font-size-display-two-breakpoint.
    default: 2rem
  $sprk-type-display-two-breakpoint:
    description: The width of the viewport at which to switch the font size from $sprk-font-size-display-two to
      $sprk-font-size-display-two-wide.
    default: 43.75rem
  $sprk-font-weight-display-two:
    description: The weight of the font.
    default: bold
  $sprk-line-height-display-two:
    description: The line height of the font when the viewport is narrower than $sprk-font-size-display-two-breakpoint.
    default: 1
  $sprk-line-height-display-two-wider:
    description: The line height of the font when the viewport is wider than $sprk-font-size-display-two-breakpoint.
    default: 1
---

<h1 class="sprk-b-TypeDisplayTwo">The Quick Brown Fox Jumps Over the Lazy Dog</h1>
