---
name: Display Three
description: |
    This display size is intended to be used for third-level headings.
order: 5
variableTable:
  $sprk-color-display-three:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-display-three:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-display-three:
    description: The size of the font when the viewport is narrower than $sprk-font-size-display-three-breakpoint.
    default: 2.125rem
  $sprk-font-size-display-three-wide:
    description: The size of the font when the viewport is wider than $sprk-font-size-display-three-breakpoint.
    default: 1.75rem
  $sprk-type-display-three-breakpoint:
    description: The width of the viewport at which to switch the font size from $sprk-font-size-display-three to
      $sprk-font-size-display-three-wide.
    default: 43.75rem
  $sprk-font-weight-display-three:
    description: The weight of the font.
    default: 300
  $sprk-line-height-display-three:
    description: The line height of the font when the viewport is narrower than $sprk-font-size-display-three-breakpoint.
    default: 1.32
  $sprk-line-height-display-three-wide:
    description: The line height of the font when the viewport is wider than $sprk-font-size-display-three-breakpoint.
    default: 1.6
---

<h2 class="sprk-b-TypeDisplayThree">The Quick Brown Fox Jumps Over the Lazy Dog</h2>
