---
name: Page Title
description:
  The page title is used on primary pages that
  contain multiple jumping off points, as well as core
  product features and flows. It should only be used
  once at the top of the main content of a page.
order: 2
variableTable:
  $sprk-page-title-mark-color:
    description: The color of the mark.
    default: $sprk-red
  $sprk-page-title-mark-width:
    description: The width of the mark.
    default: 32px
  $sprk-page-title-mark-height:
    description: The height of the mark.
    default: 5px
  $sprk-page-title-mark-height-wide-viewport:
    description: The height of the mark on a large viewport (using $sprk-typography-breakpoint).
    default: 6px
  $sprk-page-title-mark-padding:
    description: Amount of padding between the mark and the text.
    default: 0 0 $sprk-space-misc-a
  $sprk-page-title-mark-padding-wide-viewport:
    description: Amount of padding between the mark and the text. on a large viewport (using $sprk-typography-breakpoint).
    default: 0 0 $sprk-space-m
---

<h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle">The Quick Brown Fox Jumps Over the Lazy Dog</h1>
