/// Red for key branded moments throughout the product as our primary brand  
$sprk-red: rgb(200, 16, 46);
/// Darkest red for key branded moments throughout the product. 
$sprk-deep-red: rgb(118, 35, 47);
/// Mid red for key branded moments throughout the product. 
$sprk-mid-red: rgb(157, 34, 53);
/// Main purple for secondary actions and brand elements. 
$sprk-purple: rgb(96, 58, 161);
/// Dark purple for interactive elements. Can also be used for limited floods of  
$sprk-purple-dark: rgb(60, 49, 116);
/// Deep purple for interactive elements. Can also be used for limited floods of  
$sprk-purple-deep: rgb(46, 17, 102);
/// Light purple for interactive elements. 
$sprk-purple-light: rgb(146, 101, 211);
/// Lightest purple for interactive elements. Can also be used for limited floods of  
$sprk-purple-lightest: rgb(231, 226, 242);
/// Use to communicate a positive status or message. 
$sprk-green: rgb(41, 133, 64);
/// Use to communicate an informative status or message. 
$sprk-blue: rgb(28, 110, 242);
/// Use to communicate an error status or message. 
$sprk-pink: rgb(229, 1, 88);
/// Use to communicate an urgent status or message. Be sure to follow accessibility guidelines when using this  
$sprk-yellow: rgb(237, 163, 2);
/// White for floods of color and accents, like backgrounds and cards. 
$sprk-white: rgb(255, 255, 255);
/// Black for main text color, specifically in headline and body copy. 
$sprk-black: rgb(28, 27, 26);
/// Black at 10%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-10: rgb(232, 232, 232);
/// Black at 20%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-20: rgb(210, 209, 209);
/// Black at 30%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-30: rgb(186, 186, 186);
/// Black at 40%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-40: rgb(164, 164, 163);
/// Black at 50%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-50: rgb(141, 141, 140);
/// Black at 60%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-60: rgb(119, 118, 118);
/// Black at 70%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-70: rgb(96, 95, 94);
/// Black at 80%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-80: rgb(73, 73, 72);
/// Black at 90%. Use this gray in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-black-tint-90: rgb(50, 49, 48);
/// Lightest gray. Use in combination with content hierarchy, font-weight and background color to create AA accessible text. 
$sprk-gray: rgb(247, 247, 247);
/// Color value for Purple Navy. 
$sprk-purple-navy: rgb(28, 1, 82);
/// Color value for Lavender. 
$sprk-lavender: rgb(190, 132, 247);
/// Color value for Wisteria. 
$sprk-wisteria: rgb(222, 177, 253);
/// Color value for Magnolia. 
$sprk-magnolia: rgb(240, 218, 255);