/// The extra small z-index value setting. 
$sprk-layer-height-xs: 1 !default;
/// The small z-index value setting. 
$sprk-layer-height-s: 1000 !default;
/// The medium z-index value setting. 
$sprk-layer-height-m: 2000 !default;
/// The large z-index value setting. 
$sprk-layer-height-l: 3000 !default;
/// The extra large z-index value setting. 
$sprk-layer-height-xl: 9999 !default;