/// The spacing of the tiny Stack object. 
$sprk-stack-spacing-tiny: $sprk-space-xs !default;
/// The spacing of the small Stack object. 
$sprk-stack-spacing-small: $sprk-space-s !default;
/// The spacing of the medium Stack object. 
$sprk-stack-spacing-medium: $sprk-space-m !default;
/// The spacing of the large Stack object. 
$sprk-stack-spacing-large: $sprk-space-l !default;
/// The spacing of the huge Stack object. 
$sprk-stack-spacing-huge: $sprk-space-xl !default;
/// The spacing of the Misc A Stack object. 
$sprk-stack-spacing-misc-a: $sprk-space-misc-a !default;
/// The spacing of the Misc B Stack object. 
$sprk-stack-spacing-misc-b: $sprk-space-misc-b !default;
/// The spacing of the Misc C Stack object. 
$sprk-stack-spacing-misc-c: $sprk-space-misc-c !default;
/// The spacing of the Misc D Stack object. 
$sprk-stack-spacing-misc-d: $sprk-space-misc-d !default;
/// The breakpoint for Stack objects that split at the extra extra small point. 
$sprk-split-breakpoint-xxs: 20rem !default;
/// The breakpoint for Stack objects that split at the extra small point. 
$sprk-split-breakpoint-xs: 30rem !default;
/// The breakpoint for Stack objects that split at the small point. 
$sprk-split-breakpoint-s: 42.5rem !default;
/// The breakpoint for Stack objects that split at the medium point. 
$sprk-split-breakpoint-m: 55rem !default;
/// The breakpoint for Stack objects that split at the large point. 
$sprk-split-breakpoint-l: 67.5rem !default;
/// The breakpoint for Stack objects that split at the extra large point. 
$sprk-split-breakpoint-xl: 80rem !default;