---
notes: This is the base for tabs.
hidden: true
---

<div class="c-Tabs">
  <div class="c-Tabs__buttons">
      <button class="c-Tabs__button {{class}}" data-toggle="target-1" type="button">
        Tab 1
      </button>

      <button class="c-Tabs__button" data-toggle="target-2" type="button">
        Tab 2
      </button>

      <button class="c-Tabs__button" data-toggle="target-3" type="button">
        Tab 3
      </button>
  </div>

  <div class="c-Tabs__content" id="target-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, vel consequat ante consectetur in. Ut interdum dictum est at ornare. Nam nec dapibus nibh. Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.</p>
  </div>
  <div class="c-Tabs__content" id="target-2"></div>
  <div class="c-Tabs__content" id="target-3"></div>
</div>
