<div class="sprk-u-mbm">
  <p>
    The default Promo component includes only body text by default, but it can also
    optionally include a title, subtitle, and button/link.  See below for additional variants
    that include images in various layouts.
  </p>
</div>
