<div class="sprk-u-mbm">
  <p>
    The Promo component in
    spark-core-angular consists of
    two Angular components:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>
      <strong>sprk-promo</strong>
    </li>

    <li>
      <strong>sprk-icon</strong>
    </li>
  </ul>

  <p>
    The default Promo component
    will render with a heading and
    body text. See below on how to
    add in an image or icon.
  </p>
</div>
