<p class="sprk-u-mbm">
  This variant is rendered when <span class="sprk-u-FontWeight--bold">imgSrc</span>
  has a value and <span class="sprk-u-FontWeight--bold">isFlag</span> is false.
  You will also need to provide a value for <span class="sprk-u-FontWeight--bold">imgAlt</span>.
</p>
