<p class="sprk-u-mbm">
  To have the Promo media be rendered on the right
  side of the content, set the mediaRev input to 'yes'.
  The default if mediaRev is 'no' or not set at all is
  the media on the left side.
</p>
