<p class="sprk-u-mbm">
  To have the Promo media be rendered on the right
  side of the content, set the mediaRev input to 'yes'.
  If mediaRev is set to no or not set at all then
  the media will be rendered on the left side of
  the content.
</p>
