---
name: Column Comparison
notes: |
    When the data is meant to be compared column to column.
labels:
  - inprogress
order: 1
---

<table class="data-table">
    <thead class="data-table__heading">
    <tr class="data-table__row data-table__row--heading">
        <th class="data-table__cell">
            Column Heading
        </th>
        <th class="data-table__cell">
            Column Heading
        </th>
        <th class="data-table__cell">
            Column Heading
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="data-table__row">
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-name column-name--sample">Data 3</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-name column-name--sample">Data 3</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-name column-name--sample">Data 3</td>
    </tr>
    </tbody>
</table>
