---
name: Column Comparison
notes: |
    When the data is meant to be compared column to column.
labels:
  - inprogress
order: 1
---
<table class="table--spacing-large table--striped-even c-table table--bordered-columns table--bordered-columns-inside">
    <thead class="c-table__head">
        <tr>
            <th>Column Heading</th>
            <th>Column Heading</th>
            <th>Column Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
    </tbody>
</table>
