---
name: Grouped Columns
notes: |
    When there is a need to group headings together.
labels:
  - inprogress
order: 2
---

<table class="data-table">
    <thead>
    <tr class="data-table__row data-table__row--heading">
        <th class="data-table__cell data-table__cell-heading" rowspan="2">
            Column Heading
        </th>
        <th class="data-table__cell data-table__cell-heading" colspan="5">
            Column Heading
        </th>
        <th class="data-table__cell data-table__cell-heading" rowspan="2">
            Column Heading
        </th>
    </tr>
    <tr class="data-table__row data-table__row--heading">
        <th class="data-table__cell data-table__cell--sub-heading">Sub Heading 1</th>
        <th class="data-table__cell data-table__cell--sub-heading">Sub Heading 2</th>
        <th class="data-table__cell data-table__cell--sub-heading">Sub Heading 3</th>
        <th class="data-table__cell data-table__cell--sub-heading">Sub Heading 4</th>
        <th class="data-table__cell data-table__cell--sub-heading">Sub Heading 5</th>
    </tr>
    </thead>
    <tbody class="">
    <tr class="data-table__row">
        <td class="data-table__cell"> Data 1 </td>
        <td class="data-table__cell column-group column-group--first">Column Group Name</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 3</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 4</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 5</td>
        <td class="data-table__cell column-group column-group--last column-name column-name--sample">Data 6</td>
        <td class="data-table__cell column-name--sample"> Data 7</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell"> Data 1 </td>
        <td class="data-table__cell column-group column-group--first">Column Group Name</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 3</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 4</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 5</td>
        <td class="data-table__cell column-group column-group--last column-name column-name--sample">Data 6</td>
        <td class="data-table__cell column-name--sample"> Data 7</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell"> Data 1 </td>
        <td class="data-table__cell column-group column-group--first">Column Group Name</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 2</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 3</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 4</td>
        <td class="data-table__cell column-group column-name column-name--sample">Data 5</td>
        <td class="data-table__cell column-group column-group--last column-name column-name--sample">Data 6</td>
        <td class="data-table__cell column-name--sample">Data 7</td>
    </tr>
    </tbody>
</table>
