---
name: Grouped Columns
notes: |
    When there is a need to group headings together.
labels:
  - inprogress
order: 2
---
<table class="table--spacing-large table--striped-even table table--bordered-columns table--bordered-columns-inside table__grouped-columns">
    <thead class="table__head">
    <tr>
        <th rowspan="2">Column Heading</th>
        <th colspan="5">Column Heading</th>
        <th rowspan="2">Column Heading</th>
    </tr>
    <tr>
        <th class="table__grouped-column">SubHeading</th>
        <th class="table__grouped-column">SubHeading</th>
        <th class="table__grouped-column">SubHeading</th>
        <th class="table__grouped-column">SubHeading</th>
        <th class="table__grouped-column">SubHeading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
        <td>Data 6</td>
        <td>Data 7</td>
    </tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
        <td>Data 6</td>
        <td>Data 7</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
        <td>Data 6</td>
        <td>Data 7</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
        <td>Data 6</td>
        <td>Data 7</td>
    </tr>
    </tbody>
</table>
