---
name: Row Comparison
notes: |
    When the data is meant to be compared row to row.
labels:
  - inprogress
order: 3
---
<table class="table--spacing-large table--striped-even table table--bordered-columns table--bordered-columns-inside table--row-comparison">
    <thead class="table__head">
    <tr>
        <th class="table__empty-heading"></th>
        <th>Column Heading</th>
        <th>Column Heading</th>
        <th>Column Heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    </tbody>
</table>
