---
name: Row Comparison
notes: |
    When the data is meant to be compared row to row.
labels:
  - inprogress
order: 3
---

<table class="data-table data-table--row-comparison">
    <thead>
    <tr class="data-table__row data-table__row--heading">
        <th></th>
        <th class="data-table__cell data-table__cell-heading">Column Heading</th>
        <th class="data-table__cell data-table__cell-heading">Column Heading</th>
        <th class="data-table__cell data-table__cell-heading">Column Heading</th>
    </tr>

    </thead>
    <tbody>
    <tr class="data-table__row">
        <td class="data-table__cell data-table__cell-heading">Row Heading</td>
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell">Data 2</td>
        <td class="data-table__cell">Data 3</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell data-table__cell-heading">Row Heading</td>
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell">Data 2</td>
        <td class="data-table__cell">Data 3</td>
    </tr>
    <tr class="data-table__row">
        <td class="data-table__cell data-table__cell-heading">Row Heading</td>
        <td class="data-table__cell">Data 1</td>
        <td class="data-table__cell">Data 2</td>
        <td class="data-table__cell">Data 3</td>
    </tr>
    </tbody>
</table>

<div class="mobile-table">
    <div class="mobile-table-card">
        <h2 class="mobile-table-card__header">Column Heading</h2>
        <table class="mobile-table-card__content">
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 1</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 2</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 3</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="mobile-table-card">
        <h2 class="mobile-table-card__header">Column Heading</h2>
        <table class="mobile-table-card__content">
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 1</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 2</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 3</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="mobile-table-card">
        <h2 class="mobile-table-card__header">Column Heading</h2>
        <table class="mobile-table-card__content">
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 1</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 2</span>
                </td>
            </tr>
            <tr class="mobile-table-card__row">
                <td class="mobile-table-card__cell">
                    <span>Column Heading</span>
                </td>
                <td class="mobile-table-card__cell mobile-table-card__cell--middle">
                    <span>Data 3</span>
                </td>
            </tr>
        </table>
    </div>
</div>
