---
name: Row Comparison
notes: |
    When the data is meant to be compared row to row.
labels:
  - inprogress
order: 3
---
<table class="table--spacing-large table--striped-even c-Table table--bordered-columns table--bordered-columns-inside c-Table--row-comparison">
    <thead class="c-Table__head">
    <tr>
        <th class="c-Table__empty-heading"></th>
        <th>Column Heading</th>
        <th>Column Heading</th>
        <th>Column Heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="c-Table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="c-Table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="c-Table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    <tr>
        <th class="c-Table__row-heading">Row Heading</th>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
    </tr>
    </tbody>
</table>
