{{#extend "blank" htmlclass="drizzle-Layout" bodyclass="drizzle-Layout-body"}}
  {{#content "head" mode="append"}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113915182-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113915182-1');
    </script>

  {{/content}}
  {{#content "body"}}
      {{> drizzle.spark-core-icons}}
    {{> drizzle.nav}}
    <div class="drizzle-Layout-main drizzle-u-cf drizzle-copy">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "main"}}

        {{/block}}
      </div>
    </div>
  {{/content}}
  {{#content "foot"}}
    <script src="{{@root.baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
  {{/content}}
{{/extend}}
