{{#extend "blank" htmlclass=" drizzle-o-Layout" bodyclass=" drizzle-o-Layout-body drizzle-b-Body"}}
  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" /> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113915182-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113915182-1');
    </script>
  {{/content}}

  {{#content "body"}}
    <div class="drizzle-o-Layout__wrapper" data-sprk-main>
      {{> drizzle.nav}}
      <div class="drizzle-o-Layout__main">
        {{#block "main"}}{{/block}}
      </div>
    </div>
    {{#block "foot"}}
      {{> drizzle.footer}}
    {{/block}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
    <script type="text/javascript"> docsearch({ 
      apiKey: '9486baf438a1d7fd0b6c982838d6f9bc', 
      indexName: 'sparkdesignsystem', 
      inputSelector: '.drizzle-b-TextInput--search', 
      debug: true// Set debug to true if you want to inspect the dropdown 
      }); 
    </script> 

  {{/content}}
{{/extend}}
