<div class="sprk-u-mbm">
  <p>The Masthead component in spark-angular has several normal Inputs, seen below, as well as two 'slots'
    for use in specific use cases defined by the consuming app.</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><strong>little-nav-slot</strong> - <span>This is used for patterns in the top of the masthead. Typically this is
      used for site navigation.</span></li>
    <li><strong>utility-slot</strong> - <span>This is used for pattens in the upper right of the masthead. Typically used
      for settings, user account links, etc.</span></li>
    <li><strong>logo-slot</strong> - <span>This is used for the logo in the top left of the masthead.</span></li>
    <li><strong>navItem-slot</strong> - <span>This is used for the link in the upper right of the mobile version of the masthead.</span></li>
  </ul>
</div>
