---
name: Brand Colors
sourceless: true
order: 1
labels:
  - inprogress
---

{{#each (data "colors")}}
  <h3>{{@key}}</h3>
  <ul class="drizzle-u-listInline drizzle-u-marginBottom">
    {{#each this}}
      <li>
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
