<sprk-stepper idString="stepper-1">
  <sprk-stepper-step heading="Step One" variant="hasDescription" isDefaultActive="true">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Praesentium, consectetur esse.
      Consequuntur, eligendi architecto! Animi amet,
      velit quas ipsum earum corporis quis necessitatibus
      vitae.
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Two" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Praesentium, consectetur
      esse. Consequuntur, eligendi architecto!
      Animi amet, velit quas ipsum earum corporis
      quis necessitatibus vitae. Praesentium,
      consectetur esse. Consequuntur, eligendi
      architecto!
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Three" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Praesentium, consectetur esse.
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Four" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Praesentium, consectetur
      esse. Consequuntur, eligendi architecto!
      Animi amet, velit quas ipsum earum corporis
      quis necessitatibus vitae.
    </p>
  </sprk-stepper-step>
</sprk-stepper>