<sprk-stepper idString="stepper-1">
  <sprk-stepper-step heading="Step One" variant="hasDescription" isDefaultActive="true">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Two" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Three" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </sprk-stepper-step>

  <sprk-stepper-step heading="Step Four" variant="hasDescription">
    <p class="sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </sprk-stepper-step>
</sprk-stepper>