---
name: Disabled
text: Disabled
description:
  These have a muted color and are not clickable.
order: 4
hasAngularCode: true
hasAngularCodeInfo: true
---
<a class="sprk-b-Link sprk-b-Link--disabled" href="#nogo" data-id="link-3" data-analytics="object.action.event">{{text}}</a>
