---
name: Disabled Link
text: Disabled Link
notes:
  These have a muted color and pointer events disabled
  via CSS to show the link is disabled and not clickable.
order: 3
---
<a class="sprk-b-Link sprk-b-Link--disabled" href="#nogo">{{text}}</a>
