---
name: Icon With Text Link
text: Message Us
description:
  This is the link and icon style
  to use when there is an icon
  with description text. You may change the
  size of the icon by adjusting the icon modifier class
  that is on the svg element.
order: 3
hasAngularCode: true
hasAngularCodeInfo: true
---
<a
  class="sprk-b-Link sprk-b-Link--plain"
  href="#nogo"
  data-id="link-1"
  data-analytics="object.action.event">
  <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs sprk-c-Icon--current-color" viewBox="0 0 100 100">
    <use xlink:href="#communication" />
  </svg>

  {{ text }}
</a>
