---
name: Inline Link
text: Inline Link
notes:
  Inline links are the standard link type. They appear
  within a block of content. Inline links inherit the font family,
  size, weight, and line height of the block of content that it appears in.
order: 1
---
<a class="sprk-b-Link" href="#nogo">{{text}}</a>
