---
name: Inline
text: Inline
description:
  These are the standard link type. They appear
  within a block of content. They inherit the font family,
  size, weight, and line height of the block of content that they appear in.
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
---
<a class="sprk-b-Link" href="#nogo">{{text}}</a>
