---
name: Base Link
text: Base Link
description:
  These are the standard link type. They typically appear
  within a block of content, but can be used on their own.
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
---
<a class="sprk-b-Link" href="#nogo" data-id="link-1" data-analytics="object.action.event">{{text}}</a>
