---
name: Simple Link
text: Simple Link
description:
  These are generally used when they are not part of a body of text.
  For example, a list of secondary navigation links in the footer or a cancel action next to a submit button.
order: 2
hasAngularCode: true
hasAngularCodeInfo: true
---
<a class="sprk-b-Link sprk-b-Link--simple" href="#nogo" data-id="link-2" data-analytics="object.action.event">{{text}}</a>
