---
doclayout: true
order: 7
name: Color
description: These utilities control CSS properties related to color and background color.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-45">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--black</td>
      <td>Sets the font color to black.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--blue</td>
      <td>Sets the font color to blue.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--gray</td>
      <td>Sets the font color to gray.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--green</td>
      <td>Sets the font color to green.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--red</td>
      <td>Sets the font color to red.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--red-tint-75</td>
      <td>Sets the font color to red-tint-75.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--red-tint-50</td>
      <td>Sets the font color to red-tint-50.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--red-tint-25</td>
      <td>Sets the font color to red-tint-25.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--white</td>
      <td>Sets the font color to white.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Color--yellow</td>
      <td>Sets the font color to yellow.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--black</td>
      <td>Sets the background color to black.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--black-tint-75</td>
      <td>Sets the background color to the black tinted at 75%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--black-tint-50</td>
      <td>Sets the background color to the black tinted at 50%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--black-tint-25</td>
      <td>Sets the background color to the black tinted at 25%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--blue</td>
      <td>Sets the background color to blue.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--blue-tint-75</td>
      <td>Sets the background color to blue tinted at 75%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--blue-tint-50</td>
      <td>Sets the background color to blue tinted at 50%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--blue-tint-25</td>
      <td>Sets the background color to blue tinted at 25%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--gray</td>
      <td>Sets the background color to gray.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--green</td>
      <td>Sets the background color to green.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--green-tint-75</td>
      <td>Sets the background color to green tinted at 75%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--green-tint-50</td>
      <td>Sets the background color to green tinted at 50%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--green-tint-25</td>
      <td>Sets the background color to green tinted at 25%.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--red</td>
      <td>Sets the background color to red.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--red-tint-75</td>
      <td>Sets the background color to red-tint-75.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--red-tint-50</td>
      <td>Sets the background color to red-tint-50.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--red-tint-25</td>
      <td>Sets the background color to red-tint-25.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--white</td>
      <td>Sets the background color to white.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--yellow</td>
      <td>Sets the background color to yellow.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--yellow-tint-75</td>
      <td>Sets the background color to yellow-tint-75.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--yellow-tint-50</td>
      <td>Sets the background color to yellow-tint-50.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-BackgroundColor--yellow-tint-25</td>
      <td>Sets the background color to yellow-tint-25.</td>
    </tr>
  </tbody>
</table>
