---
doclayout: true
order: 2
name: Floats, Position, & Alignment
description: These utilities control CSS properties related to floating, positioning, and alignment.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Float--none</td>
      <td>Resets the float property of an element back to none.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Float--left</td>
      <td>Floats an element to the left.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Float--right</td>
      <td>Floats an element to the right.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Position--relative</td>
      <td>The element is positioned according to the normal flow of the document, and then offset relative to itself.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Position--absolute</td>
      <td>The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to its closest positioned ancestor.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Position--fixed</td>
      <td>The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to the initial containing block established by the viewport.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Position--static</td>
      <td>The element is positioned according to the normal flow of the document.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Top--zero</td>
      <td>Resets an element's top offset back to zero.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Bottom--zero</td>
      <td>Resets an element's bottom offset back to zero.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Left--zero</td>
      <td>Resets an element's left offset back to zero.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Right--zero</td>
      <td>Resets an element's right offset back to zero.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextAlign--left</td>
      <td>Aligns text to the left of the container.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextAlign--right</td>
      <td>Aligns text to the right of the container.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextAlign--center</td>
      <td>Aligns text in the horizontal center of the container.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-VerticalAlign--top</td>
      <td>Aligns the contents of a box to the top if it's display property is inline or table-cell.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-VerticalAlign--middle</td>
      <td>Aligns the contents of a box to the vertical middle if it's display property is inline or table-cell.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-VerticalAlign--bottom</td>
      <td>Aligns the contents of a box to the bottom if it's display property is inline or table-cell.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-VerticalAlign--baseline</td>
      <td>Aligns the contents of a box to the baseline if it's display property is inline or table-cell.</td>
    </tr>
  </tbody>
</table>
