---
doclayout: true
order: 9
name: Height
description:
  This utility sets the height of an
  element to a percentage value.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Height--100</td>
      <td>Changes the height of the element to 100 percent.</td>
    </tr>
  </tbody>
</table>
