---
doclayout: true
order: 4
name: Overflow
description:
  These utilities control CSS properties related to
  overflow, which specifies how to handle content
  that is too large for its container.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Overflow--visible</td>
      <td>Content is not clipped and may be rendered outside the padding box.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Overflow--hidden</td>
      <td>Content is clipped if necessary to fit the padding box. No scrollbars are provided.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Overflow--scroll</td>
      <td>Content is clipped if necessary to fit the padding box. Browsers display scrollbars whether or not any content is actually clipped.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Overflow--auto</td>
      <td>If content fits inside the padding box, it looks the same as visible, but still establishes a new block-formatting context.</td>
    </tr>
  </tbody>
</table>
