---
doclayout: true
order: 3
name: Typography
description: These utilities control CSS properties related to typography.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-FontWeight--bold</td>
      <td>Sets the font weight to bold.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-FontWeight--normal</td>
      <td>Sets the font weight to normal.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-FontStyle--italic</td>
      <td>Sets the font style to italic.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-FontStyle--normal</td>
      <td>Sets the font style to normal.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextDecoration--underline</td>
      <td>Sets the text decoration to underline.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextDecoration--none</td>
      <td>Sets the text decoration to none.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextTransform--uppercase</td>
      <td>Transforms text to uppercase.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextTransform--none</td>
      <td>Removes text transformation for text.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-WordWrap--break-word</td>
      <td>Sets word-wrap to break-word.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-WhiteSpace--nowrap</td>
      <td>Sets white-space to nowrap.</td>
    </tr>
  </tbody>
</table>
