---
name: Primary
description:
  Use a Primary button for the main action we want the user to take.
  Avoid using more than one Primary button per page.
  Please use title case for Primary buttons.
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
hasReactCode: true
hasReactCodeInfo: true
---

<button class="sprk-c-Button{{#if class}} {{class}}{{/if}}{{#if disabled}} sprk-is-Disabled{{/if}}" {{#if button}} type="button"{{/if}} data-id="button-1" {{#if disabled}} disabled{{/if}}>
  Button
</button>
