<sprk-stack itemSpacing="medium" splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--flex@xs">
    <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
       Column One
     </h2>

    <sprk-stack itemSpacing="small">
      <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 1
        </a>
      </div>

      <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 2
        </a>
      </div>

     <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 3
        </a>
      </div>
    </sprk-stack>
  </div>

  <div sprkStackItem class="sprk-o-Stack__item--flex@xs">
    <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
       Column Two
     </h2>

    <sprk-stack itemSpacing="small">
      <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 1
        </a>
      </div>

      <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 2
        </a>
      </div>

     <div sprkStackItem>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          Link 3
        </a>
      </div>
    </sprk-stack>
  </div>
</sprk-stack>
