<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs"></div>
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs"></div>
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs"></div>
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs"></div>
</sprk-stack>
