---
title: Color
---
<div class="drizzle-Layout-section-header">
  <h1 class="drizzle-h1">
    Color
  </h1>
</div>
<div class="drizzle-Layout-content">
  {{#each (data "colors")}}
    <h2 class="drizzle-h2">{{@key}}</h2>
    <ul class="drizzle-u-listInline drizzle-u-marginBottom">
      {{#each this}}
        <li>
          {{> drizzle.swatch }}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
