<div class="sprk-u-mbm">
  <p>The Accordion component in spark-angular consists of two Angular components:</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><strong>sprk-accordion</strong></li>
    <li><strong>sprk-accordion-item</strong></li>
  </ul>
  <p>The component expects you to put sprk-accordion-item components inside it. Any other content will render, but is not
  supported. The sprk-accordion-item component should at a minimum, have a title input and should contain the content to
  be toggled. By default, toggles are rendered closed.</p>
</div>
