---
name: Stack Object - Mixed Column Layout
description: You can mix and match item sizes to create your own grid. Make sure
  the items add up to 100% or the grid will not work.
order: 11
restrictions:
  - You cannot use spacing modifier classes with the Stack item column modifier.
  - Use padding to apply inner space to the Stack items.
  - Items must add up to 1 or the grid will not work (1/2 + 1/2 = 1).
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fourth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      half
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fourth
    </p>
  </div>
</div>

<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      flex
    </p>
  </div>
</div>

<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
</div>

<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs">
    <div class="sprk-o-Stack sprk-o-Stack--meduim sprk-o-Stack--split@xs">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p class="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </div>
      <div class="sprk-o-Stack__item sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p class="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </div>
    </div>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      half
    </p>
  </div>
</div>

<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      three-fifths
    </p>
  </div>
</div>
