---
name: Stack Object - Three Column Layout
description: A responsive layout that moves from three stacked columns to
  three side by side columns at the breakpoint you specify.
order: 5
restrictions:
  - You cannot use spacing modifier classes with the Stack item column size modifier.
  - Use padding to apply inner space to the Stack items.
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs"></div>
</div>
