---
doclayout: true
name: Stack and Stack Item Options
order: 2
---
<h3 class="drizzle-b-h3">
  Stack Options
</h3>
<table class="drizzle-c-Table sprk-u-mbh">
  <colgroup>
    <col class="sprk-u-Width-35">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>
        Modifier Class
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--center-row</td>
      <td>
        When placed on a container, its children will be centered along the main-axis of the container.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--center-column</td>
      <td>
        When placed on a container, its children will be centered along the cross axis of the container.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--tiny</td>
      <td>
        This is used for spacing out items in the Stack container.
        When placed on a container, its children
        will have <a class="drizzle-b-Link" href="https://sparkdesignsystem.com/patterns/fundamentals/space">"tiny"</a>
        space on the bottom (on the side if they are in "split" position). The last item
        will not have space.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--small</td>
      <td>
        This is used for spacing out items in the Stack container.
        When placed on a container, its children
        will have <a class="drizzle-b-Link" href="https://sparkdesignsystem.com/patterns/fundamentals/space">"small"</a>
        space on the bottom (on the side if they are in "split" position). The last item
        will not have space.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--medium</td>
      <td>
        This is used for spacing out items in the Stack container.
        When placed on a container, its children
        will have <a class="drizzle-b-Link" href="https://sparkdesignsystem.com/patterns/fundamentals/space">"medium"</a>
        space on the bottom (on the side if they are in "split" position). The last item
        will not have space.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--large</td>
      <td>
        This is used for spacing out items in the Stack container.
        When placed on a container, its children
        will have <a class="drizzle-b-Link" href="https://sparkdesignsystem.com/patterns/fundamentals/space">"large"</a>
        space on the bottom (on the side if they are in "split" position). The last item
        will not have space.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--huge</td>
      <td>
        This is used for spacing out items in the Stack container.
        When placed on a container, its children
        will have <a class="drizzle-b-Link" href="https://sparkdesignsystem.com/patterns/fundamentals/space">"huge"</a>
        space on the bottom (on the side if they are in "split" position). The last item
        will not have space.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--split@xs</td>
      <td>
        When placed on a container, its children will go from a stacked layout to a side by side layout
        at the extra small split breakpoint.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--split@s</td>
      <td>
        When placed on a container, its children will go from a stacked layout to a side by side layout
        at the small split breakpoint.
      </td>
    </tr>


    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--split@m</td>
      <td>
        When placed on a container, its children will go from a stacked layout to a side by side layout
        at the medium split breakpoint.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--split@l</td>
      <td>
        When placed on a container, its children will go from a stacked layout to a side by side layout
        at the large split breakpoint.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack--split@xl</td>
      <td>
        When placed on a container, its children will go from a stacked layout to a side by side layout
        at the extra large split breakpoint.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Stack Item Options
</h3>
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>
        Modifier Class
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--center</td>
      <td>
        When placed on a specific item,
        it will be centered along the cross axis of the container.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--flex@xs</td>
      <td>
        When placed on an item, it will flex to take up the remaining space in its container
        starting at the split breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--sixth@xl</td>
      <td>
        When placed on an item, its width will be 1/6 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--fifth@l</td>
      <td>
        When placed on an item, its width will be 1/5 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--fourth@m</td>
      <td>
        When placed on an item, its width will be 1/4 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--third@s</td>
      <td>
        When placed on an item, its width will be 1/3 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--half@xs</td>
      <td>
        When placed on an item, its width will be 1/2 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--half@xl</td>
      <td>
        When placed on an item, its width will be 1/2 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--three-fourths@l</td>
      <td>
        When placed on an item, its width will be 3/4 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--three-fifths@m</td>
      <td>
        When placed on an item, its width will be 3/5 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-o-Stack__item--two-fifths@s</td>
      <td>
        When placed on an item, its width will be 2/5 of
        its container starting at the breakpoint specified (xs, s, m, l, xl).
      </td>
    </tr>
  </tbody>
</table>
