---
name: Stack Object - Two Column Layout
description: A responsive layout that moves from two stacked columns to
  two 50% width side by side columns at the breakpoint you specify.
order: 4
restrictions:
  - You cannot use spacing modifier classes with the Stack item column size modifier.
  - Use padding to apply inner space to the Stack items.
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs"></div>
</div>
