---
name: Stack Object - 60/40 Layout
description: A responsive layout that moves from two stacked columns to
  two side by side columns at 60% and 40% width at the breakpoint you specify.
order: 10
restrictions:
  - You cannot use spacing modifier classes with the Stack item column size modifier.
  - Use padding to apply inner space to the Stack items.
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fifths@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--two-fifths@xs"></div>
</div>
