---
name: Stack Object With Split
description: The Stack object can have an additional modifier class to
             align the items side by side at a given breakpoint. The items
             stack until they hit the specified breakpoint. The available breakpoints
             are xs, s, m, l, and xl. The width of the items will be whatever their
             default width is.
order: 3
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
  <div class="sprk-o-Stack__item"></div>

  <div class="sprk-o-Stack__item"></div>
</div>
