---
name: Stack Object - 75/25 Layout
description: A responsive layout that moves from two stacked columns to
  two side by side columns of 75% and 25% width at the breakpoint you specify.
order: 9
restrictions:
  - You cannot use spacing modifier classes with the Stack item column size modifier.
  - Use padding to apply inner space to the Stack items.
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fourths@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs"></div>
</div>
