---
name: Stack Object - Four Column Layout
description: A responsive layout that moves from four stacked columns to
  four side by side columns at the breakpoint you specify.
order: 6
restrictions:
  - You cannot use spacing modifier classes with the Stack item size column modifier.
  - Use padding to apply inner space to the Stack items.
hasAngularCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs"></div>
</div>
