---
name: Stack Object - 30/70 Layout
description:
  A responsive layout that moves from two stacked columns to
  two side by side columns at 30% and 70% width at the breakpoint you specify.
order: 11
restrictions:
  - You cannot use spacing modifier classes with the Stack item column size modifier.
  - Use padding to apply inner space to the Stack items.
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--three-tenths@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--seven-tenths@xs"></div>
</div>
