---
name: Stack Object
description: The Stack object lays items out in a column.
  See tabular data below for item spacing modifiers.
  The default spacing is set to none.
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
hasAngularDocs: true
---
<div class="sprk-o-Stack">
  <div class="sprk-o-Stack__item">
  </div>

  <div class="sprk-o-Stack__item">
  </div>
</div>
