---
name: Stack Object - Five Column Layout
description: A responsive layout that moves from four stacked columns to
  four side by side columns at the breakpoint you supply.
order: 7
restrictions:
  - You cannot use spacing modifier classes with the Stack item column modifier.
  - Use padding to apply inner space to the Stack items.
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs"></div>
</div>
