<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">dropdownType</td>
    <td>string</td>
    <td>Can be 'base' or 'informational'. Will cause the appropriate variant type to render.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the dropdown component.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalTriggerClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the dropdown component's trigger.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">idString</td>
    <td>string</td>
    <td>The value supplied will be assigned to the data-id attribute on the dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">analyticsString</td>
    <td>string</td>
    <td>The value supplied will be assigned to the data-analytics attribute on the dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">isOpen</td>
    <td>boolean</td>
    <td>Describes the initial state of the dropdown menu.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>string</td>
    <td>The value supplied will be displayed in a box above the choices.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">choices</td>
    <td>object[]</td>
    <td>Expects an array of choice objects. See below for details about the choice object.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">triggerIconType</td>
    <td>string</td>
    <td>If supplied, will render the icon to the right of the trigger text.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">triggerText</td>
    <td>string</td>
    <td>The text that is initially rendered to the trigger. If dropdownType is 'informational', clicking on a choice will change the trigger text.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">screenReaderText</td>
    <td>string</td>
    <td>The value supplied will be visually hidden inside the trigger. Userful for when title is empty, and only triggerIconType is supplied.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">choiceMade (@Output)</td>
    <td>string</td>
    <td>When the dropdownType is 'informational' and a user clicks on a choice from the menu, the choiceMade event is emitted from the dropdown and contains the value of the clicked choice.</td>
  </tr>
  </tbody>
</table>
<p class="sprk-u-mbm">The choice object represents a choice that can be supplied to the dropdown.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">text</td>
    <td>string</td>
    <td>The text that is rendered to the screen. Only rendered if content is not present.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">content</td>
    <td>object</td>
    <td>Contains a sub object for a more detailed choice. See below for information.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">value</td>
    <td>string</td>
    <td>If the dropdownType is 'informational', the value will be set to the trigger text and also emitted on the click of a choice.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">active</td>
    <td>string</td>
    <td>If the dropdownType is 'informational', if true, the choice will be rendered initially in the active state. This is overridden by user action.</td>
  </tr>
  </tbody>
</table>
<p class="sprk-u-mbm">The content object represents a choice's text that is more complex than just one line of text.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>Choice Title</td>
    <td>The text that is rendered to the screen in bold and at the top of the choice.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine1</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine2</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  </tbody>
</table>
