---
name: Base
hidden: true
---

<div class="sprk-c-HighlightBoard {{#if image}}sprk-c-HighlightBoard--has-image {{/if}}{{#if fullwidth}}sprk-u-FullWidth {{/if}}sprk-u-mbm">
  {{#if image }}
  <img class="sprk-c-HighlightBoard__image" src="{{imagefile}}">
  {{/if}}

  <div class="sprk-c-HighlightBoard__content sprk-b-Measure">
    <div class="sprk-c-HighlightBoard__headings sprk-o-Stack sprk-o-Stack--medium">
      <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__primary-heading sprk-o-Stack__item">
        Lift the burden of getting a home loan
      </h1>

      <h4 class="sprk-b-TypeDisplayFour sprk-c-HighlightBoard__sub-heading sprk-o-Stack__item">
        Fast, Powerful and Completely Online
      </h4>
    </div>

    <div class="sprk-o-Stack sprk-o-Stack--split@xs">
      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button sprk-c-Button--secondary">
          Learn More
        </button>
      </div>

      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button sprk-c-Button--secondary">
          CTA Link
        </button>
      </div>
    </div>
  </div>
</div>
