---
name: Basic Highlight Board
description:
  The basic highlight board has a headline, subheadline, call to action, and a dark gray background.
order: 1
labels:
  - inprogress
---

<div class="sprk-c-HighlightBoard sprk-u-BackgroundColor--gray-dark">
  <div class="sprk-c-HighlightBoard__content">
    <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__heading sprk-u-TextColor--white sprk-u-mbs">Lift the burden of getting a home loan</h1>
    <h4 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__subheading sprk-u-TextColor--white sprk-u-mbm">Fast, Powerful and Completely Online</h4>
    <button class="sprk-c-HighlightBoard__cta sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm">
      Learn More
    </button>
  </div>
</div>
