---
name: Base
hidden: true
---
<div class="sprk-c-HighlightBoard {{#if image}}sprk-c-HighlightBoard--has-image {{/if}} {{#if stacked}}sprk-c-HighlightBoard--stacked {{/if}}sprk-u-mbm {{#if fullwidth}}sprk-u-FullWidth{{/if}}" {{#if idString}}data-id="{{idString}}"{{/if}}>
  {{#if image }}
    <img class="sprk-c-HighlightBoard__image" src="{{imagefile}}" alt="desktop">
  {{/if}}

  <div class="sprk-c-HighlightBoard__content sprk-o-Stack sprk-o-Stack--large">
    <h1 class="sprk-b-TypeDisplayOne sprk-c-HighlightBoard__heading sprk-o-Stack__item">
      Hello, Welcome To Spark Design System
    </h1>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-o-Stack--center-column {{#if stacked}}sprk-o-Stack--center-row{{/if}}">
      <div class="sprk-o-Stack__item sprk-c-HighlightBoard__cta">
        <a class="sprk-c-Button sprk-c-Button--full@sm" href="/gettingstarted/designers.html">
          Designers
        </a>
      </div>

      <div class="sprk-o-Stack__item sprk-c-HighlightBoard__cta">
        <a class="sprk-c-Button sprk-c-Button--full@sm sprk-c-Button--secondary" href="/gettingstarted/developers.html">
          Developers
        </a>
      </div>
    </div>
  </div>
</div>
