---
name: Directional Highlight Board
description: |
  The directional Highlight Board pattern has 2 calls to action.
order: 3
labels:
  - inprogress
---

<div class="sprk-c-HighlightBoard sprk-u-BackgroundColor--gray-dark">
  <div class="sprk-c-HighlightBoard__content">
    <h1 class="sprk-b-TypeDisplayTwo sprk-c-HighlightBoard__heading sprk-u-TextColor--white sprk-u-mbs">Lift the burden of getting a home loan</h1>
    <h4 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__subheading sprk-u-TextColor--white sprk-u-mbm">Fast, Powerful and Completely Online</h4>
    <button class="sprk-c-HighlightBoard__cta sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm sprk-u-mrm">
      Refinance Your Mortgage
    </button>
    <button class="sprk-c-HighlightBoard__cta sprk-c-Button sprk-c-Button--full@sm">
      Purchase a New Home
    </button>
  </div>
</div>
