---
name: Highlight Board with Image
notes: |
  Highlight Boards can have an image in the background.
order: 2
labels:
  - inprogress
---

<div class="sprk-c-HighlightBoard">
  <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop.jpg" />
  <div class="sprk-c-HighlightBoard__content sprk-c-HighlightBoard__content--image">
    <h1 class="sprk-b-Heading sprk-b-Heading--display-two sprk-c-HighlightBoard__heading sprk-u-TextColor--white sprk-u-mbs">Lift the burden of getting a home loan</h1>
    <h4 class="sprk-b-Heading sprk-b-Heading--display-three sprk-c-HighlightBoard__subheading sprk-u-TextColor--white sprk-u-mbm">Fast, Powerful and Completely Online</h4>
    <button class="sprk-c-HighlightBoard__calltoaction sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm">
      Learn More
    </button>
  </div>
</div>
