---
name: Jumbo Highlight Board
notes: |
  Jumbo boards have shorter headlines.
order: 5
labels:
  - inprogress
---

<div class="sprk-c-HighlightBoard">
  <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop.jpg" />
  <div class="sprk-c-HighlightBoard__content sprk-c-HighlightBoard__content--image">
    <h1 class="sprk-b-Heading sprk-b-Heading--display-two sprk-c-HighlightBoard__heading sprk-u-TextColor--white">Push Button, Get Mortgage</h1>
  </div>
</div>
