---
order: 3
description:
  The stacked variation of the Highlight Board allows
  for the image, content and CTA to be separated to allow
  the subject matter of the image to become the primary focus.
hasAngularCode: true
hasAngularDocs: true
---
<div class="sprk-c-HighlightBoard sprk-c-HighlightBoard--stacked sprk-c-HighlightBoard--has-image sprk-u-mbm">
  <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop--flush.jpg">

  <div class="sprk-c-HighlightBoard__content">
    <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__primary-heading">
      Hello, Welcome To Spark Design System
    </h1>

    <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-o-Stack--center-column sprk-o-Stack--center-row">
      <div class="sprk-o-Stack__item sprk-c-HighlightBoard__primary-btn">
        <a class="sprk-c-Button sprk-c-Button--full@sm" href="/gettingstarted/designers.html">
          Designers
        </a>
      </div>

      <div class="sprk-o-Stack__item">
        <a class="sprk-c-Button sprk-c-Button--secondary" href="/gettingstarted/developers.html">
          Developers
        </a>
      </div>
    </div>
  </div>
</div>
