---
order: 3
description:
  The stacked variation of the Highlight Board allows
  for the image, content and CTA to be separated to allow
  the subject matter of the image to become the primary focus.
---
<div class="sprk-c-HighlightBoard sprk-c-HighlightBoard--stacked sprk-c-HighlightBoard--has-image sprk-u-mbm">
  <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop--flush.jpg">

  <div class="sprk-c-HighlightBoard__content">
    <div class="sprk-c-HighlightBoard__headings sprk-o-Stack sprk-o-Stack--medium">
      <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__primary-heading sprk-o-Stack__item">
        Lift the burden of getting a home loan
      </h1>

      <h4 class="sprk-b-TypeDisplayFour sprk-c-HighlightBoard__sub-heading sprk-o-Stack__item">
        Fast, Powerful and Completely Online
      </h4>
    </div>

    <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-o-Stack--center-row">
      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button sprk-c-Button--secondary">
          Learn More
        </button>
      </div>

      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button sprk-c-Button--secondary">
          CTA Link
        </button>
      </div>
    </div>
  </div>
</div>
