.nav-layout {
  margin: 0 auto;
  max-width: 1920px;
  @media (min-width: $sprk-masthead-breakpoint) {
    display: grid;
    grid-template-columns: 368px auto;
  }
}

.nav-layout__main {
  min-height: 900px;
}

.nav-layout__header,
.nav-layout__footer {
  grid-column-start: 1;
  grid-column-end: 3;
}


.nav-layout__nav {
  background-color: $sprk-gray;
  display: none;
  @media (min-width: $sprk-masthead-breakpoint) {
    display: block;
    height: calc(100% - 0px);
    margin-right: $sprk-space-m;
  }
}
