// ==================================================================
// Colors
// ==================================================================

// Primary
$red: rgb(200, 16, 46);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(235, 235, 235);

// Secondary
$red-mid: rgb(157, 34, 53);
$red-deep: rgb(118, 35, 47);
$green: rgb(0, 179, 152);
$yellow: rgb(242, 169, 0);
$blue: rgb(0, 125, 186);

// Gray Tints
$gray-tint-75: rgb(240, 240, 240);
$gray-tint-50: rgb(245, 245, 245);
$gray-tint-25: rgb(250, 250, 250);

// Black Tints
$black-tint-75: rgb(64, 64, 64);
$black-tint-50: rgb(128, 128, 128);
$black-tint-25: rgb(191, 191, 191);

// Blue Tints
$blue-tint-75: rgb(64, 157, 203);
$blue-tint-50: rgb(128, 190, 220);
$blue-tint-25: rgb(191, 222, 238);

// Green Tints
$green-tint-75: rgb(64, 198, 178);
$green-tint-50: rgb(128, 217, 203);
$green-tint-25: rgb(191, 236, 229);

// Red Tints
$red-tint-75: rgb(214, 76, 98);
$red-tint-50: rgb(227, 135, 150);
$red-tint-25: rgb(241, 195, 203);

// Yellow Tints
$yellow-tint-75: rgb(245, 190, 64);
$yellow-tint-50: rgb(248, 212, 128);
$yellow-tint-25: rgb(252, 233, 191);
