// ==================================================================
// Colors
// ==================================================================

// Primary
$red-real: rgb(200, 16, 46);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray-light: rgb(235, 235, 235);

// Secondary
$red-mid: rgb(157, 34, 53);
$red-deep: rgb(118, 35, 47);
$green: rgb(0, 179, 152);
$yellow: rgb(242, 169, 0);
$blue: rgb(0, 125, 186);

// Black Tints
$black-75: rgb(64,64,64);
$black-50: rgb(128,128,128);
$black-25: rgb(191,191,191);

// Blue tints
$blue-75: rgb(64,157,203);
$blue-50: rgb(128,190,220);
$blue-25: rgb(191,222,238);

// Green tints
$green-75: rgb(64,198,178);
$green-50: rgb(128,217,203);
$green-25: rgb(191,236,229);

// Red tints
$red-real-75: rgb(214,76,98);
$red-real-50: rgb(227,135,150);
$red-real-25: rgb(241,195,203);

// Yellow Tints
$yellow-75: rgb(245,190,64);
$yellow-50: rgb(248,212,128);
$yellow-25: rgb(252,233,191);
