//
//
//
// Override Scales vars
//
//
//
// Namespaces
///
$scales-namespace: 'sprk-';
$scales-base-class-namespace: 'b-';
$scales-components-class-namespace: 'c-';
$scales-objects-class-namespace: 'o-';
$scales-utilities-class-namespace: 'u-';

//
// Spacing
$space-s: 8px !default;
$space-m: 16px !default;
$space-l: 32px !default;
$space-h: $spark-space-xl !default;
//
$spark-space-s: $space-s;
$spark-space-m: $space-m;
$spark-space-l: $space-l;
$spark-space-h: $space-h;

// Typography
$h1-size: $spark-font-size-display-two !default;
$h1-color: $spark-color-display-two !default;
$h1-line-height: $spark-line-height-display-two !default;
$h1-weight: $spark-font-weight-display-two !default;
$h2-size: $spark-font-size-display-three !default;
$h2-color: $spark-color-display-three !default;
$h2-line-height: $spark-line-height-display-three !default;
$h2-weight: $spark-font-weight-display-three !default;
$h3-size: $spark-font-size-display-four !default;
$h3-color: $spark-color-display-four !default;
$h3-line-height: $spark-line-height-display-four !default;
$h3-weight: $spark-font-weight-display-four !default;
$h4-size: $spark-font-size-display-five !default;
$h4-color: $spark-color-display-five !default;
$h4-line-height: $spark-line-height-display-five !default;
$h4-weight: $spark-font-weight-display-five !default;
$h5-size: $spark-font-size-display-six !default;
$h5-color: $spark-color-display-six !default;
$h5-line-height: $spark-line-height-display-six !default;
$h5-weight: $spark-font-weight-display-six !default;
$h6-size: $spark-font-size-body-two !default;
$h6-color: $spark-color-body-two !default;
$h6-line-height: $spark-line-height-body-two !default;
$h6-weight: $spark-font-weight-body-two !default;
//
$base-font-size: $spark-font-size-body-two !default;
$base-line-height: $spark-line-height-body-two !default;
$font-size-unit: rem !default;
//
$body-font-stack: $spark-body-font-name, Helvetica, 'Helvetica Neue', Arial,
  sans-serif !default;
$heading-font-stack: $spark-body-font-name, Helvetica, 'Helvetica Neue', Arial,
  sans-serif !default;
$heading-font-weight: normal !default;
//
$spark-body-font-stack: $body-font-stack;
$spark-heading-font-stack: $heading-font-stack;
$spark-heading-font-weight: $heading-font-weight;
//
$system-body-fonts: false !default;
$system-font-stack: null !default;
$system-heading-fonts: false !default;
$helper-text-hidden: false !default;

//
// Box
///
$box-padding-tiny: $spark-space-inset-xs !default;
$box-padding-small: $spark-space-inset-s !default;
$box-padding: $spark-space-inset-m !default;
$box-padding-large: $spark-space-inset-l !default;
$box-padding-huge: $spark-space-inset-xl !default;

// Buttons
$btn-background-color: $spark-red !default;
$btn-border-color: $btn-background-color;
$btn-border-radius: 1px !default;
$btn-border-style: solid !default;
$btn-border-width: 2px;
$btn-font-weight: bold;
$btn-hover-background-color: $spark-red-mid !default;
$btn-hover-text-color: $spark-white !default;
$btn-padding: $spark-space-inset-short-l !default;
$btn-text-color: $spark-white !default;
//
$spark-btn-border-width: $btn-border-width;
$spark-btn-hover-background-color: $btn-hover-background-color;
$spark-btn-text-color: $btn-text-color;
$spark-btn-hover-text-color: $btn-hover-text-color;
$spark-btn-border-style: $btn-border-style;
// Disabled
$btn-disabled-opacity: 1 !default;
$btn-disabled-background-color: $spark-gray !default;
$btn-disabled-text-color: $spark-black-tint-50 !default;
$btn-disabled-border-width: $spark-btn-border-width !default;
$btn-disabled-border-color: transparent !default;
//
$spark-btn-disabled-background-color: $btn-disabled-background-color;
$spark-btn-disabled-border-color: $btn-disabled-border-color;
$spark-btn-disabled-text-color: $btn-disabled-text-color;
//
// Layout
//
$centered-column-width: 64rem !default;
$fieldset-padding: 0 !default;

//
// Lists
///
$list-margin-left: $spark-space-m !default;

//
// Horizontal List
//
$horizontal-list-spacing: $spark-space-m !default;
$horizontal-list-spacing-tiny: $spark-space-xs !default;
$horizontal-list-spacing-small: $spark-space-s !default;
$horizontal-list-spacing-medium: $spark-space-m !default;
$horizontal-list-spacing-large: $spark-space-l !default;
$horizontal-list-spacing-huge: $spark-space-xl !default;

// Inputs
$input-container-margin-bottom: $spark-space-m !default;
$input-disabled-background-color: $spark-gray !default;
$input-disabled-border-color: $spark-black !default;
$input-disabled-text-color: $spark-input-gray-medium !default;
$input-readonly-border-color: $spark-black !default;
$input-readonly-text-color: $spark-gray !default;
//
$spark-input-container-margin-bottom: $input-container-margin-bottom;
$spark-input-disabled-background-color: $input-disabled-background-color;
$spark-input-disabled-border-color: $input-disabled-border-color;
$spark-input-disabled-text-color: $input-disabled-text-color;
$spark-input-readonly-border-color: $input-readonly-border-color;
$spark-input-readonly-text-color: $input-readonly-text-color;
//
$text-input-border-radius: 0 !default;
$text-input-border-color: $spark-black !default;
$text-input-border-width: 0 !default;
$text-input-padding: 3px $space-s !default;

//
// Media
//
$media-gutter-tiny: $spark-space-xs !default;
$media-gutter-small: $spark-space-s !default;
$media-gutter: $spark-space-m !default;
$media-gutter-large: $spark-space-l !default;
$media-gutter-huge: $spark-space-xl !default;

//
// Reset
///
$selection-bg-color: $spark-blue !default;

// Stack
$split-breakpoint-xs: 30rem !default;
$split-breakpoint-s: 42.5rem !default;
$split-breakpoint-m: 55rem !default;
$split-breakpoint-l: 67.5rem !default;
$split-breakpoint-xl: 80rem !default;
//
$spark-split-breakpoint-xxs: 20rem !default;
$spark-split-breakpoint-xs: $split-breakpoint-xs;
$spark-split-breakpoint-s: $split-breakpoint-s;
$spark-split-breakpoint-m: $split-breakpoint-m;
$spark-split-breakpoint-l: $split-breakpoint-l;
$spark-split-breakpoint-xl: $split-breakpoint-xl;
//
$spark-stack-spacing-tiny: $spark-space-xs !default;
$spark-stack-spacing-small: $spark-space-s !default;
$spark-stack-spacing-medium: $spark-space-m !default;
$spark-stack-spacing-large: $spark-space-l !default;
$spark-stack-spacing-huge: $spark-space-xl !default;

//
// Tables
///
$table-cell-alignment: center !default;
$table-padding-small: $spark-space-inset-s !default;
$table-padding-medium: $spark-space-inset-m !default;
$table-padding-large: $spark-space-inset-l !default;
$table-stripe-color: $spark-gray !default;
