// ==================================================================
// Settings
// ==================================================================

//
// Spacing
///
$sprk-space-inset-xs: 4px 4px 4px 4px !default;
$sprk-space-inset-s: 8px 8px 8px 8px !default;
$sprk-space-inset-m: 16px 16px 16px 16px !default;
$sprk-space-inset-l: 32px 32px 32px 32px !default;
$sprk-space-inset-xl: 64px 64px 64px 64px !default;

// Inset Short
$sprk-space-inset-short-xs: 2px 4px 2px 4px !default;
$sprk-space-inset-short-s: 4px 8px 4px 8px !default;
$sprk-space-inset-short-m: 8px 16px 8px 16px !default;
$sprk-space-inset-short-l: 16px 32px 16px 32px !default;
$sprk-space-inset-short-xl: 32px 64px 32px 64px !default;

// Inset Tall
$sprk-space-inset-tall-xs: 6px 4px 6px 4px !default;
$sprk-space-inset-tall-s: 12px 8px 12px 8px !default;
$sprk-space-inset-tall-m: 24px 16px 24px 16px !default;
$sprk-space-inset-tall-l: 48px 32px 48px 32px !default;
$sprk-space-inset-tall-xl: 96px 64px 96px 64px !default;

// Stack
$sprk-space-stack-xs: 0 0 4px 0 !default;
$sprk-space-stack-s: 0 0 8px 0 !default;
$sprk-space-stack-m: 0 0 16px 0 !default;
$sprk-space-stack-l: 0 0 32px 0 !default;
$sprk-space-stack-xl: 0 0 64px 0 !default;

// Global Spacing Utilities
$sprk-space-xs: 4px !default;
$sprk-space-xl: 64px !default;

// Misc  Spacing Utilities
$sprk-space-misc-a: 24px !default;
$sprk-space-misc-b: 40px !default;
$sprk-space-misc-c: 48px !default;
$sprk-space-misc-d: 80px !default;

//
// Icons
///
$sprk-icon-m: 16px !default;
$sprk-icon-l: 32px !default;
$sprk-icon-xl: 64px !default;
$sprk-icon-xxl: 128px !default;
$sprk-icon-fill-color: $red !default;
$sprk-icon-stroke-color: $red !default;
$sprk-icon-using-custom-stroke: true !default;
$sprk-icon-custom-stroke-width-s: 1px !default;
$sprk-icon-custom-stroke-width-m: 1.5px !default;
$sprk-icon-custom-stroke-width-l: 2px !default;
$sprk-icon-custom-stroke-width-xl: 3px !default;

//
// Layout
///
$sprk-centered-column-width: 64rem !default;

//
// Layers
///
$sprk-layer-height-xs: 1 !default;
$sprk-layer-height-s: 1000 !default;
$sprk-layer-height-m: 2000 !default;
$sprk-layer-height-l: 3000 !default;
$sprk-layer-height-xl: 99999 !default;

//
// Horizontal List
///
$horizontal-list-spacing: $space-m !default;
$horizontal-list-spacing-tiny: $space-xs !default;
$horizontal-list-spacing-small: $space-s !default;
$horizontal-list-spacing-medium: $space-m !default;
$horizontal-list-spacing-large: $space-l !default;
$horizontal-list-spacing-huge: $space-xl !default;

//
// Pagination
///
$sprk-pag-max-width: 26rem !default;
$sprk-pag-link-color: $sprk-black !default;
$sprk-pag-link-color-hover: $sprk-pag-link-color !default;
$sprk-pag-selection-color: $sprk-red !default;
$sprk-pag-selection-link-color: $sprk-white !default;
$sprk-pag-selection-link-color-hover: $sprk-white !default;
$sprk-pag-circle-size: 2em !default;

//
// Typography
///
$sprk-measure: 40rem !default;
$sprk-narrow-measure: 25rem !default;

// Webfonts
$sprk-using-webfonts: false !default;
$sprk-font-display: swap !default;
$sprk-webfonts: '' !default;
$sprk-typography-breakpoint: 54rem !default;
$sprk-page-title-mark-color: $red;
$sprk-page-title-mark-width: 32px;
$sprk-page-title-mark-height: 5px;
$sprk-page-title-mark-height-wide-viewport: 6px;
$sprk-page-title-mark-padding: 0 0 $sprk-space-misc-a;
$sprk-page-title-mark-padding-wide-viewport: 0 0 $space-m;

// Display One
$sprk-color-display-one: $black !default;
$sprk-font-family-display-one: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-one: 2.75rem !default;
$sprk-font-size-display-one-wide: 3.375rem !default;
$sprk-type-display-one-breakpoint: 43.75rem !default;
$sprk-font-weight-display-one: bold !default;
$sprk-line-height-display-one: 1.27 !default;
$sprk-line-height-display-one-wide: 1.03 !default;

// Display Two
$sprk-color-display-two: $black !default;
$sprk-font-family-display-two: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-two: 2rem !default;
$sprk-font-size-display-two-wide: 2.5rem !default;
$sprk-type-display-two-breakpoint: 43.75rem !default;
$sprk-font-weight-display-two: bold !default;
$sprk-line-height-display-two: 1 !default;
$sprk-line-height-display-two-wide: 1 !default;

// Display Three
$sprk-color-display-three: $black !default;
$sprk-font-family-display-three: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-three: 1.75rem !default;
$sprk-font-size-display-three-wide: 2.125rem !default;
$sprk-type-display-three-breakpoint: 43.75rem !default;
$sprk-font-weight-display-three: 300 !default;
$sprk-line-height-display-three: 1.6 !default;
$sprk-line-height-display-three-wide: 1.32 !default;

// Display Four
$sprk-color-display-four: $black !default;
$sprk-font-family-display-four: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-four: 1.625rem !default;
$sprk-font-weight-display-four: bold !default;
$sprk-line-height-display-four: 1.23 !default;

// Display Five
$sprk-color-display-five: $black !default;
$sprk-font-family-display-five: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-five: 1.25rem !default;
$sprk-font-weight-display-five: 500 !default;
$sprk-line-height-display-five: 1.2 !default;

// Display Six
$sprk-color-display-six: $black !default;
$sprk-font-family-display-six: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-six: 1.25rem !default;
$sprk-font-weight-display-six: 300 !default;
$sprk-line-height-display-six: 1.2 !default;

// Display Seven
$sprk-font-family-display-seven: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-display-seven: 1rem !default;
$sprk-color-display-seven: $black !default;
$sprk-line-height-display-seven: 1 !default;
$sprk-font-weight-display-seven: 500 !default;

// Body One
$sprk-font-family-body-one: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-body-one: 0.9375rem !default;
$sprk-color-body-one: $black !default;
$sprk-line-height-body-one: 1.6 !default;
$sprk-font-weight-body-one: 500 !default;

// Body Two
$sprk-font-family-body-two: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-body-two: 0.9375rem !default;
$sprk-color-body-two: $black !default;
$sprk-line-height-body-two: 1.6 !default;
$sprk-font-weight-body-two: 300 !default;

// Body Three
$sprk-font-family-body-three: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-body-three: 0.9375rem !default;
$sprk-color-body-three: $black !default;
$sprk-line-height-body-three: 2 !default;
$sprk-font-weight-body-three: 300 !default;

// Body Four
$sprk-font-family-body-four: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$sprk-font-size-body-four: 0.8125rem !default;
$sprk-color-body-four: $black !default;
$sprk-line-height-body-four: 1.84 !default;
$sprk-font-weight-body-four: 300 !default;

// Line-height Collision
$sprk-line-height-collision-top-crop: 5;
$sprk-line-height-collision-bottom-crop: 5;

//
// Consistent Style Vars
///
$sprk-border-radius: 5px !default;

//
// Alerts
///
$sprk-alert-border: 1px solid $sprk-gray !default;
$sprk-alert-bar-width: -10px !default;
$sprk-alert-bg-color: $sprk-white !default;
$sprk-alert-color-info: $sprk-blue !default;
$sprk-alert-color-success: $sprk-green !default;
$sprk-alert-color-fail: $sprk-yellow !default;
$sprk-alert-icon-size: 40px !default;
$sprk-alert-font-size: 1rem;
$sprk-alert-font-weight: 400;
$sprk-alert-line-height: 1.5;
$sprk-alert-content-padding: $space-m $space-m $space-m $sprk-space-misc-a;
$sprk-alert-dismiss-padding: $space-m;
$sprk-alert-icon-margin: 0 $sprk-space-misc-a 0 0;
$sprk-alert-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !default;
$sprk-alert-shadow-info: inset $sprk-alert-bar-width 0 0 $sprk-alert-color-info !default;
$sprk-alert-shadow-hover-info: inset -80px 0 0 $sprk-alert-color-info !default;
$sprk-alert-shadow-success: inset $sprk-alert-bar-width 0 0 $sprk-alert-color-success !default;
$sprk-alert-shadow-hover-success: inset -80px 0 0 $sprk-alert-color-success !default;
$sprk-alert-shadow-fail: inset $sprk-alert-bar-width 0 0 $sprk-alert-color-fail !default;
$sprk-alert-shadow-hover-fail: inset -80px 0 0 $sprk-alert-color-fail !default;

//
// Promos
///
$sprk-promo-background-color: $white !default;
$sprk-promo-border: 1px solid $gray !default;
$sprk-promo-max-width: 42.5rem !default;
$sprk-promo-breakpoint: 42.5rem !default;
$sprk-promo-image-narrow-max-height: 20rem !default;
$sprk-promo-image-narrow-max-width: 50% !default;
$sprk-promo-title-font-color: $black !default;
$sprk-promo-title-font-weight: $font-weight-display-four !default;
$sprk-promo-subtitle-font-color: $black !default;
$sprk-promo-subtitle-font-weight: $font-weight-body-one !default;

//
// Buttons
///
$sprk-btn-background-color: $green !default;
$sprk-btn-shadow: 0 3px 10px rgba(20, 20, 20, 0.08) !default;
$sprk-btn-border-style: solid !default;
$sprk-btn-border-color: $btn-background-color;
$sprk-btn-border-width: 2px;
$sprk-btn-font-weight: 500;
$sprk-btn-text-color: $white !default;
$sprk-btn-border-radius: 4px !default;
$sprk-btn-hover-background-color: $green-dark !default;
$sprk-btn-hover-text-color: $white !default;
$sprk-btn-padding: $space-m 24px !default;
$sprk-btn-breakpoint-xs: 30rem !default;
$sprk-btn-breakpoint-s: 42.5rem !default;
$sprk-btn-transition-speed: 0.3s !default;
$sprk-btn-letter-spacing: 0.62px !default;

// Disabled
$sprk-btn-disabled-opacity: 1 !default;
$sprk-btn-disabled-border-width: $btn-border-width !default;
$sprk-btn-disabled-background-color: $gray-dark !default;
$sprk-btn-disabled-text-color: $white !default;
$sprk-btn-disabled-border-color: transparent !default;
$sprk-btn-disabled-shadow: none !default;
$sprk-btn-secondary-disabled-background-color: transparent !default;
$sprk-btn-secondary-disabled-text-color: $gray-dark !default;
$sprk-btn-secondary-disabled-border-color: $gray-dark !default;
$sprk-btn-secondary-disabled-shadow: none !default;
$sprk-btn-tertiary-disabled-shadow: none !default;
$sprk-btn-tertiary-disabled-border: none !default;
// Secondary
$sprk-btn-secondary-background-color: $white !default;
$sprk-btn-secondary-border-color: $gray-dark !default;
$sprk-btn-secondary-text-color: $black !default;
$sprk-btn-secondary-hover-text-color: $black !default;
$sprk-btn-secondary-hover-background-color: $white !default;
$sprk-btn-secondary-hover-border-color: $black !default;
$sprk-btn-secondary-hover-shadow: 0 3px 10px rgba(20, 20, 20, 0.08) !default;
$sprk-btn-secondary-letter-spacing: 0.62px !default;
// Tertiary
$sprk-btn-tertiary-background-color: transparent !default;
$sprk-btn-tertiary-border: none !default;
$sprk-btn-tertiary-text-color: $black !default;
$sprk-btn-tertiary-underline-width: 0.125em !default;
$sprk-btn-tertiary-underline-padding-top: 0.125em !default;
$sprk-btn-tertiary-underline-color: $gray-dark !default;
$sprk-btn-tertiary-hover-text-color: $black !default;
$sprk-btn-tertiary-hover-underline-color: $black !default;
$sprk-btn-tertiary-hover-background-color: transparent !default;
$sprk-btn-tertiary-hover-shadow: none !default;
$sprk-btn-tertiary-disabled-background-color: transparent !default;
$sprk-btn-tertiary-disabled-text-color: $gray-dark !default;
$sprk-btn-tertiary-letter-spacing: normal !default;

//
// Links
///
$sprk-link-color: $black !default;
$sprk-link-disabled-color: $black-tint-50;
$sprk-link-muted-color: $black-tint-75;
$sprk-link-standalone-color: $red !default;
$sprk-link-transition: 0.3s !default;
$sprk-link-underline-color: $red !default;
$sprk-link-underline-visited-color: $red !default;
$sprk-link-underline-width: 0.0625em !default;
$sprk-link-visited-color: $red !default;
$sprk-link-standalone-font-weight: bold !default;
$sprk-link-inline-font-weight: normal !default;
$sprk-link-disabled-font-weight: bold !default;

//
// Lists
///
$sprk-list-margin-left: $space-m !default;
$sprk-list-indented-margin-left: $space-l !default;

//
// Forms
///
$sprk-input-gray-medium: #5a5a5a !default;
$sprk-monetary-symbol: '$' !default;
$sprk-input-placeholder-color: $gray !default;
$sprk-input-readonly-text-color: $gray !default;
$sprk-fieldset-padding: 0 !default;
$sprk-text-input-border-radius: 0 !default;
$sprk-text-input-border-color: $black !default;
$sprk-text-input-border-width: 0 !default;
$sprk-input-container-margin-bottom: $space-m !default;
$sprk-input-disabled-background-color: $gray !default;
$sprk-input-disabled-border-color: $black !default;
$sprk-input-disabled-text-color: $input-gray-medium !default;
$sprk-helper-text-hidden: false !default;
$sprk-text-input-padding: 3px $space-s !default;
$sprk-input-readonly-border-color: $black !default;
$sprk-input-box-shadow: 0 1px 0 0 $black !default;
$sprk-input-error-box-shadow: 0 3px 0 0 $yellow !default;
$sprk-error-icon-size: 1.25rem !default;
$sprk-input-disabled-box-shadow: 0 1px 0 0 $input-gray-medium !default;
$sprk-date-picker-max-width: 20rem !default;
$sprk-date-picker-button-size: 2.25rem !default;
$sprk-date-picker-column-adjustment-x: 0.25rem !default;
$sprk-date-picker-box-shadow: 0 2px 5px $input-gray-medium !default;
$sprk-sprk-date-picker-font-family: $sprk-font-family-body-two !default;
$sprk-date-picker-day-interact-color: $red !default;
$sprk-text-input-interact-color: $red !default;
$sprk-error-text-color: $black !default;
$sprk-text-input-error-color: $yellow !default;
$sprk-input-max-width: 27.5rem !default;
$sprk-input-icon-offset-x: 7px !default;
$sprk-input-icon-offset-y: 21px !default;
$sprk-input-text-icon-offset-x: 6px !default;
$sprk-input-text-icon-offset-y: 21px !default;
$sprk-input-animation-speed: 0.3s !default;
$sprk-select-arrow-offset-y: -23px !default;
$sprk-select-arrow-offset-x: 8px !default;
$sprk-label-offset-y: -53px !default;
$sprk-label-shrink-scale: 0.82 !default;

//
// Tables
//
///
$sprk-table-padding-small: $space-inset-s !default;
$sprk-table-padding-medium: $space-inset-m !default;
$sprk-table-padding-large: $space-inset-l !default;
$sprk-table-cell-alignment: center !default;
$sprk-table-stripe-color: $gray !default;
$sprk-table-highlight-color: $red !default;
$sprk-table-highlight-text-color: $white !default;

// Primary
$sprk-table-row-border-width: 1px !default;
$sprk-table-row-border-style: solid !default;
$sprk-table-row-border-color: $gray !default;
$sprk-table-header-background-color: $black !default;
$sprk-table-header-font-color: $white !default;
$sprk-table-header-font-size: $font-size-body-one !default;
$sprk-table-header-font-weight: $font-weight-body-one !default;
$sprk-table-header-border-spacing: 2px !default;
$sprk-table-header-border-color: $white !default;
$sprk-table-empty-heading-background-color: $white !default;

// Secondary
$sprk-table-secondary-header-background-color: $sprk-white !default;
$sprk-table-secondary-header-font-color: $sprk-black !default;
$sprk-table-secondary-header-text-alignment: left !default;
$sprk-table-secondary-cell-text-alignment: left !default;
$sprk-table-secondary-header-border-spacing: 0 !default;
$sprk-table-secondary-header-border-color: $sprk-white !default;

// Grouped-Column
$sprk-table-grouped-header-background-color: $sprk-black !default;
$sprk-table-grouped-header-font-size: $sprk-font-size-body-four !default;
$sprk-table-grouped-header-font-weight: normal !default;

// Secondary Row Comparison
$sprk-table-secondary-row-comp-row-spacing: 0 15px !default;
$sprk-table-secondary-row-comp-border-width: 1px !default;
$sprk-table-secondary-row-comp-border-style: solid !default;
$sprk-table-secondary-row-comp-border-color: $gray !default;

//
// Box
///
$sprk-box-padding-tiny: $space-inset-xs !default;
$sprk-box-padding-small: $space-inset-s !default;
$sprk-box-padding: $space-inset-m !default;
$sprk-box-padding-large: $space-inset-l !default;
$sprk-box-padding-huge: $space-inset-xl !default;

//
// Media
///
$sprk-media-gutter-tiny: $space-xs !default;
$sprk-media-gutter-small: $space-s !default;
$sprk-media-gutter: $space-m !default;
$sprk-media-gutter-large: $space-l !default;
$sprk-media-gutter-huge: $space-xl !default;

//
// Stack Object
///
$sprk-stack-spacing-tiny: $space-xs !default;
$sprk-stack-spacing-small: $space-s !default;
$sprk-stack-spacing-medium: $space-m !default;
$sprk-stack-spacing-large: $space-l !default;
$sprk-stack-spacing-huge: $space-xl !default;
$sprk-split-breakpoint-xxs: 20rem !default;
$sprk-split-breakpoint-xs: 30rem !default;
$sprk-split-breakpoint-s: 42.5rem !default;
$sprk-split-breakpoint-m: 55rem !default;
$sprk-split-breakpoint-l: 67.5rem !default;
$sprk-split-breakpoint-xl: 80rem !default;

//
// Accordions
///
$sprk-accordion-max-width: 53.125rem !default;
$sprk-accordion-border: 1px solid $black-tint-25 !default;
$sprk-accordion-border-open: 1px solid $black !default;
$sprk-accordion-summary-color: $black !default;
$sprk-accordion-summary-active-color: $red !default;
$sprk-accordion-summary-padding: $sprk-space-misc-a 0 !default;
$sprk-accordion-content-padding: 0 0 $space-l !default;
$sprk-accordion-active-background-color: $gray !default;

//
// Toggle
///
$sprk-toggle-transistion-timing: 0.3s ease !default;

//
// Dividers
///
$sprk-divider-border: 1px solid $black-tint-25 !default;

//
// Dropdown
///
$sprk-dropdown-padding: $space-inset-short-l !default;
$sprk-dropdown-header-padding: $space-inset-short-l !default;
$sprk-dropdown-footer-padding: $space-inset-short-l !default;
$sprk-dropdown-border: 1px solid $gray !default;
$sprk-dropdown-active-background-color: $gray !default;
$sprk-dropdown-active-border: 2.5px solid $red !default;
$sprk-dropdown-active-box-shadow: -1px 0 0 0 $red !default;
$sprk-dropdown-max-width: 24rem !default;
$sprk-dropdown-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !default;

//
// Modals
//
$sprk-modal-mask-color: rgba(34, 34, 34, 0.35) !default;
$sprk-modal-color: $sprk-white !default;
$sprk-modal-max-width: 43.75rem !default;
$sprk-modal-height: 70% !default;
$sprk-modal-breakpoint-small: 25rem !default;
$sprk-modal-breakpoint-medium: 37.5rem !default;
$sprk-modal-shadow: 0 4px 5px rgba(0, 0, 0, 0.6) !default;

//
// Masthead
//
$sprk-masthead-menu-icon-width: $icon-l;
$sprk-masthead-menu-icon-height: $icon-l;
$sprk-masthead-bg-color: $white !default;
$sprk-masthead-content-padding: $space-m !default;
$sprk-masthead-link-visited-color: $black !default;
$sprk-masthead-link-hover-color: $red !default;
$sprk-masthead-link-font-weight: $font-weight-body-one !default;
$sprk-masthead-border-bottom-size: 1px !default;
$sprk-masthead-border-bottom: $masthead-border-bottom-size solid $gray !default;
$sprk-masthead-breakpoint: 54rem !default;
$sprk-masthead-column-width: 89rem !default;
$sprk-big-nav-column-width: 64rem !default;
$sprk-big-nav-bg: $white !default;
$sprk-big-nav-active-color: $red !default;
$sprk-masthead-logo-max-width: 192px !default;
$sprk-masthead-logo-min-width: 174px !default;
$sprk-mobile-masthead-height: 113px !default;
$sprk-narrow-nav-left-border: 5px solid $red !default;
$sprk-narrow-nav-link-font-weight: normal !default;

//
// Spinners
///
$sprk-spinner-size: 1.1rem !default;
$sprk-spinner-size-large: 3rem !default;
$sprk-spinner-speed: 1s !default;
$sprk-spinner-thickness: 0.18rem !default;
$sprk-spinner-color: $sprk-white !default;

//
// Tabbed Navigation
///
$sprk-tab-navigation-breakpoint: 46rem !default;
$tab-navigation-btn-color: $black !default;
$tab-navigation-btn-bg-color: $gray !default;
$tab-navigation-btn-border-top: 3px solid $gray !default;
$tab-navigation-btn-hover-border-top: 3px solid $red !default;
$tab-navigation-btn-active-color: $red !default;
$tab-navigation-btn-active-border-top: 3px solid $red !default;
$tab-navigation-btn-active-bg-color: $white !default;
$sprk-tab-navigation-btn-font-size: $font-size-body-one !default;
$sprk-tab-navigation-btn-font-weight: $font-weight-body-one !default;
