// ==================================================================
// Settings
// ==================================================================

//
// Namespaces
///
$scales-namespace: 'sprk-';
$scales-base-class-namespace: 'b-';
$scales-components-class-namespace: 'c-';
$scales-objects-class-namespace: 'o-';
$scales-utilities-class-namespace: 'u-';

//
// Reset
///
$selection-bg-color: $blue !default;

//
// Spacing
///
$space-inset-xs: 4px 4px 4px 4px !default;
$space-inset-s: 8px 8px 8px 8px !default;
$space-inset-m: 16px 16px 16px 16px !default;
$space-inset-l: 32px 32px 32px 32px !default;
$space-inset-xl: 64px 64px 64px 64px !default;

// Inset Short
$space-inset-short-xs: 2px 4px 2px 4px !default;
$space-inset-short-s: 4px 8px 4px 8px !default;
$space-inset-short-m: 8px 16px 8px 16px !default;
$space-inset-short-l: 16px 32px 16px 32px !default;
$space-inset-short-xl: 32px 64px 32px 64px !default;

// Inset Tall
$space-inset-tall-xs: 6px 4px 6px 4px !default;
$space-inset-tall-s: 12px 8px 12px 8px !default;
$space-inset-tall-m: 24px 16px 24px 16px !default;
$space-inset-tall-l: 48px 32px 48px 32px !default;
$space-inset-tall-xl: 96px 64px 96px 64px !default;

// Stack
$space-stack-xs: 0 0 4px 0 !default;
$space-stack-s: 0 0 8px 0 !default;
$space-stack-m: 0 0 16px 0 !default;
$space-stack-l: 0 0 32px 0 !default;
$space-stack-xl: 0 0 64px 0 !default;

// Global Spacing Utilities
$space-xs: 4px !default;
$space-s: 8px !default;
$space-m: 16px !default;
$space-l: 32px !default;
$space-xl: 64px !default;
$space-h: $space-xl !default;

// Misc  Spacing Utilities
$sprk-space-misc-a: 24px !default;
$sprk-space-misc-b: 40px !default;
$sprk-space-misc-c: 48px !default;
$sprk-space-misc-d: 80px !default;

//
// Icons
///
$icon-m: 16px !default;
$icon-l: 32px !default;
$icon-xl: 64px !default;
$icon-xxl: 128px !default;
$icon-fill-color: $red !default;
$icon-stroke-color: $red !default;
$icon-using-custom-stroke: true !default;
$icon-custom-stroke-width-s: 1px !default;
$icon-custom-stroke-width-m: 1.5px !default;
$icon-custom-stroke-width-l: 2px !default;
$icon-custom-stroke-width-xl: 3px !default;

//
// Layout
///
$centered-column-width: 64rem !default;

//
// Layers
///
$layer-height-xs: 1 !default;
$layer-height-s: 1000 !default;
$layer-height-m: 2000 !default;
$layer-height-l: 3000 !default;
$layer-height-xl: 99999 !default;

//
// Horizontal List
///
$horizontal-list-spacing: $space-m !default;
$horizontal-list-spacing-tiny: $space-xs !default;
$horizontal-list-spacing-small: $space-s !default;
$horizontal-list-spacing-medium: $space-m !default;
$horizontal-list-spacing-large: $space-l !default;
$horizontal-list-spacing-huge: $space-xl !default;

//
// Pagination
///
$pag-max-width: 26rem !default;
$pag-link-color: $black !default;
$pag-link-color-hover: $pag-link-color !default;
$pag-selection-color: $red !default;
$pag-selection-link-color: $white !default;
$pag-selection-link-color-hover: $white !default;
$pag-circle-size: 2em !default;

//
// Typography
///
$sprk-measure: 40rem !default;
$sprk-narrow-measure: 25rem !default;

// Webfonts
$sprk-using-webfonts: false !default;
$sprk-font-display: swap !default;
$sprk-webfonts: '' !default;
$typography-breakpoint: 54rem !default;
$page-title-mark-color: $red;
$sprk-page-title-mark-width: 32px;
$sprk-page-title-mark-height: 5px;
$sprk-page-title-mark-height-wide-viewport: 6px;
$sprk-page-title-mark-padding: 0 0 $sprk-space-misc-a;
$sprk-page-title-mark-padding-wide-viewport: 0 0 $space-m;

// Display One
$color-display-one: $black !default;
$sprk-font-family-display-one: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-one: 2.75rem !default;
$sprk-font-size-display-one-wide: 3.375rem !default;
$sprk-type-display-one-breakpoint: 43.75rem !default;
$font-weight-display-one: bold !default;
$line-height-display-one: 1.27 !default;
$sprk-line-height-display-one-wide: 1.03 !default;

// Display Two
$color-display-two: $black !default;
$sprk-font-family-display-two: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-two: 2rem !default;
$sprk-font-size-display-two-wide: 2.5rem !default;
$sprk-type-display-two-breakpoint: 43.75rem !default;
$font-weight-display-two: bold !default;
$line-height-display-two: 1 !default;
$sprk-line-height-display-two-wide: 1 !default;

// Display Three
$color-display-three: $black !default;
$sprk-font-family-display-three: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-three: 1.75rem !default;
$sprk-font-size-display-three-wide: 2.125rem !default;
$sprk-type-display-three-breakpoint: 43.75rem !default;
$font-weight-display-three: 300 !default;
$line-height-display-three: 1.6 !default;
$sprk-line-height-display-three-wide: 1.32 !default;

// Display Four
$color-display-four: $black !default;
$sprk-font-family-display-four: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-four: 1.625rem !default;
$font-weight-display-four: bold !default;
$line-height-display-four: 1.23 !default;

// Display Five
$color-display-five: $black !default;
$sprk-font-family-display-five: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-five: 1.25rem !default;
$font-weight-display-five: 500 !default;
$line-height-display-five: 1.2 !default;

// Display Six
$color-display-six: $black !default;
$sprk-font-family-display-six: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-six: 1.25rem !default;
$font-weight-display-six: 300 !default;
$line-height-display-six: 1.2 !default;

// Display Seven
$sprk-font-family-display-seven: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-display-seven: 1rem !default;
$color-display-seven: $black !default;
$line-height-display-seven: 1 !default;
$font-weight-display-seven: 500 !default;

// Body One
$sprk-font-family-body-one: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-body-one: 0.9375rem !default;
$color-body-one: $black !default;
$line-height-body-one: 1.6 !default;
$font-weight-body-one: 500 !default;

// Body Two
$sprk-font-family-body-two: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-body-two: 0.9375rem !default;
$color-body-two: $black !default;
$line-height-body-two: 1.6 !default;
$font-weight-body-two: 300 !default;

// Body Three
$sprk-font-family-body-three: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-body-three: 0.9375rem !default;
$color-body-three: $black !default;
$line-height-body-three: 2 !default;
$font-weight-body-three: 300 !default;

// Body Four
$sprk-font-family-body-four: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$font-size-body-four: 0.8125rem !default;
$color-body-four: $black !default;
$line-height-body-four: 1.84 !default;
$font-weight-body-four: 300 !default;

// Line-height Collision
$line-height-collision-top-crop: 5;
$line-height-collision-bottom-crop: 5;

//
// Consistent Style Vars
///
$border-radius: 5px !default;

//
// Alerts
///
$alert-border: 1px solid $gray !default;
$alert-bar-width: -10px !default;
$alert-bg-color: $white !default;
$alert-color-info: $blue !default;
$alert-color-success: $green !default;
$alert-color-fail: $yellow !default;
$alert-icon-size: 40px !default;
$sprk-alert-font-size: 1rem;
$sprk-alert-font-weight: 400;
$sprk-alert-line-height: 1.5;
$sprk-alert-content-padding: $space-m $space-m $space-m $sprk-space-misc-a;
$sprk-alert-dismiss-padding: $space-m;
$sprk-alert-icon-margin: 0 $sprk-space-misc-a 0 0;
$alert-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !default;
$alert-shadow-info: inset $alert-bar-width 0 0 $alert-color-info !default;
$alert-shadow-hover-info: inset -80px 0 0 $alert-color-info !default;
$alert-shadow-success: inset $alert-bar-width 0 0 $alert-color-success !default;
$alert-shadow-hover-success: inset -80px 0 0 $alert-color-success !default;
$alert-shadow-fail: inset $alert-bar-width 0 0 $alert-color-fail !default;
$alert-shadow-hover-fail: inset -80px 0 0 $alert-color-fail !default;

//
// Promos
///
$promo-background-color: $white !default;
$promo-border: 1px solid $gray !default;
$promo-max-width: 42.5rem !default;
$promo-breakpoint: 42.5rem !default;
$promo-image-narrow-max-height: 20rem !default;
$promo-image-narrow-max-width: 50% !default;
$promo-title-font-color: $black !default;
$promo-title-font-weight: $font-weight-display-four !default;
$promo-subtitle-font-color: $black !default;
$promo-subtitle-font-weight: $font-weight-body-one !default;

//
// Buttons
///
$btn-background-color: $green !default;
$btn-shadow: 0 3px 10px rgba(20, 20, 20, 0.08) !default;
$btn-border-style: solid !default;
$btn-border-color: $btn-background-color;
$btn-border-width: 2px;
$btn-font-weight: 500;
$btn-text-color: $white !default;
$btn-border-radius: 4px !default;
$btn-hover-background-color: $green-dark !default;
$btn-hover-text-color: $white !default;
$btn-padding: $space-m 24px !default;
$btn-breakpoint-xs: 30rem !default;
$btn-breakpoint-s: 42.5rem !default;
$btn-transition-speed: 0.3s !default;
$btn-letter-spacing: 0.62px !default;

// Disabled
$btn-disabled-opacity: 1 !default;
$btn-disabled-border-width: $btn-border-width !default;
$btn-disabled-background-color: $gray-dark !default;
$btn-disabled-text-color: $white !default;
$btn-disabled-border-color: transparent !default;
$btn-disabled-shadow: none !default;
$btn-secondary-disabled-background-color: transparent !default;
$btn-secondary-disabled-text-color: $gray-dark !default;
$btn-secondary-disabled-border-color: $gray-dark !default;
$btn-secondary-disabled-shadow: none !default;
$btn-tertiary-disabled-shadow: none !default;
$btn-tertiary-disabled-border: none !default;
// Secondary
$btn-secondary-background-color: $white !default;
$btn-secondary-border-color: $gray-dark !default;
$btn-secondary-text-color: $black !default;
$btn-secondary-hover-text-color: $black !default;
$btn-secondary-hover-background-color: $white !default;
$btn-secondary-hover-border-color: $black !default;
$btn-secondary-hover-shadow: 0 3px 10px rgba(20, 20, 20, 0.08) !default;
$btn-secondary-letter-spacing: 0.62px !default;
// Tertiary
$btn-tertiary-background-color: transparent !default;
$btn-tertiary-border: none !default;
$btn-tertiary-text-color: $black !default;
$btn-tertiary-underline-width: 0.125em !default;
$btn-tertiary-underline-padding-top: 0.125em !default;
$btn-tertiary-underline-color: $gray-dark !default;
$btn-tertiary-hover-text-color: $black !default;
$btn-tertiary-hover-underline-color: $black !default;
$btn-tertiary-hover-background-color: transparent !default;
$btn-tertiary-hover-shadow: none !default;
$btn-tertiary-disabled-background-color: transparent !default;
$btn-tertiary-disabled-text-color: $gray-dark !default;
$btn-tertiary-letter-spacing: normal !default;

//
// Links
///
$link-color: $black !default;
$link-disabled-color: $black-tint-50;
$link-muted-color: $black-tint-75;
$link-standalone-color: $red !default;
$link-transition: 0.3s !default;
$link-underline-color: $red !default;
$link-underline-visited-color: $red !default;
$link-underline-width: 0.0625em !default;
$link-visited-color: $red !default;
$link-standalone-font-weight: bold !default;
$link-inline-font-weight: normal !default;
$link-disabled-font-weight: bold !default;

//
// Lists
///
$list-margin-left: $space-m !default;
$list-indented-margin-left: $space-l !default;

//
// Forms
///
$input-gray-medium: #5a5a5a !default;
$monetary-symbol: '$' !default;
$input-placeholder-color: $gray !default;
$input-readonly-text-color: $gray !default;
$fieldset-padding: 0 !default;
$text-input-border-radius: 0 !default;
$text-input-border-color: $black !default;
$text-input-border-width: 0 !default;
$input-container-margin-bottom: $space-m !default;
$input-disabled-background-color: $gray !default;
$input-disabled-border-color: $black !default;
$input-disabled-text-color: $input-gray-medium !default;
$helper-text-hidden: false !default;
$text-input-padding: 3px $space-s !default;
$input-readonly-border-color: $black !default;
$input-box-shadow: 0 1px 0 0 $black !default;
$input-error-box-shadow: 0 3px 0 0 $yellow !default;
$error-icon-size: 1.25rem !default;
$input-disabled-box-shadow: 0 1px 0 0 $input-gray-medium !default;
$date-picker-max-width: 20rem !default;
$date-picker-button-size: 2.25rem !default;
$date-picker-column-adjustment-x: 0.25rem !default;
$date-picker-box-shadow: 0 2px 5px $input-gray-medium !default;
$date-picker-font-family: $sprk-font-family-body-two;
$date-picker-day-interact-color: $red !default;
$text-input-interact-color: $red !default;
$error-text-color: $black !default;
$text-input-error-color: $yellow !default;
$input-max-width: 27.5rem !default;
$input-icon-offset-x: 7px !default;
$input-icon-offset-y: 21px !default;
$input-text-icon-offset-x: 6px !default;
$input-text-icon-offset-y: 21px !default;
$input-animation-speed: 0.3s !default;
$select-arrow-offset-y: -23px !default;
$select-arrow-offset-x: 8px !default;
$label-offset-y: -53px !default;
$label-shrink-scale: 0.82 !default;

//
// Tables
///
$table-padding-small: $space-inset-s !default;
$table-padding-medium: $space-inset-m !default;
$table-padding-large: $space-inset-l !default;
$table-cell-alignment: center !default;
$table-stripe-color: $gray !default;
$table-highlight-color: $red !default;
$table-highlight-text-color: $white !default;

// Primary
$table-row-border-width: 1px !default;
$table-row-border-style: solid !default;
$table-row-border-color: $gray !default;
$table-header-background-color: $black !default;
$table-header-font-color: $white !default;
$table-header-font-size: $font-size-body-one !default;
$sprk-table-header-font-weight: $font-weight-body-one !default;
$table-header-border-spacing: 2px !default;
$table-header-border-color: $white !default;
$table-empty-heading-background-color: $white !default;

// Secondary
$table-secondary-header-background-color: $white !default;
$table-secondary-header-font-color: $black !default;
$table-secondary-header-text-alignment: left !default;
$table-secondary-cell-text-alignment: left !default;
$table-secondary-header-border-spacing: 0 !default;
$table-secondary-header-border-color: $white !default;

// Grouped-Column
$table-grouped-header-background-color: $black !default;
$table-grouped-header-font-size: $font-size-body-four !default;
$table-grouped-header-font-weight: normal !default;

// Secondary Row Comparison
$table-secondary-row-comp-row-spacing: 0 15px !default;
$table-secondary-row-comp-border-width: 1px !default;
$table-secondary-row-comp-border-style: solid !default;
$table-secondary-row-comp-border-color: $gray !default;

//
// Box
///
$box-padding-tiny: $space-inset-xs !default;
$box-padding-small: $space-inset-s !default;
$box-padding: $space-inset-m !default;
$box-padding-large: $space-inset-l !default;
$box-padding-huge: $space-inset-xl !default;

//
// Media
///
$media-gutter-tiny: $space-xs !default;
$media-gutter-small: $space-s !default;
$media-gutter: $space-m !default;
$media-gutter-large: $space-l !default;
$media-gutter-huge: $space-xl !default;

//
// Stack Object
///
$stack-spacing-tiny: $space-xs !default;
$stack-spacing-small: $space-s !default;
$stack-spacing-medium: $space-m !default;
$stack-spacing-large: $space-l !default;
$stack-spacing-huge: $space-xl !default;
$split-breakpoint-xxs: 20rem !default;
$split-breakpoint-xs: 30rem !default;
$split-breakpoint-s: 42.5rem !default;
$split-breakpoint-m: 55rem !default;
$split-breakpoint-l: 67.5rem !default;
$split-breakpoint-xl: 80rem !default;

//
// Accordions
///
$accordion-max-width: 53.125rem !default;
$accordion-border: 1px solid $black-tint-25 !default;
$accordion-border-open: 1px solid $black !default;
$accordion-summary-color: $black !default;
$accordion-summary-active-color: $red !default;
$sprk-accordion-summary-padding: $sprk-space-misc-a 0 !default;
$sprk-accordion-content-padding: 0 0 $space-l !default;
$sprk-accordion-active-background-color: $gray !default;

//
// Toggle
///
$toggle-transistion-timing: 0.3s ease !default;

//
// Dividers
///
$divider-border: 1px solid $black-tint-25 !default;

//
// Dropdown
///
$dropdown-padding: $space-inset-short-l !default;
$dropdown-header-padding: $space-inset-short-l !default;
$dropdown-footer-padding: $space-inset-short-l !default;
$dropdown-border: 1px solid $gray !default;
$dropdown-active-background-color: $gray !default;
$dropdown-active-border: 2.5px solid $red !default;
$dropdown-active-box-shadow: -1px 0 0 0 $red !default;
$dropdown-max-width: 24rem !default;
$dropdown-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !default;

//
// Modals
//
$modal-mask-color: rgba(34, 34, 34, 0.35) !default;
$modal-color: $white !default;
$modal-max-width: 43.75rem !default;
$modal-height: 70% !default;
$modal-breakpoint-small: 25rem !default;
$modal-breakpoint-medium: 37.5rem !default;
$modal-shadow: 0 4px 5px rgba(0, 0, 0, 0.6) !default;

//
// Masthead
//
$masthead-menu-icon-width: $icon-l;
$masthead-menu-icon-height: $icon-l;
$masthead-bg-color: $white !default;
$masthead-content-padding: $space-m !default;
$sprk-masthead-link-visited-color: $black !default;
$sprk-masthead-link-hover-color: $red !default;
$sprk-masthead-link-font-weight: $font-weight-body-one !default;
$masthead-border-bottom-size: 1px !default;
$masthead-border-bottom: $masthead-border-bottom-size solid $gray !default;
$masthead-breakpoint: 54rem !default;
$masthead-column-width: 89rem !default;
$big-nav-column-width: 64rem !default;
$big-nav-bg: $white !default;
$big-nav-active-color: $red !default;
$masthead-logo-max-width: 192px !default;
$masthead-logo-min-width: 174px !default;
$mobile-masthead-height: 113px !default;
$narrow-nav-left-border: 5px solid $red !default;
$narrow-nav-link-font-weight: normal !default;

//
// Spinners
///
$spinner-size: 1.1rem !default;
$spinner-size-large: 3rem !default;
$spinner-speed: 1s !default;
$spinner-thickness: 0.18rem !default;
$spinner-color: $white !default;

//
// Tabbed Navigation
///
$tab-navigation-breakpoint: 46rem !default;
$tab-navigation-btn-color: $black !default;
$tab-navigation-btn-bg-color: $gray !default;
$tab-navigation-btn-border-top: 3px solid $gray !default;
$tab-navigation-btn-hover-border-top: 3px solid $red !default;
$tab-navigation-btn-active-color: $red !default;
$tab-navigation-btn-active-border-top: 3px solid $red !default;
$tab-navigation-btn-active-bg-color: $white !default;
$sprk-tab-navigation-btn-font-size: $font-size-body-one !default;
$sprk-tab-navigation-btn-font-weight: $font-weight-body-one !default;
