// ==================================================================
// Settings
// ==================================================================

//
// Namespaces
///
$scales-namespace: 'sprk-';
$scales-base-class-namespace: 'b-';
$scales-components-class-namespace: 'c-';
$scales-objects-class-namespace: 'o-';
$scales-utilities-class-namespace: 'u-';

//
// Reset
///
$selection-bg-color: $blue !default;

//
// Spacing
///
$space-inset-xs: 4px 4px 4px 4px !default;
$space-inset-s: 8px 8px 8px 8px !default;
$space-inset-m: 16px 16px 16px 16px !default;
$space-inset-l: 32px 32px 32px 32px !default;
$space-inset-xl: 64px 64px 64px 64px !default;

// Inset Short
$space-inset-short-xs: 2px 4px 2px 4px !default;
$space-inset-short-s: 4px 8px 4px 8px !default;
$space-inset-short-m: 8px 16px 8px 16px !default;
$space-inset-short-l: 16px 32px 16px 32px !default;
$space-inset-short-xl: 32px 64px 32px 64px !default;

// Inset Tall
$space-inset-tall-xs: 6px 4px 6px 4px !default;
$space-inset-tall-s: 12px 8px 12px 8px !default;
$space-inset-tall-m: 24px 16px 24px 16px !default;
$space-inset-tall-l: 48px 32px 48px 32px !default;
$space-inset-tall-xl: 96px 64px 96px 64px !default;

// Stack
$space-stack-xs: 0 0 4px 0 !default;
$space-stack-s: 0 0 8px 0 !default;
$space-stack-m: 0 0 16px 0 !default;
$space-stack-l: 0 0 32px 0 !default;
$space-stack-xl: 0 0 64px 0 !default;

// Global Spacing Utilities
$space-xs: 4px !default;
$space-s: 8px !default;
$space-m: 16px !default;
$space-l: 32px !default;
$space-xl: 64px !default;
$space-h: $space-xl !default;

//
// Icons
//
$icon-m: 16px !default;
$icon-l: 32px !default;
$icon-xl: 64px !default;
$icon-xxl: 128px !default;

//
// Layout
//
$centered-column-width: 64rem !default;

//
// Layers
//
$layer-height-xs: 1 !default;
$layer-height-s: 1000 !default;
$layer-height-m: 2000 !default;
$layer-height-l: 3000 !default;
$layer-height-xl: 99999 !default;

//
// Horizontal List
//
$horizontal-list-spacing: $space-m !default;
$horizontal-list-spacing-tiny: $space-xs !default;
$horizontal-list-spacing-small: $space-s !default;
$horizontal-list-spacing-medium: $space-m !default;
$horizontal-list-spacing-large: $space-l !default;
$horizontal-list-spacing-huge: $space-xl !default;

//
// Pagination
//
$pag-max-width: 26rem !default;
$pag-link-color: $black !default;
$pag-link-color-hover: $pag-link-color !default;
$pag-selection-color: $red-real !default;
$pag-selection-link-color: $white !default;
$pag-selection-link-color-hover: $white !default;
$pag-circle-size: 2em !default;

//
// Typography
///

// Display One
$font-size-display-one: 3.797rem !default;
$color-display-one: $black !default;
$line-height-display-one: 1.13 !default;
$font-weight-display-one: bold !default;
// Display Two
$font-size-display-two: 2.853rem !default;
$color-display-two: $black !default;
$line-height-display-two: 1.19 !default;
$font-weight-display-two: bold !default;
// Display Three
$font-size-display-three: 2.594rem !default;
$color-display-three: $black !default;
$line-height-display-three: 1.15 !default;
$font-weight-display-three: bold !default;
// Display Four
$font-size-display-four: 2.144rem !default;
$color-display-four: $black !default;
$line-height-display-four: 1.3 !default;
$font-weight-display-four: normal !default;
// Display Five
$font-size-display-five: 1.772rem !default;
$color-display-five: $black !default;
$line-height-display-five: 1.19 !default;
$font-weight-display-five: bold !default;
// Display Six
$font-size-display-six: 1.464rem !default;
$color-display-six: $black !default;
$line-height-display-six: 1.28 !default;
$font-weight-display-six: bold !default;
// Display Seven
$font-size-display-seven: 1.464rem !default;
$color-display-seven: $black !default;
$line-height-display-seven: 1.16 !default;
$font-weight-display-seven: normal !default;
// Display Eight
$font-size-display-eight: 1.2rem !default;
$color-display-eight: $black !default;
$line-height-display-eight: 1.41 !default;
$font-weight-display-eight: normal !default;
// Body One
$font-size-body-one: 1rem !default;
$color-body-one: $black !default;
$line-height-body-one: 1.57 !default;
$font-weight-body-one: bold !default;
// Body Two
$font-size-body-two: 1rem !default;
$color-body-two: $black !default;
$line-height-body-two: 1.57 !default;
$font-weight-body-two: normal !default;
// Body Three
$font-size-body-three: 1rem !default;
$color-body-three: $black !default;
$line-height-body-three: 1.82 !default;
$font-weight-body-three: normal !default;
// Body Four
$font-size-body-four: 0.826rem !default;
$color-body-four: $black !default;
$line-height-body-four: 1.6 !default;
$font-weight-body-four: normal !default;
// Font Stack
$using-webfont-body: true !default;
$using-webfont-heading: true !default;
$body-font-name: FallSans !default;
$body-font-src: url('') !default;
$body-bold-font-src: url('') !default;
$heading-font-name: FallSans !default;
$heading-font-src: url('') !default;
$heading-bold-font-src: url('') !default;
$system-font-stack: null !default;
$system-body-fonts: false !default;
$body-font-stack: $body-font-name, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$heading-font-stack: $body-font-name, Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$system-heading-fonts: false !default;

// Line-height Collision
$line-height-collision-top-crop: 5;
$line-height-collision-bottom-crop: 5;

// Set Scales vars
$h1-size: $font-size-display-two !default;
$h1-color: $color-display-two !default;
$h1-line-height: $line-height-display-two !default;
$h1-weight: $font-weight-display-two !default;
$h2-size: $font-size-display-three !default;
$h2-color: $color-display-three !default;
$h2-line-height: $line-height-display-three !default;
$h2-weight: $font-weight-display-three !default;
$h3-size: $font-size-display-four !default;
$h3-color: $color-display-four !default;
$h3-line-height: $line-height-display-four !default;
$h3-weight: $font-weight-display-four !default;
$h4-size: $font-size-display-five !default;
$h4-color: $color-display-five !default;
$h4-line-height: $line-height-display-five !default;
$h4-weight: $font-weight-display-five !default;
$h5-size: $font-size-display-six !default;
$h5-color: $color-display-six !default;
$h5-line-height: $line-height-display-six !default;
$h5-weight: $font-weight-display-six !default;
$h6-size: $font-size-body-two !default;
$h6-color: $color-body-two !default;
$h6-line-height: $line-height-body-two !default;
$h6-weight: $font-weight-body-two !default;
$base-font-size: $font-size-body-two !default;
$base-line-height: $line-height-body-two !default;
$font-size-unit: rem !default;

//
// Consistent Style Vars
//
$border-radius: 5px !default;

//
// Alerts
///
$alert-border: 1px solid $gray !default;
$alert-bar-width: -10px !default;
$alert-color: $white !default;
$alert-color-info: $blue !default;
$alert-color-success: $green !default;
$alert-color-fail: $yellow !default;
$alert-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !default;
$alert-shadow-info: inset $alert-bar-width 0 0 $alert-color-info !default;
$alert-shadow-hover-info: inset -64px 0 0 $alert-color-info !default;
$alert-shadow-success: inset $alert-bar-width 0 0 $alert-color-success !default;
$alert-shadow-hover-success: inset -64px 0 0 $alert-color-success !default;
$alert-shadow-fail: inset $alert-bar-width 0 0 $alert-color-fail !default;
$alert-shadow-hover-fail: inset -64px 0 0 $alert-color-fail !default;

//
// Buttons
///
$btn-background-color: $red-real !default;
$btn-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !default;
$btn-border-style: solid !default;
$btn-border-color: $btn-background-color;
$btn-border-width: 2px;
$btn-font-weight: bold;
$btn-text-color: $white !default;
$btn-border-radius: 1px !default;
$btn-hover-background-color: $red-mid !default;
$btn-hover-text-color: $white !default;
$btn-padding: $space-inset-short-l !default;
$btn-breakpoint: 30rem !default;
$btn-transition-speed: 0.3s !default;
// Disabled
$btn-disabled-opacity: 1 !default;
$btn-disabled-background-color: $gray !default;
$btn-disabled-text-color: $black-tint-50 !default;
$btn-disabled-border-width: $btn-border-width !default;
$btn-disabled-border-color: transparent !default;
// Secondary
$btn-secondary-background-color: transparent !default;
$btn-secondary-border-color: $black !default;
$btn-secondary-hover-text-color: $white !default;
$btn-secondary-hover-background-color: $black !default;
$btn-secondary-text-color: $black !default;
// Tertiary
$btn-tertiary-background-color: transparent !default;
$btn-tertiary-border-color: transparent !default;
$btn-tertiary-hover-text-color: $black !default;
$btn-tertiary-hover-line-color: $red-real !default;
$btn-tertiary-hover-background-color: transparent !default;
$btn-tertiary-text-color: $black !default;

//
// Links
///
$link-color: $red-real !default;
$link-visited-color: $red-mid !default;
$link-transition: 0.3s !default;

//
// Lists
///
$list-margin-left: $space-m !default;

//
// Forms
///
$input-gray-medium: #5a5a5a !default;
$monetary-symbol: '$' !default;
$input-placeholder-color: $gray !default;
$input-readonly-text-color: $gray !default;
$fieldset-padding: 0 !default;
$text-input-border-radius: 0 !default;
$text-input-border-color: $black !default;
$text-input-border-width: 0 !default;
$input-container-margin-bottom: $space-m !default;
$input-disabled-background-color: $gray !default;
$input-disabled-border-color: $black !default;
$input-disabled-text-color: $input-gray-medium !default;
$helper-text-hidden: false !default;
$text-input-padding: 3px $space-s !default;
$input-readonly-border-color: $black !default;
$input-box-shadow: 0 1px 0 0 $black !default;
$input-error-box-shadow: 0 3px 0 0 $yellow !default;
$input-disabled-box-shadow: 0 1px 0 0 $input-gray-medium !default;
$date-picker-max-width: 20rem !default;
$date-picker-button-size: 2.25rem !default;
$date-picker-column-adjustment-x: 0.25rem !default;
$date-picker-box-shadow: 0 2px 5px $input-gray-medium !default;
$date-picker-day-interact-color: $red-real !default;
$text-input-interact-color: $red-real !default;
$error-text-color: $black !default;
$text-input-error-color: $yellow !default;
$input-max-width: 27.5rem !default;
$input-icon-offset-x: 7px !default;
$input-icon-offset-y: 20px !default;
$input-text-icon-offset-x: 6px !default;
$input-text-icon-offset-y: 20px !default;
$input-animation-speed: 0.3s !default;
$select-arrow-offset-y: -23px !default;
$select-arrow-offset-x: 8px !default;
$label-offset-y: -50px !default;
$label-offset-y-open: -31px !default;
$label-shrink-scale: 0.82 !default;
$fieldset-padding: 0 !default;

//
// Tables
///
$table-padding-small: $space-inset-s !default;
$table-padding-medium: $space-inset-m !default;
$table-padding-large: $space-inset-l !default;
$table-cell-alignment: center !default;
$table-stripe-color: $gray !default;

// Primary
$table-row-border-width: 1px !default;
$table-row-border-style: solid !default;
$table-row-border-color: $gray !default;
$table-header-background-color: $black !default;
$table-header-font-color: $white !default;
$table-header-font-size: $font-size-body-one !default;
$table-header-border-spacing: 2px !default;
$table-header-border-color: $white !default;
$table-empty-heading-background-color: $white !default;

// Secondary
$table-secondary-header-background-color: $white !default;
$table-secondary-header-font-color: $black !default;
$table-secondary-header-text-alignment: left !default;
$table-secondary-cell-text-alignment: left !default;
$table-secondary-header-border-spacing: 0 !default;
$table-secondary-header-border-color: $white !default;

// Grouped-Column
$table-grouped-header-background-color: $black !default;
$table-grouped-header-font-size: $font-size-body-four !default;
$table-grouped-header-font-weight: normal !default;

// Secondary Row Comparison
$table-secondary-row-comp-row-spacing: 15px !default;
$table-secondary-row-comp-border-width: 1px !default;
$table-secondary-row-comp-border-style: solid !default;
$table-secondary-row-comp-border-color: $gray !default;

//
// Box
///
$box-padding-tiny: $space-inset-xs !default;
$box-padding-small: $space-inset-s !default;
$box-padding: $space-inset-m !default;
$box-padding-large: $space-inset-l !default;
$box-padding-huge: $space-inset-xl !default;

//
// Media
//
$media-gutter-tiny: $space-xs !default;
$media-gutter-small: $space-s !default;
$media-gutter: $space-m !default;
$media-gutter-large: $space-l !default;
$media-gutter-huge: $space-xl !default;

//
// Stack Object
//
$stack-spacing-tiny: $space-xs !default;
$stack-spacing-small: $space-s !default;
$stack-spacing-medium: $space-m !default;
$stack-spacing-large: $space-l !default;
$stack-spacing-huge: $space-xl !default;
$split-breakpoint-xs: 30rem !default;
$split-breakpoint-s: 42.5rem !default;
$split-breakpoint-m: 55rem !default;
$split-breakpoint-l: 67.5rem !default;
$split-breakpoint-xl: 80rem !default;

//
// Accordions
//
$accordion-max-width: 53.125rem !default;
$accordion-border: 1px solid $black-tint-25 !default;
$accordion-border-open: 1px solid $black !default;
$accordion-summary-color: $black !default;
$accordion-summary-active-color: $red-real !default;

//
// Toggle
//
$toggle-transistion-timing: 0.3s ease;

//
// Dividers
//
$divider-border: 1px solid $black-tint-25 !default;

//
// Modals
//
$modal-mask-color: rgba(34, 34, 34, 0.35) !default;
$modal-color: $white !default;
$modal-max-width: 43.75rem !default;
$modal-height: 70% !default;
$modal-breakpoint-small: 25rem !default;
$modal-breakpoint-medium: 37.5rem !default;
$modal-shadow: 0 4px 5px rgba(0, 0, 0, 0.6) !default;

//
// Masthead / Main Nav
//
$main-nav-breakpoint: 46rem !default;
$masthead-column-width: 64rem !default;
$mobile-masthead-height: 6.7rem !default;

//
// Pagination
//
$pag-breakpoint: 24.25rem !default;

//
// Spinners
///
$spinner-size: 1.1rem !default;
$spinner-size-large: 3rem !default;
$spinner-speed: 1s !default;
$spinner-thickness: 0.18rem !default;
$spinner-color: $white !default;

//
// Tabbed Navigation
///
$tab-navigation-breakpoint: 46rem !default;
