<div class="sprk-u-mbm">
  <p>The Accordion component in spark-core-angular consists of two Angular components:</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>sprk-accordion</li>
    <li>sprk-accordion-item</li>
  </ul>
</div>
<table class="drizzle-c-Table sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Input</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">ng-content</td>
    <td>Anything inside the sprk-accordion component will be treated as a sprk-accordion-item</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>This is set on sprk-accordion-item and will set the value of the accordion title.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalClasses</td>
    <td>Allows a string of classes to add to a sprk-accordion-item. Intended for overrides.</td>
  </tr>
  </tbody>
</table>
