<div class="sprk-u-mbm">
  <p>The Accordion component in spark-core-angular consists of two Angular components:</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>sprk-accordion</li>
    <li>sprk-accordion-item</li>
  </ul>
</div>
