<p class="sprk-u-mbm">
  The grouped column variant
  uses an array of arrays to determine the columns and subheadings.
  The row data will render in the order that it is provided,
  regardless of the column name and data key. 
</p>
