<p class="sprk-u-mbm">
  The grouped column variant
  uses a two-dimensional array to determine the columns and subheadings.
  Rows expects a two-dimensional array and the data will render in the order that it is provided.
</p>
