<p class="sprk-u-mbm">
  The secondary row comparison variant
  expects an additional row object
  key of 'rowHeading'. 
  The button key expects a SprkButton component.
  The header key in the column prop is not necessary.
</p>