.#{$app-namespace}-c-Alert {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.#{$app-namespace}-c-Alert__icon svg {
  fill: $red;
  margin-right: 1rem;
  height: 35px;
  width: 35px;
}


.#{$app-namespace}-c-Alert__message {
  font-weight: bold;
  line-height: 1.1;
}
