.#{$app-namespace}-c-CodeExampleSwitch {
  padding: 0;
  margin: $space-m 0;

  @media (min-width: 34.375rem) {
    margin: 0 $space-l;
  }
}

.#{$app-namespace}-c-CodeExampleSwitch__wrapper {
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 5px;
  color: $black;
  display: flex;
  margin: 0;
}

.#{$app-namespace}-c-CodeExampleSwitch__group-label {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: $space-s;
}

.#{$app-namespace}-c-CodeExampleSwitch__radio-container {
  flex: 1;
}

.#{$app-namespace}-c-CodeExampleSwitch__input {
  display: none;
  flex: 1;
}

.#{$app-namespace}-c-CodeExampleSwitch__label {
  border-radius: 5px;
  color: $black-light;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.75rem 1.2rem;
  text-align: center;
  flex: 1;
}

.#{$app-namespace}-c-CodeExampleSwitch__input:checked {
  + .#{$app-namespace}-c-CodeExampleSwitch__label {
    color: $white;
    background-color: $black;
    transform: scale(1.1);
  }
}
