.#{$app-namespace}-c-Command {
  background-color: $gray-light;
  display: inline-block;
  overflow: auto;
  padding: 0 0.5rem 0.1rem;
  max-width: 100%;
  vertical-align: middle;
}

.#{$app-namespace}-c-Command code {
  font-size: 0.9rem;
}
