.#{$app-namespace}-c-Footer {
  background-color: $purple;
  padding: $space-inset-short-l;
}

.#{$app-namespace}-c-Footer__icons {
  @media (max-width: $footer-collapse-breakpoint) {
    margin: 0 auto;
    text-align: center;
  }
}

.#{$app-namespace}-c-Footer__link {
  display: inline-block;

  @media (max-width: $footer-collapse-breakpoint) {
    margin: 0 auto $space-m;
    text-align: center;
  }
}

.#{$app-namespace}-c-Footer__link:hover {
  color: $red-light;
}
