$drizzle-logo-size-small: 35px;

.#{$app-namespace}-c-Logo {
  max-width: 250px;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    max-width: 398px;
  }
}

.#{$app-namespace}-c-Logo img {
  width: 100%;
}

.#{$app-namespace}-c-Logo--small {
  height: $drizzle-logo-size-small;
  width: $drizzle-logo-size-small;
}
