$drizzle-nav-padding: 1rem;

.#{$app-namespace}-c-Navigation {
  background: $drizzle-nav-background-color;
  font-family: urw-din, sans-serif;
}

.#{$app-namespace}-c-Navigation__header {
  background: $drizzle-nav-background-color;
  color: $drizzle-white;
  padding: $drizzle-nav-padding;
  position: fixed;
  width: 100%;
  z-index: $drizzle-layer-height-m;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    display: block;
    height: 200px;
    padding: 4rem 0 2rem;
    width: $drizzle-layout-nav-width;
  }
}

.#{$app-namespace}-c-Navigation__logo-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    margin-bottom: 2rem;
  }
}

.#{$app-namespace}-c-Navigation__logo {
  @media (min-width: $drizzle-nav-switch-breakpoint) {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

.#{$app-namespace}-c-Navigation__toggle-icon {
  text-align: right;

  a {
    padding: 1rem;
  }

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    display: none;
  }
}

.#{$app-namespace}-c-Navigation.is-active
.#{$app-namespace}-c-Navigation__toggle-icon
svg {
  transform: rotate(180deg);
}

.#{$app-namespace}-c-Navigation a {
  color: $drizzle-white;
  font-weight: 300;
  text-decoration: none;
}

.#{$app-namespace}-c-Navigation__main {
  display: none;
  padding-bottom: 70px;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    display: block;
    padding-bottom: 0;
    margin-top: 200px;
  }
}

.#{$app-namespace}-c-Navigation__mobile-search {
  flex: 1;
  margin: 0 1.4rem;
  max-width: 300px;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    display: none;
  }
}

.#{$app-namespace}-c-Navigation.is-active
.#{$app-namespace}-c-Navigation__mobile-search {
  visibility: hidden;
}

.#{$app-namespace}-c-Navigation__search-container {
  display: none;

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    display: block;
  }
}

.#{$app-namespace}-c-Navigation.is-active
.#{$app-namespace}-c-Navigation__main {
  background-color: $drizzle-black;
  display: block;
  height: 100%;
  width: 100%;
  top: 62px;
  left: 0;
  overflow: auto;
  padding-top: 1rem;
  position: fixed;
  z-index: $drizzle-layer-height-m;
}

.#{$app-namespace}-c-Navigation__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.#{$app-namespace}-c-Navigation__item {
  display: block;
  padding: 1rem;

  &:focus,
  &:hover,
  &.is-active {
    background: $drizzle-highlight;
  }
}

.#{$app-namespace}-c-Navigation__item.#{$app-namespace}-b-h5 {
  color: $drizzle-highlight;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 16px;

  &:hover {
    background: $drizzle-black;
  }
}

.#{$app-namespace}-c-Navigation__item a {
  display: block;
  font-weight: 300;
  line-height: 0.8;
}

/* Offset jump links so they don't get hidden by the sticky header */
:target::before {
  display: block;
  height: calc(
    #{$drizzle-logo-size-small} + #{$drizzle-nav-padding} + #{$drizzle-nav-padding}
  );
  margin-top: calc(
    0 - #{$drizzle-logo-size-small} - #{$drizzle-nav-padding} - #{$drizzle-nav-padding}
  );

  @media (min-width: $drizzle-nav-switch-breakpoint) {
    height: calc(
      #{$drizzle-h1-font-size} + #{$drizzle-header-padding-vert-wide} + #{$drizzle-header-padding-vert-wide}
    );
    margin-top: calc(
      0 - #{$drizzle-h1-font-size} - #{$drizzle-header-padding-vert-wide} - #{$drizzle-header-padding-vert-wide}
    );
  }
}
