.#{$app-namespace}-c-Preview {
  margin-bottom: 3rem;
}

.#{$app-namespace}-c-Preview__example {
  border: 1px solid $sprk-gray-dark;
  padding: $space-inset-s;

  @media (min-width: 50rem) {
    padding: $space-inset-xl;
  }
}

.#{$app-namespace}-c-Preview__code {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $code-preview;
  max-width: 100%;
  max-height: 350px;
  padding-right: $sprk-space-m;
  padding-left: $sprk-space-m;
  padding-bottom: $sprk-space-m;
  overflow: scroll;
}

.#{$app-namespace}-c-Preview__markup {
  font-size: 1rem;
}

.#{$app-namespace}-c-Preview__btn {
  position: absolute;
  top: $sprk-space-s;
  right: $sprk-space-s;
  z-index: $drizzle-layer-height-xs;
}
