.drizzle-c-Preview {
  margin-bottom: 3rem;
}

.drizzle-c-Preview__example {
  border: 1px solid $gray-dark;
  padding: $space-inset-xl;
}

.drizzle-c-Preview__code code {
  display: block;
  font-size: 1rem;
  max-width: 100%;
}

