$space-margin-color: rgba(249, 204, 157, 0.8);
$space-padding-color: rgba(199, 222, 184, 0.8);
$space-xs : 4px;
$space-s  : 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

/* Inset tall */
.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1 * ($space-xs * 1.5)) 0 $space-padding-color,
    inset 0 ( $space-xs *1.5) 0 $space-padding-color,
    inset  $space-xs  0 0 0 $space-padding-color,
    inset (-1* $space-xs ) 0 0 0 $space-padding-color;
  padding: ( $space-xs *1.5)  $space-xs  ($space-xs *1.5)  $space-xs ;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1*( $space-s  *1.5)) 0 $space-padding-color,
    inset 0 ($space-s  *1.5) 0 $space-padding-color,
    inset  $space-s   0 0 0 $space-padding-color,
    inset (-1* $space-s  ) 0 0 0 $space-padding-color;
  padding: ($space-s  *1.5) $space-s ( $space-s  *1.5)  $space-s  ;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1*($space-m*1.5)) 0 $space-padding-color,
    inset 0 ($space-m*1.5) 0 $space-padding-color,
    inset $space-m 0 0 0 $space-padding-color,
    inset (-1*$space-m) 0 0 0 $space-padding-color;
  padding: ($space-m*1.5) $space-m ($space-m*1.5) $space-m;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1*($space-l*1.5)) 0 $space-padding-color,
    inset 0 ($space-l*1.5) 0 $space-padding-color,
    inset $space-l 0 0 0 $space-padding-color,
    inset (-1*$space-l) 0 0 0 $space-padding-color;
  padding: ($space-l*1.5) $space-l ($space-l*1.5) $space-l;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1*($space-xl*1.5)) 0 $space-padding-color,
    inset 0 ($space-xl*1.5) 0 $space-padding-color,
    inset $space-xl 0 0 0 $space-padding-color,
    inset (-1*$space-xl) 0 0 0 $space-padding-color;
  padding: ($space-xl*1.5) $space-xl ($space-xl*1.5) $space-xl;
}

/* Inset short */
.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1*( $space-xs /2)) 0 $space-padding-color,
    inset 0 ( $space-xs /2) 0 $space-padding-color,
    inset  $space-xs  0 0 0 $space-padding-color,
    inset (-1* $space-xs ) 0 0 0 $space-padding-color;
  padding: ( $space-xs /2)  $space-xs ( $space-xs /2)  $space-xs ;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1* $space-xs) 0 $space-padding-color,
    inset 0  $space-xs  0 $space-padding-color,
    inset $space-s   0 0 0 $space-padding-color,
    inset (-1* $space-s) 0 0 0 $space-padding-color;
  padding:  $space-xs $space-s $space-xs $space-s;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1 * $space-s  ) 0 $space-padding-color,
    inset 0  $space-s   0 $space-padding-color,
    inset $space-m 0 0 0 $space-padding-color,
    inset (-1 * $space-m) 0 0 0 $space-padding-color;
  padding: $space-s $space-m $space-s $space-m;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1 * $space-m) 0 $space-padding-color,
    inset 0 $space-m 0 $space-padding-color,
    inset $space-l 0 0 0 $space-padding-color,
    inset (-1 * $space-l) 0 0 0 $space-padding-color;
  padding: $space-m $space-l $space-m $space-l;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow:
    inset 0 (-1 * $space-l) 0 $space-padding-color,
    inset 0 $space-l 0 $space-padding-color,
    inset $space-xl 0 0 0 $space-padding-color,
    inset (-1 * $space-xl) 0 0 0 $space-padding-color;
  padding: $space-l $space-xl $space-l $space-xl;
}

/* Global Spacing*/
.drizzle-c-Space-inset-tall-xs {
  box-shadow: inset 0 0 0 $space-xs $space-padding-color;
  padding:  $space-xs ;
}

.drizzle-c-Space-inset-tall-xs {
  box-shadow: inset 0 0 0 $space-s $space-padding-color;
  padding:  $space-s  ;
}

.drizzle-c-Space-inset-m {
  box-shadow: inset 0 0 0 $space-m $space-padding-color;
  padding: $space-m;
}

.drizzle-c-Space-inset-m {
  box-shadow: inset 0 0 0 $space-l $space-padding-color;
  padding: $space-l;
}

.drizzle-c-Space-inset-xl {
  box-shadow: inset 0 0 0 $space-xl $space-padding-color;
  padding: $space-xl;
}


/* Stack */
.drizzle-c-Space-inset-xl {
  border-bottom:  $space-xs solid $space-margin-color;
}

.drizzle-c-Space-inset-xl {
  border-bottom:  $space-s solid $space-margin-color;
}

.drizzle-c-Space-inset-xl {
  border-bottom: $space-m solid $space-margin-color;
}

.drizzle-c-Space-stack-l {
  border-bottom: $space-l solid $space-margin-color;
}

.drizzle-c-Space-stack-l {
  border-bottom: $space-xl solid $space-margin-color;
}

/* Inline Doc Displays */
.drizzle-c-Space-inline-right-xs {
  border-right:  $space-xs solid $space-margin-color;
}

.drizzle-c-Space-inline-right-s {
  border-right:  $space-s solid $space-margin-color;
}

.drizzle-c-Space-inline-right-m {
  border-right: $space-m solid $space-margin-color;
}

.drizzle-c-Space-inline-right-l {
  border-right: $space-l solid $space-margin-color;
}

.drizzle-c-Space-inline-right-xl {
  border-right: $space-xl solid $space-margin-color;
}
