.#{$app-namespace}-c-StateChanger {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top: -2rem;
    margin-bottom: 5rem;

    @media (min-width: 400px) {
      flex-direction: row;
    }

    @media (min-width: 960px) {
      padding: 1rem;
    }
}

.#{$app-namespace}-c-StateChanger__state {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 0.5rem;

    @media (min-width: 400px) {
      margin: 0 1rem 0 0;
    }
}

.#{$app-namespace}-c-StateChanger__state-item {
  margin: 0;
  padding-top: 0.3rem;
}

.#{$app-namespace}-c-StateChanger__state-item:first-child {
    margin-right: 0.5rem;
}

