.#{$app-namespace}-c-SwatchLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.#{$app-namespace}-c-SwatchLayout figure {
  margin: 0 1rem 0 0;
}

.#{$app-namespace}-c-Swatch {
  height: 100px;
  width: 225px;
}
