.#{$app-namespace}-c-Table {
  max-width: 50em;

  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  th {
    border-bottom: 2px solid $highlight;
    padding-bottom: 1rem;
  }

  td {
    border-bottom: 1px solid $gray-dark;
    padding: 1rem 2rem 1rem 0;
  }
}
