.#{$app-namespace}-c-Tag {
  background-color: $black;
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 7.8125rem;
  height: 1.75rem;
}

.#{$app-namespace}-c-Tag--secondary {
  background-color: $white;
  border-radius: 3px;
}

.#{$app-namespace}-c-Tag--inprogress {
  background-color: $gray;
}

.#{$app-namespace}-c-Tag--secondary .#{$app-namespace}-c-Tag__desc span {
  color: $black;
}

.#{$app-namespace}-c-Tag__color-box {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: $orange-light;
  width: 1.5625rem;
}

.#{$app-namespace}-c-Tag__desc {
  flex: 1;
}

.#{$app-namespace}-c-Tag__desc span,
.#{$app-namespace}-c-Tag__desc {
  align-self: center;
  display: block;
  color: $white;
  text-decoration: none;
  text-align: center;
}
