:root {
  --space-margin-color: rgba(249, 204, 157, 0.8);
  --space-padding-color: rgba(199, 222, 184, 0.8);
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;
}
/* Inset tall */
.Space-inset-tall-xs {
  box-shadow:
    inset 0 calc(-1*(var(--space-xs)*1.5)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-xs)*1.5) 0 var(--space-padding-color),
    inset var(--space-xs) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-xs)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-xs)*1.5) var(--space-xs) calc(var(--space-xs)*1.5) var(--space-xs);
}

.Space-inset-tall-s {
  box-shadow:
    inset 0 calc(-1*(var(--space-s)*1.5)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-s)*1.5) 0 var(--space-padding-color),
    inset var(--space-s) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-s)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-s)*1.5) var(--space-s) calc(var(--space-s)*1.5) var(--space-s);
}

.Space-inset-tall-m {
  box-shadow:
    inset 0 calc(-1*(var(--space-m)*1.5)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-m)*1.5) 0 var(--space-padding-color),
    inset var(--space-m) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-m)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-m)*1.5) var(--space-m) calc(var(--space-m)*1.5) var(--space-m);
}

.Space-inset-tall-l {
  box-shadow:
    inset 0 calc(-1*(var(--space-l)*1.5)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-l)*1.5) 0 var(--space-padding-color),
    inset var(--space-l) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-l)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-l)*1.5) var(--space-l) calc(var(--space-l)*1.5) var(--space-l);
}

.Space-inset-tall-xl {
  box-shadow:
    inset 0 calc(-1*(var(--space-xl)*1.5)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-xl)*1.5) 0 var(--space-padding-color),
    inset var(--space-xl) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-xl)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-xl)*1.5) var(--space-xl) calc(var(--space-xl)*1.5) var(--space-xl);
}

/* Inset short */
.Space-inset-short-xs {
  box-shadow:
    inset 0 calc(-1*(var(--space-xs)/2)) 0 var(--space-padding-color),
    inset 0 calc(var(--space-xs)/2) 0 var(--space-padding-color),
    inset var(--space-xs) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-xs)) 0 0 0 var(--space-padding-color);
  padding: calc(var(--space-xs)/2) var(--space-xs) calc(var(--space-xs)/2) var(--space-xs);
}

.Space-inset-short-s {
  box-shadow:
    inset 0 calc(-1*var(--space-xs)) 0 var(--space-padding-color),
    inset 0 var(--space-xs) 0 var(--space-padding-color),
    inset var(--space-s) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-s)) 0 0 0 var(--space-padding-color);
  padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-s);
}

.Space-inset-short-m {
  box-shadow:
    inset 0 calc(-1*var(--space-s)) 0 var(--space-padding-color),
    inset 0 var(--space-s) 0 var(--space-padding-color),
    inset var(--space-m) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-m)) 0 0 0 var(--space-padding-color);
  padding: var(--space-s) var(--space-m) var(--space-s) var(--space-m);
}

.Space-inset-short-l {
  box-shadow:
    inset 0 calc(-1*var(--space-m)) 0 var(--space-padding-color),
    inset 0 var(--space-m) 0 var(--space-padding-color),
    inset var(--space-l) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-l)) 0 0 0 var(--space-padding-color);
  padding: var(--space-m) var(--space-l) var(--space-m) var(--space-l);
}

.Space-inset-short-xl {
  box-shadow:
    inset 0 calc(-1*var(--space-l)) 0 var(--space-padding-color),
    inset 0 var(--space-l) 0 var(--space-padding-color),
    inset var(--space-xl) 0 0 0 var(--space-padding-color),
    inset calc(-1*var(--space-xl)) 0 0 0 var(--space-padding-color);
  padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
}

/* Global Spacing*/
.Space-inset-xs {
  box-shadow: inset 0 0 0 var(--space-xs) var(--space-padding-color);
  padding: var(--space-xs);
}

.Space-inset-s {
  box-shadow: inset 0 0 0 var(--space-s) var(--space-padding-color);
  padding: var(--space-s);
}

.Space-inset-m {
  box-shadow: inset 0 0 0 var(--space-m) var(--space-padding-color);
  padding: var(--space-m);
}

.Space-inset-l {
  box-shadow: inset 0 0 0 var(--space-l) var(--space-padding-color);
  padding: var(--space-l);
}

.Space-inset-xl {
  box-shadow: inset 0 0 0 var(--space-xl) var(--space-padding-color);
  padding: var(--space-xl);
}


/* Stack */
.Space-stack-xs {
  border-bottom: var(--space-xs) solid var(--space-margin-color);
}

.Space-stack-s {
  border-bottom: var(--space-s) solid var(--space-margin-color);
}

.Space-stack-m {
  border-bottom: var(--space-m) solid var(--space-margin-color);
}

.Space-stack-l {
  border-bottom: var(--space-l) solid var(--space-margin-color);
}

.Space-stack-xl {
  border-bottom: var(--space-xl) solid var(--space-margin-color);
}

/* Inline Doc Displays */
.Space-inline-right-xs {
  border-right: var(--space-xs) solid var(--space-margin-color);
}

.Space-inline-right-s {
  border-right: var(--space-s) solid var(--space-margin-color);
}

.Space-inline-right-m {
  border-right: var(--space-m) solid var(--space-margin-color);
}

.Space-inline-right-l {
  border-right: var(--space-l) solid var(--space-margin-color);
}

.Space-inline-right-xl {
  border-right: var(--space-xl) solid var(--space-margin-color);
}
