.drizzle-state-switcher {
    background-color: #fff;
    display: flex;
    max-width: 250px;

    @media (min-width: 960px) {
      padding: 1rem;
    }
}

.drizzle-state-switcher__state {
    align-items: center;
    display: flex;
    flex: 1;
    margin-right: 1rem;
}

.drizzle-state-switcher__state-item {
    margin-bottom: 0.3rem;
}

.drizzle-state-switcher__state-item:first-child {
    margin-right: 0.5rem;
}

