<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Expects a space-separated list of classes to append to the class attribute of the sprk-award component.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsStringImgOne</td>
      <td>string</td>
      <td>The string that will be assigned to the data-analytics attribute of the first image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsStringImgTwo</td>
      <td>string</td>
      <td>The string that will be assigned to the data-analytics attribute of the second image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerCopy</td>
      <td>string</td>
      <td>The text that will be inside the disclaimer toggle at the bottom of the footer.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerTitle</td>
      <td>string</td>
      <td>The text that will be the clickable title of the disclaimer toggle.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgOneAlt</td>
      <td>string</td>
      <td>The alt text that will be applied to the first image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgOneHref</td>
      <td>string</td>
      <td>The value assigned to href in the link surrounding the first image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgOneSrc</td>
      <td>string</td>
      <td>The value assigned to the src attribute of the first image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgTwoAlt</td>
      <td>string</td>
      <td>The alt text that will be applied to the second image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgTwoHref</td>
      <td>string</td>
      <td>The value assigned to href in the link surrounding the second image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgTwoSrc</td>
      <td>string</td>
      <td>The value assigned to the src attribute of the second image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">splitAt</td>
      <td>string</td>
      <td>The relative size of viewport that the award component should switch from a stacked layout to a spread out layout.
      Values can be 'tiny', 'small', 'medium', 'large', 'huge'. You will need to experiment with your content to see which
      value is the best fit.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">title</td>
      <td>string</td>
      <td>The text that appears above the images and serves as the heading for the award section.</td>
    </tr>
  </tbody>
</table>
