@font-face {
  font-family: RocketSans;
  src:  url('https://spark-assets.netlify.app/RocketSans-Bold.woff2'),
        url('https://spark-assets.netlify.app/RocketSans-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: RocketSans;
  src:  url('https://spark-assets.netlify.app/RocketSans-Medium.woff2'),
        url('https://spark-assets.netlify.app/RocketSans-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: RocketSans;
  src:  url('https://spark-assets.netlify.app/RocketSans-Regular.woff2'),
        url('https://spark-assets.netlify.app/RocketSans-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: RocketSans;
  src:  url('https://spark-assets.netlify.app/RocketSans-Light.woff2'),
        url('https://spark-assets.netlify.app/RocketSans-Light.woff');
  font-weight: 300;
}