a, .o-Link-btn, .o-Link {
  color: $blue-medium;

  &:hover {
    text-decoration: none;
  }
}

.o-Link--plain {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.o-Link--visited {
  color: $blue-dark;
}
