// ==================================================================
// Tables
// ==================================================================
.table {
  text-align: center;
}

.table__head {
  background-color: $blue-dark;
  color: $white;
}

.table__grouped-column {
  background-color: $blue-dark;
  border-right: 0;
  font-size: 0.8em;
  font-weight: normal;
}

.table__grouped-columns .table__grouped-column {
  border: none;
}

.table--row-comparison .table__empty-heading {
  border: none;
}

.table__row-heading {
  background-color: $blue-dark;
  color: $white;
  border-bottom: $table-border-width $table-border-style $table-border-color;
}
