// ==================================================================
// Tables
// ==================================================================
.c-Table{
    text-align: center;
}

.c-Table__head {
    background-color: $blue-dark;
    color: $white;
}

.c-Table__grouped-column {
    background-color: $blue-dark;
    border-right: 0;
    font-size: 0.8em;
    font-weight: normal;
}

.c-Table__grouped-columns .c-Table__grouped-column,
.c-Table--row-comparison .c-Table__empty-heading {
    border: 0;
}

.c-Table__row-heading{
    background-color: $blue-dark;
    border-bottom: $table-border-width $table-border-style $table-border-color;
    color: $white;
}
