// ==================================================================
// Typography
// ==================================================================

.o-Heading {
  font-family: "quatro-slab", "times new roman", serif;
  color: $blue-dark;
}

.o-Heading--primary {
  font-size: ms(34);
}

.o-Heading--secondary {
  font-size: ms(21);
}

.o-Heading--sub {
  font-size: ms(17);
  font-weight: normal;
  color: $black;
}

.o-HeadingDivider {
  border-bottom: 2px solid $grey-medium;
  margin-bottom: ms(0);
}

.o-BodyDivider,
hr {
  border: 0;
  border-bottom: 2px dashed $grey-medium;
  margin-bottom: ms(0);
}

.o-List--indented,
.o-List--unordered {
  padding-left: ms(5);
}

.o-List--ordered {
  padding-left: ms(0);
}

.o-List--indented {
  padding-left: ms(12);
  margin-left: ms(0);
}

.o-List--bare {
  list-style-type: none;
}
