<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fourth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      half
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fourth
    </p>
  </div>
</sprk-stack>

<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      sixth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      flex
    </p>
  </div>
</sprk-stack>

<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      fifth
    </p>
  </div>
</sprk-stack>

<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--half@xs">
    <sprk-stack splitAt="tiny" itemSpacing="medium">
      <div sprkStackItem class="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p class="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </div>
      <div sprkStackItem class="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p class="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </div>
    </sprk-stack>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      half
    </p>
  </div>
</sprk-stack>

<sprk-stack splitAt="tiny">
  <div sprkStackItem class="sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </div>
  <div sprkStackItem class="sprk-o-Stack__item--three-fifths@xs sprk-u-AbsoluteCenter">
    <p class="sprk-b-TypeBodyOne">
      three-fifths
    </p>
  </div>
</sprk-stack>
