<p class="sprk-u-mbm">The input components expect HTML for labels and inputs to be inside the provided sprk elements. We
do it this way so that you can use standard HTML attributes, such as disabled and readonly. Also, with the markup
exposed, you're able to bind your Angular form logic directly.</p>

<p class="sprk-u-mbm">The inputs are grouped into two groups, those that make use of sprk-input-container, and those
that use sprk-selection-container. The sprk-input-container inputs expect the HTML for labels and inputs whereas the
sprk-selection-containers expect there to be sprk-selection-item-containers inside. Sprk-selection-item-containers also
expect label and input HTML. There are some inputs variants that make use of both sprk-input-container and
sprk-selection-item-container, such as the password input.</p>

<p class="sprk-u-mbm">See below for information regarding properties that apply to all inputs:</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Property</th>
    <th>Property Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>sprkLabel</strong></td>
      <td>Directive</td>
      <td>Assigns an element as a label to be tied to a sprkInput element in the same container.</td>
    </tr>
    <tr>
      <td><strong>sprkInput</strong></td>
      <td>Directive</td>
      <td>Assigns an element as in input to be tied to a sprkLabel element in the same container.</td>
    </tr>
   <tr>
      <td><strong>sprkFieldError</strong></td>
      <td>Directive</td>
      <td>Assigns an element as an error message to be tied to a sprkInput element in the same container.</td>
    </tr>
    <tr>
      <td><strong>sprkHelperText</strong></td>
      <td>Directive</td>
      <td>Assigns an element as helper text, tied to a sprkInput element in the same container.</td>
    </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">All input components can also make use of:</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>additionalClasses</strong></td>
    <td>string</td>
    <td>A space-separated list of class names to be appended to the class attribute of the given component.</td>
  </tr>
  </tbody>
</table>
