---
name: Circle Spinner
notes: The default color and size. Typically shown against a dark background.
previewClass: drizzle-u-bgGreenMedium drizzle-u-pad drizzle-u-verticalCenter drizzle-u-spaceAround
---

<span class="sprk-c-Spinner sprk-c-Spinner--circle {{#if class}}{{class}} {{/if}}"></span>
