// ==========================================================================
// Box Object
// ==========================================================================


//
// Box Mixin
///
@mixin Box($padding: $sprk-box-padding) {
  @extend %ClearFix;

  display: block;
  padding: $padding;

  > :last-child {
    margin-bottom: 0;
  }
}

//
// Default box
///
.sprk-o-Box {
  @include Box;
}

//
// Flush box (No padding)
///
.sprk-o-Box--flush {
  padding: 0;
}

//
// Tiny box
///
.sprk-o-Box--tiny {
  padding: $sprk-box-padding-tiny;
}

//
// Small box
///
.sprk-o-Box--small {
  padding: $sprk-box-padding-small;
}

//
// Large box
///
.sprk-o-Box--large {
  padding: $sprk-box-padding-large;
}

//
// Huge box
///
.sprk-o-Box--huge {
  padding: $sprk-box-padding-huge;
}
