---
sparkCore: true
doclayout: true
order: 3
description: The greyscale palette is should be used sparingly.
---

<div class="drizzle-c-SwatchLayout">
  {{#each (data "colors")}}
    {{#each this.Greyscale}}
      {{> drizzle.swatch }}
    {{/each}}
  {{/each}}
</div>
