---
sparkCore: true
doclayout: true
order: 1
description: The core colors are used for text elements, backgrounds, and application UI.
---

<div class="drizzle-c-SwatchLayout">
{{#each (data "colors")}}
  {{#each this.Primary}}
    {{> drizzle.swatch }}
  {{/each}}
{{/each}}
</div>