---
sparkCore: true
doclayout: true
order: 2
description: The secondary color palette should make up 20% or less of the color in the layout and should be used
  sparingly to highlight important information and calls to action throughout the experience.
---

<div class="drizzle-c-SwatchLayout">
  {{#each (data "colors")}}
    {{#each this.Secondary}}
      {{> drizzle.swatch }}
    {{/each}}
  {{/each}}
</div>
