// ==================================================================
// Forms
// ==================================================================
.sprk-b-Label {
  font-size: $font-size-label;
  font-weight: bold;
  color: $blue-dark;
}

.sprk-b-SubLabel {
  font-size: $font-size-sub-label;
}

.sprk-b-Label--inline {
  display: inline-block;
}

.sprk-b-HelperText {
  color: $gray-medium;
}

.sprk-b-ErrorText {
  color: $red-medium;
}

.sprk-b-TextArea {
  min-height: 125px;
  margin-bottom: 1rem;
}

.sprk-b-TextInput[readonly] {
  color: $white;

  &:focus {
    border-color: $gray-medium;
    box-shadow: 0 0 0 3px $gray-medium;
  }
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $gray-medium;
}
