// ==================================================================
// Forms
// ==================================================================
.sprk-b-Label,
label {
  font-size: ms(1);
  font-weight: bold;
  color: $blue-dark;
}

.sprk-b-Label--inline {
  display: inline-block;
}

.sprk-b-HelperText {
  color: $gray-medium;
}

.sprk-b-ErrorText {
  color: $red-medium;
}

textarea {
  min-height: 125px;
  margin-bottom: 1rem;
}

input[readonly] {
  color: $white;

  &:focus {
    border-color: $gray-medium;
    box-shadow: 0 0 0 3px $gray-medium;
  }
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $gray-medium;
}
