// ==================================================================
// Input Component
// ==================================================================
$input-gray-medium: #5a5a5a;

label,
.sprk-b-TextInput,
.sprk-b-Label {
  font-size: $font-size-body-three;
  font-weight: $font-weight-body-three;
  line-height: $line-height-body-three;
  padding: 0 $space-s;
}

.sprk-b-Label--inline {
  display: inline-block;
  vertical-align: middle;
}

.sprk-b-SubLabel {
  color: $color-body-two;
  font-size: $font-size-body-two;
  font-weight: $font-weight-body-two;
}

.sprk-b-TextInput,
.sprk-b-TextInput[disabled] {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sprk-b-TextInput[disabled] ~ .sprk-b-Label {
  color: $input-gray-medium;
  cursor: not-allowed;
}

.sprk-b-TextInput,
.sprk-b-Select,
textarea {
  font-size: $font-size-body-two;
  outline: 0;
}

.sprk-b-TextInput[disabled] {
  background-color: $gray-light;
  color: $input-gray-medium;
}

.sprk-b-TextInput--date-picker,
.sprk-b-TextInput--monetary {
  position: relative;
}

.sprk-b-TextInput--date-picker > .sprk-c-Icon,
.sprk-b-TextInput--monetary::before {
  color: $gray-dark;
  position: absolute;
  left: 0.55rem;
  z-index: $layer-height-xs;
}

.sprk-b-TextInput--date-picker > .sprk-c-Icon {
  top: 0.85rem;
}

.sprk-b-TextInput--monetary::before {
  content: '$';
  top: 0.6rem;
}

.sprk-b-TextInput[disabled],
.sprk-b-Select[disabled] {
  border-bottom-width: 1px;
  border-bottom-color: $input-gray-medium;
}

.sprk-b-TextInput--error,
.sprk-b-Select--error {
  border-bottom-width: 3px;
  border-bottom-color: $yellow;
}

.sprk-b-TextInput[readonly] {
  color: $white;
}

.sprk-b-SelectionContainer .sprk-b-Label {
  font-weight: normal;
}

.sprk-b-SelectionContainer [type='radio'],
.sprk-b-SelectionContainer [type='checkbox'] {
  vertical-align: middle;
}

.sprk-b-SelectionContainer:last-child {
  margin-bottom: $space-s;
}

.sprk-b-InputContainer {
  max-width: 27.5rem;
  margin-top: 2.5rem;
}

.sprk-b-InputContainer\@sm {
  max-width: none;
}

.sprk-b-InputContainer .sprk-b-Legend > .sprk-b-Label,
.sprk-b-InputContainer > .sprk-b-Label {
  margin-bottom: $space-s;
}

.sprk-b-HelperText {
  color: $input-gray-medium;
}

.sprk-b-ErrorIcon {
  fill: $yellow;
  margin-right: $space-s;
}

.sprk-b-ErrorText {
  display: flex;
  align-items: center;
  color: $black;
  font-size: $font-size-body-four;
  font-weight: bold;
  padding: 0 $space-s;
}

.sprk-b-TextArea {
  min-height: 125px;
  margin: $space-stack-m;
}

.sprk-b-Fieldset {
  padding: 0;
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $gray-light;
}

// label moving
.sprk-u-Javascript .sprk-b-TextInput ~ .sprk-b-Label {
  margin-top: -30px;
  position: absolute;
  transition: all 0.3s;
  width: auto;
}

.sprk-b-TextInput ~ .sprk-b-Label,
.sprk-u-Javascript .sprk-b-TextInput:not([placeholder*='']) ~ .sprk-b-Label,
.sprk-u-Javascript .sprk-b-TextInput--has-value ~ .sprk-b-Label,
.sprk-u-Javascript .sprk-b-TextInput--focusin ~ .sprk-b-Label {
  margin-top: -50px;
  font-size: 0.9rem;
}

// border animate
.sprk-b-InputContainer__input-border {
  display: block;
  content: ' ';
  border-bottom: 3px solid $red-real;
  width: 0;
  margin-top: -3px;
  margin-bottom: 3px;
  opacity: 1;
}

.sprk-b-TextInput--error ~ .sprk-b-InputContainer__input-border {
  border-bottom: 3px solid $yellow;
}

.sprk-b-TextInput--focusin ~ .sprk-b-InputContainer__input-border {
  animation: width-zero-to-full 0.3s;
  animation-fill-mode: forwards;
}

.sprk-b-TextInput--focusout ~ .sprk-b-InputContainer__input-border {
  width: 100%;
  animation: opacity-one-to-zero 0.3s;
  animation-fill-mode: forwards;
}
