// ==================================================================
// Input Component
// ==================================================================
label,
.sprk-b-Label {
  @include TextCrop(
    $line-height: $line-height-body-one,
    $top-crop: 8,
    $bottom-crop: 8,
    $crop-font-size: (strip-unit($font-size-body-one) * 16),
    $crop-line-height: $line-height-body-one);

  font-size: $font-size-body-one;
  color: $blue-dark;
  font-weight: $font-weight-body-one;
  line-height: $line-height-body-one;
}

.sprk-b-Label--inline {
  display: inline-block;
  vertical-align: middle;
}

.sprk-b-SubLabel {
  color: $color-body-two;
  font-size: $font-size-body-two;
  font-weight: $font-weight-body-two;
}

.sprk-b-TextInput,
select,
textarea {
  color: $gray-dark;
  outline: none;
  font-size: $font-size-body-two;

  &:focus {
    border-color: $blue-medium;
    box-shadow: $input-box-shadow;
  }
}

.sprk-b-TextInput--monetary {
  position: relative;

  &::before {
    content: '$';
    color: $gray-dark;
    position: absolute;
    top: 0.6rem;
    left: 0.55rem;
  }
}

.sprk-b-TextInput--date-picker {
  background-image: url('../images/calendar.svg');
  background-position: 5px 3px;
  padding-left: $space-l;
}

.sprk-b-TextInput--error {
  background-color: $red-light;
  border-color: $red-medium;

  &:focus {
    border-color: $red-medium;
    box-shadow: $input-error-box-shadow;
    background-color: $red-light;
  }
}

.sprk-b-TextInput[readonly] {
  color: $white;

  &:focus {
    box-shadow: $input-disabled-box-shadow;
  }
}

.sprk-b-SelectionContainer .sprk-b-Label,
.sprk-b-SelectionContainer label {
  font-weight: normal;
}

.sprk-b-InputContainer {
  max-width: 27.5rem;
}

.sprk-b-InputContainer\@sm {
  max-width: none;
}

.sprk-b-InputContainer > .sprk-b-Label,
.sprk-b-InputContainer > label {
  margin-bottom: $space-s;
}

.sprk-b-HelperText {
  color: $gray-medium;
}

.sprk-b-ErrorText {
  color: $red-medium;
}

.sprk-b-TextArea {
  min-height: 125px;
  margin: $space-stack-m;
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $gray-medium;
}
