// ==================================================================
// Links
// ==================================================================
//
.sprk-b-Link {
  color: $link-color;
  text-decoration: none;
  position: relative;
  transition: $link-transition;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $red-real;
    text-decoration: none;
  }

  &::after {
    content: '';
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    position: absolute;
    background: $link-underline-color;
  }
}

.sprk-b-Link--standalone {
  color: $red-real;

  &:hover,
  &:active,
  &:focus {
    &::after {
      opacity: 1;
      transition: $link-transition;
    }
  }

  &::after {
    opacity: 0;
  }
}

.sprk-b-Link--muted {
  color: $black-tint-75;

  &:visited {
    color: $black-tint-75;
  }

  &:hover,
  &:active,
  &:focus {
    color: $black-tint-75;
  }
}

.sprk-b-Link--disabled {
  color: $black-tint-50;
  pointer-events: none;

  &:visited {
    color: $black-tint-50;
  }

  &:hover,
  &:active,
  &:focus {
    color: $black-tint-50;
  }

  &::after {
    opacity: 0;
  }
}
