// ==================================================================
// Links
// ==================================================================
//
.sprk-b-Link {
  color: $link-color;
  text-decoration: underline;
  transition: $link-transition;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.sprk-b-Link--standalone {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.sprk-b-Link--disabled {
  color: $gray-medium;
  pointer-events: none;

  &:visited {
    color: $gray-medium;
  }

  &:hover,
  &:active,
  &:focus {
    color: $gray-medium;
  }
}
