// ==================================================================
// Links
// ==================================================================
//
.sprk-b-Link {
  color: $link-color;
  font-weight: $link-font-weight;
  position: relative;
  text-decoration: none;
  transition: $link-transition;
  box-shadow: inset 0 -0.125em $white, inset 0 -0.2em $link-underline-color;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $link-underline-color;
    text-decoration: none;
  }
}

.sprk-b-Link--plain {
  text-decoration: none;
  box-shadow: none;
}

.sprk-b-Link--standalone {
  color: $link-standalone-color;
  text-decoration: none;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    transition: $link-transition;
    box-shadow: inset 0 -0.125em $white, inset 0 -0.2em $link-underline-color;
  }
}

.sprk-b-Link--disabled {
  color: $link-disabled-color;
  pointer-events: none;
  text-decoration: none;
  box-shadow: inset 0 -0.125em $white, inset 0 -0.2em $link-disabled-color;

  &:visited {
    color: $link-disabled-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $link-disabled-color;
  }
}

.sprk-b-Link--muted {
  color: $link-muted-color;

  &:visited {
    color: $link-muted-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $link-muted-color;
  }
}
