// ==================================================================
// Tables
// ==================================================================
.sprk-b-TableContainer {
  display: block;
  max-width: 100%;
  overflow: auto;
}

.sprk-b-Table tbody tr {
  border-bottom-width: $table-row-border-width;
  border-bottom-style: $table-row-border-style;
  border-bottom-color: $table-row-border-color;
}

.sprk-b-Table th {
  background-color: $table-header-background-color;
  color: $table-header-font-color;
  font-size: $table-header-font-size;
  border-right-width: $table-header-border-spacing;
  border-right-color: $table-header-border-color;
  border-right-style: solid;
}

.sprk-b-Table tr > th:last-of-type {
  border-right: 0;
}

.sprk-b-Table--secondary td {
  text-align: $table-secondary-cell-text-alignment;
}

.sprk-b-Table--secondary thead tr {
  border-bottom-width: $table-row-border-width;
  border-bottom-style: $table-row-border-style;
  border-bottom-color: $table-row-border-color;
}

.sprk-b-Table--secondary th {
  background-color: $table-secondary-header-background-color;
  color: $table-secondary-header-font-color;
  text-align: $table-secondary-header-text-alignment;
  border-right-width: $table-secondary-header-border-spacing;
  border-right-color: $table-secondary-header-border-color;
  border-right-style: solid;
}

.sprk-b-Table--grouped-columns .sprk-b-Table--grouped-column {
  border: 0;
  background-color: $table-grouped-header-background-color;
  font-size: $table-grouped-header-font-size;
  font-weight: $table-grouped-header-font-weight;
}

.sprk-b-Table--row-comparison .sprk-b-Table__empty-heading {
  background-color: $table-empty-heading-background-color;
}

.sprk-b-Table--secondary-row-comparison {
  border-collapse: separate;
  border-top: 0;
  border-bottom: 0;
  border-spacing: $table-secondary-row-comp-row-spacing;
  margin-top: -$table-secondary-row-comp-row-spacing;
  margin-bottom: -$table-secondary-row-comp-row-spacing;
}

.sprk-b-Table--secondary-row-comparison td {
  border-top-width: $table-secondary-row-comp-border-width;
  border-top-style: $table-secondary-row-comp-border-style;
  border-top-color: $table-secondary-row-comp-border-color;
  border-bottom-width: $table-secondary-row-comp-border-width;
  border-bottom-style: $table-secondary-row-comp-border-style;
  border-bottom-color: $table-secondary-row-comp-border-color;
}

.sprk-b-Table--secondary-row-comparison tr > td:last-of-type {
  border-right-width: $table-secondary-row-comp-border-width;
  border-right-style: $table-secondary-row-comp-border-style;
  border-right-color: $table-secondary-row-comp-border-color;
}
