// ==================================================================
// Typography
// ==================================================================

@if $using-webfonts {
  @each $src, $name, $weight in $webfonts {
    @font-face {
      font-display: $sprk-font-display;
      font-family: $name;
      src: $src;
      font-weight: $weight;
    }
  }
}

.sprk-b-TypeDisplayOne {
  @include TextCrop(
    $line-height: $line-height-display-one,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-one) * 16
    ),
    $crop-line-height: $line-height-display-one
  );

  color: $color-display-one;
  font-family: $font-family-display-one;
  font-size: $font-size-display-one;
  font-weight: $font-weight-display-one;
}

h1,
.sprk-b-TypeDisplayTwo {
  @include TextCrop(
    $line-height: $line-height-display-two,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-two) * 16
    ),
    $crop-line-height: $line-height-display-two
  );
}

.sprk-b-TypeDisplayTwo {
  color: $color-display-two;
  font-family: $font-family-display-two;
  font-size: $font-size-display-two;
  font-weight: $font-weight-display-two;
}

h2,
.sprk-b-TypeDisplayThree {
  @include TextCrop(
    $line-height: $line-height-display-three,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-three) * 16
    ),
    $crop-line-height: $line-height-display-three
  );
}

.sprk-b-TypeDisplayThree {
  color: $color-display-three;
  font-family: $font-family-display-three;
  font-size: $font-size-display-three;
  font-weight: $font-weight-display-three;
}

h3,
.sprk-b-TypeDisplayFour {
  @include TextCrop(
    $line-height: $line-height-display-four,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-four) * 16
    ),
    $crop-line-height: $line-height-display-four
  );
}

.sprk-b-TypeDisplayFour {
  color: $color-display-four;
  font-family: $font-family-display-four;
  font-size: $font-size-display-four;
  font-weight: $font-weight-display-four;
}

h4,
.sprk-b-TypeDisplayFive {
  @include TextCrop(
    $line-height: $line-height-display-five,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-five) * 16
    ),
    $crop-line-height: $line-height-display-five
  );
}

.sprk-b-TypeDisplayFive {
  color: $color-display-five;
  font-family: $font-family-display-five;
  font-size: $font-size-display-five;
  font-weight: $font-weight-display-five;
}

h5,
h6,
.sprk-b-TypeDisplaySix {
  @include TextCrop(
    $line-height: $line-height-display-six,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-six) * 16
    ),
    $crop-line-height: $line-height-display-six
  );
}

.sprk-b-TypeDisplaySix {
  color: $color-display-six;
  font-family: $font-family-display-six;
  font-size: $font-size-display-six;
  font-weight: $font-weight-display-six;
  line-height: $line-height-display-six;
}

.sprk-b-TypeDisplaySeven {
  @include TextCrop(
    $line-height: $line-height-display-seven,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-display-seven) * 16
    ),
    $crop-line-height: $line-height-display-seven
  );

  color: $color-display-seven;
  font-family: $font-family-display-seven;
  font-size: $font-size-display-seven;
  font-weight: $font-weight-display-seven;
  line-height: $line-height-display-seven;
}

.sprk-b-TypeBodyOne {
  @include TextCrop(
    $line-height: $line-height-body-one,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-body-one) * 16
    ),
    $crop-line-height: $line-height-body-one
  );

  color: $color-body-one;
  font-family: $font-family-body-one;
  font-size: $font-size-body-one;
  font-weight: $font-weight-body-one;
}

p,
body,
.sprk-b-TypeBodyTwo {
  @include TextCrop(
    $line-height: $line-height-body-two,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-body-two) * 16
    ),
    $crop-line-height: $line-height-body-two
  );

  color: $color-body-two;
  font-family: $font-family-body-two;
  font-size: $font-size-body-two;
  font-weight: $font-weight-body-two;
}

small,
.sprk-b-TypeBodyThree {
  @include TextCrop(
    $line-height: $line-height-body-three,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-body-three) * 16
    ),
    $crop-line-height: $line-height-body-three
  );

  color: $color-body-three;
  font-family: $font-family-body-three;
  font-size: $font-size-body-three;
  font-weight: $font-weight-body-three;
}

.sprk-b-TypeBodyFour {
  @include TextCrop(
    $line-height: $line-height-body-four,
    $top-crop: $line-height-collision-top-crop,
    $bottom-crop: $line-height-collision-bottom-crop,
    $crop-font-size: (
      strip-unit($font-size-body-four) * 16
    ),
    $crop-line-height: $line-height-body-four
  );

  color: $color-body-four;
  font-family: $font-family-body-four;
  font-size: $font-size-body-four;
  font-weight: $font-weight-body-four;
}

// TODO: replace values with new spacing variables
.sprk-b-PageTitle {
  &::before {
    content: '';
    width: 32px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: $page-title-mark-color;
    padding-bottom: 24px;

    @media all and (min-width: $typography-breakpoint) {
      border-top-width: 6px;
      padding-bottom: 16px;
    }
  }
}
