// ==================================================================
// Typography
// ==================================================================
.sprk-b-TypeDisplayOne {
  color: $color-display-one;
  font-size: $font-size-display-one;
  font-weight: $font-weight-display-one;
  line-height: $line-height-display-one;
}

.sprk-b-TypeDisplayTwo {
  color: $color-display-two;
  font-size: $font-size-display-two;
  font-weight: $font-weight-display-two;
  line-height: $line-height-display-two;
}

.sprk-b-TypeDisplayThree {
  color: $color-display-three;
  font-size: $font-size-display-three;
  font-weight: $font-weight-display-three;
  line-height: $line-height-display-three;
}

.sprk-b-TypeDisplayFour {
  font-size: $font-size-display-four;
  color: $color-display-four;
  font-weight: $font-weight-display-four;
  line-height: $line-height-display-four;
}

.sprk-b-TypeDisplayFive {
  font-size: $font-size-display-five;
  color: $color-display-five;
  font-weight: $font-weight-display-five;
  line-height: $line-height-display-five;
}

.sprk-b-TypeDisplaySix {
  font-size: $font-size-display-six;
  color: $color-display-six;
  font-weight: $font-weight-display-six;
  line-height: $line-height-display-six;
}

.sprk-b-TypeDisplaySeven {
  font-size: $font-size-display-seven;
  color: $color-display-seven;
  font-weight: $font-weight-display-seven;
  line-height: $line-height-display-seven;
}

.sprk-b-TypeBodyOne {
  font-size: $font-size-body-one;
  color: $color-body-one;
  font-weight: $font-weight-body-one;
  line-height: $line-height-body-one;
}

.sprk-b-TypeBodyTwo {
  font-size: $font-size-body-two;
  color: $color-body-two;
  font-weight: $font-weight-body-two;
  line-height: $line-height-body-two;
}

small,
.sprk-b-TypeBodyThree {
  font-size: $font-size-body-three;
  color: $color-body-three;
  font-weight: $font-weight-body-three;
  line-height: $line-height-body-three;
}

.sprk-b-TypeBodyFour {
  font-size: $font-size-body-four;
  color: $color-body-four;
  font-weight: $font-weight-body-four;
  line-height: $line-height-body-four;
}

// TODO: see if this is done already in scales
strong {
  font-weight: bold;
}
