<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        imgSrc
      </td>
      <td>
        string
      </td>
      <td>
        The source for the image. If this property is provided, imgAlt is required.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        imgAlt
      </td>
      <td>
        string
      </td>
      <td>
        The alt text for the image. If this property is provided, imgSrc is required.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        heading
      </td>
      <td>
        string
      </td>
      <td>
        The heading text.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaText
      </td>
      <td>
        string
      </td>
      <td>
        The text for the first CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaHref
      </td>
      <td>
        string
      </td>
      <td>
        The href for the first CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaAnalytics
      </td>
      <td>
        string
      </td>
      <td>
        The data-analytics for the first CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaIdString
      </td>
      <td>
        string
      </td>
      <td>
        The data-id for the first CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaText2
      </td>
      <td>
        string
      </td>
      <td>
        The text for the second CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaHref2
      </td>
      <td>
        string
      </td>
      <td>
        The href for the second CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaAnalytics2
      </td>
      <td>
        string
      </td>
      <td>
        The data-analytics for the second CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        ctaIdString2
      </td>
      <td>
        string
      </td>
      <td>
        The data-id for the second CTA.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        variant
      </td>
      <td>
        string
      </td>
      <td>
        Expects 'noImage' or 'stacked'. Alters the layout of the highlight board.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        idString
      </td>
      <td>
        string
      </td>
      <td>
        The string to use for the data-id attribute for the component.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        additionalClasses
      </td>
      <td>
        string
      </td>
      <td>
        Any additional classes to add to the highlight board.
      </td>
    </tr>
  </tbody>
</table>
