<form class="drizzle-c-CodeExampleSwitch" data-code-example-switch>
  <p class="drizzle-c-CodeExampleSwitch__group-label">Code Examples</p>
  <div class="drizzle-c-CodeExampleSwitch__wrapper">
    <div class="drizzle-c-CodeExampleSwitch__radio-container">
      <input class="drizzle-c-CodeExampleSwitch__input" value="none" type="radio" id="none" name="code-examples" checked />
      <label tabindex="0" class="drizzle-c-CodeExampleSwitch__label" for="none">None</label>
    </div>
    <div class="drizzle-c-CodeExampleSwitch__radio-container">
      <input class="drizzle-c-CodeExampleSwitch__input" value="html" type="radio" id="html" name="code-examples" />
      <label tabindex="0" class="drizzle-c-CodeExampleSwitch__label" for="html">HTML</label>
    </div>
    <div class="drizzle-c-CodeExampleSwitch__radio-container">
      <input class="drizzle-c-CodeExampleSwitch__input" value="angular" type="radio" id="angular" name="code-examples" />
      <label tabindex="0" class="drizzle-c-CodeExampleSwitch__label" for="angular">Angular</label>
    </div>
  </div>
</form>
