{{!-- Nav item partial --}}
{{#*inline "nav-item"}}
  <a class="drizzle-c-Navigation__item drizzle-copy" href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<div class=" drizzle-o-Layout__nav drizzle-c-Navigation" id="nav">
  <div class="drizzle-c-Navigation__header">
    <div class="drizzle-c-Navigation__logo">
      <a href="{{@root.baseurl}}/">
        {{> drizzle.small-logo}}
      </a>
    </div>
    <div class="drizzle-c-Navigation__toggle-icon">
      <a href="#nav">
        <svg viewBox="-1 -1 12 7" width="16" height="16">
          <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
        </svg>
        <span class="drizzle-u-ScreenReaderText">Navigation</span>
      </a>
    </div>

  </div>
  <div class="drizzle-c-Navigation__main" id="nav-menu">
    <label class="drizzle-u-ScreenReaderText" for="search">Search</label>
    <input class="drizzle-b-TextInput drizzle-b-TextInput--search" id="search" type="text" placeholder="Search">
    {{!-- Getting Started --}}
    <h5 class="drizzle-c-Navigation__item drizzle-b-h5">Getting Started</h5>
    <ul class="drizzle-c-Navigation__menu">
      {{#each (pages "gettingstarted")}}
        <li>
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
    </ul>
    {{!-- Fundementals --}}
    <h5 class="drizzle-c-Navigation__item drizzle-b-h5">Fundamentals</h5>
    <ul class="drizzle-c-Navigation__menu">
      {{#each (collections "fundamentals")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Components --}}
    <h5 class="drizzle-c-Navigation__item drizzle-b-h5">Components</h5>
    <ul class="drizzle-c-Navigation__menu">
      {{#each (collections "components")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Utilities --}}
    <h5 class="drizzle-c-Navigation__item drizzle-b-h5">Utilities</h5>
    <ul class="drizzle-c-Navigation__menu">
      {{#each (collections "utilities")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Other pages --}}
    <h5 class="drizzle-c-Navigation__item drizzle-b-h5">Documentation</h5>
    <ul class="drizzle-c-Navigation__menu">
      {{#each (pages "docs" ignore="index")}}
        <li>
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
