<svg class="drizzle-c-Logo drizzle-c-Logo--small" viewBox="0 0 303 274" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Spark Design System</title>
  <defs></defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="spark_logo_v1a" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero">
      <path d="M244.26,251.3 L297.47,158.52 C305.300173,144.807464 305.250662,127.966261 297.34,114.3 L282.43,88.65 L245.35,152.47 C247.239765,173.380471 235.721681,193.205368 216.62,201.92 L174.97,273.61 L206.03,273.52 C221.820285,273.44721 236.380963,264.984267 244.26,251.3 Z" id="Shape" fill="#FF451A"></path>
      <path d="M216.62,201.92 C216.48,201.98 216.35,202.07 216.21,202.13 L124.44,244.13 L107.18,273.83 L174.97,273.63 L216.62,201.92 Z" id="Shape" fill="#FF5C1C"></path>
      <path d="M246.51,33.98 L203.45,108.09 C226.049589,111.316685 243.426758,129.722383 245.35,152.47 L282.43,88.65 L252.57,37.27 C251.324041,35.126526 248.986257,33.8573328 246.51,33.98 Z" id="Shape" fill="#FF5C1C"></path>
      <path d="M121.32,245.52 L88.75,260.42 C86.1274382,261.621722 84.5829244,264.381324 84.9300541,267.245145 C85.2771839,270.108965 87.4362774,272.419645 90.27,272.96 C93.1272824,273.537399 96.0349612,273.828837 98.95,273.83 L99.07,273.83 L107.18,273.83 L124.44,244.12 L121.32,245.52 Z" id="Shape" fill="#FF721E"></path>
      <path d="M203.45,108.09 L246.51,33.98 C245.695396,34.0185785 244.895093,34.2084807 244.15,34.54 L223.61,43.65 L155.71,73.77 L119.02,136.94 L175.32,111.84 C184.140043,107.907705 193.907854,106.605562 203.45,108.09 Z" id="Shape" fill="#FF721E"></path>
      <path d="M100.15,98.41 C89.38,103.22 84.22,115.79 88.67,126.41 C90.9000608,131.733782 95.1797833,135.935413 100.543726,138.067068 C105.907668,140.198722 111.903986,140.080835 117.18,137.74 L119.02,136.92 L155.71,73.75 L100.15,98.41 Z" id="Shape" fill="#FF8920"></path>
      <path d="M215.64,148.4 C213.412436,143.074311 209.132262,138.871297 203.766935,136.740974 C198.401608,134.610652 192.404086,134.732868 187.13,137.08 L186.46,137.37 L149.76,200.55 L204.15,176.42 C214.9,171.61 220.08,159.05 215.64,148.4 Z" id="Shape" fill="#FF5C1C"></path>
      <path d="M101.66,166.83 L58.74,240.72 C59.2287276,240.633556 59.7054188,240.489206 60.16,240.29 L80.7,231.18 L149.76,200.55 L186.46,137.37 L128.99,162.99 C120.420666,166.808661 110.949846,168.139358 101.66,166.83 Z" id="Shape" fill="#FF721E"></path>
      <path d="M182.98,29.31 L215.55,14.42 C218.203256,13.231774 219.775031,10.4557199 219.428836,7.56923412 C219.082641,4.68274834 216.898987,2.35710699 214.04,1.83 C211.182629,1.25319004 208.275009,0.961758096 205.36,0.96 L205.23,0.96 L197.99,0.96 L180.99,30.13 L182.98,29.31 Z" id="Shape" fill="#FF721E"></path>
      <path d="M63.21,138.59 C61.0631621,133.882999 59.6662584,128.868992 59.07,123.73 L22.33,186.96 L51.74,237.57 C53.1664313,240.001327 55.974284,241.264861 58.74,240.72 L101.7,166.83 C84.8785514,164.634035 70.3532984,153.9769 63.21,138.59 Z" id="Shape" fill="#FF8920"></path>
      <polygon id="Shape" fill="#FF8920" points="88.93 72.32 181.09 30.17 198.03 1.02 130.24 1.22"></polygon>
      <path d="M61.9,100.47 C66.5367136,88.0647781 75.9833712,78.0556478 88.1,72.71 L88.86,72.36 L130.18,1.22 L98.28,1.31 C82.489159,1.38074492 67.9275345,9.84423684 60.05,23.53 L6.84,116.31 C-0.994271112,130.021455 -0.944754134,146.864845 6.97,160.53 L22.3,186.92 L59.06,123.64 C58.1381627,115.800679 59.1121302,107.854613 61.9,100.47 Z" id="Shape" fill="#FFA022"></path>
    </g>
  </g>
</svg>
