<figure class="drizzle-u-noMarginLeft">
  <svg class="drizzle-Swatch">
    <rect fill="{{color}}" width="100%" height="100%"/>
  </svg>
  <figcaption class="drizzle-u-textSmaller">
    <ul class="drizzle-u-listUnstyled">
      {{#if label}}<li><h5 class="drizzle-h5">{{label}}</h5></li>{{/if}}
      <li><code class="drizzle-CodeHighlight">{{color}}</code></li>
      {{#if property}}<li><code class="drizzle-CodeHighlight">{{property}}</code></li>{{/if}}
    </ul>
  </figcaption>
</figure>
