<figure class="">
  <svg class="drizzle-c-Swatch sprk-u-mbm">
    <rect fill="{{color}}" width="100%" height="100%"/>
  </svg>
  <figcaption class="">
    <ul class="drizzle-b-List">
      {{#if label}}<li>
        <p class="drizzle-b-Label">{{label}}</p>
      </li>{{/if}}
      <li>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            {{ color }}
          </code>
        </div>
      </li>
      {{#if property}}
      <li>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            {{ property }}
          </code>
        </div>
      </li>
      {{/if}}
    </ul>
  </figcaption>
</figure>
