<div class="sprk-u-mbm">
  <p>
    The Table component in
    spark-angular consists
    of one Angular component:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><strong>sprk-table</strong></li>
  </ul>

  <p>
    The component expects you to put
    table HTML inside it.
  </p>
</div>
