.#{$app-namespace}-c-Preview .sprk-c-WideNavigation {
  @media (max-width: 46rem) {
    display: none;
  }
}

.#{$app-namespace}-Test-Page .sprk-c-NarrowNavigation,
.#{$app-namespace}-u-pad > nav .sprk-c-NarrowNavigation {
  max-width: 320px;
  position: static;
}

/* so that you can see the box */
.#{$app-namespace}-c-Preview__example .sprk-o-Box {
  border: 1px solid #ccc;
}

.#{$app-namespace}-c-Icon-Sizing {
  align-items: center;
}

[data-template-id='centered-column'] .sprk-o-CenteredColumn {
  background-color: #ccc;
  height: 4rem;
}

[data-template-id='flag-object'] .sprk-o-Flag__body p {
  font-family: 'myriad pro', sans-serif;
}

[data-template-id='full-width'] .#{$app-namespace}-c-Preview__example {
  overflow: hidden;
}

.#{$app-namespace}-c-Logo-placeholder {
  background-color: #ccc;
  height: 75px;
  width: 175px;
}

.#{$app-namespace}-c-Logo-placeholder--small {
  width: 3.75rem;
}

.#{$app-namespace}-c-Logo-placeholder--large {
  width: 18.75rem;
  height: 11rem;
}

.#{$app-namespace}-c-Preview .sprk-c-Masthead__content {
  position: static;
}

.#{$app-namespace}-c-Preview .sprk-c-Masthead__narrow-navigation-container {
  position: static;
  margin-top: -2px;
}

.#{$app-namespace}-b-Body.sprk-u-Overflow--hidden {
  overflow: auto !important; // this is to override a utility class (sprk-u-Overflow--hidden) that is added by JS.
}

.#{$app-namespace}-c-Preview .sprk-c-Modal {
  z-index: 100003;
}
