.#{$app-namespace}-u-pad {
  padding: $space-inset-m !important;
}

.#{$app-namespace}-u-pll {
  padding-left: $space-l !important;
}

.#{$app-namespace}-u-Overflow--hidden {
  overflow: hidden !important;
}

.#{$app-namespace}-u-Display--none {
  display: none;
}

.#{$app-namespace}-u-Columned {
  columns: 12rem;
}

.#{$app-namespace}-u-Display--inline-block {
  display: inline-block;
}
