// Variables
$description-table-border: 1px solid $gray-medium;
$description-table-stripe-color: $gray-light;
$description-table-breakpoint: 38.4375em;

.c-DescriptionTable {
    border: $description-table-border;
}

.c-DescriptionTable__header {
    border-bottom: $description-table-border;
    padding: ms(0);
}

.c-DescriptionTable__keyvaluepair {
    width: 100%;
    padding: ms(0);

    @media all and (min-width: $description-table-breakpoint) {
        display: table;
        display: flex;
        align-items: center;
    }
}

.c-DescriptionTable--striped .c-DescriptionTable__keyvaluepair:nth-child(even) {
    background: $description-table-stripe-color;
}

.c-DescriptionTable__key,
.c-DescriptionTable__value {
    @media all and (min-width: $description-table-breakpoint) {
        display: table-cell;
        flex: 1;
    }
}

.c-DescriptionTable__key {
    @media all and (min-width: 38.4375em) {
        width: 50%;
    }
}
