.c-DescriptionTable {
    border: 1px solid $gray-medium;
}

.c-DescriptionTable__header {
    border-bottom: 1px solid $gray-medium;
}

.c-DescriptionTable__keyvaluepair {
    width: 100%;
}

    .c-DescriptionTable--striped .c-DescriptionTable__keyvaluepair:nth-child(even) {
        background: $gray-light;
    }

.c-DescriptionTable__key {
    display: inline-block;
    width: 100%;

    padding: 1em;
}

.c-DescriptionTable__value {
    display: inline-block;
    // width: auto;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

@media only screen and (min-width: 615px) {

    .c-DescriptionTable__key {
        width: 50%;
        padding: 1em;
    }

    .c-DescriptionTable__value {
        padding: 1em;
    }
}