.c-Hamburger {
  border: none;
  background: $white;
  display: inline-block;
  padding: 0;
}

.c-Hamburger__icon {
  height: ms(16);
  fill: $blue-medium;
  transition: all 0.25s ease-in-out;
}

.c-Hamburger__line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.c-Hamburger__line--1 {
  transform-origin: 1em 2.5em;
}

.c-Hamburger__line--3 {
  transform-origin: .9em 3.8em;
}

.is-open .c-Hamburger__line--1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}

.is-open .c-Hamburger__line--2 {
  opacity: 0;
}

.is-open .c-Hamburger__line--3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}
