.c-HighliteBoard {
    width: 100%;
    height: auto;
    background-color: $gray-dark;
    text-align: center;
    overflow: auto;
}

.c-HighliteBoard__bgimage {
    width: 100%;
    height: auto;
    min-height: 31.25em; // hard-coded to make example image fit example text. Remove?
    object-fit: cover;
}

.c-HighliteBoard__content {
    position: absolute;
    margin: 0 auto;
    top: 50%; // move to half of container (which is position: relative)
    transform: translateY(-50%); // move half of own height up, to be centered, visually
    left: 0;
    right: 0; 
    width: 100%;
}

.c-HighliteBoard__headline {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 1em;
    color: $white;
}

.c-HighliteBoard__subheadline {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    color: $white;
}

.c-HighliteBoard__calltoaction,
.c-HighliteBoard__calltoaction_second {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.c-HighliteBoard__calltoaction_second {
    margin-left: .625em;
}