.c-HighlightBoard {
    text-align: center;
    position: relative;
}

.c-HighlightBoard__image {
    height: 100%;
	object-fit: cover;
}

.c-HighlightBoard__content {
    padding: ms(21) ms(0);
    width: 100%;
}

.c-HighlightBoard__content--image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.c-HighlightBoard__cta {
    width: 100%;
    margin-bottom: ms(0);

    @media all and (min-width: 615px) {
        margin-right: ms(0);
        width: auto;
        margin-bottom: auto;
    }
}