.c-HighlightBoard {
    text-align: center;
    overflow: auto;
}

.c-HighlightBoard__bgimage {
    height: 100%;
	object-fit: cover;
}

.c-HighlightBoard__content {
    margin: 0 auto;
    width: 95%;
}

.c-HighlightBoard__content--imagebackground {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}