// Primary Navigation

.nav {

    @include breakpoint(46em) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav, .sub-nav {
    list-style-type: none;
}

.nav__item {
    background-color: $blue-medium;
    border-bottom: 2px solid $white;
    line-height: ms(36);

    &:last-child {
        border-bottom: 0;
    }

    @include breakpoint(46em) {
        border-left: 2px solid $white;
        border-bottom: 0;
        text-align: center;
        flex: 1 1 100%;
        position: relative;
        white-space: nowrap;

        &:first-child {
            border-left: 0;
        }
    }

    &:hover, &:focus {
        background-color: $blue-light;

        a {
            color: $blue-dark;
        }
    }
}

.nav__item a {
    color: $white;
    text-decoration: none;
    display: block;
    padding-left: ms(10);

    @include breakpoint(46em) {
        padding-left: 0;
    }
}

.nav__item:hover .sub-nav,
.nav__item:focus .sub-nav {

    @include breakpoint(46em) {
        display: block;
        position: absolute;
    }
}

.nav__arrow {
    display: none;

    @include breakpoint(46em) {
        display: inline-block;
        margin-left: ms(-48);
        padding-bottom: ms(-48);
        fill: $white;
    }
}

.sub-nav {
    border-top: 5px solid $blue-dark;
    background-color: $blue-light;

    @include breakpoint(46em) {
        border: 2px solid $blue-dark;
        border-top: 5px solid $blue-dark;
        display: none;
    }
}

.sub-nav__item {
    border-bottom: 2px solid $blue-dark;
    background-color: transparent;
    width: 100%;

    &:last-child {
        border-bottom: 3px solid $white;
    }

    @include breakpoint(46em) {
        background-color: $white;
        border-bottom: 0;
        width: 100%;
        float: left;
        line-height: ms(36);
        text-align: left;

        &:last-child {
            border-bottom: 0;
        }

        // 85% border on bottom of each item
        &:after {
            background-color: $blue-dark;
            content: ' ';
            display: block;
            height: 2px;
            margin: 0 auto;
            width: 85%;
        }

        &:last-child:after {
            display: none;
        }
    }
}

.sub-nav__item a {
    color: $blue-dark;
    margin-bottom: -2px;
    margin-top: -2px;
    padding-left: ms(0);
    padding-right: ms(0);

    &:hover {
        background-color: $blue-dark;
        color: $white;
    }
}

// Tab Navigation

.tabs {
  display: flex;
  margin-bottom: 2em;
}

.tab {
  background-color: $green-medium;
  color: $white;
  cursor: pointer;
  flex: 1;
  border-left: 1px solid $white;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.tab:hover,
.tab:focus,
.tab--active {
  background-color: $green-dark;
}

.tab--disabled,
.tab--disabled:hover {
  cursor: default;
  background-color: $grey-medium;
}

.tab__content {
  line-height: 50px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.tab:first-child {
  border-left: none;
}
