// ==================================================================
// Navigation
// ==================================================================

//
// Main Navigation
///

// Available Variables
$main-nav-breakpoint: 46em;

.c-Navigation {
  border-top: 2px solid $grey-medium;

  @media (min-width: $main-nav-breakpoint) {
    border-top: 0;
    border-bottom: 2px solid $grey-medium;

    // Makes each item equal width reguardless of number of items
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

.c-Navigation,
.c-Navigation__sub {
  list-style-type: none;
}

.c-Navigation__item {
  line-height: ms(36);

  @media (min-width: $main-nav-breakpoint) {
    line-height: ms(20);
    text-align: center;
    white-space: nowrap;
    display: table-cell;
    position: relative;
  }
}

.c-Navigation__item a {
  color: $blue-dark;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: ms(20);
  border: 2px solid $grey-medium;
  border-top: 0;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $blue-dark;
    color: $white;

    .c-Navigation__arrow {
      fill: $white;
    }
  }

  @media (min-width: $main-nav-breakpoint) {
    border: 0;
    padding-left: 0;
    @include hoverline($white, 85%);

    &.c-Navigation__item--active,
    &:focus,
    &:hover {
      background-color: $white;
      color: $blue-medium;
      @include hoverline($blue-medium, 85%);

      // Kinda gross but need to change the color of this icon on
      // hover of nav item anchor
      .c-Navigation__arrow {
        fill: $blue-medium;
      }
    }
  }
}

// Show the sub navigation on hover and focus
.c-Navigation__item:focus .c-Navigation__sub,
.c-Navigation__item:hover .c-Navigation__sub {

  @media (min-width: $main-nav-breakpoint) {
    display: block;
    position: absolute;
  }
}

.c-Navigation__arrow {
  width: 15px;
  fill: $blue-dark;
  float: right;
  margin-top: ms(0);
  margin-right: ms(20);

  @media (min-width: $main-nav-breakpoint) {
    float: none;
    margin: 0 0 ms(-40) ms(-40);
    fill: $blue-dark;
  }
}

.c-Navigation__sub {
  border-bottom: 2px solid $grey-medium;

  @media (min-width: $main-nav-breakpoint) {
    border: 2px solid $grey-medium;
    border-top: 0;
    display: none;
  }
}

.c-Navigation__sub-item {
  width: 100%;
  background-color: $white;

  @media (min-width: $main-nav-breakpoint) {
    width: 100%;
    line-height: ms(20);
    text-align: left;
    padding: ms(-20) ms(0);
    float: left;
  }
}

.c-Navigation__sub-item:last-child {

  @media (min-width: $main-nav-breakpoint) {
    a {
      margin-bottom: ms(-20);
    }
  }
}

.c-Navigation__sub-item a {
  border: 0;
  text-transform: none;
  color: $blue-dark;

  &:hover {
    color: $white;
  }

  @media (min-width: $main-nav-breakpoint) {
    background-color: $white;
    @include hoverline($white, 100%);

    &:focus,
    &:hover {
      color: $blue-medium;
      @include hoverline($blue-medium, 100%);
    }
  }
}

//
// Tabbed Navigation
///

.tabs {
  display: flex;
  margin-bottom: 2em;
}

.tab {
  background-color: $green-medium;
  color: $white;
  cursor: pointer;
  flex: 1;
  border-left: 1px solid $white;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.tab--active,
.tab:focus,
.tab:hover {
  background-color: $green-dark;
}

.tab--disabled,
.tab--disabled:hover {
  cursor: default;
  background-color: $grey-medium;
}

.tab__content {
  line-height: 50px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.tab:first-child {
  border-left: none;
}

//
// Pagination
///
.c-Pagination {
  // Remove whitespace caused by inline-block.
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  @include horizontal-list;
}

.c-Pagination__item {
  letter-spacing: normal;
  word-spacing: normal;
  padding: ms(-50) ms(-12);
  margin: ms(-50);
}

.c-Pagination__item--current {
  background-color: $grey-light;
  border-radius: 4px;
}
