.c-SneakPeek {
    padding: .5em;
}

.c-SneakPeek__image {
    width: 100%;
	object-fit: cover;
}

.c-SneakPeek__headline {
    font-size: 1rem;
}

@media only screen and (min-width: 615px) {

    .c-SneakPeek {
        padding: 1em;
    }
}