$spinner-size: 1.5em !default;
$spinner-speed: 1s !default;
$spinner-thickness: 0.25em !default;
$spinner-color: $white !default;

.spinner {
    animation: rotate-infinte $spinner-speed linear infinite;
    border: $spinner-thickness solid $spinner-color;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: $spinner-size;
    width: $spinner-size;
}

@keyframes rotate-infinte {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
