<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Component</th>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStack</td>
      <td>children</td>
      <td>String</td>
      <td>
        The value supplied will be used as the children of SprkStack. This component
        expects SprkStackItem as children.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStackItem</td>
      <td>children</td>
      <td>String</td>
      <td>
        The value supplied will be used as the children of the SprkStackItem.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStack</td>
      <td>splitAt</td>
      <td>String</td>
      <td>
        The value supplied can be 'extraTiny', 'tiny', 'small', 'medium', 'large', or 'huge'.
        This is used as the breakpoint at which the component moves or "splits" to a
        side by side layout.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStack</td>
      <td>itemSpacing</td>
      <td>String</td>
      <td>
        The value supplied can be 'tiny', 'small', 'medium', 'large', or 'huge'.
        This is used as the amount of spacing between Stack items.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStack</td>
      <td>additionalClasses</td>
      <td>String</td>
      <td>Allows a string of classes to add, in addition to the Spark classes. Intended for overrides.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStackItem</td>
      <td>additionalClasses</td>
      <td>String</td>
      <td>Allows a string of classes to add, in addition to the Spark classes. Intended for overrides.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStackItem</td>
      <td>idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on
        the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkStack</td>
      <td>idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on
        the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>
  </tbody>
</table>