////
/// @group input
////


// Hide the native control
.sprk-b-Checkbox__input {
  opacity: $sprk-checkbox-input-opacity;
}

.sprk-b-Checkbox__label {
  position: relative;
}

.sprk-b-Checkbox__label::before,
.sprk-b-Checkbox__label::after {
  transition: $sprk-checkbox-transition;
  position: absolute;
  display: inline-block;
}

// Custom checkbox styles
.sprk-b-Checkbox__label::before {
  content: "";
  height: $sprk-checkbox-custom-input-height;
  width: $sprk-checkbox-custom-input-width;
  border: $sprk-checkbox-custom-input-border;
  border-radius: $sprk-checkbox-custom-input-border-radius;
  top: $sprk-checkbox-custom-input-top;
  left: $sprk-checkbox-custom-input-left;
}

// Custom checkmark icon styles
.sprk-b-Checkbox__label::after {
  content: none;
  height: $sprk-checkbox-checkmark-icon-height;
  width: $sprk-checkbox-checkmark-icon-width;
  left: $sprk-checkbox-checkmark-icon-left;
  top: $sprk-checkbox-checkmark-icon-top;
  border-left: $sprk-checkbox-checkmark-border-left;
  border-bottom: $sprk-checkbox-checkmark-border-bottom;
  transform: $sprk-checkbox-checkmark-transform;
}

// Focus styles for unchecked checkbox
.sprk-b-Checkbox__input:focus + .sprk-b-Checkbox__label::before {
  border: $sprk-checkbox-custom-input-border-focus;
  background-color: $sprk-checkbox-custom-input-background-color-focus;
}

// Hover styles for unchecked checkbox
.sprk-b-Checkbox__input:hover + .sprk-b-Checkbox__label::before {
  background-color: $sprk-checkbox-custom-input-background-color-hover;
  border-color: $sprk-checkbox-custom-input-border-color-hover;
}

// Checked styles for checkbox and label
.sprk-b-Checkbox__input:checked {
  // Show checkmark icon when checked
  + .sprk-b-Checkbox__label::after {
    content: "";
  }

  + .sprk-b-Checkbox__label::before {
    background-color: $sprk-checkbox-custom-input-background-color-checked;
    border-color: $sprk-checkbox-custom-input-border-color-checked;
  }

  &:focus {
    // Override focus border color if its checked
    + .sprk-b-Checkbox__label::before {
      border: $sprk-checkbox-custom-input-border-focus-checked;
    }
  }
}

// Disabled styles for checkbox and label
.sprk-b-Checkbox__input:disabled + .sprk-b-Checkbox__label::before {
  cursor: $sprk-checkbox-custom-input-cursor-disabled;
  border-color: $sprk-checkbox-custom-input-border-color-disabled;
  background-color: $sprk-checkbox-custom-input-background-color-disabled;
}


.sprk-b-Checkbox--huge {

  .sprk-b-Checkbox__label {
    // transition: $sprk-huge-checkbox-label-transition;
    transition: $sprk-checkbox-transition;
    // border: $sprk-huge-checkbox-label-border;
    border: 2px $sprk-black-tint-50 solid;
    // border-radius: $sprk-huge-checkbox-label-border-radius;
    border-radius: 4px;

    // padding: $sprk-huge-checkbox-label-padding;
    padding: 18px 14px 18px 51px;
    // flex-basis: $sprk-huge-checkbox-label-flex-basis;
    flex-basis: 100%;
    // line-height: $sprk-huge-checkbox-label-line-height;
    line-height: 1rem;

    // The custom checkbox element
    &::before {
      // height: $sprk-huge-checkbox-custom-input-height;
      height: 1.5rem;
      // width: $sprk-huge-checkbox-custom-input-weight;
      width: 1.5rem;
      // top: $sprk-huge-checkbox-custom-input-top;
      top: 14px;
      // left: $sprk-huge-checkbox-custom-input-left;
      left: 14px;
    }

    // The checkmark that shows up in the box
    &::after {
      content: none;
      // height: $sprk-huge-checkbox-checkmark-icon-height;
      height: 0.53125rem;
      // 0.76736rem -- 1.444444 is the ratio
      // width: $sprk-huge-checkbox-checkmark-icon-width;
      width: 0.53125rem * 1.44444444444444;
      // left: $sprk-huge-checkbox-checkmark-icon-left;
      left: 20px;
      // top: $sprk-huge-checkbox-checkmark-icon-top;
      top: 19px;
    }

    &:hover {
      // border-color: $sprk-huge-checkbox-container-hover-border-color;
      border-color: $sprk-black;
      // box-shadow: $sprk-huge-checkbox-container-hover-box-shadow;
      box-shadow: $sprk-input-huge-box-shadow;

      &::before {
        // border-color: $sprk-huge-checkbox-custom-input-hover-border-color;
        border-color: $sprk-black;
      }
    }
  }

  .sprk-b-Checkbox__input {
    position: absolute;

    &:disabled {
      & + .sprk-b-Checkbox__label {
        // border-color: $sprk-huge-checkbox-disabled-container-border-color;
        border-color: $sprk-black-tint-25;
        // background: $sprk-huge-checkbox-disabled-container-background;
        background: $sprk-gray;
        // cursor: $sprk-huge-checkbox-disabled-container-cursor;
        cursor: not-allowed;

        &::before {
          // border-color: $sprk-huge-checkbox-disabled-custom-checkbox-element-border-color;
          border-color: $sprk-black-tint-25;
        }
      }

      &:hover + .sprk-b-Checkbox__label {
        // box-shadow: $sprk-huge-checkbox-disabled-custom-checkbox-element-box-shadow;
        box-shadow: none;
      }
    }

    // Styles for container when focused by keyboard
    &:focus {
      & + .sprk-b-Checkbox__label {
        // Container's border color when focused through keyboard
        // border-color: $sprk-huge-checkbox-container-focus-border-color;
        border-color: $sprk-green;

        // Custom checkbox element border color when focused through keyboard
        &:hover {
          // border-color: $sprk-huge-checkbox-custom-focus-hover-input-border-color;
          border-color: $sprk-black;
        }
      }
    }


    &:checked  {
      & + .sprk-b-Checkbox__label {
        // Container's border color when checked
        // border-color: $sprk-huge-checkbox-container-checked-border-color;
        border-color: $sprk-green;

        // Container's border color when checked and hovered
        &:hover {
          // border-color: $sprk-huge-checkbox-container-checked-hover-border-color;
          border-color: $sprk-black;
        }

        // Custom checkbox element's border color when checked
        &::before {
          // border-color: $sprk-huge-checkbox-container-custom-checkbox-element-checked-border-color;
          border-color: $sprk-green;
        }
      }

      // Styles for container when checkbox is focused on while being checked
      &:focus + .sprk-b-Checkbox__label {
        // border-color: $sprk-huge-checkbox-container-focus-checked-border-color;
        border-color: $sprk-black;
      }
    }

  }
}