////
/// @group input
////

// Added for potential future use.
// .sprk-b-Radio {}
.sprk-b-Radio__label {
  position: relative;
}

// Hide native input visually
.sprk-b-Radio__input {
  opacity: $sprk-radio-input-opacity;

  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-focus-border;
    }
  }
}

.sprk-b-Radio__label::before,
.sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
  border-radius: $sprk-radio-input-border-radius;
  content: '';
  position: absolute;
  transition: $sprk-radio-input-transition;
  display: inline-block;
}

// will be the circle
.sprk-b-Radio__label::before {
  width: $sprk-radio-input-outer-circle-width;
  height: $sprk-radio-input-outer-circle-height;
  border: $sprk-radio-input-outer-circle-border;
  top: $sprk-radio-input-outer-circle-top;
  left: $sprk-radio-input-outer-circle-left;
}

.sprk-b-Radio__input:checked + .sprk-b-Radio__label::before {
  border: $sprk-radio-input-outer-circle-border-checked;
}

.sprk-b-Radio__input:checked {
  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
    }
  }
}

.sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
  width: $sprk-radio-input-inner-circle-width;
  height: $sprk-radio-input-inner-circle-height;
  background-color: $sprk-radio-input-inner-circle-background-color;
  left: $sprk-radio-input-inner-circle-left;
  top: $sprk-radio-input-inner-circle-top;
}

.sprk-b-Radio__input:disabled {
  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-border-hover-disabled;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-focus-border-disabled;
    }
  }
}

// Huge Styles for Radio
.sprk-b-Radio--huge {
  .sprk-b-Radio__input {
    position: absolute;
  }

  .sprk-b-Radio__label {
    transition: $sprk-radio-input-transition;
    border: 2px $sprk-black-tint-50 solid;
    border-radius: 4px;
    padding: 20px 16px 20px 51px;
    flex-basis: 100%;
    line-height: 1rem;

    &:hover {
      border-color: $sprk-black;
      box-shadow: $sprk-input-huge-box-shadow;

      &:before {
        background-color: #F7F7F7;
      }
    }
  }
  
  .sprk-b-Radio__label::before {
    height: 1.5rem;
    width: 1.5rem;
    top: 16px;
    left: 16px;
  }

  .sprk-b-Radio__input:focus + .sprk-b-Radio__label {
    border-color: $sprk-green;
    &:before {
      background-color: #F7F7F7;
    }
  }

  .sprk-b-Radio__input:checked + .sprk-b-Radio__label {
    border-color: $sprk-green;
  }

  .sprk-b-Radio__input:checked:focus + .sprk-b-Radio__label,
  .sprk-b-Radio__input:checked:hover + .sprk-b-Radio__label {
    border-color: $sprk-black;
    &:before {
      border-color: $sprk-green;
    }
  }

  .sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
    height: 1rem;
    width: 1rem;
    left: 20px;
    top: 20px;
  }

  .sprk-b-Radio__input:disabled + .sprk-b-Radio__label:hover {
    border: $sprk-radio-input-outer-circle-border-hover-disabled;
    box-shadow: none;
  }
}
