.sprk-b-SelectionContainer {
  align-items: center;
  display: flex;
  margin: $sprk-selection-container-margin;
}

.sprk-b-SelectionContainer .sprk-b-Label {
  font-weight: $sprk-selection-container-label-font-weight;
}

.sprk-b-SelectionContainer .sprk-b-Label--inline {
  margin: 0;
}

.sprk-b-SelectionContainer [type='radio'],
.sprk-b-SelectionContainer [type='checkbox'] {
  flex: 0 0 auto;
  height: $sprk-selection-container-input-height;
  width: $sprk-selection-container-input-width;
  margin: $sprk-selection-container-input-margin;
}

.sprk-b-Fieldset {
  padding: $sprk-fieldset-padding;
}

.sprk-b-Fieldset .sprk-b-Label {
  margin: 0;
}
