---
doclayout: true
order: 1
name: Accessibility
description: These utilities are related to accessibility.
  When needed, these should be used to make the experience more accessible.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-ScreenReaderText</td>
      <td>Makes content invisible while still being read by a screen reader.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-ShowOnFocus</td>
      <td>
        When combined with
        <span class="sprk-u-FontWeight--bold">.sprk-u-ScreenReaderText</span>
        , the element will become visible on focus.
        This is helpful for users who only use a
        keyboard to navigate. An example is a "Skip
        to content" link that should become visible to a user on focus.
      </td>
    </tr>
  </tbody>
</table>
