---
doclayout: true
order: 2
name: Layout
description: These utilities are related to layout.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-AbsoluteCenter</td>
      <td>
        When placed on a container, its children will align in
        the absolute center (vertically and horizontally) of
        the box.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        <ul class="drizzle-b-List">
          <li>%ClearFix,</li>
          <li>.sprk-u-ClearFix</li>
        </ul>
      </td>
      <td>
        <p>Clearfix is a method of float containment. When applied to a
        container with floated children it forces the
        container to span the entire vertical extent of the children
        as if they weren't pulled out of the document flow
        by the floats. Elements that come after the Clearfixed
        element will no longer wrap around the floated
        children.</p>
        <p>The primary way to use Clearfix in Spark is by extending the
        placeholder (e.g. `@extend %ClearFix;`). It can also be used by
        applying the class directly to the parent element. This is typically
        only used for debugging.</p>
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-FullWidth</td>
      <td>
        When placed on a container, it will cause it to
        fill the viewport, even if it's inside a limiting container
        (such as .sprk-o-CenteredColumn).
      </td>
    </tr>
  </tbody>
</table>
