---
doclayout: true
order: 3
name: Typography
description: These utilities are related to type.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Truncate</td>
      <td>When placed on an element that contains text, it will limit
      the text to one line and adds an ellipsis
      when it overflows.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-TextCrop--none</td>
      <td>
        When placed on an element that contains text or any of
        the typography classes, it will remove
        the text cropping and the negative margins applied by the crop.
      </td>
    </tr>
  </tbody>
</table>