<p class="sprk-u-mbm">The sprk-tabbed-navigation component expects a number of clickable elements, typically buttons,
to be supplied. These elements should have the sprkTabbedNavigationTab directive applied. You should also supply
a matching number of elements, typically divs, with the sprkTabbedNavigationPanel applied.</p>
