// ==================================================================
// Icons
// ==================================================================
.sprk-o-StrokeIconSymbol circle,
.sprk-o-StrokeIconSymbol ellipse,
.sprk-o-StrokeIconSymbol line,
.sprk-o-StrokeIconSymbol path,
.sprk-o-StrokeIconSymbol g,
.sprk-o-StrokeIconSymbol polygon,
.sprk-o-StrokeIconSymbol polyline,
.sprk-o-StrokeIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-o-FilledIconSymbol circle,
.sprk-o-FilledIconSymbol ellipse,
.sprk-o-FilledIconSymbol line,
.sprk-o-FilledIconSymbol path,
.sprk-o-FilledIconSymbol g,
.sprk-o-FilledIconSymbol polygon,
.sprk-o-FilledIconSymbol polyline,
.sprk-o-FilledIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-o-FilledSmallIconSymbol circle,
.sprk-o-FilledSmallIconSymbol ellipse,
.sprk-o-FilledSmallIconSymbol line,
.sprk-o-FilledSmallIconSymbol path,
.sprk-o-FilledSmallIconSymbol g,
.sprk-o-FilledSmallIconSymbol polygon,
.sprk-o-FilledSmallIconSymbol polyline,
.sprk-o-FilledSmallIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-c-Icon {
  height: $sprk-icon-m;
  width: $sprk-icon-m;
  stroke: $sprk-icon-stroke-color;
  fill: $sprk-icon-fill-color;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: $sprk-icon-custom-stroke-width-xl;
  }
}

.sprk-c-Icon--filled,
.sprk-c-Icon--filled-small {
  stroke: $sprk-icon-filled-stroke-color;
  fill: $sprk-icon-filled-fill-color;
}

.sprk-c-Icon--stroke-current-color {
  stroke: currentColor;
}

.sprk-c-Icon--filled-current-color {
  fill: currentColor;
}

.sprk-c-Icon--l {
  height: $sprk-icon-l;
  width: $sprk-icon-l;
  stroke-width: $sprk-icon-custom-stroke-width-l;
}

.sprk-c-Icon--xl {
  height: $sprk-icon-xl;
  width: $sprk-icon-xl;
  stroke-width: $sprk-icon-custom-stroke-width-m;
}

.sprk-c-Icon--xxl {
  height: $sprk-icon-xxl;
  width: $sprk-icon-xxl;
  stroke-width: $sprk-icon-custom-stroke-width-s;
}

// Initial state for icons that will be toggled
.sprk-c-Icon--toggle {
  transform-origin: center;
  transition: transform $sprk-toggle-transition-timing;
}

.sprk-c-Icon--open {
  transform: rotate(-180deg);
}