<p class="sprk-u-mbm">
    The SprkTabs component expects at least
    two SprkTabsPanels supplied to it.
    The panels should have the property of tabBtnChildren
    set to a string of text or JSX. The panels also need
    children to display in each panel. The SprkTabs
    component will generate a SprkTabsButton for each panel
    that you supply and also take care of giving them
    each unique IDs.
</p>
