<p class="sprk-u-mbm">
  See below for available customization
  options:
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">keyValuePairs</td>
      <td>Object</td>
      <td>
        The collection of key-value pairs to be rendered
        into the component. The keys and values should be strings.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>String</td>
      <td>
        Determines the variant of the dictionary
        component to render. The only available option
        is 'striped'. Supplying
        no value will cause the base variant to be used.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the
        'data-id' attribute on the component. This is
        intended to be used as a
        selector for automated tools. This value should
        be unique per page.
      </td>
    </tr>
  </tbody>
</table>