<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Prop</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Expects a space-separated list of class names to be applied to the masthead component.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">bigNavLinks</td>
      <td>object[]</td>
      <td>Expects an array of link objects, to be represented in the navigation of the wide viewport version
        of the masthead. See below for link object details.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>boolean</td>
      <td>The value supplied will be applied to the data-id attribute of the masthead component.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">littleNavLinks</td>
      <td>object[]</td>
      <td>Expects an array of link objects, to be represented in the littleNav area of the wide viewport version
      of the masthead.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">narrowNavLinks</td>
      <td>object[]</td>
      <td>Expects an array of link objects, to be represented in the narrow nav element of the masthead component. See below for link object details.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">narrowSelector</td>
      <td>object</td>
      <td>Expects a narrowSelector object that represents choices to be supplied to the selector above the narrow
        navigation of link objects. See below for selector object details.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">siteLogo</td>
      <td>node</td>
      <td>Expects a Component to render into the logo area of the masthead.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">logoLink</td>
      <td>string</td>
      <td>Expects a string that will render as the href for the logo.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">logoLinkElement</td>
      <td>string, function</td>
      <td>Expects an 'a' or react route link that will determine what element is rendered for the logo link.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">selector</td>
      <td>object</td>
      <td>Expects a selector object that represents choices to be supplied to the selector in the wide viewport
        version of the masthead. See below for selector object details.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">utilityContents</td>
      <td>array</td>
      <td>Expects an array containing components to render in the utility area of littleNav, in the wide viewport
      version of the masthead.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>string</td>
      <td>Can be 'default' or 'extended'. Determines which variant to render.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">navLink</td>
      <td>node</td>
      <td>Expects a component to render in the nav-item area of the Masthead on narrow viewports.</td>
    </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">The link object represents a link that can be supplied to the masthead.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">text</td>
      <td>Item 1</td>
      <td>The text that is rendered to the screen.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">href</td>
      <td>/help</td>
      <td>The value that is assigned to the href attribute.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">isActive</td>
      <td>false</td>
      <td>If true, denotes that the link represents the current page.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">subNavLinks</td>
      <td>array of link objects</td>
      <td>Expects an array containing link objects. Will be treated as a subnav to the link.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">leadingIcon</td>
      <td>landline</td>
      <td>When the link is rendered to a compatible element (narrowNav), will draw the specified icon to the left of the link text.</td>
    </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">The selector object represents a set of data that can be supplied to the masthead.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">footer</td>
    <td>array</td>
    <td>Expects a Component to render at the foot of the open selector.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">items</td>
    <td>array</td>
    <td>Expects an array of item objects, see below for details.</td>
  </tr>
  </tbody>
</table>
<p class="sprk-u-mbm">The items array represents each choice's content.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">content</td>
    <td>object</td>
    <td>The 'informational' variant of selector's choice list has more detail. The content object is how that detail is
      structured. See below for details.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">isActive</td>
    <td>string</td>
    <td>If true, the choice will be rendered initially in the active state. This is overridden by user action.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">text</td>
    <td>string</td>
    <td>The text that is rendered to the screen. Only rendered if content is not present.</td>
  </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">The content object represents a choice's text that is more complex than just one line of text.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>Choice Title</td>
    <td>The text that is rendered to the screen in bold and at the top of the choice.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine1</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine2</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  </tbody>
</table>
