// ==================================================================
// Icons
// ==================================================================

.sprk-c-Icon {
  height: ms(0);
  width: auto;
}

.sprk-c-Icon--big {
  height: ms(10);
}

.sprk-c-Icon--huge {
  height: ms(20);
}
