---
name: Stack Object - Six Column Layout
description: A responsive layout that moves from six stacked columns to
  six side by side columns at the breakpoint you specify.
order: 8
restrictions:
- You cannot use spacing modifier classes with the Stack item column size modifier.
- Use padding to apply inner space to the Stack items.
hasAngularCode: true
hasReactCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs"></div>
</div>