<p class="sprk-u-mbm">The date picker makes use of
  <a href="https://github.com/chrisdavies/tiny-date-picker" class="drizzle-b-Link" target="_blank">tiny-date-picker</a>
. See below for available customization options.</p>
