<sprk-selection-container>
  <label sprkLabel>Radio Group Label</label>
  <sprk-selection-item-container>
    <input
      type="radio"
      value="1"
      name="radio_input"
      [(ngModel)]="radio_input"
      sprkSelectionInput
      #radioInput="ngModel"
      data-id="radio-error-1">
    <label sprkSelectionLabel>Item 1</label>
  </sprk-selection-item-container>
  <sprk-selection-item-container>
    <input
      type="radio"
      value="2"
      name="radio_input"
      sprkSelectionInput
      [(ngModel)]="radio_input"
      #radioInput="ngModel"
      data-id="radio-error-2">
    <label sprkSelectionLabel>Item 2</label>
  </sprk-selection-item-container>
  <sprk-selection-item-container>
    <input
      type="radio"
      value="3"
      name="radio_input"
      sprkSelectionInput
      [(ngModel)]="radio_input"
      #radioInput="ngModel"
      data-id="radio-error-3">
    <label sprkSelectionLabel>Item 3</label>
  </sprk-selection-item-container>
</sprk-selection-container>
