<sprk-input-container>
  <label sprkLabel>SSN Input</label>
  <input
    [type]="ssnType"
    [ngClass]="{ 'sprk-b-TextInput--error': ssnInput.invalid && ssnInput.dirty }"
    pattern="(^(?!666|000|9\\d{2})\\d{3}([-]{0,1})(?!00)\\d{2}\\1(?!0{4})\\2\\d{4}$)|^$"
    placeholder="000-00-0000"
    name="ssn_input"
    [(ngModel)]="ssn_input"
    #ssnInput="ngModel"
    data-id="ssn-1"
    sprkFormatterSsn
    sprkInput>
  <sprk-selection-item-container>
    <input type="checkbox" sprkSelectionInput (click)="toggleSSNType()" data-id="ssn-reveal-3">
    <label sprkSelectionLabel>Show SSN</label>
  </sprk-selection-item-container>
  <div
    [hidden]="ssnInput.valid || ssnInput.pristine"
    sprkFieldError>There is an error on this field.</div>
</sprk-input-container>
