<sprk-input-container>
  <label sprkLabel>Description</label>
  <textarea
    disabled
    name="textarea_input"
    [(ngModel)]="textarea_input"
    #textareaInput="ngModel"
    data-id="textarea-disabled-1"
    sprkInput></textarea>
</sprk-input-container>
