// ==================================================================
// Dividers
// ==================================================================
// TODO: remove direct element selection
hr,
.sprk-c-Divider {
  display: block;
  border-bottom: $sprk-divider-border;
  border-top: none;
  margin-bottom: $sprk-space-m;
  margin-top: $sprk-space-m;
}