// ==================================================================
// Footer
// ==================================================================

////
/// @group Footer
////
.sprk-c-Footer {
  background-color: $sprk-footer-background-color;
}

.sprk-c-Footer__type {
  color: $sprk-footer-type-color;
}

.sprk-c-Footer__link {
  color: $sprk-footer-link-color;
}

.sprk-c-Footer__icon {
  stroke: $sprk-footer-icon-color;
}
