// ==================================================================
// Footer
// ==================================================================

////
/// @group Footer
////
.sprk-c-Footer {
  background-color: $sprk-footer-background-color;
}

.sprk-c-Footer__text {
  color: $sprk-footer-text-color;
}

.sprk-c-Footer__link {
  color: $sprk-footer-link-color;
}

.sprk-c-Footer__icon {
  fill: $sprk-footer-icon-color;
  color: $sprk-footer-icon-color;
}
