// ==================================================================
// Icons
// ==================================================================
////
/// @group Icons
////
.sprk-o-StrokeIconSymbol circle,
.sprk-o-StrokeIconSymbol ellipse,
.sprk-o-StrokeIconSymbol line,
.sprk-o-StrokeIconSymbol path,
.sprk-o-StrokeIconSymbol g,
.sprk-o-StrokeIconSymbol polygon,
.sprk-o-StrokeIconSymbol polyline,
.sprk-o-StrokeIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-o-FilledIconSymbol circle,
.sprk-o-FilledIconSymbol ellipse,
.sprk-o-FilledIconSymbol line,
.sprk-o-FilledIconSymbol path,
.sprk-o-FilledIconSymbol g,
.sprk-o-FilledIconSymbol polygon,
.sprk-o-FilledIconSymbol polyline,
.sprk-o-FilledIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-o-FilledSmallIconSymbol circle,
.sprk-o-FilledSmallIconSymbol ellipse,
.sprk-o-FilledSmallIconSymbol line,
.sprk-o-FilledSmallIconSymbol path,
.sprk-o-FilledSmallIconSymbol g,
.sprk-o-FilledSmallIconSymbol polygon,
.sprk-o-FilledSmallIconSymbol polyline,
.sprk-o-FilledSmallIconSymbol rect {
  fill: inherit;
  stroke: inherit;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: inherit;
  }
}

.sprk-c-Icon {
  height: $sprk-icon-m;
  width: $sprk-icon-m;
  stroke: $sprk-icon-stroke-color;
  fill: $sprk-icon-fill-color;

  @if ($sprk-icon-using-custom-stroke) {
    stroke-width: $sprk-icon-custom-stroke-width-xl;
  }
}

/// Adds styles for filled Icons.
/// @name .sprk-c-Icon--filled
.sprk-c-Icon--filled,
.sprk-c-Icon--filled-small {
  stroke: $sprk-icon-filled-stroke-color;
  fill: $sprk-icon-filled-fill-color;
}

/// Adds styles for small filled Icons.
/// @name .sprk-c-Icon--filled-small

/// Adds the fill and stroke properties
/// set to the current color of its container.
.sprk-c-Icon--stroke-current-color {
  stroke: currentColor;
}

/// Adds the fill property set
/// to the current color of its container.
.sprk-c-Icon--filled-current-color {
  fill: currentColor;
}

/// Adds the Icon height and width
/// to $sprk-icon-l and stroke-width
/// to $icon-custom-stroke-width-l.
.sprk-c-Icon--l {
  height: $sprk-icon-l;
  width: $sprk-icon-l;
  stroke-width: $sprk-icon-custom-stroke-width-l;
}

/// Adds the Icon height and width to
/// $icon-xl and stroke-width to
/// $icon-custom-stroke-width-m.
.sprk-c-Icon--xl {
  height: $sprk-icon-xl;
  width: $sprk-icon-xl;
  stroke-width: $sprk-icon-custom-stroke-width-m;
}

/// Adds the Icon height and
/// width to $icon-xxl and
/// stroke-width to $icon-custom-stroke-width-s.
.sprk-c-Icon--xxl {
  height: $sprk-icon-xxl;
  width: $sprk-icon-xxl;
  stroke-width: $sprk-icon-custom-stroke-width-s;
}

///	Adds styles for
/// Icons that serve as toggle controls.
.sprk-c-Icon--toggle {
  transform-origin: center;
  transition: transform $sprk-toggle-transition-timing;
}

/// Rotates Icon -180 degrees.
/// Should be used in conjunction
/// with .sprk-c-Icon--toggle.
.sprk-c-Icon--open {
  transform: rotate(-180deg);
}
