// ==================================================================
// Toggle
// ==================================================================

////
/// @group Toggle
////

// Future proofing classes that don't have styles right now but might later.
// .sprk-c-Toggle
// .sprk-c-Toggle__content


.sprk-c-Toggle__trigger {
  border-bottom: $sprk-toggle-trigger-border-bottom;
  text-decoration: $sprk-toggle-trigger-text-decoration;
  transition: $sprk-toggle-trigger-transition;

  // Font considerations
  color: $sprk-toggle-trigger-color;
  font-family: $sprk-toggle-trigger-font-family;
  font-size: $sprk-toggle-trigger-font-size;
  font-weight: $sprk-toggle-trigger-font-weight;
  line-height: $sprk-line-height-body-three;

  // Button User Agent Resets
  background-color: $sprk-toggle-trigger-background-color;
  border-top: $sprk-toggle-trigger-border-top;
  border-left: $sprk-toggle-trigger-border-left;
  border-right: $sprk-toggle-trigger-border-right;
  padding-top: $sprk-toggle-trigger-padding-top;
  padding-right: $sprk-toggle-trigger-padding-right;
  padding-bottom: $sprk-toggle-trigger-padding-bottom;
  padding-left: $sprk-toggle-trigger-padding-left;

  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-toggle-trigger-hover-border-bottom;
    color: $sprk-toggle-trigger-hover-color;
  }

}