// ==================================================================
// Toggle
// ==================================================================

////
/// @group Toggle
////

// Future proofing classes that don't have styles right now but might later.
// .sprk-c-Toggle
// .sprk-c-Toggle__content


.sprk-c-Toggle__trigger {
  // TODO: abstract these variables
  border-bottom: $sprk-link-has-icon-border-bottom;
  text-decoration: $sprk-link-text-decoration;
  transition: $sprk-link-transition;

  // Font considerations
  color: $sprk-color-body-three;
  font-family: $sprk-font-family-body-three;
  font-size: $sprk-font-size-body-three;
  font-weight: $sprk-font-weight-body-three;
  line-height: $sprk-line-height-body-three;

  // Button User Agent Resets
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;

  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-link-has-icon-hover-border-bottom;
    color: $sprk-link-has-icon-hover-color-text;
  }

}