.sprk-c-Tooltip__container {
  position: relative;
  display: inline-flex;

  .sprk-c-Tooltip__trigger {
    // Button User Agent Resets
    background-color: $sprk-toggle-trigger-background-color;
    border-top: $sprk-toggle-trigger-border-top;
    border-bottom: 0;
    border-left: $sprk-toggle-trigger-border-left;
    border-right: $sprk-toggle-trigger-border-right;
    padding-top: $sprk-toggle-trigger-padding-top;
    padding-right: $sprk-toggle-trigger-padding-right;
    padding-bottom: $sprk-toggle-trigger-padding-bottom;
    padding-left: $sprk-toggle-trigger-padding-left;
    text-align: $sprk-toggle-trigger-text-align;
    display: flex;
  }

  .sprk-c-Tooltip {
    background-color: $sprk-tooltip-background-color;
    color: $sprk-tooltip-font-color;
    padding: $sprk-tooltip-padding;
    border-radius: $sprk-tooltip-border-radius;
    font-size: $sprk-tooltip-font-size;

    display: flex;
    max-width: $sprk-tooltip-max-width;
    min-width: $sprk-tooltip-min-width;
    width: max-content;
    position: absolute;
    bottom: 1.5rem;
    left: -1rem;
    z-index: $sprk-tooltip-height;

    &:after {
      box-sizing: inherit;
      position: absolute;
      display: inline-block;
      left: 1rem;
      bottom: -0.5rem;
      width: 1rem;
      height: 1rem;
      background-color: $sprk-tooltip-caret-background-color;
      transform: rotateY(0deg) rotate(45deg);
      content: " ";
    }

    &.sprk-c-Tooltip--top_left {
      top: auto;
      bottom: 1.5rem;
      left: auto;
      right: -1rem;

      &:after {
        left: auto;
        right: 1rem;
        top: auto;
        bottom: -0.5rem;
      }
    }

    &.sprk-c-Tooltip--top_right {
      top: auto;
      bottom: 1.5rem;
      left: -1rem;
      right: auto;

      &:after {
        left: 1rem;
        right: auto;
        top: auto;
        bottom: -0.5rem;
      }
    }

    &.sprk-c-Tooltip--bottom_left {
      top: 2rem;
      bottom: auto;
      right: -1rem;
      left: auto;

      &:after {
        left: auto;
        top: -0.5rem;
        right: 1rem;
        bottom: auto;
      }
    }

    &.sprk-c-Tooltip--bottom_right {
      top: 2rem;
      bottom: auto;
      right: auto;
      left: -1rem;

      &:after {
        left: 1rem;
        top: -0.5rem;
        right: auto;
        bottom: auto;
      }
    }
  }

  .sprk-c-Tooltip--toggled svg {
    fill: $sprk-tooltip-toggled-icon-background-color;
  }

  /* Show/hide the tooltip on focus and hover */
  .sprk-c-Tooltip {
    display: none;
  }

  .sprk-c-Tooltip__trigger:hover + .sprk-c-Tooltip,
  .sprk-c-Tooltip__trigger:focus + .sprk-c-Tooltip,
  .sprk-c-Tooltip__trigger.sprk-c-Tooltip--toggled + .sprk-c-Tooltip {
    display: inline-block;
  }
}
