.sprk-c-Tooltip__trigger {
  // Button User Agent Resets
  // copied from toggle -- todo?
  background-color: $sprk-toggle-trigger-background-color;
  border-top: $sprk-toggle-trigger-border-top;
  border-left: $sprk-toggle-trigger-border-left;
  border-right: $sprk-toggle-trigger-border-right;
  padding-top: $sprk-toggle-trigger-padding-top;
  padding-right: $sprk-toggle-trigger-padding-right;
  padding-bottom: $sprk-toggle-trigger-padding-bottom;
  padding-left: $sprk-toggle-trigger-padding-left;
  text-align: $sprk-toggle-trigger-text-align;
  display: inline-block;
}

.sprk-c-Tooltip__container {
  position: relative;

  .sprk-c-Tooltip {
    background-color: $sprk-black;
    color: $sprk-white;

    padding: 12px $sprk-space-m;

    border-radius: 4px;
    font-size: 0.75rem;

    // max-width: 328px;

    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    position: absolute;
    bottom: 1.5rem;
    left: -1rem;

    &:after {
      box-sizing: inherit;
      position: absolute;
      display: inline-block;
      left: 1rem;
      bottom: -0.5rem;
      width: 1rem;
      height: 1rem;
      background-color: $sprk-black;
      transform: rotateY(0deg) rotate(45deg);
      content: " ";
    }

    &.sprk-c-Tooltip--top_left {
      top: auto;
      bottom: 1.5rem;
      left: auto;
      right: -1rem;

      &:after {
        left: auto;
        right: 1rem;
        top: auto;
        bottom: -0.5rem;
      }
    }

    &.sprk-c-Tooltip--top_right {
      top: auto;
      bottom: 1.5rem;
      left: -1rem;
      right: auto;

      &:after {
        left: 1rem;
        right: auto;
        top: auto;
        bottom: -0.5rem;
      }
    }

    &.sprk-c-Tooltip--bottom_left {
      top: 2rem;
      bottom: auto;
      right: -1rem;
      left: auto;

      &:after {
        left: auto;
        top: -.5rem;
        right: 1rem;
        bottom: auto;
      }
    }

    &.sprk-c-Tooltip--bottom_right {
      top: 2rem;
      bottom: auto;
      right: auto;
      left: -1rem;

      &:after {
        left: 1rem;
        top: -.5rem;
        right: auto;
        bottom: auto;
      }
    }

    .sprk-c-Tooltip__content-wrapper {
      position: relative;
      display: inline-block;
      // max-width: 328px;
    }
  }

  .sprk-c-Icon.sprk-c-Tooltip--toggled {
    fill: $sprk-green;
  }

  /* Show/hide the tooltip on focus and hover */
  .sprk-c-Tooltip {
    display: none;
  }

  .sprk-c-Icon:hover + .sprk-c-Tooltip,
  .sprk-c-Icon:focus + .sprk-c-Tooltip,
  .sprk-c-Icon.sprk-c-Tooltip--toggled + .sprk-c-Tooltip {
    display: inline-block;
  }
}
