/* stylelint-disable selector-class-pattern */
.sprk-b-TextInput.ng-invalid:not(.ng-pristine) ~ .sprk-b-InputContainer__input-border {
  border-bottom: 3px solid $sprk-text-input-error-color;
}

/* stylelint-enable selector-class-pattern */
