///
// Spark-core settings
///

@import './settings/colors';
@import './settings/settings';
@import './components/icons';

///
// Generic utility styles
///

@import 'node_modules/@scalescss/generic-normalize/normalize';
@import 'node_modules/@scalescss/generic-reset/reset';

///
// ScalesCss
///

@import 'node_modules/@scalescss/base-typography/typography';
@import 'node_modules/@scalescss/base-images/images';
@import 'node_modules/@scalescss/base-lists/lists';
@import 'node_modules/@scalescss/base-blockquotes/blockquotes';
@import 'node_modules/@scalescss/base-forms/forms';
@import 'node_modules/@scalescss/base-tables/tables';
@import 'node_modules/@scalescss/objects-box/box';
@import 'node_modules/@scalescss/objects-centered-column/centered-column';
@import 'node_modules/@scalescss/objects-horizontal-list/horizontal-list';
@import 'node_modules/@scalescss/objects-stack/stack';
@import 'node_modules/@scalescss/objects-vertical-list/vertical-list';
@import 'node_modules/@scalescss/objects-media-object/media-object';
@import 'node_modules/@scalescss/objects-flag/flag';
@import 'node_modules/@scalescss/objects-split/split';
@import 'node_modules/@scalescss/objects-stats/stats';
@import 'node_modules/@scalescss/objects-multi-col-list/multi-col-list';
@import 'node_modules/@scalescss/components-buttons/buttons';
@import 'node_modules/@scalescss/utilities-clearfix/clearfix';
@import 'node_modules/@scalescss/utilities-width/width';
@import 'node_modules/@scalescss/utilities-spacing/spacing';

///
// Spark-core
///

@import './tools/animations';
@import './tools/functions';
@import './tools/mixins';
@import './base/inputs';
@import './base/links';
@import './base/lists';
@import './base/tables';
@import './base/typography';
@import './objects/stack';
@import './components/accordions';
@import './components/alerts';
@import './components/buttons';
@import './components/datepicker';
@import './components/dividers';
@import './components/dropdown';
@import './components/menu';
@import './components/masthead';
@import './components/promo';
@import './components/modals';
@import './components/pagination';
@import './components/spinners';
@import './components/tabs';
@import './utilities/utilities';
