---
doclayout: true
order: 1
name: Icon Sizing
notes: There are three sizes available for all icons. The medium size is the default for all icons,
    you can use the modifiers below to adjust the size.
---

<div>
    <svg class="sprk-c-Icon sprk-c-Icon--small" viewBox="0 0 100 100">
      <use xlink:href="#bars" />
    </svg>
</div>

<div>
    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
      <use xlink:href="#bars" />
    </svg>
</div>

<div>
    <svg class="sprk-c-Icon sprk-c-Icon--large" viewBox="0 0 100 100">
      <use xlink:href="#bars" />
    </svg>
</div>

<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    // Classes
    .sprk-c-Icon--small
    .sprk-c-Icon--large
  </code>
</pre>