<ul class='sprk-b-List sprk-b-List--indented'>
  <li>
    The React Pagination Component is stateless; meaning it is unaware of the data that it is paging
    over. The component is initialized with metadata and calls a callback function whenever
    the page changes.
  </li>
  <li>
    The React Pagination component will automatically switch between the "default" and "long"
    variants as needed.
  </li>
</ul>