// ==================================================================
// Animations
// ==================================================================

//
// Infinite Rotation
///

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//
// Width Zero To Full
///

@keyframes width-zero-to-full {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
