// ==================================================================
// Mixins
// ==================================================================

//
// Underline used on hover in main navigation
// Use within a :hover selector
///

@mixin HoverLine($color, $width) {
  &::after {
    background-color: $color;
    content: ' ';
    height: 2px;
    display: block;
    width: $width;
    margin-right: auto;
    margin-left: auto;
  }
}
