// ==================================================================
// Highlight Board
// ==================================================================

//
// Available Variables
///
$highlight-board-breakpoint: 30rem !default;
$highlight-board-content-width: 30rem !default;
$highlight-board-type-reduction-percentage: 0.8 !default;
$highlight-board-height: 31.25rem !default;
$highlight-board-color: $white !default;
$highlight-board-content-box-color: $white !default;

.sprk-c-HighlightBoard {
  background-color: $highlight-board-color;
  position: relative;
}

.sprk-c-HighlightBoard__image {
  object-fit: cover;

  /* stylelint-disable */
  font-family: 'object-fit: cover;'; // required by the polyfill

  /* stylelint-enable */
  height: $highlight-board-height;
  width: 100%;
}

.sprk-c-HighlightBoard__content {
  background-color: $highlight-board-content-box-color;
  padding: $space-inset-tall-m;
  text-align: center;
  width: auto;

  @media (min-width: $highlight-board-breakpoint) {
    padding: $space-inset-tall-l;
  }
}

.sprk-c-HighlightBoard__heading {
  @media (max-width: $highlight-board-breakpoint) {
    // prettier-ignore
    font-size: $font-size-display-three * $highlight-board-type-reduction-percentage;
  }
}

.sprk-c-HighlightBoard__cta {
  width: 100%;

  @media (min-width: $highlight-board-breakpoint) {
    width: auto;
  }
}

.sprk-c-HighlightBoard--has-image:not(.sprk-c-HighlightBoard--stacked)
.sprk-c-HighlightBoard__content {
  position: absolute;
  bottom: $space-l;
  left: $space-l;
  max-width: $highlight-board-content-width;
  right: $space-l;
  text-align: left;
}
