// ==================================================================
// Highlight Board
// ==================================================================

//
// Available Variables
///
$highlight-board-content-padding: 1.949rem 1rem;

.sprk-c-HighlightBoard {
  text-align: center;
  position: relative;
}

.sprk-c-HighlightBoard__image {
  height: 100%;
  object-fit: cover;
}

.sprk-c-HighlightBoard__content {
  padding-top: 1.949rem;
  padding-bottom: 1.949rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.sprk-c-HighlightBoard__content--image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
