// ==================================================================
// Highlight Board
// ==================================================================

//
// Available Variables
///
$highlight-board-type-breakpoint: 30rem !default;
$highlight-board-type-reduction-percentage: 0.8 !default;
$highlight-board-height: 31.25rem !default;
$highlight-board-color: $white !default;

.sprk-c-HighlightBoard {
  background-color: $highlight-board-color;
  position: relative;
}

.sprk-c-HighlightBoard__image {
  object-fit: cover;

  /* stylelint-disable */
  font-family: 'object-fit: cover;'; // required by the polyfill

  /* stylelint-enable */
  height: $highlight-board-height;
  width: 100%;
}

.sprk-c-HighlightBoard__content {
  background-color: $highlight-board-color;
  padding: $space-inset-tall-m;
}

.sprk-c-HighlightBoard__headings {
  margin-bottom: $space-m;
}

.sprk-c-HighlightBoard__primary-heading {
  @media (max-width: $highlight-board-type-breakpoint) {
    // prettier-ignore
    font-size: $font-size-display-three * $highlight-board-type-reduction-percentage;
  }
}

.sprk-c-HighlightBoard__sub-heading {
  @media (max-width: $highlight-board-type-breakpoint) {
    // prettier-ignore
    font-size: $font-size-display-four * $highlight-board-type-reduction-percentage;
  }
}

.sprk-c-HighlightBoard--has-image:not(.sprk-c-HighlightBoard--stacked)
.sprk-c-HighlightBoard__content {
  position: absolute;
  bottom: $space-l;
  left: $space-l;
  right: $space-l;
}

.sprk-c-HighlightBoard--stacked {
  text-align: center;
}
