// font urls
$using-webfonts: true;
$webfonts: (
  (
    url('https://spark-assets.netlify.com/FallSans-Regular.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/FallSans-Regular.woff')
    format('woff')
  ),
  FallSans,
  400
),
  (
  (
    url('https://spark-assets.netlify.com/FallSans-Bold.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/FallSans-Bold.woff') format('woff')
  ),
  FallSans,
  700
),
  (
  (
    url('https://spark-assets.netlify.com/FallSans-Medium.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/FallSans-Medium.woff')
    format('woff')
  ),
  FallSans,
  500
),
  (
  (
    url('https://spark-assets.netlify.com/FallSans-Light.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/FallSans-Light.woff') format('woff')
  ),
  FallSans,
  300
);

@import 'node_modules/@sparkdesignsystem/spark-core/spark-core.scss';
@import 'node_modules/@sparkdesignsystem/spark-core/spark-core-angular.scss';
@import 'node_modules/@sparkdesignsystem/spark-card/card';
@import 'node_modules/@sparkdesignsystem/spark-description-table/dictionary.scss';
@import 'node_modules/@sparkdesignsystem/spark-highlight-board/highlight-board.scss';

//
// Bring in doc site styles
//

@import '../assets/drizzle/styles/main.scss';

//
// Angular site specific styling
//
* {
  font-family: $body-font-name, sans-serif;
}

.#{$app-namespace}-c-AngularHeader {
  position: static;
}

.#{$app-namespace}-c-AngularNav {
  background-color: $black;
  color: $white;
  width: 100%;
  padding: 0;
}

.#{$app-namespace}-c-AngularNav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $highlight;
  }
}

$override-namespace: 'angular-docs';

// angular doc specific overrides
.#{$override-namespace}-u-Masthead-docs
.sprk-c-Masthead__narrow-navigation-container {
  position: static;
  margin-top: -2px;
}
