// font urls
$sprk-using-webfonts: true;
$sprk-webfonts: (
  (
    url('https://spark-assets.netlify.com/RocketSans-Regular.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Regular.woff')
    format('woff')
  ),
  RocketSans,
  400
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Bold.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Bold.woff')
    format('woff')
  ),
  RocketSans,
  700
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Medium.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Medium.woff')
    format('woff')
  ),
  RocketSans,
  500
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Light.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Light.woff')
    format('woff')
  ),
  RocketSans,
  300
);

@import 'node_modules/@sparkdesignsystem/spark/spark.scss';
@import 'node_modules/@sparkdesignsystem/spark/spark-angular.scss';

//
// Bring in doc site styles
//

@import '../assets/drizzle/styles/main.scss';

//
// Angular site specific styling
//
.#{$app-namespace}-c-AngularHeader {
  position: static;
}

.#{$app-namespace}-c-AngularNav {
  background-color: $sprk-black;
  color: $sprk-white;
  width: 100%;
  padding: 0;
}

.#{$app-namespace}-c-AngularNav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $drizzle-highlight;
  }
}

$override-namespace: 'angular-docs';

// Angular doc specific overrides
.#{$override-namespace}-u-Masthead-docs
.sprk-c-Masthead__narrow-navigation-container {
  position: static;
  margin-top: -2px;
}

.#{$override-namespace}-u-FlexWrap--wrap {
  flex-wrap: wrap;
}
