<p>
  All available proptypes for base card can apply to highlighted header cards.
</p>
<p class="sprk-u-mbm">
  See below for available customization options:
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        highlightedHeaderConfig
      </td>
      <td>
        object
      </td>
      <td>
        Expects an object of configurations that populate the content of SprkCard with a highlighted Header.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        bodyText
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's body text. Part of the Highlighted Header configuration.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        description
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's description. Part of Highlighted Header configuration.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        title
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the card's title. Part of Highlighted Header configuration.
      </td>
    </tr>
  </tbody>
</table>
