<p>
  All available proptypes for base card can apply to teaser cards.
</p>
<p class="sprk-u-mbm">
  See below for available customization options:
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Input</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        teaserConfig
      </td>
      <td>
        object
      </td>
      <td>
        Expects an object of configurations that populate the
        content of SprkCard teaser.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        bodyText
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the teaser card's body text. This is a configuration of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        cta
      </td>
      <td>
        object
      </td>
      <td>
        <p class="sprk-u-mbm">
          Expects an object that configures the call-to-action of a teaser card.
        </p>
        <p class="sprk-u-mbs">
          Expects the following items:
        </p>
        <ul class="sprk-u-mlm">
          <li>
            additionalCtaIconClasses
          </li>
          <li>
            ctaAnalytics
          </li>
          <li>
            ctaIcon
          </li>
          <li>
            ctaLinkElement
          </li>
          <li>
            ctaVariant
          </li>
          <li>
            href
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        media
      </td>
      <td>
        object
      </td>
      <td>
        <p class="sprk-u-mbm">
          Expects an object that configures the main media of a teaser card.
        </p>
        <p class="sprk-u-mbs">
          Expects the following items:
        </p>
        <ul class="sprk-u-mlm">
          <li>
            additionalMediaIconClasses
          </li>
          <li>
            href
          </li>
          <li>
            mediaLinkElement
          </li>
          <li>
            iconName
          </li>
          <li>
            imgAlt
          </li>
          <li>
            imgSrc
          </li>
          <li>
            mediaAnalyticsString
          </li>
          <li>
            mediaVariant
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        title
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will show up as the main headline of the teaserCard. This is a configuration of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        titleFirst
      </td>
      <td>
        boolean
      </td>
      <td>
        Expects a boolean that will determine if the teaser card's title is at the top or below the main media. This is a configuration of teaserConfig.
      </td>
    </tr>
  </tbody>
</table>
