<p class="sprk-u-mbm">
  Teaser cards can become a title first configeration by adding titleFirst=true to TeaserConfig object.
</p>

<p class="sprk-u-mbm">
  All other available proptypes for teaser can apply.
</p>

