<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Prop</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the dropdown component.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalIconClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the icon in the dropdown component.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalTriggerClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the dropdown component's trigger link element.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">additionalTriggerTextClasses</td>
    <td>string</td>
    <td>Expects a space separated string of classes to be added to the dropdown component's trigger text.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">analyticsString</td>
    <td>string</td>
    <td>The value supplied will be assigned to the data-analytics attribute on the dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">choices</td>
    <td>object</td>
    <td>Expects an object containing details around the choices available in the dropdown. See below for object
    details.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">defaultTriggerText</td>
    <td>string</td>
    <td>For the 'informational' variant, this is the text that is rendered into the trigger by default.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">iconType</td>
    <td>string</td>
    <td>For the 'base' variant, this is the icon name to render.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">idString</td>
    <td>string</td>
    <td>The value supplied will be assigned to the data-id attribute on the dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">screenReaderText</td>
    <td>string</td>
    <td>The value supplied will be visually hidden inside the trigger. Used with the base variant.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>string</td>
    <td>The value supplied will be displayed in a box above the choices.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">variant</td>
    <td>string</td>
    <td>Can be 'base' or 'informational'. Determines which variant of the dropdown to render.</td>
  </tr>
  </tbody>
</table>
<p class="sprk-u-mbm">The choices object represents data this is shown inside the open dropdown.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">choiceFunction</td>
    <td>function</td>
    <td>The function supplied is executed when a choice is selected from the dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">footer</td>
    <td>array</td>
    <td>Expects a Component to render at the foot of the open dropdown.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">items</td>
    <td>array</td>
    <td>Expects an array of item objects, see below for details.</td>
  </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">The choice's items array represents each choice's content.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">content</td>
    <td>object</td>
    <td>The 'informational' variant of dropdown's choice list has more detail. The content object is how that detail is
      structured. See below for details.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">isActive</td>
    <td>string</td>
    <td>If the dropdownType is 'informational', if true, the choice will be rendered initially in the active state. This is overridden by user action.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">text</td>
    <td>string</td>
    <td>The text that is rendered to the screen. Only rendered if content is not present.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">value</td>
    <td>string</td>
    <td>If the dropdownType is 'informational', the value will be set to the trigger text and also emitted on the click of a choice.</td>
  </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">The content object represents a choice's text that is more complex than just one line of text.</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Key</th>
    <th>Sample Value</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="sprk-u-FontWeight--bold">title</td>
    <td>Choice Title</td>
    <td>The text that is rendered to the screen in bold and at the top of the choice.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine1</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  <tr>
    <td class="sprk-u-FontWeight--bold">infoLine2</td>
    <td>Information about this choice</td>
    <td>An optional line of text rendered to the choice's content.</td>
  </tr>
  </tbody>
</table>
