// ==================================================================
// Accordions
// ==================================================================

////
/// @group accordion
////
.sprk-c-Accordion {
  border-top: $sprk-accordion-border;
  max-width: $sprk-accordion-max-width;
  width: 100%;
}

/// Adds style to accordion items that
/// have been toggled open by Spark JS.
/// @name .sprk-c-Accordion__item--open
.sprk-c-Accordion__item--open + .sprk-c-Accordion__item--open {
  &::before {
    display: none;
  }
}

.sprk-c-Accordion__item {
  border-bottom: $sprk-accordion-border;
}

.sprk-c-Accordion__heading {
  flex: 1;
}

.sprk-c-Accordion__icon {
  flex: 0 0 auto;
}

.sprk-c-Accordion__icon--leading {
  margin: $sprk-accordion-icon-leading-margin;
}

.sprk-c-Accordion__summary {
  align-items: center;
  background-color: $sprk-accordion-summary-background-color;
  border: $sprk-accordion-summary-border;
  color: $sprk-accordion-summary-color;
  display: flex;
  padding: $sprk-accordion-summary-padding;
  text-align: $sprk-accordion-summary-text-align;
  text-decoration: $sprk-accordion-summary-text-decoration;
  width: 100%;

  &:hover {
    .sprk-c-Accordion__heading {
      color: $sprk-accordion-summary-active-color;
      text-decoration: $sprk-accordion-summary-active-text-decoration;
    }

    .sprk-c-Accordion__icon {
      fill: $sprk-accordion-summary-hover-icon-fill;
    }
  }

  &:focus:not(.focus-visible) {
    outline: none; /* stylelint-disable-line selector-class-pattern */
  }
}

.sprk-c-Accordion__item--open .sprk-c-Accordion__icon {
  color: $sprk-accordion-summary-active-color;
}

.sprk-c-Accordion__content {
  padding: $sprk-accordion-content-padding;
}
