// ==================================================================
// Autocomplete
// ==================================================================

////
/// @group autocomplete
////
.sprk-c-Autocomplete__results {
  list-style-type: none;
  background-color: $sprk-white;
  border: $sprk-autocomplete-results-border;
  border-radius: $sprk-border-radius;
  box-shadow: $sprk-autocomplete-results-shadow;
  max-width: $sprk-autocomplete-results-max-width;
  max-height: $sprk-autocomplete-results-max-height;
  position: absolute;
  z-index: $sprk-autocomplete-results-z-index;
  overflow-y: $sprk-autocomplete-results-overflow-y;

  li {
    padding: $sprk-autocomplete-results-items-padding;
    border-bottom: $sprk-autocomplete-results-items-border-bottom;
    font-size: $sprk-autocomplete-results-items-font-size;

    &:hover {
      background-color: $sprk-autocomplete-results-items-hover-background-color;
      cursor: $sprk-autocomplete-results-items-hover-cursor;
    }
  }

  /// Apply highlighting style to the element.
  .sprk-c-Autocomplete__results--active {
    background-color: $sprk-autocomplete-results-active-background-color;
  }
}

.sprk-b-InputContainer--huge .sprk-c-Autocomplete__results {
  max-width: 37.5rem; //TODO move to json
}
