// ==================================================================
// Masthead
// ==================================================================
////
/// @group masthead
////
.sprk-c-Masthead {
  background-color: $sprk-masthead-bg-color;
  border-bottom: $sprk-masthead-border-bottom;
  box-shadow: $sprk-masthead-shadow;
  position: sticky;
  top: 0;
  transition: $sprk-masthead-transition;
  z-index: $sprk-layer-height-m;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    border-bottom: $sprk-masthead-border-bottom-wide;
  }
}

/// Adds styles for the Masthead when it is open.
.sprk-c-Masthead--open {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    position: sticky;
    height: auto;
  }
}

///	Adds styles for the Masthead when the user scrolls past it.
.sprk-c-Masthead--scroll {
  box-shadow: $sprk-masthead-shadow-scroll;
}

/// Adds styles to hide the Masthead
/// when a user scrolls on a narrow screen.
.sprk-c-Masthead--hidden {
  transform: $sprk-masthead-translateY;
  transition: $sprk-masthead-transition;
}

// Keep padding settings consistent for menu,
// logo branding, little nav, and additional nav link
.sprk-c-Masthead__menu,
.sprk-c-Masthead__branding,
.sprk-c-Masthead__little-nav,
.sprk-c-Masthead__nav-item {
  padding-top: $sprk-masthead-content-item-padding-top;
  padding-left: $sprk-masthead-content-item-padding-left;
  padding-right: $sprk-masthead-content-item-padding-right;
  padding-bottom: $sprk-masthead-content-item-padding-bottom;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    padding-top: $sprk-masthead-content-item-padding-top-wide;
    padding-left: $sprk-masthead-content-item-padding-left-wide;
    padding-right: $sprk-masthead-content-item-padding-right-wide;
    padding-bottom: $sprk-masthead-content-item-padding-bottom-wide;
  }
}

// Content includes menu, logo,
// little nav, additional nav link
.sprk-c-Masthead__content {
  padding: $sprk-masthead-content-padding;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    margin: 0 auto;
    max-width: $sprk-masthead-column-width;
    padding: $sprk-masthead-content-padding-wide;
  }
}

// When open, adjust box shadow and border styles
.sprk-c-Masthead--open .sprk-c-Masthead__content {
  border-bottom: $sprk-masthead-border-bottom;
  box-shadow: $sprk-masthead-shadow;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    // Prevents narrow nav box-shadow and
    // border styles from showing on large viewports
    // in scenario where nav is open and viewport
    // is expanded
    box-shadow: $sprk-masthead-shadow-wide;
    border-bottom: $sprk-masthead-border-bottom-wide;
  }
}

.sprk-c-Masthead__nav-item {
  display: flex;
  justify-content: flex-end;
}

// Hide menu element and additional nav link on larger views
.sprk-c-Masthead__menu,
.sprk-c-Masthead__nav-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    display: none;
  }
}

.sprk-c-Masthead__menu .sprk-c-Menu__icon {
  width: $sprk-masthead-menu-icon-width;
  height: $sprk-masthead-menu-icon-height;
}

// Center logo branding
.sprk-c-Masthead__branding {
  margin: 0 auto;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;

  @media (min-width: $sprk-masthead-breakpoint) {
    padding-right: $sprk-masthead-content-item-padding-right-wide;
    flex-grow: 0;
  }
}

// Add sizing range for logo
.sprk-c-Masthead__logo {
  max-width: $sprk-masthead-logo-max-width;
  min-width: $sprk-masthead-logo-min-width;
}

// Hide big and little navs until larger view
.sprk-c-Masthead__big-nav,
.sprk-c-Masthead__little-nav {
  display: none;

  @media (min-width: $sprk-masthead-breakpoint) {
    display: inherit;
  }
}

// If there are too many little nav links they'll wrap
.sprk-c-Masthead__little-nav {
  flex-wrap: wrap;
  position: relative;
}

.sprk-c-Masthead__site-links {
  // Relative pos for child dropdowns
  position: relative;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    border-right: $sprk-masthead-site-links-border-right;
    padding-right: $sprk-space-misc-a;
  }
}

.sprk-c-Masthead__link {
  color: $sprk-masthead-link-color;
  font-weight: $sprk-masthead-link-font-weight;

  &:visited {
    color: $sprk-masthead-link-visited-color;
  }

  &:hover,
  &:focus {
    color: $sprk-masthead-link-hover-color;

    .sprk-c-Icon {
      color: $sprk-masthead-link-icon-hover-color;
      stroke: $sprk-masthead-link-icon-hover-color;
      fill: $sprk-masthead-link-icon-hover-color;
    }
  }
}

.sprk-c-Masthead__link.sprk-b-Link--simple:hover {
  .sprk-c-Icon {
    color: $sprk-masthead-simple-link-icon-hover-color;
  }
}

// Selector has 100% default width
// then grows to size of content on larger views
.sprk-c-Masthead__selector {
  background-color: $sprk-masthead-selector-bg-color;
  border: $sprk-masthead-selector-border;
  border-radius: $sprk-masthead-selector-border-radius;
  color: $sprk-masthead-selector-font-color;
  font-weight: $sprk-masthead-selector-font-weight;
  padding: $sprk-masthead-selector-padding;
  width: 100%;
  min-width: $sprk-masthead-selector-min-width;

  &:visited {
    color: $sprk-masthead-selector-font-color;
    border: $sprk-masthead-selector-border;
  }

  &:hover,
  &:active,
  &:focus {
    color: $sprk-masthead-selector-hover-font-color;
    border: $sprk-masthead-selector-hover-border;

    .sprk-c-Icon {
      stroke: $sprk-masthead-selector-hover-font-color;
      fill: $sprk-masthead-selector-hover-font-color;
    }
  }

  @media all and (min-width: $sprk-masthead-breakpoint) {
    width: auto;
  }
}

/// Adds an underline on links used in
/// the big navigation bar.
.sprk-c-Masthead__link--big-nav {
  display: block;
  font-weight: $sprk-big-nav-link-font-weight;
  padding: $sprk-big-nav-link-padding;

  &:hover,
  &:active,
  &:focus {
    font-weight: $sprk-big-nav-link-font-weight;
  }
}

.sprk-c-Masthead__big-nav {
  background-color: $sprk-big-nav-bg;
}

// Big nav bar has a max width for child items
.sprk-c-Masthead__big-nav-items {
  // Relative pos for child dropdowns
  position: relative;
  margin: 0 auto;
  max-width: $sprk-big-nav-column-width;
}

.sprk-c-Masthead__big-nav-item {
  line-height: $sprk-big-nav-item-line-height;
  position: relative;
  text-align: center;
  white-space: nowrap;
  border-bottom: $sprk-big-nav-item-border-bottom;

  &:active,
  &:focus,
  &:hover {
    border-bottom: $sprk-big-nav-item-active-border-bottom;

    .sprk-c-Masthead__link--big-nav {
      border-bottom: $sprk-big-nav-link-hover-border-bottom;
      color: $sprk-red; // TODO json
    }

    .sprk-c-Icon {
      stroke: $sprk-red;
      fill: $sprk-red;
    }
  }
}

/// Adds an active state color and bold
/// font weight to active big navigation items.
/// @name .sprk-c-Masthead__big-nav-item--active
.sprk-c-Masthead__big-nav-item--active > .sprk-c-Masthead__link--big-nav {
  font-weight: $sprk-big-nav-link-font-weight;
}

/// Adds open styles to open big navigation items.
/// @name .sprk-c-Masthead__big-nav-item--open
.sprk-c-Masthead__big-nav-item:focus-within,
.sprk-c-Masthead__big-nav-item--open,
.sprk-c-Masthead__big-nav-item--active {
  border-bottom: $sprk-big-nav-item-open-border-bottom;

  .sprk-c-Masthead__link--big-nav {
    border-bottom: $sprk-big-nav-link-hover-border-bottom;
  }
}

// Fixed container that covers entire page
// that contains the Masthead Accordion
// Starts below the main content (logo branding, menu)
.sprk-c-Masthead__narrow-nav,
.sprk-c-MastheadMask {
  background-color: $sprk-white;
  height: 100%;
  overflow: auto;
  padding-bottom: $sprk-masthead-narrow-height +
    $sprk-masthead-content-item-padding-top +
    $sprk-masthead-content-item-padding-top + $sprk-masthead-menu-icon-height +
    $sprk-masthead-border-bottom-size; // So the scroll has enough room to reach the bottom item

  top: $sprk-masthead-narrow-height + $sprk-masthead-content-item-padding-top +
    $sprk-masthead-content-item-padding-top + $sprk-masthead-menu-icon-height +
    $sprk-masthead-border-bottom-size; // Adds extra space to account for logo dropping under menu<320px

  width: 100%;

  @media (min-width: $sprk-split-breakpoint-xxs) {
    // Extra space for border included
    top: $sprk-masthead-narrow-height + $sprk-masthead-border-bottom-size;
    // Extra space for border included
    padding-bottom: $sprk-masthead-narrow-height +
      $sprk-masthead-border-bottom-size;
  }
  @media (min-width: $sprk-masthead-breakpoint) {
    // Hide narrow nav on larger views
    display: none;
  }
}

.sprk-c-MastheadMask {
  background-color: $sprk-masthead-mask-color;
  cursor: pointer;
  position: fixed;
  z-index: $sprk-layer-height-l;
}

.sprk-c-MastheadMask .sprk-c-Masthead__selector {
  border-color: $sprk-masthead-selector-border-color-mask-open;
}

// ==================================================================
// Selector Dropdown
// ==================================================================
.sprk-c-Masthead__selector-dropdown {
  background-color: $sprk-masthead-selector-dropdown-background-color;
  border-bottom: $sprk-masthead-selector-dropdown-border-bottom-mask-open;
  box-shadow: $sprk-masthead-selector-dropdown-box-shadow-mask-open;
  font-size: $sprk-masthead-selector-dropdown-font-size;
  position: absolute;
  max-width: 100%;
  margin: $sprk-masthead-selector-dropdown-margin;
  width: 100%;
  top: 0;
  padding: $sprk-masthead-selector-dropdown-padding;
  z-index: $sprk-masthead-selector-dropdown-z-index;
}

.sprk-c-Masthead__selector-dropdown-header {
  padding: ($sprk-masthead-selector-dropdown-item-padding / 2)
    $sprk-masthead-selector-dropdown-item-padding;

  &:hover .sprk-c-Icon,
  &:focus .sprk-c-Icon,
  &:active .sprk-c-Icon {
    stroke: $sprk-masthead-selector-hover-font-color;
    fill: $sprk-masthead-selector-hover-font-color;
  }
}

.sprk-c-Masthead__selector-dropdown-title {
  color: $sprk-masthead-selector-dropdown-title-color;
  font-weight: $sprk-masthead-selector-dropdown-title-font-weight;
  font-size: $sprk-masthead-selector-dropdown-title-font-size;

  &:hover,
  &:focus,
  &:active {
    color: $sprk-masthead-selector-hover-font-color;
  }
}

.sprk-c-Masthead__selector-dropdown-links {
  list-style-type: none;
}

.sprk-c-Masthead__selector-dropdown-item {
  font-weight: $sprk-masthead-selector-dropdown-font-weight;
}

.sprk-c-Masthead__selector-dropdown-link {
  color: $sprk-masthead-selector-dropdown-link-color;
  display: block;
  padding: $sprk-masthead-selector-dropdown-link-padding;
  text-decoration: $sprk-masthead-selector-dropdown-text-decoration;
  line-height: $sprk-masthead-selector-dropdown-line-height;

  &:hover {
    background-color: $sprk-masthead-selector-dropdown-active-background-color;
  }
}

/// Adds styles to indicate that the dropdown
/// link is currently active.
.sprk-c-Masthead__selector-dropdown-link--active {
  box-shadow: $sprk-masthead-selector-dropdown-active-box-shadow;
  border-left: $sprk-masthead-selector-dropdown-active-border;
  background-color: $sprk-masthead-selector-dropdown-active-background-color;
}

.sprk-c-Masthead__selector-footer {
  padding: $sprk-masthead-selector-dropdown-footer-padding;
  text-align: $sprk-masthead-selector-dropdown-footer-text-align;
}

// ==================================================================
// Masthead Accordion
// ==================================================================
.sprk-c-MastheadAccordion {
  width: 100%;
}

// Override the dropdown max-width
.sprk-c-MastheadAccordion .sprk-c-Dropdown {
  max-width: 100%;
}

.sprk-c-MastheadAccordion__heading {
  color: $sprk-masthead-accordion-heading-color;
  flex: 1;
  font-weight: $sprk-masthead-accordion-heading-font-weight;
}

.sprk-c-MastheadAccordion__icon {
  flex: 0 0 auto;
}

.sprk-c-MastheadAccordion__summary {
  align-items: center;
  color: $sprk-masthead-accordion-font-color;
  display: flex;
  min-height: $sprk-icon-m;
  padding: $sprk-masthead-accordion-item-padding;
  text-decoration: none;

  // Button User Agent Resets
  width: 100%;
  background: $sprk-masthead-accordion-item-background;
  border: $sprk-masthead-accordion-item-border;
  text-align: $sprk-masthead-accordion-item-text-align;

  &:hover,
  &:active {
    background-color: $sprk-masthead-accordion-active-background-color;
    color: $sprk-masthead-accordion-active-font-color;
    text-decoration: none;
  }

  // Polyfill for focus-visible
  &:focus:not(.focus-visible) {
    outline: none; /* stylelint-disable-line selector-class-pattern */
  }
}

/// Adds top divider when open.
/// @name .sprk-c-MastheadAccordion__item--open
.sprk-c-MastheadAccordion__item--open::before {
  background-color: $sprk-masthead-accordion-item-open-line-background-color;
  content: '';
  display: block;
  height: $sprk-masthead-accordion-item-open-line-height;
  margin: 0 auto;
  width: 100%;
}

/// Adds selected item background highlight and left color bar.
/// @name .sprk-c-MastheadAccordion__item--active
.sprk-c-MastheadAccordion__item--active .sprk-c-MastheadAccordion__summary {
  background-color: $sprk-masthead-accordion-active-background-color;
  border-left: $sprk-masthead-accordion-active-left-border;
}

// Set colors/font weight for heading when item is open or selected
.sprk-c-MastheadAccordion__item--active .sprk-c-MastheadAccordion__heading,
.sprk-c-MastheadAccordion__item--open .sprk-c-MastheadAccordion__heading {
  color: $sprk-masthead-accordion-active-heading-color;
  font-weight: $sprk-masthead-accordion-active-heading-font-weight;
}

// When item is open, add bottom divider.
.sprk-c-MastheadAccordion__details {
  &::after {
    background-color: $sprk-masthead-accordion-item-open-line-background-color;
    content: '';
    display: block;
    height: $sprk-masthead-accordion-item-open-line-height;
    margin: 0 auto;
    width: 100%;
  }
}

.sprk-c-MastheadAccordion__details .sprk-c-Masthead__link {
  color: $sprk-masthead-accordion-details-font-color;
  display: block;
  font-weight: $sprk-masthead-accordion-details-font-weight;
  padding: $sprk-masthead-accordion-item-padding;

  &:hover,
  &:active,
  &:focus {
    background-color: $sprk-accordion-active-background-color;
  }
}

/* stylelint-disable selector-class-pattern */
sprk-masthead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: block;
  z-index: $sprk-layer-height-m;
}
