// ==================================================================
// Menu
// ==================================================================
.sprk-c-Menu {
  border: 0;
  background-color: $sprk-menu-icon-bg-color;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.sprk-c-Menu__icon {
  stroke: $sprk-menu-icon-stroke;
  stroke-width: $sprk-menu-icon-stroke-width;
}

.sprk-c-Menu__line {
  opacity: 1;
  transition: $sprk-menu-icon-transition;
}

.sprk-c-Menu__line--one {
  transform-origin: $sprk-menu-icon-line-one-transform-origin;
}

.sprk-c-Menu__line--three {
  transform-origin: $sprk-menu-icon-line-three-transform-origin;
}

// Styles to turn the menu into
// an "X" when open.
// Not configurable because the "X" needs to be
// exact.
.sprk-c-Menu__icon--open .sprk-c-Menu__line--one,
.sprk-c-Menu__icon--is-open .sprk-c-Menu__line--one {
  transform: rotate(45deg);
}

.sprk-c-Menu__icon--open .sprk-c-Menu__line--two,
.sprk-c-Menu__icon--is-open .sprk-c-Menu__line--two {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: scale(0.01);
}

.sprk-c-Menu__icon--open .sprk-c-Menu__line--three,
.sprk-c-Menu__icon--is-open .sprk-c-Menu__line--three {
  transform: rotate(-45deg);
}
