// ==================================================================
// Modals
// ==================================================================
////
/// @group modal
////
.sprk-c-Modal,
.sprk-c-ModalMask {
  left: 0;
  position: fixed;
}

.sprk-c-ModalMask {
  background-color: $sprk-modal-mask-color;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: $sprk-layer-height-l;
}

.sprk-c-Modal {
  background-color: $sprk-modal-color;
  box-shadow: $sprk-modal-shadow;
  border-radius: $sprk-modal-border-radius;
  margin-right: auto;
  margin-left: auto;
  max-width: $sprk-modal-max-width;
  max-height: $sprk-modal-height;
  padding: $sprk-space-l;
  outline: 0;
  overflow-y: auto;
  right: 0;
  top: 5%;
  width: 95%;
  z-index: $sprk-layer-height-xl;

  @media all and (min-width: $sprk-modal-breakpoint-small) and (min-height: $sprk-modal-breakpoint-small) {
    top: 15%;
  }
  @media all and (min-width: $sprk-modal-breakpoint-medium) and (min-height: $sprk-modal-breakpoint-medium) {
    height: auto;
    top: 30%;
  }
}

/// Adds styles for the Wait Modal
/// variant. Applies center alignment.
.sprk-c-Modal--wait {
  text-align: center;
}

// Fixes corner case with wait modal in IE 11
// https://github.com/philipwalton/flexbugs#flexbug-2
.sprk-c-Modal--wait .sprk-c-Modal__content {
  width: 100%;
}

.sprk-c-Modal__header {
  display: flex;
}

.sprk-c-Modal--wait .sprk-c-Modal__body,
.sprk-c-Modal__header {
  align-items: center;
}

.sprk-c-Modal__heading {
  flex: 1 1 auto;
}

.sprk-c-Modal__icon {
  align-self: start;
  background-color: transparent;
  border: 0;
  color: $sprk-black-tint-50;
  flex: 0 1 auto;
}

.sprk-c-Modal--is-hidden,
.sprk-c-ModalMask--is-hidden {
  display: $sprk-modal-display-hidden;
}
