// ==================================================================
// Promo
// ==================================================================
////
/// @group promo
////
.sprk-c-Promo {
  background-color: $sprk-promo-background-color;
  max-width: $sprk-promo-max-width;
  margin: $sprk-promo-margin;
}

.sprk-c-Promo--full {
  max-width: $sprk-promo-max-width-full;
}

/// Adds a border around the Promo.
.sprk-c-Promo--bordered {
  border: $sprk-promo-border;
}

.sprk-c-Promo__title {
  font-weight: $sprk-promo-title-font-weight;
  color: $sprk-promo-title-font-color;
}

.sprk-c-Promo__subtitle {
  font-weight: $sprk-promo-subtitle-font-weight;
  color: $sprk-promo-subtitle-font-color;
}

.sprk-c-Promo__image {
  width: $sprk-promo-image-width;
  height: $sprk-promo-image-height;
  object-fit: $sprk-promo-image-object-fit;

  @media (max-width: $sprk-promo-breakpoint) {
    max-height: $sprk-promo-image-narrow-max-height;
  }
}

/// Adds styles for the image
/// in the Flag Promo variant.
.sprk-c-Promo__image--flag {
  width: $sprk-promo-image-flag-width;
  height: $sprk-promo-image-flag-height;
  padding: $sprk-promo-image-flag-padding;

  @media (max-width: $sprk-promo-breakpoint) {
    max-width: $sprk-promo-image-flag-narrow-max-width;
  }
}

.sprk-c-Promo__content {
  padding: $sprk-promo-content-padding;
}

///	Adds styles for the Flag Promo variant.
/// @name .sprk-c-Promo--flag
.sprk-c-Promo--flag .sprk-c-Promo__content {
  padding: $sprk-promo-flag-content-padding;
}
