// ==================================================================
// Stepper
// ==================================================================
////
/// @group stepper
////
.sprk-c-Stepper {
  background-color: $sprk-stepper-bg;
  list-style-type: none;
  max-width: $sprk-stepper-max-width;
  position: relative;
}
.sprk-c-Stepper__slider {
  position: absolute;
  top: 0;
  transition: top $sprk-stepper-slide-timing ease;
  z-index: 1000;

  .sprk-c-Stepper__step-content {
    background-color: $sprk-stepper-step-description-bg-selected;
    box-shadow: $sprk-stepper-step-description-box-shadow;
    border-radius: $sprk-stepper-step-description-border-radius;
  }

  .sprk-c-Stepper__step-heading,
  .sprk-c-Stepper__step-icon,
  .sprk-c-Stepper__step-description {
    opacity: 0;
  }

  .sprk-c-Stepper__step-icon {
    transition: opacity $sprk-stepper-slide-timing ease;
  }
}

.sprk-c-Stepper__container-dark {
  background-color: $sprk-stepper-dark-bg;
}

.sprk-c-Stepper__slider--active .sprk-c-Stepper__step-heading,
.sprk-c-Stepper__slider--active .sprk-c-Stepper__step-icon,
.sprk-c-Stepper__slider--active .sprk-c-Stepper__step-description {
  opacity: 1;
  transition: opacity $sprk-stepper-slider-text-fade-in-timing ease $sprk-stepper-slider-text-fade-in-delay;
}

/// Adds the selected styles to the step that
/// is selected.
/// @name .sprk-c-Stepper__step--selected

/// Adds the needed styles for
/// when the Stepper has
/// a dark background color.
.sprk-c-Stepper--has-dark-bg {
  .sprk-c-Stepper__step-heading,
  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-heading {
    color: $sprk-stepper-dark-step-heading-color;
  }

  .sprk-c-Stepper__step::before {
    background-color: $sprk-stepper-dark-bar-color;
  }

  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-dark-icon-color;
    border-color: $sprk-stepper-dark-icon-border-color;
  }

  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-content--has-description
  .sprk-c-Stepper__step-heading {
    color: $sprk-stepper-dark-step-description-selected;
  }

  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-icon,
  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-dark-icon-color-selected;
    box-shadow: $sprk-stepper-icon-box-shadow-selected-dark-bg;
  }

  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-dark-icon-color-hover;
  }

  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-content--hidden {
    background-color: transparent;
    box-shadow: none;
  }
}

.sprk-c-Stepper__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.sprk-c-Stepper__step:focus {
  outline: 0;
}

.sprk-c-Stepper__step::before {
  background-color: $sprk-stepper-bar-color;
  content: '';
  height: 100%;
  left: $sprk-stepper-bar-left-inset;
  position: absolute;
  width: $sprk-stepper-bar-width;
}

/// Adds styles to the step that are
/// required when the Stepper has a slider.
/// @name .sprk-c-Stepper__step--has-slider
.sprk-c-Stepper__step--has-slider.sprk-c-Stepper__step--first::before,
.sprk-c-Stepper__step--has-slider.sprk-c-Stepper__step--last::before,
.sprk-c-Stepper__step--first::before,
.sprk-c-Stepper__step--last::before {
  height: 50%;
}

/// Adds styles for the last step in the Stepper.
/// @name .sprk-c-Stepper__step--last
.sprk-c-Stepper__step--last.sprk-c-Stepper__step--has-slider::before,
.sprk-c-Stepper__step--last::before {
  top: 0;
}

/// Adds styles for the first step in the Stepper.
/// @name .sprk-c-Stepper__step--first
.sprk-c-Stepper__step--has-slider.sprk-c-Stepper__step--first::before,
.sprk-c-Stepper__step--first::before {
  bottom: 0;
}

.sprk-c-Stepper__step-icon {
  background-color: $sprk-stepper-icon-color;
  border-radius: 50%;
  border: $sprk-stepper-icon-border-width solid $sprk-stepper-icon-border-color;
  display: inline-block;
  height: $sprk-stepper-icon-height;
  left: $sprk-stepper-icon-left;
  position: absolute;
  transition: $sprk-stepper-icon-transition;
  width: $sprk-stepper-icon-width;
  z-index: $sprk-stepper-icon-z-index;
}

.sprk-c-Stepper__step-content {
  background-color: $sprk-stepper-step-content-bg;
  margin-left: $sprk-stepper-step-content-margin-left;
  padding: $sprk-stepper-step-padding;
  position: relative;
}

/// Goes on the step content when the step
/// has a description in addition to the step heading.
.sprk-c-Stepper__step-content--has-description {
  border-radius: $sprk-stepper-step-description-border-radius;
}

/// Adds the active state styles to the slider.
/// @name .sprk-c-Stepper__slider--active
.sprk-c-Stepper__slider--active,
.sprk-c-Stepper__step--selected {
  .sprk-c-Stepper__step-description {
    display: block;
  }

  .sprk-c-Stepper__step-heading {
    font-weight: $sprk-stepper-step-heading-font-weight;
    color: $sprk-stepper-step-heading-color-selected;
  }

  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-icon-color-selected;
    border-color: $sprk-stepper-icon-border-color-selected;
    box-shadow: $sprk-stepper-icon-box-shadow-selected;
  }

  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-icon-color-selected;
  }

  &.sprk-c-Stepper__step--first::before,
  &.sprk-c-Stepper__step--has-slider.sprk-c-Stepper__step--first::before {
    height: 100%;
    top: ($sprk-stepper-step-padding + $sprk-stepper-icon-box-shadow-selected-spread) + ($sprk-stepper-icon-height / 2);
  }

  &.sprk-c-Stepper__step--last::before,
  &.sprk-c-Stepper__step--has-slider.sprk-c-Stepper__step--last::before {
    height: ($sprk-stepper-step-padding + $sprk-stepper-icon-box-shadow-selected-spread);
  }

  .sprk-c-Stepper__step-content {
    background-color: $sprk-stepper-step-content-bg-selected;
  }

  .sprk-c-Stepper__step-content--has-description {
    background-color: $sprk-stepper-step-description-bg-selected;
    box-shadow: $sprk-stepper-step-description-box-shadow;
  }
  /// Adds styles to hide the step content.
  .sprk-c-Stepper__step-content--hidden {
    background-color: transparent;
    box-shadow: none;
  }
}

.sprk-c-Stepper__step-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: static;
}

.sprk-c-Stepper__step-header:hover
.sprk-c-Stepper__step-icon {
  background-color: $sprk-stepper-icon-color-hover;
}

.sprk-c-Stepper__step-heading {
  color: $sprk-stepper-step-heading-color;
  font-size: $sprk-stepper-step-heading-size;
}

.sprk-c-Stepper__step-description {
  padding-top: $sprk-stepper-step-description-top-spacing;
}

/// Use this when the Stepper
/// is paired with a Carousel.
.sprk-c-Stepper--has-carousel {
  .sprk-c-Stepper__slider {
    position: static;

    @media (min-width: $sprk-stepper-breakpoint) {
      position: absolute;
    }
  }

  .sprk-c-Stepper__step {
    display: none;

    @media (min-width: $sprk-stepper-breakpoint) {
      display: flex;
    }
  }

  .sprk-c-Stepper__step-content {
    margin-left: 0;

    @media (min-width: $sprk-stepper-breakpoint) {
      margin-left: $sprk-stepper-step-content-margin-left;
    }
  }
}
