// ==================================================================
// Toggle
// ==================================================================

////
/// @group Toggle
////

// Future proofing classes that don't have styles right now but might later.
// .sprk-c-Toggle
.sprk-c-Toggle__trigger {
  border-bottom: $sprk-toggle-trigger-border-bottom;
  text-decoration: $sprk-toggle-trigger-text-decoration;
  transition: $sprk-toggle-trigger-transition;

  // Button User Agent Resets
  background-color: $sprk-toggle-trigger-background-color;
  border-top: $sprk-toggle-trigger-border-top;
  border-left: $sprk-toggle-trigger-border-left;
  border-right: $sprk-toggle-trigger-border-right;
  padding-top: $sprk-toggle-trigger-padding-top;
  padding-right: $sprk-toggle-trigger-padding-right;
  padding-bottom: $sprk-toggle-trigger-padding-bottom;
  padding-left: $sprk-toggle-trigger-padding-left;
  text-align: $sprk-toggle-trigger-text-align;

  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-toggle-trigger-hover-border-bottom;
    color: $sprk-toggle-trigger-hover-color;

    .sprk-c-Icon--toggle {
      fill: $sprk-toggle-icon-hover-fill;
    }
  }

  &:focus:not(.focus-visible) {
    outline: none;
  }
}

.sprk-c-Toggle__content {
  padding-top: $sprk-toggle-content-padding-top;
  padding-bottom: $sprk-toggle-content-padding-bottom;
}

.sprk-c-Toggle__trigger-icon {
  margin: $sprk-toggle-trigger-icon-margin;
}

/// A toggle with a smaller font.
/// @name .sprk-c-Toggle__trigger--small
.sprk-c-Toggle__trigger--small {
  font-size: $sprk-toggle-trigger-font-size-small;
  font-weight: $sprk-toggle-trigger-font-weight-small;
}
