<div class="sprk-u-mbm">
  <p>
    The Base Footer component in spark-core-angular
    consists of these Angular components and directives:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>
      <strong>sprk-stack</strong>
    </li>

    <li>
      <strong>sprkStackItem</strong>
    </li>

    <li>
      <strong>sprk-secondary-navigation</strong>
    </li>

    <li>
      <strong>sprk-secondary-navigation-item</strong>
    </li>
  </ul>

  <p>
    The component expects you to
    put content inside it that you want to show up in the main paragraph.
  </p>

  <p>
    The component also expects two arrays as inputs. The first array should be
    a list of navigation links and the second array should be a list of
    badges to display.
  </p>
</div>
