<p class="sprk-u-mbm">
  The Base Footer with Awards component is achieved by placing the sprk-award component inside of the sprk-footer
  component. The sprk-award component needs the additional data attribute of 'optional-slot'. This
  indicates to the footer component that we would like the Award component to be rendered inside
  the footer. For information regarding configuration of the sprk-award component, please see the
  <a href="/components/awards">Awards documentation.</a>
  This component also has the option to include a disclaimer for the Awards.
</p>
