<div class="sprk-u-mbm">
  <p>
    The Footer with Optional elements component in spark-core-angular
    consists of these Angular components and directives:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>
      <strong>sprk-stack</strong>
    </li>

    <li>
      <strong>sprkStackItem</strong>
    </li>

    <li>
      <strong>sprk-icon</strong>
    </li>

    <li>
      <strong>sprk-toggle</strong>
    </li>

    <li>
      <strong>sprk-secondary-navigation</strong>
    </li>

    <li>
      <strong>sprk-secondary-navigation-item</strong>
    </li>
  </ul>

  <p>
    The component also expects two additional arrays as inputs. The first array should be
    a list of feedback links and the second array should be a list of
    columns and site links to display.
  </p>
</div>
