// font urls
$sprk-using-webfonts: true;
$sprk-webfonts: (
  (
    url('https://spark-assets.netlify.com/RocketSans-Regular.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Regular.woff')
    format('woff')
  ),
  RocketSans,
  400
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Bold.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Bold.woff')
    format('woff')
  ),
  RocketSans,
  700
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Medium.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Medium.woff')
    format('woff')
  ),
  RocketSans,
  500
),
  (
  (
    url('https://spark-assets.netlify.com/RocketSans-Light.woff2')
    format('woff2'),
    url('https://spark-assets.netlify.com/RocketSans-Light.woff')
    format('woff')
  ),
  RocketSans,
  300
);

@import 'node_modules/@sparkdesignsystem/spark-core/spark-core.scss';
@import 'node_modules/@sparkdesignsystem/spark-card/card';
@import 'node_modules/@sparkdesignsystem/spark-dictionary/dictionary.scss';
@import 'node_modules/@sparkdesignsystem/spark-highlight-board/highlight-board.scss';

//
// Bring in doc site styles
//

@import '../assets/drizzle/styles/main.scss';

//
// React site specific styling
//
.#{$app-namespace}-c-ReactHeader {
  position: static;
}

.#{$app-namespace}-c-ReactNav {
  background-color: $sprk-black;
  color: $sprk-white;
  width: 100%;
  padding: 0;
}

.#{$app-namespace}-c-ReactNav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $drizzle-highlight;
  }
}

$override-namespace: 'react-docs';

// angular doc specific overrides
.#{$override-namespace}-u-Masthead-docs
.sprk-c-Masthead__narrow-navigation-container {
  position: static;
  margin-top: -2px;
}
