---
doclayout: true
order: 1
name: Icon Sizing
description: There are four sizes available for all icons. The default for all icons is 16px by 16px,
  you can use the three additional size modifiers listed in the above table.
gridItemFullWidth: true
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@s drizzle-c-Icon-Sizing">
  <div class="sprk-o-Stack__item">
    <svg class="sprk-c-Icon">
      <use xlink:href="#settings" />
    </svg>
  </div>
  <div class="sprk-o-Stack__item">
    <svg class="sprk-c-Icon sprk-c-Icon--l">
      <use xlink:href="#settings" />
    </svg>
  </div>
  <div class="sprk-o-Stack__item">
    <svg class="sprk-c-Icon sprk-c-Icon--xl">
      <use xlink:href="#settings" />
    </svg>
  </div>
  <div class="sprk-o-Stack__item">
    <svg class="sprk-c-Icon sprk-c-Icon--xxl">
      <use xlink:href="#settings" />
    </svg>
  </div>
</div>
