<p class="sprk-u-mbm">
  See below for available customization options:
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems</td>
      <td>Object</td>
      <td>
        This will be used to construct the global items section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns</td>
      <td>Object[]</td>
      <td>
        This will be used to construct the columns of links.
        The maxmum number of objects allowed in this array is three.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons</td>
      <td>Object</td>
      <td>
        This will be used to construct the connect icon section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards</td>
      <td>Object</td>
      <td>
        This will be used to construct the connect awards section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons</td>
      <td>Object[]</td>
      <td>
        This will be used to construct the additional icons section
        at the bottom of the footer. Each object inside this array will be used to render
        an icon.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">paragraphs</td>
      <td>Object[]</td>
      <td>
        Each object inside this array will be used to render
        a paragraph.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>String</td>
      <td>
        The value supplied to this will used to add classes to the SprkFooter.
        The string should have space-delimited values.
        For example, you could override the
        background color of the footer by supplying a background color utility CSS class.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>String</td>
      <td>
        The value supplied to this will be used for the data-id
        attribute for the SprkFooter.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">globalItems</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">heading</td>
      <td>String</td>
      <td>
        The heading for the global items section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">items</td>
      <td>Object[]</td>
      <td>
        This array should contain objects with keys of
        mediaType, src, mediaHref, altText,
        mediaAddClasses, and description, analyticsString,
        and element.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].mediaType</td>
      <td>String</td>
      <td>
        This value will be used to determine the element to render for the item's media.
        This can one of 'image', 'svg', or use the SprkIcon component.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].src</td>
      <td>String</td>
      <td>
        This value will be used as the image source if the mediaType is 'image'.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].mediaHref</td>
      <td>String</td>
      <td>
        This string value will be used for href of the tag that wraps the media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].altText</td>
      <td>String</td>
      <td>
        This value will be used for the alt text of the tag that wraps the media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].mediaAddClasses</td>
      <td>String</td>
      <td>
        This should be a space-delimited string that is used for additional classes on the media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].description</td>
      <td>String</td>
      <td>
        This string value will be rendered as the description under the global item media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].analyticsString</td>
      <td>String</td>
      <td>
        This string value will be used for the data-analytics attribute on the link element
        wrapping the media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">globalItems.items[i].element</td>
      <td>String or React Router Link</td>
      <td>
        The type of link that should be rendered. Can be an 'a'
        or a React Router Link.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">linkColumns</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns[i].heading</td>
      <td>String</td>
      <td>
        The heading for the global items section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns[i].links</td>
      <td>Object[]</td>
      <td>
        An array of link objects to render.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns[i].links[i].href</td>
      <td>String</td>
      <td>
        This will be used for the href value for the link.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns[i].links[i].text</td>
      <td>String</td>
      <td>
        This value will be used as the text of the link.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns[i].links[i].element</td>
      <td>String or React Router Link</td>
      <td>
        The type of link that should be rendered. Can be an 'a'
        or a React Router Link.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">linkColumns.links[i].analyticsString</td>
      <td>String</td>
      <td>
        This string value will be used for the
        data-analytics attribute on the link element.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">connectIcons</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">heading</td>
      <td>String</td>
      <td>
        The heading for the connect icons section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">icons</td>
      <td>Object[]</td>
      <td>
        This array should contain objects with keys of
        href, name, screenReaderText, analyticsString,
        and element.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons.icons[i].href</td>
      <td>String</td>
      <td>
        This value will be used as the href for the link element
        that wraps the icon.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons.icons[i].name</td>
      <td>String</td>
      <td>
        This value will be used to determine with SprkIcon to display.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons.icons[i].screenReaderText</td>
      <td>String</td>
      <td>
        This string value will be used for screen reader text for the icon.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons.icons[i].analyticsString</td>
      <td>String</td>
      <td>
        This value will be used for the data-analytics attribute on the link element
        wrapping the media.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">connectIcons.icons[i].element</td>
      <td>String or React Router Link</td>
      <td>
        The type of link that should be rendered. Can be an 'a'
        or a React Router Link.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">awards</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">heading</td>
      <td>String</td>
      <td>
        The heading for the awards section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">images</td>
      <td>Object[]</td>
      <td>
        This array should contain objects with keys of
        href, element, src, altText, addClasses,
        and analyticsString.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].href</td>
      <td>String</td>
      <td>
        This string value will be used as the href for the link element
        that wraps the image.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].element</td>
      <td>String</td>
      <td>
        The type of link that should be rendered. Can be an 'a'
        or a React Router Link.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].src</td>
      <td>String</td>
      <td>
        This value will be used for the src attribute on the image.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].altText</td>
      <td>String</td>
      <td>
        This value will be used for the alt text attribute on the image.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].addClasses</td>
      <td>String</td>
      <td>
        This should be a space-delimited string that is used for additional classes on the image.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">awards.images[i].analyticsString</td>
      <td>String</td>
      <td>
        This value will be used for the data-analytics attribute on the link element
        wrapping the image.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerText</td>
      <td>String</td>
      <td>
        This value will be used for the text content of the disclaimer.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerAnalytics</td>
      <td>String</td>
      <td>
        This value will be used for the data-analytics attribute on the link element
        used for the disclaimer.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerTitle</td>
      <td>String</td>
      <td>
        This value will be used for the link text of the disclaimer.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">additionalIcons</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].name</td>
      <td>String</td>
      <td>
        This value will be used to determine which icon
        to display.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].href</td>
      <td>String</td>
      <td>
        This value will be used as the href for the link element
        that wraps the icon.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].addClasses</td>
      <td>String</td>
      <td>
        This space-delimited string value will be used as
        additional classes on the icon.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].screenReaderText</td>
      <td>String</td>
      <td>
        This value will be used for screen reader text.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].element</td>
      <td>String</td>
      <td>
        The type of link that should be rendered. Can be an 'a'
        or a React Router Link.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].analyticsString</td>
      <td>String</td>
      <td>
        This value will be used for the data-analytics attribute on the link element
        wrapping the icon.
      </td>
    </tr>
  </tbody>
</table>

<h3 class="drizzle-b-h3">
  Prop Information: <span class="sprk-u-TextTransform--none">paragraphs</span>
</h3>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbl">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalIcons[i].text</td>
      <td>String</td>
      <td>
        This value will be rendered as
        text inside a paragraph element.
      </td>
    </tr>
  </tbody>
</table>