---
title: Getting Started
order: 1
---

<h1>Welcome to the Spark Design System</h1>

<p>Spark is used to build the user interfaces for Quicken Loans Fintech products.</p>

<h2>Want to use Spark?</h2>

<p>Spark is currently in <code class="drizzle-CodeHighlight">alpha</code>. It is subject to changes of all sizes at any time and may not be suitable for production use. Please reach out to the <a href="mailto:sparkdesignsystem@quickenloans.com">Spark Team</a> for guidance.</p>

<h3>Feeling adventurous?</h3>
<p>Spark consists of 2 main packages which can be installed like so:</p>

<ul class="sprk-b-List--indented">
  <li><code class="drizzle-CodeHighlight">npm install --save-dev @sparkdesignsystem/spark-core</code>
    <ul class="sprk-b-List--indented sprk-u-mbm">
      <li><strong>Spark Core</strong> is the main package for the Spark Design System. This package contains the style and components that make up the basic interfaces for Quicken Loans Fintech products.</li>
    </ul>
  </li>
  <li><code class="drizzle-CodeHighlight">npm install --save-dev @sparkdesignsystem/spark-extras</code>
    <ul class="sprk-b-List--indented">
      <li><strong>Spark Extras</strong> is a supplementary package that adds additional components that are not part of Spark Core. Many sites will use these components, but they aren't necessary for every Quicken Loans Fintech product.</li>
    </ul>
  </li>
</ul>
