<div class="  drizzle-c-SiteHeader">
  <a href="{{@root.baseurl}}/">
    {{> drizzle.logo}}
  </a>
</div>

<div class=" drizzle-o-Layout-content  drizzle-o-Layout-content--centered">

  <p>
    <strong>Welcome to the Spark Design System</strong>, a product
    of <a class="drizzle-b-Link" href="https://github.com/quickenloans">Quicken Loans</a>.
  </p>

  <p>
    Spark Design System is a system of patterns and components
    used to create the user interface for the Quicken Loans
    family of Fintech products.
  </p>

  <p>
    Spark's patterns are separated into two groups:
  </p>

  <ul class="drizzle-b-List sprk-u-mtl">
    <li>
      <h3 class="drizzle-b-h3">
        <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-core">Spark-Core</a>
      </h3>
      <p class="sprk-u-mlm">
        Spark-Core contains the basic patterns and components that make up the visual and interaction
        design of the Quicken Loans family of Fintech products. If your application is expected
        to look and behave like a Quicken Loans application, this package is the starting point.
        When the Spark-Core Sass and JS setup files are imported into an application you will receive
        code for all of Spark-Core.
      </p>
    </li>
    <li>
      <h3 class="drizzle-b-h3">
        <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-extras">Spark-Extras</a>
      </h3>
      <p class="sprk-u-mlm">
        Spark-Extras are components that may not be needed by all applications,
        but are consistent with the style of Spark Core.
        Spark-Extras Sass and JS are imported into an application on an individual basis.
        You import the components that you need.
      </p>
    </li>
  </ul>


  <ul class="drizzle-b-List">
    <li class="sprk-u-mbm">
      <a class="drizzle-b-Button" href="">Getting Started for Developers</a>
    </li>
    <li>
      <a class="drizzle-b-Button" href="">Getting Started for Designers</a>
    </li>
  </ul>

</div>
