<div class="  drizzle-c-SiteHeader">
  <a href="{{@root.baseurl}}/">
    {{> drizzle.logo}}
  </a>
</div>

<div class="drizzle-o-Layout-content  drizzle-o-Layout-content--centered drizzle-b-LongFormText">

  <div class="drizzle-o-ContentGrouping">
    <p>
      <strong>Welcome to the Spark Design System</strong>, a product
      of <a class="drizzle-b-Link" href="https://github.com/quickenloans">Quicken Loans</a>.
      Spark Design System is a system of patterns and components
      used to create the user interface for the Quicken Loans
      family of Fintech products.
      Spark's patterns are separated into two groups:
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <ul class="drizzle-b-List drizzle-b-List--spacing-m">
      <li>
        <h3 class="drizzle-b-h3">
          <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-core">Spark-Core</a>
        </h3>
        <p class="sprk-u-mbm">
          Spark-Core contains the basic patterns and components that make up the visual and interaction
          design of the Quicken Loans family of Fintech products. If your application is expected
          to look and behave like a Quicken Loans application, this package is the starting point.
          When the Spark-Core Sass and JS setup files are imported into an application you will receive
          code for all of Spark-Core.
        </p>
        <p class="sprk-u-mbs">The following components are in Spark-Core:</p>
        <div class="drizzle-u-Columned">
          <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
            <li>Accordions</li>
            <li>Alerts</li>
            <li>Buttons</li>
            <li>Dividers</li>
            <li>Footer</li>
            <li>Icons</li>
            <li>Inputs</li>
            <li>Links</li>
            <li>Lists</li>
            <li>Masthead</li>
            <li>Modals</li>
            <li>Navigation</li>
            <li>Pagination</li>
            <li>Promo</li>
            <li>Tables</li>
            <li>Tabbed Navigation</li>
            <li>Toggle</li>
          </ul>
        </div>
      </li>
      <li>
        <h3 class="drizzle-b-h3">
          <a class="drizzle-b-Link drizzle-b-Label" href="https://www.npmjs.com/package/@sparkdesignsystem/spark-extras">Spark-Extras</a>
        </h3>
        <p class="sprk-u-mbm">
          Spark-Extras are components that may not be needed by all applications,
          but are consistent with the style of Spark Core.
          Spark-Extras Sass and JS are imported into an application on an individual basis.
          You import the components that you need.
        </p>
        <p class="sprk-u-mbs">The following components are available as Spark-Extras:</p>
        <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
          <li>Card</li>
          <li>Dictionary</li>
          <li>Highlight Board</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sprk-o-Stack sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/developers.html">Getting Started for Developers</a>
    </div>
    <div class="sprk-o-Stack__item">
      <a class="drizzle-b-Button" href="/gettingstarted/designers.html">Getting Started for Designers</a>
    </div>
  </div>
</div>
