<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Expects a space-separated string of class names that will be appended to the class attribute of sprk-button.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsString</td>
      <td>string</td>
      <td>The text that will be assigned to the data-analytics attribute of the sprk-button.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">buttonType</td>
      <td>string</td>
      <td>The value supplied indicates which variant to render. The values available are 'secondary', 'tertiary' and
        'removal'. Supplying no value will render the primary button variant.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">fireEvent</td>
      <td>string</td>
      <td>The value supplied will be emitted on click as a custom event name, via the customEvent Output.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">isDisabled</td>
      <td>string</td>
      <td>Will append the disabled attribute and apply a disabled style to the sprk-button.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">spinner</td>
      <td>boolean</td>
      <td>If true, will replace the text in the sprk-button with a spinner on click.</td>
    </tr>
  </tbody>
</table>
