<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Property</th>
    <th>Property Type</th>
    <th>Value Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">sprkTabbedNavigationTab</td>
      <td>Directive</td>
      <td>string</td>
      <td>Used by the component to attach tabs to panels.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">sprkTabbedNavigationPanel</td>
      <td>Directive</td>
      <td>string</td>
      <td>Used by the component to attach tabs to panels.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>Input</td>
      <td>string</td>
      <td>Expects a space-separated string of class names that will be appended to the class attribute.</td>
    </tr>
  </tbody>
</table>
