$green-light: rgb(211, 239, 141);
$green-medium: rgb(108, 159, 46);
$green-dark: rgb(60, 120, 20);

$blue-light: rgb(195, 211, 227);
$blue-medium: rgb(32, 129, 191);
$blue-dark: rgb(12, 69, 105);

$purple: rgb(85, 19, 135);

$red-light: rgb(250, 204, 196);
$red-medium: rgb(181, 18, 27);
$red-dark: rgb(140, 24, 29);

$orange-medium: rgb(255, 155, 0);
$orange-dark: rgb(230, 120, 0);

$gray-light: rgb(229, 229, 229);
$gray-medium: rgb(170, 170, 170);
$gray-dark: rgb(90, 90, 90);
$grey-light: $gray-light;
$grey-medium: $gray-medium;
$grey-dark: $gray-dark;
$black: rgb(34, 34, 34);
$white: rgb(255, 255, 255);
