// ==================================================================
// Settings
// ==================================================================

//
// Typography
///
$code-block-padding: 1rem 2rem;
$code-block-bg-color: $gray-light;
$code-block-text-color: $black;

