// ==================================================================
// Colors
// ==================================================================

// Primary
$sprk-red: rgb(200, 16, 46);
$sprk-black: rgb(51, 51, 51);
$sprk-white: rgb(255, 255, 255);
$sprk-gray: rgb(247, 247, 247);
$sprk-gray-dark: rgb(207, 207, 207);
$sprk-green: rgb(19, 164, 142);
$sprk-green-dark: rgb(1, 148, 126);
$sprk-yellow: rgb(245, 190, 64);
$sprk-blue: rgb(0, 125, 186);

// Black Tints
$sprk-black-tint-75: rgb(64, 64, 64);
$sprk-black-tint-50: rgb(128, 128, 128);
$sprk-black-tint-25: rgb(190, 190, 190);

// Blue Tints
$sprk-blue-tint-75: rgb(73, 144, 195);
$sprk-blue-tint-50: rgb(118, 172, 210);
$sprk-blue-tint-25: rgb(164, 199, 225);

// Green Tints
$sprk-green-tint-75: rgb(64, 198, 178);
$sprk-green-tint-50: rgb(128, 217, 203);
$sprk-green-tint-25: rgb(191, 236, 229);

// Red Tints
$sprk-red-tint-75: rgb(214, 76, 98);
$sprk-red-tint-50: rgb(227, 135, 150);
$sprk-red-tint-25: rgb(241, 195, 203);

// Yellow Tints
$sprk-yellow-tint-75: rgb(237, 163, 2);
$sprk-yellow-tint-50: rgb(244, 199, 102);
$sprk-yellow-tint-25: rgb(247, 218, 154);