// ==================================================================
// Colors
// ==================================================================

// Primary
/// Color value for red.
/// @group primary
/// @type #C8102E
$sprk-red: rgb(200, 16, 46);
/// Color value for deep red.
/// @group primary
/// @type #76232F
$sprk-deep-red: rgb(118, 35, 47);
/// Color value for mid red.
/// @group primary
/// @type #9D2235
$sprk-mid-red: rgb(157, 34, 53);

// Secondary
/// Color value for purple.
/// @group secondary
/// @type #603AA1
$sprk-purple: rgb(96, 58, 161);
/// Color value for dark purple.
/// @group secondary
/// @type #3C3174
$sprk-dark-purple: rgb(60, 49, 116);
/// Color value for deep purple.
/// @group secondary
/// @type #2E1166
$sprk-deep-purple: rgb(46, 17, 102);
/// Color value for light purple.
/// @group secondary
/// @type #9265D3
$sprk-light-purple: rgb(146, 101, 211);
/// Color value for lightest purple.
/// @group secondary
/// @type #E7E2F2
$sprk-lightest-purple: rgb(231, 226, 242);

// Semantic
/// Color value for green. Intended to indicate a success.
/// @group semantic
/// @type #298540
$sprk-green: rgb(41, 133, 64);
/// Color value for blue. Intended to indicate information.
/// @group semantic
/// @type #1C6EF2
$sprk-blue: rgb(28, 110, 242);
/// Color value for pink. Intended to indicate an error.
/// @group semantic
/// @type #E50158
$sprk-pink: rgb(229, 1, 88);
/// Color value for yellow. Intended to indicate a warning.
/// @group semantic
/// @type #EDA302
$sprk-yellow: rgb(237, 163, 2);

// Neutrals
/// Color value for white.
/// @group neutral
/// @type #FFFFFF
$sprk-white: rgb(255, 255, 255);
/// Color value for black.
/// @group neutral
/// @type #1C1B1A
$sprk-black: rgb(28, 27, 26);
/// Color value for black at 90%.
/// @group neutral
/// @type #323130
$sprk-black-tint-90: rgb(50, 49, 48);
/// Color value for black at 80%.
/// @group neutral
/// @type #494948
$sprk-black-tint-80: rgb(73, 73, 72);
/// Color value for black at 70%.
/// @group neutral
/// @type #605F5E
$sprk-black-tint-70: rgb(96, 95, 94);
/// Color value for black at 60%.
/// @group neutral
/// @type #777676
$sprk-black-tint-60: rgb(119, 118, 118);
/// Color value for black at 50%.
/// @group neutral
/// @type #8D8D8C
$sprk-black-tint-50: rgb(141, 141, 140);
/// Color value for black at 40%.
/// @group neutral
/// @type #A4A4A3
$sprk-black-tint-40: rgb(164, 164, 163);
/// Color value for black at 30%.
/// @group neutral
/// @type #BABABA
$sprk-black-tint-30: rgb(186, 186, 186);
/// Color value for black at 20%.
/// @group neutral
/// @type #D2D1D1
$sprk-black-tint-20: rgb(210, 209, 209);
/// Color value for black at 10%.
/// @group neutral
/// @type #E8E8E8
$sprk-black-tint-10: rgb(232, 232, 232);
/// Color value for gray.
/// @group neutral
/// @type #F7F7F7
$sprk-gray: rgb(247, 247, 247);

/// Color value for dark gray.
/// @group gray
/// @type #CFCFCF
$sprk-gray-dark: rgb(207, 207, 207);

/// Color value for dark green.
/// @group green
/// @type #007667
$sprk-green-dark: rgb(0, 118, 103);

// Black Tints
/// Color value for black at 75%.
/// @group black
/// @type #404040
$sprk-black-tint-75: rgb(64, 64, 64);

/// Color value for black at 25%.
/// @group black
/// @type #BEBEBE
$sprk-black-tint-25: rgb(190, 190, 190);

// Blue Tints
/// Color value for blue at 75%.
/// @group blue
/// @type #4990C3
$sprk-blue-tint-75: rgb(73, 144, 195);
/// Color value for blue at 50%.
/// @group blue
/// @type #76ACD2
$sprk-blue-tint-50: rgb(118, 172, 210);
/// Color value for blue at 25%.
/// @group blue
/// @type #A7C7E1
$sprk-blue-tint-25: rgb(164, 199, 225);

// Green Tints
/// Color value for green at 75%.
/// @group green
/// @type #40C6B2
$sprk-green-tint-75: rgb(64, 198, 178);
/// Color value for green at 50%.
/// @group green
/// @type #80D9CB
$sprk-green-tint-50: rgb(128, 217, 203);
/// Color value for green at 25%.
/// @group green
/// @type #BFECE5
$sprk-green-tint-25: rgb(191, 236, 229);

// Red Tints
/// Color value for red 75%.
/// @group red
/// @type #D64C62
$sprk-red-tint-75: rgb(214, 76, 98);
/// Color value for red at 50%.
/// @group red
/// @type #E38796
$sprk-red-tint-50: rgb(227, 135, 150);
/// Color value for red at 25%.
/// @group red
/// @type #F1C3CB
$sprk-red-tint-25: rgb(241, 195, 203);

// Yellow Tints
/// Color value for yellow at 75%.
/// @group yellow
/// @type #EDA302
$sprk-yellow-tint-75: rgb(237, 163, 2);
/// Color value for yellow at 50%.
/// @group yellow
/// @type #F4C766
$sprk-yellow-tint-50: rgb(244, 199, 102);
/// Color value for yellow at 25%.
/// @group yellow
/// @type #F7DA9A
$sprk-yellow-tint-25: rgb(247, 218, 154);
