// ==================================================================
// Colors
// ==================================================================

// Primary
/// Color value for red.
/// @group red
/// @type #C8102E
$sprk-red: rgb(200, 16, 46);
/// Color value for mid red.
/// @group red
/// @type #9D2235
$sprk-mid-red: rgb(157,34,53);
/// Color value for deep red.
/// @group red
/// @type #76232F
$sprk-deep-red: rgb(118,35,47);
/// Color value for black.
/// @group black
/// @type #333333
$sprk-black: rgb(51, 51, 51);
/// Color value for white.
/// @group white
/// @type #FFFFFF
$sprk-white: rgb(255, 255, 255);
/// Color value for gray.
/// @group gray
/// @type #F7F7F7
$sprk-gray: rgb(247, 247, 247);
/// Color value for dark gray.
/// @group gray
/// @type #CFCFCF
$sprk-gray-dark: rgb(207, 207, 207);
/// Color value for green.
/// @group green
/// @type #008473
$sprk-green: rgb(0, 132, 115);
/// Color value for dark green.
/// @group green
/// @type #007667
$sprk-green-dark: rgb(0, 118, 103);
/// Color value for yellow.
/// @group yellow
/// @type #F5BE40
$sprk-yellow: rgb(245, 190, 64);
/// Color value for blue.
/// @group blue
/// @type #007DBA
$sprk-blue: rgb(0, 125, 186);

// Black Tints
/// Color value for black at 75%.
/// @group black
/// @type #404040
$sprk-black-tint-75: rgb(64, 64, 64);
/// Color value for black at 50%.
/// @group black
/// @type #808080
$sprk-black-tint-50: rgb(128, 128, 128);
/// Color value for black at 25%.
/// @group black
/// @type #BEBEBE
$sprk-black-tint-25: rgb(190, 190, 190);

// Blue Tints
/// Color value for blue at 75%.
/// @group blue
/// @type #4990C3
$sprk-blue-tint-75: rgb(73, 144, 195);
/// Color value for blue at 50%.
/// @group blue
/// @type #76ACD2
$sprk-blue-tint-50: rgb(118, 172, 210);
/// Color value for blue at 25%.
/// @group blue
/// @type #A7C7E1
$sprk-blue-tint-25: rgb(164, 199, 225);

// Green Tints
/// Color value for green at 75%.
/// @group green
/// @type #40C6B2
$sprk-green-tint-75: rgb(64, 198, 178);
/// Color value for green at 50%.
/// @group green
/// @type #80D9CB
$sprk-green-tint-50: rgb(128, 217, 203);
/// Color value for green at 25%.
/// @group green
/// @type #BFECE5
$sprk-green-tint-25: rgb(191, 236, 229);

// Red Tints
/// Color value for red 75%.
/// @group red
/// @type #D64C62
$sprk-red-tint-75: rgb(214, 76, 98);
/// Color value for red at 50%.
/// @group red
/// @type #E38796
$sprk-red-tint-50: rgb(227, 135, 150);
/// Color value for red at 25%.
/// @group red
/// @type #F1C3CB
$sprk-red-tint-25: rgb(241, 195, 203);

// Yellow Tints
/// Color value for yellow at 75%.
/// @group yellow
/// @type #EDA302
$sprk-yellow-tint-75: rgb(237, 163, 2);
/// Color value for yellow at 50%.
/// @group yellow
/// @type #F4C766
$sprk-yellow-tint-50: rgb(244, 199, 102);
/// Color value for yellow at 25%.
/// @group yellow
/// @type #F7DA9A
$sprk-yellow-tint-25: rgb(247, 218, 154);
