---
title: Accordion Tests
layout: blank
---
<h1 class="drizzle-h1">
  Accordions
</h1>

<div class="sprk-u-mbl">
  {{#embed "patterns.components.accordions.base"}}{{/embed}}
</div>

<div class="sprk-u-pal">
  {{#embed
    "patterns.components.accordions.base"
    itemClass="sprk-c-Accordion__item--secondary"
    iconClass="sprk-c-Accordion__icon--secondary"
    headingClass="sprk-c-Accordion__heading--secondary"
    detailsClass="sprk-c-Accordion__details--secondary"}}
  {{/embed}}
</div>
