---
title: Accordion Tests
layout: blank
---
<h1 class="drizzle-h1">
  Accordions
</h1>

<div class="sprk-u-mbl">
  {{#embed "patterns.components.accordions.base"}}{{/embed}}
</div>

<div class="sprk-u-pal">
  {{#embed "patterns.components.accordions.base"
    item="sprk-c-Accordion__item--secondary"
    heading="sprk-c-Accordion__heading--secondary"
    details="sprk-c-Accordion__details--secondary"
    summary="sprk-c-Accordion__summary--secondary"}}
  {{/embed}}
</div>
