---
title: Alert Tests
layout: blank
---
<h1 class="drizzle-h1">
  Alerts
</h1>

<div class="drizzle-Space-inset-m drizzle-Space-stack-m">
  {{#embed "patterns.components.alerts.base" type="fail" icon="exclamation" viewBox="0 0 576 512"}}
    {{#content "content"}}
      This is some text that a client needs to read because something failed or went wrong.
      There is extra text in here to demonstrate the icon placement when the message goes
      longer than one line. You will notice that the icon to the left stays vertically
      centered, but the dismiss icon remains in the top right corner. Alerts
      should never have this much text, though!
    {{/content}}
  {{/embed}}
</div>

<div class="drizzle-Space-stack-m">
  {{#embed "patterns.components.alerts.base" type="success" icon="check" viewBox="0 0 512 512"}}
    {{#content "content"}}
      This is a success message.
    {{/content}}
  {{/embed}}
</div>

<div class="drizzle-Space-stack-m">
  {{#embed "patterns.components.alerts.base" type="success" icon="check" viewBox="0 0 512 512"}}
    {{#content "content"}}
      Word.
    {{/content}}
  {{/embed}}
</div>

<div class="drizzle-Space-stack-m">
  {{#embed "patterns.components.alerts.base" type="info" icon="bell" viewBox="0 0 448 512"}}
    {{#content "content"}}
      This is important information.
    {{/content}}
  {{/embed}}
</div>
<h2>
  This Is An Example Heading
</h2>
<p>
  This is some example page body copy that could be underneath an alert.
</p>

<div class="drizzle-Space-inset-m drizzle-Space-stack-m">
  {{#embed "patterns.components.alerts.base" type="fail" icon="exclamation" viewBox="0 0 576 512"}}
    {{#content "content"}}
    FAIL 12323454 56745 6723452345
    {{/content}}
  {{/embed}}
</div>
