---
title: Button Tests
layout: blank
---
<h1 class="drizzle-h1">
  Buttons
</h1>
<ul class="sprk-b-List--bare">
  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Primary Button
    </h2>
    {{#embed "patterns.components.buttons.base"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button">Link Button</a>
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Full Width Button At Small Screens
    </h2>
    {{#embed "patterns.components.buttons.at-small"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button sprk-c-Button--full@sm">Link Button</a>
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Disabled Button
    </h2>
    {{#embed "patterns.components.buttons.disabled"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button is-Disabled">Link Button</a>
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Removal Button
    </h2>
    {{#embed "patterns.components.buttons.removal"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button sprk-c-Button--removal">Link Button</a>
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Secondary Button
    </h2>
    {{#embed "patterns.components.buttons.secondary"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button sprk-c-Button--secondary">Link Button</a>
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Submission Spinner
    </h2>
    {{#embed "patterns.components.buttons.submission"}}{{/embed}}
  </li>

  <li class="sprk-u-mbm">
    <h2 class="drizzle-h2">
      Tertiary Button
    </h2>
    {{#embed "patterns.components.buttons.tertiary"}}{{/embed}}
    <a href="#nogo" class="sprk-c-Button sprk-c-Button--tertiary">Link Button</a>
  </li>
</ul>
