---
title: Card Tests
layout: blank
---
<div class="drizzle-o-Layout-content sprk-u-mal">
  <h1 class="drizzle-b-h1 sprk-u-mbl">
    Cards
  </h1>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Base</h2>
    {{#embed "patterns.components.card.base"}}{{/embed}}
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Sample Card</h2>
    {{#embed "patterns.components.card.base"
             h3=true
             cardImg=true
             cardBtn="Learn More"
             cardTitle="Test"
             cardContent="This is an example of the Card component."
             cta=true
             img=true}}
     {{/embed}}
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Teaser Card</h2>
    {{#embed "patterns.components.card.teaser"}}{{/embed}}
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Two-up</h2>
    <div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l sprk-o-Stack--center-row">
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
    </div>
  </div>
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Three-up</h2>
    <div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l sprk-o-Stack--center-row">
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
    </div>
  </div>
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Four-up</h2>
    <div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l sprk-o-Stack--center-row">
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
      {{#embed "patterns.components.card.teaser" stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" }}{{/embed}}
    </div>
  </div>


</div>
