<h1 class="drizzle-h1">Dictionary Tests</h1>

<h2 class="drizzle-h2">Base</h2>
<div class="sprk-c-Dictionary">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Home Phone</dt>
      <dd class="sprk-c-Dictionary__value">(123) 456-7890</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Cell Phone</dt>
      <dd class="sprk-c-Dictionary__value">(098) 765-4321</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Phone</dt>
      <dd class="sprk-c-Dictionary__value">(555) 555-5555</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Extension</dt>
      <dd class="sprk-c-Dictionary__value">55555</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Two Key-Value Pairs - Base</h2>
<div class="sprk-c-Dictionary">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Striped</h2>
<div class="sprk-c-Dictionary sprk-c-Dictionary--striped">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Home Phone</dt>
      <dd class="sprk-c-Dictionary__value">(123) 456-7890</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Cell Phone</dt>
      <dd class="sprk-c-Dictionary__value">(098) 765-4321</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Phone</dt>
      <dd class="sprk-c-Dictionary__value">(555) 555-5555</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Extension</dt>
      <dd class="sprk-c-Dictionary__value">55555</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Two Key-Value Pairs - Striped</h2>
<div class="sprk-c-Dictionary sprk-c-Dictionary--striped">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Long Key / Short Value and Short Key / Long Value - Base</h2>
<div class="sprk-c-Dictionary">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Long Key / Short Value and Short Key / Long Value - Base</h2>
<div class="sprk-c-Dictionary sprk-c-Striped">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Consectetur distinctio esse, illo ipsa nisi placeat quo vero voluptatibus? Adipisci
        autem beatae distinctio iure nihil non officia recusandae soluta tempora temporibus!</dd>
    </div>
  </dl>
</div>


<h2 class="drizzle-h2">Long Key and Long Value - Base</h2>
<div class="sprk-c-Dictionary">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ab amet aut delectus deleniti, facilis harum laboriosam laborum
        nesciunt, officia provident quae qui reiciendis rem repellat rerum ullam, velit
        veritatis voluptates?</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Consectetur distinctio esse, illo ipsa nisi placeat quo vero voluptatibus? Adipisci
        autem beatae distinctio iure nihil non officia recusandae soluta tempora temporibus!</dd>
    </div>
  </dl>
</div>

<h2 class="drizzle-h2">Long Key and Long Value - Striped</h2>
<div class="sprk-c-Dictionary sprk-c-Dictionary--striped">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ab amet aut delectus deleniti, facilis harum laboriosam laborum
        nesciunt, officia provident quae qui reiciendis rem repellat rerum ullam, velit
        veritatis voluptates?</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.</dt>
      <dd class="sprk-c-Dictionary__value">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Consectetur distinctio esse, illo ipsa nisi placeat quo vero voluptatibus? Adipisci
        autem beatae distinctio iure nihil non officia recusandae soluta tempora temporibus!</dd>
    </div>
  </dl>
</div>

