---
title: Divider Tests
layout: blank
---

<div class="drizzle-Space-inset-l">
    <h1 class="drizzle-h1">Divider Tests</h1>

    <h2 class="drizzle-h2">Basic Divider</h2>
    <span class="sprk-c-Divider"></span>

    <h2 class="drizzle-h2">Content Above and Below No Margin on Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nostrum quaerat sed sint?
      Consequuntur, doloremque dolorum eos facere facilis minus vero. Blanditiis cupiditate distinctio
      nostrum, pariatur quae quia veniam vitae?</p>
    <span class="sprk-c-Divider"></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet dolor fugit, ipsum
      libero nisi! Aliquam consequatur corporis dolor harum id laborum, maxime neque non quam quidem
      reiciendis similique temporibus.</p>

    <h2 class="drizzle-h2">Content Above and Below Margin on Content</h2>
    <p class="sprk-u-mbm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nostrum quaerat sed sint?
      Consequuntur, doloremque dolorum eos facere facilis minus vero. Blanditiis cupiditate distinctio
      nostrum, pariatur quae quia veniam vitae?</p>
    <span class="sprk-c-Divider"></span>
    <p class="sprk-u-mtm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet dolor fugit, ipsum
      libero nisi! Aliquam consequatur corporis dolor harum id laborum, maxime neque non quam quidem
      reiciendis similique temporibus.</p>

    <h2 class="drizzle-h2">Basic Divider - hr</h2>
    <hr>

    <h2 class="drizzle-h2">Content Above and Below No Margin on Content - hr</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nostrum quaerat sed sint?
      Consequuntur, doloremque dolorum eos facere facilis minus vero. Blanditiis cupiditate distinctio
      nostrum, pariatur quae quia veniam vitae?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet dolor fugit, ipsum
      libero nisi! Aliquam consequatur corporis dolor harum id laborum, maxime neque non quam quidem
      reiciendis similique temporibus.</p>

    <h2 class="drizzle-h2">Content Above and Below Margin on Content - hr</h2>
    <p class="sprk-u-mbm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nostrum quaerat sed sint?
      Consequuntur, doloremque dolorum eos facere facilis minus vero. Blanditiis cupiditate distinctio
      nostrum, pariatur quae quia veniam vitae?</p>
    <hr>
    <p class="sprk-u-mtm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet dolor fugit, ipsum
      libero nisi! Aliquam consequatur corporis dolor harum id laborum, maxime neque non quam quidem
      reiciendis similique temporibus.</p>
</div>
