---
title: Dropdown Tests
layout: blank
---

<div class="drizzle-o-Layout-content sprk-u-mal">
  <h1 class="drizzle-b-h1 sprk-u-mbl">
    Dropdowns
  </h1>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Base</h2>
    {{#embed "patterns.components.dropdown.base"}}{{/embed}}
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Simple</h2>
    {{#embed "patterns.components.dropdown.simple"}}{{/embed}}
  </div>
</div>
