---
title: Page Example One
layout: blank
---
<header class="sprk-c-Masthead" role="banner">
  <div class="sprk-c-Masthead__content">
    <div class="sprk-c-Masthead__top-row">
      <div class="sprk-c-Masthead__hamburger">
        <button class="sprk-c-Hamburger" type="button" aria-expanded="false" data-sprk-mobile-nav-trigger="mobileNav">
          <span class="sprk-u-ScreenReaderText">Toggle Navigation</span>

          <svg
            class="sprk-c-Icon sprk-c-Icon--l sprk-c-Hamburger__icon"
            aria-hidden="true"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0"
            y="0"
            viewBox="0 0 100 100">
            <g>
              <path class="sprk-c-Hamburger__line sprk-c-Hamburger__line--one" d="M5 13h90v14H5z" />
              <path class="sprk-c-Hamburger__line sprk-c-Hamburger__line--two" d="M5 43h90v14H5z" />
              <path class="sprk-c-Hamburger__line sprk-c-Hamburger__line--three" d="M5 73h90v14H5z" />
            </g>
          </svg>
        </button>
      </div>

      <div class="sprk-c-Masthead__logo">
        <a href="#nogo">
          <div class="drizzle-c-Logo-placeholder"></div>
          <span class="sprk-u-ScreenReaderText">Go to the home page</span>
        </a>
      </div>

      <div class="sprk-c-Masthead__secondary-nav">
        <nav role="navigation">
          <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
            <li>
              <a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">
                (800) 251-9080
              </a>
            </li>

            <li>
              <a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">
                Chat
              </a>
            </li>

            <li>
              <a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">
                Appy Now
              </a>
            </li>

            <li>
              <a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">
                Sign In
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="sprk-c-Masthead__navigation">
    <div class="sprk-c-Masthead__wide-navigation-container">
      <nav role="navigation">
        <ul class="sprk-c-WideNavigation" data-sprk-navigation="wide">
          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Refinance
                <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                  <use xlink:href="#chevron-down" />
                </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Refinance Guide
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Get Cash From Your Home
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Lower Your Payment
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Pay Off Your Mortgage Faster
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Refinance With HARP
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Consolidate Your Debt
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Refinance Investment Property
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Contact A Refinance Expert
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Buy A House
                <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                  <use xlink:href="#chevron-down" />
                </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Home Buyer's Guide
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  First-time Home Buyer
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Buying A Vacation Home
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Real Estate Investors
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Corporate Relocation
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Contact a Home Buying Expert
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Loan Options
              <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Compare All Loan Options
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Adjustable Rate Mortgage
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  30-Year Fixed
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  15-Year Fixed
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  FHA Loan
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  VA Loan
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  USDA Loan
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Jumbo Loan
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  YOURgage
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  HARP Refinance
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Reverse Mortgage
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Mortage Rates
              <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Mortage Rates Today
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Email And Text Updates
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Calculators
              <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  See All Calculators
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Refinance Mortage Calculator
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Purchase Mortage Calculator
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Home Affordability Calculator
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Amortization Calculator
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              About Us
              <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Who We Are
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Our Mortgage Process
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Quicken Loans Deposit
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  About Appraisals
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Community Involvement
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Careers
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Press Room
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Affliate Program
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Contact Us
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
            <a class="sprk-c-WideNavigation__link" href="#nogo">
              Zing! Blog
              <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
            </a>

            <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Read All Blog Posts
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Mortgage Basics
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Saving Money
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Home Improvement
                </a>
              </li>

              <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub">
                <a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">
                  Serving
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <span class="sprk-c-Divider sprk-u-man"></span>
      </nav>
    </div>

    <div class="sprk-c-Masthead__narrow-navigation-container sprk-u-Display--none" data-sprk-mobile-nav="mobileNav">
      <nav role="navigation">
        <ul class="sprk-c-Accordion sprk-c-Accordion--navigation sprk-b-List sprk-b-List--bare">
          <li class="sprk-c-Accordion__item " data-sprk-toggle="container">
            <a aria-controls="details1"
               class="sprk-c-Accordion__summary"
               data-sprk-toggle="trigger"
               data-sprk-toggle-type="accordion" href="#">

              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                Refinance
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">
                  Refinance Guide
                </a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">
                  Get Cash From Your Home
                </a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">
                  Lower Your Payment
                </a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">
                  Pay Off Your Mortgage Faster
                </a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
            <a aria-controls="details1" class="sprk-c-Accordion__summary " data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                Buy A House
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
            <a aria-controls="details1" class="sprk-c-Accordion__summary " data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                Loan Options
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
            <a aria-controls="details1" class="sprk-c-Accordion__summary " data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                Mortgage Rates
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
            <a aria-controls="details1" class="sprk-c-Accordion__summary " data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                Calculators
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
              </li>
            </ul>
          </li>

          <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
            <a aria-controls="details1" class="sprk-c-Accordion__summary " data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
              <span class="sprk-b-TypeBodyTwo sprk-c-Accordion__heading ">
                About Us
              </span>

              <svg class="sprk-c-Icon sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
            </a>

            <ul class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details sprk-u-HideWhenJs" data-sprk-toggle="content">
              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 1</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 2</a>
              </li>

              <li>
                <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="">Item 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="sprk-o-CenteredColumn" data-sprk-main>
  <div class="sprk-c-HighlightBoard sprk-c-HighlightBoard--has-image sprk-u-mbm">
    <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop.jpg" />

    <div class="sprk-c-HighlightBoard__content  sprk-c-HighlightBoard__content--light">
      <div class="sprk-u-mbl">
        <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__primary-heading sprk-u-mbs">
          Mortgages Made Simple
        </h1>
      </div>
    </div>
  </div>

  <div class="sprk-o-Box sprk-u-TextAlign--center">
    <h2 class="sprk-b-TypeDisplaySix sprk-u-mbl">
      Buy a home or Refinance your mortgage
      the simple way with Rocket Mortage.
    </h2>

    <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s sprk-u-AbsoluteCenter">
      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button">
          Apply to Buy A Home
        </button>
      </div>

      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button">
          Apply to Refinance
        </button>
      </div>
    </div>
  </div>

  <div class="sprk-o-Box sprk-o-Stack sprk-o-Stack--large sprk-u-mbl">
    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@m sprk-o-Stack--center-row">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m sprk-c-Card sprk-o-Stack">
        <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium sprk-u-TextAlign--center">
          <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
            <svg height="75" viewBox="0 0 220.63 197.62">
              <use xlink:href="#bell" />
            </svg>
          </a>

          <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
            Home Buyer's Guide
          </h3>

          <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
            A useful piece of a Design System.
          </p>

          <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--standalone">
            Learn More
          </a>
        </div>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m sprk-c-Card sprk-o-Stack">
        <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium sprk-u-TextAlign--center">
          <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
            <svg height="75" viewBox="0 0 220.63 197.62">
              <use xlink:href="#bell" />
            </svg>
          </a>

          <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
            Refinance Guide
          </h3>

          <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
            A useful piece of a Design System.
          </p>

          <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--standalone">
            Learn More
          </a>
        </div>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m sprk-c-Card sprk-o-Stack">
        <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium sprk-u-TextAlign--center">
          <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
            <svg height="75" viewBox="0 0 220.63 197.62">
              <use xlink:href="#bell" />
            </svg>
          </a>

          <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
            Home Buyer's Guide
          </h3>

          <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
            A useful piece of a Design System.
          </p>

          <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--standalone">
            Learn More
          </a>
        </div>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m sprk-c-Card sprk-o-Stack">
        <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium sprk-u-TextAlign--center">
          <a href="#" class="sprk-u-AbsoluteCenter sprk-o-Stack__item">
            <svg height="75" viewBox="0 0 220.63 197.62">
              <use xlink:href="#bell" />
            </svg>
          </a>

          <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item">
            Home Buyer's Guide
          </h3>

          <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
            A useful piece of a Design System.
          </p>

          <a href="#" class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--standalone">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="sprk-o-Box sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@m">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          Manage Your Mortgage
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Apply Online
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Talk to an Expert
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Chat with Us
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Call Us at (800) 251-9080
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Espanol
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Sign In to Your Account
            </a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          Research Your Options
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              See Today's Rates
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Home Buyer's Guide
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Refinance Guide
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Try Our Calculators
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Personal Loans
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Read the Zing Blog
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Sign Up for Email and Text Alerts
            </a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          Learn About Quicken Loans
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Careers
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Quicken Loans in the Community
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
            Our Mortgage Process
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Press Room
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Our Family of Companies
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-b-List sprk-b-List--bare">
      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#facebook" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#instagram" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#twitter" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#youtube" />
          </svg>
        </a>
      </li>
    </ul>

    <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s sprk-b-List sprk-b-List--bare">
      <li class="sprk-o-Stack__item">
        <a class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
            <use xlink:href="#paper-plane" />
          </svg>

          Provide Feedback
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
            <use xlink:href="#desktop-computer" />
          </svg>

          Share Your Screen
        </a>
      </li>
    </ul>

    <p class="sprk-o-Stack__item sprk-b-TypeBodyThree">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante, non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
    </p>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
      <div class="sprk-o-Stack__item">
        <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
      </div>

      <div class="sprk-o-Stack__item">
        <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
      </div>

      <div class="sprk-o-Stack__item">
        <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
      </div>
    </div>

    <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-b-List sprk-b-List--bare">
      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
          Link 1
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
          Link 2
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
          Link 3
        </a>
      </li>
    </ul>
  </footer>
</div>
