---
title: Page Example One
layout: blank
---
{{#embed "patterns.components.masthead.base"}}{{/embed}}

<div class="sprk-o-CenteredColumn sprk-u-mbh" data-sprk-main>
  <div class="sprk-c-HighlightBoard sprk-c-HighlightBoard--has-image sprk-u-mbh">
    <img class="sprk-c-HighlightBoard__image" src="../../assets/toolkit/images/desktop.jpg" />

    <div class="sprk-c-HighlightBoard__content  sprk-c-HighlightBoard__content--light">
      <div class="sprk-u-mbl">
        <h1 class="sprk-b-TypeDisplayThree sprk-c-HighlightBoard__primary-heading sprk-u-mbs">
          Things Made Simple
        </h1>
      </div>
    </div>
  </div>

  <div class="sprk-o-Box sprk-u-mbh sprk-u-TextAlign--center">
    <h2 class="sprk-b-TypeDisplaySix sprk-u-mbl">
      Example Heading Text That Is Here!
    </h2>

    <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s sprk-u-AbsoluteCenter">
      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button">
          Apply to do a thing
        </button>
      </div>

      <div class="sprk-o-Stack__item">
        <button class="sprk-c-Button">
          Apply to do a thing
        </button>
      </div>
    </div>
  </div>

  {{#embed "patterns.components.card.four-up"}}{{/embed}}
</div>
{{#embed "patterns.components.footer.footer"}}{{/embed}}
