---
title: Page Example Two
layout: blank
---
{{#embed "patterns.components.masthead.extended"}}{{/embed}}

<div class="sprk-o-CenteredColumn sprk-u-pth sprk-u-phm" data-sprk-main>
  <div class="sprk-u-mtm">
    <h1 class="sprk-u-TypeDisplayThree">
      Your Closing Information
    </h1>

    <span class="sprk-c-Divider sprk-u-mtm sprk-u-mbm"></span>

    <p class="sprk-b-TypeBodyTwo">
      Find all the details of your closing here.
    </p>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">
      Who Needs to Be There
    </h2>

    <div class="sprk-b-TableContainer">
      <table class="sprk-b-Table sprk-b-Table--spacing-medium sprk-b-Table--striped-even sprk-b-Table--bordered-columns sprk-b-Table--bordered-columns-inside">
        <thead class="sprk-b-Table__head">
          <tr>
            <th>Name</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jane Doe</td>
            <td>To sign documents on the home loan they are getting.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">
      What You Need to Bring
    </h2>

    <p class="sprk-b-TypeBodyTwo">
      Your government-issued ID
    </p>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">
      Appointment Details
    </h2>

    <div class="sprk-u-mbm">
      <p class="sprk-b-TypeDisplaySix">
        Tuesday, June 26th, 2018 at 5:00pm
      </p>
    </div>

    <div class="sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">765 Anywhere Street</p>
      <p class="sprk-b-TypeBodyTwo">Fayetterville, AR 72701</p>
    </div>

    <a href="#nogo" class="sprk-b-Link">
      Get Directions to your Closing Location
    </a>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">Your Document Package</h2>
    <div class="sprk-u-mbm">
      <p class="sprk-b-TypeBodyOne">Here are the closing documents for your review.</p>
    </div>
    <a href="#nogo" class="sprk-b-Link">Closing Package (Client)</a>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">
      How You'll Pay for Closing
    </h2>

    <p class="sprk-b-TypeBodyTwo">
      You chose to bring a cashier's check for $3,068.98. Please make the check out to Amrock Arkansas Inc. and write your
      loan number on the memo line.
    </p>
  </div>

  <div class="sprk-u-mvh">
    <h2 class="sprk-b-TypeDisplayFive sprk-u-mbm">
      Communication Preference
    </h2>

    <div class="sprk-b-InputContainer">
      <label for="text-input-normal" class="sprk-b-Label">
        Update Email Address
      </label>
      <input class="sprk-b-TextInput sprk-u-Width-100" id="text-input-normal" data-id="text-input-normal" type="text" value="" aria-describedby="text-input-normal--error-container">
    </div>
    <button class="sprk-c-Button">Submit</button>
  </div>
</div>
{{#embed "patterns.components.footer.footer"}}{{/embed}}
