---
title: Footer Tests
layout: blank
---
<div class="sprk-u-mbh">
  <h1 class="drizzle-b-h1 sprk-u-TextAlign--center sprk-u-mbm">
    Footer Base
  </h1>
  {{#embed "patterns.components.footer.base-footer"}}{{/embed}}
</div>

<div class="sprk-u-mbh">
  <h1 class="drizzle-b-h1 sprk-u-TextAlign--center sprk-u-mbm">
    Footer Base With Awards
  </h1>
  {{#embed "patterns.components.footer.base-with-awards"}}{{/embed}}
</div>

<div class="sprk-u-mbh">
  <h1 class="drizzle-b-h1 sprk-u-TextAlign--center sprk-u-mbm">
    Footer With Optional Items
  </h1>
  {{#embed "patterns.components.footer.optional"}}{{/embed}}
</div>

<div class="sprk-u-mbh">
  <h1 class="drizzle-b-h1 sprk-u-TextAlign--center sprk-u-mbm">
    Footer With Optional Items And Award
  </h1>
  {{#embed "patterns.components.footer.optional-with-awards"}}{{/embed}}
</div>

<div class="sprk-u-mbh">
  <h1 class="drizzle-b-h1 sprk-u-TextAlign--center sprk-u-mbm">
    Footer With Award And Products
  </h1>
  {{#embed "patterns.components.footer.base-awards-product"}}{{/embed}}
</div>
