---
title: Footer Tests
layout: blank
---
{{!-- <h1 class="drizzle-b-h1">
  Footer Base
</h1> --}}

{{!-- <div class="sprk-u-mbl">
  {{#embed "patterns.components.footer.base"}}{{/embed}}
</div> --}}
{{!--
<h1 class="drizzle-b-h1">
  Footer Base With Awards
</h1>--}}

{{!-- <div class="sprk-u-mbl">
  {{#embed "patterns.components.footer.base-with-awards"}}{{/embed}}
</div> --}}

{{!-- <h1 class="drizzle-b-h1">
  Footer With Optional Items
</h1>--}}

{{#embed "patterns.components.footer.optional"}}{{/embed}}

{{!-- <h1 class="drizzle-b-h1">
  Footer With Optional Items And Award
</h1>

{{#embed "patterns.components.footer.optional-with-awards"}}{{/embed}} --}}
