---
title: Footer Tests
layout: blank
---
<h1 class="drizzle-b-h1">
  Footer Base
</h1>

<div class="sprk-u-mbl">
  {{#embed "patterns.components.footer.base"}}{{/embed}}
</div>

<h1 class="drizzle-b-h1">
  Footer With Optional Items
</h1>

<div class="sprk-u-mbl">
  {{#embed "patterns.components.footer.optional"}}{{/embed}}
</div>
