---
title: Grid Tests
layout: blank
---
<h2 class="drizzle-b-h2">
  Grid
</h1>

<h2 class="drizzle-b-h2">
  Stack
</h1>
<div class="sprk-o-Stack">
  <div class="sprk-o-Stack__item">
  </div>

  <div class="sprk-o-Stack__item">
  </div>
</div>


<h2 class="drizzle-b-h2">
  Stack Split
</h1>
<div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
  <div class="sprk-o-Stack__item">
    TEST
  </div>

  <div class="sprk-o-Stack__item">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Two
</h1>
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--half@xs">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Three
</h1>
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xs">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Four
</h1>
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@xs">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Five
</h1>
<div class="sprk-o-Stack sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--fifth@xs">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Six (testing user error of adding spacing to stack)
</h1>
<div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--sixth@xs">
    TEST
  </div>
</div>

<h2 class="drizzle-b-h2">
  Stack Six (testing user error of adding spacing to stack)
</h1>
<div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xl">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xl">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xl">
    TEST
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--third@xl">
    TEST
  </div>
</div>
