---
title: Highlight Board
layout: blank
---

<div class="sprk-o-CenteredColumn">
  <h1 class="drizzle-b-h1 sprk-u-mam">
    Highlight Board
  </h1>

  <h2 class="drizzle-b-h2 sprk-u-mam">With Image, light text</h2>
  {{#embed "patterns.components.highlight-board.base" imagefile="../../assets/toolkit/images/desktop.jpg" image="true" light="true"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">No Image</h2>
  {{#embed "patterns.components.highlight-board.base"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">With Image, stacked</h2>
  {{#embed "patterns.components.highlight-board.base" imagefile="../../assets/toolkit/images/desktop.jpg" image="true" stacked="true"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">With Image, flush</h2>
  {{#embed "patterns.components.highlight-board.base" imagefile="../../assets/toolkit/images/desktop--flush.jpg" image="true" flush="true" light="true"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">No Image, flush</h2>
  {{#embed "patterns.components.highlight-board.base" flush="true"}}{{/embed}}
</div>
