---
title: Highlight Board
layout: blank
---

<div class="sprk-o-CenteredColumn">
  <h1 class="drizzle-b-h1 sprk-u-mam">
    Highlight Board
  </h1>

  <h2 class="drizzle-b-h2 sprk-u-mam">Default</h2>
  {{#embed "patterns.components.highlight-board.default" imagefile="../../assets/toolkit/images/desktop.jpg"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">Default, Full Width</h2>
  {{#embed "patterns.components.highlight-board.default" imagefile="../../assets/toolkit/images/desktop--flush.jpg" fullwidth="true"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">No Image</h2>
  {{#embed "patterns.components.highlight-board.no-image"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">No Image, Full Width</h2>
  {{#embed "patterns.components.highlight-board.no-image" fullwidth="true"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">Stacked</h2>
  {{#embed "patterns.components.highlight-board.stacked"}}{{/embed}}

  <h2 class="drizzle-b-h2 sprk-u-mam">Stacked, Full Width</h2>
  {{#embed "patterns.components.highlight-board.stacked" fullwidth="true"}}{{/embed}}
</div>
