---
title: Inputs Tests
layout: blank
---
<h1 class="drizzle-h1"> Inputs </h1>
<form action="" novalidate>
    {{> drizzle.spark-core-icons}}

    <div class="sprk-b-TypeBodyTwo">
        {{#each (data "inputs")}}
            <h2 class="drizzle-h2">{{this.name}}</h2>
            <div class="drizzle-Space-inset-m">
              {{#embed this.name}}{{/embed}}
            </div>
        {{else}}
          Theres nothing
        {{/each}}
    </div>

    <h2 class="drizzle-h2">Required Text Input</h2>
      <div class="drizzle-Space-inset-m">
        <div class="sprk-b-TypeBodyTwo">
          <div class="sprk-b-InputContainer">
            <label for="text-input-required">Text Input Label</label>
            <input class="sprk-b-TextInput sprk-u-Size-100" id="text-input-required" type="text" aria-describedby="text-input-required--error-container" required>
            <span class="sprk-b-ErrorText" id="text-input-required--error-container">
              This field is required.
          </span>
          </div>
        </div>
      </div>

    <h2 class="drizzle-h2">Required Tick</h2>

      <div class="drizzle-Space-inset-m">
        <div class="sprk-b-TypeBodyTwo">
          <div class="sprk-b-InputContainer">
            <fieldset>
              <legend>
                <label>Checkbox Group Label</label>
              </legend>
              <div class="sprk-b-SelectionContainer">
                <input id="checkbox-required-1" type="checkbox" aria-describedby="checkbox-required--error-container">
                <label for="checkbox-required-1" class="sprk-b-Label--inline sprk-u-mls" required>Checkbox Item 1</label>
              </div>
              <div class="sprk-b-SelectionContainer">
                <input id="checkbox-required-2" type="checkbox" aria-describedby="checkbox-required--error-container">
                <label for="checkbox-required-2" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 2</label>
              </div>
              <div class="sprk-b-SelectionContainer">
                <input id="checkbox-required-3" type="checkbox" aria-describedby="checkbox-required--error-container">
                <label for="checkbox-required-3" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 3</label>
              </div>
            </fieldset>
            <span class="sprk-b-ErrorText" id="checkbox-required--error-container">
              This field is required.</span>
          </div>
        </div>
      </div>
</form>
