---
title: Inputs Tests
layout: blank
---
<h1 class="drizzle-h1"> Inputs </h1>

{{> drizzle.spark-core-icons}}

<div class="sprk-b-TypeBodyTwo">
    {{#each (data "inputs")}}
        <h2 class="drizzle-h2">{{this.name}}</h2>
        <div class="drizzle-Space-inset-m">
          {{#embed this.name}}{{/embed}}
        </div>
    {{else}}
      Theres nothing
    {{/each}}
</div>