---
title: Inputs Tests
layout: blank
---
<h1 class="drizzle-h1"> Inputs </h1>
{{> drizzle.spark-core-icons}}
<div class="sprk-b-TypeBodyTwo">
    <h2 class="drizzle-h2">Text-Input</h2>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="text-input-normal-test">Name</label>
        <input class="sprk-b-TextInput sprk-u-Size-100" id="text-input-normal-test" type="text">
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="text-input-normal-long-label-test">Long Label Test sit amet, consectelit.</label>
        <input class="sprk-b-TextInput sprk-u-Size-100" id="text-input-normal-long-label-test" type="text">
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="text-input-error-test">Name</label>
        <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100"
               id="text-input-error-test" type="text"
               aria-describedby="text-input-error-test--error-container" aria-invalid="true">
        <span class="sprk-b-ErrorText" id="text-input-error-test--error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="text-input-long-error-test">Name</label>
        <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100"
               id="text-input-long-error-test" type="text"
               aria-describedby="text-input-long-error-test--error-container" aria-invalid="true">
        <span class="sprk-b-ErrorText" id="text-input-long-error-test--error-container">Long error test Lorem ipsum dolor sit amet, Assumenda consequatur earum eos explicabo in laborum necessitatibus nulla sunt.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="text-input-disabled-test">Text Input Label</label>
        <input disabled class="sprk-b-TextInput sprk-u-Size-100" id="text-input-disabled-test" type="text">
      </div>
    </div>

    <h2 class="drizzle-h2">Search Input</h2>

    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="search-normal-test">Search</label>
        <input class="sprk-b-TextInput sprk-u-Size-100" id="search-normal-test"
               type="search" role="search">
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="search-error-test">Search</label>
        <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100"
               aria-invalid="true" id="search-error-test" type="search" role="search"
               aria-describedby="search--error-container">
        <span class="sprk-b-ErrorText"
              id="search--error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="search-disabled-test">Search</label>
        <input disabled class="sprk-b-TextInput sprk-u-Size-100" id="search-disabled-test" type="search" role="search">
      </div>
    </div>

    <h2 class="drizzle-h2">Checkboxes</h2>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Checkbox Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-normal-test-1" type="checkbox">
            <label for="checkbox-normal-test-1" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-normal-test-2" type="checkbox">
            <label for="checkbox-normal-test-2" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-normal-test-3" type="checkbox">
            <label for="checkbox-normal-test-3" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 3</label>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Checkbox Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-error-test-1" type="checkbox"
                   aria-describedby="checkbox-error-test-error-container">
            <label for="checkbox-error-test-1"
                   class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-error-test-2" type="checkbox"
                   aria-describedby="checkbox-error-test-error-container">
            <label for="checkbox-error-test-2"
                   class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="checkbox-error-test-3" type="checkbox"
                   aria-describedby="checkbox-error-test-error-container">
            <label for="checkbox-error-test-3"
                   class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 3</label>
          </div>
        </fieldset>
        <span class="sprk-b-ErrorText"
              id="checkbox-error-test-error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Checkbox Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="checkbox-disabled-test-1" type="checkbox">
            <label for="checkbox-disabled-test-1"
                   class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="checkbox-disabled-test-2" type="checkbox">
          <label for="checkbox-disabled-test-2"
                 class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="checkbox-disabled-test-3" type="checkbox">
            <label for="checkbox-disabled-test-3"
                   class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 3</label>
          </div>
        </fieldset>
      </div>
    </div>

    <h2 class="drizzle-h2">Radios</h2>

    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Radio Buttons Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-normal-test1" type="radio" name="radionormal">
            <label for="radio-normal-test1" class="sprk-b-Label--inline sprk-u-mls">Radio Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-normal-test2" type="radio" name="radionormal">
            <label for="radio-normal-test2" class="sprk-b-Label--inline sprk-u-mls">Radio Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-normal-test2" type="radio" name="radionormal">
            <label for="radio-normal-test2" class="sprk-b-Label--inline sprk-u-mls">Radio Item 3</label>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Radio Buttons Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-error-test1" type="radio" name="radio-error-test"
                   aria-describedby="radio-error-test-error-container">
            <label for="radio-error-test1" class="sprk-b-Label--inline sprk-u-mls">Radio Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-error-test2" type="radio" name="radio-error-test"
                   aria-describedby="radio-error-test-error-container">
            <label for="radio-error-test2" class="sprk-b-Label--inline sprk-u-mls">Radio Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input id="radio-error-test3" type="radio" name="radio-error-test"
                   aria-describedby="radio-error-test-error-container">
            <label for="radio-error-test3" class="sprk-b-Label--inline sprk-u-mls">Radio Item 3</label>
          </div>
        </fieldset>
        <span class="sprk-b-ErrorText"
              id="radio-error-test-error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <fieldset>
          <legend>
            <label>Radio Buttons Group Label</label>
          </legend>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="radio-disabled-test1" type="radio" name="radiodisabled">
            <label for="radio-disabled-test1" class="sprk-b-Label--inline sprk-u-mls">Radio Item 1</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="radio-disabled-test2" type="radio" name="radiodisabled">
            <label for="radio-disabled-test2" class="sprk-b-Label--inline sprk-u-mls">Radio Item 2</label>
          </div>
          <div class="sprk-b-SelectionContainer">
            <input disabled id="radio-disabled-test2" type="radio" name="radiodisabled">
            <label for="radio-disabled-test2" class="sprk-b-Label--inline sprk-u-mls">Radio Item 3</label>
          </div>
        </fieldset>
      </div>
    </div>

    <h2 class="drizzle-h2">Select Box</h2>

    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="select-normal">Select Box Label</label>
        <select id="select-normal">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <optgroup label="Grouped Options">
            <option value="g1">Grouped Option 1</option>
            <option value="g2">Grouped Option 2</option>
            <option value="g3">Grouped Option 3</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="select-error">Select Box Label</label>
        <select id="select-error" aria-describedby="selectid--error-container" aria-invalid="true">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <optgroup label="Grouped Options">
            <option value="g1">Grouped Option 1</option>
            <option value="g2">Grouped Option 2</option>
            <option value="g3">Grouped Option 3</option>
          </optgroup>
        </select>
        <span class="sprk-b-ErrorText" id="selectid--error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="selectdisabled">Select Box Label</label>
        <select disabled id="selectdisabled">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <optgroup label="Grouped Options">
            <option value="g1">Grouped Option 1</option>
            <option value="g2">Grouped Option 2</option>
            <option value="g3">Grouped Option 3</option>
          </optgroup>
        </select>
      </div>
    </div>

    <h2 class="drizzle-h2">Textarea</h2>

    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="textarea-normal">Description</label>
        <textarea class="sprk-b-TextInput sprk-u-Size-100" id="textarea-normal"></textarea>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="textarea-error">Description</label>
        <textarea class="sprk-b-TextInput sprk-u-Size-100" id="textarea-error"></textarea>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer">
        <label for="textarea-disabled">Description</label>
        <textarea class="sprk-b-TextInput sprk-u-Size-100" id="textarea-disabled"></textarea>
      </div>
    </div>

    <h2 class="drizzle-h2">SSN Input</h2>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer" data-sprk-input="ssn">
        <label for="ssn-normal">Social Security #</label>
        <input class="sprk-b-TextInput sprk-u-Size-100" id="ssn-normal" type="password" placeholder="000-00-0000">
        <div class="sprk-b-SelectionContainer">
          <input id="show-ssn-normal" type="checkbox">
          <label for="show-ssn-normal" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
        </div>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer" data-sprk-input="ssn">
        <label for="ssn-error">Social Security #</label>
        <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100" id="ssn-error" type="password" placeholder="000-00-0000" aria-describedby="ssn--error-container">
        <div class="sprk-b-SelectionContainer">
          <input id="show-ssn-error" type="checkbox">
          <label for="show-ssn-error" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
        </div>
        <span class="sprk-b-ErrorText" id="ssn--error-container">There is an error on this field.</span>
      </div>
    </div>
    <div class="drizzle-Space-inset-m">
      <div class="sprk-b-InputContainer" data-sprk-input="ssn">
        <label for="ssn-disabled">Social Security #</label>
        <input disabled class="sprk-b-TextInput sprk-u-Size-100 js-ssn" id="ssn-disabled" type="text" placeholder="000-00-0000">
        <div class="sprk-b-SelectionContainer">
          <input disabled id="show-ssn-disabled" type="checkbox" class="js-remove-mask">
          <label for="show-ssn-disabled" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
        </div>
      </div>
    </div>
</div>
