---
title: Link Tests
layout: blank
---
<h1>
  Links
</h1>

<div class="drizzle-c-Space-inset-m">
  <h2>
    Inline Link
  </h2>
  <p class="sprk-b-TypeBodyTwo">
    A paragraph with an <a class="sprk-b-Link" href="">Inline Line</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>
    Standalone Link
  </h2>
  <a class="sprk-b-Link sprk-b-Link--standalone" href="">Standalone Link</a>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>
    Unclassed Link With Image
  </h2>
  <a class="" href="">
    <img src="../../assets/toolkit/images/dog.jpg" alt="Placeholder Image">
  </a>
</div>
