---
title: Link Tests
layout: blank
---
<h1>
  Links
</h1>

<div class="drizzle-c-Space-inset-m">
  <h2>Inline Link</h2>
</div>

<div class="drizzle-c-Space-inset-m">
    <a class="sprk-b-Link" href="#">Inline Link</a>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    A paragraph with an <a class="sprk-b-Link" href="#">Inline Link</a>.
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    A multiline paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph with an <a class="sprk-b-Link" href="#">Inline Link</a> in the middle middle middle middle middle middle middle middle middle middle middle middle.
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    <a class="sprk-b-Link" href="">This is an inline link spanning multiple lines. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>Standalone Link</h2>
</div>

<div class="drizzle-c-Space-inset-m">
  <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Standalone Link</a>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    A paragraph with a <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Standalone Link</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    <a class="sprk-b-Link sprk-b-Link--standalone" href="#">This is a standalone link spanning multiple lines. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>Link with Icon</h2>
</div>

<div class="drizzle-c-Space-inset-m">
  <a
    class="sprk-b-Link sprk-b-Link--has-icon sprk-b-Link--standalone"
    href="#nogo"
    data-id="link-1"
    data-analytics="object.action.event">
    <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs sprk-c-Icon--current-color" viewBox="0 0 100 100">
      <use xlink:href="#communication" />
    </svg>

    This is text
  </a>
</div>
<div class="drizzle-c-Space-inset-m">
  <a
    class="sprk-b-Link sprk-b-Link--has-icon sprk-b-Link--standalone sprk-b-Link--disabled"
    href="#nogo"
    data-id="link-1"
    data-analytics="object.action.event">
    <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs sprk-c-Icon--current-color" viewBox="0 0 100 100">
      <use xlink:href="#communication" />
    </svg>

    I'm disabled
  </a>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>Disabled Link</h2>
</div>

<div class="drizzle-c-Space-inset-m">
    <a class="sprk-b-Link sprk-b-Link--disabled" href="">Disabled Link</a>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    A paragraph with a <a class="sprk-b-Link sprk-b-Link--disabled" href="">Disabled Link</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <p class="sprk-b-TypeBodyTwo">
    <a class="sprk-b-Link sprk-b-Link--disabled" href="">This is a disabled link spanning multiple lines. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
  </p>
</div>

<div class="drizzle-c-Space-inset-m">
  <div style="background-color:rgb(191, 191, 191)">
    <p>These are links on a non-white background.</p>
    <p><a class="sprk-b-Link" href="#">Inline Link</a></p>
    <p><a class="sprk-b-Link sprk-b-Link--standalone" href="#">Standalone Link</a></p>
    <p><a class="sprk-b-Link sprk-b-Link--disabled" href="">Disabled Link</a></p>
  </div>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>
    <a class="sprk-b-Link" href="">This is large text spanning multiple lines. This is large text spanning multiple lines. This is large text spanning multiple lines.</a>
  </h2>
</div>

<div class="drizzle-c-Space-inset-m">
  <h2>
    Unclassed Link With Image
  </h2>
  <a class="" href="">
    <img src="https://via.placeholder.com/350x150" alt="Placeholder Image">
  </a>
</div>
