---
title: Modal Tests
layout: blank
---
<div data-sprk-main>
  <h1 class="drizzle-h1">
    Modals
  </h1>

  <input type="text">

  <p>Test para</p>
</div>
<!--
    Modal containers must not be a child of the main body content area due to aria-hidden
    that is added to main content area (data-sprk-main) when modal is open.
  -->
{{#embed "patterns.components.modals.choice"}}{{/embed}}
{{#embed "patterns.components.modals.wait"}}{{/embed}}
{{#embed "patterns.components.modals.info"}}{{/embed}}
