---
title: Modal Tests
layout: blank
---
<h1 class="drizzle-h1">
  Modals
</h1>

<button class="sprk-c-Button" data-sprk-modal-trigger="choice" type="button">Choice Modal</button>
<button class="sprk-c-Button" data-sprk-modal-trigger="wait" type="button">Wait Modal</button>
<button class="sprk-c-Button" data-sprk-modal-trigger="info" type="button">Info Modal</button>

{{#embed "patterns.components.modals.choice"}}{{/embed}}
{{#embed "patterns.components.modals.wait"}}{{/embed}}
{{#embed "patterns.components.modals.info"}}{{/embed}}
