---
title: Modal Tests
layout: blank
---
<h1 class="drizzle-h1">
  Modals
</h1>

{{#embed "patterns.components.modals.choice"}}{{/embed}}
{{#embed "patterns.components.modals.wait"}}{{/embed}}
{{#embed "patterns.components.modals.info"}}{{/embed}}
