---
title: Navigation Tests
layout: blank
---
<h1 class="drizzle-b-h1">Navigation Tests</h1>
<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.navigation.wide-navigation"}}{{/embed}}
</div>
<div class="drizzle-c-Space-inset-m drizzle-Test-Page">
  {{#embed "patterns.components.navigation.narrow-navigation"}}{{/embed}}
</div>
<div class="drizzle-c-Space-inset-m drizzle-Test-Page">
  {{#embed "patterns.components.navigation.secondary-navigation"}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m drizzle-Test-Page">
  <nav role="navigation">
    <ul class="sprk-c-WideNavigation" data-sprk-navigation="wide">
      <li class="sprk-c-WideNavigation__item">
        <a class="sprk-c-WideNavigation__link" href="#nogo">Refinance</a>
      </li>
      <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
        <a class="sprk-c-WideNavigation__link" href="#nogo">Buy A House
            <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
              <use xlink:href="#chevron-down" />
            </svg>
        </a>
        <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
        </ul>
      </li>
      <li class="sprk-c-WideNavigation__item">
        <a class="sprk-c-WideNavigation__link"  href="#nogo">Loan Options</a>
      </li>
      <li class="sprk-c-WideNavigation__item" aria-haspopup="true" aria-expanded="false">
        <a class="sprk-c-WideNavigation__link" href="#nogo">Mortgage Rates
          <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
            <use xlink:href="#chevron-down" />
          </svg>
        </a>
        <ul class="sprk-c-WideNavigation sprk-c-WideNavigation--sub sprk-u-Display--none">
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
          <li class="sprk-c-WideNavigation__item sprk-c-WideNavigation__item--sub"><a class="sprk-c-WideNavigation__link sprk-c-WideNavigation__link--sub" href="#nogo">Refinance Investment Property</a></li>
        </ul>
      </li>
      <li class="sprk-c-WideNavigation__item">
        <a class="sprk-c-WideNavigation__link" href="#nogo">Calculators</a>
      </li>
      <li class="sprk-c-WideNavigation__item">
        <a class="sprk-c-WideNavigation__link" href="#nogo">About Us</a>
      </li>
      <li class="sprk-c-WideNavigation__item">
        <a class="sprk-c-WideNavigation__link" href="#nogo">Zing! Blog</a>
      </li>

    </ul>
    <span class="sprk-c-Divider sprk-u-man"></span>
  </nav>
  </div>

