---
title: Navigation Tests
layout: blank
---
<h1 class="drizzle-b-h1">Navigation Tests</h1>
<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.navigation.wide-navigation"}}{{/embed}}
</div>
<div class="drizzle-c-Space-inset-m drizzle-Test-Page">
  {{#embed "patterns.components.navigation.narrow-navigation"}}{{/embed}}
</div>
<div class="drizzle-c-Space-inset-m drizzle-Test-Page">
  {{#embed "patterns.components.navigation.secondary-navigation"}}{{/embed}}
</div>
