---
title: Promo Tests
layout: blank
---
<h1 class="drizzle-b-h1">
  Promo
</h1>
<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" hasIcon=false hasSubTitle=true hasCta=true hasImg=false}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" hasIcon=true hasSubTitle=true hasCta=true hasImg=false}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" hasImg=true}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" hasImg=true isReversed=true}}{{/embed}}
</div>
