---
title: Promo Tests
layout: blank
---
<h1 class="drizzle-b-h1">
  Promo
</h1>
<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" promoIcon=false subTitle=true promoCta=true promoImg=false}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.base" promoIcon=true subTitle=true promoCta=true promoImg=false}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.has-image"}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.promo.is-reversed"}}{{/embed}}
</div>
