---
title: Promo Tests
layout: blank
---
<div class="sprk-o-CenteredColumn">
  <h1 class="drizzle-b-h1">
    Promo
  </h1>
  <div class="drizzle-c-Space-inset-m">
    {{#embed "patterns.components.promo.default" hasSubTitle=true hasCta=true}}{{/embed}}
  </div>

  <div class="drizzle-c-Space-inset-m">
    {{#embed "patterns.components.promo.flag" hasSubTitle=true hasCta=true}}{{/embed}}
  </div>

  <div class="drizzle-c-Space-inset-m">
    {{#embed "patterns.components.promo.has-image"}}{{/embed}}
  </div>

  <div class="drizzle-c-Space-inset-m">
    {{#embed "patterns.components.promo.is-reversed"}}{{/embed}}
  </div>
</div>