---
title: Required Inputs Tests
layout: blank
---
<form action="/#nogo" novalidate class="sprk-b-TypeBodyTwo">
  <div class="sprk-o-CenteredColumn sprk-u-pam">
    <div class="drizzle-o-ContentGrouping">
      {{#embed "patterns.components.inputs.text-input" required=true}}{{/embed}}

      {{#embed "patterns.components.inputs.phone" required=true}}{{/embed}}

      {{#embed "patterns.components.inputs.select"}}{{/embed}}

      {{#embed "patterns.components.inputs.radios"}}{{/embed}}

      {{#embed "patterns.components.inputs.checkbox"}}{{/embed}}
    </div>

    <button class="sprk-c-Button">Submit</button>
    <a href="#nogo" class="sprk-b-Link sprk-u-mlm">Cancel</a>
  </div>
</form>