---
title: Spacing Tests
layout: blank
---
<h2 class="drizzle-b-h2">
  Misc Spacing
</h2>

<p class="sprk-u-PaddingTop--a sprk-u-BackgroundColor--blue sprk-u-MarginLeft--a">
  1 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, vel consequat ante consectetur in. Ut interdum dictum est at ornare. Nam nec dapibus nibh. Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>

<p class="sprk-u-PaddingTop--b sprk-u-BackgroundColor--gray sprk-u-MarginRight--b">
  2 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, vel consequat ante consectetur in. Ut interdum dictum est at ornare. Nam nec dapibus nibh.
</p>

<p class="sprk-u-PaddingTop--c sprk-u-BackgroundColor--yellow sprk-u-MarginTop--c">
  3 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>

<p class="sprk-u-PaddingTop--d sprk-u-BackgroundColor--green sprk-u-MarginBottom--d">
  4 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>

<p class="sprk-u-PaddingHorizontal--a sprk-u-BackgroundColor--blue sprk-u-MarginVertical--a">
  5 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>

<p class="sprk-u-PaddingVertical--a sprk-u-BackgroundColor--red sprk-u-MarginHorizontal--a sprk-u-MarginVertical--d">
  6 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>

<p class="sprk-u-PaddingVertical--c sprk-u-PaddingHorizontal--a sprk-u-BackgroundColor--black sprk-u-MarginHorizontal--d sprk-u-Color--white">
  7 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
</p>
