---
title: Spinner Tests
layout: blank
---

<div class="drizzle-Space-inset-l">
  <h2 class="drizzle-h2">Spinners</h2>
  <div class="drizzle-Space-inset-m sprk-u-BackgroundColor--green-medium">
    {{#embed "patterns.components.spinners.base"}}{{/embed}}
  </div>
  <div class="drizzle-Space-inset-m">
    {{#embed "patterns.components.spinners.dark"}}{{/embed}}
  </div>
  <div class="drizzle-Space-inset-m">
    {{#embed "patterns.components.spinners.large"}}{{/embed}}
  </div>
</div>

