---
title: Stepper Tests
layout: blank
---
<h1 class="drizzle-b-h1">
  Stepper
</h1>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.stepper.base"}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.stepper.step-description"}}{{/embed}}
</div>

<div class="drizzle-c-Space-inset-m">
  {{#embed "patterns.components.stepper.step-description-dark-bg"}}{{/embed}}
</div>

{{#embed "patterns.components.stepper.stepper-with-carousel"}}{{/embed}}
