---
title: Tables Tests
layout: blank
---

<div class="drizzle-Space-inset-l">
  <h2 class="drizzle-h2">Tables</h2>
  <div class="drizzle-Space-inset-m">
    {{#embed "patterns.components.tables.column-comparison"}}{{/embed}}
  </div>
  <div class="drizzle-Space-inset-m">
    {{#embed "patterns.components.tables.grouped-columns"}}{{/embed}}
  </div>
  <div class="drizzle-Space-inset-m">
    {{#embed "patterns.components.tables.row-comparison"}}{{/embed}}
  </div>
</div>
