---
title: Tabbed Navigation Tests
layout: blank
---

<div class="drizzle-Space-inset-l">
    <h2 class="drizzle-h2">Three Tabs</h2>
  {{#embed "patterns.components.tabs.tabs"}}{{/embed}}
</div>

<div class="drizzle-Space-inset-l">
   <h2 class="drizzle-h2">Seven Tabs</h2>
   <div class="sprk-c-Tabs" role="tablist" aria-orientation="horizontal" data-sprk-navigation="tabs">
     <div class="sprk-c-Tabs__buttons">
       <button class="sprk-c-Tabs__button sprk-c-Tabs__button--active" role="tab" aria-controls="target-1" aria-selected="true" id="tab-1" type="button">
         Tab 1
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-2" aria-selected="false" id="tab-2" type="button">
         Tab 2
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-3" aria-selected="false" id="tab-3" type="button">
         Tab 3
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-4" aria-selected="false" id="tab-4" type="button">
         Tab 4
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-5" aria-selected="false" id="tab-5" type="button">
         Tab 5
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-6" aria-selected="false" id="tab-6" type="button">
         Tab 6
       </button>

       <button class="sprk-c-Tabs__button" role="tab" aria-controls="target-7" aria-selected="false" id="tab-7" type="button">
         Tab 7
       </button>

     </div>

     <div class="sprk-c-Tabs__content" id="target-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
       <p>Tab 1 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, vel consequat ante consectetur in. Ut interdum dictum est at ornare. Nam nec dapibus nibh. Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2">
       <p>Tab 2 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, vel consequat ante consectetur in. Ut interdum dictum est at ornare. Nam nec dapibus nibh.</p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3">
       <p>Tab 3 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4">
       <p>Tab 4 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-5" role="tabpanel" tabindex="0" aria-labelledby="tab-5">
       <p>Tab 5 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-6" role="tabpanel" tabindex="0" aria-labelledby="tab-6">
       <p>Tab 6 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
     <div class="sprk-c-Tabs__content sprk-u-Hidden" id="target-7" role="tabpanel" tabindex="0" aria-labelledby="tab-7">
       <p>Tab 7 Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rhoncus ipsum. Nulla euismod nisi est, Integer venenatis ex eu mi euismod, non ultricies lacus venenatis.
       </p>
     </div>
   </div>
</div>

