---
title: Typography Tests
layout: blank
---

    <h1 class="sprk-b-TypeDisplayOne">Classed DisplayOne</h1>

    <h1>Plain Element Heading H1</h1>
    <h1 class="sprk-b-TypeDisplayTwo">Classed DisplayTwo</h1>

    <h2>Plain Element Heading H2</h2>
    <h2 class="sprk-b-TypeDisplayThree">Classed DisplayThree</h2>

    <h3>Plain Element Heading H3</h3>
    <h3 class="sprk-b-TypeDisplayFour">Classed DisplayFour</h3>

    <h4>Plain Element Heading H4</h4>
    <h4 class="sprk-b-TypeDisplayFive">Classed DisplayFive</h4>

    <h5>Plain Element Heading H5</h5>
    <h5 class="sprk-b-TypeDisplaySix">Classed DisplaySix</h5>

    <h6>Plain Element Heading H6</h6>
    <h6 class="sprk-b-TypeDisplaySeven">Classed DisplaySeven</h6>

    <p class="sprk-b-TypeBodyOne">TypeBodyOne Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>

    <p>Plain Element P - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>
    <p class="sprk-b-TypeBodyTwo">TypeBodyTwo Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>

    <p class="sprk-b-TypeBodyThree">TypeBodyThree Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>

    <p class="sprk-b-TypeBodyThree">TypeBodyFour Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>


    <div class="drizzle-c-Space-inset-m">
      <h1 class="sprk-b-TypeDisplayOne">Classed DisplayOne</h1>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h1 class="sprk-b-TypeDisplayTwo">Classed DisplayTwo</h1>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h2 class="sprk-b-TypeDisplayThree">Classed DisplayThree</h2>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h3 class="sprk-b-TypeDisplayFour">Classed DisplayFour</h3>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h4 class="sprk-b-TypeDisplayFive">Classed DisplayFive</h4>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h5 class="sprk-b-TypeDisplaySix">Classed DisplaySix</h5>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <h6 class="sprk-b-TypeDisplaySeven">Classed DisplaySeven</h6>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <p class="sprk-b-TypeBodyOne">TypeBodyOne Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <p class="sprk-b-TypeBodyTwo">TypeBodyTwo Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <p class="sprk-b-TypeBodyThree">TypeBodyThree Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>
    </div>

    <div class="drizzle-c-Space-inset-m">
      <p class="sprk-b-TypeBodyThree">TypeBodyFour Classed Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur, corporis distinctio ducimus, ex exercitationem facere ipsum magnam nam omnis repellat reprehenderit sequi voluptas voluptates! Architecto incidunt ipsa non.</p>
    </div>
