// ==================================================================
// Date Picker
// ==================================================================

.c-DatePicker {
  border: 2px solid $grey-medium;
  border-radius: 5px;
  padding: ms(-20);
  position: relative;
  max-width: 20em;

  &:after,
  &:before {
    content: '';
    position: absolute;
  	bottom: 100%;
  	left: 1.25em;
  	border: solid transparent;
  }

  &:after {
  	border-bottom-color: #ffffff;
  	border-width: 10px;
  	margin-left: -10px;
  }

  &:before {
  	border-bottom-color: $grey-medium;
  	border-width: 13px;
  	margin-left: -13px;
  }
}

.c-DatePicker__header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid $grey-medium;
  padding-bottom: ms(-40);
  margin-bottom: ms(-20);
}

.c-DatePicker__month-year {
  font-size: ms(13);
  font-weight: normal;
}

.c-DatePicker__back,
.c-DatePicker__forward {
  position: absolute;
  top: 0.25em;

  &:hover {
    cursor: pointer;
  }

  .o-icon {
    fill: $blue-medium;
  }
}

.c-DatePicker__back {
  left: 0.5em;
}

.c-DatePicker__forward {
  right: 0.5em;
}

.c-DatePicker__table {
  text-align: center;
  vertical-align: middle;

  tr {
    border-bottom: 1px solid $grey-medium;
  }
}

.c-DatePicker__thead {
  tr {
    border-bottom: 2px solid $grey-medium;
  }

  th {
    padding-bottom: ms(-40);
  }
}

.c-DatePicker__day {
  border-left: 1px solid $grey-medium;
  border-right: 1px solid $grey-medium;
  padding: ms(-20);
}

.c-DatePicker__day--current,
.c-DatePicker__day:hover {
  background-color: $blue-light;
  cursor: pointer;
}

.c-DatePicker__day--muted {
  color: $grey-medium;
}
