// ==================================================================
// Navigation
// ==================================================================

// Available Variables
$main-nav-breakpoint: 46em;

.c-Navigation {
  background-color: $white;
  border-top: 2px solid $grey-medium;
  position: absolute;
  width: 100%;

  @media all and (min-width: $main-nav-breakpoint) {
    border-bottom: 2px solid $grey-medium;
    border-top: 0;
    // Makes each item equal width reguardless of number of items
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
  }
}

.c-Navigation,
.c-Navigation__sub {
  list-style-type: none;
}

.c-Navigation.is-hidden\@sm {
  @media all and (max-width: $main-nav-breakpoint) {
    display: none;
  }
}

.c-Navigation__item {
  line-height: ms(36);

  @media all and (min-width: $main-nav-breakpoint) {
    display: table-cell;
    line-height: ms(20);
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
}

.c-Navigation__item a {
  border: 2px solid $grey-medium;
  border-top: 0;
  color: $blue-dark;
  display: block;
  padding-left: ms(20);
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $blue-dark;
    color: $white;

    .c-Navigation__arrow {
      fill: $white;
    }
  }

  @media all and (min-width: $main-nav-breakpoint) {
    @include HoverLine($white, 85%);
    border: 0;
    padding-left: 0;

    &.c-Navigation__item--active,
    &:focus,
    &:hover {
      @include HoverLine($blue-medium, 85%);
      background-color: $white;
      color: $blue-medium;

      // Kinda gross but need to change the color of this icon on
      // hover of nav item anchor
      .c-Navigation__arrow {
        fill: $blue-medium;
      }
    }
  }
}

// Show the sub navigation on hover and focus
.c-Navigation__item:focus .c-Navigation__sub,
.c-Navigation__item:hover .c-Navigation__sub {

  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    position: absolute;
    z-index: 100;
  }
}

.c-Navigation__arrow {
  fill: $blue-dark;
  float: right;
  margin-right: ms(20);
  margin-top: ms(0);
  width: 15px;

  @media all and (min-width: $main-nav-breakpoint) {
    fill: $blue-dark;
    float: none;
    margin: 0 0 ms(-40) ms(-40);
  }
}

.c-Navigation__sub {
  border-bottom: 2px solid $grey-medium;

  @media all and (min-width: $main-nav-breakpoint) {
    border: 2px solid $grey-medium;
    border-top: 0;
    display: none;
  }
}

.c-Navigation__sub-item {
  background-color: $white;
  width: 100%;

  @media all and (min-width: $main-nav-breakpoint) {
    float: left;
    line-height: ms(20);
    padding: ms(-20) ms(0);
    text-align: left;
    width: 100%;
  }
}

.c-Navigation__sub-item:last-child {

  @media all and (min-width: $main-nav-breakpoint) {
    a {
      margin-bottom: ms(-20);
    }
  }
}

.c-Navigation__sub-item a {
  border: 0;
  color: $blue-dark;
  text-transform: none;

  &:hover {
    color: $white;
  }

  @media all and (min-width: $main-nav-breakpoint) {
    @include HoverLine($white, 100%);
    background-color: $white;

    &:focus,
    &:hover {
      @include HoverLine($blue-medium, 100%);
      color: $blue-medium;
    }
  }
}
