---
name: Standout
order: 2
description:
  Use this Card variant to standout in comparison to other elements. It makes
  use of a deeper shadow.
hasAngularCode: true
hasReactCode: true
hasReactCodeInfo: true
---
<div class="sprk-c-Card sprk-c-Card--standout sprk-o-Stack" data-id="card-12">
  <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
  </div>
</div>
