---
name: Layout - Three Up
description:
  Three Cards that stack on small viewports
  and align horizontally on larger viewports. Use three Cards in a grouping
  when you would like to show related content.
order: 7
hasAngularCode: true
hasAngularDocs: true
hasAngularCodeInfo: true
hasReactCode: true
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icon Title" cardContent="Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua an pri, errem communemea at, mei prima tantas signiferumque at." idString="card-5"}}{{/embed}}
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icon Title" cardContent="Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua an pri, errem communemea at, mei prima tantas signiferumque at." idString="card-6"}}{{/embed}}
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icon Title" cardContent="Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua an pri, errem communemea at, mei prima tantas signiferumque at." idString="card-7"}}{{/embed}}
</div>
