---
name: Base Headings
hidden: true
notes: |
  These are the default heading elements. They include the brand color and font.
labels:
  - inprogress
order: 2
---

<h1 class="o-Heading">This is an H1</h1>
<h2 class="o-Heading">This is an H2</h2>
<h3 class="o-Heading">This is an H3</h3>
<h4 class="o-Heading">This is an H4</h4>
<h5 class="o-Heading">This is an H5</h5>
<h6 class="o-Heading">This is an H6</h6>
