---
name: Body Two
notes: |
  This is the default sizing for all text.
order: 9
---

<p class="sprk-b-BodyCopy sprk-b-BodyCopy--body-two">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
    semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
    aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
    ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.</p>
