---
name: Body One
notes: |
   This type size is larger than default body copy and is intended for sub labels and other type
   elements of equal importance.
labels:
- inprogress
order: 8
---

<label class="sprk-b-TypeBodyOne">This is a sub label</label>