---
name: Body Divider
notes: |
  This is divider that can be used in the body of a page. Use an `<hr>` to create a thematic break between paragraphs. If it is an arbitrary break for presentational purposes only, use the class `.body-divider` on a `<span>`.
labels:
  - inprogress
order: 6
---

<hr>

<span class="o-BodyDivider"></span>
