---
name: Body Four
notes: |
   This type size is the smallest recommended size. It is intended for legal text and type elements of
   equal importance.
order: 11
---

<p class="sprk-b-TypeBodyFour">This is legal size.</p>