---
name: Body Three
notes: |
    This type size is intended for copy that is smaller than default body copy, but larger than
    legal text size. It is intended to be used for image captions and type elements of equal importance.
order: 10
---

<p class="sprk-b-TypeBodyThree">This is a caption</p>