---
name: Display Four
notes: |
   This type size is intended for third level headings and text elements of equal importance.
order: 4
---

<h3 class="sprk-b-Heading sprk-b-Heading--display-four">This is a sub heading</h3>
