---
name: Display Seven
notes: |
    This display size is intended to be used for sixth-level headings and labels.
order: 7
---

<label class="sprk-b-TypeDisplaySeven">A Quick Brown Fox Jumps Over the Lazy Dog</label>