---
name: Display Three
notes: |
   This type size is intended for secondary headings and other elements of equal importance.
order: 3
---

<h2 class="sprk-b-Heading sprk-b-Heading--display-three">This is a secondary heading</h2>