---
name: Display Six
notes: |
   This type size is intended for fifth level headings and type elements of equal importance.
order: 6
---

<p class="sprk-b-Heading sprk-b-Heading--display-six">This is a title</p>

