---
name: Display Five
notes: |
   This type size is intended for fourth level headings and text elements of equal importance.
order: 5
---

<p class="sprk-b-Heading sprk-b-Heading--display-five">This is a title</p>

