---
name: Display Seven
notes: |
   This type size is intended for labels and type elements of equal importance.
order: 7
---

<label class="sprk-b-Heading sprk-b-Heading--display-seven">This is a label</label>