---
name: Display Two
notes: |
    This display size is intended to be used for primary headings. This size should only be used in
    custom builds if the type its used on is of equal importance to the page's primary heading.
order: 2
---

<h1 class="sprk-b-Heading sprk-b-Heading--display-two">This is a primary heading</h1>