---
name: Display One
notes: |
   This type size is intended for cases where type needs to be larger than usual and not intended as
   a section heading or divider. It is usually for ads or hero images.
order: 1
---

<h1 class="sprk-b-Heading sprk-b-Heading--display-one">This is jumbo size type</h1>