---
name: Heading Divider
notes: |
  This is divider line under a heading.
labels:
  - inprogress
order: 3
---

<h2 class="o-Heading o-Heading--secondary o-HeadingDivider">This is a secondary heading with a divider</h2>
