---
name: Brand Headings
notes: |
  These are brand headings.
labels:
  - inprogress
order: 1
---

<h1 class="sprk-b-Heading sprk-b-Heading--primary">This is a primary heading</h1>
<h2 class="sprk-b-Heading sprk-b-Heading--secondary">This is a secondary heading</h2>
<h3 class="sprk-b-Heading sprk-b-Heading--sub">This is a sub heading</h3>
