---
name: Heading Divider
notes: |
  This is divider line under a heading.
labels:
  - inprogress
order: 3
---

<h2 class="heading heading--secondary heading-divider">This is a secondary heading with a divider</h2>
