---
name: Brand Headings
notes: |
  These are brand headings.
labels:
  - inprogress
order: 1
---

<h1 class="o-heading o-heading--primary">This is a primary heading</h1>
<h2 class="o-heading o-heading--secondary">This is a secondary heading</h2>
<h3 class="o-heading o-heading--sub">This is a sub heading</h3>
