---
name: Lists
notes: |
  There are 4 list styles available: unordered, ordered, indented, and bare.

  When lists are within a block of text, indented should be used.
labels:
  - inprogress
previewClass: drizzle-u-rhythm
order: 4
---

<ul class="o-list--unordered">
  <li>Unordered Item</li>
  <li>Unordered Item</li>
  <li>Unordered Item</li>
</ul>

<ol class="o-list--ordered">
  <li>Ordered Item</li>
  <li>Ordered Item</li>
  <li>Ordered Item</li>
</ol>

<ul class="o-list--bare">
  <li>Bare List Item</li>
  <li>Bare List Item</li>
  <li>Bare List Item</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum.</p>
<ul class="o-list--indented">
  <li>Indented Item</li>
  <li>Indented Item</li>
  <li>Indented Item</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum.</p>
