---
name: Modular Scale
sourceless: true
notes: |
  Modular scale is a prearranged set of proportions used to define meaningful font sizes.

  The Spark Design System uses a base font size of 1rem and a 1.1 ratio to create its scale.
links:
  Sass Modular Scale: https://github.com/modularscale/modularscale-sass
  Modular Scale Calculator: http://www.modularscale.com/?1&rem&1.1
labels:
  - inprogress
order: 7
---
<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(16)</li>
  <li class="sprk-b-Label">4.595rem</li>
</ul>
<div class="ms-16">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(15)</li>
  <li class="sprk-b-Label">4.177rem</li>
</ul>
<div class="ms-15">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(14)</li>
  <li class="sprk-b-Label">3.797rem</li>
</ul>
<div class="ms-14">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(13)</li>
  <li class="sprk-b-Label">3.452rem</li>
</ul>
<div class="ms-13">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(12)</li>
  <li class="sprk-b-Label">3.138rem</li>
</ul>
<div class="ms-12">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(11)</li>
  <li class="sprk-b-Label">2.853rem</li>
</ul>
<div class="ms-11">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(10)</li>
  <li class="sprk-b-Label">2.594rem</li>
</ul>
<div class="ms-10">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(9)</li>
  <li class="sprk-b-Label">2.358rem</li>
</ul>
<div class="ms-9">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(8)</li>
  <li class="sprk-b-Label">2.144rem</li>
</ul>
<div class="ms-8">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(7)</li>
  <li class="sprk-b-Label">1.949rem</li>
</ul>
<div class="ms-7">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(6)</li>
  <li class="sprk-b-Label">1.772rem</li>
</ul>
<div class="ms-6">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(5)</li>
  <li class="sprk-b-Label">1.611rem</li>
</ul>
<div class="ms-5">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(4)</li>
  <li class="sprk-b-Label">1.464rem</li>
</ul>
<div class="ms-4">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(3)</li>
  <li class="sprk-b-Label">1.331rem</li>
</ul>
<div class="ms-3">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(2)</li>
  <li class="sprk-b-Label">1.21rem</li>
</ul>
<div class="ms-2">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(1)</li>
  <li class="sprk-b-Label">1.1rem</li>
</ul>
<div class="ms-1">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(0)</li>
  <li class="sprk-b-Label">1rem</li>
</ul>
<div class="ms-0">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-1)</li>
  <li class="sprk-b-Label">0.909rem</li>
</ul>
<div class="ms--1">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-2)</li>
  <li class="sprk-b-Label">0.826rem</li>
</ul>
<div class="ms--2">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-3)</li>
  <li class="sprk-b-Label">0.751rem</li>
</ul>
<div class="ms--3">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-4)</li>
  <li class="sprk-b-Label">0.683rem</li>
</ul>
<div class="ms--4">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-5)</li>
  <li class="sprk-b-Label">0.621rem</li>
</ul>
<div class="ms--5">The quick brown fox jumps over the lazy dog</div>

<ul class="sprk-o-HorizontalList">
  <li class="sprk-b-Label sprk-u-mrl">ms(-6)</li>
  <li class="sprk-b-Label">0.564rem</li>
</ul>
<div class="ms--6">The quick brown fox jumps over the lazy dog</div>
