---
name: Sub Label
notes: |
    This is the intended use of the sub label. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab, accusamus assumenda blanditiis cupiditate dolorem eligendi harum officia officiis quam
    qui quis, tempore ullam voluptas. Accusantium beatae cupiditate doloribus sit voluptatem?
labels:
- inprogress
order: 7
---

<label class="sprk-b-Label sprk-b-Label--sub">This is a sub label</label>