---
name: Typekit
order: 11
sourceless: true
doclayout: true
---
<div class="drizzle-u-pad drizzle-u-rhythm">
    <p>Spark uses two <a href="https://typekit.com">Typekit.com</a> fonts for its branding</p>
    <ul>
        <li><a href="https://typekit.com/fonts/quatro-slab">Quatro Slab</a></li>
        <li><a href="https://typekit.com/fonts/myriad">Myriad Pro</a></li>
    </ul>
    <p>In order to implement spark-core, you'll need to create a
        kit on <a href="https://typekit.com">Typekit.com</a> for your application.</p>
    <p>Please see <a href="/patterns/elements/typography.html">Typography</a> for font usage.</p>
    <h4 id="typekit-loader">Typekit Loader</h4>
    <p>You'll need to include the following snippet into your
        site's code. Spark includes fallback font definitions, so
        it's recommended that you include it before the closing
        tag, in order to avoid render blocking.</p>
    <p><strong>You'll need to insert your new kit's id into the snippet below.</strong></p>
    <p>Included in the code below is an event that gets dispatched when the fonts
        have finished loading ('fonts-active').</p>
    <pre><code class="language-javascript">(function(d) {
    var config = {
        kitId: '&lt;your-kit-id-here&gt;',
        scriptTimeout: 3000,
      active: function () {
        // Create the event.
        var event = document.createEvent('Event');
        event.initEvent('fonts-active', true, true);
        document.dispatchEvent(event);
      }
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&amp;&amp;a!="complete"&amp;&amp;a!="loaded")return;f=true;clearTimeout(t);try{
      Typekit.load(config)}catch(e){}};
  s.parentNode.insertBefore(tk,s)
})(document);
</code></pre><h4 id="fallback-fonts">Fallback fonts</h4>
    <p>In the event that a client has issues loading typefaces from typekit, we've defined the
        following system and web-safe typefaces to be used in their place:</p>
    <h4 id="headings">Headings</h4>
    <ul>
        <li>-apple-system</li>
        <li>BlinkMacSystemFont</li>
        <li>avenir next</li>
        <li>avenir</li>
        <li>Segoe UI</li>
        <li>lucida grande</li>
        <li>helvetica neue</li>
        <li>helvetica</li>
        <li>Fira Sans</li>
        <li>roboto</li>
        <li>noto</li>
        <li>Droid Sans</li>
        <li>cantarell</li>
        <li>oxygen</li>
        <li>ubuntu</li>
        <li>franklin gothic medium</li>
        <li>century gothic</li>
        <li>sans-serif;</li>
    </ul>
    <h4 id="body-copy">Body Copy</h4>
    <ul>
        <li>-apple-system</li>
        <li>BlinkMacSystemFont</li>
        <li>avenir next</li>
        <li>avenir</li>
        <li>Segoe UI</li>
        <li>lucida grande</li>
        <li>helvetica neue</li>
        <li>helvetica</li>
        <li>Fira Sans</li>
        <li>roboto</li>
        <li>noto</li>
        <li>Droid Sans</li>
        <li>cantarell</li>
        <li>oxygen</li>
        <li>ubuntu</li>
        <li>franklin gothic medium</li>
        <li>century gothic</li>
        <li>sans-serif;</li>
    </ul>
</div>
