$sb-space-margin-color: rgba(217, 217, 217, 0.8);
$sb-space-padding-color: rgba(207, 207, 207, 0.8);

// Inset tall
.sb-spacing-inset-tall-xs {
  box-shadow: inset 0 (-1 * ($sprk-space-xs * 1.5)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-xs * 1.5) 0 $sb-space-padding-color,
  inset $sprk-space-xs 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-xs) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-xs * 1.5) $sprk-space-xs ($sprk-space-xs * 1.5) $sprk-space-xs;
}

.sb-spacing-inset-tall-s {
  box-shadow: inset 0 (-1 * ($sprk-space-s * 1.5)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-s * 1.5) 0 $sb-space-padding-color,
  inset $sprk-space-s 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-s) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-s * 1.5) $sprk-space-s ($sprk-space-s * 1.5) $sprk-space-s;
}

.sb-spacing-inset-tall-m {
  box-shadow: inset 0 (-1 * ($sprk-space-m * 1.5)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-m * 1.5) 0 $sb-space-padding-color,
  inset $sprk-space-m 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-m) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-m * 1.5) $sprk-space-m ($sprk-space-m * 1.5) $sprk-space-m;
}

.sb-spacing-inset-tall-l {
  box-shadow: inset 0 (-1 * ($sprk-space-l * 1.5)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-l * 1.5) 0 $sb-space-padding-color,
  inset $sprk-space-l 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-l) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-l * 1.5) $sprk-space-l ($sprk-space-l * 1.5) $sprk-space-l;
}

.sb-spacing-inset-tall-xl {
  box-shadow: inset 0 (-1 * ($sprk-space-xl * 1.5)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-xl * 1.5) 0 $sb-space-padding-color,
  inset $sprk-space-xl 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-xl) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-xl * 1.5) $sprk-space-xl ($sprk-space-xl * 1.5) $sprk-space-xl;
}

/* Inset short */
.sb-spacing-inset-short-xs {
  box-shadow: inset 0 (-1 * ($sprk-space-xs / 2)) 0 $sb-space-padding-color,
  inset 0 ($sprk-space-xs / 2) 0 $sb-space-padding-color,
  inset $sprk-space-xs 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-xs) 0 0 0 $sb-space-padding-color;
  padding: ($sprk-space-xs / 2) $sprk-space-xs ($sprk-space-xs / 2) $sprk-space-xs;
}

.sb-spacing-inset-short-s {
  box-shadow: inset 0 (-1 * $sprk-space-xs) 0 $sb-space-padding-color,
  inset 0 $sprk-space-xs 0 $sb-space-padding-color,
  inset $sprk-space-s 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-s) 0 0 0 $sb-space-padding-color;
  padding: $sprk-space-xs $sprk-space-s $sprk-space-xs $sprk-space-s;
}

.sb-spacing-inset-short-m {
  box-shadow: inset 0 (-1 * $sprk-space-s) 0 $sb-space-padding-color,
  inset 0 $sprk-space-s 0 $sb-space-padding-color,
  inset $sprk-space-m 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-m) 0 0 0 $sb-space-padding-color;
  padding: $sprk-space-s $sprk-space-m $sprk-space-s $sprk-space-m;
}

.sb-spacing-inset-short-l {
  box-shadow: inset 0 (-1 * $sprk-space-m) 0 $sb-space-padding-color,
  inset 0 $sprk-space-m 0 $sb-space-padding-color,
  inset $sprk-space-l 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-l) 0 0 0 $sb-space-padding-color;
  padding: $sprk-space-m $sprk-space-l $sprk-space-m $sprk-space-l;
}

.sb-spacing-inset-short-xl {
  box-shadow: inset 0 (-1 * $sprk-space-l) 0 $sb-space-padding-color,
  inset 0 $sprk-space-l 0 $sb-space-padding-color,
  inset $sprk-space-xl 0 0 0 $sb-space-padding-color,
  inset (-1 * $sprk-space-xl) 0 0 0 $sb-space-padding-color;
  padding: $sprk-space-l $sprk-space-xl $sprk-space-l $sprk-space-xl;
}

// Global Spacing
.sb-inset-spacing-example div:nth-child(1) {
  box-shadow: inset 0 0 0 $sprk-space-xs $sb-space-padding-color;
  padding: $sprk-space-xs;
}

.sb-inset-spacing-example div:nth-child(2) {
  box-shadow: inset 0 0 0 $sprk-space-s $sb-space-padding-color;
  padding: $sprk-space-s;
}

.sb-inset-spacing-example div:nth-child(3) {
  box-shadow: inset 0 0 0 $sprk-space-m $sb-space-padding-color;
  padding: $sprk-space-m;
}

.sb-inset-spacing-example div:nth-child(4) {
  box-shadow: inset 0 0 0 $sprk-space-l $sb-space-padding-color;
  padding: $sprk-space-l;
}

.sb-inset-spacing-example div:nth-child(5) {
  box-shadow: inset 0 0 0 $sprk-space-xl $sb-space-padding-color;
  padding: $sprk-space-xl;
}

// Stack
.sb-spacing-stack-xs {
  border-bottom: $sprk-space-xs solid $sb-space-margin-color;
}

.sb-spacing-stack-s {
  border-bottom: $sprk-space-s solid $sb-space-margin-color;
}

.sb-spacing-stack-m {
  border-bottom: $sprk-space-m solid $sb-space-margin-color;
}

.sb-spacing-stack-l {
  border-bottom: $sprk-space-l solid $sb-space-margin-color;
}

.sb-spacing-stack-xl {
  border-bottom: $sprk-space-xl solid $sb-space-margin-color;
}

/* Inline Doc Displays */
.sb-spacing-inline-right-xs {
  border-right: $sprk-space-xs solid $sb-space-margin-color;
}

.sb-spacing-inline-right-s {
  border-right: $sprk-space-s solid $sb-space-margin-color;
}

.sb-spacing-inline-right-m {
  border-right: $sprk-space-m solid $sb-space-margin-color;
}

.sb-spacing-inline-right-l {
  border-right: $sprk-space-l solid $sb-space-margin-color;
}

.sb-spacing-inline-right-xl {
  border-right: $sprk-space-xl solid $sb-space-margin-color;
}

/* Inline Misc Spacing Doc Displays */
.sb-spacing-inline-right-misc-a {
  border-right: $sprk-space-misc-a solid $sb-space-margin-color;
}

.sb-spacing-inline-right-misc-b {
  border-right: $sprk-space-misc-b solid $sb-space-margin-color;
}

.sb-spacing-inline-right-misc-c {
  border-right: $sprk-space-misc-c solid $sb-space-margin-color;
}

.sb-spacing-inline-right-misc-d {
  border-right: $sprk-space-misc-d solid $sb-space-margin-color;
}
