// ==================================================================
// Dictionary
// ==================================================================

//
// Available Variables
///
$sprk-dictionary-border: 1px solid $sprk-gray !default;
$sprk-dictionary-stripe-color: $sprk-gray !default;
$sprk-dictionary-breakpoint: 38.4375rem !default;
$sprk-dictionary-label-font-size: $sprk-font-size-body-one !default;
$sprk-dictionary-label-font-weight: $sprk-font-weight-body-one !default;
$sprk-dictionary-label-line-height: $sprk-line-height-body-one !default;

.sprk-c-Dictionary {
  border: $sprk-dictionary-border;
}

.sprk-c-Dictionary__keyvaluepair {
  width: 100%;
  padding: $sprk-space-l / 2;

  @media all and (min-width: $sprk-dictionary-breakpoint) {
    display: table;
    display: flex;
    align-items: center;
  }
}

.sprk-c-Dictionary .sprk-b-Label {
  font-size: $sprk-dictionary-label-font-size;
  line-height: $sprk-dictionary-label-line-height;
  font-weight: $sprk-dictionary-label-font-weight;
}

// prettier-ignore
.sprk-c-Dictionary--striped .sprk-c-Dictionary__keyvaluepair:nth-child(even) {
  background-color: $sprk-dictionary-stripe-color;
}

.sprk-c-Dictionary__key,
.sprk-c-Dictionary__value {
  @media all and (min-width: $sprk-dictionary-breakpoint) {
    flex: 1;
    margin-bottom: 0;
  }
}

.sprk-c-Dictionary__value {
  text-align: left;

  @media all and (min-width: $sprk-dictionary-breakpoint) {
    text-align: right;
  }
}

.sprk-c-Dictionary__key {
  margin-bottom: $sprk-space-xs;

  @media all and (min-width: $sprk-dictionary-breakpoint) {
    margin-bottom: 0;
  }
}
