---
order: 1
notes: This is the default use of this pattern.
---

<div class="sprk-c-Dictionary">
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">bobwise@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Home Phone</dt>
      <dd class="sprk-c-Dictionary__value">(123) 456-7890</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Cell Phone</dt>
      <dd class="sprk-c-Dictionary__value">(098) 765-4321</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Phone</dt>
      <dd class="sprk-c-Dictionary__value">(555) 555-5555</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Extension</dt>
      <dd class="sprk-c-Dictionary__value">55555</dd>
    </div>
  </dl>
</div>
