---
name: Basic Dictionary
order: 1
description:
  The Basic Dictionary pattern is meant to be used when there are less than 10 items to display.
  It shows the key on the left and the value on the right.
---

<div class="sprk-c-Dictionary sprk-b-TypeBodyTwo">
  <h3 class="sprk-b-TypeDisplaySix sprk-c-Dictionary__title">Title</h3>
  <dl class="sprk-c-Dictionary__keyvaluepairs">
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-Dictionary__value">sparkdesignsystem@quickenloans.com</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-Dictionary__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Home Phone</dt>
      <dd class="sprk-c-Dictionary__value">(123) 456-7890</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Cell Phone</dt>
      <dd class="sprk-c-Dictionary__value">(098) 765-4321</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Phone</dt>
      <dd class="sprk-c-Dictionary__value">(555) 555-5555</dd>
    </div>
    <div class="sprk-c-Dictionary__keyvaluepair">
      <dt class="sprk-c-Dictionary__key sprk-b-Label">Work Extension</dt>
      <dd class="sprk-c-Dictionary__value">55555</dd>
    </div>
  </dl>
</div>
