---
description: The base Sneak Peek includes a headline and a paragraph.
order: 1
---
<div class="{{#if stackItem}}{{stackItem}} {{/if}}sprk-o-Stack sprk-o-Stack--medium">
  {{#if img}}
  <div class="sprk-o-Stack__item">
    <img class="sprk-o-Stack__item" alt="Provide useful alternative text" src="../../assets/toolkit/images/flower.jpg" />
  </div>
  {{/if}}

  <h3 class="sprk-o-Stack__item sprk-b-TypeDisplayThree">
    Headline Goes Here
  </h3>

  <p class="sprk-o-Stack__item sprk-b-TypeBodyTwo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>

  {{#if cta}}
  <div class="sprk-o-Stack__item">
    <a href="#" class="sprk-c-Button">
      Learn More
    </a>
  </div>
  {{/if}}
</div>
