---
name: Three Up
description:
  Three Sneak Peeks that stack on small viewports
  and align horizontally on larger viewports. Use three Sneak Peaks in a grouping
  when you would like to show related content
order: 2
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@l sprk-o-Stack sprk-o-Stack--medium">
    <h3 class="sprk-o-Stack__item sprk-b-TypeDisplayThree">
      Example Headline
    </h3>

    <p class="sprk-o-Stack__item sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@l sprk-o-Stack sprk-o-Stack--medium">
    <h3 class="sprk-o-Stack__item sprk-b-TypeDisplayThree">
      Example Headline
    </h3>

    <p class="sprk-o-Stack__item sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@l sprk-o-Stack sprk-o-Stack--medium">
    <h3 class="sprk-o-Stack__item sprk-b-TypeDisplayThree">
      Example Headline
    </h3>

    <p class=" sprk-o-Stack__item sprk-b-TypeBodyTwo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</div>
