---
name: Three Up - With CTA and Image
order: 4
description:
  Sneak Peeks may include an image above the main headline and paragraph.
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true}}{{/embed}}
</div>
