---
name: Sneak Peek with call to action
order: 2
notes: |
  This example has a call to action button and is displayed in a 3-column grid layout.
labels:
  - inprogress
---

<div class="sprk-o-FlexGrid sprk-o-FlexGrid--gutters">
  <div class="sprk-c-SneakPeek sprk-o-FlexGrid__column sprk-u-mbm">
    <img alt="Provide useful alternative text" class="sprk-c-SneakPeek__image sprk-u-mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="sprk-b-Heading sprk-b-Heading--display-three sprk-u-TextColor--blue-dark sprk-c-SneakPeek__headline sprk-b-Epsilon">Headline Goes Here</h3>
    <p class="sprk-c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="sprk-c-SneakPeek__cta sprk-c-Button sprk-c-Button--primary">Learn More</a>
  </div>

  <div class="sprk-c-SneakPeek sprk-o-FlexGrid__column sprk-u-mbm">
    <img alt="Provide useful alternative text" class="sprk-c-SneakPeek__image sprk-u-mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="sprk-b-Heading sprk-b-Heading--display-three sprk-u-TextColor--blue-dark sprk-c-SneakPeek__headline sprk-b-Epsilon">Headline Goes Here</h3>
    <p class="sprk-c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="sprk-c-SneakPeek__cta sprk-c-Button sprk-c-Button--primary">Learn More</a>
  </div>

  <div class="sprk-c-SneakPeek sprk-o-FlexGrid__column sprk-u-mbm">
    <img alt="Provide useful alternative text" class="sprk-c-SneakPeek__image sprk-u-mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="sprk-b-Heading sprk-b-Heading--display-three sprk-u-TextColor--blue-dark sprk-c-SneakPeek__headline sprk-b-Epsilon">Headline Goes Here</h3>
    <p class="sprk-c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="sprk-c-SneakPeek__cta sprk-c-Button sprk-c-Button--primary">Learn More</a>
  </div>
</div>
