---
name: Sneak Peek with call to action
order: 2
notes: |
  This example has a call to action button and is displayed in a 3-column grid layout.
labels:
  - inprogress
---

<div class="o-FlexGrid o-FlexGrid--gutters">
  <div class="c-SneakPeek o-FlexGrid__column mbm">
    <img alt="Provide useful alternative text" class="c-SneakPeek__image mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="b-Heading c-SneakPeek__headline epsilon">Headline Goes Here</h3>
    <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="c-SneakPeek__cta btn c-Button--primary">Learn More</a>
  </div>

  <div class="c-SneakPeek o-FlexGrid__column mbm">
    <img alt="Provide useful alternative text" class="c-SneakPeek__image mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="b-Heading c-SneakPeek__headline epsilon">Headline Goes Here</h3>
    <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="c-SneakPeek__cta btn c-Button--primary">Learn More</a>
  </div>

  <div class="c-SneakPeek o-FlexGrid__column mbm">
    <img alt="Provide useful alternative text" class="c-SneakPeek__image mbm" src="../../assets/toolkit/images/flower.jpg" />
    <h3 class="b-Heading c-SneakPeek__headline epsilon">Headline Goes Here</h3>
    <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="" class="c-SneakPeek__cta btn c-Button--primary">Learn More</a>
  </div>
</div>
