---
name: Five Up - With Call To Action
description:
  Another way to customize the Sneak Peeks is by adding a Call To Action button.
order: 3
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true}}{{/embed}}
  {{#embed "patterns.components.sneak-peek.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true}}{{/embed}}
</div>
