// ==================================================================
// Links
// ==================================================================
//

////
/// @group link
////
.sprk-b-Link {
  color: $sprk-link-color;
  border-bottom: $sprk-link-border-bottom;
  font-weight: $sprk-link-font-weight;
  position: relative;
  text-decoration: $sprk-link-text-decoration;
  transition: $sprk-link-transition;

  &:visited {
    border-bottom: $sprk-link-visited-border-bottom;
  }

  &:hover,
  &:active,
  &:focus {
    color: $sprk-link-hover-color;
    border-bottom: $sprk-link-hover-border-bottom;
  }
}

/// Simple links have no underline until hovered.
.sprk-b-Link--simple {
  color: $sprk-link-simple-color;
  border-bottom: $sprk-link-simple-border-bottom;
  font-weight: $sprk-link-simple-font-weight;

  &:visited {
    border-bottom: $sprk-link-simple-visited-border-bottom;
  }

  &:hover,
  &:active,
  &:focus {
    transition: $sprk-link-transition;
    color: $sprk-link-simple-hover-color;
    border-bottom: $sprk-link-simple-hover-border-bottom;
  }
}

/// Used when a link is on a dark background. There will be an underline on hover.
.sprk-b-Link--light {
  color: $sprk-link-light-color;
  border-bottom: $sprk-link-light-border-bottom;
  font-weight: $sprk-link-light-font-weight;

  &:visited {
    border-bottom: $sprk-link-light-visited-border-bottom;
  }

  &:hover,
  &:active,
  &:focus {
    transition: $sprk-link-transition;
    color: $sprk-link-light-hover-color;
    font-weight: $sprk-link-light-hover-font-weight;
    border-bottom: $sprk-link-light-hover-border-bottom;
  }
}

/// Used when a link is next to an icon. There will not be an underline.
.sprk-b-Link--has-icon {
  border-bottom: $sprk-link-has-icon-border-bottom;
  font-weight: $sprk-link-has-icon-font-weight;

  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-link-has-icon-hover-border-bottom;
    color: $sprk-link-has-icon-hover-color-text;
  }

  &:visited {
    border-bottom: $sprk-link-has-icon-visited-border-bottom;
    color: $sprk-link-has-icon-visited-color-text;
  }
}

.sprk-b-Link--has-icon .sprk-c-Icon {
  color: $sprk-link-has-icon-color-icon;
  fill: $sprk-link-has-icon-fill;
  stroke: $sprk-link-has-icon-stroke;
  transition: $sprk-link-has-icon-transition;
}

.sprk-b-Link--has-icon:hover .sprk-c-Icon,
.sprk-b-Link--has-icon:focus .sprk-c-Icon,
.sprk-b-Link--has-icon:active .sprk-c-Icon {
  color: $sprk-link-has-icon-hover-color-text;
  fill: $sprk-link-has-icon-hover-fill;
  stroke: $sprk-link-has-icon-hover-stroke;
}

/// Disabled links have a muted color and cannot be interacted with.
/// @name .sprk-b-Link--disabled
.sprk-b-Link--disabled {
  pointer-events: none;
  color: $sprk-link-disabled-color;
  border-color: $sprk-link-disabled-border-bottom-color;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    border-color: $sprk-link-disabled-hover-border-bottom-color;
    color: $sprk-link-disabled-hover-color;
  }
}

.sprk-b-Link--simple.sprk-b-Link--disabled,
.sprk-b-Link--light.sprk-b-Link--disabled,
.sprk-b-Link--disabled .sprk-c-Icon {
  color: $sprk-link-disabled-color;
  stroke: $sprk-link-disabled-color;
  fill: $sprk-link-disabled-color;
  pointer-events: none;
  border-bottom: $sprk-link-disabled-border-bottom;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-link-disabled-hover-border-bottom;
    color: $sprk-link-disabled-color;
  }
}

/// Removes the underline from links on initial state
/// and on hover, active, focus, and visited states.
.sprk-b-Link--plain {
  border: $sprk-link-plain-border;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    border: $sprk-link-plain-visited-border;
  }
}
