// ==================================================================
// Accordions
// ==================================================================
.sprk-c-Accordion {
  margin: 0 auto;
  max-width: $accordion-max-width;
  width: 100%;
}

.sprk-c-Accordion--navigation {
  border-top: 2px solid $gray-medium;
}

.sprk-c-Accordion__item {
  background-color: $blue-medium;
  margin-bottom: $space-xs;

  &:last-child {
    margin-bottom: 0;
  }
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__item {
  background-color: $white;
  margin: 0;
}

.sprk-c-Accordion__summary {
  color: $white;
  display: flex;
  padding: $space-m;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: $blue-dark;
    color: $white;
    text-decoration: none;
  }
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__summary {
  border: 2px solid $gray-medium;
  border-top: 0;
  align-items: center;
}

// When open, add same style as when focused
.sprk-c-Accordion__summary--open {
  background-color: $blue-dark;
}

.sprk-c-Accordion__heading {
  color: $white;
  flex: 1;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__heading {
  color: $blue-dark;
  text-transform: uppercase;
}

.sprk-c-Accordion__icon {
  flex: 0 0 auto;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__icon {
  color: $blue-dark;
}

.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:focus
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:focus
.sprk-c-Accordion__icon {
  color: $white;
}

.sprk-c-Accordion__details {
  background-color: $white;
  border: 0.125rem solid $blue-dark;
  padding: $space-m;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__details {
  border: 0;
  border-bottom: 2px solid $gray-medium;
  padding: 0;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__details .sprk-b-Link {
  display: block;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue-dark;
    color: $white;
    text-decoration: none;
  }
}

// Secondary style accordion modifiers
.sprk-c-Accordion__item--secondary {
  background-color: $white;
  border-bottom: 0.125rem solid $blue-medium;
  margin-bottom: 0;

  &:first-child {
    border-top: 0.125rem solid $blue-medium;
  }
}

// When secondary is open, hovered, active, or focused
.sprk-c-Accordion__summary--secondary {
  color: $blue-medium;

  &.sprk-c-Accordion__summary--open,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color: $blue-medium;
    color: $white;

    .sprk-c-Accordion__heading--secondary {
      color: $white;
    }
  }
}

.sprk-c-Accordion__heading--secondary {
  color: $blue-medium;
}

.sprk-c-Accordion__details--secondary {
  border-color: $blue-medium;
  border-bottom: 0;
}
