// ==================================================================
// Accordions
// ==================================================================
.sprk-c-Accordion {
  border-top: $accordion-border;
  margin: 0 auto;
  max-width: $accordion-max-width;
  width: 100%;
}

.sprk-c-Accordion__item--open + .sprk-c-Accordion__item--open {
  &::before {
    display: none;
  }
}

.sprk-c-Accordion__item {
  border-bottom: $accordion-border;
}

.sprk-c-Accordion__heading {
  flex: 1;
}

.sprk-c-Accordion__icon {
  flex: 0 0 auto;
}

.sprk-c-Accordion__summary {
  align-items: center;
  color: $accordion-summary-color;
  display: flex;
  padding: $accordion-summary-padding;
  text-decoration: none;

  &:hover {
    color: $accordion-summary-active-color;
    text-decoration: none;
  }
}

.sprk-c-Accordion__item--open .sprk-c-Accordion__heading {
  font-weight: bold;
}

.sprk-c-Accordion__item--open .sprk-c-Accordion__icon {
  color: $accordion-summary-active-color;
}

.sprk-c-Accordion__content {
  padding: $accordion-content-padding;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation {
  border: 0;
  max-width: 100%; // We want mobile nav items not to be capped at $accordion-max-width
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__item--open {
  border-bottom: $accordion-border-open;

  &::before {
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    background-color: $black-tint-25;
    width: 100%;
  }
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__item {
  border: 0;
  margin: 0;

  &:first-child {
    border-top: 0;
  }
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__summary {
  border-top: 0;
  min-height: $icon-xl;
  padding: $space-m;

  &:hover,
  &:active {
    background-color: $black-tint-50;
  }
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation
.sprk-c-Accordion__item--active
.sprk-c-Accordion__summary {
  background-color: $black-tint-50;
  border-left: $narrow-nav-left-border;
}

.sprk-c-Accordion--navigation
.sprk-c-Accordion__item--active
.sprk-c-Accordion__heading {
  color: $red;
  font-weight: bold;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__heading {
  color: $black;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__icon {
  stroke: $black;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__content,
.sprk-c-Accordion--navigation .sprk-c-Accordion__details {
  border: 0;
  padding: 0;

  &::after {
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    background-color: $black-tint-25;
    width: 100%;
  }
}
// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__details .sprk-b-Link {
  color: $black;
  display: block;
  font-weight: $narrow-nav-link-font-weight;

  &:hover,
  &:active,
  &:focus {
    background-color: $black-tint-50;
    text-decoration: none;
  }

  &::after {
    content: none;
  }
}

/* stylelint-disable selector-class-pattern */
.DOM-slider-hidden {
  display: none;
}

/* stylelint-enable selector-class-pattern */
