// ==================================================================
// Accordions
// ==================================================================
.sprk-c-Accordion {
  border-top: $accordion-border;
  margin: 0 auto;
  max-width: $accordion-max-width;
  width: 100%;
}

.sprk-c-Accordion__item {
  border-bottom: $accordion-border;
}

.sprk-c-Accordion__item--open {
  border-bottom: $accordion-border-open;
}

.sprk-c-Accordion__heading {
  flex: 1;
}

.sprk-c-Accordion__icon {
  flex: 0 0 auto;
}

.sprk-c-Accordion__summary {
  align-items: center;
  color: $accordion-summary-color;
  display: flex;
  padding-bottom: $space-m;
  padding-top: $space-m;
  text-decoration: none;

  &:hover {
    color: $accordion-summary-active-color;
    text-decoration: none;
  }
}

.sprk-c-Accordion__item--open .sprk-c-Accordion__heading {
  font-weight: bold;
}

.sprk-c-Accordion__item--open .sprk-c-Accordion__icon {
  color: $accordion-summary-active-color;
}

.sprk-c-Accordion__content {
  padding-bottom: $space-l;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation {
  border: 0;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__item {
  border: 0;
  margin: 0;

  &:first-child {
    border-top: 0;
  }
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__summary--open {
  background-color: $red-real;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__summary {
  border-top: 0;
  padding: $space-m;

  &:hover,
  &:active {
    background-color: $gray;
    border-left: $narrow-nav-left-border;
  }
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__heading {
  color: $black;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__icon {
  stroke: $black;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__icon {
  font-weight: bold;
}

// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__details {
  border: 0;
  border-bottom: 2px solid $black-tint-50;
  padding: 0;
}
// Accordion Navigation Styles
.sprk-c-Accordion--navigation .sprk-c-Accordion__details .sprk-b-Link {
  display: block;

  &:hover,
  &:active,
  &:focus {
    background-color: $red-real;
    color: $white;
    text-decoration: none;
  }

  &::after {
    content: none;
  }
}
