// ==================================================================
// Accordions
// ==================================================================
.sprk-c-Accordion {
  margin: 0 auto;
  max-width: $accordion-max-width;
  width: 100%;
}

.sprk-c-Accordion__item {
  margin-bottom: $space-xs;

  &:first-child {
    border-top: $accordion-border;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sprk-c-Accordion__heading {
  flex: 1;
}

.sprk-c-Accordion__icon {
  flex: 0 0 auto;
  transition: transform $accordion-toggle-transistion-timing;
}

.sprk-c-Accordion__summary {
  align-items: center;
  color: $accordion-summary-color;
  display: flex;
  padding-bottom: $space-m;
  padding-top: $space-m;
  text-decoration: none;

  &:hover {
    color: $accordion-summary-active-color;
    text-decoration: none;
  }
}

.sprk-c-Accordion__summary--open .sprk-c-Accordion__heading {
  font-weight: bold;
}

.sprk-c-Accordion__summary--open .sprk-c-Accordion__icon {
  color: $accordion-summary-active-color;
  transform: rotate(180deg);
  transform-origin: center;
}

.sprk-c-Accordion__details {
  border-bottom: $accordion-border;
  overflow: hidden;
  transition: height $accordion-toggle-transistion-timing;
}

.sprk-c-Accordion__content {
  padding-bottom: $space-l;
}

.sprk-c-Accordion__details--open {
  border-bottom: $accordion-border-open;
}

.sprk-c-Accordion__details:not(.sprk-c-Accordion__details--open) {
  height: 0;
}

// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation {
  border-top: 2px solid $black-50;
}

.sprk-c-Accordion--navigation .sprk-c-Accordion__item {
  margin: 0;

  &:first-child {
    border-top: 0;
  }
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__summary--open {
  background-color: $red-real;
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__summary {
  border: 2px solid $black-50;
  border-top: 0;
  padding: $space-m;

  &:hover,
  &:active {
    border-bottom: 2px solid $black-50;
    background-color: $red-real;
    color: $white;
  }
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__heading {
  color: $red-real;
  text-transform: uppercase;
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__icon {
  color: $red-real;
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__heading,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary--open
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:hover
.sprk-c-Accordion__icon,
.sprk-c-Accordion--navigation
.sprk-c-Accordion__summary:active
.sprk-c-Accordion__icon {
  color: $white;
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__details {
  border: 0;
  border-bottom: 2px solid $black-50;
  padding: 0;
}
// Accordion Navigation Styles TODO: FALL
.sprk-c-Accordion--navigation .sprk-c-Accordion__details .sprk-b-Link {
  display: block;

  &:hover,
  &:active,
  &:focus {
    background-color: $red-real;
    color: $white;
    text-decoration: none;
  }
}
