// ==================================================================
// Alerts
// ==================================================================
.sprk-c-Alert {
  align-items: center;
  justify-content: center;
  background-color: $alert-bg-color;
  border: $alert-border;
  box-shadow: $alert-shadow;
  display: flex;
  transition: box-shadow 0.3s ease-in-out, color 0.4s ease-in-out;
}

.sprk-c-Alert--info {
  border-color: $alert-color-info;
  box-shadow: $alert-shadow, $alert-shadow-info;

  .sprk-c-Alert__icon:first-child {
    color: $alert-color-info;
  }

  &:hover {
    box-shadow: $alert-shadow, $alert-shadow-hover-info;

    .sprk-c-Alert__icon--dismiss {
      color: $white;
    }
  }
}

.sprk-c-Alert--success {
  border-color: $alert-color-success;
  box-shadow: $alert-shadow, $alert-shadow-success;

  .sprk-c-Alert__icon:first-child {
    color: $alert-color-success;
  }

  &:hover {
    box-shadow: $alert-shadow, $alert-shadow-hover-success;

    .sprk-c-Alert__icon--dismiss {
      color: $white;
    }
  }
}

.sprk-c-Alert--fail {
  border-color: $alert-color-fail;
  box-shadow: $alert-shadow, $alert-shadow-fail;

  .sprk-c-Alert__icon:first-child {
    color: $alert-color-fail;
  }

  &:hover {
    box-shadow: $alert-shadow, $alert-shadow-hover-fail;

    .sprk-c-Alert__icon--dismiss {
      color: $white;
    }
  }
}

.sprk-c-Alert--no-dismiss {
  box-shadow: $alert-shadow;

  &:hover {
    box-shadow: $alert-shadow;
  }
}

.sprk-c-Alert__content {
  display: flex;
  align-items: center;
  padding: $space-m;
}

.sprk-c-Alert__content,
.sprk-c-Alert__icon .sprk-c-Icon {
  flex: 1;
}

.sprk-c-Alert__icon {
  flex: 0 0 auto;

  &:first-child {
    margin-right: $space-m;
  }
}

.sprk-c-Alert__icon--dismiss {
  align-self: flex-start;
  background-color: transparent;
  border: 0;
  color: $black-tint-50;
  padding: $space-m;
}

.sprk-c-Alert__icon,
.sprk-c-Alert__icon--dismiss .sprk-c-Icon {
  stroke: currentColor;
  fill: currentColor;
}

.sprk-c-Alert .sprk-c-Icon {
  height: $alert-icon-size;
  width: $alert-icon-size;
}
