// ==================================================================
// Buttons
// ==================================================================
.sprk-c-Button {
  transition: border-color $btn-transition-speed,
    background-color $btn-transition-speed;

  &:active,
  &:focus,
  &:hover {
    background-color: $btn-hover-background-color;
    border-color: $btn-hover-background-color;
    color: $btn-text-color;
  }

  &:visited {
    color: $btn-text-color;
  }
}

.sprk-c-Button--full\@sm {
  width: 100%;

  @media screen and (min-width: $btn-breakpoint) {
    width: auto;
  }
}

.sprk-c-Button--secondary {
  background-color: transparent;
  border-color: transparent;
  color: $black;
  text-transform: uppercase;

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $black;
  }

  &:visited {
    color: $black;
  }

  &:hover::after {
    animation: width-zero-to-full $btn-transition-speed ease-in-out;
  }

  &::after {
    content: '';
    border-bottom: ($btn-border-width + 1px) solid $btn-border-color;
    display: block;
    width: 100%;
    padding-top: $space-xs;
    margin: 0 auto;
  }
}

.sprk-c-Button--tertiary {
  background-color: transparent;
  border: $btn-border-width solid $black;
  color: $black;

  &:active,
  &:focus,
  &:hover {
    background-color: $black;
    border: $btn-border-width solid $black;
    color: $white;
  }

  &:visited {
    color: $btn-text-color;
  }
}

// TODO: need disabled btn
.sprk-c-Button.sprk-is-Disabled,
.sprk-c-Button[disabled] {
  &:active,
  &:focus,
  &:hover {
    background-color: $btn-disabled-background-color;
    border-color: transparent;
    color: $black;
  }

  &:visited {
    color: $btn-text-color;
  }
}
