// ==================================================================
// Buttons
// ==================================================================
.sprk-c-Button {
  transition: all $btn-transition-speed;
  border-radius: $btn-border-radius;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-hover-background-color;
    border-color: $btn-hover-background-color;
    color: $btn-hover-text-color;
    box-shadow: $btn-shadow;
  }

  &:visited {
    color: $btn-text-color;
  }
}

.sprk-c-Button--compact {
  padding: $space-inset-short-m;
}

.sprk-c-Button--full\@xs {
  width: 100%;

  @media screen and (min-width: $btn-breakpoint-xs) {
    width: auto;
  }
}

.sprk-c-Button--full\@sm {
  width: 100%;

  @media screen and (min-width: $btn-breakpoint-s) {
    width: auto;
  }
}

.sprk-c-Button--secondary {
  background-color: $btn-secondary-background-color;
  border: $btn-border-width $btn-border-style $btn-secondary-border-color;
  color: $btn-secondary-text-color;

  &:visited {
    color: $btn-secondary-text-color;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: $btn-secondary-hover-shadow;
    background-color: $btn-secondary-hover-background-color;
    border: $btn-border-width $btn-border-style $btn-secondary-hover-border-color;
    color: $btn-secondary-hover-text-color;
  }
}

.sprk-c-Button--tertiary {
  background-color: $btn-tertiary-background-color;
  box-shadow: none;
  border: $btn-tertiary-border;
  color: $btn-tertiary-text-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-tertiary-hover-background-color;
    color: $btn-tertiary-hover-text-color;
    box-shadow: $btn-tertiary-hover-shadow;
  }

  &:visited {
    color: $btn-tertiary-text-color;
  }

  &::after {
    content: '';
    border-bottom: $btn-tertiary-underline-width solid $btn-tertiary-underline-color;
    display: block;
    width: 100%;
    padding-top: $btn-tertiary-underline-padding-top;
    margin: 0 auto;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    border-color: $btn-tertiary-hover-underline-color;
    transition: border $btn-transition-speed ease-in-out;
  }
}

.sprk-c-Button.sprk-is-Disabled,
.sprk-c-Button[disabled] {
  box-shadow: $btn-disabled-shadow;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-disabled-background-color;
    border-color: $btn-disabled-border-color;
    color: $btn-disabled-text-color;
  }

  &:visited {
    color: $btn-disabled-text-color;
  }
}

.sprk-c-Button--secondary.sprk-is-Disabled,
.sprk-c-Button--secondary[disabled] {
  box-shadow: $btn-secondary-disabled-shadow;
  background-color: $btn-secondary-disabled-background-color;
  border-color: $btn-secondary-disabled-border-color;
  color: $btn-secondary-disabled-text-color;
}

.sprk-c-Button--tertiary.sprk-is-Disabled,
.sprk-c-Button--tertiary[disabled] {
  box-shadow: $btn-tertiary-disabled-shadow;
  border: $btn-tertiary-disabled-border;
  color: $btn-tertiary-disabled-text-color;
  background-color: $btn-tertiary-disabled-background-color;
}
