// ==================================================================
// Buttons
// ==================================================================
.sprk-c-Button {
  box-shadow: $btn-shadow;
  transition: all $btn-transition-speed;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-hover-background-color;
    border-color: $btn-hover-background-color;
    color: $btn-hover-text-color;
  }

  &:visited {
    color: $btn-text-color;
  }
}

.sprk-c-Button--full\@sm {
  width: 100%;

  @media screen and (min-width: $btn-breakpoint) {
    width: auto;
  }
}

.sprk-c-Button--secondary {
  background-color: $btn-secondary-background-color;
  box-shadow: none;
  border: $btn-border-width $btn-border-style $btn-secondary-border-color;
  color: $btn-secondary-text-color;

  &:visited {
    color: $btn-secondary-text-color;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-secondary-hover-background-color;
    border: $btn-border-width $btn-border-style $btn-secondary-hover-border-color;
    color: $btn-secondary-hover-text-color;
  }
}

.sprk-c-Button--tertiary {
  background-color: $btn-tertiary-background-color;
  box-shadow: none;
  border-color: $btn-tertiary-border-color;
  color: $btn-tertiary-text-color;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-tertiary-hover-background-color;
    border-color: $btn-tertiary-border-color;
    color: $btn-tertiary-hover-text-color;
  }

  &:visited {
    color: $btn-tertiary-text-color;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    border-color: $btn-tertiary-hover-line-color;
    animation: width-zero-to-full $btn-transition-speed ease-in-out;
  }

  &::after {
    content: '';
    border-bottom: ($btn-border-width + 1px) solid $btn-tertiary-text-color;
    display: block;
    width: 100%;
    padding-top: $space-xs;
    margin: 0 auto;
  }
}

.sprk-c-Button.sprk-is-Disabled,
.sprk-c-Button[disabled] {
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-disabled-background-color;
    border-color: $btn-disabled-border-color;
    color: $btn-disabled-text-color;
  }

  &:visited {
    color: $btn-disabled-text-color;
  }
}
