.sprk-c-Carousel__frame {
  width: 100%;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.sprk-c-Carousel__frame-item {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: $sprk-font-size-body-two;
  line-height: $sprk-line-height-body-two;
  color: $sprk-white;
  width: 100%;
}

.sprk-c-Carousel__slides {
  display: inline-block;
}

.sprk-c-Carousel__controls {
  @media (min-width: $sprk-split-breakpoint-xl) {
    display: none;
  }
}

.sprk-c-Carousel__prev,
.sprk-c-Carousel__next {
  display: block;
  cursor: pointer;
  color: $sprk-carousel-arrow-color;
}

.sprk-c-Carousel__dots {
  display: flex;
  justify-content: center;
  padding: $space-m;

  @media (min-width: $sprk-split-breakpoint-xl) {
    display: none;
  }
}

.sprk-c-Carousel__dot {
  border-radius: 50%;
  border: $sprk-carousel-dot-border;
  cursor: pointer;
  display: block;
  height: $sprk-carousel-dot-height;
  margin-right: $sprk-carousel-dot-spacing;
  width: $sprk-carousel-dot-width;
}

.sprk-c-Carousel__dot:last-child {
  margin-right: 0;
}

.sprk-c-Carousel__dot--active {
  background-color: $sprk-white;
  box-shadow: $sprk-carousel-dot-selected;
}
