// ==================================================================
// Date Picker
// ==================================================================
.sprk-b-InputContainer[data-sprk-datepicker] .sprk-b-TextInput[readonly] {
  color: $black;
  background-color: $white;
  box-shadow: $input-box-shadow;
}

/* stylelint-disable selector-class-pattern */
.dp {
  background: $white;
  box-shadow: $date-picker-box-shadow;
  font-family: $sprk-date-picker-font-family;
  font-size: $font-size-body-four;
  padding: $space-inset-s;
  position: relative;
  max-width: $date-picker-max-width;

  @media (min-width: $date-picker-max-width) {
    padding: $space-inset-m;
  }
}

.dp::before {
  position: absolute;
}

.dp-is-below {
  // for the little arrow above the dp box
  &::after,
  &::before {
    border: solid transparent;
    bottom: 99%;
    content: '';
    left: $space-l;
    position: absolute;
  }

  &::after {
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
  }

  &::before {
    border-bottom-color: $gray;
    border-width: 12px;
    margin-left: -12px;
  }
}

.dp-is-above {
  // for the little arrow below the dp box
  &::after,
  &::before {
    border: solid transparent;
    content: '';
    left: $space-l;
    position: absolute;
    top: 99%;
    transform: rotate(180deg);
  }

  &::after {
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
  }

  &::before {
    border-bottom-color: $gray;
    border-width: 12px;
    margin-left: -12px;
  }
}

.dp-header {
  display: flex;
}

.dp-prev {
  flex: 0.5;
}

.dp-next {
  flex: 0.5;
}

.dp-year,
.dp-month,
.dp-cal-header button {
  background: none;
  border: 2px solid transparent;
  margin: 0 0.2rem;
  padding: 0 0.2rem;
}

// hiding the footer functionality
.dp-cal-footer {
  display: none;
}

.dp-col-header {
  border-bottom: 1px solid $gray;
  display: inline-block;
  font-size: $font-size-body-three;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  max-width: $date-picker-button-size + $date-picker-column-adjustment-x;
  width: 100%;
}

.dp-day {
  background: none;
  border: 2px solid transparent;
  border-radius: 50%;
  font-size: 1rem;
  height: $date-picker-button-size;
  line-height: 1;
  padding: 6px;
  margin: 0 2px;
  width: $date-picker-button-size;
}

.dp-day:first-child {
  margin-left: 0;
}

.dp-day:nth-child(7n) {
  margin-right: 0;
}

.dp-day::selection {
  user-select: none;
}

.dp-current,
.dp-selected,
.dp-day:hover {
  background: $date-picker-day-interact-color;
  color: $white;
  outline: 0;
  border-color: $date-picker-day-interact-color;
}

.dp-day:hover {
  background: none;
  color: $black;
}

.dp-day-disabled,
.dp-edge-day {
  color: $black-tint-50;
}

.dp-day-today::after {
  background-color: $date-picker-day-interact-color;
  border-radius: 50%;
  display: block;
  content: '';
  height: 5px;
  width: 5px;
  margin: 2px auto;
}

.dp-current.dp-day-today::after {
  background-color: $white;
}

.dp-current.dp-day-today:hover::after {
  background-color: $date-picker-day-interact-color;
}

.dp-cal-header {
  display: flex;
  padding-bottom: $space-s;
}

.dp-cal-month,
.dp-cal-year {
  font-size: $font-size-display-six;
}

.dp-next,
.dp-prev {
  background: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 0;
  height: 35px;
  overflow: hidden;
  top: $space-m;
  width: 35px;
  // to make them look like carets, rather than have text
  &::before {
    border: 2px solid $black;
    content: '';
    display: inline-block;
    height: 10px;
    margin: 13px 0 40px;
    transform: rotate(-45deg);
    transition: border-color 0.2s;
    width: 10px;
  }
}

// caret-right
.dp-next::before {
  border-left: 0;
  border-top: 0;
  float: right;
  margin-left: 0;
}

// caret-left
.dp-prev::before {
  border-right: 0;
  border-bottom: 0;
  float: left;
  margin-left: 0;
  margin-right: 4px;
}

.dp-years {
  max-height: 500px;
  overflow: scroll;
  padding: $space-m;
}

.dp-year {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.dp-below {
  margin-top: $space-m;
  position: absolute;
  z-index: $layer-height-m;

  @media (max-width: $date-picker-max-width) {
    left: 0 !important;
    margin: 2px !important;
  }
}

/* stylelint-enable selector-class-pattern */
