.sprk-b-HeadingDivider {
  border-bottom: 2px solid $gray-medium;
  margin-bottom: 1rem;
}

.sprk-b-BodyDivider {
  display: block;
  border: 0;
  border-bottom: 2px solid $gray-medium;
  margin-top: 0;
  margin-bottom: 1rem;
}
