// ==================================================================
// Dividers
// ==================================================================

//
// Available Variables
///
$divider-border: 2px solid $gray-medium;

hr,
.sprk-c-Divider {
  display: block;
  border-bottom: $divider-border;
  margin-bottom: $space-m;
  margin-top: $space-m;
}
