// ==================================================================
// Dividers
// ==================================================================
hr,
.sprk-c-Divider {
  display: block;
  border-bottom: $spark-divider-border;
  margin-bottom: $spark-space-m;
  margin-top: $spark-space-m;
}
