$dropdown-padding: $space-l;
$dropdown-border: 1px solid $black-tint-25;
$dropdown-active-background-color: $gray;
$dropdown-active-border: 1.5px solid $red;
$dropdown-active-box-shadow: -2px 0 0 0 $red;
$dropdown-max-width: 24rem;

.sprk-c-Dropdown {
  background-color: $white;
  border: $dropdown-border;
  max-width: $dropdown-max-width;
  position: absolute;
  margin-top: $space-xs;
  width: 100%;
  z-index: $layer-height-m;
}

.sprk-c-Dropdown__header {
  border-bottom: $dropdown-border;
  padding: $dropdown-padding;
}

.sprk-c-Dropdown__footer {
  padding: $dropdown-padding;
}

.sprk-c-Dropdown__links {
  list-style-type: none;
}

.sprk-c-Dropdown__link {
  color: $black;
  display: block;
  padding: $dropdown-padding;
  text-decoration: none;

  &:hover {
    background-color: $dropdown-active-background-color;
  }
}

.sprk-c-Dropdown__link--active {
  box-shadow: $dropdown-active-box-shadow;
  border-left: $dropdown-active-border;
  background-color: $dropdown-active-background-color;
}
