$dropdown-padding: $space-l;

.sprk-c-Dropdown {
  background-color: $white;
  border: 1px solid $black-tint-25;
  max-width: 320px;
  position: absolute;
  z-index: $layer-height-m;
}

.sprk-c-Dropdown__header {
  border-bottom: 1px solid $black-tint-25;
  padding: $dropdown-padding;
}

.sprk-c-Dropdown__footer {
  padding: $dropdown-padding;
}

.sprk-c-Dropdown__links {
  list-style-type: none;
}

.sprk-c-Dropdown__link {
  color: $black;
  display: block;
  padding: $dropdown-padding;
  text-decoration: none;

  &:hover {
    background-color: $gray;
  }
}

.sprk-c-Dropdown__link--active {
  box-shadow: -2px 0 0 0 $red;
  border-left: 1.5px solid $red;
  background-color: $gray;
}
