// ==================================================================
// Footer
// ==================================================================

//
// Available Variables
///
$footer-breakpoint: 53.125rem;

.sprk-c-Footer {
  padding: $space-m;
}

.sprk-c-Footer__cols {
  flex-direction: column;

  @media all and (min-width: $footer-breakpoint) {
    flex-direction: row;
  }
}

.sprk-c-Footer__col {
  margin-bottom: $space-m;

  &:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: $footer-breakpoint) {
    margin-bottom: 0;
  }
}

.sprk-c-Footer__muted-link {
  color: $gray-dark;

  &:visited {
    color: $gray-dark;
  }

  &:hover,
  &:active,
  &:focus {
    color: $gray-dark;
  }
}

//
// Default Stack
///
.sprk-o-Stack {
  display: flex;
  flex-direction: column;
}

// Stack items retain their original width
.sprk-o-Stack__item {
  flex: 0 0 auto;
}

//
// Stack spacing modifiers
///
.sprk-o-Stack--tiny > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-tiny;
}

.sprk-o-Stack--small > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-small;
}

.sprk-o-Stack--medium > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-medium;
}

.sprk-o-Stack--large > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-large;
}

.sprk-o-Stack--huge > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-huge;
}

// We want the last item to not have a bottom margin
.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
  margin-bottom: 0;
}

//
// Split at extra small breakpoint
///
.sprk-o-Stack--split\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    // At extra small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at  small breakpoint
///
.sprk-o-Stack--split\@s {
  @media all and (min-width: $split-breakpoint-s) {
    // At small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at medium breakpoint
///
.sprk-o-Stack--split\@m {
  @media all and (min-width: $split-breakpoint-m) {
    // At medium breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at large breakpoint
///
.sprk-o-Stack--split\@l {
  @media all and (min-width: $split-breakpoint-l) {
    // At large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at extra large breakpoint
///
.sprk-o-Stack--split\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    // At extra large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}
