// ==================================================================
// Hamburger
// ==================================================================
.sprk-c-Hamburger {
  border: 0;
  background-color: $sprk-white;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.sprk-c-Hamburger__icon {
  stroke: $sprk-black;
}

.sprk-c-Hamburger__line {
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.sprk-c-Hamburger__line--one {
  transform-origin: 1rem 1.5rem;
}

.sprk-c-Hamburger__line--three {
  transform-origin: 1rem 2.5rem;
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--one {
  transform: rotate(45deg);
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--two {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: scale(0.01);
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--three {
  transform: rotate(-45deg);
}
