// ==================================================================
// Hamburger
// ==================================================================
.sprk-c-Hamburger {
  border: 0;
  background: $white;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.sprk-c-Hamburger__icon {
  fill: $blue-medium;
}

.sprk-c-Hamburger__line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.sprk-c-Hamburger__line--one {
  transform-origin: .7em 1.9em;
}

.sprk-c-Hamburger__line--three {
  transform-origin: .8em 3.4em;
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--one {
  transform: rotate(45deg) translateY(0) translateX(0);
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--two {
  opacity: 0;
}

.sprk-c-Hamburger__icon--open .sprk-c-Hamburger__line--three {
  transform: rotate(-45deg) translateY(0) translateX(0);
}
