// ==================================================================
// Icons
// ==================================================================
.sprk-c-Icon {
  height: 1rem;
  width: auto;
}

.sprk-c-Icon--big {
  height: 1.38084rem;
}

.sprk-c-Icon--huge {
  height: 1.90672rem;
}
