// ==================================================================
// Icons
// ==================================================================
.sprk-c-Icon {
  height: 1rem;
  width: auto;
}

.sprk-c-Icon--small {
  height: 0.824rem;
}

.sprk-c-Icon--large {
  height: 2rem;
}
