// ==================================================================
// Icons
// ==================================================================
.sprk-c-Icon {
  height: $icon-m;
  width: $icon-m;

  @if ($icon-using-custom-fill) {
    fill: currentColor;
  }
  @if ($icon-using-custom-stroke) {
    stroke: currentColor;
    stroke-width: $icon-custom-stroke-width-xl;
  }
}

@if ($icon-using-custom-stroke) {
  /* required for css to override svg presentational attributes */
  svg text {
    stroke-width: 0;
  }

  svg circle,
  svg rect,
  svg path,
  svg g {
    stroke: inherit;
    stroke-width: inherit;
  }
}

.sprk-c-Icon--l {
  height: $icon-l;
  width: $icon-l;
  stroke-width: $icon-custom-stroke-width-l;
}

.sprk-c-Icon--xl {
  height: $icon-xl;
  width: $icon-xl;
  stroke-width: $icon-custom-stroke-width-m;
}

.sprk-c-Icon--xxl {
  height: $icon-xxl;
  width: $icon-xxl;
  stroke-width: $icon-custom-stroke-width-s;
}

// Initial state for icons that will be toggled
.sprk-c-Icon--toggle {
  transform-origin: center;
  transition: transform $toggle-transistion-timing;
}

.sprk-c-Icon--open {
  transform: rotate(-180deg);
}
