// ==================================================================
// Input Component
// ==================================================================

.sprk-b-TextInput,
textarea {
  color: $gray-dark;
  outline: none;
  font-size: ms(0); // set again to prevent mobile safari zooming

  &:focus {
    border-color: $blue-medium;
    box-shadow: 0 0 0 3px $blue-medium;
  }
}

.sprk-b-TextInput--monetary {
  position: relative;

  &:before {
    content: '$';
    color: $gray-dark;
    position: absolute;
    top: .6rem;
    left: .55rem;
  }
}

.sprk-b-TextInput--date-picker {
  background-image: url('../images/calendar.svg');
  background-position: 5px 3px;
  padding-left: 3rem;
}

.sprk-b-TextInput--error {
  background-color: $red-light;
  border-color: $red-medium;

  &:focus {
    border-color: $red-medium;
    box-shadow: 0 0 0 3px $red-medium;
    background-color: $red-light;
  }
}
