.sprk-b-List--indented,
.sprk-b-List--unordered {
  padding-left: 1.1rem;
}

.sprk-b-List--ordered {
  padding-left: 1.1rem;
}

.sprk-b-List--indented {
  padding-left: 1.21rem;
  margin-left: 1rem;
}

.sprk-b-List--bare {
  list-style-type: none;
}
