// ==================================================================
// Masthead
// ==================================================================

//
// Available Variables
///
$main-nav-breakpoint: 46rem !default;
$masthead-column-width: 64rem !default;

.sprk-c-Masthead {
  background-color: $white;
  border-bottom: 2px solid #ccc;
  padding: 1rem;
  position: fixed;
  width: 100%;

  @media all and (min-width: $main-nav-breakpoint) {
    border: none;
    position: static;
    padding: 1rem 0;
  }
}

.sprk-c-Masthead__top-row {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: $masthead-column-width;

  @media all and (min-width: $main-nav-breakpoint) {
    justify-content: space-between;
    margin: 0 auto 2rem auto;
  }
}

.sprk-c-Masthead__logo {
  margin: auto;
  @media all and (min-width: $main-nav-breakpoint) {
    margin: 0;
  }
}

.sprk-c-Masthead__hamburger {
  margin-right: 1rem;
  @media all and (min-width: $main-nav-breakpoint) {
    display: none;
  }
}

.sprk-c-Masthead__secondary-nav {
  display: none;
  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    margin-left: auto;
  }
}

.sprk-c-Masthead__secondary {
  display: none;

  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    text-align: right;
    max-width: $masthead-column-width;
    margin: -2rem auto 1rem auto;
    width: 100%;
  }
}

.sprk-c-Masthead__search {
  display: none;
  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    margin-left: 1rem;
  }
}

//TODO: fix this about inputs?
.sprk-c-Masthead__search .sprk-b-InputContainer {
  margin-bottom: 0;
}

.sprk-c-Masthead__wide-navigation-container {
  display: none;
  @media (min-width: $main-nav-breakpoint) {
    display: block;
  }
}

.sprk-c-Masthead__narrow-navigation-container {
  display: none;
}
