// ==================================================================
// Masthead
// ==================================================================

//
// Available Variables
///
$main-nav-breakpoint: 46rem !default;
$masthead-column-width: 64rem !default;
$mobile-masthead-height: 6.7rem !default;

.sprk-c-Masthead {
  background-color: $white;
  height: 100%;
}

.sprk-c-Masthead__content {
  background-color: $white;
  border-bottom: 2px solid $gray-medium;
  padding: $space-m 0;
  position: fixed;
  width: 100%;
  z-index: 1004;

  @media all and (min-width: $main-nav-breakpoint) {
    border: none;
    position: static;
  }
}

.sprk-c-Masthead__top-row {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: $masthead-column-width;
  padding: 0 $space-m;

  @media all and (min-width: $main-nav-breakpoint) {
    justify-content: space-between;
    margin: 0 auto $space-l;
  }
}

.sprk-c-Masthead__logo {
  margin: auto;

  @media all and (min-width: $main-nav-breakpoint) {
    margin: 0 1rem 0 0;
  }
}

.sprk-c-Masthead__hamburger {
  margin-right: $space-m;
  @media all and (min-width: $main-nav-breakpoint) {
    display: none;
  }
}

.sprk-c-Masthead__secondary-nav {
  display: none;

  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    margin-left: auto;
  }
}

.sprk-c-Masthead__secondary {
  display: none;

  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    max-width: $masthead-column-width;
    margin: -2rem auto $space-m;
    padding: 0 $space-m;
    text-align: right;
    width: 100%;
  }
}

.sprk-c-Masthead__search {
  display: none;

  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    margin-left: $space-m;
  }
}

.sprk-c-Masthead__wide-navigation-container {
  display: none;

  @media (min-width: $main-nav-breakpoint) {
    display: block;
  }
}

.sprk-c-Masthead__narrow-navigation-container {
  background-color: $white;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: $mobile-masthead-height;
  padding-bottom: $mobile-masthead-height; // so that the scroll has enough room to reach the bottom item
  width: 100%;
}
