// ==================================================================
// Masthead
// ==================================================================
.sprk-c-Masthead {
  background-color: $sprk-masthead-bg-color;
  border-bottom: $sprk-masthead-border-bottom;
  box-shadow: $sprk-masthead-shadow;
  position: sticky;
  top: 0;
  z-index: $sprk-layer-height-m;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    border-bottom: $sprk-masthead-border-bottom-wide;
    box-shadow: $sprk-masthead-shadow-wide;
  }
}

.sprk-c-Masthead--open {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    position: sticky;
    height: auto;
  }
}

.sprk-c-Masthead__menu,
.sprk-c-Masthead__branding,
.sprk-c-Masthead__little-nav {
  padding-top: $sprk-masthead-content-item-padding-top;
  padding-left: $sprk-masthead-content-item-padding-left;
  padding-right: $sprk-masthead-content-item-padding-right;
  padding-bottom: $sprk-masthead-content-item-padding-bottom;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    padding-top: $sprk-masthead-content-item-padding-top-wide;
    padding-left: $sprk-masthead-content-item-padding-left-wide;
    padding-right: $sprk-masthead-content-item-padding-right-wide;
    padding-bottom: $sprk-masthead-content-item-padding-bottom-wide;
  }
}

.sprk-c-Masthead__content {
  padding: $sprk-masthead-content-padding;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    margin: 0 auto;
    max-width: $sprk-masthead-column-width;
    padding: $sprk-masthead-content-padding-wide;
  }
}

.sprk-c-Masthead--open .sprk-c-Masthead__content {
  border-bottom: $sprk-masthead-border-bottom;
  box-shadow: $sprk-masthead-shadow;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    // Prevents narrow nav box-shadow and
    // border styles from showing on large viewports
    // in scenario where nav is open and viewport
    // is expanded
    box-shadow: $sprk-masthead-shadow-wide;
    border-bottom: $sprk-masthead-border-bottom-wide;
  }
}
// Hide menu on larger views
.sprk-c-Masthead__menu {
  @media all and (min-width: $sprk-masthead-breakpoint) {
    display: none;
  }
}

.sprk-c-Masthead__menu .sprk-c-Menu__icon {
  width: $sprk-masthead-menu-icon-width;
  height: $sprk-masthead-menu-icon-height;
}

.sprk-c-Masthead__branding {
  margin: 0 auto;

  @media (min-width: $sprk-split-breakpoint-xxs) {
    padding-right: (($sprk-masthead-content-padding + $sprk-masthead-content-item-padding-left + $sprk-masthead-content-item-padding-right) + $sprk-masthead-menu-icon-width); // Centers logo on narrow by adding space on right to balance menu space on left
  }
  @media (min-width: $sprk-masthead-breakpoint) {
    padding-right: $sprk-masthead-content-item-padding-right-wide;
  }
}

.sprk-c-Masthead__logo {
  max-width: $sprk-masthead-logo-max-width;
  min-width: $sprk-masthead-logo-min-width;
}

// Hide big and little navs until larger view
.sprk-c-Masthead__big-nav,
.sprk-c-Masthead__little-nav {
  display: none;

  @media (min-width: $sprk-masthead-breakpoint) {
    display: inherit;
  }
}

.sprk-c-Masthead__little-nav {
  flex-wrap: wrap;
}

.sprk-c-Masthead__site-links {
  position: relative;

  @media all and (min-width: $sprk-masthead-breakpoint) {
    border-right: 2px solid $sprk-black-tint-25;
    padding-right: $sprk-space-l;
  }
}

.sprk-c-Masthead__link {
  font-weight: $sprk-masthead-link-font-weight;

  &:visited {
    color: $sprk-masthead-link-visited-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $sprk-masthead-link-hover-color;
  }
}

.sprk-c-Masthead__link--big-nav {
  padding: 0 $sprk-space-m;
}

.sprk-c-Masthead__big-nav {
  background-color: $sprk-big-nav-bg;
  padding-top: $sprk-space-s;
}

.sprk-c-Masthead__big-nav-items {
  position: relative;
  margin: 0 auto;
  max-width: $sprk-big-nav-column-width;
}

.sprk-c-Masthead__big-nav-item {
  line-height: $sprk-space-misc-c;
  position: relative;
  text-align: center;
  white-space: nowrap;

  @include HoverLine($sprk-hoverline-color: transparent, $sprk-hoverline-width: 100%);

  display: block;

  &:active,
  &:focus,
  &:hover {
    @include HoverLine($sprk-hoverline-color: $sprk-big-nav-active-color, $sprk-hoverline-width: 100%);
  }
}

.sprk-c-Masthead__big-nav-item--active > .sprk-c-Masthead__link--big-nav {
  color: $sprk-big-nav-active-color;
  font-weight: $sprk-big-nav-link-font-weight;
}

.sprk-c-Masthead__big-nav-item:focus-within,
.sprk-c-Masthead__big-nav-item--open,
.sprk-c-Masthead__big-nav-item--active {
  @include HoverLine($sprk-hoverline-color: $sprk-big-nav-active-color, $sprk-hoverline-width: 100%);
}

// Hide narrow nav on larger views
.sprk-c-Masthead__narrow-nav {
  background-color: $sprk-white;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: $sprk-mobile-masthead-height + $sprk-masthead-content-item-padding-top + $sprk-masthead-content-item-padding-top + $sprk-masthead-menu-icon-height + $sprk-masthead-border-bottom-size;   // Adds extra space to account for logo dropping under menu<320px
  padding-bottom: $sprk-mobile-masthead-height + $sprk-masthead-content-item-padding-top + $sprk-masthead-content-item-padding-top + $sprk-masthead-menu-icon-height + $sprk-masthead-border-bottom-size; // So the scroll has enough room to reach the bottom item
  width: 100%;

  @media (min-width: $sprk-split-breakpoint-xxs) {
    top: $sprk-mobile-masthead-height + $sprk-masthead-border-bottom-size; // Extra space for border
    padding-bottom: $sprk-mobile-masthead-height + $sprk-masthead-border-bottom-size; // Extra space for border
  }
  @media (min-width: $sprk-masthead-breakpoint) {
    display: none;
  }
}
