// ==================================================================
// Masthead
// ==================================================================
.sprk-c-Masthead {
  background-color: $masthead-bg-color;
  box-shadow: $dropdown-shadow;
  margin: 0 auto;
  max-width: $masthead-column-width;
  position: sticky;
  top: 0;
  z-index: $layer-height-m;

  @media all and (min-width: $main-nav-breakpoint) {
    border-bottom: 1px solid $gray;
  }
}

// Hide menu on larger views
.sprk-c-Masthead__menu {
  @media all and (min-width: $main-nav-breakpoint) {
    display: none;
  }
}

.sprk-c-Masthead__logo {
  margin: 0 auto;
  max-width: $masthead-logo-max-width;
}

// Hide big and little navs until larger view
.sprk-c-Masthead__big-nav,
.sprk-c-Masthead__little-nav {
  display: none;

  @media (min-width: $main-nav-breakpoint) {
    display: inherit;
  }
}

.sprk-c-Masthead__little-nav {
  flex-wrap: wrap;
}

.sprk-c-Masthead__site-links {
  @media all and (min-width: $main-nav-breakpoint) {
    border-right: 1px solid $black-tint-25;
    padding-right: $space-l;
  }
}

.sprk-c-Masthead__link {
  font-weight: $font-weight-body-one;

  &:visited {
    color: $black;
  }
}

.sprk-c-Masthead__link--big-nav {
  @include HoverLine($color: transparent, $width: 85%);

  display: block;

  &:active,
  &:focus,
  &:hover {
    @include HoverLine($color: $big-nav-active-color, $width: 85%);
  }
}

.sprk-c-Masthead__big-nav {
  background-color: $big-nav-bg;
  padding-top: $space-s;
}

.sprk-c-Masthead__big-nav-items {
  position: relative;
  margin: 0 auto;
  max-width: $big-nav-column-width;
}

.sprk-c-Masthead__big-nav-item {
  line-height: $space-l;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.sprk-c-Masthead__big-nav-item--active > .sprk-c-Masthead__link--big-nav {
  color: $big-nav-active-color;
  font-weight: bold;
}

.sprk-c-Masthead__big-nav-item:focus-within > .sprk-c-Masthead__link--big-nav,
.sprk-c-Masthead__big-nav-item--open > .sprk-c-Masthead__link--big-nav,
.sprk-c-Masthead__big-nav-item--active > .sprk-c-Masthead__link--big-nav {
  &::after {
    background-color: $big-nav-active-color;
    content: ' ';
    height: 3px;
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

// Hide narrow nav on larger views
.sprk-c-Masthead__narrow-nav {
  background-color: $white;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: $mobile-masthead-height;
  left: 0;
  padding-bottom: $mobile-masthead-height; // so that the scroll has enough room to reach the bottom item
  width: 100%;

  @media (min-width: $main-nav-breakpoint) {
    display: none;
  }
}
