// ==================================================================
// Modals
// ==================================================================

//
// Available Variables
///
$modal-mask-color: rgba(34, 34, 34, 0.35);

.sprk-c-Modal,
.sprk-c-ModalMask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sprk-c-Modal {
  background-color: $white;
  margin-right: auto;
  margin-left: auto;
  max-width: 43.75em;
  right: 0;
  z-index: 1006;

  @media all and (min-width: 300px) and (min-height: 300px) {
    top: 30%;
  }
}

.sprk-c-Modal__header {
  background-color: $blue-medium;
}

.sprk-c-Modal__header .sprk-b-TypeDisplayThree {
  color: $white;
}

.sprk-c-Modal__header,
.sprk-c-Modal__body,
.sprk-c-Modal__footer {
  padding: $space-inset-m;
}

.sprk-c-Modal__body {
  padding-top: $space-l;
}

.sprk-c-ModalMask {
  background-color: $modal-mask-color;
  height: 100%;
  z-index: 1005;
}
