// ==================================================================
// Modals
// ==================================================================

//
// Available Variables
///
$modal-mask-color: rgba(34, 34, 34, 0.35);
$modal-max-width: 43.75rem;
$modal-height: 70%;
$modal-breakpoint-small: 25rem;
$modal-breakpoint-medium: 37.5rem;

.sprk-c-Modal,
.sprk-c-ModalMask {
  left: 0;
  position: fixed;
}

.sprk-c-ModalMask {
  background-color: $modal-mask-color;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: $layer-height-l;
}

.sprk-c-Modal {
  background-color: $white;
  margin-right: auto;
  margin-left: auto;
  max-width: $modal-max-width;
  max-height: $modal-height;
  outline: 0;
  overflow-y: auto;
  right: 0;
  top: 5%;
  width: 95%;
  z-index: $layer-height-xl;

  @media all and (min-width: $modal-breakpoint-small) and (min-height: $modal-breakpoint-small) {
    top: 15%;
  }
  @media all and (min-width: $modal-breakpoint-medium) and (min-height: $modal-breakpoint-medium) {
    height: auto;
    top: 30%;
  }
}

.sprk-c-Modal__header {
  align-items: center;
  background-color: $blue-medium;
  display: flex;
  padding: $space-inset-m;
}

.sprk-c-Modal__heading {
  color: $white;
  flex: 1 1 auto;
  margin-right: $space-s;
}

.sprk-c-Modal__icon {
  align-self: start;
  background-color: transparent;
  border: 0;
  color: $white;
  flex: 0 1 auto;
}

.sprk-c-Modal__body {
  padding: $space-inset-tall-m;
}

.sprk-c-Modal__footer {
  padding: 0 $space-m $space-m;
}
