// ==================================================================
// Modals
// ==================================================================
.sprk-c-Modal,
.sprk-c-ModalMask {
  left: 0;
  position: fixed;
}

.sprk-c-ModalMask {
  background-color: $modal-mask-color;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: $layer-height-l;
}

.sprk-c-Modal {
  background-color: $modal-color;
  box-shadow: $modal-shadow;
  margin-right: auto;
  margin-left: auto;
  max-width: $modal-max-width;
  max-height: $modal-height;
  padding: $space-l;
  outline: 0;
  overflow-y: auto;
  right: 0;
  top: 5%;
  width: 95%;
  z-index: $layer-height-xl;

  @media all and (min-width: $modal-breakpoint-small) and (min-height: $modal-breakpoint-small) {
    top: 15%;
  }
  @media all and (min-width: $modal-breakpoint-medium) and (min-height: $modal-breakpoint-medium) {
    height: auto;
    top: 30%;
  }
}

.sprk-c-Modal--wait {
  text-align: center;
}

.sprk-c-Modal__header {
  display: flex;
}

.sprk-c-Modal--wait .sprk-c-Modal__body,
.sprk-c-Modal__header {
  align-items: center;
}

.sprk-c-Modal__heading {
  flex: 1 1 auto;
}

.sprk-c-Modal__icon {
  align-self: start;
  background-color: transparent;
  border: 0;
  color: $black-mid;
  flex: 0 1 auto;
}
