// ==================================================================
// Narrow Navigation
// ==================================================================
.sprk-c-NarrowNavigation {
  background-color: $white;
  border-top: 2px solid $gray-medium;
  list-style-type: none;
  width: 100%;
  z-index: 1006;
}

.sprk-c-NarrowNavigation--sub {
  border-bottom: 2px solid $gray-medium;
  border-top: 0;
  position: static;
}

.sprk-c-NarrowNavigation__link {
  border: 2px solid $gray-medium;
  border-top: 0;
  color: $blue-dark;
  display: block;
  padding: $space-inset-m;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $blue-dark;
    color: $white;
  }
}

.sprk-c-NarrowNavigation__link--sub {
  border: 0;
  text-transform: none;
}

.sprk-c-NarrowNavigation__arrow {
  float: right;
}

.sprk-c-NarrowNavigation__arrow--open {
  transform: rotate(180deg);
}

