// ==================================================================
// Navigation
// ==================================================================

//
// Available Variables
///
$main-nav-breakpoint: 46em;

.sprk-c-Navigation {
  background-color: $white;
  border-top: 2px solid $gray-medium;
  position: absolute;
  width: 100%;

  @media all and (min-width: $main-nav-breakpoint) {
    border-bottom: 2px solid $gray-medium;
    border-top: 0;
    // Makes each item equal width reguardless of number of items
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
  }
}

.sprk-c-Navigation,
.sprk-c-Navigation__sub {
  list-style-type: none;
}

.sprk-c-Navigation.sprk-is-Hidden\@sm {
  @media all and (max-width: $main-nav-breakpoint) {
    display: none;
  }
}

.sprk-c-Navigation__item {
  line-height: 3.19534rem;

  @media all and (min-width: $main-nav-breakpoint) {
    display: table-cell;
    line-height: 1.90672rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
}

.sprk-c-Navigation__item a {
  border: 2px solid $gray-medium;
  border-top: 0;
  color: $blue-dark;
  display: block;
  padding-left: 1.90672rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $blue-dark;
    color: $white;

    .sprk-c-Navigation__arrow {
      fill: $white;
    }
  }

  @media all and (min-width: $main-nav-breakpoint) {
    @include HoverLine($color: $white, $width: 85%);

    border: 0;
    padding-left: 0;

    &.sprk-c-Navigation__item--active,
    &:focus,
    &:hover {
      @include HoverLine($color: $blue-medium, $width: 85%);

      background-color: $white;
      color: $blue-medium;

      //
      // Kinda gross but need to change the color of this icon on
      // hover of nav item anchor
      //
      // stylelint-disable max-nesting-depth
      ///
      .sprk-c-Navigation__arrow {
        fill: $blue-medium;
      }
      // stylelint-enable
    }
  }
}

// Show the sub navigation on hover and focus
.sprk-c-Navigation__item:focus .sprk-c-Navigation__sub,
.sprk-c-Navigation__item:hover .sprk-c-Navigation__sub {
  @media all and (min-width: $main-nav-breakpoint) {
    display: block;
    position: absolute;
    z-index: 100;
  }
}

.sprk-c-Navigation__arrow {
  fill: $blue-dark;
  float: right;
  margin-right: 1.90672rem;
  margin-top: 1rem;
  width: 15px;

  @media all and (min-width: $main-nav-breakpoint) {
    fill: $blue-dark;
    float: none;
    margin-top: 0;
    margin-bottom: 0.27506rem;
    margin-left: 0.27506rem;
    margin-right: 0;
  }
}

.sprk-c-Navigation__sub {
  border-bottom: 2px solid $gray-medium;

  @media all and (min-width: $main-nav-breakpoint) {
    border: 2px solid $gray-medium;
    border-top: 0;
    display: none;
  }
}

.sprk-c-Navigation__sub-item {
  background-color: $white;
  width: 100%;

  @media all and (min-width: $main-nav-breakpoint) {
    float: left;
    line-height: 1.90672rem;
    padding-top: 0.52446rem;
    padding-bottom: 0.52446rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    width: 100%;
  }
}

.sprk-c-Navigation__sub-item:last-child {
  @media all and (min-width: $main-nav-breakpoint) {
    a {
      margin-bottom: 0.52446rem;
    }
  }
}

.sprk-c-Navigation__sub-item a {
  border: 0;
  color: $blue-dark;
  text-transform: none;

  &:hover {
    color: $white;
  }

  @media all and (min-width: $main-nav-breakpoint) {
    @include HoverLine($color: $white, $width: 100%);

    background-color: $white;

    &:focus,
    &:hover {
      @include HoverLine($color: $blue-medium, $width: 100%);

      color: $blue-medium;
    }
  }
}
