// ==================================================================
// Pagination
// ==================================================================
.sprk-c-Pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 26rem;
  width: 100%;
}

.sprk-c-Pagination__item {
  margin-right: $space-m;
  padding: $space-inset-short-s;

  &:last-child {
    margin-right: 0;
  }
}

// For items in the long pagination version
.sprk-c-Pagination__item--long {
  margin-right: $space-xs;

  @media all and (min-width: $pag-breakpoint) {
    margin-right: $space-s;
  }
}

.sprk-c-Pagination__item--current {
  background-color: $gray-light;
  border-radius: $border-radius;
}

.sprk-c-Pagination__item--current .sprk-b-Link {
  font-weight: bold;
}
