// // ==================================================================
// // Pagination
// // ==================================================================
// $pag-break: 30em;
//
// .sprk-c-Pagination {
//   align-items: center;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-right: auto;
//   margin-left: auto;
//   max-width: 26rem;
//   width: 100%;
//   text-align: center;
// }
//
// .sprk-c-Pagination__item {
//   flex: 1 auto;
//   padding: $space-s;
//
//   @media (min-width: $pag-break) {
//     margin-right: $space-s;
//
//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
//
// .sprk-c-Pagination__item--current {
//   background-color: $gray-light;
//   border-radius: $border-radius;
// }
//
// .sprk-c-Pagination__item--current .sprk-b-Link {
//   font-weight: bold;
// }
//
// .sprk-c-Pagination__item--first,
// .sprk-c-Pagination__item--next,
// .sprk-c-Pagination__item--last,
// .sprk-c-Pagination__item--prev {
//   width: 25%;
//
//   @media (min-width: $pag-break) {
//     width: auto;
//   }
// }
//
// .sprk-c-Pagination__item--numbers,
// .sprk-c-Pagination__item--page-info {
//   width: 50%;
//
//   @media (min-width: $pag-break) {
//     width: auto;
//   }
// }
//
// .sprk-c-Pagination__item--page-info {
//   @media (min-width: $pag-break) {
//     margin-right: 0;
//     order: 1;
//     width: 100%;
//   }
// }
//
// .sprk-c-Pagination__item--first {
//   @media (min-width: $pag-break) {
//     order: 2;
//   }
// }
//
// .sprk-c-Pagination__item--prev {
//   @media (min-width: $pag-break) {
//     order: 3;
//   }
// }
//
// .sprk-c-Pagination__item--numbers {
//   @media (min-width: $pag-break) {
//     order: 4;
//   }
// }
//
// .sprk-c-Pagination__item--next {
//   @media (min-width: $pag-break) {
//     order: 5;
//   }
// }
//
// .sprk-c-Pagination__item--last {
//   @media (min-width: $pag-break) {
//     margin-right: 0;
//     order: 6;
//   }
// }

// ==================================================================
// Pagination
// ==================================================================

//
// Available Variables
///
$pag-breakpoint: 24.25rem;

.sprk-c-Pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 26rem;
  width: 100%;
}

.sprk-c-Pagination__item {
  margin-right: $space-xs;
  padding: $space-inset-short-xs;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $pag-breakpoint) {
    margin-right: $space-s;
    padding: $space-inset-short-s;
  }
}

.sprk-c-Pagination__item--current {
  background-color: $gray-light;
  border-radius: $border-radius;
}

.sprk-c-Pagination__item--current .sprk-b-Link {
  font-weight: bold;
}
