// ==================================================================
// Pagination
// ==================================================================
.sprk-c-Pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: $pag-max-width;
  width: 100%;
}

// Pag links have a border when hovered
.sprk-c-Pagination__link {
  color: $pag-link-color;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $pag-circle-size;
  height: $pag-circle-size;
  text-align: center;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $pag-link-color-hover;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $pag-selection-color;
  }

  &::after {
    display: none;
  }
}

.sprk-c-Pagination__link--current {
  background-color: $pag-selection-color;
  color: $pag-selection-link-color;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $pag-selection-link-color-hover;
  }
}

.sprk-c-Pagination__icon {
  color: $pag-link-color;

  &:visited {
    color: $pag-link-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $pag-selection-color;
  }

  &::after {
    display: none;
  }
}

.sprk-c-Pagination__icon.sprk-b-Link--disabled {
  color: $black-tint-50;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $black-tint-50;
  }
}
