// ==================================================================
// Spinner Animation
// ==================================================================
.sprk-c-Spinner {
  animation: rotate-infinite $spinner-speed linear infinite;
  height: $spinner-size;
  width: $spinner-size;
}

.sprk-c-Button .sprk-c-Spinner {
  margin: 0 auto;
}

.sprk-c-Button--removal .sprk-c-Spinner,
.sprk-c-Button--removal:hover .sprk-c-Spinner,
.sprk-c-Button--removal:active .sprk-c-Spinner,
.sprk-c-Button--removal:focus .sprk-c-Spinner {
  border-color: $red-medium;
  border-right-color: transparent;
}

.sprk-c-Spinner--circle {
  border: $spinner-thickness solid $spinner-color;
  border-radius: 50%;
  border-right-color: transparent;
}

.sprk-c-Spinner--large {
  width: $spinner-size-large;
  height: $spinner-size-large;
}

.sprk-c-Spinner--dark {
  border-top-color: $red-real;
  border-left-color: $red-real;
  border-bottom-color: $red-real;
}
