// ==================================================================
// Stepper
// ==================================================================
.sprk-c-Stepper {
  background-color: $sprk-stepper-bg;
  list-style-type: none;
  position: relative;
  max-width: $sprk-stepper-max-width;
}

.sprk-c-Stepper--has-dark-bg {
  .sprk-c-Stepper__step-heading {
    color: $sprk-stepper-step-heading-color-has-dark-bg;
  }
  .sprk-c-Stepper__step::before {
    background-color: $sprk-stepper-step-bar-color-has-dark-bg;
  }
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-step-icon-color-has-dark-bg;
    border-color: $sprk-stepper-step-icon-border-color-has-dark-bg;
  }
  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-content--has-description {
    background-color: $sprk-stepper-step-content-description-bg-selected-has-dark-bg;
  }
  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-icon,
  .sprk-c-Stepper__step--selected
  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-step-icon-color-selected-has-dark-bg;
  }

  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-step-icon-color-hover-has-dark-bg;
  }
}

.sprk-c-Stepper__step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.sprk-c-Stepper__step::before {
  width: $sprk-stepper-step-bar-width;
  background-color: $sprk-stepper-step-bar-color;
  content: '';
  height: 100%;
  left: $sprk-stepper-step-bar-left-inset;
  position: absolute;
}

.sprk-c-Stepper__step:first-child::before,
.sprk-c-Stepper__step:last-child::before  {
  height: 50%;
}

.sprk-c-Stepper__step:last-child::before  {
  top: 0;
}

.sprk-c-Stepper__step:first-child::before  {
  bottom: 0;
}

.sprk-c-Stepper__step-icon {
  background-color: $sprk-stepper-step-icon-color;
  border: $sprk-stepper-step-icon-border-width solid $sprk-stepper-step-icon-border-color;
  position: absolute;
  left: $sprk-stepper-step-icon-left;
  border-radius: 50%;
  display: inline-block;
  z-index: $sprk-stepper-step-icon-z-index;
  height: $sprk-stepper-step-icon-height;
  width: $sprk-stepper-step-icon-width;
  transition: $sprk-stepper-step-icon-transition;
}

.sprk-c-Stepper__step-content {
  background-color: $sprk-stepper-step-content-bg;
  padding: $sprk-stepper-step-padding;
  position: relative;
  margin-left: $sprk-stepper-step-content-margin-left;
}

.sprk-c-Stepper__step-content--has-description {
  border-radius: $sprk-stepper-step-content-description-border-radius;
}

.sprk-c-Stepper__step--selected {
  .sprk-c-Stepper__step-description {
    display: block;
  }
  .sprk-c-Stepper__step-heading {
    color: $sprk-stepper-step-heading-color-selected;
    font-weight: $sprk-stepper-step-heading-font-weight;
  }
  .sprk-c-Stepper__step-content--has-description {
    background-color: $sprk-stepper-step-content-description-bg-selected;
    box-shadow: $sprk-stepper-step-content-description-box-shadow;
  }
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-step-icon-color-selected;
    border-color: $sprk-stepper-step-icon-border-color-selected;
    box-shadow: $sprk-stepper-step-icon-box-shadow-selected;
  }
  .sprk-c-Stepper__step-header:hover
  .sprk-c-Stepper__step-icon {
    background-color: $sprk-stepper-step-icon-color-selected;
  }
  &.sprk-c-Stepper__step:first-child::before  {
    height: 100%;
    top: ($sprk-stepper-step-padding + $sprk-stepper-step-icon-box-shadow-selected-spread) + ($sprk-stepper-step-icon-height / 2);
  }
  &.sprk-c-Stepper__step:last-child::before  {
    height: ($sprk-stepper-step-padding + $sprk-stepper-step-icon-box-shadow-selected-spread);
  }
  .sprk-c-Stepper__step-content {
    background-color: $sprk-stepper-step-content-bg-selected;
  }
}

.sprk-c-Stepper__step-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: static;
}

.sprk-c-Stepper__step-header:hover
.sprk-c-Stepper__step-icon {
  background-color: $sprk-stepper-step-icon-color-hover;
}

.sprk-c-Stepper__step-heading {
  color: $sprk-stepper-step-heading-color;
  font-size: $sprk-stepper-step-heading-size;
}

.sprk-c-Stepper__step-description {
  padding-top: $sprk-stepper-step-description-top-spacing;
}