// ==================================================================
// Tabbed Navigation
// ==================================================================

//
// Available Variables
///
$tab-navigation-breakpoint: 46rem;

.sprk-c-Tabs__buttons {
  display: block;
  border-bottom: 0;
  margin-bottom: $space-m;
  background-color: $white;

  @media all and (min-width: $tab-navigation-breakpoint) {
    display: flex;
    border: 0;
  }
}

.sprk-c-Tabs__button {
  -webkit-appearance: none;
  background: $white;
  display: block;
  color: $green-medium;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid $green-medium;
  border-left: 2px solid $green-medium;
  border-right: 2px solid $green-medium;
  border-top: 0;
  width: 100%;
  padding: $space-inset-short-s;
  padding-top: $space-xs;
  padding-bottom: $space-xs;

  &:first-of-type {
    border-top: 2px solid $green-medium;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  @media all and (min-width: $tab-navigation-breakpoint) {
    flex: 1 1 100%;
    border-top: 2px solid $green-medium;
    border-left: 2px solid $green-medium;
    border-right: 0;

    &:first-of-type {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-top-right-radius: 0;
    }

    &:last-of-type {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-right: 2px solid $green-medium;
    }
  }
}

.sprk-c-Tabs__button--active,
.sprk-c-Tabs__button:focus,
.sprk-c-Tabs__button:hover {
  background-color: $green-medium;
  color: $white;
}
