// ==================================================================
// Tabbed Navigation
// ==================================================================
.sprk-c-Tabs__buttons {
  color: $spark-black;
  display: block;
  border-bottom: 0;
  margin-bottom: $spark-space-m;

  @media all and (min-width: $spark-tab-navigation-breakpoint) {
    display: flex;
    border: 0;
  }
}

.sprk-c-Tabs__button {
  -webkit-appearance: none;
  background-color: $spark-gray;
  border: 0;
  border-top: 3px solid $spark-gray;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: $spark-space-inset-short-s;
  padding-top: $spark-space-s;
  padding-bottom: $spark-space-s;
  width: 100%;

  @media all and (min-width: $spark-tab-navigation-breakpoint) {
    flex: 1 1 100%;
  }
}

.sprk-c-Tabs__button--active,
.sprk-c-Tabs__button:focus {
  background-color: $spark-white;
  border-top: 3px solid $spark-red;
  color: $spark-red;
}

.sprk-c-Tabs__button:hover {
  border-top: 3px solid $spark-red;
}
