// ==================================================================
// Tabbed Navigation
// ==================================================================
.sprk-c-Tabs__buttons {
  color: $black;
  display: block;
  border-bottom: 0;
  margin-bottom: $space-m;

  @media all and (min-width: $tab-navigation-breakpoint) {
    display: flex;
    border: 0;
  }
}

.sprk-c-Tabs__button {
  -webkit-appearance: none;
  background-color: $gray;
  border: 0;
  border-top: 3px solid $gray;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: $space-inset-short-s;
  padding-top: $space-s;
  padding-bottom: $space-s;
  width: 100%;

  @media all and (min-width: $tab-navigation-breakpoint) {
    flex: 1 1 100%;
  }
}

.sprk-c-Tabs__button--active,
.sprk-c-Tabs__button:focus {
  background-color: $white;
  border-top: 3px solid $red-real;
  color: $red-real;
}

.sprk-c-Tabs__button:hover {
  border-top: 3px solid $red-real;
}
