// ==================================================================
// Navigation
// ==================================================================
.sprk-c-WideNavigation {
  background-color: $spark-white;
  display: flex;
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: $spark-masthead-column-width;
}

.sprk-c-WideNavigation__sub-menu-container {
  position: absolute;
  z-index: $spark-layer-height-m;
  width: 100%;
}

.sprk-c-WideNavigation--sub {
  border: 2px solid $spark-gray;
  box-shadow: $spark-btn-shadow;
  display: block;
  margin-top: $spark-space-s;
}

.sprk-c-WideNavigation__item--sub {
  background-color: $spark-white;
  line-height: $spark-space-m;
  text-align: left;
  width: 100%;
}

.sprk-c-WideNavigation__item {
  flex: auto;
  line-height: $spark-space-l;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.sprk-c-WideNavigation__item--active > .sprk-c-WideNavigation__link {
  font-weight: bold;
}

.sprk-c-WideNavigation__item:focus-within:not(.sprk-c-WideNavigation__item--sub) > .sprk-c-WideNavigation__link,
.sprk-c-WideNavigation__item--open > .sprk-c-WideNavigation__link,
.sprk-c-WideNavigation__item--active > .sprk-c-WideNavigation__link {
  &::after {
    background-color: $spark-black;
    content: ' ';
    height: 3px;
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

.sprk-c-WideNavigation__link {
  @include HoverLine($color: $spark-white, $width: 85%);

  border: 0;
  color: $spark-black;
  display: block;
  text-decoration: none;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    @include HoverLine($color: $spark-black, $width: 85%);
  }
}

.sprk-c-WideNavigation__link--sub {
  border: 0;
  font-weight: normal;
  line-height: $spark-line-height-body-two;
  padding: $spark-space-m;
  text-align: left;
  text-transform: none;
  white-space: normal;

  &::after {
    display: none;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $spark-gray;
    font-weight: normal;

    &::after {
      display: none;
    }
  }
}

.sprk-c-WideNavigation__arrow {
  fill: $spark-black;
  width: $spark-icon-m;
  margin: -3px $spark-space-s 0 $spark-space-s; // negative margin to visually align the arrow
}
