---
name: Stepper
order: 1
hasReactCode: true
hasReactCodeInfo: true
---
<ol
  class="sprk-c-Stepper"
  data-sprk-stepper="container"
  data-id="stepper-1"
  role="tablist"
  aria-orientation="vertical">
  <li
    role="tab"
    class="sprk-c-Stepper__step"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <span
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step One
        </h3>
      </span>
    </div>
  </li>

  <li
    role="tab"
    class="sprk-c-Stepper__step sprk-c-Stepper__step--selected"
    aria-selected="true"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <span
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step Two
        </h3>
      </span>
    </div>
  </li>

  <li
    role="tab"
    class="sprk-c-Stepper__step"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <span
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step Three
        </h3>
      </span>
    </div>
  </li>
</ol>
