---
name: Stepper
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
---
<ol
  class="sprk-c-Stepper"
  data-sprk-stepper="container"
  data-id="stepper-1"
  role="tablist"
  aria-orientation="vertical">
  <li
    class="sprk-c-Stepper__step sprk-c-Stepper__step--first"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <a
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
        role="tab"
        href="#">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step One
        </h3>
      </a>
    </div>
  </li>

  <li
    class="sprk-c-Stepper__step sprk-c-Stepper__step--selected"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <a
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
        role="tab"
        href="#"
        aria-selected="true">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step Two
        </h3>
      </a>
    </div>
  </li>

  <li
    class="sprk-c-Stepper__step sprk-c-Stepper__step--last"
    data-sprk-stepper="step">
    <div class="sprk-c-Stepper__step-content">
      <a
        class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
        role="tab"
        href="#">
        <span class="sprk-c-Stepper__step-icon"></span>
        <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
          Step Three
        </h3>
      </a>
    </div>
  </li>
</ol>