---
name: Stepper With Dark Background
order: 3
hasReactCode: true
---
<div class="sprk-u-BackgroundColor--blue sprk-o-Box sprk-o-Box--large">
  {{#embed "patterns.components.stepper.stepper--dark-bg"}}{{/embed}}
</div>
