<a
  class="sprk-b-Link sprk-b-Link--plain sprk-u-mrs"
  href="#nogo"
  data-sprk-dropdown-trigger="dropdown01"
  aria-haspopup="true"
  data-id="link-1"
  data-analytics="object.action.event">
    <span data-sprk-dropdown-trigger-text-container="">Make a selection...</span>
  <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Icon--current-color" viewBox="0 0 100 100">
    <use xlink:href="#chevron-down" />
  </svg>
</a>
<div class="sprk-c-Dropdown sprk-u-Display--none" data-sprk-dropdown="dropdown01">
  <div class="sprk-c-Dropdown__header">
    <h2 class="sprk-c-Dropdown__title sprk-b-TypeDisplayEight">My Choices</h2>
  </div>
  <ul class="sprk-c-Dropdown__links">
    <li class="sprk-c-Dropdown__item">
      <a class="sprk-c-Dropdown__link" href="#nogo" data-sprk-dropdown-choice="Choice Title 1">
        <p class="sprk-b-TypeBodyOne">Choice Title</p>
        <p>Information about this choice</p>
        <p>More information</p>
      </a>
    </li>
    <li class="sprk-c-Dropdown__item" data-sprk-dropdown-choice="Choice Title 2">
      <a class="sprk-c-Dropdown__link" href="#nogo">
        <p class="sprk-b-TypeBodyOne">Choice Title</p>
        <p>Information about this choice</p>
        <p>More information</p>
      </a>
    </li>
  </ul>
  <div class="sprk-c-Dropdown__footer sprk-u-TextAlign--center">
    <a class="sprk-c-Button sprk-c-Button--tertiary" href="#nogo">
      Go Elsewhere
    </a>
  </div>
</div>
