<a class="sprk-b-Link sprk-b-Link--plain" href="#nogo" data-sprk-dropdown-trigger="dropdown01">Trigger Dropdown</a>
<div class="sprk-c-Dropdown sprk-u-Display--none" data-sprk-dropdown="dropdown01">
  <div class="sprk-c-Dropdown__header">
    <h2 class="sprk-c-Dropdown__title sprk-b-TypeDisplayEight">My Loans</h2>
  </div>
  <ul class="sprk-c-Dropdown__links">
    <li class="sprk-c-Dropdown__item">
      <a class="sprk-c-Dropdown__link" href="#nogo">
        <p class="sprk-b-TypeBodyOne">238 Woodward Ave</p>
        <p>Purchase - 30 yr Fixed</p>
        <p>Loan Number - 2356215</p>
      </a>
    </li>
    <li class="sprk-c-Dropdown__item">
      <a class="sprk-c-Dropdown__link sprk-c-Dropdown__link--active" href="#nogo">
        <p class="sprk-b-TypeBodyOne">4234 Marshall St</p>
        <p>Refinance</p>
        <p>Loan Number - 2356215</p>
      </a>
    </li>
  </ul>
  <div class="sprk-c-Dropdown__footer sprk-u-TextAlign--center">
    <a class="sprk-c-Button sprk-c-Button--tertiary" href="#nogo">
      View All
    </a>
  </div>
</div>
