---
order: 2
hasAngularCode: true
hasAngularCodeInfo: true
---
<a class="sprk-b-Link sprk-b-Link--plain" href="#nogo" data-sprk-dropdown-trigger="dropdown02" aria-haspopup="true" role="combobox">
  <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 100 100">
    <use xlink:href="#settings" />
  </svg>
</a>
<div class="sprk-c-Dropdown sprk-u-Display--none" data-sprk-dropdown="dropdown02">
  <div class="sprk-c-Dropdown__header">
    <h2 class="sprk-c-Dropdown__title sprk-b-TypeDisplayEight">My Choices</h2>
  </div>
  <ul class="sprk-c-Dropdown__links">
    <li class="sprk-c-Dropdown__item" role="option">
      <a class="sprk-c-Dropdown__link" href="#nogo">
        Choice 1
      </a>
    </li>
    <li class="sprk-c-Dropdown__item" role="option">
      <a class="sprk-c-Dropdown__link" href="#nogo">
        Choice 2
      </a>
    </li>
  </ul>
</div>
