.sprk-b-InputContainer {
  margin: $sprk-input-container-margin;
  max-width: $sprk-input-max-width;
}

.sprk-b-InputContainer--huge {
  max-width: $sprk-input-container-huge-max-width;
  position: relative;
}

.sprk-b-InputContainer__visibility-toggle {
  margin: $sprk-visibility-control-margin;
}
