.sprk-b-Label {
  display: block;
  font-family: $sprk-label-font-family;
  font-size: $sprk-label-font-size;
  font-weight: $sprk-label-font-weight;
  line-height: $sprk-label-line-height;
  padding: $sprk-label-padding;
  margin: $sprk-label-margin;
}

.sprk-b-Label--disabled {
  color: $sprk-label-disabled-color;
}

.sprk-b-Label--no-input {
  padding: 0;
  transform: none;
}

.sprk-b-Label--inline {
  display: inline-block;
}

.sprk-b-InputContainer__visibility-toggle .sprk-b-Label--inline {
  font-size: $sprk-visibility-control-label-font-size;
}

.sprk-b-InputContainer--huge,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer--has-text-icon {
  // Apply styles to label to create floating label effect
  // on huge inputs. Label element must follow input element
  > .sprk-b-TextInput:first-child,
  .sprk-b-TextInputIconContainer .sprk-b-TextInput {

    // Label that is directly after Text Input
    + .sprk-b-Label {
      position: absolute;
      top: $sprk-text-input-huge-label-top;
      font-size: $sprk-text-input-huge-font-size;
      padding: $sprk-text-input-huge-padding;
      transition: $sprk-text-input-huge-transition;
      transform: translateZ(0);
      pointer-events: none;
    }

    &:focus + .sprk-b-Label,
    &:not(:placeholder-shown) + .sprk-b-Label,
    &.sprk-b-TextInput--float-label + .sprk-b-Label {
      font-size: $sprk-text-input-huge-label-font-size;
      top: $sprk-text-input-huge-label-active-top;
      color: $sprk-text-input-huge-focus-label-color;
    }

    &:not(:placeholder-shown) + .sprk-b-Label {
      color: $sprk-text-input-huge-complete-label-color;
    }

    &:disabled + .sprk-b-Label {
      font-size: $sprk-text-input-huge-label-font-size;
      top: $sprk-text-input-huge-label-active-top;
      color: $sprk-text-input-disabled-color;
      cursor: not-allowed;
    }
  }

  > .sprk-b-TextInput.sprk-b-TextInput--error:first-child,
  .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--error {
    &:focus + .sprk-b-Label,
    &:not(:placeholder-shown) + .sprk-b-Label,
    &.sprk-b-TextInput--float-label + .sprk-b-Label {
      color: $sprk-text-input-huge-error-focus-label-color;
    }
  }
}

// Huge monetary inputs overrides
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer--has-text-icon {
  > .sprk-b-TextInput:first-child + .sprk-b-Label {
    padding: $sprk-text-input-huge-has-text-icon-padding;
  }
}

//Huge text input with svg icon overwrites
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer {
  .sprk-b-TextInput,
  .sprk-b-TextInput:focus {
    + .sprk-b-Label {
      padding: $sprk-text-input-huge-has-text-icon-padding;
    }
  }
}

.sprk-b-InputContainer--huge > .sprk-b-TextInput:focus:first-child {
  + .sprk-b-Label {
    font-size: $sprk-text-input-huge-label-font-size;
    top: $sprk-text-input-huge-label-active-top;
    color: $sprk-text-input-huge-focus-label-color;
  }
}
