.sprk-b-Label {
  display: block;
  font-family: $sprk-label-font-family;
  font-size: $sprk-label-font-size;
  font-weight: $sprk-label-font-weight;
  line-height: $sprk-label-line-height;
  padding: $sprk-label-padding;
  margin: $sprk-label-margin;
}

.sprk-b-Label--disabled {
  color: $sprk-label-disabled-color;
}

.sprk-b-Label--no-input {
  padding: 0;
  transform: none;
}

.sprk-b-Label--inline {
  display: inline-block;
}

.sprk-b-InputContainer__visibility-toggle .sprk-b-Label--inline {
  font-size: $sprk-visibility-control-label-font-size;
}

.sprk-b-InputContainer--huge {
  input:first-child ~ label {
    position: absolute;
    top: $sprk-text-input-huge-label-top;
    font-size: $sprk-text-input-huge-font-size;
    padding: $sprk-text-input-huge-padding;
    transition: $sprk-text-input-huge-transition;
    cursor: pointer;
  }
  input:first-child:focus ~ label, input:first-child:not(:placeholder-shown) ~ label {
    font-size: $sprk-text-input-huge-label-font-size;
    top: $sprk-text-input-huge-label-active-top;
    color: $sprk-text-input-huge-focus-label-color;
    cursor: default;
  }
  input.sprk-b-TextInput--error:first-child {
    &:focus ~ label, &:not(:placeholder-shown) ~ label{
      color: $sprk-text-input-huge-error-focus-label-color;
    }
  }
  input:first-child ~ label.sprk-b-Label--disabled {
    font-size: $sprk-text-input-huge-label-font-size;
    top: $sprk-text-input-huge-label-active-top;
    color: $sprk-text-input-disabled-color;
    cursor: not-allowed;
  }
}
