.sprk-b-TextInputIconContainer {
  position: relative;
}

.sprk-b-TextInputIconContainer .sprk-c-Icon {
  margin-left: $sprk-input-icon-offset-x;
  margin-top: $sprk-input-icon-offset-y;
  position: absolute;
  z-index: $sprk-input-icon-z-index;
}

.sprk-b-InputContainer--huge {
  .sprk-b-TextInputIconContainer .sprk-c-Icon {
    margin-top: $sprk-input-huge-icon-offset-y;
  }
}
