// ==================================================================
// Input Component
// ==================================================================
.sprk-b-TextInput {
  box-shadow: $sprk-text-input-box-shadow;
  border: $sprk-text-input-border;
  border-radius: $sprk-text-input-border-radius;
  color: $sprk-text-input-color;
  font-family: $sprk-text-input-font-family;
  font-size: $sprk-text-input-font-size;
  font-weight: $sprk-text-input-font-weight;
  line-height: $sprk-text-input-line-height;
  height: $sprk-text-input-height;
  outline: $sprk-text-input-outline;
  padding: $sprk-text-input-padding;
  transition: $sprk-text-input-transition;
}

.sprk-b-TextInput:focus {
  border-color: $sprk-text-input-focus-border-color;
}

// Applies to any huge input
.sprk-b-InputContainer--huge .sprk-b-TextInput {
  position: relative;
  transition: $sprk-text-input-huge-transition;
  transition-delay: $sprk-text-input-huge-transition-delay;
  height: $sprk-text-input-huge-height;
  border-width: $sprk-text-input-huge-border-width;
  border-radius: $sprk-text-input-border-radius;
  font-size: $sprk-text-input-huge-font-size;
  padding: $sprk-text-input-huge-padding;
  box-shadow: $sprk-input-huge-box-shadow;
}

.sprk-b-InputContainer--huge .sprk-b-TextInput:focus {
  border-width: $sprk-text-input-huge-focus-border-width;
}

.sprk-b-InputContainer--huge .sprk-b-TextInput::placeholder,
.sprk-b-InputContainer--huge .sprk-b-TextInput.sprk-b-TextInput--float-label::placeholder {
  font-size: $sprk-text-input-huge-font-size;
}

.sprk-b-InputContainer--huge .sprk-b-TextInput:-ms-input-placeholder,
.sprk-b-InputContainer--huge .sprk-b-TextInput.sprk-b-TextInput--float-label:-ms-input-placeholder {
  font-size: $sprk-text-input-huge-font-size;
}

// Applies when input is first direct child of the container div
// to create floating label effect
// Label element must follow the input element

// Huge styles for Monetary Input
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput {
  padding: $sprk-text-input-has-icon-padding;
}

.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer :first-child.sprk-b-TextInput {
  padding: $sprk-text-input-huge-has-text-icon-padding;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:focus,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput:focus,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--float-label,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--float-label {
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
  padding-top: $sprk-text-input-huge-active-padding-top;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:focus::placeholder,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput:focus::placeholder,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--float-label::placeholder,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--float-label::placeholder,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden::placeholder {
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
  transition-delay: $sprk-text-input-huge-placeholder-transition-delay;
  transition-property: $sprk-text-input-huge-placeholder-transition-property;
}

.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput::placeholder,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput::placeholder {
  opacity: $sprk-text-input-huge-placeholder-opacity;
}

// IE11 Override
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput:-ms-input-placeholder,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:-ms-input-placeholder {
  color: transparent;
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
  transition: color 0s;
}
// IE11 Override
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden:-ms-input-placeholder {
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
  color: $sprk-placeholder-color;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden:focus,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden.sprk-b-TextInput.sprk-b-TextInput--float-label {
  padding: $sprk-text-input-huge-padding;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden + .sprk-b-Label {
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
// Edge does not support :placeholder-shown
// This has to be separated from the rest of the CSS
// for the rest of it to work in Edge
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden:not(:placeholder-shown) {
  padding: $sprk-text-input-huge-padding;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--label-hidden:not(:placeholder-shown) + .sprk-b-Label {
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:disabled,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--float-label {
  padding-top: $sprk-text-input-huge-active-padding-top;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:disabled {
  color: transparent;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:disabled.sprk-b-TextInput--label-hidden {
  color: $sprk-text-input-disabled-color;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:not(:placeholder-shown) {
  padding-top: $sprk-text-input-huge-active-padding-top;
}

//Huge styles for inputs with icon
.sprk-b-InputContainer--huge > :first-child.sprk-b-Label + .sprk-b-TextInputIconContainer .sprk-b-TextInput::placeholder {
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-Label + .sprk-b-TextInputIconContainer .sprk-b-TextInput:focus,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--label-hidden:focus {
  padding: $sprk-text-input-has-icon-padding;
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-Label + .sprk-b-TextInputIconContainer .sprk-b-TextInput:not(:placeholder-shown),
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--label-hidden:not(:placeholder-shown) {
  padding: $sprk-text-input-has-icon-padding;
}

.sprk-b-TextInput--error,
.sprk-b-TextInput--error:focus {
  border-color: $sprk-text-input-error-border-color;
}

.sprk-b-TextInput[disabled] {
  background-color: $sprk-text-input-disabled-background-color;
  border-color: $sprk-text-input-disabled-border-color;
  color: $sprk-text-input-disabled-color;
  cursor: not-allowed;
}

.sprk-b-TextInput--has-svg-icon {
  padding: $sprk-text-input-has-icon-padding;
}

.sprk-b-TextInput--has-text-icon {
  padding: $sprk-text-input-has-text-icon-padding;
}

.sprk-b-TextInput[readonly] {
  color: $sprk-text-input-readonly-color;
}

.sprk-b-HelperText {
  color: $sprk-helper-color;
  font-size: $sprk-helper-font-size;
  font-weight: $sprk-helper-font-weight;
  line-height: $sprk-helper-line-height;
  margin: $sprk-helper-margin;
}

// Placeholder colors
// Chrome/Opera/Safari
::-webkit-input-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  line-height: normal;
  color: $sprk-placeholder-color;
}

// Firefox 19+
::-moz-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

// IE 10+
:-ms-input-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

// Firefox 18-
:-moz-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}
