// ==================================================================
// Input Component
// ==================================================================

//
// Available Variables
///
// Huge Box Shadow is from card's default box shadow
$sprk-input-huge-box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.08) !default;

.sprk-b-TextInput {
  box-shadow: $sprk-text-input-box-shadow;
  border: $sprk-text-input-border;
  border-radius: $sprk-text-input-border-radius;
  color: $sprk-text-input-color;
  font-family: $sprk-text-input-font-family;
  font-size: $sprk-text-input-font-size;
  font-weight: $sprk-text-input-font-weight;
  line-height: $sprk-text-input-line-height;
  height: $sprk-text-input-height;
  outline: $sprk-text-input-outline;
  padding: $sprk-text-input-padding;
  transition: $sprk-text-input-transition;

  &:focus,
  &.sprk-b-TextInput--float-label {
    border-color: $sprk-text-input-focus-border-color;
  }
}

// Refactor to only require the class on the container
.sprk-b-InputContainer--huge,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer--has-text-icon {
  // Applies to any huge input
  .sprk-b-TextInput {
    position: relative;
    transition: $sprk-text-input-huge-transition;
    transition-delay: $sprk-text-input-huge-transition-delay;
    height: $sprk-text-input-huge-height;
    border-width: $sprk-text-input-huge-border-width;
    border-radius: $sprk-text-input-border-radius;
    font-size: $sprk-text-input-huge-font-size;
    padding: $sprk-text-input-huge-padding;
    box-shadow: $sprk-input-huge-box-shadow;

    &:focus,
    &.sprk-b-TextInput--float-label {
      border-width: $sprk-text-input-huge-focus-border-width;
    }

    &::placeholder {
      font-size: $sprk-text-input-huge-font-size;
    }
  }
  // Applies when input is first direct child of the container div
  // to create floating label effect
  // Label element must follow the input element

  // Huge styles for Monetary Input
  .sprk-b-TextInputIconContainer {
    .sprk-b-TextInput {
      padding: $sprk-text-input-has-icon-padding;
    }

    > :first-child.sprk-b-TextInput {
      padding: $sprk-text-input-huge-has-text-icon-padding;
    }
  }
}
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput:focus,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput:focus,
.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput.sprk-b-TextInput--float-label,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--float-label {
  opacity: $sprk-text-input-huge-placeholder-active-opacity;
  padding-top: $sprk-text-input-huge-active-padding-top;

  &::placeholder {
    opacity: $sprk-text-input-huge-placeholder-active-opacity;
  }
}

.sprk-b-InputContainer--huge > :first-child.sprk-b-TextInput,
.sprk-b-InputContainer--huge .sprk-b-TextInputIconContainer .sprk-b-TextInput {
  background-color: blue;
  &::placeholder {
    opacity: $sprk-text-input-huge-placeholder-opacity;
  }

  &.sprk-b-TextInput--label-hidden {
    &::placeholder {
      opacity: $sprk-text-input-huge-placeholder-active-opacity;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding: $sprk-text-input-huge-padding;
    }

    + .sprk-b-Label {
      left: -10000px;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }

  &:disabled,
  &:not(:placeholder-shown),
  &.sprk-b-TextInput--float-label {
    padding-top: $sprk-text-input-huge-active-padding-top;
  }
}

//Huge styles for inputs with icon
.sprk-b-InputContainer--huge > :first-child.sprk-b-Label + .sprk-b-TextInputIconContainer .sprk-b-TextInput {
  &::placeholder {
    opacity: $sprk-text-input-huge-placeholder-active-opacity;
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding: $sprk-text-input-has-icon-padding;
  }
}

.sprk-b-InputContainer--huge {
  .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--label-hidden:focus,
  .sprk-b-TextInputIconContainer .sprk-b-TextInput.sprk-b-TextInput--label-hidden:not(:placeholder-shown) {
    padding: $sprk-text-input-has-icon-padding;
  }
}

.sprk-b-TextInput--error,
.sprk-b-TextInput--error:focus,
.sprk-b-TextInput--error.sprk-b-TextInput--float-label {
  border-color: $sprk-text-input-error-border-color;
}

.sprk-b-TextInput[disabled] {
  background-color: $sprk-text-input-disabled-background-color;
  border-color: $sprk-text-input-disabled-border-color;
  color: $sprk-text-input-disabled-color;
  cursor: not-allowed;
}

.sprk-b-TextInput--has-svg-icon {
  padding: $sprk-text-input-has-icon-padding;
}

.sprk-b-TextInput--has-text-icon {
  padding: $sprk-text-input-has-text-icon-padding;
}

.sprk-b-TextInput[readonly] {
  color: $sprk-text-input-readonly-color;
}

.sprk-b-HelperText {
  color: $sprk-helper-color;
  font-size: $sprk-helper-font-size;
  font-weight: $sprk-helper-font-weight;
  line-height: $sprk-helper-line-height;
  margin: $sprk-helper-margin;
}

// Placeholder colors
// Chrome/Opera/Safari
::-webkit-input-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  line-height: normal;
  color: $sprk-placeholder-color;
}

// Firefox 19+
::-moz-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

// IE 10+
:-ms-input-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

// Firefox 18-
:-moz-placeholder {
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}