---
notes: This is the base button class.
hidden: true
---

<button class="btn {{class}}{{#if disabled}} is-disabled{{/if}}">
  Button Button
</button>

<a href="" class="btn {{class}}{{#if disabled}} is-disabled{{/if}}">Link Button</a>

<input class="btn {{class}}{{#if disabled}} is-disabled{{/if}}" type="submit" value="Input Button">
