---
name: Submission Spinner
notes:
  Use this spinner on any button that is being used to save or submit data. Time out timing and time out errors are based on products or scenarios, but when a time out happens, an alert to the user with clear content and instruction is a required.

order: 6
---

<button class="btn btn--primary {{class}}{{#if disabled}} is-disabled{{/if}}">
    <span class="spinner"></span>
</button>
