<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Component</th>
    <th>Input</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>sprk-stack</td>
    <td class="sprk-u-FontWeight--bold">splitAt</td>
    <td>string</td>
    <td>
      The value supplied can be 'tiny', 'small', 'medium', 'large', or 'huge'.
      This is used as the breakpoint at which the component moves or "splits" to a
      side by side layout.
    </td>
  </tr>
  <tr>
    <td>sprk-stack</td>
    <td class="sprk-u-FontWeight--bold">itemSpacing</td>
    <td>string</td>
    <td>
      The value supplied can be 'tiny', 'small', 'medium', 'large', or 'huge'.
      This is used as the amount of spacing between Stack items.
    </td>
  </tr>
  <tr>
    <td>sprk-stack</td>
    <td class="sprk-u-FontWeight--bold">analyticsString</td>
    <td>string</td>
    <td>
      This value is used for the data-analytics attribute.
    </td>
  </tr>
  <tr>
    <td>sprk-stack</td>
    <td class="sprk-u-FontWeight--bold">additionalClasses</td>
    <td>string</td>
    <td>Allows a string of classes to add, in addition to the spark classes. Intended for overrides.</td>
  </tr>
  </tbody>
</table>
