.#{$app-namespace}-b-Button {
  background-color: $orange-medium;
  border-radius: 3px;
  border: 0;
  color: $sprk-white;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  max-width: 22.642857143rem;
}

.#{$app-namespace}-b-Button:hover {
  background-color: $orange-light;
}
