$white: #fff;
$black: #302E2E;
$gray-dark: #ccc;
$gray: #e2e2e2;
$gray-light: #f1f1f1;
$yellow: yellow;
$highlight: #FD6C45;

$orange-light: #FFA022;
$orange-medium: #FF8920;
$orange-dark: #FF721E;
$orangered: #FF5C1C;
$red: #FF451A;
