$white: #fff;
$black: #302e2e;
$black-light: #5c5c5c;
$gray-dark: #ccc;
$gray: #e2e2e2;
$gray-light: #f1f1f1;
 $sprk-yellow: #ff0;
$highlight: #fd6c45;
$orange-light: #ffa022;
$orange-medium: #ff8920;
$orange-dark: #ff721e;
$orangered: #ff5c1c;
$red: #ff451a;
$red-light: #faccc4;
$purple: #582d41;
$code-preview: #2b2b2b;
