.#{$app-namespace}-b-Icon {
  fill: currentColor;
  width: 1rem;
  margin: 3px;
}

.#{$app-namespace}-b-Icon--large {
  width: 2.1875rem;
  height: 2.1875rem;
}

.#{$app-namespace}-b-Icon--small {
  width: 0.75rem;
}
