// fighting sprk's specificity here: .sprk-b-TextInput [type=text] {}
.#{$app-namespace}-b-Body .#{$app-namespace}-b-TextInput {
  background-color: $drizzle-white;
  border-radius: 3px;
  color: $drizzle-black;
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
}

.#{$app-namespace}-b-Body .#{$app-namespace}-b-TextInput::placeholder {
  color: #ccc;
}

.#{$app-namespace}-b-Body .#{$app-namespace}-b-TextInput--search {
  box-shadow: inset 0 1px 3px;
  display: block;
  margin: 1rem auto;
  max-width: 85%;
}
