.drizzle-body {
  font-size: 1rem;
  line-height: 1.563;
}


body,
p,
.drizzle-h1,
.drizzle-h2,
.drizzle-h3,
.drizzle-h4,
.drizzle-h5,
.drizzle-h6 {
  font-family: "urw din";
}

.drizzle-p {
  max-width: 640px;
}

.drizzle-h1 {
  color: $black;
  font-size: 35px;
}

.drizzle-h2 {
  color: $black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.drizzle-h3 {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.drizzle-Label {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.drizzle-ContentGroup {
  margin-bottom: 2rem;
}
