.#{$app-namespace}-b-Body {
  font-size: 1rem;
  line-height: 1.563;
  display: flex;
  flex-direction: column;
}

html,
body {
  min-height: 100%;
}

body,
p,
.#{$app-namespace}-b-h1,
.#{$app-namespace}-b-h2,
.#{$app-namespace}-b-h3,
.#{$app-namespace}-b-h4,
.#{$app-namespace}-b-h5,
.#{$app-namespace}-b-h6 {
  font-family: urw-din, sans-serif;
  font-weight: normal;
}

.#{$app-namespace}-b-P {
  max-width: 640px;
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-Lede {
  font-size: 1.2rem;
  line-height: 1.6;
}

.#{$app-namespace}-b-h1 {
  color: $black;
  font-size: $drizzle-h1-font-size;
}

.#{$app-namespace}-b-h2 {
  color: $black;
  font-size: $drizzle-h2-font-size;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-h3 {
  color: $black;
  font-size: $drizzle-h3-font-size;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.#{$app-namespace}-b-h4 {
  color: $black;
  font-size: $drizzle-h4-font-size;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.#{$app-namespace}-b-Label {
  color: $black;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-LongFormText p {
  max-width: 640px;
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-LongFormText .drizzle-b-List p {
  margin: 0;
}
