.drizzle-b-Body {
  font-size: 1rem;
  line-height: 1.563;
}


body,
p,
.drizzle-b-h1,
.drizzle-b-h2,
.drizzle-b-h3,
.drizzle-b-h4,
.drizzle-b-h5,
.drizzle-b-h6 {
  font-family: "urw din";
}

.drizzle-b-P {
  max-width: 640px;
  margin-bottom: 1rem;
}

.drizzle-b-h1 {
  color: $black;
  font-size: 35px;
}

.drizzle-b-h2 {
  color: $black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.drizzle-b-h3 {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.drizzle-b-Label {
  color: $black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
