body {
  background-color: #fff !important;
}

code,
pre {
  font-family: var(--monospace), monospace !important;
}

.CodeHighlight {
  background-color: var(--color-silver);
  padding: 6px 10px;
  line-height: 1.75;
}
