---
name: Display Five
description: |
    This display size is intended to be used for fifth-level headings.
order: 7
variableTable:
  $sprk-color-display-five:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-display-five:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-display-five:
    description: The size of the font.
    default: 1.25rem
  $sprk-font-weight-display-five:
    description: The weight of the font.
    default: 500
  $sprk-line-height-display-five:
    description: The line height of the font.
    default: 1.2
---

<h4 class="sprk-b-TypeDisplayFive">The Quick Brown Fox Jumps Over the Lazy Dog</h4>
