---
name: Stack Object
description: The Stack Object lays items out in a column.
  The Stack Object is a foundation that can be used to create a grid.
  You can combine a series of Stack Objects to create rows
  and columns. The Stack Object is by name, mobile-first and responsive.
  The items inside always stack by default. They also can
  split to a side by side layout at different breakpoints via a modifier class.
  See tabular data below for modifiers and more information.
order: 1
hasAngularCode: true
hasAngularCodeInfo: true
hasAngularDocs: true
hasReactCode: true
hasReactCodeInfo: true
hasReactDocs: true
---
<div class="sprk-o-Stack">
  <div class="sprk-o-Stack__item">
  </div>

  <div class="sprk-o-Stack__item">
  </div>
</div>