---
name: Checkboxes
notes: |
  This is a checkbox. It uses the native browser styles.
labels:
  - inprogress
order: 6
---

<div class="sprk-b-InputContainer">
  <label id="signup-label">Sign up for stuff</label>

  <div class="sprk-b-SelectionContainer">
    <input id="newsletter" type="checkbox" aria-labelledby="signup-label">
    <label for="newsletter" class="sprk-b-Label--inline sprk-u-mls">Send me the newsletter</label>
  </div>

  <div class="sprk-b-SelectionContainer">
    <input id="magazine" type="checkbox" aria-labelledby="signup-label">
    <label for="magazine" class="sprk-b-Label--inline sprk-u-mls">Send me the magazine</label>
  </div>

  <div class="sprk-b-SelectionContainer">
    <input id="texts" type="checkbox" aria-labelledby="signup-label">
    <label for="texts" class="sprk-b-Label--inline sprk-u-mls">Send me text messages</label>
  </div>
</div>
