---
name: Checkboxes - Disabled State
notes: |
  This is a checkbox. It uses the native browser styles.
invisible: true
order: 3
---

<div class="sprk-b-InputContainer">
  <fieldset>
    <legend>
      <label>Checkbox Group Label</label>
    </legend>
    <div class="sprk-b-SelectionContainer">
      <input disabled id="<id1>" type="checkbox">
      <label for="<id1>" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 1</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input disabled id="<id2>" type="checkbox">
      <label for="<id2>" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 2</label>
    </div>
    <div class="sprk-b-SelectionContainer">
      <input disabled id="<id3>" type="checkbox">
      <label for="<id3>" class="sprk-b-Label--inline sprk-u-mls">Checkbox Item 3</label>
    </div>
  </fieldset>
</div>
