---
name: Helper Text
info:
  - You should use helper text, as seen below, when a user needs further clarification beyond the label.
stateChanger: true
order: 99
---

<div class="sprk-b-InputContainer">
  <label for="<your input's id>">Text Input Label</label>
  <input class="sprk-b-TextInput sprk-u-Size-100" id="<your input's id>" type="<your field type>">
  <span class="sprk-b-HelperText">Optional helper text, used to clarify the field's intent.</span>
</div>