---
name: Helper Text
description:
  Helper text should be used when
  a specific input type has special
  requirements that the user needs
  to be aware of so they can
  successfully enter the desired information.
information:
  - You should use helper text, when a user needs further clarification beyond the label.
  - Helper text should be placed between above the error container span in each input pattern.
stateChanger: true
order: 22
---

<div class="sprk-b-HelperText">Optional helper text, used to clarify the field's intent.</div>
