---
name: Inline Search Input - Disabled State
notes:
  This search input is intended for use in the masthead and similar patterns.
order: 16
invisible: true
---
<div class="sprk-b-InputContainer">
  <label for="inline-search" class="sprk-u-VisuallyHidden">Search</label>
  <input placeholder="Search" disabled class="sprk-b-TextInput sprk-u-Size-100" id="inline-search" type="search" role="search">
</div>
