---
name: Monetary Input
notes: |
  This is a monetary input.
info:
  - On blur, format the input to include commas and a decimal followed by two zeros (ex. 1,000.00).
nono:
  - Do not use placeholder text.
labels:
  - inprogress
order: 99
---

<div class="sprk-b-InputContainer">
  <label for="payment">Payment</label>
  <span class="sprk-b-TextInput--monetary"><input class="sprk-b-TextInput sprk-u-Size-100 sprk-u-plm" id="payment"></span>
</div>
