---
name: Monetary Input - Error State
notes: |
  This is a monetary input.
info:
  - On blur, format the input to include commas and a decimal followed by two zeros (ex. 1,000.00).
restrictions:
  - Do not use placeholder text.
invisible: true
order: 18
---

<div class="sprk-b-InputContainer">
  <label for="payment">Payment</label>
  <span class="sprk-b-TextInput--monetary">
    <input
        class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100 sprk-u-plm" id="payment"
        aria-invalid="true" aria-describedby="payment--error-container">
  </span>
  <span class="sprk-b-ErrorText" id="payment--error-container">There is an error on this field.</span>
</div>
