---
name: Search Input
notes:
  This is a basic search input.
order: 13
stateChanger: true
---
<div class="sprk-b-InputContainer">
  <label for="search">Search</label>
  <input class="sprk-b-TextInput sprk-u-Size-100" id="search" type="search" role="search">
</div>
