---
name: Search Input - Error State
notes:
  This is a basic search input.
order: 6
invisible: true
---
<div class="sprk-b-InputContainer">
  <label for="search">Search</label>
  <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100" aria-invalid="true"
         id="search" type="search" role="search" aria-describedby="search--error-container">
  <span class="sprk-b-ErrorText"
        id="search--error-container">There is an error on this field.</span>
</div>
