---
name: Select Box
notes: |
  This is a select box.
labels:
  - inprogress
order: 8
---

<div class="sprk-b-InputContainer">
  <label for="county">Choose your county</label>
  <select id="county">
    <option>Wayne</option>
    <option>Oakland</option>
    <option>Washtenaw</option>
  </select>
</div>
