---
name: Select Box - Disabled State
notes: |
  This is a select box.
invisible: true
order: 7
---

<div class="sprk-b-InputContainer">
  <label for="county">Choose your county</label>
  <select id="county">
    <option>Wayne</option>
    <option>Oakland</option>
    <option>Washtenaw</option>
  </select>
</div>
