---
name: Select Box
notes: |
  This is a select box.
order: 7
---

<div class="sprk-b-InputContainer">
  <label for="selectid">Select Box Label</label>
  <select id="selectid">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <optgroup label="Grouped Options">
      <option value="g1">Grouped Option 1</option>
      <option value="g2">Grouped Option 2</option>
      <option value="g3">Grouped Option 3</option>
    </optgroup>
  </select>
</div>
