---
name: Textarea - Disabled State
notes:
  This is a textarea.
order: 9
invisible: true
---

<div class="sprk-b-InputContainer">
  <label for="textareaid">Description</label>
  <textarea disabled class="sprk-b-TextInput sprk-u-Size-100" id="textareaid"></textarea>
</div>
