---
name: Text Input - Error State
notes:
  This is a basic text input with an error.
restrictions:
  - The input's 'type' attribute should be the most appropriate value that semantically matches your
    use case.
links:
  Helper Text:  inputs.html#helper-text
order: 2
invisible: true
---

<div class="sprk-b-InputContainer">
  <label for="<your input's id>">Text Input Label</label>
  <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100" id="<your input's id>"
         type="<your field type>" aria-describedby="<your input's id--error-container>">
  <span class="sprk-b-ErrorText" id="<your input's id>--error-container">There is an error on this field.</span>
</div>
