---
name: Text Input
notes:
  This is the basic style for any text input.
restrictions:
  - The input's 'type' attribute should be the most appropriate value that semantically matches your
    use case.
links:
  Helper Text:  inputs.html#helper-text
stateChanger: true
order: 1
---

<div class="sprk-b-InputContainer">
  <label for="<your input's id>">Text Input Label</label>
  <input class="sprk-b-TextInput sprk-u-Size-100" id="<your input's id>" type="<your field type>">
</div>
