---
name: Textarea
notes:
  This is a textarea.
order: 9
---

<div class="sprk-b-InputContainer">
  <label for="textareaid">Description</label>
  <textarea class="sprk-b-TextInput sprk-u-Size-100" id="textareaid"></textarea>
</div>
