---
name: Textarea
notes:
  This is a textarea.
order: 9
labels:
  - inprogress
---

<div class="sprk-b-InputContainer">
  <label for="description">Description</label>
  <textarea class="sprk-b-TextInput sprk-u-Size-100" id="description"></textarea>
</div>
