---
name: Textarea - Error State
notes:
  This is a textarea.
order: 9
invisible: true
---

<div class="sprk-b-InputContainer">
  <label for="textareaid">Description</label>
  <textarea class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100" id="textareaid" aria-invalid="true"
            aria-describedby="textarea--error-container"></textarea>
  <span class="sprk-b-ErrorText" id="textarea--error-container">There is an error on this field.</span>
</div>
