<sprk-footer idString="footer-2">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fifths@s">
    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--split@s">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--flex@s sprk-o-Box">
        <ul class="sprk-o-Stack sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone" href="#nogo">Item 1</a>
          </li>
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone" href="#nogo">Item 2</a>
          </li>
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone" href="#nogo">Item 3</a>
          </li>
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone" href="#nogo">Item 4</a>
          </li>
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone" href="#nogo">Item 5</a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--flex@s sprk-o-Stack sprk-o-Stack--medium sprk-o-Box">
        <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--split@xs sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 64 64">
                <use xlink:href="#facebook" />
              </svg>
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 64 64">
                <use xlink:href="#instagram" />
              </svg>
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 64 64">
                <use xlink:href="#twitter" />
              </svg>
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--muted" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 64 64">
                <use xlink:href="#youtube" />
              </svg>
            </a>
          </li>
        </ul>

        <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted sprk-u-WhiteSpace--nowrap" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
                <use xlink:href="#feedback" />
              </svg>

              Provide Feedback
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted sprk-u-WhiteSpace--nowrap" href="#">
              <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
                <use xlink:href="#desktop-computer" />
              </svg>

              Share Your Screen
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sprk-u-mlm sprk-u-mrm sprk-c-Divider"></div>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Box">
      <p class="sprk-o-Stack__item sprk-b-TypeBodyFour">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
        non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
      </p>

      <sprk-toggle
        title="My Disclaimer"
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
          non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo."
        analyticsString="My disclaimer Title"
        sprkStackItem>
      </sprk-toggle>
    </div>
  </div>

  <div class="sprk-o-Stack__item sprk-o-Stack__item--two-fifths@s sprk-o-Box sprk-o-Stack sprk-o-Stack--medium">
    <h2 class="sprk-o-Stack__item sprk-b-TypeDisplaySix sprk-u-TextAlign--center">
      Award Stacked Pattern Inside Footer
    </h2>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--center-column">
      <a class="sprk-o-Stack__item" href="#">
        <img
          class="drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--large"
          alt="Spark placeholder image"
          src="https://staging.sparkdesignsystem.com/assets/toolkit/images/spark-placeholder.jpg" />
      </a>

      <a class="sprk-o-Stack__item" href="#">
        <img
          class="drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--large"
          alt="Spark placeholder image"
          src="https://staging.sparkdesignsystem.com/assets/toolkit/images/spark-placeholder.jpg" />
      </a>
    </div>

    <ul class="sprk-o-Stack__item sprk-b-List sprk-b-List--bare sprk-o-Stack sprk-o-Stack--split@xs sprk-o-Stack--medium sprk-o-Stack--center-row sprk-o-Stack--center-column">
      <li class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--small"></div>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--small"></div>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--small"></div>
        </a>
      </li>
    </ul>
  </div>
</sprk-footer>
