<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-b-Table--striped</td>
      <td>Adds a background color to alternating rows. This can improve the readability of wide tables.</td>
    </tr>
  </tbody>
</table>