<div class="sprk-u-mbm">
  <p>The sprk-secondary-navigation component in spark-core-angular consists of two
    Angular components:</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><strong>sprk-secondary-navigation</strong></li>
    <li><strong>sprk-secondary-navigation-item</strong></li>
  </ul>
  <p>The component expects you to put sprk-secondary-navigation-item components inside it. Any other content will render,
    but is not supported.</p>
</div>
