---
name: Default
notes: |
  This is the pattern for when you have three or fewer pages. All three page numbers and prev/next
  links that appear in the pagination are clickable. The current page number should be
  bold and have a background color. When the Next link is tapped or clicked the next sequential
  page is shown and the background color should be removed from the current page number
  and shown on the next sequential page number. The opposite
  is true for the Prev link. If the first or last page are selected then the previous
  or next links should be disabled respectively.
order: 2
---
<nav aria-label="Pagination Navigation" data-sprk-pagination="default">
  <ul class="sprk-c-Pagination sprk-b-List sprk-b-List--bare">
    <li class="sprk-c-Pagination__item sprk-c-Pagination__item--prev">
      <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--disabled" href="#" data-sprk-pagination="prev">
        Prev
      </a>
    </li>

    <li class="sprk-c-Pagination__item sprk-c-Pagination__item--current">
      <a class="sprk-b-Link sprk-b-Link--standalone" href="#" data-sprk-pagination="item" aria-current="true">
        1
      </a>
    </li>

    <li class="sprk-c-Pagination__item">
      <a class="sprk-b-Link sprk-b-Link--standalone" href="#" data-sprk-pagination="item">
        2
      </a>
    </li>

    <li class="sprk-c-Pagination__item">
      <a class="sprk-b-Link sprk-b-Link--standalone" href="#" data-sprk-pagination="item">
        3
      </a>
    </li>

    <li class="sprk-c-Pagination__item sprk-c-Pagination__item--next">
      <a class="sprk-b-Link sprk-b-Link--standalone" href="#" data-sprk-pagination="next">
        Next
      </a>
    </li>
  </ul>
</nav>
