---
name: Long Pagination
description:
  This pattern is for when you have more than three pages of content.
  When the next or previous links are tapped or clicked the page number
  decreases or increases respectively. When the user is on the first
  page the previous link should be disabled. When the user is on
  the last page the next link should be disabled. The current
  page should always be bold and highlighted by a background color.
order: 2
hasAngularCode: true
hasAngularDocs: true
---
<nav aria-label="Pagination Navigation" data-sprk-pagination="long" data-id="pagination-2">
  <ul class="sprk-c-Pagination sprk-o-HorizontalList sprk-o-HorizontalList--spacing-small">
    <li>
      <a
        class="sprk-c-Pagination__icon sprk-b-Link sprk-b-Link--plain"
        href="#"
        data-sprk-pagination="prev">
        <span class="sprk-u-ScreenReaderText">Prev</span>
        <svg class="sprk-c-Icon" viewBox="0 0 64 64">
          <use xlink:href="#chevron-left"></use>
        </svg>
      </a>
    </li>

    <li>
      <a
        class="sprk-c-Pagination__link sprk-b-Link sprk-b-Link--plain"
        href="#"
        data-sprk-pagination="item">
        1
      </a>
    </li>

    <li
      class="sprk-u-pas"
      data-sprk-pagination="dots">
      ...
    </li>

    <li>
      <a
        class="sprk-c-Pagination__link sprk-c-Pagination__link--current sprk-b-Link sprk-b-Link--plain"
        href="#"
        aria-current="true"
        data-sprk-pagination="item">
        11
      </a>
    </li>

    <li
      class="sprk-u-pas"
      data-sprk-pagination="dots">
      ...
    </li>

    <li>
      <a
        class="sprk-c-Pagination__link sprk-b-Link sprk-b-Link--plain"
        href="#"
        data-sprk-pagination="item">
        22
      </a>
    </li>

    <li>
      <a
        class="sprk-c-Pagination__icon sprk-b-Link sprk-b-Link--plain"
        href="#"
        data-sprk-pagination="next">
        <svg class="sprk-c-Icon" viewBox="0 0 64 64">
          <use xlink:href="#chevron-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
