---
name: Pager
description: |
  Use this pattern in the case where you need pagination but there is no
  need to show page numbers.
order: 3
hasAngularCode: true
hasAngularDocs: true
---
<nav aria-label="Pagination Navigation">
  <ul class="sprk-c-Pagination sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large">
    <li>
      <a class="sprk-c-Pagination__icon sprk-b-Link sprk-b-Link--plain" href="">
        <svg class="sprk-c-Icon" viewBox="0 0 64 64">
          <use xlink:href="#chevron-left"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="sprk-c-Pagination__icon sprk-b-Link sprk-b-Link--plain" href="">
        <svg class="sprk-c-Icon" viewBox="0 0 64 64">
          <use xlink:href="#chevron-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
