---
name: Pagination
notes: |
  This is for paging through a long list of content.
order: 3
labels:
  - inprogress
---

<ol class="c-Pagination">
  <li class="c-Pagination__item c-Pagination__first">
    <a class="c-Pagination__link o-Link--plain o-Link--disabled" href="">First</a>
  </li>
  <li class="c-Pagination__item c-Pagination__prev">
    <a class="c-Pagination__link o-Link--plain o-Link--disabled" href="">Prev</a>
  </li>
  <li class="c-Pagination__item c-Pagination__item--current">
    <a class="c-Pagination__link o-Link--plain" href="">1</a>
  </li>
  <li class="c-Pagination__item">
    <a class="c-Pagination__link o-Link--plain" href="">2</a>
  </li>
  <li class="c-Pagination__item">
    <a class="c-Pagination__link o-Link--plain" href="">3</a>
  </li>
  <li class="c-Pagination__item c-Pagination__next">
    <a class="c-Pagination__link o-Link--plain" href="">Next</a>
  </li>
  <li class="c-Pagination__item c-Pagination__last">
    <a class="c-Pagination__link o-Link--plain" href="">Last</a>
  </li>
</ol>
