---
name: Pagination
notes: |
  This is for paging through a long list of content.
order: 3
labels:
  - inprogress
---

<ol class="sprk-c-Pagination">
  <li class="sprk-c-Pagination__item sprk-c-Pagination__first">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain sprk-b-Link--disabled" href="">First</a>
  </li>
  <li class="sprk-c-Pagination__item sprk-c-Pagination__prev">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain sprk-b-Link--disabled" href="">Prev</a>
  </li>
  <li class="sprk-c-Pagination__item sprk-c-Pagination__item--current">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain" href="">1</a>
  </li>
  <li class="sprk-c-Pagination__item">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain" href="">2</a>
  </li>
  <li class="sprk-c-Pagination__item">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain" href="">3</a>
  </li>
  <li class="sprk-c-Pagination__item sprk-c-Pagination__next">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain" href="">Next</a>
  </li>
  <li class="sprk-c-Pagination__item sprk-c-Pagination__last">
    <a class="sprk-c-Pagination__link sprk-b-Link--plain" href="">Last</a>
  </li>
</ol>
