---
name: Base
description:
  Base Promos include a heading and a description.
restrictions:
 - Illustration/icon must have a descriptive alt tag if it's an image or a descriptive title tag if the format is SVG.
hidden: true
---
<div class="sprk-c-Promo sprk-o-Stack sprk-o-Stack--split@s">

  {{#if hasIcon }}
    {{#unless mediaRev}}
    <a href="#" class="sprk-o-Stack__item sprk-o-Stack__item--half@s sprk-c-Promo__icon">
      <svg class="sprk-c-Icon sprk-c-Icon--xxl" viewBox="0 0 100 100">
        <use xlink:href="#home" />
      </svg>
    </a>
    {{/unless}}
  {{/if}}

  {{#if hasImage }}
    {{#unless mediaRev}}
    <a href="#" class="sprk-o-Stack__item sprk-o-Stack__item--half@s ">
      <img class="sprk-c-Promo__image " src="../../assets/toolkit/images/blue-house.jpg" />
    </a>
    {{/unless}}
  {{/if}}

  {{#if hasIcon }}
  <div class="sprk-c-Promo__content sprk-o-Stack__item sprk-o-Stack__item--half@s sprk-o-Stack sprk-o-Stack--large">
  {{else}}
    {{#if hasImage }}
      <div class="sprk-c-Promo__content sprk-o-Stack__item sprk-o-Stack__item--half@s sprk-o-Stack sprk-o-Stack--large">
    {{/if}}
  {{/if}}

    {{#unless hasIcon }}
      {{#unless hasImage }}
        <div class="sprk-c-Promo__content sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large">
      {{/unless}}
    {{/unless}}
  
    <h3 class="sprk-b-TypeDisplayFive sprk-o-Stack__item sprk-c-Promo__title">
      Title
    </h3>

    {{#if hasSubTitle }}
    <div class="sprk-c-Promo__subtitle sprk-o-Stack__item">
      Subtitle subtitle subtitle
    </div>
    {{/if}}

    <div class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
      Lorem ipsum dolor. Sit amet pede. Tempus donec et. Suspendisse
      id inventore integer eum non enim diam habitant. Maecenas nunc
      per lacus neque egestas. Diam quod curabitur.
    </div>

    {{#if hasCta}}
    <div class="sprk-o-Stack__item">
      <a href="#" class="sprk-c-Button">
        Learn More
      </a>
    </div>
    {{/if}}
  </div>

  {{#if hasIcon}}
    {{#if mediaRev}}
    <a href="#" class="sprk-o-Stack__item sprk-o-Stack__item--half@s sprk-c-Promo__icon">
      <svg class="sprk-c-Icon sprk-c-Icon--xxl" viewBox="0 0 100 100">
        <use xlink:href="#home" />
      </svg>
    </a>
    {{/if}}
  {{/if}}

  {{#if hasImage }}
    {{#if mediaRev}}
    <a href="#" class="sprk-o-Stack__item sprk-o-Stack__item--half@s">
      <img class="sprk-c-Promo__image " src="../../assets/toolkit/images/blue-house.jpg" />
    </a>
    {{/if}}
  {{/if}}
</div>