---
name: Promo With Image
description:
  Promo with clickable image.
restrictions:
 - Image must have a descriptive alt tag.
order: 3
hasAngularCode: true
hasAngularDocs: true
---
<div class="sprk-c-Promo sprk-o-Stack sprk-o-Stack--split@s">
  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@s">
    <a href="#">
      <img class="sprk-c-Promo__image " src="../../assets/toolkit/images/blue-house.jpg" />
    </a>
  </div>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@s">
    {{#embed "patterns.components.promo.base" hasSubTitle=true hasCta=true}}{{/embed}}
  </div>
</div>