---
name: Promo With Icon
description:
  Promo with optional clickable icon.
restrictions:
 - Icon must have a descriptive title tag if the format is SVG.
order: 2
hasAngularCode: true
hasAngularDocs: true
---
<div class="sprk-c-Promo sprk-o-Stack sprk-o-Stack--split@s">
  <a href="#" class="sprk-o-Stack__item sprk-o-Stack__item--equal@s sprk-c-Promo__icon">
    <svg height="150" width="167" viewBox="0 0 220.63 197.62">
      <use xlink:href="#sparkler" />
    </svg>
  </a>
  <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@s">
    {{#embed "patterns.components.promo.base" hasSubTitle=true hasCta=true}}{{/embed}}
  </div>
</div>