<p class="sprk-u-mbm">
  See below for available customization options:
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Input</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        socialLinks
      </td>

      <td>
        array&#x0003C;object&#x0003E;
      </td>

      <td>
        This supplies the data for the social icon links in the footer.
        Each link object in the array should have keys of icon
        (the desired icon name),
        href, and analytics (the value for data-analytics).
        Each key should have its value of type string.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        feedbackLinks
      </td>

      <td>
        array&#x0003C;object&#x0003E;
      </td>

      <td>
        This supplies the data for the feedback links in the footer.
        Each link object in the array should have keys of icon
        (the desired icon name), text (the link text),
        href, and analytics (the value for data-analytics).
        Each key should have its value of type string.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        siteLinkCols
      </td>

      <td>
        array&#x0003C;object&#x0003E;
      </td>

      <td>
        This supplies the data for the columns of links in the footer.
        Each column object in the array should have keys of heading (the heading of the column)
        and a nested array of the site links (siteLinks) to be in that column. The site link should include
        keys of text (the text for the link), href, and linkAnalytics (the value for the data-analytics).
      </td>
    </tr>
  </tbody>
</table>
