<p class="sprk-u-mbm">
  See below for React properties.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>string</td>
      <td>The variant to use. Can be set to <code>choice</code>, <code>wait</code>, or <code>info</code>. Defaults to <code>choice</code>.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">isVisible</td>
      <td>boolean</td>
      <td>If <code>true</code>, the modal is visible. Defaults to <code>false</code>.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">confirmText</td>
      <td>string</td>
      <td>This is the text on the primary action button in the modal. Defaults to "Confirm".</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">cancelText</td>
      <td>string</td>
      <td>This is the text on the secondary action button in the modal. Defaults to "Cancel".</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">confirmClick</td>
      <td>function</td>
      <td>If supplied, this function is called when the primary action button is clicked.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">cancelClick</td>
      <td>function</td>
      <td>If supplied, this function is called when the secondary action button is clicked. This function is also called when the close button is clicked, when the mask overlay is clicked, or when the escape key is pressed.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">title</td>
      <td>string</td>
      <td>This text is displayed in the header section of the modal.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">shouldReturnFocusOnClose</td>
      <td>boolean</td>
      <td>If <code>true</code>, focus will automatically be returned to the last-focused item when the modal is closed. Defaults to <code>true</code>.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">closeIcon</td>
      <td>string</td>
      <td>The icon name to use for the close button in the modal. Defaults to "close".</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Any additional CSS classes that should be applied to the modal.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the modal.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">closeAnalyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the close button (icon).</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">maskAnalyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the mask.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">confirmAnalyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the confirm button.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">cancelAnalyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the cancel button.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-id</code> attribute on the modal.</td>
    </tr>
  </tbody>
</table>
