<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>String</td>
      <td>
        Expects a space-separated list of classes to append
        to the class attribute of the SprkAward component.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerText</td>
      <td>String</td>
      <td>The text that will be inside the disclaimer toggle.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerTitle</td>
      <td>String</td>
      <td>
        The text that will be the clickable title of the disclaimer toggle.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">disclaimerAnalytics</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-analytics'
        attribute on the disclaimer toggle. This is intended to be
        used as a selector for automated tools. This value should
        be unique per page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">splitAt</td>
      <td>String</td>
      <td>
        The relative size of viewport that the award component should switch
        from a stacked layout to a spread out layout.
        Values can be 'extraTiny', 'tiny', 'small', 'medium', 'large',
        'huge'. You will need to experiment with your content to see which
        value is the best fit.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">images</td>
      <td>Array</td>
      <td>
        This array should contain two objects with the image data. The image objects
        should have keys of 'src' and 'alt'. Optional keys of 'analyticsString',
        'addClasses', 'href', 'element' and 'linkAddClasses' can also be added. The 'addClasses' key
        should be a space-separated string of additional classes to be added to the image. The 'linkAddClasses'
        key should be a space-separated string of additional classes to be added to the link element
        that wraps the image. The 'element' key should be set to 'a' for an anchor element
        or a React Router Link. If 'element' is set to 'a' then an 'href' should be supplied.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">heading</td>
      <td>String</td>
      <td>
        The text that appears above the images and serves as the heading for the award section.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>
  </tbody>
</table>
