<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Component</th>
      <th>Prop</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordion</td>
      <td>idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on
        the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordion</td>
      <td>additionalClasses</td>
      <td>String</td>
      <td>
        Expects a space separated string of classes
        to be added to the accordion component.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>analyticsString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-analytics'
        attribute on the accordion heading. This is intended to be
        used as a selector for analytics tools. This value should
        be unique per page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>idString</td>
      <td>String</td>
      <td>
        The value supplied will be assigned to the 'data-id' attribute on
        the component. This is intended to be used as a
        selector for automated tools. This value should be unique per page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>children</td>
      <td>Node</td>
      <td>
        The value supplied will be used as the toggle item content.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>heading</td>
      <td>String</td>
      <td>
        The value supplied will be used as the heading for the accordion item.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>headingAddClasses</td>
      <td>String</td>
      <td>
        Expects a space separated string of classes
        to be added to the heading.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>additionalClasses</td>
      <td>String</td>
      <td>
        Expects a space separated string of classes
        to be added to the accordion item.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>contentAddClasses</td>
      <td>String</td>
      <td>
        Expects a space separated string of classes
        to be added to the content in the accordion item.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>iconAddClasses</td>
      <td>String</td>
      <td>
        Expects a space separated string of classes
        to be added to the icon in the accordion item heading.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>isDefaultOpen</td>
      <td>Boolean</td>
      <td>
        If true, the accordion item will initially render in the open state.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">SprkAccordionItem</td>
      <td>onToggle</td>
      <td>Function</td>
      <td>
        If supplied, this will run when the accordion item heading is clicked.
      </td>
    </tr>
  </tbody>
</table>