<sprk-selection-container>
  <label sprkLabel>
    Checkbox Group Label
  </label>

  <sprk-selection-item-container>
    <input
      type="checkbox"
      name="checkbox_input"
      [(ngModel)]="checkbox_input1"
      sprkSelectionInput
      #checkboxInput1="ngModel">

    <label sprkSelectionLabel>
      Checkbox Item 1
    </label>
  </sprk-selection-item-container>

  <sprk-selection-item-container>
    <input
      type="checkbox"
      name="checkbox_input"
      [(ngModel)]="checkbox_input2"
      sprkSelectionInput
      #checkboxInput2="ngModel">

    <label sprkSelectionLabel>
      Checkbox Item 2
    </label>
  </sprk-selection-item-container>

  <sprk-selection-item-container>
    <input
      type="checkbox"
      name="checkbox_input"
      [(ngModel)]="checkbox_input3"
      sprkSelectionInput
      #checkboxInput3="ngModel">

    <label sprkSelectionLabel>
      Checkbox Item 3
    </label>
  </sprk-selection-item-container>
</sprk-selection-container>
