<sprk-icon-input-container>
  <label class="sprk-b-Label--with-icon" sprkLabel>
    Date Input (picker)
  </label>
  <sprk-icon
      iconType="calendar"
      additionalClasses="sprk-c-Icon--stroke-current-color sprk-b-DatePicker__icon"
      sprk-input-icon
  ></sprk-icon>
  <input
      name="datepicker_input"
      class="sprk-b-TextInput--has-svg-icon"
      type="text"
      pattern="^(((0[13578]|1[02])([\/-]?)(0[1-9]|[12]\d|3[01])|(0[469]|11)([\/-]?)(0[1-9]|[12]\d|30)|02([\/-]?)((0[1-9])|[12]\d))(\4|\7|\9)[12]\d{3})?$"
      placeholder="MM/DD/YYYY"
      [(ngModel)]="datepicker_input"
      #datepickerInput="ngModel"
      sprkFormatterDate
      [sprkDatePickerConfig]="dpConfig"
      sprkDatepicker
      sprkInput
  />
  <div
      [hidden]="datepickerInput.valid || datepickerInput.pristine"
      sprkFieldError
  >
    <sprk-icon
        iconType="exclamation-filled-small"
        additionalClasses="sprk-b-ErrorIcon"
    ></sprk-icon>
    <div class="sprk-b-ErrorText">Invalid date.</div>
  </div>
</sprk-icon-input-container>
