<sprk-icon-input-container iconContainerClasses="">
  <label
    class="sprk-b-Label--with-icon sprk-u-ScreenReaderText"
    sprkLabel>
    Search
  </label>
  <sprk-icon iconType="search" additionalClasses="sprk-b-InlineSearch__icon" sprk-input-icon></sprk-icon>
  <input
    name="inline_search_input"
    class="sprk-b-TextInput--with-icon"
    type="text"
    placeholder="Search"
    [(ngModel)]="inline_search_input"
    #inlineSearchInput="ngModel"
    idString="input-search-1"
    sprkInput>
</sprk-icon-input-container>
