<sprk-icon-input-container
    iconContainerClasses="sprk-b-TextInputIconContainer--has-text-icon"
>
  <label class="sprk-b-Label--monetary" sprkLabel> Payment </label>
  <input
      class="sprk-b-TextInput--has-text-icon"
      name="monetary_input"
      type="text"
      pattern="(^\$?(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$)|^$"
      [(ngModel)]="monetary_input"
      #monetaryInput="ngModel"
      sprkFormatterMonetary
      sprkInput
  />
  <div
      [hidden]="monetaryInput.valid || monetaryInput.pristine"
      sprkFieldError
  >
    <sprk-icon
        iconType="exclamation-filled-small"
        additionalClasses="sprk-b-ErrorIcon"
    ></sprk-icon>
    <div class="sprk-b-ErrorText">Invalid amount.</div>
  </div>
</sprk-icon-input-container>
