<sprk-input-container>
  <label sprkLabel>Password</label>
  <input
    [type]="passwordType"
    name="password_input"
    sprkInput>
  <sprk-selection-item-container>
    <input type="checkbox" sprkSelectionInput (click)="togglePasswordType()">
    <label sprkSelectionLabel>Show Password</label>
  </sprk-selection-item-container>
</sprk-input-container>
