<sprk-input-container>
  <label sprkLabel>Search Input</label>
  <input
    name="search_input"
    type="search"
    [(ngModel)]="search_input"
    #searchInput="ngModel"
    sprkInput>
</sprk-input-container>
