<sprk-input-container>
  <label sprkLabel>Select Box Label</label>
  <select
    class="sprk-b-Select"
    id="select-normal"
    aria-describedby="select-normal--error-container"
    sprkInput
    disabled>
    <option value="none">Please choose...</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <optgroup label="Grouped Options">
      <option value="g1">Grouped Option 1</option>
      <option value="g2">Grouped Option 2</option>
      <option value="g3">Grouped Option 3</option>
    </optgroup>
  </select>
</sprk-input-container>
