<sprk-huge-input-container>
  <select
    id="select-normal"
    aria-describedby="select-normal--error-container"
    data-id="select-huge-error-1"
    data-sprk-input="huge"
    sprkInput
  >
    <option
     value=""
     disabled
     selected
     hidden
    ></option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <optgroup label="Grouped Options">
      <option value="g1">Grouped Option 1</option>
      <option value="g2">Grouped Option 2</option>
      <option value="g3">Grouped Option 3</option>
    </optgroup>
  </select>
  <label sprkLabel>Select Box Label</label>
  <sprk-icon
    iconType="chevron-down"
    additionalClasses="sprk-c-Icon--stroke-current-color sprk-b-SelectContainer__icon"
    sprk-select-icon
  ></sprk-icon>
</sprk-huge-input-container>