<sprk-input-container>
  <label sprkLabel>Text Input Label</label>
  <input
    name="text_input"
    [additionalClasses]="textInput.invalid && textInput.dirty ? 'sprk-b-TextInput--error': ''"
    type="text"
    [(ngModel)]="text_input"
    required
    #textInput="ngModel"
    sprkInput>
</sprk-input-container>
