<sprk-huge-input-container>
  <input
    placeholder="Placeholder"
    disabled
    name="text_input"
    [ngClass]="{'sprk-b-TextInput--error': textInput.invalid && textInput.dirty }"
    type="text"
    [(ngModel)]="text_input"
    required
    #textInput="ngModel"
    data-id="input-disabled-1"
    sprkInput>
    <label sprkLabel>Text Input Label</label>
</sprk-huge-input-container>
