<sprk-input-container>
  <label sprkLabel>Description</label>
  <textarea
    name="textarea_input"
    [(ngModel)]="textarea_input"
    #textareaInput="ngModel"
    idString="textarea-error-1"
    sprkInput></textarea>
    <span
    [hidden]="textInput.valid || textInput.pristine"
    sprkFieldError>There is an error on this field.</span>
</sprk-input-container>
