<sprk-textarea-container>
  <label sprkLabel>Description</label>
  <textarea
    name="textarea_input"
    [(ngModel)]="textarea_input"
    #textareaInput="ngModel"
    data-id="textarea-1"
    sprkInput></textarea>
</sprk-textarea-container>
