<sprk-input-container additionalClasses="sprk-b-InputContainer--huge">
  <label class="sprk-u-ScreenReaderText" sprkLabel>Text Input Label</label>
  <input
    name="text_input"
    [ngClass]="{ 'sprk-b-TextInput--huge': true, 'sprk-b-TextInput--error': textInput.invalid && textInput.dirty }"
    type="text"
    [(ngModel)]="text_input"
    required
    #textInput="ngModel"
    data-id="input-1"
    sprkInput>
</sprk-input-container>
