<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Input</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Expects a space-separated list of class names to be appended to the class attribute of sprk-card.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClassesIcon</td>
      <td>string</td>
      <td>If the media input is set to 'icon', expects a space-separated list of class
        names to be appended to the class attribute of the icon.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalCtaClasses</td>
      <td>string</td>
      <td>Expects a space-separated list of class names to be applied to the CTA.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">body</td>
      <td>string</td>
      <td>The text that will be the main content of the card. Placed between the title and CTA.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">cardType</td>
      <td>string</td>
      <td>Determines the variant of sprk-card to render. The available values are 'base', 'teaser', and
        'teaserHeading'.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaAnalytics</td>
      <td>string</td>
      <td>The text that will be applied to the data-analytics attribute of the CTA.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaHref</td>
      <td>string</td>
      <td>The text that will be applied to the href attribute of the CTA.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaText</td>
      <td>string</td>
      <td>The text content of the CTA.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaType</td>
      <td>string</td>
      <td>Determines which type of cta is rendered. The available values are 'link' and 'button'.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconHref</td>
      <td>string</td>
      <td>If the media input is set to 'icon', the text that will be applied to the href attribute of the icon.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconLinkAnalytics</td>
      <td>string</td>
      <td>If the media input is set to 'icon', the text that will be applied to the data-analytics attribute of the link
        surrounding the icon.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">iconType</td>
      <td>string</td>
      <td>If the media input is set to 'icon', the value that is passed to the internal sprk-icon. Determines which icon is used.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgAlt</td>
      <td>string</td>
      <td>If the media input is set to 'image', the text that is applied to the alt attribute of the image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgHref</td>
      <td>string</td>
      <td>If the media input is set to 'image', the text that will be applied to the href attribute of the image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgLinkAnalytics</td>
      <td>string</td>
      <td>If the media input is set to 'image', the text that will be applied to the data-analytics
        attribute of the image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgSrc</td>
      <td>string</td>
      <td>If the media input is set to 'image', the text that will be applied to the src
        attribute of the image.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">media</td>
      <td>string</td>
      <td>Determines which type of media will be rendered. The available values are 'image' and 'icon'.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">title</td>
      <td>string</td>
      <td>The text that will be set to the title of the card.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the 'data-id' attribute on the component. This is intended to be used as a 
        selector for automated tools. This value should be unique per page.</td>
    </tr>
  </tbody>
</table>
