// ==========================================================================
// Stack Object
// ==========================================================================

//
// Default Stack
///
.sprk-o-Stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Centers items when in flex-direction row
.sprk-o-Stack--center-row {
  justify-content: center;
}

//
// Aligns items to end of container when in flex-direction row
// at all breakpoints
///
.sprk-o-Stack--end-row {
  justify-content: flex-end;
}

//
// Aligns items to end of container when in flex-direction row
// at specific breakpoints
///
.sprk-o-Stack--end-row\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    justify-content: flex-end;
  }
}

.sprk-o-Stack--end-row\@s {
  @media all and (min-width: $split-breakpoint-s) {
    justify-content: flex-end;
  }
}

.sprk-o-Stack--end-row\@m {
  @media all and (min-width: $split-breakpoint-m) {
    justify-content: flex-end;
  }
}

.sprk-o-Stack--end-row\@l {
  @media all and (min-width: $split-breakpoint-l) {
    justify-content: flex-end;
  }
}

.sprk-o-Stack--end-row\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    justify-content: flex-end;
  }
}

// Aligns items to end of container when in flex-direction column
.sprk-o-Stack--end-column {
  align-items: flex-end;
}

// Centers items when in flex flex-direction column
.sprk-o-Stack--center-column {
  align-items: center;
}

// Stack items retain their original width by default
.sprk-o-Stack__item {
  flex: 0 0 auto;
}

// Center a specific stack item
.sprk-o-Stack__item--center-column {
  align-self: center;
}

// Aligns item to end of container when in flex-direction column
.sprk-o-Stack__item--end-column\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    align-self: flex-end;
  }
}

.sprk-o-Stack__item--end-column\@s {
  @media all and (min-width: $split-breakpoint-s) {
    align-self: flex-end;
  }
}

.sprk-o-Stack__item--end-column\@m {
  @media all and (min-width: $split-breakpoint-m) {
    align-self: flex-end;
  }
}

.sprk-o-Stack__item--end-column\@l {
  @media all and (min-width: $split-breakpoint-l) {
    align-self: flex-end;
  }
}

.sprk-o-Stack__item--end-column\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    align-self: flex-end;
  }
}

//
// Stack spacing modifiers
///
.sprk-o-Stack--tiny > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-tiny;
}

.sprk-o-Stack--small > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-small;
}

.sprk-o-Stack--medium > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-medium;
}

.sprk-o-Stack--large > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-large;
}

.sprk-o-Stack--huge > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-huge;
}

.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
  margin-bottom: 0;
}

[class*='sprk-o-Stack__item--sixth\@'],
[class*='sprk-o-Stack__item--fifth\@'],
[class*='sprk-o-Stack__item--fourth\@'],
[class*='sprk-o-Stack__item--third\@'],
[class*='sprk-o-Stack__item--half\@'],
[class*='sprk-o-Stack__item--three-fifths\@'],
[class*='sprk-o-Stack__item--three-fourths\@'],
[class*='sprk-o-Stack__item--two-fifths\@'] {
  margin: 0 !important;
}

//
// Split at extra small breakpoint
///
.sprk-o-Stack--split\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    // At extra small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@xs {
      flex: 0 0 16.666666667%;
      max-width: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@xs {
      flex: 0 0 20%;
      max-width: 20%;
    }

    > .sprk-o-Stack__item--fourth\@xs {
      flex: 0 0 25%;
      max-width: 25%;
    }

    > .sprk-o-Stack__item--third\@xs {
      flex: 0 0 33.333333333%;
      max-width: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@xs {
      flex: 0 0 50%;
      max-width: 50%;
    }

    > .sprk-o-Stack__item--three-fourths\@xs {
      flex: 0 0 75%;
      max-width: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@xs {
      flex: 0 0 60%;
      max-width: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@xs {
      flex: 0 0 40%;
      max-width: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at  small breakpoint
///
.sprk-o-Stack--split\@s {
  @media all and (min-width: $split-breakpoint-s) {
    // At small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@s {
      flex: 0 0 16.666666667%;
      max-width: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@s {
      flex: 0 0 20%;
      max-width: 20%;
    }

    > .sprk-o-Stack__item--fourth\@s {
      flex: 0 0 25%;
      max-width: 25%;
    }

    > .sprk-o-Stack__item--third\@s {
      flex: 0 0 33.333333333%;
      max-width: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@s {
      flex: 0 0 50%;
      max-width: 50%;
    }

    > .sprk-o-Stack__item--three-fourths\@s {
      flex: 0 0 75%;
      max-width: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@s {
      flex: 0 0 60%;
      max-width: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@s {
      flex: 0 0 40%;
      max-width: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at medium breakpoint
///
.sprk-o-Stack--split\@m {
  @media all and (min-width: $split-breakpoint-m) {
    // At medium breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@m {
      flex: 0 0 16.666666667%;
      max-width: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@m {
      flex: 0 0 20%;
      max-width: 20%;
    }

    > .sprk-o-Stack__item--fourth\@m {
      flex: 0 0 25%;
      max-width: 25%;
    }

    > .sprk-o-Stack__item--third\@m {
      flex: 0 0 33.333333333%;
      max-width: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@m {
      flex: 0 0 50%;
      max-width: 50%;
    }

    > .sprk-o-Stack__item--three-fourths\@m {
      flex: 0 0 75%;
      max-width: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@m {
      flex: 0 0 60%;
      max-width: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@m {
      flex: 0 0 40%;
      max-width: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at large breakpoint
///
.sprk-o-Stack--split\@l {
  @media all and (min-width: $split-breakpoint-l) {
    // At large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@l {
      flex: 0 0 16.666666667%;
      max-width: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@l {
      flex: 0 0 20%;
      max-width: 20%;
    }

    > .sprk-o-Stack__item--fourth\@l {
      flex: 0 0 25%;
      max-width: 25%;
    }

    > .sprk-o-Stack__item--third\@l {
      flex: 0 0 33.333333333%;
      max-width: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@l {
      flex: 0 0 50%;
      max-width: 50%;
    }

    > .sprk-o-Stack__item--three-fourths\@l {
      flex: 0 0 75%;
      max-width: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@l {
      flex: 0 0 60%;
      max-width: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@l {
      flex: 0 0 40%;
      max-width: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at extra large breakpoint
///
.sprk-o-Stack--split\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    // At extra large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@xl {
      flex: 0 0 16.666666667%;
      max-width: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@xl {
      flex: 0 0 20%;
      max-width: 20%;
    }

    > .sprk-o-Stack__item--fourth\@xl {
      flex: 0 0 25%;
      max-width: 25%;
    }

    > .sprk-o-Stack__item--third\@xl {
      flex: 0 0 33.333333333%;
      max-width: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@xl {
      flex: 0 0 50%;
      max-width: 50%;
    }

    > .sprk-o-Stack__item--three-fourths\@xl {
      flex: 0 0 75%;
      max-width: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@xl {
      flex: 0 0 60%;
      max-width: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@xl {
      flex: 0 0 40%;
      max-width: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Stack items take up leftover space at specific breakpoints
///
.sprk-o-Stack__item--flex\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@s {
  @media all and (min-width: $split-breakpoint-s) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@m {
  @media all and (min-width: $split-breakpoint-m) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@l {
  @media all and (min-width: $split-breakpoint-l) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    flex: 1;
  }
}
