// ==========================================================================
// Stack Object
// ==========================================================================

//
// Default Stack
///
.sprk-o-Stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Centers items when in flex-direction row
.sprk-o-Stack--center-row {
  justify-content: center;
}

// Centers items when in flex flex-direction column
.sprk-o-Stack--center-column {
  align-items: center;
}

// Stack items retain their original width by default
.sprk-o-Stack__item {
  flex: 0 0 auto;
}

// Center a specific stack item
.sprk-o-Stack__item--center {
  align-self: center;
}

//
// Stack spacing modifiers
///
.sprk-o-Stack--tiny > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-tiny;
}

.sprk-o-Stack--small > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-small;
}

.sprk-o-Stack--medium > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-medium;
}

.sprk-o-Stack--large > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-large;
}

.sprk-o-Stack--huge > .sprk-o-Stack__item {
  margin-bottom: $stack-spacing-huge;
}

.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
  margin-bottom: 0;
}

[class*='sprk-o-Stack__item--sixth\@'],
[class*='sprk-o-Stack__item--fifth\@'],
[class*='sprk-o-Stack__item--fourth\@'],
[class*='sprk-o-Stack__item--third\@'],
[class*='sprk-o-Stack__item--half\@'],
[class*='sprk-o-Stack__item--three-fifths\@'],
[class*='sprk-o-Stack__item--three-forths\@'],
[class*='sprk-o-Stack__item--two-fifths\@'] {
  margin: 0 !important;
}

//
// Split at extra small breakpoint
///
.sprk-o-Stack--split\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    // At extra small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@xs {
      flex-basis: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@xs {
      flex-basis: 20%;
    }

    > .sprk-o-Stack__item--fourth\@xs {
      flex-basis: 25%;
    }

    > .sprk-o-Stack__item--third\@xs {
      flex-basis: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@xs {
      flex-basis: 50%;
    }

    > .sprk-o-Stack__item--three-forths\@xs {
      flex-basis: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@xs {
      flex-basis: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@xs {
      flex-basis: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at  small breakpoint
///
.sprk-o-Stack--split\@s {
  @media all and (min-width: $split-breakpoint-s) {
    // At small breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@s {
      flex-basis: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@s {
      flex-basis: 20%;
    }

    > .sprk-o-Stack__item--fourth\@s {
      flex-basis: 25%;
    }

    > .sprk-o-Stack__item--third\@s {
      flex-basis: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@s {
      flex-basis: 50%;
    }

    > .sprk-o-Stack__item--three-forths\@s {
      flex-basis: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@s {
      flex-basis: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@s {
      flex-basis: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at medium breakpoint
///
.sprk-o-Stack--split\@m {
  @media all and (min-width: $split-breakpoint-m) {
    // At medium breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@m {
      flex-basis: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@m {
      flex-basis: 20%;
    }

    > .sprk-o-Stack__item--fourth\@m {
      flex-basis: 25%;
    }

    > .sprk-o-Stack__item--third\@m {
      flex-basis: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@m {
      flex-basis: 50%;
    }

    > .sprk-o-Stack__item--three-forths\@m {
      flex-basis: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@m {
      flex-basis: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@m {
      flex-basis: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at large breakpoint
///
.sprk-o-Stack--split\@l {
  @media all and (min-width: $split-breakpoint-l) {
    // At large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@l {
      flex-basis: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@l {
      flex-basis: 20%;
    }

    > .sprk-o-Stack__item--fourth\@l {
      flex-basis: 25%;
    }

    > .sprk-o-Stack__item--third\@l {
      flex-basis: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@l {
      flex-basis: 50%;
    }

    > .sprk-o-Stack__item--three-forths\@l {
      flex-basis: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@l {
      flex-basis: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@l {
      flex-basis: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Split at extra large breakpoint
///
.sprk-o-Stack--split\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    // At extra large breakpoint we switch from column to row
    flex-direction: row;

    // Remove bottom margin in new row formation
    > .sprk-o-Stack__item {
      margin-bottom: 0;
    }

    // Add spacing between items based on spacing size class
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item {
      margin-right: $stack-spacing-tiny;
    }

    &.sprk-o-Stack--small > .sprk-o-Stack__item {
      margin-right: $stack-spacing-small;
    }

    &.sprk-o-Stack--medium > .sprk-o-Stack__item {
      margin-right: $stack-spacing-medium;
    }

    &.sprk-o-Stack--large > .sprk-o-Stack__item {
      margin-right: $stack-spacing-large;
    }

    &.sprk-o-Stack--huge > .sprk-o-Stack__item {
      margin-right: $stack-spacing-huge;
    }

    > .sprk-o-Stack__item--sixth\@xl {
      flex-basis: 16.666666667%;
    }

    > .sprk-o-Stack__item--fifth\@xl {
      flex-basis: 20%;
    }

    > .sprk-o-Stack__item--fourth\@xl {
      flex-basis: 25%;
    }

    > .sprk-o-Stack__item--third\@xl {
      flex-basis: 33.333333333%;
    }

    > .sprk-o-Stack__item--half\@xl {
      flex-basis: 50%;
    }

    > .sprk-o-Stack__item--three-forths\@xl {
      flex-basis: 75%;
    }

    > .sprk-o-Stack__item--three-fifths\@xl {
      flex-basis: 60%;
    }

    > .sprk-o-Stack__item--two-fifths\@xl {
      flex-basis: 40%;
    }

    // We want the last item to have zero margin on the right
    &.sprk-o-Stack--tiny > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--small > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--medium > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--large > .sprk-o-Stack__item:last-child,
    &.sprk-o-Stack--huge > .sprk-o-Stack__item:last-child {
      margin-right: 0;
    }
  }
}

//
// Stack items take up leftover space at specific breakpoints
///
.sprk-o-Stack__item--flex\@xs {
  @media all and (min-width: $split-breakpoint-xs) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@s {
  @media all and (min-width: $split-breakpoint-s) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@m {
  @media all and (min-width: $split-breakpoint-m) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@l {
  @media all and (min-width: $split-breakpoint-l) {
    flex: 1;
  }
}

.sprk-o-Stack__item--flex\@xl {
  @media all and (min-width: $split-breakpoint-xl) {
    flex: 1;
  }
}
