---
name: Heading Divider
notes: |
  This is divider line under a heading.
labels:
  - inprogress
order: 3
---

<h2 class="sprk-b-Heading sprk-b-Heading--secondary sprk-b-HeadingDivider">This is a secondary heading with a divider</h2>
