---
title: Design Principles
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Design Principles</h1>
</div>

<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <p>
      Our design principles capture the essence of what
      good design means to our company and provide direction on how to achieve it.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <div class="sprk-o-Flag sprk-o-Flag--stacked">
      <div class="sprk-o-Flag__figure">
        <svg height="75" viewBox="0 0 246.21 219.77">
          <use xlink:href="#flashlight" />
        </svg>
      </div>

      <div class="sprk-o-Flag__body">
        <h2 class="drizzle-b-h2">
          Clarity
        </h2>
        <p>
          Eliminate ambiguity so that the user can see the
          important elements on the page, understand what
          they're supposed to do and act confidently.
          Keep the user focused on their goal without distraction.
        </p>
      </div>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <div class="sprk-o-Flag sprk-o-Flag--stacked">
      <div class="sprk-o-Flag__figure">
        <svg height="75" viewBox="0 0 246.21 219.77">
          <use xlink:href="#squares" />
        </svg>
      </div>

      <div class="sprk-o-Flag__body">
        <h2 class="drizzle-b-h2">
          Consistency
        </h2>
        <p>
          Create familiarity by applying the same solution to the
          same problem each time. Use consistent language,
          patterns and components across the experience.
          This will allow the user to better predict what'll
          be on the page and understand what they're supposed
          to do without having to carefully examine the content and design.
        </p>
      </div>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <div class="sprk-o-Flag sprk-o-Flag--stacked">
      <div class="sprk-o-Flag__figure">
        <svg height="75" viewBox="0 0 220.63 197.62">
          <use xlink:href="#leaves" />
        </svg>
      </div>

      <div class="sprk-o-Flag__body">
        <h2 class="drizzle-b-h2">
          Beauty
        </h2>
        <p>
          Every aesthetic design decision - from how we design
          components, to illustrations, to choices about
          color - should be purposeful. Build trust and
          further build confidence with an experience that
          looks beautiful and functions seamlessly.
        </p>
      </div>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <div class="sprk-o-Flag sprk-o-Flag--stacked">
      <div class="sprk-o-Flag__figure">
        <svg height="75" viewBox="0 0 220.63 197.62">
          <use xlink:href="#heart" />
        </svg>
      </div>

      <div class="sprk-o-Flag__body">
        <h2 class="drizzle-b-h2">
          Inclusion
        </h2>
        <p>
          Be inclusive across the experience.
          Thoughtfully serve the needs of all people – including
          those with permanent, temporary or situational disabilities.
        </p>
      </div>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <div class="sprk-o-Flag sprk-o-Flag--stacked">
      <div class="sprk-o-Flag__figure">
        <svg height="75" viewBox="0 0 220.63 197.62">
          <use xlink:href="#sparkler" />
        </svg>
      </div>

      <div class="sprk-o-Flag__body">
        <h2 class="drizzle-b-h2">
          Delight
        </h2>
        <p>
          With all our principles accounted for,
          enhance the user's experience through
          thoughtful craftsmanship and elegant
          micro-interactions and transitions.
        </p>
      </div>
    </div>
  </div>
</div>
