---
title: Designers
order: 1
---
<div class=" drizzle-o-Layout__section-header">
  <h1 class="drizzle-b-h1">Getting Started - Designers</h1>
</div>
<div class="drizzle-o-Layout-content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Welcome</h2>
    <p>
      This getting started guide is intended for designers. See below for instructions on how to install the design toolkit
      and start using it to design components.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Spark Design System Toolkit</h2>
    <p>The Spark Design System is an ever evolving framework that contains all visual assets used to create a
      responsive web experience. For a designer, Spark provides visual documentation and recommendations on how to
      apply the visual styles and how to use the components.</p>
    <p>Every design element housed within Spark has been built out in our Spark Toolkit to help with rapid design and
      layout prototyping.</p>
    <p>The Spark Design System Team makes frequent updates to the Spark Toolkit to ensure that it is always up to date
      with our latest design recommendations.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Sketch</h2>
    <p>To use the Spark Design System Sketch template, follow these steps:</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">Download the <a
        href="https://github.com/sparkdesignsystem/spark-design-toolkit/raw/master/resources/Spark-Design-Toolkit-Sketch.sketch"
        class="drizzle-b-Link">sketch template file</a>.
      </li>
      <li class="sprk-u-mvm">Open file in sketch, then click File -> Save as Template.</li>
      <li class="sprk-u-mvm">Create a new document, by clicking File -> New From Template -> Spark Design
        System (version).</li>
    </ul>

    <p>When the new document is opened, you'll see a list of Pages.</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">Blank Page - this is the default workspace.</li>
      <li class="sprk-u-mvm">Quick Start - this page contains some quick layouts for getting started quickly. (i.e. A
        page with a Masthead and Footer Layout in place)</li>
      <li class="sprk-u-mvm">Symbols - these are the pieces of Spark as defined in Sketch, no need to edit this page.</li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Using Spark Components</h2>
    <p>In order to insert a Spark Component into your design:</p>
    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">click the Insert button</li>
      <li class="sprk-u-mvm">hover over Symbols</li>
      <li class="sprk-u-mvm">select Component to insert</li>
      <li class="sprk-u-mvm">see available properties in the right pane of selected component.</li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Changes</h2>
    <p>The Spark Sketch template will be updated with each release of Spark. If you want to make changes, do so only
      in your local copy. If you wish to add a component to Spark officially, see the Contribution process.</p>
  </div>
</div>
