---
title: Design Principles
---
<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Design Principles</h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <div class="drizzle-c-Alert">
      <div class="drizzle-c-Alert__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/>
        </svg>
      </div>
      <p class="drizzle-c-Alert__message sprk-u-mbn">
        The code and designs here
        are not ready for production use and are constantly changing.
        What you see here
        is not available in the Spark npm packages.
        To see what is available, please see
        <a class="drizzle-b-Link drizzle-b-Link--inline" href="https://sparkdesignsystem.com/">
          Spark Design System.
        </a>
        Please reach out to the
        <a class="drizzle-b-Link drizzle-b-Link--inline" href="mailto:sparkdesignsystem@quickenloans.com">Spark team</a>
        for guidance.
      </p>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <p>
      Our design principles capture the essence of what
      good design means to our company and provide direction on how to achieve it.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Clarity
    </h2>
    <p>
      Eliminate ambiguity. Enable people to see, understand and act with confidence.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Consistency
    </h2>
    <p>
      Create familiarity and strengthen intuition by applying the same solution to the same problem every time.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Beauty
    </h2>
    <p>
      Every design decision should be purposeful. Build trust and further build confidence with an experience that
      looks beautiful and flows seamlessly.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Inclusion
    </h2>
    <p>
      Craft an experience that recognizes the varying abilities of all people. Designing for those with disabilities
      will result in a better experience for everyone.
    </p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">
      Delight
    </h2>
    <p>
      Enhance expressions through thoughtful and unexpected details that bring joy to every touchpoint.
    </p>
  </div>
</div>
