---
title: Developers
---
<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Getting Started - Developers</h1>
</div>
<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Welcome</h2>
    <p>This getting started guide is intended for developers. See below for
      instructions on how to install Spark and bring it into your existing
      build.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Requirements</h2>
    <p>Spark assumes your project is using <a class="drizzle-b-Link"
      href="https://sass-lang.com/">Sass</a> for styling and
      that your project has a Javascript build step that will transpile ES6+
      and polyfill appropriately for browser support.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Theming</h2>
    <p>
      Spark components use Sass variables inside a _settings.scss file for things like color,
      border radius ETC. To theme Spark you can create a new settings file and set any of the variables.
      You must import your settings Sass file before you import Spark.
    </p>
  </div>


  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Spark Core</h2>

    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="sprk-u-mvm">
        <p>Install the npm package.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            npm install --save-dev @sparkdesignsystem/spark-core</code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Import the Sass setup file in your Sass build. This will bring all
          Spark-Core Sass patterns into your build. The Spark classes are
          namespaced so that they don't affect any existing css.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            @import &quot;node_modules/@sparkdesignsystem/spark-core/spark-core&quot;;
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Import the JS setup file in your JS build. This will bring all the
          Spark-Core JS into your build.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            import sparkCore from &quot;node_modules/@sparkdesignsystem/spark-core/spark-core&quot;;
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>If you plan to use
          <a class="drizzle-b-Link" href="/patterns/components/icons.html">
            Icons</a>, you'll need to import the svg file that contains the
            symbols.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            &quot;node_modules/@sparkdesignsystem/spark-core/spark-core-icons.svg&quot;
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>You will also need to perform a
          <a href="/patterns/fundamentals/typography.html#typekit-setup"
          class="drizzle-b-Link">typekit setup</a> for your application.</p>
      </li>
      <li class="sprk-u-mvm">
        <p>The main content area of your site will also need to have a data attribute set:</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            data-sprk-main
          </code>
        </div>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Spark Extras</h2>

    <ul class="drizzle-b-List drizzle-b-List--spacing-m drizzle-b-List--nested">
      <li>
        <p>Install the npm package.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">npm install --save-dev
            @sparkdesignsystem/spark-extras</code>
        </div>
      </li>
      <li>
        <p>Import any of the Spark-Extras Sass patterns that you need.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            @import &quot;node_modules/@sparkdesignsystem/spark-extras/components/&lt;pattern-name&gt;/&lt;pattern-name&gt;&quot;;
          </code>
        </div>
      </li>
      <li>
        <p>Import any of the Spark-Extras JS patterns that you need.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            import &lt;pattern-name&gt; from &quot;node_modules/@sparkdesignsystem/spark-extras/components/&lt;pattern-name&gt;/&lt;pattern-name&gt;&quot;;
          </code>
        </div>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Browser Support</h2>
    <p>Spark supports the following browsers (current version and 1 prior):</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Google Chrome</li>
      <li>Google Chrome (Mobile)</li>
      <li>Mozilla Firefox</li>
      <li>Mozilla Firefox (Mobile)</li>
      <li>Microsoft Edge</li>
      <li>Apple Safari</li>
      <li>Apple Safari (Mobile)</li>
    </ul>
    <p>Spark also supports the following:</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Microsoft Internet Explorer 11</li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">

    <div class="drizzle-o-ContentGrouping">
      <h2 class="drizzle-b-h2">Change Workflow and Contribution Guide</h2>
      <p>If you are interested in contributing to Spark, please read our full
        <a class="drizzle-b-Link" href="/docs/change-workflow">change
          workflow</a> and <a class="drizzle-b-Link" href="/docs/contributions">
          contribution guide</a> to get started.</p>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">Code Style Standards</h3>
      <p>Spark follows specific coding styles for HTML, CSS and
        JavaScript to ensure maintainability and scalability.
        To successfully make a commit in this repo the code
        must pass the pre-commit hooks that will run
        automatically on commit. The pre-commit hooks run
        <a class="drizzle-b-Link" href="https://eslint.org/">ESLint</a>,
        <a class="drizzle-b-Link" href="https://github.com/stylelint/stylelint">
          Stylelint</a> and an additional code formatter,
          <a class="drizzle-b-Link" href="https://github.com/prettier/prettier">
            prettier</a>.
      </p>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h4 class="drizzle-b-h4">HTML</h4>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Two spaces for indentation.</li>
        <li>For better code readability the attributes of elements should each
          be on their own line when the number of attributes makes that element
          exceed a line length of 80 characters.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h4 class="drizzle-b-h4">CSS</h4>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Two spaces for indentation.</li>
        <li>CSS is written in <a class="drizzle-b-Link"
          href="https://sass-lang.com/">Sass</a> and preprocessed.</li>
        <li>
          <a class="drizzle-b-Link" href="/docs/class-naming-convention">CSS
            Class Naming Conventions</a>
        </li>
        <li>
          <a class="drizzle-b-Link"
          href="https://github.com/stylelint/stylelint">Stylelint</a> is used to
          lint Sass files and all of Spark Sass coding conventions can be found
          in the <a class="drizzle-b-Link"
          href="https://github.com/sparkdesignsystem/spark-design-system/blob/master/.stylelintrc">
          Stylelint configuration file</a>.
        </li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h4 class="drizzle-b-h4">JavaScript</h4>
      <ul class="drizzle-b-List drizzle-b-List--nested">
        <li>Two spaces for indentation.</li>
        <li>Spark JS will use new features from ESNext and assumes applications
          using Spark have a JavaScript compiler setup.</li>
        <li>Spark uses <a class="drizzle-b-Link" href="https://eslint.org/">
          ESLint</a> for JS linting.</li>
        <li>ESLint is setup to use the
          <a class="drizzle-b-Link" href="https://github.com/airbnb/javascript">
            Airbnb JavaScript Style Guide</a> and Spark JS coding conventions
            come from there.
        </li>
        <li>We follow JS recommendations from the
          <a class="drizzle-b-Link" href="https://github.com/QuickenLoans/js-concord/blob/master/rfc/cgr-0001-style-and-lint.md">
            Quicken Loans JS Concord Group</a>.
        </li>
        <li>Data attributes on DOM elements is the chosen method for DOM
          selection.</li>
      </ul>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3">Code Organization</h3>
      <p>Spark is managed as a monorepo. All of the Spark source code lives in a
        single repo, but is released as separate packages using
        <a class="drizzle-b-Link" href="https://github.com/lerna/lerna">
          Lerna</a>.
      </p>
      <p>This repo consists of the design system packages, wrapped in an
        instance of <a class="drizzle-b-Link"
        href="https://github.com/cloudfour/drizzle">Drizzle</a>, a tool built
        by <a class="drizzle-b-Link" href="https://github.com/cloudfour">
        cloudfour</a>, for displaying pattern libraries. Spark uses Drizzle for
        documentation and plain html code examples.
      </p>
      <p>In the packages folder are Spark-Core and Spark-Extras. These are the
        files that are published to <a class="drizzle-b-Link"
        href="https://www.npmjs.com/settings/sparkdesignsystem/packages">
        npm</a>.
      </p>
    </div>

    <div class="drizzle-o-ContentGrouping">
      <h3 class="drizzle-b-h3 sprk-u-mbm">Running the Spark Docs site locally
      </h3>
      <ol
      class="drizzle-b-List drizzle-b-List--spacing-m drizzle-b-List--nested">
        <li>
          <div class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">
              npm install
            </code>
          </div>
        </li>
        <li>
          <div class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">
              gulp --dev
            </code>
          </div>
        </li>
        <li>
          <p>
            Open your browser to <a class="drizzle-b-Link"
            href="http://localhost:3000/">http://localhost:3000/</a>.
          </p>
        </li>
      </ol>
    </div>

  </div>

</div>
