---
title: HTML
---
<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Getting Started - HTML</h1>
</div>
<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Welcome</h2>
    <p>This getting started guide is intended for developers. See below for
      instructions on how to install Spark and bring it into your existing
      build.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Requirements</h2>
    <p>Spark assumes your project is using <a class="drizzle-b-Link"
      href="https://sass-lang.com/">Sass</a> for styling and
      that your project has a JavaScript build step that will transpile ES6+
      and polyfill appropriately for browser support.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2 sprk-u-mbm">Spark Core</h2>
    <h4 class="drizzle-b-h4">Getting Started</h4>

    <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mbm">
      <li class="sprk-u-mvm">
        <p>Install the npm package.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            npm install --save-dev @sparkdesignsystem/spark-core</code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Import the Sass setup file in your Sass build. This will bring all
          Spark-Core Sass patterns into your build. This includes styles for base HTML elements, but the Spark classes are
          namespaced so that they don't affect any existing css classes.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            @import &quot;node_modules/@sparkdesignsystem/spark-core/spark-core&quot;;
          </code>
        </div>
        <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mbm">
          <li>
            <p>If you are configuring Spark default variables, create a separate Sass file to override the Spark variables and load it prior to the Spark import.</p>
          </li>
        </ul>
      </li>
      <li class="sprk-u-mvm">
        <p>Add this data attribute set to the main content area of your site: </p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            data-sprk-main
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Copy and paste this script into the head tag: </p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            &lt;script&gt;
              document.getElementsByTagName('html')[0].classList.add('sprk-u-JavaScript');
            &lt;/script&gt;
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Spark has two JavaScript files that need to be incorporated into your build in order for Spark's behavior to
        work.</p>
        <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mvm">
          <li><p><strong>spark-core.js</strong> - This file contains the bulk of Spark's behavior and can be loaded
            after the page is rendered, this is best done before the closing body tag.</p>
            <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mvm">
              <li class="sprk-u-mvm">
                <p>
                  Import the post-render ES6 setup file in your JS build. This will bring all the Spark-Core JS into your build. There is
                  also an ES5 version if preferred. It's located in @sparkdesignsystem/spark-core/es5.
                </p>
                <div class="drizzle-c-Command">
                  <code class="drizzle-CodeHighlight">
                    import sparkCore from  &quot;@sparkdesignsystem/spark-core/spark-core&quot;;
                  </code>
                </div>
              </li>
              <li class="sprk-u-mvm">
                <p>Init the Spark Core JS, passing in a config object (optional).</p>
                <div class="drizzle-c-Command">
                  <code class="drizzle-CodeHighlight">
                    sparkCore({ //config, see below });
                  </code>
                </div>
                <div class="sprk-u-mvs">
                  <p class="sprk-u-mbm">See below for available configuration options:</p>
                  <table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
                    <colgroup>
                      <col class="sprk-u-Width-40">
                      <col>
                    </colgroup>
                    <thead>
                    <tr>
                      <th>Key</th>
                      <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="sprk-u-FontWeight--bold">datePickerConfig</td>
                      <td>Exposes configuration provided by tiny-date-picker, see
                        <a href="https://github.com/chrisdavies/tiny-date-picker" class="drizzle-b-Link">github</a> for
                        documentation.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>

          </li>
          <li><p><strong>spark-core-polyfill.js</strong> - This file loads a few polyfills that Spark requires. If
            your application is already polyfilling the items below, you don't need to load this file.
            </p>
            <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mvm">
              <li>Promise</li>
              <li>Array.from</li>
              <li>String.includes</li>
              <li>Array.find</li>
              <li>NodeList.forEach</li>
              <li>classList on SVG Elements</li>
            </ul>
            <div class="drizzle-c-Command">
              <code class="drizzle-CodeHighlight">
                import &quot;@sparkdesignsystem/spark-core/es5/sparkCorePolyfills&quot;;
              </code>
            </div>
          </li>
        </ul>
      </li>
      <li class="sprk-u-mvm">
        <p>Spark does not provide icons directly. What you see below are proprietary icons in use by Quicken Loans. To supply
          your own icon set, you need to import an svg that contains symbols for the ids referenced on the icon page. This symbol file
          should occur in the DOM before the first use element.</p>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Spark Extras</h2>

    <ul class="drizzle-b-List drizzle-b-List--spacing-m drizzle-b-List--nested">
      <li>
        <p>There are a few Spark Extras patterns available for install.</p>
        <ul class="drizzle-b-List drizzle-b-List--spacing-m drizzle-b-List--nested">
          <li class="sprk-u-mvm">
            <div class="drizzle-c-Command">
              <code class="drizzle-CodeHighlight">@sparkdesignsystem/spark-card</code>
            </div>
          </li>
          <li class="sprk-u-mvm">
            <div class="drizzle-c-Command">
              <code class="drizzle-CodeHighlight">@sparkdesignsystem/spark-dictionary</code>
            </div>
          </li>
          <li class="sprk-u-mvm">
            <div class="drizzle-c-Command">
              <code class="drizzle-CodeHighlight">@sparkdesignsystem/spark-highlight-board</code>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Browser Support</h2>
    <p>Spark supports the following browsers (current version and 1 prior):</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Google Chrome</li>
      <li>Google Chrome (Mobile)</li>
      <li>Mozilla Firefox</li>
      <li>Mozilla Firefox (Mobile)</li>
      <li>Microsoft Edge</li>
      <li>Apple Safari</li>
      <li>Apple Safari (Mobile)</li>
    </ul>
    <p>Spark also supports the following:</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Microsoft Internet Explorer 11</li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">

    <div class="drizzle-o-ContentGrouping">
      <h2 class="drizzle-b-h2">Change Workflow and Contribution Guide</h2>
      <p>If you are interested in contributing to Spark, please read our full
        <a class="drizzle-b-Link" href="/docs/change-workflow">change
          workflow</a> and <a class="drizzle-b-Link" href="/docs/contributions">
          contribution guide</a> to get started.</p>
    </div>
  </div>

</div>
