---
title: React
---

<div class=" drizzle-o-Layout__header">
  <h1 class="drizzle-b-h1">Getting Started - React</h1>
</div>

<div class="drizzle-o-Layout__content drizzle-b-LongFormText">
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Welcome</h2>
    <p>This getting started guide is intended for developers. See below for
    instructions on how to install Spark and bring it into your existing
    build.</p>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Requirements</h2>
    <p>Spark's React implementation assumes a few things about your project.</p>
    <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mbm">
      <li class="sprk-u-mvm">
        <p>
          We assume that your project is processing
          <a href="https://sass-lang.com/" class="drizzle-b-Link">Sass</a> rather
          than plain CSS for style information. More information
          for converting a React project to SCSS is available at
          <a href="https://facebook.github.io/create-react-app/docs/adding-a-sass-stylesheet" class="drizzle-b-Link">facebook.github.io</a>.
        </p>
      </li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2 sprk-u-mbm">Spark</h2>
    <h4 class="drizzle-b-h4">Getting Started</h4>
    <p>To get started with
      <span class="drizzle-c-Command">
        <code class="drizzle-CodeHighlight">
          spark-react
        </code>
      </span>, you'll need to follow these steps:
    </p>

    <ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mbm">
      <li class="sprk-u-mvm">
        <p>Install the
          <span class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">
              spark
            </code>
          </span>
        npm package.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            npm install --save-dev @sparkdesignsystem/spark</code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Install the
          <span class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">
              spark-react
            </code>
          </span>
        npm package.</p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            npm install --save-dev @sparkdesignsystem/spark-react</code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>
          Install the needed peer dependencies for our
          npm package. If your application
          does not have one of our peer dependencies
          then your console should show a warning for that missing
          dependency when you install
          <span class="drizzle-c-Command">
            <code class="drizzle-CodeHighlight">
              spark-react
            </code>
          </span>
          .
        </p>
      </li>
      <li class="sprk-u-mvm">
        <p>
          Import the Sass setup file in your React application's global styles Sass file.
          This can be done in the scss file specified
          at the highest level of your app.
          This will bring all Spark patterns into your build. The .scss file extension
          is needed in the case of React so as to not conflict with JS files.
        </p>
        <div class="drizzle-c-Command">
          <code class="drizzle-CodeHighlight">
            @import &quot;node_modules/@sparkdesignsystem/spark/spark.scss&quot;;
          </code>
        </div>
      </li>
      <li class="sprk-u-mvm">
        <p>Spark does not provide icons directly. What you see on our icons page are proprietary icons in use by Quicken Loans. To supply
          your own icon set, you need to import an svg that contains symbols for the ids referenced on the icon page. This symbol file
          should occur in the DOM before the first use element.</p>
      </li>
    </ul>
    </div>
  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Using Components</h2>

    <div class="drizzle-o-ContentGrouping">
      <p>To use a Spark React Component,
        it needs to be imported into your component js file
        using the following pattern:</p>
      <div class="drizzle-c-Command">
        <code class="drizzle-CodeHighlight">
          import { ComponentName } from '@sparkdesignsystem/spark-react';
        </code>
      </div>
    </div>
  </div>

  <div class="drizzle-o-ContentGrouping">
    <h2 class="drizzle-b-h2">Browser Support</h2>
    <p>Spark supports the following browsers (current version and 1 prior):</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Google Chrome</li>
      <li>Google Chrome (Mobile)</li>
      <li>Mozilla Firefox</li>
      <li>Mozilla Firefox (Mobile)</li>
      <li>Microsoft Edge</li>
      <li>Apple Safari</li>
      <li>Apple Safari (Mobile)</li>
    </ul>
    <p>Spark also supports the following:</p>
    <ul class="drizzle-b-List drizzle-b-List--spacing-s drizzle-b-List--nested">
      <li>Microsoft Internet Explorer 11</li>
    </ul>
  </div>

  <div class="drizzle-o-ContentGrouping">

    <div class="drizzle-o-ContentGrouping">
      <h2 class="drizzle-b-h2">Change Workflow and Contribution Guide</h2>
      <p>If you are interested in contributing to Spark, please read our full
        <a class="drizzle-b-Link" href="/docs/change-workflow">change
          workflow</a> and <a class="drizzle-b-Link" href="/docs/contributions">
          contribution guide</a> to get started.</p>
    </div>
  </div>

</div>