////
/// @group input
////

// Hide the native control
.sprk-b-Checkbox__input {
  opacity: $sprk-checkbox-input-opacity;
}

.sprk-b-Checkbox__label {
  position: relative;
}

.sprk-b-Checkbox__label::before,
.sprk-b-Checkbox__label::after {
  transition: $sprk-checkbox-transition;
  position: absolute;
  display: inline-block;
}

// Custom checkbox styles
.sprk-b-Checkbox__label::before {
  content: '';
  height: $sprk-checkbox-custom-input-height;
  width: $sprk-checkbox-custom-input-width;
  box-shadow: $sprk-checkbox-custom-input-box-shadow;
  border-radius: $sprk-checkbox-custom-input-border-radius;
  top: $sprk-checkbox-custom-input-top;
  left: $sprk-checkbox-custom-input-left;
}

// Custom checkmark icon styles
.sprk-b-Checkbox__label::after {
  content: none;
  height: $sprk-checkbox-checkmark-icon-height;
  width: $sprk-checkbox-checkmark-icon-width;
  left: $sprk-checkbox-checkmark-icon-left;
  top: $sprk-checkbox-checkmark-icon-top;
  border-left: $sprk-checkbox-checkmark-border-left;
  border-bottom: $sprk-checkbox-checkmark-border-bottom;
  transform: $sprk-checkbox-checkmark-transform;
}

// Focus styles for unchecked checkbox
.sprk-b-Checkbox__input:focus {
  + .sprk-b-Checkbox__label::before {
    box-shadow: $sprk-checkbox-custom-input-box-shadow-focus;
    background-color: $sprk-checkbox-custom-input-background-color-focus;
  }
}

// Hover styles for unchecked checkbox
.sprk-b-Checkbox__input:hover + .sprk-b-Checkbox__label::before {
  background-color: $sprk-checkbox-custom-input-background-color-hover;
  box-shadow: $sprk-checkbox-custom-input-box-shadow-hover;
}

// Checked styles for checkbox and label
.sprk-b-Checkbox__input:checked {
  // Show checkmark icon when checked
  + .sprk-b-Checkbox__label::after {
    content: '';
  }

  + .sprk-b-Checkbox__label::before {
    background-color: $sprk-checkbox-custom-input-background-color-checked;
  }

  &:focus {
    // Override focus border color if its checked
    + .sprk-b-Checkbox__label::before {
      box-shadow: $sprk-checkbox-custom-input-box-shadow-focus-checked;
    }
  }
}

// Disabled styles for checkbox and label
.sprk-b-Checkbox__input:disabled + .sprk-b-Checkbox__label {
  cursor: $sprk-checkbox-custom-input-cursor-disabled;
}

.sprk-b-Checkbox__input:disabled + .sprk-b-Checkbox__label::before {
  cursor: $sprk-checkbox-custom-input-cursor-disabled;
  border-color: $sprk-checkbox-custom-input-border-color-disabled;
  background-color: $sprk-checkbox-custom-input-background-color-disabled;
}

.sprk-b-Checkbox--huge {
  max-width: $sprk-checkbox-input-huge-max-width;

  .sprk-b-Checkbox__label {
    transition: $sprk-checkbox-huge-container-transition;
    // Using box shadow as border so it doesn't take up space on hover and focus
    box-shadow: $sprk-checkbox-huge-container-box-shadow;
    border-radius: $sprk-checkbox-huge-container-border-radius;
    padding: $sprk-checkbox-huge-container-padding;
    flex-basis: $sprk-checkbox-huge-container-flex-basis;
    line-height: $sprk-checkbox-huge-container-line-height;

    // The custom checkbox element
    &::before {
      height: $sprk-checkbox-huge-custom-input-height;
      width: $sprk-checkbox-huge-custom-input-width;
      top: $sprk-checkbox-huge-custom-input-top;
      left: $sprk-checkbox-huge-custom-input-left;
    }

    // The checkmark that shows up in the box
    &::after {
      content: none;
      height: $sprk-checkbox-huge-checkmark-icon-height;
      // 0.76736rem -- 1.444444 is the ratio
      width: $sprk-checkbox-huge-checkmark-icon-width;
      left: $sprk-checkbox-huge-checkmark-icon-left;
      top: $sprk-checkbox-huge-checkmark-icon-top;
    }

    &:hover {
      box-shadow: $sprk-checkbox-huge-container-hover-box-shadow;

      /* stylelint-disable max-nesting-depth */
      &::before {
        border-color: $sprk-checkbox-huge-custom-input-hover-border-color;
      }

      /* stylelint-enable max-nesting-depth */
    }
  }

  .sprk-b-Checkbox__input {
    position: absolute;

    &:disabled {
      /* stylelint-disable max-nesting-depth */
      + .sprk-b-Checkbox__label {
        box-shadow: $sprk-checkbox-huge-container-disabled-box-shadow;
        background: $sprk-checkbox-huge-container-disabled-background;

        &::before {
          border-color: $sprk-checkbox-huge-custom-input-disabled-border-color;
        }
      }

      &:hover + .sprk-b-Checkbox__label {
        box-shadow: $sprk-checkbox-huge-container-disabled-box-shadow;
      }

      /* stylelint-enable max-nesting-depth */
    }

    &:hover {
      /* stylelint-disable max-nesting-depth */
      + .sprk-b-Checkbox__label {
        box-shadow: $sprk-checkbox-huge-container-hover-box-shadow;
      }
    }

    // Styles for container when focused by keyboard
    &:focus {
      + .sprk-b-Checkbox__label {
        // Container's border color when focused through keyboard
        box-shadow: $sprk-checkbox-huge-container-focus-box-shadow;

        &:hover {
          box-shadow: $sprk-checkbox-huge-container-focus-hover-box-shadow;
        }
      }

      /* stylelint-enable max-nesting-depth */
    }

    &:checked {
      /* stylelint-disable max-nesting-depth */
      + .sprk-b-Checkbox__label {
        // Container's box-shadow when checked
        box-shadow: $sprk-checkbox-huge-container-checked-box-shadow;

        // Container's box-shadow when checked and hovered
        &:hover {
          box-shadow: $sprk-checkbox-huge-container-checked-hover-box-shadow;
        }

        // Custom checkbox element's border color when checked
        &::before {
          border-color: $sprk-checkbox-huge-custom-input-checkbox-element-checked-border-color;
        }
      }

      // Styles for container when checkbox is focused on while being checked
      &:focus + .sprk-b-Checkbox__label {
        box-shadow: $sprk-checkbox-huge-container-focus-checked-box-shadow;
      }

      /* stylelint-enable max-nesting-depth */
    }
  }
}

// Anytime we have a huge checkbox
// inside a stack, we remove the margin bottom.
.sprk-o-Stack__item .sprk-b-Checkbox--huge {
  margin-bottom: 0;
}
