////
/// @group input
////

// Added for potential future use.
// .sprk-b-Radio {}
.sprk-b-Radio__label {
  position: relative;
}

// Hide native input visually
.sprk-b-Radio__input {
  opacity: $sprk-radio-input-opacity;

  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
      background-color: $sprk-radio-input-outer-circle-hover-background-color;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-focus-border;
    }
  }
}

.sprk-b-Radio__label::before,
.sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
  border-radius: $sprk-radio-input-border-radius;
  content: '';
  position: absolute;
  transition: $sprk-radio-input-transition;
  display: inline-block;
}

// will be the circle
.sprk-b-Radio__label::before {
  width: $sprk-radio-input-outer-circle-width;
  height: $sprk-radio-input-outer-circle-height;
  border: $sprk-radio-input-outer-circle-border;
  top: $sprk-radio-input-outer-circle-top;
  left: $sprk-radio-input-outer-circle-left;
}

.sprk-b-Radio__input:checked + .sprk-b-Radio__label::before {
  border: $sprk-radio-input-outer-circle-border-checked;
}

.sprk-b-Radio__input:checked {
  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-hover-border;
    }
  }
}

.sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
  width: $sprk-radio-input-inner-circle-width;
  height: $sprk-radio-input-inner-circle-height;
  background-color: $sprk-radio-input-inner-circle-background-color;
  left: $sprk-radio-input-inner-circle-left;
  top: $sprk-radio-input-inner-circle-top;
}

.sprk-b-Radio__input:disabled {
  + .sprk-b-Radio__label::before {
    border: $sprk-radio-input-outer-circle-border-disabled;
    background-color: $sprk-radio-input-outer-circle-background-color-disabled;
    cursor: $sprk-radio-input-cursor-hover-disabled;
  }

  &:hover {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-border-hover-disabled;
    }
  }

  &:focus {
    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-outer-circle-focus-border-disabled;
    }
  }
}

// Huge Styles for Radio
.sprk-b-Radio--huge {
  max-width: $sprk-radio-input-huge-max-width;

  .sprk-b-Radio__input {
    position: absolute;
  }

  .sprk-b-Radio__label {
    transition: $sprk-radio-input-huge-transition;
    border: $sprk-radio-input-huge-label-border;
    border-radius: $sprk-radio-input-huge-label-border-radius;
    padding: $sprk-radio-input-huge-label-padding;
    flex-basis: $sprk-radio-input-huge-label-flex-basis;
    line-height: $sprk-radio-input-huge-label-line-height;

    &:hover {
      border: $sprk-radio-input-huge-label-hover-border;
      box-shadow: $sprk-radio-input-huge-label-hover-box-shadow;

      /* stylelint-disable max-nesting-depth */
      ::before {
        background-color: $sprk-radio-input-huge-outer-circle-hover-background-color;
      }
    }
  }

  .sprk-b-Radio__label::before {
    height: $sprk-radio-input-huge-outer-circle-width;
    width: $sprk-radio-input-huge-outer-circle-height;
    top: $sprk-radio-input-huge-outer-circle-top;
    left: $sprk-radio-input-huge-outer-circle-left;
  }

  .sprk-b-Radio__input:focus + .sprk-b-Radio__label {
    border: $sprk-radio-input-huge-focused-label-border;
    box-shadow: $sprk-text-input-focus-box-shadow;

    ::before {
      background-color: $sprk-radio-input-huge-focused-outer-circle-border-background-color;
    }
  }

  .sprk-b-Radio__input:checked + .sprk-b-Radio__label {
    border-color: $sprk-radio-input-huge-checked-label-border;
  }

  .sprk-b-Radio__input:checked:focus + .sprk-b-Radio__label,
  .sprk-b-Radio__input:checked:hover + .sprk-b-Radio__label {
    border-color: $sprk-radio-input-huge-checked-hover-label-border-color;

    ::before {
      border-color: $sprk-radio-input-huge-checked-hover-outer-circle-border-color;
    }
  }

  .sprk-b-Radio__input:checked + .sprk-b-Radio__label::after {
    height: $sprk-radio-input-huge-inner-circle-height;
    width: $sprk-radio-input-huge-inner-circle-width;
    left: $sprk-radio-input-huge-inner-circle-left;
    top: $sprk-radio-input-huge-inner-circle-top;
  }

  .sprk-b-Radio__input:disabled + .sprk-b-Radio__label:hover {
    border-width: $sprk-radio-input-huge-disabled-border-width;
    box-shadow: $sprk-radio-input-huge-outer-circle-box-shadow-hover-disabled;

    ::before {
      background-color: $sprk-radio-input-huge-disabled-background-color;
    }
  }

  .sprk-b-Radio__input:disabled {
    + .sprk-b-Radio__label {
      background-color: $sprk-radio-input-huge-disabled-background-color;
      border-width: $sprk-radio-input-huge-disabled-border-width;
      cursor: $sprk-radio-input-cursor-hover-disabled;
    }

    + .sprk-b-Radio__label::before {
      border: $sprk-radio-input-huge-outer-circle-border-disabled;
      cursor: $sprk-radio-input-cursor-hover-disabled;
    }
  }
}

// Anytime that we have a huge radio
// inside a stack item, we remove the margin bottom.
.sprk-o-Stack__item .sprk-b-Radio--huge {
  margin-bottom: 0;
}
