////
/// @group input
////
.sprk-b-Select {
  -webkit-appearance: $sprk-select-appearance;
  -moz-appearance: $sprk-select-appearance;
  appearance: $sprk-select-appearance;
  border-radius: $sprk-select-border-radius;
  box-shadow: $sprk-select-box-shadow;
  background: $sprk-select-background;
  color: $sprk-select-color;
  font-size: $sprk-select-font-size;
  font-weight: $sprk-select-font-weight;
  line-height: $sprk-select-line-height;
  outline: $sprk-select-outline;
  padding: $sprk-select-padding;
  width: 100%;

  &:focus {
    box-shadow: $sprk-text-input-focus-box-shadow;
  }

  // Remove FF specific focusring in favor of ours
  &:-moz-focusring {
    color: $sprk-select-moz-focusring-color;
    text-shadow: $sprk-select-moz-focusring-text-shadow;
  }
}

// IE11
.sprk-b-Select:focus::-ms-value {
  color: $sprk-select-color;
  background: $sprk-select-background;
  box-shadow: $sprk-text-input-focus-box-shadow;
}

.sprk-b-Select::-ms-expand {
  display: none;
}

.sprk-b-SelectContainer__icon {
  float: right;
  margin-top: $sprk-select-arrow-offset-y;
  margin-right: $sprk-select-arrow-offset-x;
}

.sprk-b-Select[disabled] {
  background-color: $sprk-select-disabled-background-color;
  color: $sprk-select-disabled-color;
  box-shadow: $sprk-text-input-disabled-box-shadow;

  &:hover,
  &:focus {
    box-shadow: $sprk-text-input-disabled-box-shadow;
  }
}

/// Adds select error styles.
/// @name .sprk-b-Select--error
.sprk-b-Select--error {
  box-shadow: $sprk-text-input-error-box-shadow;

  &:focus {
    box-shadow: $sprk-text-input-error-focus-box-shadow;
  }
}
