////
/// @group input
////
.sprk-b-TextInputIconContainer,
.sprk-b-InputContainer__icon-container {
  position: relative;
}

/// Limits the max-width of the input icon container.
.sprk-b-InputContainer__icon-container--narrow {
  max-width: $sprk-input-container-narrow-max-width;
}

.sprk-b-InputContainer__icon-container .sprk-b-InputContainer__icon,
.sprk-b-TextInputIconContainer .sprk-b-InputContainer__icon,
.sprk-b-InputContainer__icon {
  margin-left: $sprk-input-icon-offset-x;
  margin-top: $sprk-input-icon-offset-y;
  position: absolute;
  z-index: $sprk-input-icon-z-index;
}

/// For a SVG icon inside of input that is positioned to the right.
/// @name .sprk-b-InputContainer__icon--right
.sprk-b-InputContainer__icon-container .sprk-b-InputContainer__icon--right {
  margin-top: $sprk-input-has-icon-margin-right-top;
  margin-left: $sprk-input-has-icon-margin-right-left;
  fill: $sprk-icon-filled-fill-color;
}

.sprk-b-InputContainer--huge {
  // TODO: We should be using margin bottom, not margin top
  .sprk-b-TextInputIconContainer .sprk-c-Icon {
    margin-top: $sprk-input-huge-icon-offset-y;
  }
}
