<p class="sprk-u-mbm">The three-up variant is implemented using a combination of two angular components:</p>
<ul class="drizzle-b-List drizzle-b-List--nested">
  <li><strong>sprk-stack</strong></li>
  <li><strong>sprk-card</strong></li>
</ul>
<p class="sprk-u-mbm">The stack object provides the layout, while the cards are the content.</p>
