<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>Prop</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>Expects a space separated list of classes to apply to the element.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">disabled</td>
      <td>boolean</td>
      <td>Will apply disabled style and the disabled attribute to the element.</td>
    </tr>
      <tr>
      <td class="sprk-u-FontWeight--bold">href</td>
      <td>string</td>
      <td>If you need to render an anchor tag instead of a button element, setting a value for this prop will cause it. The
        actual value is what is applied to the href attribute.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the 'data-id' attribute on the component. This is intended to be used as a 
        selector for automated tools. This value should be unique per page.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">loading</td>
      <td>boolean</td>
      <td>Will cause a spinner to be rendered in place of the button content.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>string</td>
      <td>Expects 'primary', 'secondary', or 'tertiary'. Will render the cooresponding button variant.</td>
    </tr>
  </tbody>
</table>
