<sprk-accordion>
  <sprk-accordion-item title="This is a title"{{#if accordionType}} accordionType="{{accordionType}}"{{/if}} additionalClasses="sprk-u-mbs" idString="accordion-item-1" analyticsString="object.action.event">
    <p>This is some content.</p>
  </sprk-accordion-item>
  <sprk-accordion-item title="This is another title" idString="accordion-item-2" analyticsString="object.action.event">
    <p>This is some more content.</p>
  </sprk-accordion-item>
</sprk-accordion>