<SprkTable 
  additionalTableClasses="sprk-b-Table--grouped-columns sprk-b-Table--spacing-medium"
  idString="table-3">
  <thead className="sprk-b-Table__head">
    <tr>
      <th rowSpan="2">Column Heading</th>
      <th colSpan="3">Column Heading</th>
      <th rowSpan="2">Column Heading</th>
    </tr>
    <tr>
      <th className="sprk-b-Table--grouped-column">SubHeading</th>
      <th className="sprk-b-Table--grouped-column">SubHeading</th>
      <th className="sprk-b-Table--grouped-column">SubHeading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
    </tr>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
    </tr>
  </tbody>
</SprkTable>