// ==================================================================
// Utilities
// ==================================================================

// TODO: Dave is doing utils
.sprk-u-Hide {
  display: none;
}

.sprk-u-Block {
  display: block;
}

//
// Accessible element hiding
///
.sprk-u-VisuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// TODO: refactor maybe? look at type
//
// Text color utilities
///
.sprk-u-TextColor--green-light {
  color: $green-light;
}

.sprk-u-TextColor--green-medium {
  color: $green-medium;
}

.sprk-u-TextColor--green-dark {
  color: $green-dark;
}

.sprk-u-TextColor--blue-light {
  color: $blue-light;
}

.sprk-u-TextColor--blue-medium {
  color: $blue-medium;
}

.sprk-u-TextColor--blue-dark {
  color: $blue-dark;
}

.sprk-u-TextColor--purple {
  color: $purple-medium;
}

.sprk-u-TextColor--red-light {
  color: $red-light;
}

.sprk-u-TextColor--red-medium {
  color: $red-medium;
}

.sprk-u-TextColor--red-dark {
  color: $red-dark;
}

.sprk-u-TextColor--orange-medium {
  color: $orange-medium;
}

.sprk-u-TextColor--orange-dark {
  color: $orange-dark;
}

.sprk-u-TextColor--gray-light {
  color: $gray-light;
}

.sprk-u-TextColor--gray-medium {
  color: $gray-medium;
}

.sprk-u-TextColor--gray-dark {
  color: $gray-dark;
}

.sprk-u-TextColor--black {
  color: $black;
}

.sprk-u-TextColor--white {
  color: $white;
}

//
// Background color utilities
///
.sprk-u-BackgroundColor--green-light {
  background-color: $green-light;
}

.sprk-u-BackgroundColor--green-medium {
  background-color: $green-medium;
}

.sprk-u-BackgroundColor--green-dark {
  background-color: $green-dark;
}

.sprk-u-BackgroundColor--blue-light {
  background-color: $blue-light;
}

.sprk-u-BackgroundColor--blue-medium {
  background-color: $blue-medium;
}

.sprk-u-BackgroundColor--blue-dark {
  background-color: $blue-dark;
}

.sprk-u-BackgroundColor--purple {
  background-color: $purple-medium;
}

.sprk-u-BackgroundColor--red-light {
  background-color: $red-light;
}

.sprk-u-BackgroundColor--red-medium {
  background-color: $red-medium;
}

.sprk-u-BackgroundColor--red-dark {
  background-color: $red-dark;
}

.sprk-u-BackgroundColor--orange-medium {
  background-color: $orange-medium;
}

.sprk-u-BackgroundColor--orange-dark {
  background-color: $orange-dark;
}

.sprk-u-BackgroundColor--gray-light {
  background-color: $gray-light;
}

.sprk-u-BackgroundColor--gray-medium {
  background-color: $gray-medium;
}

.sprk-u-BackgroundColor--gray-dark {
  background-color: $gray-dark;
}

.sprk-u-BackgroundColor--black {
  background-color: $black;
}

.sprk-u-BackgroundColor--white {
  background-color: $white;
}
