// ==================================================================
// Utilities
// ==================================================================

//
// Single property utilities
//
// These utilities should map directly to a single CSS property and
// value and should always use !important.
//
// Properties with vendor prefixes count as single properties.
///

//
// Display and Visibility
///
// stylelint-disable selector-class-pattern
.sprk-u-Display--none,
.js .sprk-u-HideWhenJs {
  display: none !important;
}

// stylelint-enable
.sprk-u-Display--block {
  display: block !important;
}

.sprk-u-Display--inline {
  display: inline !important;
}

.sprk-u-Display--inline-block {
  display: inline-block !important;
}

.sprk-u-Visibility--hidden {
  visibility: hidden !important;
}

.sprk-u-Visibility--visible {
  visibility: visible !important;
}

//
// Floats
///
.sprk-u-Float--none {
  float: none !important;
}

.sprk-u-Float--left {
  float: left !important;
}

.sprk-u-Float--right {
  float: right !important;
}

//
// Positioning
///
.sprk-u-Position--relative {
  position: relative !important;
}

.sprk-u-Position--absolute {
  position: absolute !important;
}

.sprk-u-Position--fixed {
  position: fixed !important;
}

.sprk-u-Position--static {
  position: static !important;
}

.sprk-u-Top--zero {
  top: 0 !important;
}

.sprk-u-Bottom--zero {
  bottom: 0 !important;
}

.sprk-u-Left--zero {
  left: 0 !important;
}

.sprk-u-Right--zero {
  right: 0 !important;
}

//
// Alignment
///
.sprk-u-TextAlign--left {
  text-align: left !important;
}

.sprk-u-TextAlign--right {
  text-align: right !important;
}

.sprk-u-TextAlign--center {
  text-align: center !important;
}

.sprk-u-VerticalAlign--top {
  vertical-align: top !important;
}

.sprk-u-VerticalAlign--middle {
  vertical-align: middle !important;
}

.sprk-u-VerticalAlign--bottom {
  vertical-align: bottom !important;
}

.sprk-u-VerticalAlign--baseline {
  vertical-align: baseline !important;
}

//
// Typography
///
.sprk-u-FontWeight--bold {
  font-weight: bold !important;
}

.sprk-u-FontWeight--normal {
  font-weight: normal !important;
}

.sprk-u-FontStyle--italic {
  font-style: italic !important;
}

.sprk-u-FontStyle--normal {
  font-style: normal !important;
}

.sprk-u-TextDecoration--underline {
  text-decoration: underline !important;
}

.sprk-u-TextDecoration--none {
  text-decoration: none !important;
}

.sprk-u-TextTransform--uppercase {
  text-transform: uppercase !important;
}

.sprk-u-TextTransform--none {
  text-transform: none !important;
}

.sprk-u-WordWrap--break-word {
  word-wrap: break-word !important;
}

.sprk-u-WhiteSpace--nowrap {
  white-space: nowrap !important;
}

//
// Overflow
///
.sprk-u-Overflow--visible {
  overflow: visible !important;
}

.sprk-u-Overflow--hidden {
  overflow: hidden !important;
}

.sprk-u-Overflow--scroll {
  overflow: scroll !important;
}

.sprk-u-Overflow--auto {
  overflow: auto !important;
}

// Colors
.sprk-u-Color--red {
  color: $red !important;
}

.sprk-u-Color--black {
  color: $black !important;
}

.sprk-u-Color--white {
  color: $white !important;
}

.sprk-u-Color--gray {
  color: $gray !important;
}

.sprk-u-Color--red-mid {
  color: $red-mid !important;
}

.sprk-u-Color--red-deep {
  color: $red-deep !important;
}

.sprk-u-Color--green {
  color: $green !important;
}

.sprk-u-Color--yellow {
  color: $yellow !important;
}

.sprk-u-Color--blue {
  color: $blue !important;
}

// Background color
.sprk-u-BackgroundColor--red {
  background-color: $red !important;
}

.sprk-u-BackgroundColor--black {
  background-color: $black !important;
}

.sprk-u-BackgroundColor--black-tint-75 {
  background-color: $black-tint-75 !important;
}

.sprk-u-BackgroundColor--black-tint-50 {
  background-color: $black-tint-50 !important;
}

.sprk-u-BackgroundColor--black-tint-25 {
  background-color: $black-tint-25 !important;
}

.sprk-u-BackgroundColor--white {
  background-color: $white !important;
}

.sprk-u-BackgroundColor--gray {
  background-color: $gray !important;
}

.sprk-u-BackgroundColor--gray-tint-75 {
  background-color: $gray-tint-75 !important;
}

.sprk-u-BackgroundColor--gray-tint-50 {
  background-color: $gray-tint-50 !important;
}

.sprk-u-BackgroundColor--gray-tint-25 {
  background-color: $gray-tint-25 !important;
}

.sprk-u-BackgroundColor--red-mid {
  background-color: $red-mid !important;
}

.sprk-u-BackgroundColor--red-deep {
  background-color: $red-deep !important;
}

.sprk-u-BackgroundColor--green {
  background-color: $green !important;
}

.sprk-u-BackgroundColor--yellow {
  background-color: $yellow !important;
}

.sprk-u-BackgroundColor--blue {
  background-color: $blue !important;
}

//
// Multi-property utilities
///

//
// Accessibility
///

// Hides visually but gets read by a screen reader.
.sprk-u-ScreenReaderText {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// When combined with `.sprk-u-ScreenReaderText` the element will become
// visible on focus.
.sprk-u-ShowOnFocus:focus {
  position: static;
  width: auto;
  height: auto;
}

//
// layout
///
.sprk-u-AbsoluteCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprk-u-FullWidth {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
