---
name: Example Form
notes:
  This is a form with a mix of inputs.
order: 18
labels:
  - inprogress
---

<form>
  {{#embed "patterns.elements.inputs.text-input"}}{{/embed}}
  {{#embed "patterns.elements.inputs.validation-base" state1="unmet" state2="unmet" state3="unmet" icon1="times" icon2="times" icon3="times"}}{{/embed}}
  {{#embed "patterns.elements.inputs.phone"}}{{/embed}}
  {{#embed "patterns.elements.inputs.select"}}{{/embed}}
  {{#embed "patterns.elements.inputs.ssn"}}{{/embed}}
  {{#embed "patterns.elements.inputs.money"}}{{/embed}}
  {{#embed "patterns.elements.inputs.datepicker"}}{{/embed}}
  {{#embed "patterns.elements.inputs.textarea"}}{{/embed}}
  {{#embed "patterns.elements.inputs.checkbox"}}{{/embed}}
  {{#embed "patterns.elements.inputs.radios"}}{{/embed}}
</form>
