---
name: Monetary Input
notes: |
  This is a monetary input.
info:
  - On blur, format the input to include commas and a decimal followed by two zeros (ex. 1,000.00).
nono:
  - Do not use placeholder text.
labels:
  - inprogress
order: 11
---

<div class="input-container">
  <label for="payment">Payment</label>
  <span class="o-TextInput--monetary"><input class="text-input size-100 plm" id="payment"></span>
</div>
