---
name: Password
notes: |
  This is a password input.
info:
  - Use *'s to mask the value by default.
  - Checking "Show Password" removes the mask and shows the actual password.
labels:
  - inprogress
order: 9
---

<div class="input-container">
  <label for="password">Password</label>
  <input class="text-input size-100 js-password" id="password" type="password">
  <div class="selection-container">
    <input id="show-password" type="checkbox" class="js-remove-mask">
    <label for="show-password" class="o-label--inline mls">Show Password</label>
  </div>
</div>
