---
name: Button with Secondary Action
notes:
  This is a form button with a secondary cancel action.
order: 14
labels:
  - inprogress
---

<button class="btn btn--primary">
  Confirm
</button>
<a class="mlh" href="">Cancel</a>
