---
name: SSN
notes: |
  This is an SSN input.
info:
  - Use *'s to mask the value by default.
  - Checking "Show SSN" removes the mask and shows the actual SSN.
  - On blur of the text input, if the "Show SSN" box is checked, add dashes between the 3rd and 4th number and the 5th and 6th number (ex. 000-00-0000).
  - Placeholder text should read: 000-00-0000.
  - On key press, reveal the placeholder inline with the label.
labels:
  - inprogress
order: 8
---

<div class="input-container">
  <label for="ssn">Social Security #</label>
  <input class="text-input size-100 js-ssn" id="ssn" type="text" placeholder="000-00-0000">
  <div class="selection-container">
    <input id="show-ssn" type="checkbox" class="js-remove-mask">
    <label for="show-ssn" class="o-label--inline mls">Show SSN</label>
  </div>
</div>
