---
name: Text Input - Error State
notes:
  This is a basic text input with an error.
order: 2
labels:
  - inprogress
---

<div class="input-container">
    <label for="email">Email</label>
    <input class="text-input text-input--error size-100" id="email" type="email" placeholder="user@name.com">
    <span class="error">There is an error on this field.</span>
</div>
