---
name: Text Input
notes:
  This is a basic text input with a label, placeholder text, and helper text.
info:
  - If there is a placeholder, on key press reveal the placeholder inline with the label.
order: 1
labels:
  - inprogress
---

<div class="sprk-b-InputContainer">
  <label for="email">Email</label>
  <input class="sprk-b-TextInput sprk-u-Size-100" id="email" type="email" placeholder="user@name.com">
  <span class="sprk-b-HelperText">Enter the email address you signed up with.</span>
</div>
