---
name: Textarea
notes:
  This is a textarea.
order: 4
labels:
  - inprogress
---

<div class="input-container">
    <label for="description">Description</label>
    <textarea class="text-input size-100" id="description"></textarea>
</div>
