---
name: Text Input - Disabled State
notes:
  This is a basic text input that is disabled.
order: 3
labels:
  - inprogress
---

<div class="input-container">
  <label for="email">Email</label>
  <input disabled class="text-input size-100" id="email" type="email" value="user@name.com">
</div>
