---
doclayout: true
order: 1
name: Display & Visibility
description: These utilities control CSS properties related to display and visibility.
---
<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Display--none</td>
      <td>Turns off the display of an element so that it has no effect on layout.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Display--block</td>
      <td>The element generates a block element box.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Display--inline</td>
      <td>The element generates one or more inline element boxes.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Display--inline-block</td>
      <td>The element generates a block element box that will be flowed with surrounding content as if it were a single inline box.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Visibility--hidden</td>
      <td>The element box is invisible, but still affects layout as normal. A screen reader will still read this text.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-Visibility--visible</td>
      <td>The element is visible.</td>
    </tr>
  </tbody>
</table>
