---
doclayout: true
order: 6
name: Spacing
description:
  These utilities override the padding and margin on
  an element and are the most common spacing sizes. The class name format is
  <span class="sprk-u-FontWeight--bold">.sprk-u-&lt;type&gt;&lt;location&gt;&lt;size&gt;</span>
---
<h3 class="drizzle-b-h3">Options</h3>

<ul class="drizzle-b-List drizzle-b-List--nested sprk-u-mbl">
  <li>
    <span class="sprk-u-FontWeight--bold">type</span>: p, m (padding, margin)
  </li>
  <li>
    <span class="sprk-u-FontWeight--bold">location</span>
    : a, t, r, b, l, h, v (all, top, right, bottom, left, horizontal, vertical)
  </li>
  <li>
    <span class="sprk-u-FontWeight--bold">size</span>
    : s, m, l, h, n (small (8px), medium (16px), large (32px), huge (64px), none (0px))
  </li>
</ul>

<h3 class="drizzle-b-h3 sprk-u-mbl">Examples</h3>

<table class="drizzle-c-Table">
  <colgroup>
    <col class="sprk-u-Width-20">
    <col class="sprk-u-Width-30">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Class</th>
      <th>Values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-mbn</td>
      <td>margin-bottom: none</td>
      <td>Sets the bottom margin to 0px.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-phm</td>
      <td>padding-left: 16px;<br>padding-right: 16px;</td>
      <td>Sets the padding on the left and right (horizontal) to 16px.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">.sprk-u-mah</td>
      <td>margin: 64px</td>
      <td>Sets the margin to 64px on all sides.</td>
    </tr>
  </tbody>
</table>
