// ==================================================================
// Functions
// ==================================================================

//
// Strip Unit
// https://css-tricks.com/snippets/sass/strip-unit-function/
///

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}