<p class="sprk-u-mbm">See below for available customization options:</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">title</td>
      <td>string</td>
      <td>
        The text to appear in the title section
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">subtitle</td>
      <td>string</td>
      <td>
        The text to appear in the subtitle section
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string (space-delimited values)</td>
      <td>Any additional classes to apply to the root element of the Promo</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClassesContent</td>
      <td>string (space-delimited values)</td>
      <td>Any additional classes to apply to the content element of the Promo</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">cta</td>
      <td>string</td>
      <td>
        The type of element to use for the Call-to-Action. If this property is omitted, no Call-to-Action will be rendered. Acceptable values are "button" or "link".
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaText</td>
      <td>string</td>
      <td>
        The text to include in the Call-to-Action.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaHref</td>
      <td>string</td>
      <td>
        The URL to navigate to when the Call-to-Action is clicked.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaAnalytics</td>
      <td>string</td>
      <td>
        The string to use for the data-analytics attribute on the Call-to-Action
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">ctaIdString</td>
      <td>string</td>
      <td>
        The string to use for the data-id attribute on the Call-to-Action
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgSrc</td>
      <td>string</td>
      <td>
        The source location of the Promo image. If this propterty is omitted, no image will be rendered.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgAlt</td>
      <td>string</td>
      <td>
        The alt text property for the image.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgLinkHref</td>
      <td>string</td>
      <td>
        The URL to navigate to when the image is clicked.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgLinkAnalytics</td>
      <td>string</td>
      <td>
        The string to use for the data-analytics attribute on the image link.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">imgLinkIdString</td>
      <td>string</td>
      <td>
        The string to use for the data-id attribute on the image link.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClassesImgLink</td>
      <td>string</td>
      <td>
        Any additional classes (space-delimited string) to apply to the image link.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The string to use for the data-id property on the root Promo element.</td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">isFlag</td>
      <td>boolean</td>
      <td>
        If provided, the Promo will render as the Flag variant.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">mediaRev</td>
      <td>boolean</td>
      <td>
        If provided, the Promo will be rendered in reverse horizontal order (content on the left, image on the right)
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">hasBorder</td>
      <td>boolean</td>
      <td>
        If true, the Promo will be rendered with a border. The styles for the border 
        are determined by <span class="sprk-u-FontWeight--bold">$sprk-promo-border</span>
        and can be overridden in <span class="sprk-u-FontWeight--bold">_settings.scss</span>.
      </td>
    </tr>
  </tbody>
</table>
