.Alert {
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--space);
}

.Alert a {
  color: var(--color-white);
}

.Alert__icon {
  margin-right: var(--space);
}

.Alert__icon svg {
  fill: var(--color-white);
}

.Alert__text {
  font-size: 19px;
  font-weight: bold;
}
