---
name: Inset Tall
text: This is inset tall
doclayout: true
notes:
  Inset tall increases the top and bottom by 50%.
order: 3
labels:
  - inprogress
---
<div class="drizzle-Space-inset-tall-xs">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra small inset tall of 6px 4px 6px 4px.
  </p>
</div>
<div class="drizzle-Space-inset-tall-s">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the small inset tall of 12px 8px 12px 8px.
  </p>
</div>
<div class="drizzle-Space-inset-tall-m">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the medium inset tall of 24px 16px 24px 16px.
  </p>
</div>
<div class="drizzle-Space-inset-tall-l">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the large inset tall of 48px 32px 48px 32px.
  </p>
</div>
<div class="drizzle-Space-inset-tall-xl">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra large inset tall of 96px 64px 96px 64px.
  </p>
</div>
<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    $space-inset-tall-xs: 6px 4px 6px 4px;
    $space-inset-tall-s: 12px 8px 12px 8px;
    $space-inset-tall-m: 24px 16px 24px 16px;
    $space-inset-tall-l: 48px 32px 48px 32px;
    $space-inset-tall-xl: 96px 64px 96px 64px;
  </code>
</pre>
