---
name: Inset Stretch
text: This is inset Stretch
doclayout: true
notes:
  Inset stretch increases the top and bottom by 50%.
order: 3
labels:
  - inprogress
---
<div class="drizzle-Space-inset-stretch-xs">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra small inset stretch of 6px 4px 6px 4px.
  </p>
</div>
<div class="drizzle-Space-inset-stretch-s">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the small inset stretch of 12px 8px 12px 8px.
  </p>
</div>
<div class="drizzle-Space-inset-stretch-m">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the medium inset stretch of 24px 16px 24px 16px.
  </p>
</div>
<div class="drizzle-Space-inset-stretch-l">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the large inset stretch of 48px 32px 48px 32px.
  </p>
</div>
<div class="drizzle-Space-inset-stretch-xl">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra large inset stretch of 96px 64px 96px 64px.
  </p>
</div>
<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    $space-inset-stretch-xs: 6px 4px 6px 4px;
    $space-inset-stretch-s: 12px 8px 12px 8px;
    $space-inset-stretch-m: 24px 16px 24px 16px;
    $space-inset-stretch-l: 48px 32px 48px 32px;
    $space-inset-stretch-xl: 96px 64px 96px 64px;
  </code>
</pre>
