---
name: Stack
text: This is stack
sourceless: true
notes:
  Typical use is to stack elements. Applies margin on the bottom.
order: 4
labels:
  - inprogress
---
<p>
  This is a paragraph of text brought to you by the developers of the Spark Design System.
  Notice that paragraph text has a medium space stack applied to it.
</p>
