.sprk-b-ErrorContainer {
  align-items: center;
  display: flex;
  margin-left: $spark-space-s;
  margin-top: $spark-space-s;
}

[hidden].sprk-b-ErrorContainer {
  display: none;
}

.sprk-b-ErrorIcon {
  fill: $spark-text-input-error-color;
  margin-right: $spark-space-s;
  height: $spark-error-icon-size;
  width: $spark-error-icon-size;
}

.sprk-b-ErrorText {
  color: $spark-error-text-color;
  font-size: $spark-font-size-body-four;
  font-weight: bold;
}
