.sprk-b-ErrorContainer {
  align-items: center;
  display: flex;
  margin-left: $sprk-space-s;
  margin-top: $sprk-space-s;
}

[hidden].sprk-b-ErrorContainer {
  display: none;
}

.sprk-b-ErrorIcon {
  fill: $sprk-text-input-error-color;
  margin-right: $sprk-space-s;
  height: $sprk-error-icon-size;
  width: $sprk-error-icon-size;
}

.sprk-b-ErrorText {
  color: $sprk-error-text-color;
  font-size: $sprk-font-size-body-four;
  font-weight: bold;
}
