.sprk-b-InputContainer {
  margin: 1rem 0;
  max-width: $input-max-width;
}

.sprk-b-InputContainer__visibility-toggle ~ .sprk-b-ErrorContainer {
  margin-top: 0;
}

// border animate
.sprk-b-InputContainer__input-border {
  display: block;
  content: ' ';
  border-bottom: 3px solid $text-input-interact-color;
  width: 0;
  opacity: 1;
}
