.sprk-b-InputContainer {
  margin: $sprk-input-container-margin;
  max-width: $sprk-input-max-width;
}

.sprk-b-InputContainer--jumbo {
  max-width: $sprk-input-container-jumbo-max-width;
}

.sprk-b-InputContainer__visibility-toggle {
  margin: $sprk-visibility-control-margin;
}
