.sprk-b-Label {
  display: block;
  font-family: $sprk-label-font-family;
  font-size: $sprk-label-font-size;
  font-weight: $sprk-label-font-weight;
  line-height: $sprk-label-line-height;
  padding: $sprk-label-padding;
  margin: $sprk-label-margin;
}

.sprk-b-Label--no-input {
  padding: 0;
  transform: none;
}

.sprk-b-InputContainer .sprk-b-Label.sprk-b-Label--inline {
  padding: 0 $sprk-space-m;
}

.sprk-b-Label--inline {
  display: inline-block;
  vertical-align: middle;
}

.sprk-b-TextInput[disabled] ~ .sprk-b-Label {
  color: $sprk-input-gray-medium;
  cursor: not-allowed;
}

.sprk-b-InputContainer__visibility-toggle .sprk-b-Label--inline {
  font-size: $sprk-font-size-body-four;
}

.sprk-b-InputContainer--textarea > .sprk-b-Label {
  margin-bottom: 0;
}

// TODO: We need to abstract this so a label is not dependent on being adjacent to a text input
.sprk-b-TextInputIconContainer .sprk-b-TextInput--has-value ~ .sprk-b-Label,
.sprk-b-TextInputIconContainer .sprk-b-TextInput[placeholder] ~ .sprk-b-Label,
.sprk-b-TextInputIconContainer .sprk-b-TextInput--focusin ~ .sprk-b-Label {
  padding-left: $sprk-space-s;
}

.sprk-b-Label--with-icon {
  padding-left: $sprk-space-l;
}

.sprk-b-Label--monetary {
  padding-left: 24px;
}
