.sprk-b-Label {
  font-size: $font-size-body-three;
  font-weight: $font-weight-body-three;
  line-height: $line-height-body-three;
}

.sprk-b-InputContainer .sprk-b-Label {
  padding: 0 $space-s;
  transform-origin: top left;
}

.sprk-b-InputContainer .sprk-b-Label.sprk-b-Label--inline {
  padding: 0 $space-m;
}

.sprk-b-Label--inline {
  display: inline-block;
  vertical-align: middle;
}

.sprk-b-TextInput[disabled] ~ .sprk-b-Label {
  color: $input-gray-medium;
  cursor: not-allowed;
}

.sprk-b-InputContainer__visibility-toggle .sprk-b-Label--inline {
  font-size: $font-size-body-four;
}

.sprk-b-InputContainer .sprk-b-Legend > .sprk-b-Label,
.sprk-b-InputContainer > .sprk-b-Label {
  margin-bottom: $space-s;
  transform: scale($label-shrink-scale); // ratio of body-four to body-three
}

.sprk-b-InputContainer--textarea > .sprk-b-Label {
  margin-bottom: 0;
}

// label moving
.sprk-b-TextInput ~ .sprk-b-Label {
  position: absolute;
  transition: all $input-animation-speed;
  transform: scale($label-shrink-scale) translateY($label-offset-y); // ratio of body-four to body-three
  width: auto;
}

.sprk-u-JavaScript .sprk-b-TextInput ~ .sprk-b-Label {
  transform: scale(1) translateY($label-offset-y + 19px); // visually centering with icon
}

.sprk-b-TextInput,
.sprk-b-TextInput[placeholder],
.sprk-b-TextInput--has-value,
.sprk-b-TextInput--focusin,
.sprk-b-Select {
  padding-top: 1rem;
}

.sprk-u-JavaScript .sprk-b-Select ~ .sprk-b-Label,
.sprk-u-JavaScript .sprk-b-TextInput[placeholder] ~ .sprk-b-Label,
.sprk-u-JavaScript .sprk-b-TextInput--has-value ~ .sprk-b-Label,
.sprk-u-JavaScript .sprk-b-TextInput--focusin ~ .sprk-b-Label {
  height: 0;
  transform: translateY($label-offset-y) scale($label-shrink-scale); // ratio of body-four to body-three
}

.sprk-b-TextInput--date-picker .sprk-b-TextInput--has-value ~ .sprk-b-Label,
.sprk-b-TextInput--date-picker .sprk-b-TextInput[placeholder] ~ .sprk-b-Label,
.sprk-b-TextInput--date-picker .sprk-b-TextInput--focusin ~ .sprk-b-Label,
.sprk-b-TextInput--monetary .sprk-b-TextInput--has-value ~ .sprk-b-Label,
.sprk-b-TextInput--monetary .sprk-b-TextInput[placeholder] ~ .sprk-b-Label,
.sprk-b-TextInput--monetary .sprk-b-TextInput--focusin ~ .sprk-b-Label {
  padding-left: $space-s;
}

.sprk-b-TextInput--date-picker .sprk-b-Label {
  padding-left: $space-l;
}

.sprk-b-TextInput--monetary .sprk-b-Label {
  padding-left: 24px;
}
