.sprk-b-SelectionContainer {
  margin: $spark-space-s;
}

.sprk-b-SelectionContainer .sprk-b-Label {
  font-weight: normal;
}

.sprk-b-SelectionContainer [type='radio'],
.sprk-b-SelectionContainer [type='checkbox'] {
  vertical-align: middle;
}

.sprk-b-SelectionContainer [disabled][type='radio'],
.sprk-b-SelectionContainer [disabled][type='checkbox'] {
  border: 1px solid $spark-gray;
}

.sprk-b-SelectionContainer:last-child {
  margin-bottom: $spark-space-s;
}
