.sprk-b-Select {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  background: none;
  font-size: $sprk-font-size-body-two;
  font-weight: $sprk-font-weight-body-two;
  line-height: $sprk-line-height-body-two;
  outline: 0;
  padding: 0 $sprk-space-l 0 $sprk-space-s;
  box-shadow: $sprk-input-box-shadow;
  width: 100%;
}

// IE11
.sprk-b-Select:focus::-ms-value {
  color: $sprk-black;
  background: none;
}

.sprk-b-Select::-ms-expand {
  display: none;
}

.sprk-b-SelectContainer__icon {
  float: right;
  margin-top: $sprk-select-arrow-offset-y;
  margin-right: $sprk-select-arrow-offset-x;
}

.sprk-b-Select[disabled] {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: $sprk-input-gray-medium;
  border-bottom-width: 1px;
  background-color: $sprk-input-disabled-background-color;
  box-shadow: none;
  color: $sprk-input-disabled-text-color;
}

.sprk-b-Select--error {
  box-shadow: $sprk-input-error-box-shadow;
}

.sprk-b-Select--error ~ .sprk-b-InputContainer__input-border {
  border-bottom: 3px solid $sprk-text-input-error-color;
}

.sprk-b-Select--focusin ~ .sprk-b-InputContainer__input-border {
  animation: width-zero-to-full $sprk-input-animation-speed;
  animation-fill-mode: forwards;
}

.sprk-b-Select--focusout ~ .sprk-b-InputContainer__input-border {
  width: 100%;
  animation: opacity-one-to-zero $sprk-input-animation-speed;
  animation-fill-mode: forwards;
}
