.sprk-b-SelectionContainer {
  margin: $space-s;
}

.sprk-b-SelectionContainer .sprk-b-Label {
  font-weight: normal;
}

.sprk-b-SelectionContainer [type='radio'],
.sprk-b-SelectionContainer [type='checkbox'] {
  vertical-align: middle;
}

.sprk-b-SelectionContainer [disabled][type='radio'],
.sprk-b-SelectionContainer [disabled][type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
}

.sprk-b-SelectionContainer:last-child {
  margin-bottom: $space-s;
}
