.sprk-b-TextInputIconContainer {
  position: relative;
}

.sprk-b-TextInputIconContainer .sprk-c-Icon {
  margin-left: $sprk-input-icon-offset-x;
  margin-top: $sprk-input-icon-offset-y;
  position: absolute;
  z-index: $sprk-input-text-icon-z-index;
}
