// ==================================================================
// Input Component
// ==================================================================
.sprk-b-TextInput {
  font-size: $font-size-body-two;
  font-weight: $font-weight-body-two;
  line-height: $line-height-body-two;
  outline: 0;
  box-shadow: $input-box-shadow;
}

.sprk-b-TextInput[disabled] {
  background-color: $input-disabled-background-color;
  box-shadow: $input-disabled-box-shadow;
  color: $input-disabled-text-color;
}

.sprk-b-TextInput--with-icon {
  padding-left: $space-l;
}

.sprk-b-TextInput--monetary {
  padding-left: 24px;
}

.sprk-b-TextInputIconContainer {
  position: relative;
}

.sprk-b-TextInputIconContainer--monetary {
  position: relative;

  &::before {
    content: $monetary-symbol;
    display: block;
    font-size: $space-m;
    line-height: 1;
    margin-left: $input-text-icon-offset-x;
    margin-top: $input-text-icon-offset-y;
    position: absolute;
    z-index: $layer-height-xs;
  }
}

.sprk-b-InlineSearch__icon,
.sprk-b-DatePicker__icon {
  fill: $red;
  margin-left: $input-icon-offset-x;
  margin-top: $input-icon-offset-y;
  position: absolute;
  stroke: $red;
  z-index: $layer-height-xs;
}

.sprk-b-InlineSearch__icon {
  stroke: $black;
}

.sprk-b-TextInput[readonly] {
  color: $input-readonly-text-color;
}

.sprk-b-HelperText,
.sprk-b-ErrorText {
  font-size: $font-size-body-four;
  font-weight: $font-weight-body-four;
  line-height: $line-height-body-four;
}

.sprk-b-HelperText {
  color: $input-gray-medium;
}

.sprk-b-ErrorText {
  font-weight: bold;
}

.sprk-b-TextArea {
  min-height: 125px;
  margin: $space-stack-m;
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $input-placeholder-color;
}

.sprk-b-TextInput--focusin ~ .sprk-b-InputContainer__input-border {
  animation: width-zero-to-full $input-animation-speed;
  animation-fill-mode: forwards;
}

.sprk-b-TextInput--focusout ~ .sprk-b-InputContainer__input-border {
  width: 100%;
  animation: opacity-one-to-zero $input-animation-speed;
  animation-fill-mode: forwards;
}

.sprk-b-TextInput--error ~ .sprk-b-InputContainer__input-border {
  animation: none;
  border-bottom: 3px solid $text-input-error-color;
  width: 100%;
}
