.sprk-b-TextInputIconContainer--has-text-icon {
  &::before {
    content: $sprk-monetary-symbol;
    display: block;
    font-size: $sprk-input-text-icon-font-size;
    font-weight: $sprk-input-text-icon-font-weight;
    line-height: 1;
    margin-left: $sprk-input-text-icon-offset-x;
    margin-top: $sprk-input-text-icon-offset-y;
    position: absolute;
    z-index: $sprk-layer-height-xs;
  }
}
