// ==================================================================
// Input Component
// ==================================================================
.sprk-b-TextInput {
  box-shadow: $sprk-text-input-box-shadow;
  border: $sprk-text-input-border;
  border-radius: $sprk-text-input-border-radius;
  color: $sprk-text-input-color;
  font-family: $sprk-text-input-font-family;
  font-size: $sprk-text-input-font-size;
  font-weight: $sprk-text-input-font-weight;
  line-height: $sprk-text-input-line-height;
  height: $sprk-text-input-height;
  outline: $sprk-text-input-outline;
  padding: $sprk-text-input-padding;
  transition: $sprk-text-input-transition;

  &:focus {
    border-color: $sprk-text-input-focus-border-color;
  }
}

.sprk-b-TextInput--error,
.sprk-b-TextInput--error:focus {
  border-color: $sprk-text-input-error-border-color;
}

.sprk-b-TextInput[disabled] {
  background-color: $sprk-text-input-disabled-background-color;
  border-color: $sprk-text-input-disabled-border-color;
  color: $sprk-text-input-disabled-color;
  cursor: not-allowed;
}

.sprk-b-TextInput--with-svg-icon {
  padding: $sprk-text-input-with-icon-padding;
}

.sprk-b-TextInput--with-text-icon {
  padding: $sprk-text-input-with-text-icon-padding;
}

.sprk-b-TextInput[readonly] {
  color: $sprk-text-input-readonly-color;
}

.sprk-b-HelperText {
  color: $sprk-helper-color;
  font-size: $sprk-helper-font-size;
  font-weight: $sprk-helper-font-weight;
  line-height: $sprk-helper-line-height;
  margin: $sprk-helper-margin;
}

// Placeholder colors
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  line-height: normal;
  color: $sprk-placeholder-color;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: $sprk-placeholder-font-size;
  font-weight: $sprk-placeholder-font-weight;
  font-family: $sprk-placeholder-font-family;
  color: $sprk-placeholder-color;
}
