// ==================================================================
// Input Component
// ==================================================================
.sprk-b-TextInput {
  font-size: $font-size-body-two;
  font-weight: $font-weight-body-two;
  line-height: $line-height-body-two;
  outline: 0;
  padding: 0 $space-s;
  box-shadow: $input-box-shadow;
}

.sprk-b-TextInput[disabled] {
  background-color: $gray-light;
  box-shadow: $input-disabled-box-shadow;
  color: $input-gray-medium;
}

.sprk-b-TextInput--date-picker,
.sprk-b-TextInput--monetary {
  position: relative;
}

.sprk-b-DatePicker__icon,
.sprk-b-TextInput--monetary::before {
  position: absolute;
  left: $space-s;
  margin-top: -8px;
  z-index: $layer-height-xs;
}

.sprk-b-DatePicker__icon {
  top: 0.75rem;
}

.sprk-b-TextInput--monetary::before {
  content: '$';
  top: 0.5625rem;
}

.sprk-b-TextInput[readonly] {
  color: $white;
}

.sprk-b-HelperText,
.sprk-b-ErrorText {
  font-size: $font-size-body-four;
  font-weight: $font-weight-body-four;
  line-height: $line-height-body-four;
}

.sprk-b-HelperText {
  color: $input-gray-medium;
}

.sprk-b-ErrorText {
  font-weight: bold;
}

.sprk-b-TextArea {
  min-height: 125px;
  margin: $space-stack-m;
}

.sprk-b-Fieldset {
  padding: 0;
}

// Placeholder colors
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: $gray-light;
}

.sprk-b-TextInput--error {
  box-shadow: $input-error-box-shadow;
}

.sprk-b-TextInput--error ~ .sprk-b-InputContainer__input-border {
  border-bottom: 3px solid $yellow;
}

.sprk-b-TextInput--focusin ~ .sprk-b-InputContainer__input-border {
  animation: width-zero-to-full 0.3s;
  animation-fill-mode: forwards;
}

.sprk-b-TextInput--focusout ~ .sprk-b-InputContainer__input-border {
  width: 100%;
  animation: opacity-one-to-zero 0.3s;
  animation-fill-mode: forwards;
}
