---
name: Brand Headings
notes: |
  These are the brand headings.
labels:
  - inprogress
order: 1
---

<h1 class="heading heading--primary">This is a primary heading</h1>
<h2 class="heading heading--secondary">This is a secondary heading</h2>
<h3 class="heading heading--sub">This is a sub heading</h3>
