<sprk-card
  cardType="base"
  idString="card-20"
  additionalClasses="sprk-c-Card--standout">
  <div
    class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium"
  ></div>
</sprk-card>
