<p class="sprk-u-mbm">
  See below for React properties for the <code>SprkStepper</code> component.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>A space-delimited list of additional CSS classes that should be applied to the Stepper.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">hasDarkBackground</td>
      <td>bool</td>
      <td>If true, the Stepper will be rendered on a dark background. <code>($sprk-blue)</code></td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-id</code> attribute on the Stepper.</td>
    </tr>
  </tbody>
</table>

<p class="sprk-u-mbm">
  See below for React properties for the <code>SprkStepperStep</code> component.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">additionalClasses</td>
      <td>string</td>
      <td>A space-delimited list of additional CSS classes that should be applied to the StepperStep.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-id</code> attribute on the StepperStep.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">analyticsString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-analytics</code> attribute on the StepperStep.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">title</td>
      <td>string</td>
      <td>The title of the step.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">isSelected</td>
      <td>bool</td>
      <td>If true, this step will be selected when the component mounts. This property is changed automatically by the Stepper component when the keyboard is used to change the active step or when a step is clicked. Only one step can be selected at a time.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">onClick</td>
      <td>function</td>
      <td>This callback function will be called when the StepperStep is clicked. Note that this function is called before the Stepper state is updated.</td>
    </tr>
  </tbody>
</table>
