---
name: Inline
doclayout: true
description:
  Inline items should be spaced out consistently with right margin directional flow.
  When there is a component that involves a group of inline items there should be additional CSS written
  in that component on the :last-child CSS pseudo-class to remove the right margin on the last item in the group.
  Wrapping inline items should make use of the Stack space settings.
order: 5
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <p>
      Inline items with xs spacing
    </p>
    <span class="drizzle-c-Space-inline-right-xs">Cats</span><span class="drizzle-c-Space-inline-right-xs">Dogs</span><span class="drizzle-c-Space-inline-right-xs">Birds</span>

    <p>
      Inline items with s spacing
    </p>
    <span class="drizzle-c-Space-inline-right-s">Cats</span><span class="drizzle-c-Space-inline-right-s">Dogs</span><span class="drizzle-c-Space-inline-right-s">Birds</span>

    <p>
      Inline items with m spacing
    </p>
    <span class="drizzle-c-Space-inline-right-m">Cats</span><span class="drizzle-c-Space-inline-right-m">Dogs</span><span class="drizzle-c-Space-inline-right-m">Birds</span>

    <p>
      Inline items with l spacing
    </p>
    <span class="drizzle-c-Space-inline-right-l">Cats</span><span class="drizzle-c-Space-inline-right-l">Dogs</span><span class="drizzle-c-Space-inline-right-l">Birds</span>

    <p>
      Inline items with xl spacing
    </p>
    <span class="drizzle-c-Space-inline-right-xl">Cats</span><span class="drizzle-c-Space-inline-right-xl">Dogs</span><span class="drizzle-c-Space-inline-right-xl">Birds</span>

    <p>
      Inline items with no right margin on the last item.
    </p>
    <span class="drizzle-c-Space-inline-right-m">Fish</span><span class="drizzle-c-Space-inline-right-m">Frogs</span><span>Turtles</span>
  </div>
  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // SCSS Variables
        $sprk-space-xs: 4px;
        $sprk-space-s: 8px;
        $sprk-space-m: 16px;
        $sprk-space-l: 32px;
        $sprk-space-xl: 64px;
      </code>
    </pre>
  </div>
</div>
