---
name: Inset Tall
doclayout: true
description:
  Inset tall increases the top and bottom padding by 50%.
order: 3
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <div class="drizzle-c-Space-inset-tall-xs sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra small inset tall of 6px 4px 6px 4px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-tall-s sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the small inset tall of 12px 8px 12px 8px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-tall-m sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the medium inset tall of 24px 16px 24px 16px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-tall-l sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the large inset tall of 48px 32px 48px 32px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-tall-xl sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra large inset tall of 96px 64px 96px 64px.
      </p>
    </div>
  </div>
  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // SCSS Variables
        $spark-space-inset-tall-xs: 6px 4px 6px 4px;
        $spark-space-inset-tall-s: 12px 8px 12px 8px;
        $spark-space-inset-tall-m: 24px 16px 24px 16px;
        $spark-space-inset-tall-l: 48px 32px 48px 32px;
        $spark-space-inset-tall-xl: 96px 64px 96px 64px;
      </code>
    </pre>
  </div>
</div>
