---
name: Inset Short
doclayout: true
description: Inset short decreases the top and bottom spacing by 50%.
      Spark Buttons use the $spark-space-inset-short-l value for padding.
      This reduces the top and bottom padding of the buttons by 50%.
      This equates to padding of 16px for the top/bottom and 32px
      for the right/left.
order: 2
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <h4 class="drizzle-b-h4">
      Example:
    </h4>
    <div class="drizzle-c-Space-inset-short-xs sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra small inset short of 2px 4px 2px 4px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-short-s sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the small inset short of 4px 8px 4px 8px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-short-m sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the medium inset short of 8px 16px 8px 16px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-short-l sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the large inset short of 16px 32px 16px 32px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-short-xl sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra large inset short of 32px 64px 32px 64px.
      </p>
    </div>
  </div>
  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // SCSS Variables
        $spark-space-inset-short-xs: 2px 4px 2px 4px;
        $spark-space-inset-short-s: 4px 8px 4px 8px;
        $spark-space-inset-short-m: 8px 16px 8px 16px;
        $spark-space-inset-short-l: 16px 32px 16px 32px;
        $spark-space-inset-short-xl: 32px 64px 32px 64px;
      </code>
    </pre>
  </div>
</div>
