---
name: Inset
doclayout: true
description:
  Inset space is a consistent indent on all four sides. Incorporate the inset variables on your containers.
order: 1
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <div class="drizzle-c-Space-inset-tall-xs sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra small inset of 4px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-tall-s sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the small inset of 8px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-m sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the medium inset of 16px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-l sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the large inset of 32px.
      </p>
    </div>
    <div class="drizzle-c-Space-inset-xl sprk-u-mbm">
      <p class="sprk-b-TypeBodyTwo">
        The green border shows the extra large inset of 64px.
      </p>
    </div>
  </div>
  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // SCSS Variables
        $space-inset-xs: 4px 4px 4px 4px;
        $space-inset-s: 8px 8px 8px 8px;
        $space-inset-m: 16px 16px 16px 16px;
        $space-inset-l: 32px 32px 32px 32px;
        $space-inset-xl: 64px 64px 64px 64px;
      </code>
    </pre>
  </div>
</div>
