---
name: Inset Short
doclayout: true
notes: Inset short decreases the top and bottom spacing by 50%.
      Spark Buttons use the $space-inset-short-l value for padding.
      This reduces the top and bottom padding of the buttons by 50%.
      This equates to padding of 16px for the top/bottom and 32px
      for the right/left.
order: 2
---
<h4 class="drizzle-h4">
  Example:
</h4>
<div class="drizzle-Space-inset-short-xs">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra small inset short of 2px 4px 2px 4px.
  </p>
</div>
<div class="drizzle-Space-inset-short-s">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the small inset short of 4px 8px 4px 8px.
  </p>
</div>
<div class="drizzle-Space-inset-short-m">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the medium inset short of 8px 16px 8px 16px.
  </p>
</div>
<div class="drizzle-Space-inset-short-l">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the large inset short of 16px 32px 16px 32px.
  </p>
</div>
<div class="drizzle-Space-inset-short-xl">
  <p class="sprk-b-TypeBodyTwo">
    The green border shows the extra large inset short of 32px 64px 32px 64px.
  </p>
</div>
<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    // SCSS Variables
    $space-inset-short-xs: 2px 4px 2px 4px;
    $space-inset-short-s: 4px 8px 4px 8px;
    $space-inset-short-m: 8px 16px 8px 16px;
    $space-inset-short-l: 16px 32px 16px 32px;
    $space-inset-short-xl: 32px 64px 32px 64px;
  </code>
</pre>
