---
name: Misc Sizes
doclayout: true
description:
  These spacing sizes are supplemental sizes to the XS-XL sizes.
order: 5
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <p>
      The orange shows a margin right using the the misc "a" spacing of 24px.
    </p>
    <span class="drizzle-c-Space-inline-right-misc-a">Cats</span><span class="drizzle-c-Space-inline-right-misc-a">Dogs</span><span class="drizzle-c-Space-inline-right-misc-a">Birds</span>

    <p>
      The orange shows a margin right using the misc "b" spacing of 40px.
    </p>
    <span class="drizzle-c-Space-inline-right-misc-b">Cats</span><span class="drizzle-c-Space-inline-right-misc-b">Dogs</span><span class="drizzle-c-Space-inline-right-misc-b">Birds</span>

    <p>
      The orange shows a margin right using the misc "c" spacing of 48px.
    </p>
    <span class="drizzle-c-Space-inline-right-misc-c">Cats</span><span class="drizzle-c-Space-inline-right-misc-c">Dogs</span><span class="drizzle-c-Space-inline-right-misc-c">Birds</span>

    <p>
      The orange shows a margin right using the misc "d" spacing of 80px.
    </p>
    <span class="drizzle-c-Space-inline-right-misc-d">Cats</span><span class="drizzle-c-Space-inline-right-misc-d">Dogs</span><span class="drizzle-c-Space-inline-right-misc-d">Birds</span>
  </div>

  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // SCSS Variables
        $sprk-space-misc-a: 24px;
        $sprk-space-misc-b: 40px;
        $sprk-space-misc-c: 48px;
        $sprk-space-misc-d: 80px;
      </code>
    </pre>
  </div>
</div>
