---
name: Stack
doclayout: true
notes:
  Incorporate the stack variables to add a consistent margin bottom.
order: 4
---
<h4 class="drizzle-b-h4">
  Example:
</h4>
<div class="drizzle-c-Space-inset-xl">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the extra small stack spacing of 4px.
  </p>
</div>
<div class="drizzle-c-Space-inset-xl sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the small stack spacing of 8px.
  </p>
</div>
<div class="drizzle-c-Space-inset-xl sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the medium stack spacing of 16px.
  </p>
</div>
<div class="drizzle-c-Space-stack-l sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the large stack spacing of 32px.
  </p>
</div>
<div class="drizzle-c-Space-stack-l sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the extra large stack spacing of 64px.
  </p>
</div>
<pre>
  <code class="language-markup">
    // SCSS Variables
    $space-stack-xs: 0 0 4px 0;
    $space-stack-s: 0 0 8px 0;
    $space-stack-m: 0 0 16px 0;
    $space-stack-l: 0 0 32px 0;
    $space-stack-xl: 0 0 64px 0;
  </code>
</pre>
