---
name: Stack
doclayout: true
notes:
  Incorporate the stack variables to add a consistent margin bottom.
order: 4
---
<h4 class="drizzle-h4">
  Example:
</h4>
<div class="drizzle-Space-stack-xs">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the extra small stack spacing of 4px.
  </p>
</div>
<div class="drizzle-Space-stack-s sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the small stack spacing of 8px.
  </p>
</div>
<div class="drizzle-Space-stack-m sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the medium stack spacing of 16px.
  </p>
</div>
<div class="drizzle-Space-stack-l sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the large stack spacing of 32px.
  </p>
</div>
<div class="drizzle-Space-stack-xl sprk-u-man">
  <p class="sprk-b-TypeBodyTwo">
    The orange shows the extra large stack spacing of 64px.
  </p>
</div>
<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    // SCSS Variables
    $space-stack-xs: 0 0 4px 0;
    $space-stack-s: 0 0 8px 0;
    $space-stack-m: 0 0 16px 0;
    $space-stack-l: 0 0 32px 0;
    $space-stack-xl: 0 0 64px 0;
  </code>
</pre>
