---
name: Body Three
description: |
   This body type size is intended for long sections of text.
order: 13
variableTable:
  $sprk-color-body-three:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-body-three:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-body-three:
    description: The size of the font.
    default: 1rem
  $sprk-font-weight-body-three:
    description: The weight of the font.
    default: 300
  $sprk-line-height-body-three:
    description: The line height of the font.
    default: 2
---

<p class="sprk-b-TypeBodyThree">Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
  semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
  aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
  ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.</p>
