---
name: Body Two
description: |
  This is the default sizing for all text.
order: 12
variableTable:
  $sprk-color-body-two:
    description: The color of the text.
    default: $sprk-black
  $sprk-font-family-body-two:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $sprk-font-size-body-two:
    description: The size of the font.
    default: 1rem
  $sprk-font-weight-body-two:
    description: The weight of the font.
    default: 300
  $sprk-line-height-body-two:
    description: The line height of the font.
    default: 1.6
---

<p class="sprk-b-TypeBodyTwo">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
    semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
    aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
    ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.</p>
