---
name: Body One
description: |
    This body type is intended for sub-labels and any copy within a paragraph that needs to be
    emphasized.
order: 9
---

<p class="sprk-b-TypeBodyOne">Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
  semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
  aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
  ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.</p>
