---
name: Display Four
description: |
   This display size is intended to be used for third-level headings.
order: 6
---

<h3 class="sprk-b-TypeDisplayFour">The Quick Brown Fox Jumps Over the Lazy Dog</h3>
