---
name: Display Four
description: |
   This display size is intended to be used for third-level headings.
order: 5
---

<h3 class="sprk-b-TypeDisplayFour">A Quick Brown Fox Jumps Over the Lazy Dog</h3>
