---
name: Display Six
description: |
    This display size is intended to be used for sixth-level headings.
order: 8
variableTable:
  $color-display-six:
    description: The color of the text.
    default: $black
  $sprk-font-family-display-six:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $font-size-display-six:
    description: The size of the font.
    default: 1.25rem
  $font-weight-display-six:
    description: The weight of the font.
    default: 300
  $line-height-display-six:
    description: The line height of the font.
    default: 1.2
---

<h5 class="sprk-b-TypeDisplaySix">The Quick Brown Fox Jumps Over the Lazy Dog</h5>
