---
name: Display Six
description: |
    This display size is intended to be used for fifth-level and sixth-level headings.
order: 6
---

<h5 class="sprk-b-TypeDisplaySix">A Quick Brown Fox Jumps Over the Lazy Dog</h5>

