---
name: Display Two
description: |
    This display size is intended to be used for primary headings.
order: 4
---

<h1 class="sprk-b-TypeDisplayTwo">The Quick Brown Fox Jumps Over the Lazy Dog</h1>
