---
name: Display One
description: |
   This type size is intended for cases where type needs to be larger than usual and not intended as
   a section heading or divider. It is usually for ads or hero images.
order: 3
variableTable:
  $color-display-one:
    description: The color of the text.
    default: $black
  $sprk-font-family-display-one:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $font-size-display-one:
    description: The size of the font when the viewport is wider than $sprk-font-size-display-one-breakpoint.
    default: 3.375rem
  $sprk-font-size-display-one-narrow:
    description: The size of the font when the viewport is narrower than $sprk-font-size-display-one-breakpoint.
    default: 2.75rem
  $sprk-type-display-one-breakpoint:
    description: The width of the viewport at which to switch the font size from $sprk-font-size-display-one-narrow to
      $font-size-display-one.
    default: 43.75rem
  $font-weight-display-one:
    description: The weight of the font.
    default: bold
  $line-height-display-one:
    description: The line height of the font when the viewport is wider than $sprk-font-size-display-one-breakpoint.
    default: 1.03
  $sprk-line-height-display-one-narrow:
    description: The line height of the font when the viewport is narrower than $sprk-font-size-display-one-breakpoint.
    default: 1.27
---

<h1 class="sprk-b-TypeDisplayOne">The Quick Brown Fox Jumps Over the Lazy Dog</h1>
