---
name: Display Four
description: |
   This display size is intended to be used for fourth-level headings.
order: 6
variableTable:
  $color-display-four:
    description: The color of the text.
    default: $black
  $sprk-font-family-display-four:
    description: The font-family, including fallbacks.
    default: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif
  $font-size-display-four:
    description: The size of the font.
    default: 1.625rem
  $font-weight-display-four:
    description: The weight of the font.
    default: bold
  $line-height-display-four:
    description: The line height of the font.
    default: 1.23
---

<h3 class="sprk-b-TypeDisplayFour">The Quick Brown Fox Jumps Over the Lazy Dog</h3>
