---
name: Display Five
description: |
    This display size is intended to be used for fourth-level headings.
order: 7
---

<h4 class="sprk-b-TypeDisplayFive">The Quick Brown Fox Jumps Over the Lazy Dog</h4>
