---
name: Display Seven
description: |
    This display size is intended to be used for sixth-level headings and labels.
order: 7
---

<h6 class="sprk-b-TypeDisplaySeven">A Quick Brown Fox Jumps Over the Lazy Dog</h6>
