---
name: Fallback Fonts
order: 11
doclayout: true
---
<div class="drizzle-o-ContentGrouping">
    <p class="drizzle-b-P">
      In the event that a client has issues loading typefaces from typekit, we've defined the
      following system and web-safe typefaces that will be used in their place:
    </p>

    <ul class="drizzle-b-List drizzle-b-List--nested">
      <li class="drizzle-b-List__item">Helvetica</li>
      <li class="drizzle-b-List__item">Helvetica Neue</li>
      <li class="drizzle-b-List__item">Arial</li>
      <li class="drizzle-b-List__item">sans-serif</li>
    </ul>
</div>
