---
name: Line-height Collision
order: 16
doclayout: true
---
<div class="drizzle-o-ContentGrouping">
  <p class="drizzle-b-P">When left alone, line height on type will create extra whitespace around the top and bottom
  of the text. When the text is in a container that has padding applied, it appears larger than
  intended, due to the extra whitespace.</p>

  <p class="drizzle-b-P">See the article here for details:
    <a class="drizzle-b-Link" href="https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62">Space
      in design systems</a>
  </p>

  <p class="drizzle-b-P">The type sizes defined in spark all have this extra whitespace removed. Heading elements have this
  cropping automatically applied, where body copy will need the correct type classes applied.</p>

  <div class="drizzle-c-Space-inset-m">
    <p class="sprk-b-TypeBodyTwo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Architecto asperiores aspernatur commodi consectetur deleniti eaque enim, ex exercitationem
      expedita facilis iusto magni, nemo obcaecati quas soluta tempore totam veritatis
      voluptatem?</p>
  </div>
</div>
