---
name: Type Sizes Not Defined Here
order: 13
sourceless: true
doclayout: true
---

<p>If you need a type size that is not accounted for in the typography
    section, see below for additional sizing in each brand family.</p>

<p>The base value for this relative scale is 16px.</p>

<div class="drizzle-Alert">
  <h2 class="drizzle-Alert__icon drizzle-h2">
    <svg width="50" height="50" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1088 1248v224q0 26-19 45t-45 19H768q-26 0-45-19t-19-45v-224q0-26 19-45t45-19h256q26 0 45 19t19 45zm30-1056l-28 768q-1 26-20.5 45t-45.5 19H768q-26 0-45.5-19T702 960l-28-768q-1-26 17.5-45t44.5-19h320q26 0 44.5 19t17.5 45z"/></svg>
  </h2>
  <p class="drizzle-Alert__text drizzle-u-noMarginBottom">
    We recommend that if you're building something custom, that you use the type settings above.
    The type sizes listed below should be used rarely.
  </p>
</div>

<h2 class="drizzle-h2">Quatro Slab</h2>

<h3 class="drizzle-h3">Sizing Values (Largest to Smallest)</h3>

<ul class="drizzle-List">
  <li class="drizzle-List__item">4.595 rem</li>
  <li class="drizzle-List__item">3.797 rem</li>
  <li class="drizzle-List__item">3.138 rem</li>
  <li class="drizzle-List__item">2.594 rem</li>
  <li class="drizzle-List__item">2.144 rem</li>
  <li class="drizzle-List__item">1.772 rem</li>
  <li class="drizzle-List__item">1.464 rem</li>
</ul>

<h2 class="drizzle-h2">Myriad Pro</h2>

<h3 class="drizzle-h3">Sizing Values (Largest to Smallest)</h3>

<ul class="drizzle-List">
  <li class="drizzle-List__item">4.595 rem</li>
  <li class="drizzle-List__item">3.797 rem</li>
  <li class="drizzle-List__item">3.138 rem</li>
  <li class="drizzle-List__item">2.594 rem</li>
  <li class="drizzle-List__item">2.144 rem</li>
  <li class="drizzle-List__item">1.772 rem</li>
  <li class="drizzle-List__item">1.464 rem</li>
  <li class="drizzle-List__item">1.21 rem</li>
  <li class="drizzle-List__item">1 rem</li>
  <li class="drizzle-List__item">0.826 rem</li>
</ul>
