---
name: Page Title
description:
  The page title is used on primary pages that
  contain multiple jumping off points, as well as core
  product features and flows. It should only be used
  once at the top of the main content of a page.
order: 2
---

<h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle">The Quick Brown Fox Jumps Over the Lazy Dog</h1>
