---
name: Indented Lists
labels:
- inprogress
previewClass: drizzle-u-rhythm
order: 4
---

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum.</p>
<ul class="sprk-b-List--indented">
    <li>Indented Item</li>
    <li>Indented Item</li>
    <li>Indented Item</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum.</p>