---
name: Base
notes: |
  The footer is intended to be used at the bottom of every page.
info:
  - Some screen readers do not announce the footer landmark role so we add role="contentinfo" to the footer HTML element.
order: 1
---
<footer role="contentinfo">
  <p class="sprk-b-TypeBodyTwo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
    non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
  </p>

  <div class="sprk-o-StackSplit">
    <div class="sprk-o-StackSplit__item">
      <a href="#nogo">
        <div class="drizzle-logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>

    <div class="sprk-o-StackSplit__item">
      <a href="#nogo">
        <div class="drizzle-logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>

    <div class="sprk-o-StackSplit__item">
      <a href="#nogo">
        <div class="drizzle-logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>
  </div>

  <ul class="sprk-o-HorizontalList">
    <li>
      <a href="">Link 1</a>
    </li>

    <li>
      <a href="">Link 2</a>
    </li>

    <li>
      <a href="">Link 3</a>
    </li>
  </ul>
</footer>
