---
name: Base Items
hidden: true
---
{{!-- Paragraph of legal or other type of copy --}}
<p class="sprk-o-Stack__item sprk-b-TypeBodyThree">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
  non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
</p>

{{!-- Small awards/icons (limit 5) --}}
<div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
  <div class="sprk-o-Stack__item">
    <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
  </div>

  <div class="sprk-o-Stack__item">
    <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
  </div>

  <div class="sprk-o-Stack__item">
    <a href="#">
      <div class="drizzle-c-Logo-placeholder"></div>
      <span class="sprk-u-ScreenReaderText">Description of image</span>
    </a>
  </div>
</div>

{{!-- Legal Links limit to 8 --}}
<ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-b-List sprk-b-List--bare">
  <li class="sprk-o-Stack__item">
    <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
      Link 1
    </a>
  </li>

  <li class="sprk-o-Stack__item">
    <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
      Link 2
    </a>
  </li>

  <li class="sprk-o-Stack__item">
    <a class="sprk-b-Link sprk-b-Link--standalone sprk-b-Link--muted" href="#">
      Link 3
    </a>
  </li>
</ul>
