---
name: Base
notes: |
  The footer is intended to be used at the bottom of every page.
info:
  - Some screen readers do not announce the footer landmark role so we add role="contentinfo" to the footer HTML element.
order: 1
---
<footer class="sprk-o-Box" role="contentinfo">
  <p class="sprk-b-TypeBodyTwo sprk-u-mbm">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
    non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
  </p>

  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s sprk-u-mbm">
    <div class="sprk-o-Stack__item">
      <a href="#">
        <div class="drizzle-c-Logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>

    <div class="sprk-o-Stack__item">
      <a href="#">
        <div class="drizzle-c-Logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>

    <div class="sprk-o-Stack__item">
      <a href="#">
        <div class="drizzle-c-Logo-placeholder"></div>
        <span class="sprk-u-VisuallyHidden">Go to the award page</span>
      </a>
    </div>
  </div>

  <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
    <li>
      <a href="">Link 1</a>
    </li>

    <li>
      <a href="">Link 2</a>
    </li>

    <li>
      <a href="">Link 3</a>
    </li>
  </ul>
</footer>
