---
name: Base
notes: |
  The footer is intended to be used at the bottom of every page.
info:
  - Some screen readers do not announce the footer landmark role so we add role="contentinfo" to the footer HTML element.
order: 1
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-c-Footer sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    {{#embed "patterns.components.footer.base-items"}}{{/embed}}
  </footer>
</div>
