---
name: Footer
description: |
  The Footer is shown here with a section about global site options. If you choose
  to not include the global site options then you can remove that element.
  You can adjust, based on your content needs, the points at which the different
  pieces in the footer change from a stacked to a split layout. To do so, change
  the Stack object container's responsive suffixes.
order: 5
hasAngularCode: true
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-o-Stack" role="contentinfo" data-id="footer-1">
    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--split@m">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--fourth@m sprk-o-Stack sprk-o-Stack--large sprk-o-Box">
        <h3 class="sprk-o-Stack__item sprk-b-TypeBodyOne sprk-u-TextTransform--uppercase">
          Our Options
        </h3>

        <div class="sprk-o-Stack__item">
          <a class="sprk-b-Link sprk-b-Link--plain sprk-u-Display--block" href="#">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--xl" viewBox="0 0 64 64">
              <use xlink:href="#auto-loans" />
            </svg>
            <span class="sprk-u-ScreenReaderText">auto loans</span>
          </a>

          <p class="sprk-b-TypeBodyTwo" href="#">
            Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>

        <div class="sprk-o-Stack__item">
          <a class="sprk-b-Link sprk-b-Link--plain sprk-u-Display--block" href="#">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--xl" viewBox="0 0 64 64">
              <use xlink:href="#amount-money" />
            </svg>
            <span class="sprk-u-ScreenReaderText">amount of money</span>
          </a>

          <p class="sprk-b-TypeBodyTwo" href="#">
            Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>

        <div class="sprk-o-Stack__item">
          <a class="sprk-b-Link sprk-b-Link--plain sprk-u-Display--block" href="#">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--xl" viewBox="0 0 64 64">
              <use xlink:href="#access" />
            </svg>
            <span class="sprk-u-ScreenReaderText">access</span>
          </a>

          <p class="sprk-b-TypeBodyTwo" href="#">
            Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>

        <div class="sprk-o-Stack__item">
          <a class="sprk-b-Link sprk-b-Link--plain sprk-u-Display--block" href="#">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--xl" viewBox="0 0 64 64">
              <use xlink:href="#payment-center" />
            </svg>
            <span class="sprk-u-ScreenReaderText">payment center</span>
          </a>

          <p class="sprk-b-TypeBodyTwo" href="#">
            Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fourths@m sprk-o-Stack sprk-o-Stack--large">
        <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--split@m">
          <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m sprk-o-Box sprk-o-Stack sprk-o-Stack--large">
            <h3 class="sprk-o-Stack__item sprk-b-TypeBodyOne sprk-u-TextTransform--uppercase">
              SITE LINKS
            </h3>

            <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About This
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About This Other Thing
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About That
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  Link Item
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  This Link Item
                </a>
              </li>
            </ul>
          </div>

          <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m sprk-o-Box sprk-o-Stack sprk-o-Stack--large">
            <h3 class="sprk-o-Stack__item sprk-b-TypeBodyOne sprk-u-TextTransform--uppercase">
              LEARN MORE
            </h3>

            <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About This Other Thing
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About This
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  About That
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  Link Item
                </a>
              </li>
            </ul>
          </div>

          <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m sprk-o-Box sprk-o-Stack sprk-o-Stack--large">
            <h3 class="sprk-o-Stack__item sprk-b-TypeBodyOne sprk-u-TextTransform--uppercase">
              SUPPORT
            </h3>

            <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  Share Your Screen
                </a>
              </li>
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  Opt Out
                </a>
              </li>
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  Disclosures and Other Things
                </a>
              </li>
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--muted sprk-b-Link--standalone sprk-u-FontWeight--normal" href="#nogo">
                  We Want Your Feedback
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Box">
          <h3 class="sprk-o-Stack__item sprk-b-TypeBodyOne">
            CONNECT WITH US
          </h3>

          <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@m">
            <ul class="sprk-o-Stack__item sprk-o-Stack__item--flex@m sprk-o-Stack sprk-o-Stack--split@xs sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#facebook" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Facebook</span>
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#instagram" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Instagram</span>
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#twitter" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Twitter</span>
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#youtube" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Youtube</span>
                </a>
              </li>
            </ul>

            <ul class="sprk-o-Stack__item sprk-o-Stack__item--flex@m sprk-o-Stack sprk-o-Stack--end-row@m sprk-o-Stack--split@xs sprk-o-Stack--medium sprk-b-List sprk-b-List--bare">
              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#townhouse" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Townhouse</span>
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#townhouse" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Townhouse</span>
                </a>
              </li>

              <li class="sprk-o-Stack__item">
                <a class="sprk-b-Link sprk-b-Link--plain" href="#">
                  <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
                    <use xlink:href="#townhouse" />
                  </svg>
                  <span class="sprk-u-ScreenReaderText">Townhouse</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Box">
      <div class="sprk-o-Stack__item">
        <div data-sprk-toggle="container">
          <a class="sprk-b-TypeBodyFour sprk-b-Link sprk-b-Link--plain sprk-b-Link--muted" data-sprk-toggle="trigger" href="#">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--toggle sprk-u-mrs" data-sprk-toggle="icon" viewBox="0 0 64 64">
              <use xlink:href="#chevron-down"></use>
            </svg>
            My Disclaimer
          </a>

          <div data-sprk-toggle="content">
            <p class="sprk-b-TypeBodyFour sprk-u-pts sprk-u-pbs">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
              non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
            </p>
          </div>
        </div>
      </div>

      <p class="sprk-o-Stack__item sprk-b-TypeBodyFour">
        &#42;Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>

      <p class="sprk-o-Stack__item sprk-b-TypeBodyFour">
        Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        Lorem ipsum dolor sit amet, consectetur.
      </p>

      <p class="sprk-o-Stack__item sprk-b-TypeBodyFour">
        &#42;&#42;Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>

      <p class="sprk-o-Stack__item sprk-b-TypeBodyFour">
        Lorem ipsum dolor sit amet, consectetur.
      </p>
    </div>
  </footer>
</div>
