---
name: Base With Optional Elements
description: |
  The base footer can be used with all or some of the optional elements. The optional items are feedback links,
  social links and three columns of site links.
restrictions:
  - The social links section is resticted to a maximum of 8 links.
  - The site links section is resticted to a maximum of 56 links in the three columns.
  - The feedback links have an icon, a line of explanation copy and a link.
order: 2
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-o-Box sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    {{!-- Optional Columns of links (max 3) --}}
    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@m">
      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          One
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 1</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 2</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 3</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 4</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 5</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 6</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 7</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 8</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 9</a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 10</a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          Two
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 1
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 2
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 3
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 4
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 5
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 6
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 7
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 8
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 9
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 10
            </a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@m">
        <h2 class="sprk-b-TypeDisplaySix sprk-u-mbs">
          Three
        </h2>

        <ul class="sprk-o-Stack sprk-o-Stack--small sprk-b-List sprk-b-List--bare">
          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 1
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 2
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 3
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 4
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 5
            </a>
          </li>

          <li class="sprk-o-Stack__item">
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 6
            </a>
          </li>
        </ul>
      </div>
    </div>

    {{!-- Optional Social links/icons --}}
    <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-b-List sprk-b-List--bare">
      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#facebook" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#instagram" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#twitter" />
          </svg>
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#youtube" />
          </svg>
        </a>
      </li>
    </ul>

    {{!-- Optional Feedback Links --}}
    <ul class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s sprk-b-List sprk-b-List--bare">
      <li class="sprk-o-Stack__item">
        <a class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
            <use xlink:href="#paper-plane" />
          </svg>

          Provide Feedback
        </a>
      </li>

      <li class="sprk-o-Stack__item">
        <a class="sprk-o-Stack__item sprk-b-Link sprk-b-Link--muted" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 512 512">
            <use xlink:href="#computer-screen" />
          </svg>

          Share Your Screen
        </a>
      </li>
    </ul>

    {{#embed "patterns.components.footer.base-items"}}{{/embed}}
  </footer>
</div>
