---
name: Base With Optional Elements
description: |
  The base Footer can be used with all or some of the optional elements.
  The optional items are feedback links,
  social links and three columns of site links.
restrictions:
  - The social links section is resticted to a maximum of 8 links.
  - The site links section is resticted to a maximum of 56 links in the three columns.
  - The feedback links have an icon, a line of explanation copy and a link.
order: 3
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-o-Box sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    {{!-- Optional Columns of links (max 3) --}}
    {{#embed "patterns.components.footer.nav-link-columns"}}{{/embed}}

    {{!-- Optional Social links/icons --}}
    {{#embed "patterns.components.footer.social-links"}}{{/embed}}

    {{!-- Optional Feedback Links --}}
    {{#embed "patterns.components.footer.feedback-links"}}{{/embed}}

    {{#embed "patterns.components.footer.base-items"}}{{/embed}}
  </footer>
</div>
