---
name: Base With Optional Elements And Award Pattern
description: |
  The Base footer with the optional elements can also include the Award pattern.
restrictions:
  - The social links section is resticted to a maximum of 8 links.
  - The site links section is resticted to a maximum of 56 links in the three columns.
  - The feedback links have an icon, a line of explanation copy and a link.
order: 3
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-o-Box sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    {{!-- Optional Columns of links (max 3) --}}
    {{#embed "patterns.components.footer.nav-link-columns"}}{{/embed}}

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@xl">
      <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--large sprk-o-Stack__item--equal@xl">
        {{#embed "patterns.components.footer.social-links"}}{{/embed}}
        {{#embed "patterns.components.footer.feedback-links"}}{{/embed}}
        <div class="sprk-o-Stack__item" data-sprk-toggle="container">
          <a class="sprk-b-TypeBodyThree sprk-b-Link sprk-b-Link--standalone" data-sprk-toggle="trigger" href="#">
              <svg class="sprk-c-Icon sprk-u-mrs" data-sprk-toggle="icon" viewBox="0 0 448 512">
                <use xlink:href="#chevron-down"></use>
              </svg>
              My Disclaimer
          </a>

          <p class="sprk-b-TypeBodyFour sprk-u-pts sprk-u-HideWhenJs" data-sprk-toggle="content">
            This is an example of disclaimer content.
            The aria-expanded="true" attribute will be
            viewable in the DOM on the toggle link when this
            content is shown. When this content is hidden the
            aria-expanded attribute will have the value of false.
            This helps accessibilty devices in understanding that
            the link is a control for expandable content.
          </p>
        </div>
        {{#embed "patterns.components.footer.base-items"}}{{/embed}}
      </div>

      <div class="sprk-o-Stack__item sprk-o-Stack__item--equal@xl sprk-o-Stack sprk-o-Stack--medium">
        <h2
          class="sprk-o-Stack__item sprk-b-TypeDisplaySix sprk-u-TextAlign--center">
          Award Stacked Pattern Inside Footer
        </h2>

        <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium">
          <a class="sprk-o-Stack__item sprk-o-Stack" href="#">
            <img
              class="sprk-o-Stack__item sprk-o-Stack__item--center drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--large"
              alt="Spark placeholder image"
              src="../../assets/toolkit/images/spark-placeholder.jpg" />
          </a>

          <a class="sprk-o-Stack__item sprk-o-Stack" href="#">
            <img
              class="sprk-o-Stack__item sprk-o-Stack__item--center drizzle-c-Logo-placeholder drizzle-c-Logo-placeholder--large"
              alt="Spark placeholder image"
              src="../../assets/toolkit/images/spark-placeholder.jpg" />
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
