---
name: Base With Optional Elements
description: |
  The base footer can be used with all or some of the optional elements. The optional items are feedback links,
  social links and three columns of site links.
restrictions:
  - The social links section is resticted to a maximum of 8 links.
  - The site links section is resticted to a maximum of 56 links in the three columns.
  - The feedback links have an icon, a line of explanation copy and a link.
order: 2
---
<div class="sprk-o-CenteredColumn">
  <footer class="sprk-c-Footer sprk-o-Stack sprk-o-Stack--large" role="contentinfo">
    {{!-- Optional Columns of links (max 3) --}}
    <div class="sprk-o-Stack__item sprk-o-SideBySide sprk-c-Footer__cols">
      <div class="sprk-o-SideBySide__item sprk-c-Footer__col">
        <h5 class="sprk-u-mbs">
          Column One
        </h5>

        <ul class="sprk-o-VerticalList sprk-o-VerticalList--spacing-medium">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 1</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 2</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 3</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 4</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 5</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 6</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 7</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 8</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 9</a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">Link 10</a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-SideBySide__item sprk-c-Footer__col">
        <h5 class="sprk-u-mbs">
          Column Two
        </h5>

        <ul class="sprk-o-VerticalList sprk-o-VerticalList--spacing-medium">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 1
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 2
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 3
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 4
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 5
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 6
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 7
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 8
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 9
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 10
            </a>
          </li>
        </ul>
      </div>

      <div class="sprk-o-SideBySide__item sprk-c-Footer__col">
        <h5 class="sprk-u-mbs">
          Column Three
        </h5>

        <ul class="sprk-o-VerticalList sprk-o-VerticalList--spacing-medium">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 1
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 2
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 3
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 4
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 5
            </a>
          </li>

          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
              Link 6
            </a>
          </li>
        </ul>
      </div>
    </div>

    {{!-- Optional Social links/icons --}}
    <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
      <li>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#facebook" />
          </svg>
        </a>
      </li>

      <li>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#instagram" />
          </svg>
        </a>
      </li>

      <li>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#twitter" />
          </svg>
        </a>
      </li>

      <li>
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
            <use xlink:href="#youtube" />
          </svg>
        </a>
      </li>
    </ul>

    {{!-- Optional Feedback Links --}}
    <div class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
        <a class="sprk-b-Link sprk-b-Link--standalone" href="#">
          <div class="sprk-o-Flag">
            <div class="sprk-o-Flag__figure">
              <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 512 512">
                <use xlink:href="#paper-plane" />
              </svg>
            </div>

            <div class="sprk-o-Flag__body sprk-b-TypeBodyThree">
              <p>Ideas? Opinions? Tell us what you think!</p>
              <p>We Want Your Feedback</p>
            </div>
          </div>
        </a>
    </div>

    {{#embed "patterns.components.footer.base-items"}}{{/embed}}
  </footer>
</div>
