---
name: Base With Optional Elements
notes: |
  The footer can be used with all or some of the optional elements.
restrictions:
  - The social links section is resticted to a maximum of 8 links.
  - The top links section is resticted to a maximum of 56 links in three columns.
order: 2
---
<footer class="sprk-o-Box sprk-o-Stack sprk-o-Stack--medium" role="contentinfo">
  <p class="sprk-o-Stack__item sprk-b-TypeBodyTwo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in laoreet ante,
    non feugiat neque. Suspendisse et ipsum leo. Quisque non consectetur justo.
  </p>

  <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
    <li>
      <a class="sprk-b-TypeBodyTwo" href="#">
        <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
          <use xlink:href="#facebook" />
        </svg>
      </a>
    </li>

    <li>
      <a class="sprk-b-TypeBodyTwo" href="#">
        <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
          <use xlink:href="#instagram" />
        </svg>
      </a>
    </li>

    <li>
      <a class="sprk-b-TypeBodyTwo" href="#">
        <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 448 512">
          <use xlink:href="#twitter" />
        </svg>
      </a>
    </li>
  </ul>

  <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
    <li>
      <a href="#">
        <svg class="sprk-c-Icon" viewBox="0 0 512 512">
          <use xlink:href="#envelope" />
        </svg>
        Feedback 1
      </a>
    </li>

    <li>
      <a href="#">
        <svg class="sprk-c-Icon" viewBox="0 0 512 512">
          <use xlink:href="#envelope" />
        </svg>
        Feedback 2
      </a>
    </li>
  </ul>

  <div class="sprk-o-Stack__item">
    <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
      <div class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-logo-placeholder"></div>
          <span class="sprk-u-VisuallyHidden">Go to the award page</span>
        </a>
      </div>

      <div class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-logo-placeholder"></div>
          <span class="sprk-u-VisuallyHidden">Go to the award page</span>
        </a>
      </div>

      <div class="sprk-o-Stack__item">
        <a href="#">
          <div class="drizzle-logo-placeholder"></div>
          <span class="sprk-u-VisuallyHidden">Go to the award page</span>
        </a>
      </div>
    </div>
  </div>

  <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
    <li>
      <a href="">Link 1</a>
    </li>

    <li>
      <a href="">Link 2</a>
    </li>

    <li>
      <a href="">Link 3</a>
    </li>
  </ul>
</footer>
