<button (click)="toggleInfoModal($event)" additionalClasses="info-button" sprkButton>Info Modal</button>

<sprk-modal
  [(isVisible)]="false"
  title="For Your Information"
  (hide)="toggleInfoModal($event)"
  modalType="info"
  idString="modal-info-1">
  This is some content that is in a Modal.
  It explains what the Modal is for.
  There will also be a way to close the modal.
</sprk-modal>
