---
order: 2
description:
  This variation of the Highlight Board component
  should be used when there is an alternative to a
  photograph behind the lead message and call to
  action. Examples of this are a wash of color
  or a pattern set behind the content.
hasAngularCode: true
hasAngularDocs: true
hasReactCode: true
hasReactDocs: true
---
<div class="sprk-c-HighlightBoard sprk-u-mbm" data-id="highlightboard-2">
  <div class="sprk-c-HighlightBoard__content sprk-o-Stack sprk-o-Stack--large">
    <h1 class="sprk-b-TypeDisplayTwo sprk-c-HighlightBoard__heading sprk-o-Stack__item">
      Hello, Welcome To Spark Design System
    </h1>

    <div class="sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@xs sprk-o-Stack--center-column sprk-o-Stack--center-row">
      <div class="sprk-o-Stack__item sprk-c-HighlightBoard__cta">
        <a class="sprk-c-Button sprk-c-Button--full@s" href="/gettingstarted/designers.html">
          Designers
        </a>
      </div>

      <div class="sprk-o-Stack__item sprk-c-HighlightBoard__cta">
        <a class="sprk-c-Button sprk-c-Button--full@s sprk-c-Button--secondary" href="/gettingstarted/developers.html">
          Developers
        </a>
      </div>
    </div>
  </div>
</div>
