---
name: Choice
notes: |
  Choice modals pose a question to the user and allow them to take an action.
  To use the Spark JS modal functionality each modal container needs to have the attribute of 'data-sprk-modal="modalName"'.
  Where modalName is a unique identifier for that particular modal.
  Cancel child elements (links, icons or buttons) should have the attribute of 'data-sprk-modal-cancel="modalName"'.
order: 1
---
<button
  class="sprk-c-Button"
  data-sprk-modal-trigger="exampleChoiceModal"
  type="button">
  Open Choice Modal
</button>

<div
  class="sprk-c-Modal sprk-u-Hide"
  role="dialog"
  tabindex="-1"
  aria-labelledby="modalChoiceHeading"
  aria-modal="true"
  aria-describedby="modalChoiceContent"
  data-sprk-modal="exampleChoiceModal">
  <header class="sprk-c-Modal__header">
    <h2 class="sprk-c-Modal__heading sprk-b-TypeDisplayFour" id="modalChoiceHeading">
      Are you sure?
    </h2>

    <button
      class="sprk-c-Modal__icon"
      data-sprk-modal-cancel="exampleChoiceModal"
      type="button" aria-label="Close Modal">
      <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 384 512" aria-hidden="true" focusable="false">
        <use xlink:href="#times"></use>
      </svg>
    </button>
  </header>

  <div class="sprk-c-Modal__body">
    <p class="sprk-b-TypeBodyTwo" id="modalChoiceContent">
      This is some content that is in a modal. It explains what the modal is for.
      There will also be a way to close the modal.
    </p>
  </div>

  <footer class="sprk-c-Modal__footer">
    <button class="sprk-c-Button sprk-u-mrm">
      Confirm
    </button>

    <a href="" class="sprk-b-Link sprk-b-Link--standalone" data-sprk-modal-cancel="exampleChoiceModal">
      Cancel
    </a>
  </footer>
</div>

<div data-sprk-modal-mask="true" class="sprk-c-ModalMask sprk-u-Hide" tabindex="-1"></div>
