---
name: Confirmation Modal
notes: |
  This is a confirmation modal.
order: 1
previewClass: drizzle-u-bgBlack35 drizzle-u-drizzleModalOverride
labels:
  - inprogress
---

<div class="c-Modal">
  <header class="c-Modal__header">
    <h2 class="o-Heading o-Heading--sub">Are you sure?</h2>
  </header>
  <div class="c-Modal__body">
    <p>If you decline you will not be able to use MyQL to process your loan. All documents and signatures will need to be sent via postal mail which could delay your loan process.</p>
  </div>
  <footer class="c-Modal__footer">
    <button class="btn c-Button--primary">Confirm</button>
    <a class="mlh o-Link--plain" href="">Cancel</a>
  </footer>
</div>
<div class="c-ModalMask"></div>
