---
name: Interstitial Modal
notes: |
  This is an interstitial modal. Interstitial modals contain a short looping animation to give feedback that progress is being made based on a user's action.
order: 1
previewClass: drizzle-u-bgBlack35 drizzle-u-drizzleModalOverride
labels:
  - inprogress
---

<div class="sprk-c-Modal">
  <div class="sprk-c-Modal__header">
    <h2 class="sprk-b-TypeDisplayThree">Please wait while we do something</h2>
    <div class="sprk-c-Modal__spinner">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle sprk-c-Spinner--large"></span>
    </div>
  </div>
  <div class="sprk-c-Modal__body">
    <p><strong>Sit tight! This may take a few minutes!</strong></p>
    <p>If you decline you will not be able to use MyQL to process your loan. All documents and signatures will need to be sent via postal mail which could delay your loan process.</p>
  </div>
</div>
<div class="sprk-c-ModalMask"></div>
