---
name: Wait
notes: |
  Wait modals contain a spinner to indicate something is happening and can not be closed by the user.
order: 1
---
<button
  class="sprk-c-Button"
  data-sprk-modal-trigger="exampleWaitModal"
  type="button">
  Open Wait Modal
</button>

<div
  class="sprk-c-Modal sprk-u-Hide"
  role="dialog"
  tabindex="-1"
  aria-labelledby="modal-wait-heading"
  aria-modal="true"
  aria-describedby="modal-wait-content"
  data-sprk-modal="exampleWaitModal"
  data-sprk-modal-type="wait">
  <header class="sprk-c-Modal__header">
    <h2 class="sprk-c-Modal__heading sprk-b-TypeDisplayFour" id="modal-wait-heading">
      Please Wait...
    </h2>

    <div class="sprk-c-Modal__icon">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle sprk-c-Spinner--large"></span>
    </div>
  </header>

  <div class="sprk-c-Modal__body">
    <p class="sprk-b-TypeBodyTwo" id="modal-wait-content">
      This is some content that is in a modal.
      This type of modal can not be closed by the user.
    </p>
  </div>
</div>

<div data-sprk-modal="mask" class="sprk-c-ModalMask sprk-u-Hide" tabindex="-1"></div>
