---
name: Wait
notes: |
  Wait modals contain a spinner to indicate something is happening. There is no action for the user to take on Wait modals.
order: 1
previewClass: drizzle-u-bgBlack35 drizzle-u-drizzleModalOverride
---
<div
  class="sprk-c-Modal sprk-u-Hide"
  role="dialog"
  tabindex="-1"
  aria-labelledby="modal-wait-heading"
  aria-modal="true"
  aria-describedby="modal-wait-content"
  data-sprk-modal="wait">
  <header class="sprk-c-Modal__header">
    <h2 class="sprk-b-TypeDisplayThree" id="modal-wait-heading">
      Please Wait...
    </h2>

    <div class="sprk-c-Modal__icon">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle sprk-c-Spinner--large"></span>
    </div>
  </header>

  <div class="sprk-c-Modal__body">
    <p class="sprk-b-TypeBodyTwo" id="modal-wait-content">
      This is some content that is in a modal. It explains what the modal is for.
      There will also be a way to close the modal.
    </p>
  </div>
</div>
<div data-sprk-modal="mask" class="sprk-c-ModalMask sprk-u-Hide" tabindex="-1"></div>
