<button
  {{#if disabled}} disabled{{/if}}
  {{#if spinner}} (click)="checkSpinner($event)"{{/if}}
  {{#if additionalClasses}} additionalClasses="{{additionalClasses}}"{{/if}} sprkButton>Button</button>
