$doc-site-mobile-breakpoint: 57rem;
$doc-site-layout-max-width: 90rem;
$docs-search-wrap-breakpoint: 635px;
$docs-color-swatch-min-width: 210px;
$docs-color-swatch-max-width: 1fr;
$docs-color-swatch-three-column-breakpoint: 1200px;
$docs-color-swatch-two-column-breakpoint: 800px;
$docs-color-swatch-one-column-breakpoint: 500px;

// TODO: Remove these colors when the npm spark package is updated with new colors
$sprk-red: #C8102E;
$sprk-deep-red: #76232F;
$sprk-mid-red: #9D2235;
$sprk-purple: #603AA1;
$sprk-purple-dark: #3C3174;
$sprk-purple-deep: #2E1166;
$sprk-purple-light: #9265D3;
$sprk-purple-lightest:#E7E2F2;
$sprk-green:#298540;
$sprk-blue: #1C6EF2;
$sprk-pink: #E50158;
$sprk-yellow:#EDA302;
$sprk-white: #FFFFFF;
$sprk-black: #1C1B1A;
$sprk-black-tint-90: #323130;
$sprk-black-tint-80: #494948;
$sprk-black-tint-70: #605F5E;
$sprk-black-tint-60: #777676;
$sprk-black-tint-50: #8D8D8C;
$sprk-black-tint-40: #A4A4A3;
$sprk-black-tint-30: #BABABA;
$sprk-black-tint-20: #D2D1D1;
$sprk-black-tint-10: #E8E8E8;
$sprk-gray: #F7F7F7;
$sprk-navy-purple: #1C0152;
$sprk-lavender: #BE84F7;
$sprk-wisteria: #DEB1FD;
$sprk-magnolia: #F0DAFF;