$doc-site-mobile-breakpoint: 57rem;
$doc-site-layout-max-width: 90rem;
$docs-search-wrap-breakpoint: 635px;
$docs-color-swatch-min-width: 210px;
$docs-color-swatch-max-width: 1fr;
$docs-color-swatch-three-column-breakpoint: 1200px;
$docs-color-swatch-two-column-breakpoint: 800px;
$docs-color-swatch-one-column-breakpoint: 500px;
