$sprk-masthead-breakpoint: 57rem;
$sprk-masthead-narrow-height: 198px;
$sprk-using-webfonts: true;
$sprk-webfonts: (
    (
      url('https://spark-assets.netlify.app/RocketSans-Bold.woff2')
        format('woff2'),
      url('https://spark-assets.netlify.app/RocketSans-Bold.woff')
        format('woff')
    ),
    RocketSans,
    700
  ),
  (
    (
      url('https://spark-assets.netlify.app/RocketSans-Medium.woff2')
        format('woff2'),
      url('https://spark-assets.netlify.app/RocketSans-Medium.woff')
        format('woff')
    ),
    RocketSans,
    500
  ),
  (
    (
      url('https://spark-assets.netlify.app/RocketSans-Regular.woff2')
        format('woff2'),
      url('https://spark-assets.netlify.app/RocketSans-Regular.woff')
        format('woff')
    ),
    RocketSans,
    400
  ),
  (
    (
      url('https://spark-assets.netlify.app/RocketSans-Light.woff2')
        format('woff2'),
      url('https://spark-assets.netlify.app/RocketSans-Light.woff')
        format('woff')
    ),
    RocketSans,
    300
  );

body {
  background-color: rgb(255, 255, 255);
}

/* stylelint-disable selector-class-pattern */

/* stylelint-disable selector-max-id */
// SprkTables only allow
// class to be added on table container
// unless you go full-control mode
// and add your own html.
.docs-b-Table--left-align-last tr td:last-child {
  text-align: left;
}

.docs-b-Table--no-wrap-first tr td:first-child {
  white-space: nowrap;
}

.sprk-b-Link code {
  text-decoration: underline;
}

#gatsby-focus-wrapper code {
  line-height: 1;
  white-space: nowrap;
  font-size: 13px;
  color: rgb(200, 16, 46);
  background-color: rgb(247, 247, 247);
  margin: 0;
  padding: 3px 5px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 232, 232);
}

.docs-b-Link--anchor {
  display: block;
  position: relative;
  top: -170px;
  visibility: hidden;
}

.docs-c-SkipNav {
  position: absolute;
  top: -150px;
  z-index: 5000;

  .docs-c-SkipNav__link {
    display: block;
    opacity: 0;
    transition: none;

    &:focus {
      opacity: 1;
    }
  }

  &:focus-within {
    top: 0;
  }
}

.docs-c-Banner--link {
  color: rgb(255, 255, 255);

  &:hover,
  &:focus {
    color: rgb(164, 164, 163);
  }
}

/* stylelint-enable */
