$sprk-masthead-column-width: 1920px;
$sprk-masthead-breakpont: 1408px;
$sprk-using-webfonts: true;
$sprk-webfonts:
  ((url('https://spark-assets.netlify.com/RocketSans-Bold.woff2') format('woff2'), url('https://spark-assets.netlify.com/RocketSans-Bold.woff') format('woff')), RocketSans, 700),
  ((url('https://spark-assets.netlify.com/RocketSans-Medium.woff2') format('woff2'), url('https://spark-assets.netlify.com/RocketSans-Medium.woff') format('woff')), RocketSans, 500),
  ((url('https://spark-assets.netlify.com/RocketSans-Regular.woff2') format('woff2'), url('https://spark-assets.netlify.com/RocketSans-Regular.woff') format('woff')), RocketSans, 400),
  ((url('https://spark-assets.netlify.com/RocketSans-Light.woff2') format('woff2'), url('https://spark-assets.netlify.com/RocketSans-Light.woff') format('woff')), RocketSans, 300);

/* stylelint-disable selector-class-pattern */
// SprkTables only allow
// class to be added on table container
// unless you go full-control mode
// and add your own html.
.docs-b-Table--left-align-last tr td:last-child {
  text-align: left;
}

/* stylelint-enable */
