---
name: Card Layout - Four Up
description:
  You may group Cards together in a set of
  four. The Cards should share some relation to one another.
order: 7
hasAngularCode: true
hasAngularDocs: true
hasAngularCodeInfo: true
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@xl">
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="Button" h4=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@xl" cta=true img=true cardTitle="Title!" cardContent="Placeholder text." idString="card-8"}}{{/embed}}
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="Button" h4=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@xl" cta=true img=true cardTitle="Title!" cardContent="Placeholder text." idString="card-9"}}{{/embed}}
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="Button" h4=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@xl" cta=true img=true cardTitle="Title!" cardContent="Placeholder text." idString="card-10"}}{{/embed}}
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="Button" h4=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@xl" cta=true img=true cardTitle="Title!" cardContent="Placeholder text." idString="card-11"}}{{/embed}}
</div>
