---
name: Teaser With Different Element Order
order: 3
description:
  Elements inside a Card can be reordered.
---
<div class="sprk-c-Card sprk-o-Stack">
  <h3 class="sprk-o-Stack__item sprk-c-Card__content sprk-b-TypeDisplayFive">
    Card Component
  </h3>

  <a href="#" class="sprk-o-Stack__item">
    <img
      alt="Spark placeholder image"
      src="../../assets/toolkit/images/spark-placeholder.jpg" />
  </a>

  <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
    <p class="sprk-b-TypeBodyTwo sprk-o-Stack__item">
      This is an example of the Card component. Here, you could write some
      paragraph text related to the card image.
    </p>

    <div class="sprk-o-Stack__item">
      <a href="#" class="sprk-c-Button">
        Learn More
      </a>
    </div>
  </div>
</div>
