---
name: Three Up
description:
  Three Cards that stack on small viewports
  and align horizontally on larger viewports. Use three Sneak Peaks in a grouping
  when you would like to show related content
order: 2
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.card.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" btn=true link=true}}{{/embed}}
  {{#embed "patterns.components.card.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" btn=true link=true}}{{/embed}}
  {{#embed "patterns.components.card.base" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" btn=true link=true}}{{/embed}}
</div>
