---
name: Layout - Three Up
description:
  Three Cards that stack on small viewports
  and align horizontally on larger viewports. Use three Cards in a grouping
  when you would like to show related content.
order: 5
hasAngularCode: true
hasAngularDocs: true
hasAngularCodeInfo: true
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icons" cardContent="A useful piece of a Design System."}}{{/embed}}
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icons" cardContent="A useful piece of a Design System."}}{{/embed}}
  {{#embed "patterns.components.card.base" h3=true cardIcon=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--flex@l" cta=true img=true cardTitle="Icons" cardContent="A useful piece of a Design System."}}{{/embed}}
</div>
