---
name: Card Layout - Two Up
description:
  Cards should typically be used in a group of at least two Cards.
  They should be related to one another.
order: 4
hasAngularCode: true
hasAngularDocs: true
hasAngularCodeInfo: true
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.card.base" h3=true cardImg=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true cardTitle="Title" cardContent="Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua an pri, errem communemea at, mei prima tantas signiferumque at. Numquam."}}{{/embed}}
  {{#embed "patterns.components.card.base" h3=true cardImg=true cardLink=true stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true cardTitle="Title" cardContent="Lorem ipsum dolor sit amet, doctus invenirevix te. Facilisi perpetua an pri, errem communemea at, mei prima tantas signiferumque at. Numquam."}}{{/embed}}
</div>
