---
name: Card Layout - Two Up
description:
  Cards should typically be used in a group of at least two cards.
  They should be related to one another.
order: 4
---
<div class="sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@l">
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="More" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true cardTitle="Michigan!" cardContent="Pierce Stocking Scenic Drive."}}{{/embed}}
  {{#embed "patterns.components.card.base" cardImg=true cardBtn="More" stackItem="sprk-o-Stack__item sprk-o-Stack__item--equal@l" cta=true img=true cardTitle="Michigan!" cardContent="Pierce Stocking Scenic Drive."}}{{/embed}}
</div>
