---
name: Basic Highlight Board
notes:
  The basic highlight board has a headline, subheadline, call to action, and a dark gray background.
order: 1
labels:
  - inprogress
---

<div class="c-HighlightBoard u-BackgroundColor--gray-dark">
  <div class="c-HighlightBoard__content">
    <h1 class="b-Heading b-Heading--secondary c-HighlightBoard__heading u-TextColor--white mbs">Lift the burden of getting a home loan</h1>
    <h4 class="b-Heading b-Heading--sub c-HighlightBoard__subheading u-TextColor--white mbm">Fast, Powerful and Completely Online</h4>
    <button class="c-HighlightBoard__cta btn c-Button--primary c-Button@sm">
      Learn More
    </button>
  </div>
</div>
