---
name: Basic Highlight Board
notes: |
  - Should this be a white background?  Text color?
  - how much padding?  how much width on headlines?
  - text size?
order: 1
---

<div class="c-HighlightBoard u-BackgroundColor--darkgray">
  <div class="c-HighlightBoard__content">
    <h1 class="o-Heading o-Heading--secondary c-HighlightBoard__heading u-TextColor--white mtm">Headlines should grab attention and be concise. Try not to exceed two lines of text.</h1>
    <h4 class="o-Heading o-Heading--sub c-HighlightBoard__subheading u-TextColor--white">Subheadlines provide additional context and also should not exceed two lines.</h4>
    <button class="c-HighlightBoard__cta btn c-Button--primary mal">
      Learn More
    </button>
  </div>
</div>