---
name: Directional Highlight Board with Image
notes: |
  
order: 4
---

<div class="c-HighlightBoard">
  <img class="c-HighlightBoard__image" src="../../../assets/toolkit/images/cycle.jpg" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--image">
    <h1 class="b-Heading b-Heading--secondary c-HighlightBoard__heading u-TextColor--white mbm">Headlines should grab attention and be concise. Try not to exceed two lines of text.</h1>
    <h4 class="b-Heading b-Heading--sub c-HighlightBoard__subheading u-TextColor--white mbm">Subheadlines provide additional context and also should not exceed two lines.</h4>
    <button class="c-HighlightBoard__cta btn c-Button--primary">
      Refinance Your Mortgage
    </button>
    <button class="c-HighlightBoard__cta btn c-Button--primary">
      Purchase a New Home
    </button>
  </div>
</div>