---
name: Directional Highlight Board with Image
notes: |
  The directional Highlight Board pattern has 2 calls to action.
order: 4
labels:
  - inprogress
---

<div class="c-HighlightBoard">
  <img class="c-HighlightBoard__image" src="../../../assets/toolkit/images/cycle.jpg" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--image">
    <h1 class="b-Heading b-Heading--secondary c-HighlightBoard__heading u-TextColor--white mbs">Lift the burden of getting a home loan</h1>
    <h4 class="b-Heading b-Heading--sub c-HighlightBoard__subheading u-TextColor--white mbm">Fast, Powerful and Completely Online</h4>
    <button class="c-HighlightBoard__cta btn c-Button--primary c-Button@sm mrm">
      Refinance Your Mortgage
    </button>
    <button class="c-HighlightBoard__cta btn c-Button--primary c-Button@sm">
      Purchase a New Home
    </button>
  </div>
</div>
