---
name: Jumbo Highlight Board
notes: |
  
order: 5
---

<div class="c-HighlightBoard">
  <img class="c-HighlightBoard__bgimage" src="../../../assets/toolkit/images/cycle.jpg" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--imagebackground">
    <h1 class="b-Heading b-Heading--secondary c-HighlightBoard__heading u-TextColor--white">Jumbo boards have shorter headlines</h1>
  </div>
</div> 