---
description:
  This component is intended to be used as additional navigation.
order: 2
---
<nav class="sprk-c-Masthead__big-nav" role="navigation">
  <ul class="sprk-c-Masthead__big-nav-items sprk-o-Stack sprk-o-Stack--misc-a sprk-o-Stack--center-row sprk-o-Stack--split@xxs sprk-b-List sprk-b-List--bare" data-sprk-navigation="big">
    <li class="sprk-c-Masthead__big-nav-item sprk-c-Masthead__big-nav-item--active sprk-o-Stack__item">
      <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link sprk-c-Masthead__link--big-nav" href="#nogo-link">
        Navigation Item 1
      </a>
    </li>

    <li
      class="sprk-c-Masthead__big-nav-item sprk-o-Stack__item">
      <a
        class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link sprk-c-Masthead__link--big-nav"
        href="#nogo"
        data-sprk-dropdown-trigger="dropdown03"
        aria-haspopup="true"
        role="combobox">
          Your Item 2

        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>

      <div class="sprk-c-Dropdown sprk-u-Display--none sprk-u-TextAlign--left" data-sprk-dropdown="dropdown03">
        <ul class="sprk-c-Dropdown__links">
          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Placeholder
            </a>
          </li>

          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Your Item
            </a>
          </li>

          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Sub Menu Item
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sprk-c-Masthead__big-nav-item sprk-o-Stack__item">
      <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link sprk-c-Masthead__link--big-nav" href="#nogo">
        Item 3
      </a>
    </li>

    <li
      class="sprk-c-Masthead__big-nav-item sprk-o-Stack__item">
      <a
        class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link sprk-c-Masthead__link--big-nav"
        href="#nogo"
        data-sprk-dropdown-trigger="dropdown04"
        aria-haspopup="true"
        role="combobox">
          Item 4

        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>

      <div class="sprk-c-Dropdown sprk-u-Display--none sprk-u-TextAlign--left" data-sprk-dropdown="dropdown04">
        <ul class="sprk-c-Dropdown__links">
          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Item 1
            </a>
          </li>

          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Item 2
            </a>
          </li>

          <li class="sprk-c-Dropdown__item" role="option">
            <a class="sprk-c-Dropdown__link" href="#nogo">
              Item 3
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sprk-c-Masthead__big-nav-item sprk-o-Stack__item">
      <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link sprk-c-Masthead__link--big-nav" href="#nogo">
        Item 5
      </a>
    </li>
  </ul>
</nav>
