---
description:
  This component is intended to be used as additional navigation.
order: 2
---
<nav role="navigation" data-id="navigation-secondary-1">
  <ul class="sprk-c-SecondaryNavigation sprk-o-Stack sprk-o-Stack--split@xxs" data-sprk-navigation="secondary">
    <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--active sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 1
      </a>
    </li>

    <li
      class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs"
      aria-haspopup="true"
      aria-expanded="false">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 2

        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>

      <div class="sprk-c-SecondaryNavigation__sub-menu-container sprk-u-Display--none">
        <ul class="sprk-c-SecondaryNavigation sprk-c-SecondaryNavigation--sub sprk-o-Stack">
          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 1
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 2
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 3
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 3
      </a>
    </li>

    <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs" aria-haspopup="true" aria-expanded="false">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 4
        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>

      <div class="sprk-c-SecondaryNavigation__sub-menu-container sprk-u-Display--none">
        <ul class="sprk-c-SecondaryNavigation sprk-c-SecondaryNavigation--sub sprk-o-Stack">
          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 1
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 2
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
            <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
              Item 3
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sprk-c-SecondaryNavigation__item sprk-o-Stack__item sprk-o-Stack__item--flex@xxs">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 5
      </a>
    </li>
  </ul>
</nav>
