<div class="sprk-u-mbm">
  <p>
    The Modal component
    in spark-core-angular consists
    of two Angular components:
  </p>

  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li>
      <strong>sprk-modal</strong>
    </li>
  </ul>
</div>
