<div class="sprk-u-mbm">
  <p>The Pagination component in spark-angular consists of four Angular components:</p>
  <ul class="drizzle-b-List drizzle-b-List--nested">
    <li><strong>sprk-pagination</strong></li>
    <li><strong>sprk-unordered-list</strong></li>
    <li><strong>sprk-icon</strong></li>
    <li><strong>sprk-link</strong></li>
  </ul>
  <p>
    The Pagination component expects you to supply data
    and click handlers as inputs.
  </p>
</div>
