<div class="sprk-u-mbm">
  <p>
    The Angular implementation of this component will
    automatically change between default and long as needed based on the Inputs.
    If there are more than three pages, the component will render in the long variant.
  </p>
</div>
