<SprkStack splitAt="tiny">
  <SprkStackItem additionalClasses="sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      fourth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      half
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--fourth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      fourth
    </p>
  </SprkStackItem>
</SprkStack>

<SprkStack splitAt="tiny">
  <SprkStackItem additionalClasses="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      sixth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      sixth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--sixth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      sixth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      flex
    </p>
  </SprkStackItem>
</SprkStack>

<SprkStack splitAt="tiny">
  <SprkStackItem additionalClasses="sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      fifth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      fifth
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--fifth@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      fifth
    </p>
  </SprkStackItem>
</SprkStack>

<SprkStack splitAt="tiny">
  <SprkStackItem additionalClasses="sprk-o-Stack__item--half@xs">
    <SprkStack splitAt="tiny" itemSpacing="medium">
      <SprkStackItem additionalClasses="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p className="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </SprkStackItem>
      <SprkStackItem additionalClasses="sprk-o-Stack__item--flex@xs sprk-u-AbsoluteCenter">
        <p className="sprk-b-TypeBodyOne">
          Nested Item (flex)
        </p>
      </SprkStackItem>
    </SprkStack>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--half@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      half
    </p>
  </SprkStackItem>
</SprkStack>

<SprkStack splitAt="tiny">
  <SprkStackItem additionalClasses="sprk-o-Stack__item--two-fifths@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      two-fifths
    </p>
  </SprkStackItem>
  <SprkStackItem additionalClasses="sprk-o-Stack__item--three-fifths@xs sprk-u-AbsoluteCenter">
    <p className="sprk-b-TypeBodyOne">
      three-fifths
    </p>
  </SprkStackItem>
</SprkStack>