# System Files
.DS_Store
Thumbs.db
/libpeerconnection.log

npm-debug.log

# Dependencies
node_modules/

web/scss/_colors.scss
web/scss/_component.scss
web/scss/_layer.scss
web/scss/_object.scss
web/scss/_space.scss
web/scss/_typography.scss
web/scss/_vars.scss
web/css/spark.min.css
web/js/
dist/
/public
/react/public
.cache/

# Coverage Files
.nyc_output/

# IDE
*~
*.swp
*.swo
.idea
.vscode
launch.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

#sassdoc files generated on build
sass-vars.json
sass-modifiers.json
sass-utilities.json