.#{$app-namespace}-o-Grid {
  /*! autoprefixer: off */
  display: grid;
}

.#{$app-namespace}-o-Grid--gallery {
  /*! autoprefixer: off */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: $space-m;
}

// Spans all cols
.#{$app-namespace}-o-Grid__item-full {
  grid-column: 1 / -1;
}
