.drizzle-Layout {
  height: 100%;
  margin: 0;
}

.drizzle-Layout-main-header {
  background-color: $black;
  background-image: url('/assets/toolkit/images/wires.jpg');
  background-size: cover;
  padding: 5.5rem 0;


  @media (min-width: 60rem) {
    padding: 10.5rem 0;
  }
}

.drizzle-Layout-main-header .drizzle-Logo {
  margin: 0 auto;
}

.drizzle-Layout-main {
  @media (min-width: 60rem) {
    width: $layout-main-width;
    margin-left: $layout-nav-width;
  }
}

.drizzle-Layout-content {
  max-width: 1024px;
  padding: 2rem;

  @media (min-width: 60rem) {
     padding: 0;
     margin: 120px 2rem 2rem 2rem;
  }
}

.drizzle-Layout-content--centered {
  margin: 2rem auto;
  max-width: 640px;
}

.drizzle-Layout-nav {
  @media (min-width: 60rem) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: $layout-nav-width;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.drizzle-Layout-section-header {
  background-color: $highlight;
  color: $white;
  margin-bottom: 20px;
  padding: 2rem 0 1.8rem 2rem;
  left: $layout-nav-width;
  width: 100%;

  @media ( min-width: 60rem) {
    position: fixed;
    top: 0;
    z-index: 3000;
  }
}

.drizzle-Layout-section-header .drizzle-h1 {
  color: $white;
}

.drizzle-Layout-content__group {

}
