$drizzle-header-padding-vert-wide: 1rem;

.#{$app-namespace}-o-Layout {
  height: 100%;
  margin: 0;
}

.#{$app-namespace}-o-Layout__main {
  @media (min-width: $nav-switch-breakpoint) {
    width: $layout-main-width;
    margin-left: $layout-nav-width;
  }
}

.#{$app-namespace}-o-Layout__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $nav-switch-breakpoint) {
    width: $layout-main-width;
    margin-left: $layout-nav-width;
  }
  @media (max-width: $footer-collapse-breakpoint) {
    display: block;
    justify-content: center;
  }
}

.#{$app-namespace}-o-Layout__content {
  max-width: 66rem;
  padding: $space-l $space-m;

  @media (min-width: $nav-switch-breakpoint) {
    padding: $space-l;
  }
}

.#{$app-namespace}-o-ContentGrouping {
  margin-bottom: 2.5rem;
}

.#{$app-namespace}-o-Layout__content--centered {
  margin: 0 auto;
  max-width: 45rem;
}

.#{$app-namespace}-o-Layout__nav {
  @media (min-width: $nav-switch-breakpoint) {
    position: fixed;
    z-index: $drizzle-layer-height-xs;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: $layout-nav-width;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.#{$app-namespace}-o-Layout__header {
  background-color: $highlight;
  padding: 5.1875rem 1rem 1rem 2rem;
  width: 100%;

  @media (min-width: $nav-switch-breakpoint) {
    padding: $drizzle-header-padding-vert-wide 0
      $drizzle-header-padding-vert-wide 2rem;
    position: sticky;
    top: 0;
    z-index: $drizzle-layer-height-m;
  }
}

.#{$app-namespace}-o-Layout__header--shared {
  display: block;

  @media (min-width: 34.375rem) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.#{$app-namespace}-o-Layout__header .#{$app-namespace}-b-h1 {
  color: $white;
}
