.drizzle-Layout {
  height: 100%;
  margin: 0;
}

.drizzle-Layout-nav,
.drizzle-Layout-body,
.drizzle-Layout-main {
  margin: 0;
  position: relative;
}

.drizzle-Layout-main {
  @media (min-width: 60rem) {
    margin-top: 100px;
    margin-left: $layout-nav-width;
    padding: 2.5vh 5%;
  }
}

.drizzle-Layout-nav {
  @media (min-width: 60rem) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: $layout-nav-width;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.drizzle-Layout-section-header {
  background-color: $highlight;
  color: $white;
  margin-bottom: 20px;
  padding: 2rem 0 1.8rem 2rem;
  position: fixed;
  left: $layout-nav-width;
  top: 0;
  width: 100%;
  z-index: 3000;
}
