.drizzle-Layout {
  height: 100%;
  margin: 0;
}

.drizzle-Layout-nav,
.drizzle-Layout-body,
.drizzle-Layout-main {
  margin: 0;
  position: relative;
}

.drizzle-Layout-main {
  max-width: 70em;

  @media (min-width: 60rem) {
    margin-left: $layout-nav-width;
    padding: 2.5vh 5%;
  }
}

.drizzle-Layout-nav {
  @media (min-width: 60rem) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: $layout-nav-width;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}



