---
notes: This is the base notifications class.
hidden: true
---

<div class="sprk-c-Notification">
  <div class="sprk-c-Notification__icon sprk-c-Notification__icon--{{type}}">
    <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
      <!-- href should point to the icon svg in your project -->
      <use xlink:href="../../assets/toolkit/images/icons.svg#{{icon}}" />
    </svg>
  </div>
  <div class="sprk-c-Notification__text">
    <span>{{#block "content"}}This is a notification{{/block}}</span>
  </div>
  <button class="sprk-c-Notification__icon sprk-c-Notification__icon--close" type="button">
    <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
      <!-- href should point to the icon svg in your project -->
      <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
    </svg>
  </button>
</div>
