---
name: Standard
notes: |
  This is the masthead that is inteded to be used at the top of every page.
info:
  - The secondary navigation, search field, and additional information sections are optional.
  - You should set the variable $main-nav-breakpoint to the point that your app needs to switch from mobile navigation
    to wide navigation.
order: 1
---

<header class="sprk-c-Masthead" role="banner">
  <div class="sprk-c-Masthead__content">
    <div class="sprk-c-Masthead__top-row">
      <div class="sprk-c-Masthead__hamburger">
        <button class="sprk-c-Hamburger js-open-nav" type="button" aria-expanded="false">
          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Hamburger__icon" viewBox="0 0 100 100">
            <use xlink:href="#bars" />
          </svg>
        </button>
      </div>
      <div class="sprk-c-Masthead__logo">
        <a href="#nogo">
          <div class="drizzle-logo-placeholder"></div>
          <span class="sprk-u-VisuallyHidden">Go to the home page</span>
        </a>
      </div>
      <div class="sprk-c-Masthead__secondary-nav">
        {{#embed "patterns.components.navigation.secondary-navigation" }}{{/embed}}
      </div>
      <div class="sprk-c-Masthead__search">
        {{#embed "patterns.components.inputs.inline-search-input" }}{{/embed}}
      </div>
    </div>
    <div class="sprk-c-Masthead__secondary">
      <p class="sprk-u-mbn">Hello, Fellow Human</p>
      <p>Loan #1234567890</p>
    </div>
  </div>
  <div class="sprk-c-Masthead__navigation">
    <div class="sprk-c-Masthead__wide-navigation-container">
      {{#embed "patterns.components.navigation.wide-navigation" }}{{/embed}}
    </div>
    <div class="sprk-c-Masthead__narrow-navigation-container">
      {{#embed "patterns.components.navigation.narrow-navigation" }}{{/embed}}
    </div>
  </div>
</header>
