---
name: Signed In
description:
  This version of the Masthead is for when the user is signed in to their account.
  There is an additional big navigation for items that a signed in user would have.
  There is also additional user account navigation items.
information:
  - All content used here is placeholder content. Please use your own logo and content.
  - The settings and user account icons are optional.
  - You should set the variable $main-nav-breakpoint to the point that your app needs to switch from narrow viewport navigation
    to wide viewport navigation.
  - In Internet Explorer 11, the Masthead will not be fixed in place.
restrictions:
 - The maximum number of items in the big navigation (wide gray navigation bar) is 6.
 - The minimum number of items in the big navigation (wide gray navigation bar) is 3.
 - You must set the variable $mobile-masthead-height so that the navigation displays properly on small screens.
   You should put your logo in the Masthead and then grab the height of the Masthead with your logo in it. Set
   $mobile-masthead-height to that height.
order: 2
hasAngularCode: true
hasAngularCodeInfo: true
---
<header class="sprk-c-Masthead sprk-o-Stack" role="banner" idString="masthead-2">
  <div class="sprk-c-Masthead__content sprk-o-Stack__item sprk-o-Stack sprk-o-Stack--split@xxs">
    <div class="sprk-c-Masthead__menu sprk-o-Stack__item sprk-o-Stack__item--center-column@xxs sprk-o-Box">
      <button class="sprk-c-Menu" type="button" aria-expanded="false" data-sprk-mobile-nav-trigger="mobileNav2">
        <span class="sprk-u-ScreenReaderText">Toggle Navigation</span>
        <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Menu__icon" aria-hidden="true" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path class="sprk-c-Menu__line sprk-c-Menu__line--two" d="m8 32h48"/>
            <path class="sprk-c-Menu__line sprk-c-Menu__line--one" d="m8 18.68h48"/>
            <path class="sprk-c-Menu__line sprk-c-Menu__line--three" d="m8 45.32h48"/>
          </g>
        </svg>
      </button>
    </div>

    <div class="sprk-c-Masthead__logo sprk-o-Stack__item sprk-o-Stack__item--center-column@xxs sprk-o-Box">
      <a href="#">
        <img src="/assets/toolkit/images/spark-placeholder.jpg" alt="Spark Design System" />
      </a>
    </div>

    <nav class="sprk-c-Masthead__little-nav sprk-o-Stack__item sprk-o-Stack__item--flex@xxs sprk-o-Stack sprk-o-Stack--large sprk-o-Stack--split@s sprk-o-Stack--end-row sprk-o-Box" role="navigation">
      <div class="sprk-c-Masthead__site-links sprk-o-Stack__item sprk-o-Stack__item--center-column">
        <a
          class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
          href="#nogo"
          data-sprk-dropdown-trigger="dropdown01"
          aria-haspopup="true"
          data-id="link-1">
          <span data-sprk-dropdown-trigger-text-container="" role="combobox">My Selector</span>
          <svg class="sprk-c-Icon sprk-c-Icon--l" viewBox="0 0 100 100">
            <use xlink:href="#chevron-down" />
          </svg>
        </a>

        <div class="sprk-c-Dropdown sprk-u-Display--none" data-sprk-dropdown="dropdown01">
          <div class="sprk-c-Dropdown__header">
            <h2 class="sprk-c-Dropdown__title sprk-b-TypeDisplayEight">
              My Choices
            </h2>
          </div>

          <ul class="sprk-c-Dropdown__links">
            <li class="sprk-c-Dropdown__item">
              <a class="sprk-c-Dropdown__link" href="#nogo" data-sprk-dropdown-choice="Choice Title 1" role="option">
                <p class="sprk-b-TypeBodyOne">Choice Title</p>
                <p>Information about this choice</p>
                <p>More information</p>
              </a>
            </li>

            <li class="sprk-c-Dropdown__item" data-sprk-dropdown-choice="Choice Title 2">
              <a class="sprk-c-Dropdown__link" href="#nogo" role="option">
                <p class="sprk-b-TypeBodyOne">Choice Title</p>
                <p>Information about this choice</p>
                <p>More information</p>
              </a>
            </li>
          </ul>

          <div class="sprk-c-Dropdown__footer sprk-u-TextAlign--center">
            <a class="sprk-c-Button sprk-c-Button--tertiary" href="#nogo">
              Go Elsewhere
            </a>
          </div>
        </div>
      </div>

      <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack--center-column">
        <li>
          <a class="sprk-b-Link sprk-b-Link--plain sprk-b-Link--standalone" href="tel:555-555-5555">
            (555) 555-5555
          </a>
        </li>

        <li>
          <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link" href="#nogo">
            Talk To Us
          </a>
        </li>

        <li>
          <a class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link" href="#nogo">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
              <use xlink:href="#settings" />
            </svg>
            <span class="sprk-u-ScreenReaderText">Settings</span>
          </a>
        </li>

        <li>
          <a
            class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
            href="#nogo"
            data-sprk-dropdown-trigger="dropdown02"
            aria-haspopup="true"
            role="combobox">
            <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Icon--current-color" viewBox="0 0 100 100">
              <use xlink:href="#user" />
            </svg>
            <span class="sprk-u-ScreenReaderText">User Account</span>
          </a>

          <div class="sprk-c-Dropdown sprk-u-Display--none sprk-u-Right--zero sprk-u-mrs" data-sprk-dropdown="dropdown02">
            <div class="sprk-c-Dropdown__header">
              <h2 class="sprk-c-Dropdown__title sprk-b-TypeDisplayEight">
                My Account
              </h2>
            </div>

            <ul class="sprk-c-Dropdown__links">
              <li class="sprk-c-Dropdown__item" role="option">
                <a class="sprk-c-Dropdown__link" href="#nogo">
                  Change Username
                </a>
              </li>

              <li class="sprk-c-Dropdown__item" role="option">
                <a class="sprk-c-Dropdown__link" href="#nogo">
                  Change Password
                </a>
              </li>

              <li class="sprk-c-Dropdown__item" role="option">
                <a class="sprk-c-Dropdown__link" href="#nogo">
                  Sign Out
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="sprk-o-Stack__item">
    {{#embed "patterns.components.masthead.navigation.big-nav" }}{{/embed}}
  </div>

  <nav
    class="sprk-c-Masthead__narrow-nav sprk-u-Display--none"
    data-sprk-mobile-nav="mobileNav2"
    role="navigation"
    data-id="navigation-narrow-2">
    <ul class="sprk-c-Accordion sprk-c-Accordion--navigation sprk-b-List sprk-b-List--bare">
      <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
        <a aria-controls="details1" class="sprk-c-Accordion__summary" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            My Selector
          </span>

          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 64 64">
            <use xlink:href="#chevron-down"></use>
          </svg>
        </a>

        <ul id="details1" class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details" data-sprk-toggle="content">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Choice 1
            </a>
          </li>
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Choice 2
            </a>
          </li>
        </ul>
      </li>

      <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
        <a aria-controls="details2" class="sprk-c-Accordion__summary" data-sprk-toggle="trigger" data-sprk-toggle-type="accordion" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            Item 1
          </span>

          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 64 64">
            <use xlink:href="#chevron-down"></use>
          </svg>
        </a>

        <ul id="details2" class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details" data-sprk-toggle="content">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 1
            </a>
          </li>
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 2
            </a>
          </li>
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 3
            </a>
          </li>
        </ul>
      </li>

      <li class="sprk-c-Accordion__item sprk-c-Accordion__item--active">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            Item 2
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item" data-sprk-toggle="container">
        <a
          aria-controls="details3"
          class="sprk-c-Accordion__summary"
          data-sprk-toggle="trigger"
          data-sprk-toggle-type="accordion"
          href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            Item 3
          </span>

          <svg class="sprk-c-Icon sprk-c-Icon--l sprk-c-Accordion__icon" data-sprk-toggle="icon" viewBox="0 0 64 64">
            <use xlink:href="#chevron-down"></use>
          </svg>
        </a>

        <ul id="details3" class="sprk-b-List sprk-b-List--bare sprk-c-Accordion__details" data-sprk-toggle="content">
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 1
            </a>
          </li>
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 2
            </a>
          </li>
          <li>
            <a class="sprk-b-Link sprk-b-Link--standalone sprk-u-pam" href="#">
              Item 3
            </a>
          </li>
        </ul>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            Item 4
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            Item 5
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="tel:555-555-5555">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l" viewBox="0 0 64 64">
              <use xlink:href="#landline" />
            </svg>
            (555) 555-555
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 64 64">
              <use xlink:href="#call-team-member" />
            </svg>
            Talk To Us
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 64 64">
              <use xlink:href="#settings" />
            </svg>
            Settings
          </span>
        </a>
      </li>

      <li class="sprk-c-Accordion__item">
        <a class="sprk-c-Accordion__summary" href="#">
          <span class="sprk-b-TypeBodyOne sprk-c-Accordion__heading">
            <svg class="sprk-c-Icon sprk-c-Icon--current-color sprk-c-Icon--l sprk-u-mrs" viewBox="0 0 64 64">
              <use xlink:href="#user" />
            </svg>
            My Account
          </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
