// ==========================================================================
// Clearfix
// ==========================================================================

//
// Micro clearfix from http://cssmojo.com/latest_new_clearfix_so_far/.
// Extend the clearfix placeholder (@extend %clearfix) to avoid
// the .clearfix class appearing in your markup. I mostly include the
// class for easier debugging in your browser dev tools.
///

%ClearFix,
.sprk-u-ClearFix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
