---
name: Main Navigation
notes: |
  This is main navigation.
order: 1
labels:
  - inprogress
---

<nav role="navigation">
  <ul class="c-Navigation">
    <li class="c-Navigation__item">
      <a href="">Item 1</a>
    </li>
    <li class="c-Navigation__item">
      <a href="">Item 2, Sub
        <svg class="icon c-Navigation__arrow" viewBox="0 0 100 100">
          <use xlink:href="../../assets/toolkit/images/icons.svg#chevron-down" />
        </svg>
      </a>
      <ul class="c-Navigation__sub">
        <li class="c-Navigation__sub-item"><a href="#nogo">Item 1</a></li>
        <li class="c-Navigation__sub-item"><a href="#nogo">Item 2</a></li>
        <li class="c-Navigation__sub-item"><a href="#nogo">Item 3</a></li>
      </ul>
    </li>
    <li class="c-Navigation__item">
      <a href="">Item 3</a>
    </li>
    <li class="c-Navigation__item">
      <a class="c-Navigation__item--active" href="#nogo">Item 4</a>
    </li>
    <li class="c-Navigation__item">
      <a href="">Item 5</a>
    </li>
  </ul>
</nav>
