---
name: Narrow Navigation
notes: |
  This component is intended for narrow viewports. On wide_wide-navigation.scss viewports, you should use the wide navigation component.
order: 2
---

<nav role="navigation">
  <ul class="sprk-c-NarrowNavigation">
    <li class="sprk-c-NarrowNavigation__item">
      <a class="sprk-c-NarrowNavigation__link " href="">
        <div class="sprk-o-SideBySide">
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--three-quarters">
            <span>Item 1 </span>
          </div>
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--one-quarter">
            <svg class="sprk-c-Icon sprk-c-NarrowNavigation__arrow sprk-c-NarrowNavigation__arrow--open" viewBox="0 0 100 100">
              <use xlink:href="#chevron-down" />
            </svg>
          </div>
        </div>
      </a>
      <ul class="sprk-c-NarrowNavigation sprk-c-NarrowNavigation--sub">
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 1</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 2</a>
        </li>
        <li class="sprk-c-NarrowNavigation__sub-item">
          <a class="sprk-c-NarrowNavigation__link sprk-c-NarrowNavigation__link--sub" href="">Item 3</a>
        </li>
      </ul>
    </li>
    <li class="sprk-c-NarrowNavigation__item">
      <a class="sprk-c-NarrowNavigation__link " href="">
        <div class="sprk-o-SideBySide">
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--three-quarters">
            <span> Item 2 </span>
          </div>
          <div class="sprk-o-SideBySide__item sprk-o-SideBySide__item--one-quarter">
            <svg class="sprk-c-Icon sprk-c-NarrowNavigation__arrow" viewBox="0 0 100 100">
              <use xlink:href="#chevron-down" />
            </svg>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>
