---
name: Secondary Navigation
notes: |
  This component is intended for navigation that is not considered part of main site navigation.
order: 3
---

<nav role="navigation">
  <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-small">
    <li><a class="sprk-b-Link" href="#nogo">Item 1</a></li>
    <li><a class="sprk-b-Link" href="#nogo">Item 2</a></li>
    <li><a class="sprk-b-Link" href="#nogo">Item 3</a></li>
    <li><a class="sprk-b-Link" href="#nogo">Item 4</a></li>
    <li><a class="sprk-b-Link" href="#nogo">Item 5</a></li>
  </ul>
</nav>
