---
description:
  This component is intended for wider viewports. On narrow viewports, you should use the Narrow Navigation component.
order: 2
hasAngularCode: true
hasAngularCodeInfo: true
---

<nav role="navigation" data-id="navigation-wide-1">
  <ul class="sprk-c-SecondaryNavigation" data-sprk-navigation="wide">
    <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--active">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">Item 1</a>
    </li>
    <li class="sprk-c-SecondaryNavigation__item" aria-haspopup="true" aria-expanded="false">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 2
        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>
      <div class="sprk-c-SecondaryNavigation__sub-menu-container sprk-u-Display--none">
        <ul class="sprk-c-SecondaryNavigation sprk-c-SecondaryNavigation--sub">
          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub"><a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">Item 1</a></li>
          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub"><a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">Item 2</a></li>
          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub"><a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">Item 3</a></li>
        </ul>
      </div>
    </li>
    <li class="sprk-c-SecondaryNavigation__item">
      <a class="sprk-c-SecondaryNavigation__link"  href="#nogo">Item 3</a>
    </li>
    <li class="sprk-c-SecondaryNavigation__item" aria-haspopup="true" aria-expanded="false">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 4
        <svg class="sprk-c-Icon sprk-c-Icon--current-color" viewBox="0 0 64 64">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>
      <div class="sprk-c-SecondaryNavigation__sub-menu-container sprk-u-Display--none">
        <ul class="sprk-c-SecondaryNavigation sprk-c-SecondaryNavigation--sub">
          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub">
            <a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">
              Item 1
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub">
            <a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">
              Item 2
            </a>
          </li>

          <li class="sprk-c-SecondaryNavigation__item sprk-c-SecondaryNavigation__item--sub">
            <a class="sprk-c-SecondaryNavigation__link sprk-c-SecondaryNavigation__link--sub" href="#nogo">
              Item 3
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sprk-c-SecondaryNavigation__item">
      <a class="sprk-c-SecondaryNavigation__link" href="#nogo">
        Item 5
      </a>
    </li>
  </ul>
</nav>
