---
name: Secondary Navigation
description:
  This component is intended for navigation that is not considered part of the main site navigation.
order: 3
---

<nav role="navigation">
  <ul class="sprk-o-HorizontalList sprk-o-HorizontalList--spacing-medium">
    <li><a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">Item 1</a></li>
    <li><a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">Item 2</a></li>
    <li><a class="sprk-b-Link sprk-b-Link--standalone" href="#nogo">Item 3</a></li>
  </ul>
</nav>
