---
name: Wide Navigation
notes: |
  This component is intended for wider viewports. On narrow viewports, you should use the narrow navigation component.
order: 1
---

<nav role="navigation">
  <ul class="sprk-c-WideNavigation">
    <li class="sprk-c-WideNavigation__item">
      <a href="#nogo">Item 1</a>
    </li>
    <li class="sprk-c-WideNavigation__item">
      <a href="#nogo">Item 2, Sub
        <svg class="sprk-c-Icon sprk-c-WideNavigation__arrow" viewBox="0 0 100 100">
          <use xlink:href="#chevron-down" />
        </svg>
      </a>
      <ul class="sprk-c-WideNavigation__sub">
        <li class="sprk-c-WideNavigation__sub-item"><a href="#nogo">Item 1</a></li>
        <li class="sprk-c-WideNavigation__sub-item"><a href="#nogo">Item 2</a></li>
        <li class="sprk-c-WideNavigation__sub-item"><a href="#nogo">Item 3</a></li>
      </ul>
    </li>
    <li class="sprk-c-WideNavigation__item">
      <a href="#nogo">Item 3</a>
    </li>
    <li class="sprk-c-WideNavigation__item">
      <a href="#nogo">Item 4</a>
    </li>
    <li class="sprk-c-WideNavigation__item">
      <a href="#nogo">Item 5</a>
    </li>
  </ul>
</nav>
