<p class="sprk-u-mbm">
  See below for React properties.
</p>

<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">variant</td>
      <td>string</td>
      <td>The variant to use. Can be set to <code>default</code> or <code>pager</code>. If left blank or set to <code>default</code>, the component will render in the default variant or long variant as needed.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">totalItems</td>
      <td>number</td>
      <td><span class="sprk-u-FontWeight--bold">Required.</span> This is the total number of items in the dataset covered by the pagination component.</td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">itemsPerPage</td>
      <td>string</td>
      <td>
        <span class="sprk-u-FontWeight--bold">Required.</span> This is the number of items on each page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">currentPage</td>
      <td>number</td>
      <td>
        This is the current page for the pagination component. If blank, this defaults to the first page.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">onChangeCallback</td>
      <td>function</td>
      <td>
        <span class="sprk-u-FontWeight--bold">Required.</span> This function will be called every time the component updates. The function should accept a single object parameter with a property called <code>newPage</code> containing the current page number of the pagination component.
        <div>
          <code>
            { newPage: 3 }
          </code>
        </div>
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        additionalClasses
      </td>
      <td>string</td>
      <td>
        Any additional classes to apply to the component. If provided, these classes will be applied to the <code>&lt;ul&gt;</code> element in the component (NOT the <code>&lt;nav&gt;</code> component).
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        nextLinkText
      </td>
      <td>string</td>
      <td>
        Screenreader text for the "next page" arrow. Defaults to "Next Page".
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        nextIcon
      </td>
      <td>string</td>
      <td>
        Icon name for the "next page" arrow. Defaults to "chevron-right".
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        prevLinkText
      </td>
      <td>string</td>
      <td>
        Screenreader text for the "previous page" arrow. Defaults to "Previous Page".
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        prevIcon
      </td>
      <td>string</td>
      <td>
        Icon name for the "previous page" arrow. Defaults to "chevron-left".
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        analyticsStringPage
      </td>
      <td>string</td>
      <td>
        The value supplied will be
        assigned to the <code>data-analytics</code>
        attribute on the individual page links.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        analyticsStringNext
      </td>
      <td>string</td>
      <td>
        The value supplied will be
        assigned to the <code>data-analytics</code>
        attribute on the "next page" arrow.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">
        analyticsStringPrev
      </td>
      <td>string</td>
      <td>
        The value supplied will be
        assigned to the <code>data-analytics</code>
        attribute on the "previous page" arrow.
      </td>
    </tr>

    <tr>
      <td class="sprk-u-FontWeight--bold">idString</td>
      <td>string</td>
      <td>The value supplied will be assigned to the <code>data-id</code> attribute on the component. This will be applied to the <code>&lt;nav&gt;</code> element in the component. This is intended to be used as a selector for automated tools. This value should be unique per page.</td>
    </tr>
  </tbody>
</table>
