<sprk-dropdown
    triggerText="Make a Selection..."
    title="My Choices"
    triggerIconType="chevron-down"
    (choiceMade)="choiceHandler($event)"
    [choices]="choices"
>
  <div
      class="sprk-c-Dropdown__footer sprk-u-TextAlign--center"
      sprkDropdownFooter
  >
    <a class="sprk-c-Button sprk-c-Button--tertiary" href="#nogo">
      Go Elsewhere
    </a>
  </div>
</sprk-dropdown>
  choices = [
    {
      content: {
        title: 'Choice Title',
        infoLine1: 'Information about this choice',
        infoLine2: 'More Information'
      },
      value: 'Choice Title 1',
      active: false
    },
    {
      content: {
        title: 'Choice Title',
        infoLine1: 'Information about this choice',
        infoLine2: 'More Information'
      },
      value: 'Choice Title 2',
      active: true
    }
  ];