// ==================================================================
// Forms
// ==================================================================

.b-Label,
label {
  font-size: ms(4);
  font-weight: bold;
  color: $blue-dark;
}

.b-Label--inline {
  display: inline-block;
}

.text-input,
textarea {
  color: $grey-dark;
  outline: none;
  font-size: ms(0);

  &:focus {
    border-color: $blue-medium;
    box-shadow: 0 0 0 3px $blue-medium;
  }
}


.b-TextInput--monetary {
  position: relative;

  &:before {
    content: '$';
    color: $grey-dark;
    position: absolute;
    top: .6em;
    left: .55em;
  }
}

.b-TextInput--date-picker {
  background-image: url('../images/calendar.svg');
  background-position: 5px 3px;
  padding-left: 3em;
}

input[readonly] {
  color: $white;

  &:focus {
    border-color: $grey-medium;
    box-shadow: 0 0 0 3px $grey-medium;
  }
}

// Placeholder colors
::-webkit-input-placeholder {
  color: $grey-medium;
}

:-moz-placeholder {
  color: $grey-medium;
}

::-moz-placeholder {
  color: $grey-medium;
}

:-ms-input-placeholder {
  color: $grey-medium;
}

.helper-text {
  color: $grey-medium;
}

textarea {
  min-height: 125px;
  margin-bottom: ms(0);
}

.b-TextInput--error {
  background-color: $red-light;
  border-color: $red-medium;

  &:focus {
    border-color: $red-medium;
    box-shadow: 0 0 0 3px $red-medium;
    background-color: $red-light;
  }
}

.b-ErrorText {
  color: $red-medium;
}

.c-ValidationCriteria__item--unmet {
  color: $grey-medium;
  fill: $grey-medium;
}

.c-ValidationCriteria__item--met {
  color: $green-medium;
  fill: $green-medium;
}

.c-ValidationCriteria__item--error {
  color: $red-medium;
  fill: $red-medium;
}
