// ==================================================================
// Links
// ==================================================================

.b-Link,
.b-Link-btn,
a {
  color: $blue-medium;

  &:hover {
    text-decoration: none;
  }
}

.b-Link--plain {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.b-Link--disabled {
  color: $grey-medium;
  text-decoration: none;
  pointer-events: none;

  &:active,
  &:hover {
    text-decoration: none;
  }
}

.b-Link--visited {
  color: $blue-dark;
}
