---
notes: This is the base Sneak Peek variant
order: 1
labels:
  - inprogress
---

<div class="c-SneakPeek">
  <img class="c-SneakPeek__image" src="../../../assets/toolkit/images/flower.jpg" />
  <h1 class="b-Heading c-SneakPeek__headline pvm">Headline Goes Here</h1>
  <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
</div>