---

---

<div class="c-Notification">
  <div class="c-Notification__icon c-Notification__icon--{{type}}">
    <svg class="o-icon o-icon--big" viewBox="0 0 100 100">
      <!-- href should point to the icon svg in your project -->
      <use xlink:href="../../assets/toolkit/images/icons.svg#{{icon}}" />
    </svg>
  </div>
  <div class="c-Notification__text">
    <span>{{#block "content"}}This is a notification{{/block}}</span>
  </div>
  <button class="c-Notification__icon c-Notification__icon--close" type="button">
    <svg class="o-icon o-icon--big" viewBox="0 0 100 100">
      <!-- href should point to the icon svg in your project -->
      <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
    </svg>
  </button>
</div>
