---
order: 2
notes: Here is an example of the Sneak Peek pattern used in a repeating group.
name: Sneak Peek (with Call to Action)
labels:
  - inprogress
---

<div class="c-SneakPeek o-oneof3">
  <img class="c-SneakPeek__image" src="../../../assets/toolkit/images/flower.jpg" />
  <h1 class="b-Heading c-SneakPeek__headline pvm">Headline Goes Here</h1>
  <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <button class="c-SneakPeek__cta btn c-Button--primary">Learn More</button>
</div>

<div class="c-SneakPeek o-oneof3">
  <img class="c-SneakPeek__image" src="../../../assets/toolkit/images/flower.jpg" />
  <h1 class="b-Heading c-SneakPeek__headline pvm">Headline Goes Here</h1>
  <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <button class="c-SneakPeek__cta btn c-Button--primary">Learn More</button>
</div>

<div class="c-SneakPeek o-oneof3">
  <img class="c-SneakPeek__image" src="../../../assets/toolkit/images/flower.jpg" />
  <h1 class="b-Heading c-SneakPeek__headline pvm">Headline Goes Here</h1>
  <p class="c-SneakPeek__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <button class="c-SneakPeek__cta btn c-Button--primary">Learn More</button>
</div>