.u-drizzleModalOverride [class~=sprk-c-Modal] {
  position: relative !important;
}

.u-drizzleModalOverride [class~=sprk-c-ModalMask] {
  display: none !important;
}

/* so that you can see the box */
.drizzle-u-pad .sprk-o-Box {
  border: 1px solid #ccc;
}

.drizzle-u-pad .sprk-o-CenteredColumn {
  background-color: #ccc;
  height: 4rem;
}

.drizzle-u-pad .sprk-o-TwoUp .sprk-o-TwoUp__item,
.drizzle-u-pad .sprk-o-ThreeUp .sprk-o-ThreeUp__item,
.drizzle-u-pad .sprk-o-FourUp .sprk-o-FourUp__item,
.drizzle-u-pad .sprk-o-FiveUp .sprk-o-FiveUp__item,
.drizzle-u-pad .sprk-o-SixUp .sprk-o-SixUp__item {
  background-color: #ccc;
  height: 4rem;
}
