.u-drizzleModalOverride [class~=sprk-c-Modal] {
  position: relative !important;
}

.u-drizzleModalOverride [class~=sprk-c-ModalMask] {
  display: none !important;
}

.drizzle-u-pad .sprk-c-WideNavigation {
  @media (max-width: 46rem) {
    display: none;
  }
}

.Test-Page .sprk-c-NarrowNavigation,
.drizzle-u-pad .sprk-c-NarrowNavigation {
  max-width: 320px;
  position: static;
}
