---
notes: This is the base description table class.
hidden: true
---

<div class="sprk-c-DescriptionTable {{class}}">
  <h5 class="sprk-c-DescriptionTable__header sprk-b-Heading sprk-u-TextColor--blue-dark">Contact Information</h5>

  <dl class="sprk-c-DescriptionTable__keyvaluepairs">
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Email Address</dt>
      <dd class="sprk-c-DescriptionTable__value">bobwise@quickenloans.com</dd>
    </div>
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Mailing Address</dt>
      <dd class="sprk-c-DescriptionTable__value">123 Main Street, Detroit, MI, 48216</dd>
    </div>
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Home Phone</dt>
      <dd class="sprk-c-DescriptionTable__value">(123) 456-7890</dd>
    </div>
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Cell Phone</dt>
      <dd class="sprk-c-DescriptionTable__value">(098) 765-4321</dd>
    </div>
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Work Phone</dt>
      <dd class="sprk-c-DescriptionTable__value">(555) 555-5555</dd>
    </div>
    <div class="sprk-c-DescriptionTable__keyvaluepair">
      <dt class="sprk-c-DescriptionTable__key sprk-b-Label">Work Extension</dt>
      <dd class="sprk-c-DescriptionTable__value">55555</dd>
    </div>
  </dl>

  {{#if cta}}
    <div class="sprk-c-DescriptionTable__button sprk-u-pam">
      <button class="sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm">Call to Action</button>
    </div>
  {{/if}}
</div>
