$drizzle-white: #fff;
$drizzle-black: #302e2e;
$drizzle-black-light: #5c5c5c;
$drizzle-gray-dark: #ccc;
$drizzle-gray: #e2e2e2;
$drizzle-gray-light: #f1f1f1;
$drizzle-yellow: #ff0;
$drizzle-highlight: #fd6c45;
$drizzle-orange-light: #ffa022;
$drizzle-orange-medium: #ff8920;
$drizzle-orange-dark: #ff721e;
$drizzle-orangered: #ff5c1c;
$drizzle-red: #ff451a;
$drizzle-red-light: #faccc4;
$drizzle-purple: #582d41;
$drizzle-code-preview: #2b2b2b;
