.#{$app-namespace}-b-List {
  list-style-type: none;
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-List--inline {
  margin: 0;
  padding: 1rem;
}

.#{$app-namespace}-b-List--nested {
  margin-left: 1rem;
  list-style-type: circle;
}

.#{$app-namespace}-b-List--inline > li {
  display: inline-block;
}

.#{$app-namespace}-b-List--spacing-m > li {
  margin-bottom: 1rem;
}

.#{$app-namespace}-b-List--inline.#{$app-namespace}-b-List--spacing-m > li {
  margin-bottom: 0;
  margin-right: 1rem;
}
