$app-namespace: 'drizzle';
$drizzle-nav-switch-breakpoint: 60rem;
$drizzle-footer-collapse-breakpoint: 32.5rem;
$drizzle-layout-nav-width: 15.9375rem;
$drizzle-layout-main-width: calc(100% - 15.9375rem);
$drizzle-nav-background-color: $drizzle-black;

//
// Spacing
///
$drizzle-space-inset-xs: 4px 4px 4px 4px;
$drizzle-space-inset-s: 8px 8px 8px 8px;
$drizzle-space-inset-m: 16px 16px 16px 16px;
$drizzle-space-inset-l: 32px 32px 32px 32px;
$drizzle-space-inset-xl: 64px 64px 64px 64px;

// Inset Short
$drizzle-space-inset-short-xs: 2px 4px 2px 4px;
$drizzle-space-inset-short-s: 4px 8px 4px 8px;
$drizzle-space-inset-short-m: 8px 16px 8px 16px;
$drizzle-space-inset-short-l: 16px 32px 16px 32px;
$drizzle-space-inset-short-xl: 32px 64px 32px 64px;

// Inset Tall
$drizzle-space-inset-tall-xs: 6px 4px 6px 4px;
$drizzle-space-inset-tall-s: 12px 8px 12px 8px;
$drizzle-space-inset-tall-m: 24px 16px 24px 16px;
$drizzle-space-inset-tall-l: 48px 32px 48px 32px;
$drizzle-space-inset-tall-xl: 96px 64px 96px 64px;

// Stack
$drizzle-space-stack-xs: 0 0 4px 0;
$drizzle-space-stack-s: 0 0 8px 0;
$drizzle-space-stack-m: 0 0 16px 0;
$drizzle-space-stack-l: 0 0 32px 0;
$drizzle-space-stack-xl: 0 0 64px 0;

// Global Spacing Utilities
$drizzle-space-xs: 4px;
$drizzle-space-s: 8px;
$drizzle-space-m: 16px;
$drizzle-space-l: 32px;
$drizzle-space-xl: 64px;
$drizzle-space-h: $drizzle-space-xl;

// Layers
$drizzle-layer-height-xs: 100000;
$drizzle-layer-height-s: 100001;
$drizzle-layer-height-m: 100002;
$drizzle-layer-height-l: 100003;
$drizzle-layer-height-xl: 100004;

// Typography
$drizzle-h1-font-size: 2.1875rem;
$drizzle-h2-font-size: 1.25rem;
$drizzle-h3-font-size: 1rem;
$drizzle-h4-font-size: 1rem;
