---
doclayout: true
order: 2
name: Box Object Sizing
description: There are five padding sizes available for the Box object. The default for Boxes is $spark-space-inset-m,
   you can use the modifiers below to adjust the size.
---
<div class="drizzle-c-Preview">
  <div class="drizzle-c-Preview__example">
    <div class="sprk-o-Box sprk-o-Box--flush"> Flush </div>
    <div class="sprk-o-Box sprk-o-Box--tiny"> Tiny </div>
    <div class="sprk-o-Box sprk-o-Box--small"> Small </div>
    <div class="sprk-o-Box sprk-o-Box--large"> Large </div>
    <div class="sprk-o-Box sprk-o-Box--huge"> Huge </div>
  </div>
  <div class="drizzle-c-Preview__code">
    <pre>
      <code class="language-markup">
        // Modifier Classes
        .sprk-o-Box--flush
        .sprk-o-Box--tiny
        .sprk-o-Box--small
        .sprk-o-Box--large
        .sprk-o-Box--huge
      </code>
    </pre>
  </div>
</div>
