---
doclayout: true
order: 2
name: Box Object Sizing
notes: There are five sizes available for the box object. The default for boxes is $space-inset-m,
   you can use the modifiers below to adjust the size.
---
<div class="drizzle-u-pad">
  <div class="sprk-o-Box sprk-o-Box--flush"> Flush </div>
</div>

<div class="drizzle-u-pad">
  <div class="sprk-o-Box sprk-o-Box--tiny"> Tiny </div>
</div>

<div class="drizzle-u-pad">
  <div class="sprk-o-Box sprk-o-Box--small"> Small </div>
</div>

<div class="drizzle-u-pad">
  <div class="sprk-o-Box sprk-o-Box--large"> Large </div>
</div>

<div class="drizzle-u-pad">
  <div class="sprk-o-Box sprk-o-Box--huge"> Huge </div>
</div>

<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    // Modifier Classes
    .sprk-o-Box--flush
    .sprk-o-Box--tiny
    .sprk-o-Box--small
    .sprk-o-Box--large
    .sprk-o-Box--huge
  </code>
</pre>
