---
name: Box Object
description: The Box object can be used on any element that you want to visually separate from surrounding content.
  The default Box object has padding inside equal to $spark-space-inset-m. See Box Sizing for alternate options. The border is
  added here for visibility.
order: 1
---

<div class="sprk-o-Box"></div>
