---
name: Centered Column
notes: The Centered Column layout object is intended to wrap main content when the desired effect is one column that
    centers itself on large displays. The current max-width is 1024px / 64rem;
order: 3
---

<div class="sprk-o-CenteredColumn"></div>
