---
name: Five-Up Layout Object
order: 7
---

<div class="sprk-o-FiveUp">
  <div class="sprk-o-FiveUp__item"></div>
  <div class="sprk-o-FiveUp__item"></div>
  <div class="sprk-o-FiveUp__item"></div>
  <div class="sprk-o-FiveUp__item"></div>
  <div class="sprk-o-FiveUp__item"></div>
</div>
