---
name: Flag Object
notes: The flag object is similar to the media object. Use it any time you have an image or other media and text next
  to each other and you need to vertically align the text.
order: 5
---

<div class="sprk-o-Flag">
  <div class="sprk-o-Flag__figure">
    <img alt="Provide useful alternative text" src="../../assets/toolkit/images/flower.jpg" />
  </div>
  <div class="sprk-o-Flag__body">
    <p>Lorem ipsum dolor. Sit amet pede. Tempus donec et. Suspendisse id inventore integer eum non enim diam habitant.
      Maecenas nunc per lacus neque egestas. Diam quod curabitur. Porttitor vel est id massa posuere tortor fringilla
      est. At ac duis eu laoreet ipsum sed integer ultricies arcu nullam velit. Aliquam nunc turpis. Mauris a illum ut
      at interdum diam ante auctor. Aliquet odio proin velit nulla turpis. Duis consectetuer arcu egestas proin id
      donec sagittis blandit. Faucibus curabitur proin purus phasellus amet. Laoreet dapibus in quis sed ut. Erat elit
      parturient.</p>
  </div>
</div>
