---
name: Flag Object
description: The Flag object is similar to the Media object.
  Use it any time you have an image or other media and text next
  to each other and you need to vertically align the text.
  The additional "stacked" modifier class
  makes the elements stack at smaller viewports.
order: 5
---

<div class="sprk-o-Flag sprk-o-Flag--stacked">
  <div class="sprk-o-Flag__figure">
    <img alt="Provide useful alternative text" src="../../assets/toolkit/images/dog.jpg" />
  </div>
  <div class="sprk-o-Flag__body">
    <p>
      Lorem ipsum dolor. Sit amet pede. Tempus donec et.
      Suspendisse id inventore integer eum non enim diam habitant.
      Maecenas nunc per lacus neque egestas.
       Diam quod curabitur. Porttitor vel est id massa posuere tortor fringilla
      est.
    </p>
  </div>
</div>
