---
name: Four-Up Layout Object
order: 6
---

<div class="sprk-o-FourUp">
  <div class="sprk-o-FourUp__item"></div>
  <div class="sprk-o-FourUp__item"></div>
  <div class="sprk-o-FourUp__item"></div>
  <div class="sprk-o-FourUp__item"></div>
</div>
