---
name: Side By Side Layout Object
notes: This layout object is intended for keeping elements side-by-side. If you need it to stack at a specific breakpoint,
  you'll need to add an override class. You can also split the
restrictions:
  - You can use between two and six items in this object.
order: 4
---

<div class="sprk-o-SideBySide">
  <div class="sprk-o-SideBySide__item"></div>
  <div class="sprk-o-SideBySide__item"></div>
</div>
