---
name: Six-Up Layout Object
order: 8
---

<div class="sprk-o-SixUp">
  <div class="sprk-o-SixUp__item"></div>
  <div class="sprk-o-SixUp__item"></div>
  <div class="sprk-o-SixUp__item"></div>
  <div class="sprk-o-SixUp__item"></div>
  <div class="sprk-o-SixUp__item"></div>
  <div class="sprk-o-SixUp__item"></div>
</div>
