---
name: Stack Object With Split
description: The Stack object can have an additional modifier class to
             align the items side by side at a given breakpoint. The items
             stack until they hit the specified breakpoint. The available breakpoints
             are xs, s, m, l, and xl.
order: 7
---
<div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@s">
  <div class="sprk-o-Stack__item">
    <button class="sprk-c-Button">Button 1</button>
  </div>

  <div class="sprk-o-Stack__item">
    <button class="sprk-c-Button">Button 2</button>
  </div>
</div>
