---
name: Stack-Split Object
notes: The Stack Split pattern is used for keeping items stacked until theres enough room for them to be
  side by side.
order: 6
---
<div class="StackSplit">
  <div class="StackSplit__item"><button class="sprk-c-Button">Button</button></div>
  <div class="StackSplit__item"><a class="sprk-b-Link" href="#nogo">Link</a></div>
</div>
