---
name: Stack-Split Object
description: The Stack Split pattern is used for keeping items stacked until there's enough room for them to be
  side by side.
order: 6
---
<div class="sprk-o-StackSplit">
  <div class="sprk-o-StackSplit__item"><button class="sprk-c-Button">Button</button></div>
  <div class="sprk-o-StackSplit__item"><a class="sprk-b-Link" href="#nogo">Link</a></div>
</div>
