---
name: Stack Object
description: The Stack object lays items out in a column.
             There are spacing modifier classes (tiny, small, medium, large and huge)
             available to add space between
             the items.
order: 6
---
<div class="sprk-o-Stack sprk-o-Stack--medium">
  <div class="sprk-o-Stack__item">
    <button class="sprk-c-Button">Button 1</button>
  </div>

  <div class="sprk-o-Stack__item">
    <button class="sprk-c-Button">Button 2</button>
  </div>
</div>
