---
name: Three-Up Layout Object
order: 5
---

<div class="sprk-o-ThreeUp">
  <div class="sprk-o-ThreeUp__item"></div>
  <div class="sprk-o-ThreeUp__item"></div>
  <div class="sprk-o-ThreeUp__item"></div>
</div>
